Repository ionic-team/ionic-framework, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sean-perkins, @amandaejohnston, @liamdebeasi

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Frameworks

## Angular

/angular/ @sean-perkins
/packages/angular-server @sean-perkins
/angular/test

## React

/packages/react/ @amandaejohnston
/packages/react-router @amandaejohnston
/packages/react/test-app/
/packages/react-router/test-app/

## Vue

/packages/vue/ @liamdebeasi
/packages/vue-router/ @liamdebeasi
/packages/vue/test/
/packages/vue-router/__tests__

# Components

/core/src/components/accordion/ @liamdebeasi
/core/src/components/accordion-group/ @liamdebeasi

/core/src/components/datetime/ @liamdebeasi @amandaejohnston @sean-perkins
/core/src/components/datetime-button/ @liamdebeasi

/core/src/components/menu/ @amandaejohnston
/core/src/components/menu-toggle/ @amandaejohnston

/core/src/components/nav/ @sean-perkins
/core/src/components/nav-link/ @sean-perkins

/core/src/components/picker-internal/ @liamdebeasi
/core/src/components/picker-column-internal/ @liamdebeasi

/core/src/components/refresher/ @liamdebeasi
/core/src/components/refresher-content/ @liamdebeasi

# Utilities

/core/src/utils/animation/ @liamdebeasi
/core/src/utils/content/ @sean-perkins
/core/src/utils/gesture/ @liamdebeasi
/core/src/utils/input-shims/ @liamdebeasi
/core/src/utils/keyboard/ @liamdebeasi
/core/src/utils/logging/ @amandaejohnston
/core/src/utils/sanitization/ @liamdebeasi
/core/src/utils/tap-click/ @liamdebeasi
/core/src/utils/transition/ @liamdebeasi

chore(ci): add stencil v4-next workflow (#27598)
  .github/workflows/actions/build-core-stencil-prerelease/action.yml
  .github/workflows/stencil-v4.yml
Owners: none

fix(refresher): scrolling is reset with non-native refresher
  core/src/components/refresher/refresher.tsx
Owners: @liamdebeasi

chore(ci): use correct tag for stencil v4
  .github/workflows/stencil-v4.yml
Owners: none

chore(ci): use correct tag for stencil v4 (#27604)
  .github/workflows/stencil-v4.yml
Owners: none

clarify test titles
  core/src/components/item-sliding/test/async/item-sliding.e2e.ts
Owners: none

fix(item-sliding): refresh sliding behavior when options are added or removed asynchronously (#27572)
  core/src/components/item-sliding/item-sliding.tsx
  core/src/components/item-sliding/test/async/index.html
  core/src/components/item-sliding/test/async/item-sliding.e2e.ts
Owners: none

chore(): add updated snapshots
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-wheel-md-ltr-Mobile-Firefox-linux.png
Owners: @liamdebeasi, @amandaejohnston, @sean-perkins

correctly clean up inline transition styles
  core/src/components/refresher/refresher.tsx
Owners: @liamdebeasi

test
  core/src/components/refresher/refresher.tsx
Owners: @liamdebeasi

Update refresher.tsx
  core/src/components/refresher/refresher.tsx
Owners: @liamdebeasi

feat(datetime): add shadow parts and CSS variables for styling wheel pickers (#27529)
  core/api.txt
  core/src/components/datetime/datetime.scss
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/custom/datetime.e2e.ts
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-time-button-active-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-time-button-active-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-time-button-active-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-time-button-active-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-time-button-active-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-time-button-active-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-time-button-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-time-button-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-time-button-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-time-button-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-time-button-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-time-button-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-time-picker-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-time-picker-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-time-picker-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-time-picker-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-time-picker-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-time-picker-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-wheel-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-wheel-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-wheel-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-wheel-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-wheel-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-wheel-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/index.html
  core/src/components/picker-column-internal/picker-column-internal.tsx
  core/src/components/picker-internal/picker-internal.ios.scss
  core/src/components/picker-internal/picker-internal.md.scss
  core/src/components/picker-internal/picker-internal.scss
  core/src/components/picker-internal/picker-internal.vars.scss
Owners: @liamdebeasi, @amandaejohnston, @sean-perkins

Revert "fix(select): prevent click event from firing twice (#27570)"
  core/src/components/select/select.scss
  core/src/components/select/test/basic/index.html
Owners: none

Revert "fix(select): prevent click event from firing twice" (#27609)
  core/src/components/select/select.scss
  core/src/components/select/test/basic/index.html
Owners: none

chore(dev-deps): update react output target
  core/package-lock.json
  core/package.json
Owners: none

test(react): onDoubleClick binding
  packages/react/test/apps/react17/package.json
  packages/react/test/apps/react18/package.json
  packages/react/test/base/src/OutputTarget.test.tsx
  packages/react/test/base/src/setupTests.ts
Owners: @amandaejohnston

fix(angular): tabs supports conditional slot bindings (#27582)
  angular/src/directives/navigation/ion-tabs.ts
  angular/test/base/e2e/src/tabs.spec.ts
  angular/test/base/src/app/app-routing.module.ts
  angular/test/base/src/app/tabs-slots.component.ts
Owners: @sean-perkins

v7.0.11-nightly.20230607
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Owners: @sean-perkins, @amandaejohnston, @liamdebeasi

v7.0.11
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Owners: @sean-perkins, @amandaejohnston, @liamdebeasi

chore(): update package lock files
  angular/package-lock.json
  packages/angular-server/package-lock.json
  packages/react-router/package-lock.json
  packages/react/package-lock.json
  packages/vue-router/package-lock.json
  packages/vue/package-lock.json
Owners: @sean-perkins, @amandaejohnston, @liamdebeasi

chore: clean up changelog
  CHANGELOG.md
  angular/CHANGELOG.md
Owners: @sean-perkins

merge release-7.0.11 (#27615)
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Owners: @sean-perkins, @amandaejohnston, @liamdebeasi

test(back-button): remove unneeded navigation test (#27590)
  core/src/components/back-button/test/navigation/index.html
Owners: none

test(segment): undo skip for keyboard navigable (#27574)
  core/src/components/segment/test/a11y/segment.e2e.ts
Owners: none

feat(datetime): add part for month/year button
  core/src/components/datetime/datetime.md.scss
  core/src/components/datetime/datetime.tsx
Owners: @liamdebeasi, @amandaejohnston, @sean-perkins

run build
  core/api.txt
Owners: none

chore(): add updated snapshots
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Safari-linux.png
Owners: @liamdebeasi, @amandaejohnston, @sean-perkins

fix(refresher): scroll styles are reset when using non-native refresher (#27602)
  core/src/components/refresher/refresher.tsx
Owners: @liamdebeasi

fix(refresher): scroll styles are reset when using non-native refresher (#27602)
  core/src/components/refresher/refresher.tsx
Owners: @liamdebeasi

v7.0.12-nightly.20230608
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Owners: @sean-perkins, @amandaejohnston, @liamdebeasi

fix(refresher): scroll styles are reset when using non-native refresher (#27619)
  core/src/components/refresher/refresher.tsx
Owners: @liamdebeasi

v6.7.5
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Owners: @sean-perkins, @amandaejohnston, @liamdebeasi

chore(): update package lock files
  angular/package-lock.json
  packages/angular-server/package-lock.json
  packages/react-router/package-lock.json
  packages/react/package-lock.json
  packages/vue-router/package-lock.json
  packages/vue/package-lock.json
Owners: @sean-perkins, @amandaejohnston, @liamdebeasi

v7.0.12
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Owners: @sean-perkins, @amandaejohnston, @liamdebeasi

chore(): update package lock files
  angular/package-lock.json
  packages/angular-server/package-lock.json
  packages/react-router/package-lock.json
  packages/react/package-lock.json
  packages/vue-router/package-lock.json
  packages/vue/package-lock.json
Owners: @sean-perkins, @amandaejohnston, @liamdebeasi

fix(react): onDoubleClick fires on components (#27611)
  core/package-lock.json
  core/package.json
  packages/react/src/components/react-component-lib/utils/attachProps.ts
  packages/react/test/apps/react17/package.json
  packages/react/test/apps/react18/package.json
  packages/react/test/base/src/OutputTarget.test.tsx
  packages/react/test/base/src/setupTests.ts
Owners: @amandaejohnston

fix part description
  core/src/components/datetime/datetime.tsx
Owners: @liamdebeasi, @amandaejohnston, @sean-perkins

feat(datetime): add part for month/year button (#27618)
  core/api.txt
  core/src/components/datetime/datetime.md.scss
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Safari-linux.png
Owners: @liamdebeasi, @amandaejohnston, @sean-perkins

v7.0.13-nightly.20230609
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Owners: @sean-perkins, @amandaejohnston, @liamdebeasi

poc using animations with any lib
  core/src/components/alert/test/trigger/index.html
  core/src/components/modal/animations/ios.leave.ts
  core/src/utils/animation/animation-interface.ts
  core/src/utils/overlays.ts
Owners: @liamdebeasi

fix(popover): popover opens on chrome 109
  angular/src/providers/angular-delegate.ts
  angular/src/providers/modal-controller.ts
  angular/src/providers/popover-controller.ts
  core/src/components/modal/modal.tsx
  core/src/components/popover/popover.tsx
  packages/vue/src/framework-delegate.ts
Owners: @sean-perkins, @liamdebeasi
