Repository ionic-team/ionic-framework, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sean-perkins, @amandaejohnston, @liamdebeasi

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Frameworks

## Angular

/angular/ @sean-perkins
/packages/angular-server @sean-perkins
/angular/test

## React

/packages/react/ @amandaejohnston
/packages/react-router @amandaejohnston
/packages/react/test-app/
/packages/react-router/test-app/

## Vue

/packages/vue/ @liamdebeasi
/packages/vue-router/ @liamdebeasi
/packages/vue/test/
/packages/vue-router/__tests__

# Components

/core/src/components/accordion/ @liamdebeasi
/core/src/components/accordion-group/ @liamdebeasi

/core/src/components/datetime/ @liamdebeasi @amandaejohnston @sean-perkins
/core/src/components/datetime-button/ @liamdebeasi

/core/src/components/menu/ @amandaejohnston
/core/src/components/menu-toggle/ @amandaejohnston

/core/src/components/nav/ @sean-perkins
/core/src/components/nav-link/ @sean-perkins

/core/src/components/picker-internal/ @liamdebeasi
/core/src/components/picker-column-internal/ @liamdebeasi

/core/src/components/refresher/ @liamdebeasi
/core/src/components/refresher-content/ @liamdebeasi

# Utilities

/core/src/utils/animation/ @liamdebeasi
/core/src/utils/content/ @sean-perkins
/core/src/utils/gesture/ @liamdebeasi
/core/src/utils/input-shims/ @liamdebeasi
/core/src/utils/keyboard/ @liamdebeasi
/core/src/utils/logging/ @amandaejohnston
/core/src/utils/sanitization/ @liamdebeasi
/core/src/utils/tap-click/ @liamdebeasi
/core/src/utils/transition/ @liamdebeasi

fix: address whitespace issue with textarea
  core/src/components/textarea/textarea.scss
Owners: none

chore(): add updated snapshots
  core/src/components/textarea/test/autogrow/textarea.e2e.ts-snapshots/textarea-autogrow-word-break-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/autogrow/textarea.e2e.ts-snapshots/textarea-autogrow-word-break-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/autogrow/textarea.e2e.ts-snapshots/textarea-autogrow-word-break-ios-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/autogrow/textarea.e2e.ts-snapshots/textarea-autogrow-word-break-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/autogrow/textarea.e2e.ts-snapshots/textarea-autogrow-word-break-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/autogrow/textarea.e2e.ts-snapshots/textarea-autogrow-word-break-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/fill/textarea.e2e.ts-snapshots/textarea-fill-solid-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/fill/textarea.e2e.ts-snapshots/textarea-fill-solid-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/fill/textarea.e2e.ts-snapshots/textarea-fill-solid-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/fill/textarea.e2e.ts-snapshots/textarea-fill-solid-md-rtl-Mobile-Chrome-linux.png
  core/src/components/textarea/test/fill/textarea.e2e.ts-snapshots/textarea-fill-solid-md-rtl-Mobile-Firefox-linux.png
  core/src/components/textarea/test/fill/textarea.e2e.ts-snapshots/textarea-fill-solid-md-rtl-Mobile-Safari-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-label-slot-truncate-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-label-slot-truncate-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-label-slot-truncate-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-label-truncate-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-label-truncate-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-label-truncate-md-ltr-Mobile-Safari-linux.png
Owners: none

fix(datetime): remove horizontal margin in favor of justify-items
  core/src/components/datetime/datetime.ios.scss
  core/src/components/datetime/datetime.md.scss
  core/src/components/datetime/datetime.scss
Owners: @liamdebeasi, @amandaejohnston, @sean-perkins

add props
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/select/select.md.scss
  core/src/components/select/select.tsx
  packages/vue/src/proxies.ts
Owners: @sean-perkins, @liamdebeasi

add tests
  core/src/components/select/test/toggle-icon/index.html
  core/src/components/select/test/toggle-icon/select.e2e.ts
Owners: none

lint
  core/src/components/select/select.tsx
  core/src/components/select/test/toggle-icon/index.html
Owners: none

chore(): add updated snapshots
  core/src/components/select/test/toggle-icon/select.e2e.ts-snapshots/select-toggle-icon-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/toggle-icon/select.e2e.ts-snapshots/select-toggle-icon-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/toggle-icon/select.e2e.ts-snapshots/select-toggle-icon-md-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/toggle-icon/select.e2e.ts-snapshots/select-toggle-icon-when-open-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/toggle-icon/select.e2e.ts-snapshots/select-toggle-icon-when-open-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/toggle-icon/select.e2e.ts-snapshots/select-toggle-icon-when-open-md-ltr-Mobile-Safari-linux.png
Owners: none

fix: notch cutout is hidden with no label
  core/src/components/input/input.scss
  core/src/components/input/input.tsx
Owners: none

fix(datetime): update margins to match main
  core/src/components/datetime/datetime.ios.scss
  core/src/components/datetime/datetime.md.scss
Owners: @liamdebeasi, @amandaejohnston, @sean-perkins

fix: re-render when slotted content is removed
  core/src/utils/slot-mutation-controller.ts
Owners: none

add test
  core/src/components/input/test/fill/input.e2e.ts
Owners: none

fix: hide notch with no label
  core/src/components/textarea/test/fill/textarea.e2e.ts
  core/src/components/textarea/textarea.scss
  core/src/components/textarea/textarea.tsx
Owners: none

lint
  core/src/components/textarea/textarea.tsx
Owners: none

add failing test
  core/src/components/select/test/fill/select.e2e.ts
Owners: none

textarea notch cutout is hidden if no label passed
  core/src/components/select/select.scss
  core/src/components/select/select.tsx
Owners: none

remove .only
  core/src/components/textarea/test/fill/textarea.e2e.ts
Owners: none

feat(input): add workaround for dynamic slot content (#27636)
  core/src/components/input/input.scss
  core/src/components/input/input.tsx
  core/src/components/input/test/fill/input.e2e.ts
  core/src/components/input/test/label-placement/input.e2e.ts
  core/src/components/input/test/label-placement/input.e2e.ts-snapshots/input-async-label-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/label-placement/input.e2e.ts-snapshots/input-async-label-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/label-placement/input.e2e.ts-snapshots/input-async-label-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/slot/index.html
  core/src/utils/slot-mutation-controller.ts
Owners: none

chore(global): remove unused context references (#27634)
  core/src/global/ionic-global.ts
Owners: none

fix(datetime): mock today's date to make sure parts work properly
  core/src/components/datetime/test/color/index.html
Owners: @liamdebeasi, @amandaejohnston, @sean-perkins

chore(): add updated snapshots
  core/src/components/datetime/test/color/datetime.e2e.ts-snapshots/datetime-custom-css-parts-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/color/datetime.e2e.ts-snapshots/datetime-custom-css-parts-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/color/datetime.e2e.ts-snapshots/datetime-custom-css-parts-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/color/datetime.e2e.ts-snapshots/datetime-custom-css-parts-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/color/datetime.e2e.ts-snapshots/datetime-custom-css-parts-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/color/datetime.e2e.ts-snapshots/datetime-custom-css-parts-md-ltr-Mobile-Safari-linux.png
Owners: @liamdebeasi, @amandaejohnston, @sean-perkins

style: lint fixes
  core/src/components/datetime/test/color/index.html
Owners: @liamdebeasi, @amandaejohnston, @sean-perkins

fix(toast): allow color for translucent toast
  core/src/components/toast/test/basic/index.html
  core/src/components/toast/test/basic/toast.e2e.ts
  core/src/components/toast/toast.ios.scss
Owners: none

chore(): add updated snapshots
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-bottom-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-bottom-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-bottom-md-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-bottom-md-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-bottom-md-ltr-Mobile-Safari-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-middle-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-middle-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-middle-md-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-middle-md-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-middle-md-ltr-Mobile-Safari-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-top-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-top-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-top-md-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-top-md-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-top-md-ltr-Mobile-Safari-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-translucent-color-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-translucent-color-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-translucent-color-ios-ltr-Mobile-Safari-linux.png
Owners: none

v7.0.14-nightly.20230615
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Owners: @sean-perkins, @amandaejohnston, @liamdebeasi

fix(select): hide notch cutout if no visible label provided (#27649)
  core/src/components/select/select.scss
  core/src/components/select/select.tsx
  core/src/components/select/test/fill/select.e2e.ts
Owners: none

Update core/src/components/textarea/test/label-placement/textarea.e2e.ts
  core/src/components/textarea/test/label-placement/textarea.e2e.ts
Owners: none

Update core/src/components/textarea/test/label-placement/textarea.e2e.ts
  core/src/components/textarea/test/label-placement/textarea.e2e.ts
Owners: none

Address PR feedback
  core/src/components/toast/test/basic/toast.e2e.ts
  core/src/components/toast/toast.ios.scss
Owners: none

test: add failing test
  core/src/utils/keyboard/test/keyboard.spec.ts
Owners: @liamdebeasi

fix: correctly check for keyboard engine
  core/src/utils/keyboard/keyboard.ts
Owners: @liamdebeasi

lint
  core/src/utils/keyboard/keyboard.ts
Owners: @liamdebeasi

Update keyboard.spec.ts
  core/src/utils/keyboard/test/keyboard.spec.ts
Owners: @liamdebeasi

remove extra npm install
  .github/workflows/actions/publish-npm/action.yml
Owners: none

check version
  .github/workflows/actions/publish-npm/action.yml
Owners: none

fix(toast): allow color for translucent toast (#27652)
  core/src/components/toast/test/basic/index.html
  core/src/components/toast/test/basic/toast.e2e.ts
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-bottom-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-bottom-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-bottom-md-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-bottom-md-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-bottom-md-ltr-Mobile-Safari-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-middle-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-middle-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-middle-md-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-middle-md-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-middle-md-ltr-Mobile-Safari-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-top-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-top-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-top-md-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-top-md-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-top-md-ltr-Mobile-Safari-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-translucent-color-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-translucent-color-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/basic/toast.e2e.ts-snapshots/toast-translucent-color-ios-ltr-Mobile-Safari-linux.png
  core/src/components/toast/toast.ios.scss
Owners: none

chdck
  .github/workflows/actions/publish-npm/action.yml
Owners: none

test
  .github/workflows/actions/publish-npm/action.yml
Owners: none

test
  .github/workflows/actions/publish-npm/action.yml
Owners: none

install deps correctly
  .github/workflows/actions/publish-npm/action.yml
Owners: none

install lerna 5
  .github/workflows/actions/publish-npm/action.yml
Owners: none
