Repository ionic-team/ionic-framework, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sean-perkins, @amandaejohnston, @liamdebeasi

use local verison
  .github/workflows/actions/publish-npm/action.yml
Owners: none

ensure local version is used
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Owners: none

revert install change
  .github/workflows/actions/publish-npm/action.yml
Owners: none

install deps
  .github/workflows/actions/publish-npm/action.yml
Owners: none

fix(keyboard): keyboard events emit correctly when Capacitor is available but the Keyboard plugin is not (#27655)
  core/src/utils/keyboard/keyboard.ts
  core/src/utils/keyboard/test/keyboard.spec.ts
Owners: @liamdebeasi

Update nightly.yml
  .github/workflows/nightly.yml
Owners: none

Update release.yml
  .github/workflows/release.yml
Owners: none

chore(ci): use local version of lerna (#27656)
  .github/workflows/actions/publish-npm/action.yml
Owners: none

v7.0.14
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Owners: @sean-perkins, @amandaejohnston, @liamdebeasi

chore(): update package lock files
  angular/package-lock.json
  packages/angular-server/package-lock.json
  packages/react-router/package-lock.json
  packages/react/package-lock.json
  packages/vue-router/package-lock.json
  packages/vue/package-lock.json
Owners: @sean-perkins, @amandaejohnston, @liamdebeasi

fix experimental docs
  core/src/components.d.ts
  core/src/components/textarea/textarea.tsx
Owners: none

fix experimental documentation
  core/src/components.d.ts
  core/src/components/input/input.tsx
Owners: none

Update core/src/components/input/test/label-placement/input.e2e.ts
  core/src/components/input/test/label-placement/input.e2e.ts
Owners: none

Update core/src/components/input/test/label-placement/input.e2e.ts
  core/src/components/input/test/label-placement/input.e2e.ts
Owners: none

Update core/src/components/input/test/input.spec.ts
  core/src/components/input/test/input.spec.ts
Owners: none

Update core/src/components/input/test/input.spec.ts
  core/src/components/input/test/input.spec.ts
Owners: none

Update input.spec.ts
  core/src/components/input/test/input.spec.ts
Owners: none

add type
  core/src/components/select/select.tsx
Owners: none

feat(textarea): support notch cut out
  core/src/components/textarea/textarea.md.outline.scss
  core/src/components/textarea/textarea.tsx
  core/src/utils/forms/notch-controller.ts
Owners: none

add tests
  core/src/components/textarea/test/fill/textarea.e2e.ts
Owners: none

add tests
  core/src/components/textarea/test/fill/textarea.e2e.ts
  core/src/components/textarea/test/label-placement/textarea.e2e.ts
  core/src/components/textarea/test/slot/index.html
Owners: none

feat(textarea): support dynamic slots
  core/src/components/textarea/textarea.tsx
Owners: none

revert
  core/src/components/textarea/test/fill/textarea.e2e.ts
Owners: none

chore(): add updated snapshots
  core/src/components/textarea/test/fill/textarea.e2e.ts-snapshots/textarea-fill-outline-hidden-slotted-label-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/fill/textarea.e2e.ts-snapshots/textarea-fill-outline-hidden-slotted-label-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/fill/textarea.e2e.ts-snapshots/textarea-fill-outline-hidden-slotted-label-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/fill/textarea.e2e.ts-snapshots/textarea-fill-outline-slotted-label-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/fill/textarea.e2e.ts-snapshots/textarea-fill-outline-slotted-label-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/fill/textarea.e2e.ts-snapshots/textarea-fill-outline-slotted-label-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-async-label-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-async-label-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-async-label-md-ltr-Mobile-Safari-linux.png
Owners: none

test(button): add tests to verify wrapping
  core/src/components/button/test/wrap/button.e2e.ts
Owners: none

fix(button): text wraps
  core/src/components/button/button.ios.scss
  core/src/components/button/button.ios.vars.scss
  core/src/components/button/button.md.scss
  core/src/components/button/button.md.vars.scss
  core/src/components/button/button.scss
Owners: none

fix(button): button inner inherits min-height
  core/src/components/button/button.scss
Owners: none

fix(button): update min-height
  core/src/components/buttons/buttons.ios.scss
  core/src/components/buttons/buttons.md.scss
  core/src/components/item/item.ios.scss
  core/src/components/item/item.md.scss
  core/src/components/list-header/list-header.ios.scss
Owners: none

fix(button): button native uses flex to center
  core/src/components/button/button.scss
Owners: none

fix(button): button inner does not inherit min-height
  core/src/components/button/button.scss
Owners: none

fix(button): avoid chrome quirk
  core/src/components/item/item.md.scss
Owners: none

:woozy_face:
  core/src/components/item/item.md.scss
Owners: none

fix(datetime): size is correct on ios
  core/src/components/datetime/datetime.ios.scss
  core/src/components/datetime/datetime.scss
Owners: @liamdebeasi, @amandaejohnston, @sean-perkins

v7.0.15-nightly.20230616
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Owners: @sean-perkins, @amandaejohnston, @liamdebeasi

Add alt implementation
  core/src/components/datetime/datetime.ios.scss
  core/src/components/datetime/datetime.scss
  core/src/components/datetime/datetime.tsx
Owners: @liamdebeasi, @amandaejohnston, @sean-perkins

Fix tests
  core/src/components/datetime/test/disable-dates/datetime.e2e.ts
  core/src/components/datetime/test/locale/datetime.e2e.ts
  core/src/components/datetime/test/set-value/datetime.e2e.ts
  core/src/components/datetime/test/values/datetime.e2e.ts
Owners: @liamdebeasi, @amandaejohnston, @sean-perkins

hide text
  core/src/components/datetime/datetime.tsx
Owners: @liamdebeasi, @amandaejohnston, @sean-perkins

run build
  core/api.txt
Owners: none

one more fix
  core/src/components/datetime/test/basic/datetime.e2e.ts
Owners: @liamdebeasi, @amandaejohnston, @sean-perkins

fix another test
  core/src/components/datetime/test/basic/datetime.e2e.ts
Owners: @liamdebeasi, @amandaejohnston, @sean-perkins

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Frameworks

## Angular

/angular/ @sean-perkins
/packages/angular-server @sean-perkins
/angular/test

## React

/packages/react/ @amandaejohnston
/packages/react-router @amandaejohnston
/packages/react/test-app/
/packages/react-router/test-app/

## Vue

/packages/vue/ @liamdebeasi
/packages/vue-router/ @liamdebeasi
/packages/vue/test/
/packages/vue-router/__tests__

# Components

/core/src/components/accordion/ @liamdebeasi
/core/src/components/accordion-group/ @liamdebeasi

/core/src/components/datetime/ @liamdebeasi @amandaejohnston @sean-perkins
/core/src/components/datetime-button/ @liamdebeasi

/core/src/components/menu/ @amandaejohnston
/core/src/components/menu-toggle/ @amandaejohnston

/core/src/components/nav/ @sean-perkins
/core/src/components/nav-link/ @sean-perkins

/core/src/components/picker-internal/ @liamdebeasi
/core/src/components/picker-column-internal/ @liamdebeasi

/core/src/components/refresher/ @liamdebeasi
/core/src/components/refresher-content/ @liamdebeasi

# Utilities

/core/src/utils/animation/ @liamdebeasi
/core/src/utils/content/ @sean-perkins
/core/src/utils/gesture/ @liamdebeasi
/core/src/utils/input-shims/ @liamdebeasi
/core/src/utils/keyboard/ @liamdebeasi
/core/src/utils/logging/ @amandaejohnston
/core/src/utils/sanitization/ @liamdebeasi
/core/src/utils/tap-click/ @liamdebeasi
/core/src/utils/transition/ @liamdebeasi
