Repository ionic-team/ionic-framework, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sean-perkins, @amandaejohnston, @liamdebeasi

fix(textarea): autogrow resizes correctly (#27691)
  core/src/components/textarea/test/autogrow/textarea.e2e.ts
  core/src/components/textarea/test/legacy/autogrow/textarea.e2e.ts
  core/src/components/textarea/test/legacy/autogrow/textarea.e2e.ts-snapshots/textarea-autogrow-after-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/legacy/autogrow/textarea.e2e.ts-snapshots/textarea-autogrow-after-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/legacy/autogrow/textarea.e2e.ts-snapshots/textarea-autogrow-after-ios-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/legacy/autogrow/textarea.e2e.ts-snapshots/textarea-autogrow-after-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/legacy/autogrow/textarea.e2e.ts-snapshots/textarea-autogrow-after-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/legacy/autogrow/textarea.e2e.ts-snapshots/textarea-autogrow-after-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/legacy/autogrow/textarea.e2e.ts-snapshots/textarea-autogrow-initial-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/legacy/autogrow/textarea.e2e.ts-snapshots/textarea-autogrow-initial-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/legacy/autogrow/textarea.e2e.ts-snapshots/textarea-autogrow-initial-ios-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/legacy/autogrow/textarea.e2e.ts-snapshots/textarea-autogrow-initial-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/legacy/autogrow/textarea.e2e.ts-snapshots/textarea-autogrow-initial-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/legacy/autogrow/textarea.e2e.ts-snapshots/textarea-autogrow-initial-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/legacy/autogrow/textarea.e2e.ts-snapshots/textarea-autogrow-word-break-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/legacy/autogrow/textarea.e2e.ts-snapshots/textarea-autogrow-word-break-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/legacy/autogrow/textarea.e2e.ts-snapshots/textarea-autogrow-word-break-ios-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/legacy/autogrow/textarea.e2e.ts-snapshots/textarea-autogrow-word-break-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/legacy/autogrow/textarea.e2e.ts-snapshots/textarea-autogrow-word-break-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/legacy/autogrow/textarea.e2e.ts-snapshots/textarea-autogrow-word-break-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/textarea.scss
Owners: none

chore: use forward rule to get global files
  core/src/components/chip/chip.scss
  core/src/themes-migrated/globals.scss
Owners: none

test(item-sliding): update visual regressions
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts
  core/src/components/item-sliding/test/icons/item-sliding.e2e.ts
  core/src/components/item-sliding/test/test.utils.ts
Owners: none

fix(modalSheet): change gesture to allow draging when content scrolled to the top
  core/src/components/modal/gestures/sheet.ts
  core/src/components/modal/modal.tsx
Owners: none

v7.1.1-nightly.20230626
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Owners: @sean-perkins, @amandaejohnston, @liamdebeasi

v7.1.1
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Owners: @sean-perkins, @amandaejohnston, @liamdebeasi

chore(): update package lock files
  angular/package-lock.json
  packages/angular-server/package-lock.json
  packages/react-router/package-lock.json
  packages/react/package-lock.json
  packages/vue-router/package-lock.json
  packages/vue/package-lock.json
Owners: @sean-perkins, @amandaejohnston, @liamdebeasi

test(item-sliding): update visual regressions (#27695)
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts
  core/src/components/item-sliding/test/icons/item-sliding.e2e.ts
  core/src/components/item-sliding/test/test.utils.ts
Owners: none

v7.1.2-nightly.20230627
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Owners: @sean-perkins, @amandaejohnston, @liamdebeasi

chore(ci): remove stencil v4 nightly workflow
  .github/workflows/stencil-v4.yml
Owners: none

dcos(input, textarea): clarify ionInput and ionChange
  angular/src/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/input/input.tsx
  core/src/components/textarea/textarea.tsx
Owners: @sean-perkins

chore(ci): remove stencil v4 nightly workflow (#27708)
  .github/workflows/stencil-v4.yml
Owners: none

chore(ci): restore npm package provenance
  .github/workflows/actions/publish-npm/action.yml
Owners: none

chore(ci): restore npm package provenance (#27711)
  .github/workflows/actions/publish-npm/action.yml
Owners: none

test(popover): re-enable size (#27686)
  core/src/components/popover/test/size/popover.e2e.ts
  core/src/components/popover/test/size/popover.e2e.ts-snapshots/popover-size-no-event-trigger-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/popover/test/size/popover.e2e.ts-snapshots/popover-size-no-event-trigger-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/popover/test/size/popover.e2e.ts-snapshots/popover-size-no-event-trigger-ios-ltr-Mobile-Safari-linux.png
Owners: none

fix: watch callback fires only if component did load
  core/src/components/nav/nav.tsx
Owners: @sean-perkins

test(angular): test that rootParams are assigned when presented in modal
  angular/test/base/e2e/src/modal-nav.spec.ts
  angular/test/base/src/app/app-routing.module.ts
  angular/test/base/src/app/app.module.ts
  angular/test/base/src/app/modal-nav/modal-nav.component.ts
Owners: none

fix(button): icon size is correct on MD
  core/src/components/button/button.scss
Owners: none

fix(button): resolve sizing issues on safari
  core/src/components/button/button.scss
Owners: none

fix(button): icons are aligned in small buttons
  core/src/components/button/button.scss
Owners: none

Revert "fix(button): icon size is correct on MD"
  core/src/components/button/button.scss
Owners: none

Revert "fix(item): button min-height needs to be specified to a fractional amount"
  core/src/components/item/item.md.scss
Owners: none

fix(button): icons are aligned in small buttons
  core/src/components/button/button.scss
Owners: none

Revert "test(angular): test that rootParams are assigned when presented in modal"
  angular/test/base/e2e/src/modal-nav.spec.ts
  angular/test/base/src/app/app-routing.module.ts
  angular/test/base/src/app/app.module.ts
  angular/test/base/src/app/modal-nav/modal-nav.component.ts
Owners: none

lint
  core/src/components/button/test/wrap/index.html
  core/src/components/list-header/list-header.ios.scss
Owners: none

test(angular): test that rootParams are assigned
  angular/test/apps/ng16/e2e/src/modal-nav-params.spec.ts
  angular/test/apps/ng16/src/app/version-test/modal-nav-params/modal-nav-params.component.ts
  angular/test/apps/ng16/src/app/version-test/modal-nav-params/nav-root.component.ts
  angular/test/apps/ng16/src/app/version-test/version-test-routing.module.ts
Owners: none

chore(ci): fix npm package provenance
  .github/workflows/actions/publish-npm/action.yml
Owners: none

chore(ci): fix npm package provenance (#27712)
  .github/workflows/actions/publish-npm/action.yml
Owners: none

docs(input, textarea): clarify ionInput and ionChange (#27710)
  angular/src/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/input/input.tsx
  core/src/components/textarea/textarea.tsx
Owners: @sean-perkins

fix(nav): root component is mounted with root params (#27676)
  angular/test/apps/ng16/e2e/src/modal-nav-params.spec.ts
  angular/test/apps/ng16/src/app/version-test/modal-nav-params/modal-nav-params.component.ts
  angular/test/apps/ng16/src/app/version-test/modal-nav-params/nav-root.component.ts
  angular/test/apps/ng16/src/app/version-test/version-test-routing.module.ts
  core/src/components/nav/nav.tsx
Owners: @sean-perkins

chore: update peer and dev deps for react router v6
  packages/react-router/package-lock.json
  packages/react-router/package.json
Owners: @amandaejohnston

chore: migrate IonRouter to react-router v6
  packages/react-router/src/ReactRouter/IonRouter.tsx
Owners: @amandaejohnston

chore: migrate matchPath param order in StackManager
  packages/react-router/src/ReactRouter/StackManager.tsx
Owners: @amandaejohnston

chore: migrate matchPath param order in ReactRouterViewStack
  packages/react-router/src/ReactRouter/ReactRouterViewStack.tsx
Owners: @amandaejohnston

chore: migrate IonRouteInner to react-router v6
  packages/react-router/src/ReactRouter/IonRouteInner.tsx
Owners: @amandaejohnston

v7.1.2-nightly.20230629
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Owners: @sean-perkins, @amandaejohnston, @liamdebeasi

chore: remove IonReactHashRouter
  packages/react-router/src/ReactRouter/IonReactHashRouter.tsx
  packages/react-router/src/index.ts
Owners: @amandaejohnston

chore: remove IonReactMemoryRouter
  packages/react-router/src/ReactRouter/IonReactMemoryRouter.tsx
  packages/react-router/src/index.ts
Owners: @amandaejohnston

chore: migrate IonReactRouter to react-router v6
  packages/react-router/src/ReactRouter/IonReactRouter.tsx
Owners: @amandaejohnston

refactor(angular): move angular to packages dir
  packages/angular/test/base/scripts/build-ionic.sh
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Frameworks

## Angular

/angular/ @sean-perkins
/packages/angular-server @sean-perkins
/angular/test

## React

/packages/react/ @amandaejohnston
/packages/react-router @amandaejohnston
/packages/react/test-app/
/packages/react-router/test-app/

## Vue

/packages/vue/ @liamdebeasi
/packages/vue-router/ @liamdebeasi
/packages/vue/test/
/packages/vue-router/__tests__

# Components

/core/src/components/accordion/ @liamdebeasi
/core/src/components/accordion-group/ @liamdebeasi

/core/src/components/datetime/ @liamdebeasi @amandaejohnston @sean-perkins
/core/src/components/datetime-button/ @liamdebeasi

/core/src/components/menu/ @amandaejohnston
/core/src/components/menu-toggle/ @amandaejohnston

/core/src/components/nav/ @sean-perkins
/core/src/components/nav-link/ @sean-perkins

/core/src/components/picker-internal/ @liamdebeasi
/core/src/components/picker-column-internal/ @liamdebeasi

/core/src/components/refresher/ @liamdebeasi
/core/src/components/refresher-content/ @liamdebeasi

# Utilities

/core/src/utils/animation/ @liamdebeasi
/core/src/utils/content/ @sean-perkins
/core/src/utils/gesture/ @liamdebeasi
/core/src/utils/input-shims/ @liamdebeasi
/core/src/utils/keyboard/ @liamdebeasi
/core/src/utils/logging/ @amandaejohnston
/core/src/utils/sanitization/ @liamdebeasi
/core/src/utils/tap-click/ @liamdebeasi
/core/src/utils/transition/ @liamdebeasi
