Repository ionic-team/ionic-framework, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sean-perkins, @amandaejohnston, @liamdebeasi

chore(): add updated snapshots
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-clear-button-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-custom-buttons-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-default-buttons-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-default-clear-buttons-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime/test/color/datetime.e2e.ts-snapshots/datetime-color-dark-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/color/datetime.e2e.ts-snapshots/datetime-color-dark-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/color/datetime.e2e.ts-snapshots/datetime-color-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/color/datetime.e2e.ts-snapshots/datetime-color-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-cover-date-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-cover-date-time-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-cover-time-date-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-date-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-date-time-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-time-date-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/first-day-of-week/datetime.e2e.ts-snapshots/datetime-day-of-week-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/first-day-of-week/datetime.e2e.ts-snapshots/datetime-day-of-week-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime/test/locale/datetime.e2e.ts-snapshots/datetime-locale-en-US-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/locale/datetime.e2e.ts-snapshots/datetime-locale-es-ES-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/locale/datetime.e2e.ts-snapshots/datetime-locale-ja-JP-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/multiple/datetime.e2e.ts-snapshots/datetime-multiple-multipleDefaultValues-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime/test/multiple/datetime.e2e.ts-snapshots/datetime-multiple-singleDefaultValue-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime/test/multiple/datetime.e2e.ts-snapshots/datetime-multiple-withHeader-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/multiple/datetime.e2e.ts-snapshots/datetime-multiple-withHeader-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime/test/multiple/datetime.e2e.ts-snapshots/datetime-multiple-withHeader-ios-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/inputs/item.e2e.ts-snapshots/item-inputs-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/inputs/item.e2e.ts-snapshots/item-inputs-ios-rtl-Mobile-Firefox-linux.png
Owners: @liamdebeasi, @amandaejohnston, @sean-perkins

add center in justification for select
  core/src/components/select/select.scss
  core/src/components/select/select.tsx
Owners: none

v7.0.15-nightly.20230619
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Owners: @sean-perkins, @amandaejohnston, @liamdebeasi

v7.0.15-nightly.20230620
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Owners: @sean-perkins, @amandaejohnston, @liamdebeasi

feat(textarea): support notch cut out
  core/src/components/textarea/textarea.md.outline.scss
  core/src/components/textarea/textarea.tsx
  core/src/utils/forms/notch-controller.ts
Owners: none

add tests
  core/src/components/textarea/test/fill/textarea.e2e.ts
Owners: none

chore(): add updated snapshots
  core/src/components/textarea/test/fill/textarea.e2e.ts-snapshots/textarea-fill-outline-hidden-slotted-label-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/fill/textarea.e2e.ts-snapshots/textarea-fill-outline-hidden-slotted-label-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/fill/textarea.e2e.ts-snapshots/textarea-fill-outline-hidden-slotted-label-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/fill/textarea.e2e.ts-snapshots/textarea-fill-outline-slotted-label-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/fill/textarea.e2e.ts-snapshots/textarea-fill-outline-slotted-label-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/fill/textarea.e2e.ts-snapshots/textarea-fill-outline-slotted-label-md-ltr-Mobile-Safari-linux.png
Owners: none

chore(): add updated snapshots
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-async-label-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-async-label-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-async-label-md-ltr-Mobile-Safari-linux.png
Owners: none

add tests
  core/src/components/textarea/test/fill/textarea.e2e.ts
  core/src/components/textarea/test/label-placement/textarea.e2e.ts
  core/src/components/textarea/test/slot/index.html
Owners: none

feat(textarea): support dynamic slots
  core/src/components/textarea/textarea.tsx
Owners: none

revert
  core/src/components/textarea/test/fill/textarea.e2e.ts
Owners: none

chore(): add updated snapshots
  core/src/components/segment/test/custom/segment.e2e.ts-snapshots/segment-custom-md-ltr-Mobile-Chrome-linux.png
  core/src/components/segment/test/custom/segment.e2e.ts-snapshots/segment-custom-md-ltr-Mobile-Firefox-linux.png
  core/src/components/segment/test/custom/segment.e2e.ts-snapshots/segment-custom-md-ltr-Mobile-Safari-linux.png
Owners: none

rename toggleIconWhenOpen to expandedIcon
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/select/select.tsx
  core/src/components/select/test/toggle-icon/index.html
  core/src/components/select/test/toggle-icon/select.e2e.ts
  packages/vue/src/proxies.ts
Owners: @sean-perkins, @liamdebeasi

rename has-open-icon class to mirror new prop name
  core/src/components/select/select.md.scss
  core/src/components/select/select.tsx
Owners: none

also update prop name in tests
  core/src/components/select/test/toggle-icon/index.html
  core/src/components/select/test/toggle-icon/select.e2e.ts
Owners: none

run build
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
Owners: @sean-perkins

run lint
  core/src/components/select/select.tsx
  core/src/components/select/test/toggle-icon/index.html
Owners: none

chore(): add updated snapshots
  core/src/components/select/test/toggle-icon/select.e2e.ts-snapshots/select-expanded-icon-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/toggle-icon/select.e2e.ts-snapshots/select-expanded-icon-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/toggle-icon/select.e2e.ts-snapshots/select-expanded-icon-md-ltr-Mobile-Safari-linux.png
Owners: none

remove old screenshots
  core/src/components/select/test/toggle-icon/select.e2e.ts-snapshots/select-toggle-icon-when-open-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/toggle-icon/select.e2e.ts-snapshots/select-toggle-icon-when-open-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/toggle-icon/select.e2e.ts-snapshots/select-toggle-icon-when-open-md-ltr-Mobile-Safari-linux.png
Owners: none

fix(item): button min-height needs to be specified to a fractional amount
  core/src/components/item/item.md.scss
Owners: none

feat(select): add props to customize toggle icons (#27648)
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/select/select.md.scss
  core/src/components/select/select.tsx
  core/src/components/select/test/toggle-icon/index.html
  core/src/components/select/test/toggle-icon/select.e2e.ts
  core/src/components/select/test/toggle-icon/select.e2e.ts-snapshots/select-expanded-icon-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/toggle-icon/select.e2e.ts-snapshots/select-expanded-icon-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/toggle-icon/select.e2e.ts-snapshots/select-expanded-icon-md-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/toggle-icon/select.e2e.ts-snapshots/select-toggle-icon-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/toggle-icon/select.e2e.ts-snapshots/select-toggle-icon-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/toggle-icon/select.e2e.ts-snapshots/select-toggle-icon-md-ltr-Mobile-Safari-linux.png
  packages/vue/src/proxies.ts
Owners: @sean-perkins, @liamdebeasi

Revert "test(breadcrumbs): remove wrapping for now"
  core/src/components/breadcrumbs/test/basic/index.html
  core/src/components/breadcrumbs/test/collapsed/index.html
Owners: none

Revert "test(modal): don't wrap text in buttons"
  core/src/components/modal/test/sheet/index.html
Owners: none

fix(nav): root component is mounted with root params
  core/src/components/nav/nav.tsx
Owners: @sean-perkins

feat(textarea): support notch with label slot (#27660)
  core/src/components/textarea/test/fill/textarea.e2e.ts
  core/src/components/textarea/test/fill/textarea.e2e.ts-snapshots/textarea-fill-outline-hidden-slotted-label-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/fill/textarea.e2e.ts-snapshots/textarea-fill-outline-hidden-slotted-label-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/fill/textarea.e2e.ts-snapshots/textarea-fill-outline-hidden-slotted-label-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/fill/textarea.e2e.ts-snapshots/textarea-fill-outline-slotted-label-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/fill/textarea.e2e.ts-snapshots/textarea-fill-outline-slotted-label-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/fill/textarea.e2e.ts-snapshots/textarea-fill-outline-slotted-label-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/textarea.md.outline.scss
  core/src/components/textarea/textarea.tsx
  core/src/utils/forms/notch-controller.ts
Owners: none

feat(textarea): add workaround for dynamic slot content (#27661)
  core/src/components/textarea/test/label-placement/textarea.e2e.ts
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-async-label-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-async-label-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-async-label-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/slot/index.html
  core/src/components/textarea/textarea.tsx
Owners: none

revert(button): change back to white-space nowrap
  core/src/components/button/button.scss
Owners: none

test(alert): remove unneeded disabled rule
  core/src/components/alert/test/a11y/alert.e2e.ts
Owners: none

test(button): wrap the button text with a class for now
  core/src/components/button/test/wrap/button.e2e.ts
  core/src/components/button/test/wrap/index.html
Owners: none

v7.0.15-nightly.20230621
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Owners: @sean-perkins, @amandaejohnston, @liamdebeasi

v7.1.0
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Owners: @sean-perkins, @amandaejohnston, @liamdebeasi

chore(): update package lock files
  angular/package-lock.json
  packages/angular-server/package-lock.json
  packages/react-router/package-lock.json
  packages/react/package-lock.json
  packages/vue-router/package-lock.json
  packages/vue/package-lock.json
Owners: @sean-perkins, @amandaejohnston, @liamdebeasi

chore(): clean up changelog
  core/CHANGELOG.md
Owners: none

chore(deps): only install ionicons 7.1.0
  core/package-lock.json
  core/package.json
Owners: none

chore(deps): only install ionicons 7.1.0 (#27682)
  core/package-lock.json
  core/package.json
Owners: none

try changing bg to pure white to see if CI passes
  core/src/components/alert/alert.ios.vars.scss
Owners: none

chore: update Sass
  core/package-lock.json
  core/package.json
Owners: none

chore: duplicate themes folder
  core/src/themes-migrated/ionic.functions.color.scss
  core/src/themes-migrated/ionic.functions.string.scss
  core/src/themes-migrated/ionic.globals.ios.scss
  core/src/themes-migrated/ionic.globals.md.scss
  core/src/themes-migrated/ionic.globals.scss
  core/src/themes-migrated/ionic.mixins.scss
  core/src/themes-migrated/ionic.theme.default.ios.scss
  core/src/themes-migrated/ionic.theme.default.md.scss
  core/src/themes-migrated/ionic.theme.default.scss
Owners: none

chore(chip): migrate chip from import to use
  core/src/components/chip/chip.scss
  core/src/themes-migrated/ionic.functions.color.scss
  core/src/themes-migrated/ionic.functions.string.scss
  core/src/themes-migrated/ionic.globals.scss
  core/src/themes-migrated/ionic.mixins.scss
  core/src/themes-migrated/ionic.theme.default.scss
Owners: none

v7.1.1-nightly.20230622
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Owners: @sean-perkins, @amandaejohnston, @liamdebeasi

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Frameworks

## Angular

/angular/ @sean-perkins
/packages/angular-server @sean-perkins
/angular/test

## React

/packages/react/ @amandaejohnston
/packages/react-router @amandaejohnston
/packages/react/test-app/
/packages/react-router/test-app/

## Vue

/packages/vue/ @liamdebeasi
/packages/vue-router/ @liamdebeasi
/packages/vue/test/
/packages/vue-router/__tests__

# Components

/core/src/components/accordion/ @liamdebeasi
/core/src/components/accordion-group/ @liamdebeasi

/core/src/components/datetime/ @liamdebeasi @amandaejohnston @sean-perkins
/core/src/components/datetime-button/ @liamdebeasi

/core/src/components/menu/ @amandaejohnston
/core/src/components/menu-toggle/ @amandaejohnston

/core/src/components/nav/ @sean-perkins
/core/src/components/nav-link/ @sean-perkins

/core/src/components/picker-internal/ @liamdebeasi
/core/src/components/picker-column-internal/ @liamdebeasi

/core/src/components/refresher/ @liamdebeasi
/core/src/components/refresher-content/ @liamdebeasi

# Utilities

/core/src/utils/animation/ @liamdebeasi
/core/src/utils/content/ @sean-perkins
/core/src/utils/gesture/ @liamdebeasi
/core/src/utils/input-shims/ @liamdebeasi
/core/src/utils/keyboard/ @liamdebeasi
/core/src/utils/logging/ @amandaejohnston
/core/src/utils/sanitization/ @liamdebeasi
/core/src/utils/tap-click/ @liamdebeasi
/core/src/utils/transition/ @liamdebeasi
