Repository ionic-team/ionic-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: angular, package: react, package: vue

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

'package: core':
  - core/**/*

'package: angular':
  - packages/angular/**/*
  - packages/angular-*/**/*

'package: react':
  - packages/react/**/*
  - packages/react-*/**/*

'package: vue':
  - packages/vue/**/*
  - packages/vue-*/**/*

feat(radio): remove only from test
  core/src/components/radio/test/label-placement/radio.e2e.ts
Labels: package: core

wip
  packages/react-router/src/ReactRouter/IonRouter.tsx
  packages/react-router/src/ReactRouter/ReactRouterViewStack.tsx
  packages/react-router/src/ReactRouter/StackManager.tsx
  packages/react-router/src/ReactRouter/utils/matchPath.ts
  packages/react/src/routing/OutletPageManager.tsx
  packages/react/src/routing/PageManager.tsx
  packages/react/src/routing/RouteManagerContext.ts
  packages/react/src/routing/StackContext.tsx
  packages/react/src/routing/ViewItem.ts
  packages/react/src/routing/ViewStacks.ts
Labels: package: react

update selector
  core/src/components/textarea/test/legacy/autogrow/textarea.e2e.ts
Labels: package: core

lint
  core/src/components/input/test/label-placement/input.e2e.ts
  core/src/components/input/test/legacy/basic/input.e2e.ts
  core/src/components/select/test/highlight/select.e2e.ts
  core/src/components/select/test/label/select.e2e.ts
  core/src/components/textarea/test/bottom-content/textarea.e2e.ts
  core/src/components/textarea/test/label-placement/textarea.e2e.ts
Labels: package: core

refactor: use toHaveScreenshot
  core/src/components/checkbox/test/item/checkbox.e2e.ts
  core/src/components/checkbox/test/label/checkbox.e2e.ts
  core/src/components/radio/test/item/radio.e2e.ts
  core/src/components/radio/test/label-placement/radio.e2e.ts
  core/src/components/range/test/label/range.e2e.ts
  core/src/components/toggle/test/item/toggle.e2e.ts
  core/src/components/toggle/test/label/toggle.e2e.ts
Labels: package: core

feat(title): correct max size for ios
  core/src/components/title/title.ios.scss
Labels: package: core

revert
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Chrome-linux.png
Labels: package: core

chore(): add updated snapshots
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-default-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-default-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-default-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-large-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-large-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-large-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-small-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-small-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-small-scale-ios-ltr-Mobile-Safari-linux.png
Labels: package: core

v7.3.2-nightly.20230830
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: react, package: vue

feat(toolbar): support dynamic type (#28073)
  core/src/components/searchbar/searchbar.ios.scss
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-toolbar-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-toolbar-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-toolbar-ios-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-toolbar-md-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-toolbar-md-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-toolbar-md-ltr-Mobile-Safari-linux.png
  core/src/components/toolbar/toolbar.ios.scss
Labels: package: core

v7.3.2
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: react, package: vue

chore(): update package lock files
  packages/angular-server/package-lock.json
  packages/angular/package-lock.json
  packages/react-router/package-lock.json
  packages/react/package-lock.json
  packages/vue-router/package-lock.json
  packages/vue/package-lock.json
Labels: package: angular, package: react, package: vue

test(textarea): add screenshot tests
  core/src/components/textarea/test/cols/textarea.e2e.ts
Labels: package: core

Apply suggestions from code review
  core/src/components/modal/modal.tsx
  core/src/components/popover/popover.tsx
Labels: package: core

fix(textarea): cols property is respected
  core/src/components/textarea/textarea.scss
  core/src/components/textarea/textarea.tsx
Labels: package: core

run build
  core/api.txt
Labels: package: core

chore: remove deprecated attribute selectors
  core/src/components/label/label.ios.scss
  core/src/components/label/label.md.scss
  core/src/components/label/label.scss
Labels: package: core

test(radio): migrate to toHaveScreenshot
  core/src/components/radio/test/color/radio.e2e.ts
  core/src/components/radio/test/item/radio.e2e.ts
  core/src/components/radio/test/label-placement/radio.e2e.ts
  core/src/components/radio/test/states/radio.e2e.ts
Labels: package: core

test: migrate input to toHaveScreenshot
  core/src/components/input/test/bottom-content/input.e2e.ts
  core/src/components/input/test/card/input.e2e.ts
  core/src/components/input/test/color/input.e2e.ts
  core/src/components/input/test/fill/input.e2e.ts
  core/src/components/input/test/highlight/input.e2e.ts
  core/src/components/input/test/item/input.e2e.ts
  core/src/components/input/test/label-placement/input.e2e.ts
  core/src/components/input/test/legacy/basic/input.e2e.ts
  core/src/components/input/test/states/input.e2e.ts
Labels: package: core

test: migrate to toHaveScreenshot
  core/src/components/checkbox/test/color/checkbox.e2e.ts
  core/src/components/checkbox/test/item/checkbox.e2e.ts
  core/src/components/checkbox/test/label/checkbox.e2e.ts
  core/src/components/checkbox/test/legacy/basic/checkbox.e2e.ts
  core/src/components/checkbox/test/legacy/indeterminate/checkbox.e2e.ts
  core/src/components/checkbox/test/states/checkbox.e2e.ts
Labels: package: core

test: migrate to toHaveScreenshot
  core/src/components/toggle/test/color/toggle.e2e.ts
  core/src/components/toggle/test/item/toggle.e2e.ts
  core/src/components/toggle/test/label/toggle.e2e.ts
  core/src/components/toggle/test/legacy/enable-on-off-labels/toggle.e2e.ts
  core/src/components/toggle/test/legacy/sizes/toggle.e2e.ts
  core/src/components/toggle/test/states/toggle.e2e.ts
Labels: package: core

chore(): add updated snapshots
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-time-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-time-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-year-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-year-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-date-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-date-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-year-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-year-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/textarea/test/cols/textarea.e2e.ts-snapshots/textarea-cols-autogrow-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/cols/textarea.e2e.ts-snapshots/textarea-cols-autogrow-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/cols/textarea.e2e.ts-snapshots/textarea-cols-autogrow-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/cols/textarea.e2e.ts-snapshots/textarea-cols-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/cols/textarea.e2e.ts-snapshots/textarea-cols-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/cols/textarea.e2e.ts-snapshots/textarea-cols-md-ltr-Mobile-Safari-linux.png
Labels: package: core

test: migrate to toHaveScreenshot
  core/src/components/textarea/test/bottom-content/textarea.e2e.ts
  core/src/components/textarea/test/card/textarea.e2e.ts
  core/src/components/textarea/test/color/textarea.e2e.ts
  core/src/components/textarea/test/fill/textarea.e2e.ts
  core/src/components/textarea/test/highlight/textarea.e2e.ts
  core/src/components/textarea/test/item/textarea.e2e.ts
  core/src/components/textarea/test/label-placement/textarea.e2e.ts
  core/src/components/textarea/test/legacy/autogrow/textarea.e2e.ts
  core/src/components/textarea/test/states/textarea.e2e.ts
Labels: package: core

revert
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-time-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-time-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-year-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-year-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-date-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-date-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-year-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-year-diff-md-rtl-Mobile-Safari-linux.png
Labels: package: core

test: migrate to toHaveScreenshot
  core/src/components/select/test/card/select.e2e.ts
  core/src/components/select/test/color/select.e2e.ts
  core/src/components/select/test/fill/select.e2e.ts
  core/src/components/select/test/highlight/select.e2e.ts
  core/src/components/select/test/item/select.e2e.ts
  core/src/components/select/test/label/select.e2e.ts
  core/src/components/select/test/states/select.e2e.ts
Labels: package: core

test: migrate to toHaveScreenshot
  core/src/components/range/test/color/range.e2e.ts
  core/src/components/range/test/custom/range.e2e.ts
  core/src/components/range/test/item/range.e2e.ts
  core/src/components/range/test/label/range.e2e.ts
  core/src/components/range/test/legacy/a11y/range.e2e.ts
  core/src/components/range/test/legacy/active-bar-start/range.e2e.ts
  core/src/components/range/test/legacy/basic/range.e2e.ts
  core/src/components/range/test/states/range.e2e.ts
Labels: package: core

test(datetime): un-flake presentation test
  core/src/components/datetime/test/presentation/datetime.e2e.ts
Labels: package: core

revert
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-time-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-year-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-date-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-year-diff-md-rtl-Mobile-Safari-linux.png
Labels: package: core

Revert
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Chrome-linux.png
Labels: package: core

remove custom define function
  packages/angular/standalone/src/navigation/tabs.ts
Labels: package: angular

revert
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-time-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-year-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-date-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-year-diff-md-ltr-Mobile-Safari-linux.png
Labels: package: core

revert
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Chrome-linux.png
Labels: package: core

chore: add lint rule to block toMatchSnapshot usage
  core/custom-rules/index.js
Labels: package: core

add lint rule
  core/.eslintrc.js
  core/custom-rules/no-playwright-to-match-snapshot-assertion.js
Labels: package: core

chore: remove deprecated attribute selectors (#28082)
  core/src/components/label/label.ios.scss
  core/src/components/label/label.md.scss
  core/src/components/label/label.scss
Labels: package: core

test(datetime): remove duplicate test
  core/src/components/datetime/test/custom/datetime.e2e.ts
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Safari-linux.png
Labels: package: core

feat(title): support dynamic type (#27990)
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/header/header.ios.scss
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-initial-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/title/test/a11y/title.e2e.ts
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-default-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-default-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-default-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-default-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-default-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-default-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-large-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-large-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-large-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-small-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-small-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-small-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-small-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-small-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-small-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-characters-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-characters-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-characters-ios-ltr-Mobile-Safari-linux.png
  core/src/components/title/title.ios.scss
  core/src/components/title/title.md.scss
  core/src/components/toolbar/toolbar.ios.scss
  core/src/utils/transition/ios.transition.ts
Labels: package: core

revert
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Chrome-linux.png
Labels: package: core

update year
  core/src/components/datetime/test/presentation/datetime.e2e.ts
Labels: package: core

add event logging from lazy test back into standalone
  packages/angular/test/base/src/app/standalone/tabs/tabs.component.html
  packages/angular/test/base/src/app/standalone/tabs/tabs.component.ts
Labels: package: angular
