Repository ionic-team/ionic-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: angular, package: react, package: vue

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

'package: core':
  - core/**/*

'package: angular':
  - packages/angular/**/*
  - packages/angular-*/**/*

'package: react':
  - packages/react/**/*
  - packages/react-*/**/*

'package: vue':
  - packages/vue/**/*
  - packages/vue-*/**/*

feat(textarea): support dynamic type
  core/src/components/textarea/test/a11y/textarea.e2e.ts
  core/src/components/textarea/textarea.scss
Labels: package: core

docs(datetime): comment on why the mins exist
  core/src/components/datetime/datetime.scss
Labels: package: core

style: lint
  core/src/components/datetime/test/custom/index.html
Labels: package: core

chore(): add updated snapshots
  core/src/components/textarea/test/a11y/textarea.e2e.ts-snapshots/textarea-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/a11y/textarea.e2e.ts-snapshots/textarea-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/a11y/textarea.e2e.ts-snapshots/textarea-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/a11y/textarea.e2e.ts-snapshots/textarea-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/a11y/textarea.e2e.ts-snapshots/textarea-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/a11y/textarea.e2e.ts-snapshots/textarea-scale-md-ltr-Mobile-Safari-linux.png
Labels: package: core

chore(): add updated snapshots
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-stacked-pin-md-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-stacked-pin-md-ltr-Mobile-Firefox-linux.png
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-stacked-pin-md-ltr-Mobile-Safari-linux.png
Labels: package: core

test(popover): add failing test
  core/src/components/popover/test/async/index.html
  core/src/components/popover/test/async/popover.e2e.ts
Labels: package: core

feat(checkbox, radio, toggle, range): add fixme to flaky test
  core/src/components/checkbox/checkbox.scss
  core/src/components/checkbox/test/item/checkbox.e2e.ts
  core/src/components/checkbox/test/item/index.html
  core/src/components/range/test/label/range.e2e.ts
Labels: package: core

feat(checkbox, radio, toggle, range): add missing close tag
  core/src/components/checkbox/test/item/index.html
Labels: package: core

git: revert image updates
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-wheel-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-wheel-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-wheel-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-wheel-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-wheel-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-wheel-md-ltr-Mobile-Safari-linux.png
Labels: package: core

chore(): add updated snapshots
  core/src/components/checkbox/test/item/checkbox.e2e.ts-snapshots/checkbox-stacked-label-in-item-md-ltr-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/item/checkbox.e2e.ts-snapshots/checkbox-stacked-label-in-item-md-ltr-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/item/checkbox.e2e.ts-snapshots/checkbox-stacked-label-in-item-md-ltr-Mobile-Safari-linux.png
Labels: package: core

Removed extra semicolon
  packages/angular/src/directives/control-value-accessors/value-accessor.ts
Labels: package: angular

feat(checkbox, radio, toggle, range): add stacked pin tests
  core/src/components/radio/radio.scss
  core/src/components/radio/test/item/index.html
  core/src/components/radio/test/item/radio.e2e.ts
Labels: package: core

feat(checkbox, radio, toggle, range): remove only
  core/src/components/radio/test/item/radio.e2e.ts
Labels: package: core

feat(checkbox, radio, toggle, range): toggle in list margin
  core/src/components/radio/test/item/radio.e2e.ts
  core/src/components/toggle/test/item/index.html
  core/src/components/toggle/test/item/toggle.e2e.ts
  core/src/components/toggle/toggle.scss
Labels: package: core

feat(checkbox, radio, toggle, range): add missing closing tag
  core/src/components/toggle/test/item/index.html
Labels: package: core

chore(): add updated snapshots
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-time-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-year-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-date-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-year-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-stacked-label-in-item-md-ltr-Mobile-Chrome-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-stacked-label-in-item-md-ltr-Mobile-Firefox-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-stacked-label-in-item-md-ltr-Mobile-Safari-linux.png
  core/src/components/toggle/test/item/toggle.e2e.ts-snapshots/toggle-stacked-label-in-item-md-ltr-Mobile-Chrome-linux.png
  core/src/components/toggle/test/item/toggle.e2e.ts-snapshots/toggle-stacked-label-in-item-md-ltr-Mobile-Firefox-linux.png
  core/src/components/toggle/test/item/toggle.e2e.ts-snapshots/toggle-stacked-label-in-item-md-ltr-Mobile-Safari-linux.png
Labels: package: core

v7.3.2-nightly.20230829
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: react, package: vue

feat(textarea): support dynamic type (#28068)
  core/src/components/textarea/test/a11y/textarea.e2e.ts
  core/src/components/textarea/test/a11y/textarea.e2e.ts-snapshots/textarea-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/a11y/textarea.e2e.ts-snapshots/textarea-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/a11y/textarea.e2e.ts-snapshots/textarea-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/a11y/textarea.e2e.ts-snapshots/textarea-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/a11y/textarea.e2e.ts-snapshots/textarea-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/a11y/textarea.e2e.ts-snapshots/textarea-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/textarea.scss
Labels: package: core

Remove temporary tests
  core/src/components/loading/test/is-open/index.html
  core/src/components/loading/test/trigger/index.html
Labels: package: core

apply fix to modal
  core/src/components/modal/modal.tsx
Labels: package: core

add comments, address edge case
  core/src/utils/framework-delegate.ts
Labels: package: core

feat(checkbox, radio, toggle, range): revert datetime snapshots again
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-time-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-year-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-date-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-year-diff-md-ltr-Mobile-Safari-linux.png
Labels: package: core

chore(): add updated snapshots
  core/src/components/popover/test/async/popover.e2e.ts-snapshots/popover-async-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/popover/test/async/popover.e2e.ts-snapshots/popover-async-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/popover/test/async/popover.e2e.ts-snapshots/popover-async-ios-ltr-Mobile-Safari-linux.png
Labels: package: core

add test for fallback
  core/src/components/popover/test/async/popover.e2e.ts
Labels: package: core

fix(searchbar): scale when in toolbar
  core/src/components/searchbar/searchbar.ios.scss
Labels: package: core

test(searchbar): add test
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts
Labels: package: core

refactor(toolbar): remove unused code
  core/src/components/toolbar/toolbar.ios.scss
Labels: package: core

chore(): add updated snapshots
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-toolbar-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-toolbar-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-toolbar-ios-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-toolbar-md-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-toolbar-md-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-toolbar-md-ltr-Mobile-Safari-linux.png
Labels: package: core

Address PR feedback
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/alert/alert.tsx
  core/src/components/loading/loading.tsx
  core/src/components/modal/modal.tsx
  core/src/components/picker/picker.tsx
  core/src/components/popover/popover.tsx
  core/src/components/router-outlet/route-outlet.tsx
  core/src/components/toast/toast.tsx
  core/src/utils/lock-controller.ts
  core/src/utils/overlays.ts
Labels: package: core

chore(router-outlet): rename files
  core/src/components/router-outlet/router-outlet.scss
  core/src/components/router-outlet/router-outlet.tsx
  core/src/utils/test/overlays/overlays.spec.ts
Labels: package: core

chore(router-outlet): rename files (#28074)
  core/src/components/router-outlet/router-outlet.scss
  core/src/components/router-outlet/router-outlet.tsx
  core/src/utils/test/overlays/overlays.spec.ts
Labels: package: core

fix inputs
  packages/angular/standalone/src/navigation/tabs.ts
Labels: package: angular

feat(checkbox): add support for stacked labels
  core/api.txt
  core/src/components.d.ts
  core/src/components/checkbox/checkbox.scss
  core/src/components/checkbox/checkbox.tsx
  core/src/components/checkbox/test/item/checkbox.e2e.ts
  core/src/components/checkbox/test/item/index.html
  core/src/components/checkbox/test/label/checkbox.e2e.ts
  core/src/components/checkbox/test/label/index.html
  packages/angular/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

feat(radio): add support for stacked labels
  core/api.txt
  core/src/components.d.ts
  core/src/components/radio/radio.scss
  core/src/components/radio/radio.tsx
  core/src/components/radio/test/item/index.html
  core/src/components/radio/test/item/radio.e2e.ts
  core/src/components/radio/test/label-placement/index.html
  core/src/components/radio/test/label-placement/radio.e2e.ts
  packages/angular/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

export tabs component from standalone package
  packages/angular/standalone/src/index.ts
Labels: package: angular

add missing import to tabs component
  packages/angular/standalone/src/navigation/tabs.ts
Labels: package: angular

add test page
  packages/angular/test/base/src/app/standalone/app-standalone/app.routes.ts
  packages/angular/test/base/src/app/standalone/tabs/tab1.component.ts
  packages/angular/test/base/src/app/standalone/tabs/tab2.component.ts
  packages/angular/test/base/src/app/standalone/tabs/tab3.component.ts
  packages/angular/test/base/src/app/standalone/tabs/tabs.component.html
  packages/angular/test/base/src/app/standalone/tabs/tabs.component.ts
Labels: package: angular

feat(range): add support for stacked labels
  core/api.txt
  core/src/components.d.ts
  core/src/components/range/range.ios.scss
  core/src/components/range/range.md.scss
  core/src/components/range/range.scss
  core/src/components/range/range.tsx
  core/src/components/range/test/label/index.html
  core/src/components/range/test/label/range.e2e.ts
Labels: package: core

feat(toggle): add support for stacked labels
  core/api.txt
  core/src/components.d.ts
  core/src/components/toggle/test/item/index.html
  core/src/components/toggle/test/item/toggle.e2e.ts
  core/src/components/toggle/test/label/index.html
  core/src/components/toggle/test/label/toggle.e2e.ts
  core/src/components/toggle/toggle.scss
  core/src/components/toggle/toggle.tsx
  packages/angular/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

feat(checkbox, radio): add missing prop option comment
  core/src/components.d.ts
  core/src/components/checkbox/checkbox.tsx
  core/src/components/radio/radio.tsx
Labels: package: core
