Repository ionic-team/ionic-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: angular, package: react, package: vue

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

'package: core':
  - core/**/*

'package: angular':
  - packages/angular/**/*
  - packages/angular-*/**/*

'package: react':
  - packages/react/**/*
  - packages/react-*/**/*

'package: vue':
  - packages/vue/**/*
  - packages/vue-*/**/*

chore(docs): fix broken angular link in README (#28039)
  README.md
Labels: none

chore(): add updated snapshots
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-ltr-Mobile-Safari-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-rtl-Mobile-Safari-linux.png
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-initial-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-initial-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-initial-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-large-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-characters-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-characters-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-characters-ios-ltr-Mobile-Safari-linux.png
Labels: package: core

fix(react): avoid multiple invocations of onDidDismiss and onWillPresent (#28020)
  packages/react/src/components/createInlineOverlayComponent.tsx
  packages/react/test/base/src/pages/overlay-components/ActionSheetComponent.tsx
  packages/react/test/base/tests/e2e/specs/overlay-components/IonActionSheet.cy.ts
Labels: package: react

docs(picker): describe how to set the initial value of a picker column (#28034)
  core/src/components/picker/picker-interface.ts
Labels: package: core

wip
  core/src/components/toast/test/a11y/toast.e2e.ts
  core/src/components/toast/toast.ios.vars.scss
  core/src/components/toast/toast.md.vars.scss
  core/src/components/toast/toast.scss
Labels: package: core

chore(ci): improve error feedback with core clean build CI step
  .github/workflows/actions/test-core-clean-build/action.yml
Labels: none

chore: diff button
  core/src/components/button/button.tsx
Labels: package: core

chore: ANSI escape does for color formatting
  .github/workflows/actions/test-core-clean-build/action.yml
Labels: none

chore: update message
  .github/workflows/actions/test-core-clean-build/action.yml
Labels: none

chore: revert button diff
  core/src/components/button/button.tsx
Labels: package: core

feat(checkbox, radio, toggle, range): update api.txt
  core/api.txt
Labels: package: core

test: add screenshot test
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts
Labels: package: core

feat(searchbar): support dynamic type on ios
  core/src/components/searchbar/searchbar.ios.scss
  core/src/components/searchbar/searchbar.ios.vars.scss
  core/src/components/searchbar/searchbar.scss
Labels: package: core

fix(searchbar): account for icon size in cover
  core/src/components/searchbar/searchbar.tsx
Labels: package: core

test(progress-bar): screenshot test dynamic progress bar value
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts
Labels: package: core

chore(): add updated snapshots
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-time-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-time-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-year-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-year-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-date-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-date-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-year-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-year-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-ios-ltr-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-ios-rtl-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-ltr-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-ltr-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-ltr-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-rtl-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-rtl-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-rtl-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-ios-ltr-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-ios-rtl-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-ltr-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-ltr-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-ltr-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-rtl-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-rtl-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-rtl-Mobile-Safari-linux.png
Labels: package: core

chore: revert flaky updated screenshots
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-time-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-time-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-year-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-year-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-date-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-date-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-year-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-year-diff-md-rtl-Mobile-Safari-linux.png
Labels: package: core

feat(checkbox, radio, toggle, range): build run
  core/api.txt
Labels: package: core

chore: visually update two components
  core/src/components/button/button.scss
  core/src/components/checkbox/checkbox.scss
Labels: package: core

chore(infra): clean build check will log recommended steps (#28044)
  .github/workflows/actions/test-core-clean-build/action.yml
Labels: none

chore(sass): bump to 1.33.0
  core/package-lock.json
  core/package.json
Labels: package: core

chore(): add updated snapshots
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-center-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-center-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-center-ios-ltr-Mobile-Safari-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-center-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-center-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-center-ios-rtl-Mobile-Safari-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-center-md-ltr-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-center-md-ltr-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-center-md-ltr-Mobile-Safari-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-center-md-rtl-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-center-md-rtl-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-center-md-rtl-Mobile-Safari-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-start-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-start-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-start-ios-ltr-Mobile-Safari-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-start-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-start-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-start-ios-rtl-Mobile-Safari-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-start-md-ltr-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-start-md-ltr-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-start-md-ltr-Mobile-Safari-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-start-md-rtl-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-start-md-rtl-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-start-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-time-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-year-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-date-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-year-diff-md-ltr-Mobile-Safari-linux.png
Labels: package: core

feat(typography): support dynamic type
  core/src/css/test/a11y/typography.e2e.ts
  core/src/css/typography.scss
Labels: package: core

chore(): add updated snapshots
  core/src/css/test/a11y/typography.e2e.ts-snapshots/typography-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/css/test/a11y/typography.e2e.ts-snapshots/typography-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/css/test/a11y/typography.e2e.ts-snapshots/typography-scale-ios-ltr-Mobile-Safari-linux.png
Labels: package: core

feat(checkbox, radio, toggle, range): update props
  packages/angular/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: angular, package: vue

feat(checkbox, radio, toggle, range): revert snapshots
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-time-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-year-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-date-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-year-diff-md-ltr-Mobile-Safari-linux.png
Labels: package: core

feat(checkbox, radio, toggle, range): stacked radio
  core/api.txt
  core/src/components.d.ts
  core/src/components/radio/radio.scss
  core/src/components/radio/radio.tsx
  core/src/components/radio/test/label-placement/index.html
  core/src/components/radio/test/label-placement/radio.e2e.ts
  packages/angular/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

v7.3.1-nightly.20230823
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: react, package: vue

Fix LiteralUnion with Toast
  core/src/components/toast/toast-interface.ts
Labels: package: core

chore(angular): revert `window` interface changes
  packages/angular/src/providers/platform.ts
Labels: package: angular

refactor(toast): deprecate cssClass on ToastButton (#27959)
  core/src/components/toast/toast-interface.ts
Labels: package: core

v7.3.1
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: react, package: vue

chore(): update package lock files
  packages/angular-server/package-lock.json
  packages/angular/package-lock.json
  packages/react-router/package-lock.json
  packages/react/package-lock.json
  packages/vue-router/package-lock.json
  packages/vue/package-lock.json
Labels: package: angular, package: react, package: vue

test(menu-button): add failing test
  core/src/components/menu-button/test/async/index.html
  core/src/components/menu-button/test/async/menu-button.e2e.ts
Labels: package: core

test(menu-button): add failing test
  core/src/components/menu-button/test/async/index.html
  core/src/components/menu-button/test/async/menu-button.e2e.ts
Labels: package: core

fix(menu): emit ionMenuChange when re-mounted
  core/src/components/menu/menu.tsx
Labels: package: core

clean up
  core/src/components/menu-button/test/async/index.html
Labels: package: core

undo clean up
  core/src/components/menu-button/test/async/index.html
Labels: package: core

lint
  core/src/components/menu-button/test/async/index.html
Labels: package: core

feat(toast): support dynamic type
  core/src/components/toast/test/a11y/toast.e2e.ts
  core/src/components/toast/toast.ios.scss
  core/src/components/toast/toast.ios.vars.scss
  core/src/components/toast/toast.md.vars.scss
Labels: package: core
