Repository ionic-team/ionic-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: angular, package: react, package: vue

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

'package: core':
  - core/**/*

'package: angular':
  - packages/angular/**/*
  - packages/angular-*/**/*

'package: react':
  - packages/react/**/*
  - packages/react-*/**/*

'package: vue':
  - packages/vue/**/*
  - packages/vue-*/**/*

add simple standalone spec test
  packages/angular/test/base/e2e/src/standalone/tabs.spec.ts
Labels: package: angular

lint
  packages/angular/standalone/src/navigation/tabs.ts
Labels: package: angular

remove duplicate route
  packages/angular/test/base/src/app/standalone/app-standalone/app.routes.ts
Labels: package: angular

add comments
  core/src/components/modal/modal.tsx
  core/src/components/popover/popover.tsx
Labels: package: core

test(datetime): remove duplicate test (#28092)
  core/src/components/datetime/test/custom/datetime.e2e.ts
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Safari-linux.png
Labels: package: core

Address PR feedback
  core/src/components/modal/modal.tsx
Labels: package: core

fix(datetime): don't add css shadow parts to spacer days
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/custom/index.html
Labels: package: core

Update core/src/utils/lock-controller.ts
  core/src/utils/lock-controller.ts
Labels: package: core

feat(checkbox, radio, toggle, range): requested changes
  core/api.txt
  core/src/components.d.ts
  core/src/components/checkbox/checkbox.scss
  core/src/components/checkbox/checkbox.tsx
  core/src/components/checkbox/test/item/index.html
  core/src/components/checkbox/test/label/checkbox.e2e.ts
  core/src/components/checkbox/test/label/index.html
  core/src/components/radio/radio.scss
  core/src/components/radio/radio.tsx
  core/src/components/radio/test/item/index.html
  core/src/components/radio/test/label-placement/index.html
  core/src/components/radio/test/label-placement/radio.e2e.ts
  core/src/components/range/range.tsx
  core/src/components/toggle/test/item/index.html
  core/src/components/toggle/test/label/index.html
  core/src/components/toggle/test/label/toggle.e2e.ts
  core/src/components/toggle/toggle.scss
  core/src/components/toggle/toggle.tsx
  packages/angular/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

wip
  packages/react-router/src/ReactRouter/ReactRouterViewStack.tsx
  packages/react-router/src/ReactRouter/StackManager.tsx
  packages/react-router/src/ReactRouter/utils/matchPath.ts
  packages/react/src/routing/RouteManagerContext.ts
  packages/react/src/routing/ViewItem.ts
  packages/react/src/routing/ViewStacks.ts
Labels: package: react

chore(vue): add missing routerAnimation type
  packages/vue-router/src/types.ts
Labels: package: vue

fix: remove md button font size clamping
  core/src/components/toast/toast.md.vars.scss
  core/src/components/toast/toast.scss
Labels: package: core

chore(): add updated snapshots
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-buttons-icon-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-buttons-icon-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-buttons-icon-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-buttons-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-buttons-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-buttons-scale-md-ltr-Mobile-Safari-linux.png
Labels: package: core

fix(nav-link): prevent navigation when clicking disabled button
  core/src/components/nav-link/nav-link.tsx
Labels: package: core

v7.3.3-nightly.20230831
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: react, package: vue

fix(popover): dynamic width popover is positioned correctly (#28072)
  core/src/components/modal/modal.tsx
  core/src/components/popover/popover.tsx
  core/src/components/popover/test/async/index.html
  core/src/components/popover/test/async/popover.e2e.ts
  core/src/components/popover/test/async/popover.e2e.ts-snapshots/popover-async-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/popover/test/async/popover.e2e.ts-snapshots/popover-async-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/popover/test/async/popover.e2e.ts-snapshots/popover-async-ios-ltr-Mobile-Safari-linux.png
  core/src/utils/framework-delegate.ts
Labels: package: core

fix(overlays): prevent overlays from getting stuck open (#28069)
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/alert/alert.tsx
  core/src/components/loading/loading.tsx
  core/src/components/modal/modal.tsx
  core/src/components/picker/picker.tsx
  core/src/components/popover/popover.tsx
  core/src/components/router-outlet/router-outlet.tsx
  core/src/components/toast/toast.tsx
  core/src/utils/lock-controller.ts
Labels: package: core

feat(checkbox, radio, toggle): update alignment comment
  core/src/components.d.ts
  core/src/components/checkbox/checkbox.tsx
  core/src/components/radio/radio.tsx
  core/src/components/toggle/toggle.tsx
Labels: package: core

chore(vue): add missing routerAnimation type (#28094)
  packages/vue-router/src/types.ts
Labels: package: vue

feat(checkbox): update indent
  core/src/components/checkbox/checkbox.scss
Labels: package: core

remove non-needed styleUrl
  packages/angular/test/base/src/app/standalone/tabs/tabs.component.ts
Labels: package: angular

feat(range): switch to stretch
  core/src/components/range/range.scss
Labels: package: core

fix: prevent navigating when button is disabled
  core/src/components/nav-link/nav-link.tsx
  core/src/components/nav-link/test/nav-link.spec.tsx
Labels: package: core

docs(angular): update README for clear directory paths
  packages/angular/test/README.md
Labels: package: angular

test(radio): correct screenshot name from toggle
  core/src/components/radio/test/item/radio.e2e.ts
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-list-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-list-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-list-ios-ltr-Mobile-Safari-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-list-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-list-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-list-ios-rtl-Mobile-Safari-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-list-md-ltr-Mobile-Chrome-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-list-md-ltr-Mobile-Firefox-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-list-md-ltr-Mobile-Safari-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-list-md-rtl-Mobile-Chrome-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-list-md-rtl-Mobile-Firefox-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-list-md-rtl-Mobile-Safari-linux.png
Labels: package: core

fix(datetime): add a focus ring around ios and make highlightedDates take priority
  core/src/components/datetime/datetime.ios.scss
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/custom/index.html
Labels: package: core

actual property name
  core/src/components/datetime/datetime.tsx
Labels: package: core

chore(): add updated snapshots
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-calendar-days-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-calendar-days-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-calendar-days-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-calendar-days-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-calendar-days-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-calendar-days-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-wheel-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-wheel-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-wheel-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-wheel-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-wheel-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-wheel-md-ltr-Mobile-Safari-linux.png
Labels: package: core

test(datetime): fix incorrect selector & screenshot images
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-wheel-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-wheel-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-wheel-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-wheel-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-wheel-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-wheel-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/index.html
Labels: package: core

Update core/custom-rules/no-playwright-to-match-snapshot-assertion.js
  core/custom-rules/no-playwright-to-match-snapshot-assertion.js
Labels: package: core

docs(angular): update README for clear directory paths (#28098)
  packages/angular/test/README.md
Labels: package: angular

chore: disable codeflow for pull requests
  .stackblitz/codeflow.json
Labels: none

fix(vue): router replace action uses custom animation
  packages/vue-router/src/router.ts
Labels: package: vue

chore: use node 18 for publish action
  .github/workflows/actions/publish-npm/action.yml
Labels: none

chore(ci): use node v18 for publish to npm action
  .github/workflows/actions/publish-npm/action.yml
Labels: none

remove config
  core/playwright.config.ts
Labels: package: core

remove unused import
  packages/angular/test/base/src/app/standalone/tabs/tabs.component.ts
Labels: package: angular

chore: add lint rule to block toMatchSnapshot usage (#28091)
  core/.eslintrc.js
  core/custom-rules/index.js
  core/custom-rules/no-playwright-to-match-snapshot-assertion.js
  core/playwright.config.ts
Labels: package: core

make tab-one the default tab
  packages/angular/test/base/src/app/standalone/app-standalone/app.routes.ts
Labels: package: angular

test(datetime): oops those ids were used
  core/src/components/datetime/test/custom/index.html
Labels: package: core
