Repository ionic-team/ionic-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: angular, package: react, package: vue

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

'package: core':
  - core/**/*

'package: angular':
  - packages/angular/**/*
  - packages/angular-*/**/*

'package: react':
  - packages/react/**/*
  - packages/react-*/**/*

'package: vue':
  - packages/vue/**/*
  - packages/vue-*/**/*

chore(CODEOWNERS): add brandy to CODEOWNERS (#28063)
  .github/CODEOWNERS
Labels: none

chore: revert flaky updated screenshot
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-inline-diff-ios-ltr-Mobile-Firefox-linux.png
Labels: package: core

test(datetime): update colors to look better with dark mode
  core/src/components/datetime/test/custom/index.html
Labels: package: core

fix(title): add correct padding
  core/src/components/header/header.ios.scss
  core/src/components/title/title.ios.scss
  core/src/components/toolbar/toolbar.ios.scss
Labels: package: core

fix(title): large title transition is correct
  core/src/utils/transition/ios.transition.ts
Labels: package: core

chore: revert screenshot changes
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-ltr-Mobile-Safari-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-rtl-Mobile-Safari-linux.png
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-initial-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-initial-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-initial-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-characters-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-characters-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-characters-ios-ltr-Mobile-Safari-linux.png
Labels: package: core

chore(CODEOWNERS): add shawn to CODEOWNERS (#28064)
  .github/CODEOWNERS
Labels: none

fix screenshot
  core/src/components/range/test/a11y/range.e2e.ts
Labels: package: core

chore(): add updated snapshots
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-ltr-Mobile-Safari-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-rtl-Mobile-Safari-linux.png
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-initial-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-initial-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-initial-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-large-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-large-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/title/test/a11y/title.e2e.ts-snapshots/title-large-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-characters-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-characters-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-characters-ios-ltr-Mobile-Safari-linux.png
Labels: package: core

chore(): add updated snapshots
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-scale-md-ltr-Mobile-Safari-linux.png
Labels: package: core

fix typo
  core/src/components/loading/test/is-open/index.html
Labels: package: core

feat(range): support dynamic type (#28006)
  core/src/components/range/range.ios.scss
  core/src/components/range/range.ios.vars.scss
  core/src/components/range/range.md.scss
  core/src/components/range/range.md.vars.scss
  core/src/components/range/range.scss
  core/src/components/range/test/a11y/range.e2e.ts
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-focus-with-pin-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-focus-with-pin-ios-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-focus-with-pin-md-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-focus-with-pin-md-ltr-Mobile-Firefox-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-focus-with-pin-md-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/basic/range.e2e.ts-snapshots/range-pin-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/basic/range.e2e.ts-snapshots/range-pin-ios-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/basic/range.e2e.ts-snapshots/range-pin-md-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/basic/range.e2e.ts-snapshots/range-pin-md-ltr-Mobile-Firefox-linux.png
  core/src/components/range/test/basic/range.e2e.ts-snapshots/range-pin-md-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/legacy/a11y/range.e2e.ts-snapshots/range-focus-with-pin-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/legacy/a11y/range.e2e.ts-snapshots/range-focus-with-pin-ios-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/legacy/a11y/range.e2e.ts-snapshots/range-focus-with-pin-md-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/legacy/a11y/range.e2e.ts-snapshots/range-focus-with-pin-md-ltr-Mobile-Firefox-linux.png
  core/src/components/range/test/legacy/a11y/range.e2e.ts-snapshots/range-focus-with-pin-md-ltr-Mobile-Safari-linux.png
Labels: package: core

feat(title): add max font size for large titles
  core/src/components/title/title.ios.scss
Labels: package: core

feat(checkbox, radio, toggle, range): remove extra character
  core/src/components/toggle/toggle.tsx
Labels: package: core

fesat(checkbox, radio, toggle, range): change wording on tests
  core/src/components/checkbox/test/label/checkbox.e2e.ts
  core/src/components/radio/test/label-placement/radio.e2e.ts
  core/src/components/range/test/label/range.e2e.ts
  core/src/components/toggle/test/label/toggle.e2e.ts
Labels: package: core

feat(checkbox, radio, toggle, range): correct word to range
  core/src/components/range/range.scss
Labels: package: core

feat(checkbox, radio, toggle, range): correct word to toggle
  core/src/components/toggle/toggle.scss
Labels: package: core

feat(checkbox, radio, toggle, range): correct word to toggle again
  core/src/components/toggle/toggle.scss
Labels: package: core

feat(checkbox, radio, toggle, range): update stacked prop description
  core/src/components.d.ts
  core/src/components/checkbox/checkbox.tsx
  core/src/components/radio/radio.tsx
  core/src/components/range/range.tsx
  core/src/components/toggle/toggle.tsx
Labels: package: core

Update value-accessor.ts
  packages/angular/src/directives/control-value-accessors/value-accessor.ts
Labels: package: angular

v7.3.2-nightly.20230828
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: react, package: vue

fix(datetime): gracefully handle invalid min/max (#28054)
  core/src/components/datetime/test/parse.spec.ts
  core/src/components/datetime/utils/parse.ts
Labels: package: core

Lock controller
  core/src/components/loading/loading.tsx
  core/src/components/loading/test/is-open/index.html
  core/src/utils/overlays.ts
Labels: package: core

fix: dynamic-font mixin typo
  core/src/components/toast/toast.md.vars.scss
Labels: package: core

fix: use em
  core/src/components/toast/toast.scss
Labels: package: core

chore: remove ref screenshots
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-ios-ltr-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-ios-rtl-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-ltr-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-ltr-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-ltr-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-rtl-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-rtl-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-rtl-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-ios-ltr-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-ios-rtl-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-ltr-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-ltr-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-ltr-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-rtl-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-rtl-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-rtl-Mobile-Safari-linux.png
Labels: package: core

test: limit to single mode and direction
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts
Labels: package: core

chore(): add updated snapshots
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-ltr-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-ltr-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/buffer/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-ltr-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-ltr-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-ltr-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/determinate/progress-bar.e2e.ts-snapshots/progress-bar-buffer-dynamic-value-md-ltr-Mobile-Safari-linux.png
Labels: package: core

Remove lock controller
  core/src/components/loading/loading.tsx
Labels: package: core

Simplify
  core/src/components/loading/loading.tsx
  core/src/components/loading/test/is-open/index.html
  core/src/components/loading/test/trigger/index.html
  core/src/utils/overlays.ts
Labels: package: core

feat(searchbar): support dynamic type (#28043)
  core/src/components/searchbar/searchbar.ios.scss
  core/src/components/searchbar/searchbar.ios.vars.scss
  core/src/components/searchbar/searchbar.md.scss
  core/src/components/searchbar/searchbar.md.vars.scss
  core/src/components/searchbar/searchbar.scss
  core/src/components/searchbar/searchbar.tsx
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-text-clear-hidden-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-text-clear-hidden-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-text-clear-hidden-ios-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-text-clear-visible-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-text-clear-visible-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-text-clear-visible-ios-ltr-Mobile-Safari-linux.png
Labels: package: core

feat(checkbox, radio, toggle, range): add margin for pinned stacked
  core/src/components/range/range.ios.scss
  core/src/components/range/range.md.scss
  core/src/components/range/test/label/range.e2e.ts
Labels: package: core

chore(): add updated snapshots
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-time-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-year-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-date-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-year-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-no-items-stacked-pin-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-no-items-stacked-pin-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-no-items-stacked-pin-ios-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-no-items-stacked-pin-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-no-items-stacked-pin-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-no-items-stacked-pin-ios-rtl-Mobile-Safari-linux.png
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-no-items-stacked-pin-md-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-no-items-stacked-pin-md-ltr-Mobile-Firefox-linux.png
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-no-items-stacked-pin-md-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-no-items-stacked-pin-md-rtl-Mobile-Chrome-linux.png
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-no-items-stacked-pin-md-rtl-Mobile-Firefox-linux.png
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-no-items-stacked-pin-md-rtl-Mobile-Safari-linux.png
Labels: package: core

feat(checkbox, radio, toggle, range): revert datetime snapshots
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-date-time-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-month-year-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-date-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-time-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/presentation/datetime.e2e.ts-snapshots/datetime-presentation-year-diff-md-rtl-Mobile-Safari-linux.png
Labels: package: core

Apply status to other overlay components
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/alert/alert.tsx
  core/src/components/loading/loading.tsx
  core/src/components/modal/modal.tsx
  core/src/components/picker/picker.tsx
  core/src/components/popover/popover.tsx
  core/src/components/toast/toast.tsx
Labels: package: core

fix(datetime): extract width/height to Sass vars
  core/src/components/datetime/datetime.ios.scss
  core/src/components/datetime/datetime.ios.vars.scss
  core/src/components/datetime/datetime.md.scss
  core/src/components/datetime/datetime.md.vars.scss
Labels: package: core

feat(checkbox, radio, toggle, range): update stacked pin tests
  core/src/components/range/test/label/range.e2e.ts
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-no-items-stacked-pin-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-no-items-stacked-pin-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-no-items-stacked-pin-ios-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-no-items-stacked-pin-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-no-items-stacked-pin-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-no-items-stacked-pin-ios-rtl-Mobile-Safari-linux.png
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-no-items-stacked-pin-md-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-no-items-stacked-pin-md-ltr-Mobile-Firefox-linux.png
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-no-items-stacked-pin-md-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-no-items-stacked-pin-md-rtl-Mobile-Chrome-linux.png
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-no-items-stacked-pin-md-rtl-Mobile-Firefox-linux.png
  core/src/components/range/test/label/range.e2e.ts-snapshots/range-no-items-stacked-pin-md-rtl-Mobile-Safari-linux.png
Labels: package: core

Improve documentation
  core/src/utils/overlays.ts
Labels: package: core

test a fix
  core/src/components/popover/popover.tsx
  core/src/utils/framework-delegate.ts
Labels: package: core

lint
  core/src/utils/framework-delegate.ts
Labels: package: core
