Repository ionic-team/ionic-framework, pull requests merged in 2018-12, with the labels that each got.

#16553 fix(button): Contain strict to contain content
  core/src/components/button/button.scss
Labels: package: core

#16538 fix(docs): fix links to grid and row components
  core/src/components/col/readme.md
Labels: package: core

#16570 fix(loading): add backdropDismiss closes #16527
  core/src/components/loading/loading.tsx
Labels: package: core

#16566 chore(): update theme-builder
  core/package.json
  core/scripts/theme-builder/readme.md
  core/scripts/theme-builder/server.js
  core/scripts/theme-builder/src/components.d.ts
  core/scripts/theme-builder/src/components/Color.ts
  core/scripts/theme-builder/src/components/app-preview/app-preview.css
  core/scripts/theme-builder/src/components/app-preview/app-preview.js
  core/scripts/theme-builder/src/components/app-preview/app-preview.tsx
  core/scripts/theme-builder/src/components/css-text/css-text.css
  core/scripts/theme-builder/src/components/css-text/css-text.js
  core/scripts/theme-builder/src/components/css-text/css-text.tsx
  core/scripts/theme-builder/src/components/demo-selection/demo-selection.css
  core/scripts/theme-builder/src/components/demo-selection/demo-selection.js
  core/scripts/theme-builder/src/components/demo-selection/demo-selection.tsx
  core/scripts/theme-builder/src/components/helpers.ts
  core/scripts/theme-builder/src/components/theme-builder/theme-builder.css
  core/scripts/theme-builder/src/components/theme-builder/theme-builder.js
  core/scripts/theme-builder/src/components/theme-builder/theme-builder.tsx
  core/scripts/theme-builder/src/components/theme-selector/theme-selector.css
  core/scripts/theme-builder/src/components/theme-selector/theme-selector.js
  core/scripts/theme-builder/src/components/theme-selector/theme-selector.tsx
  core/scripts/theme-builder/src/components/variable-selector/variable-selector.css
  core/scripts/theme-builder/src/components/variable-selector/variable-selector.tsx
  core/scripts/theme-builder/src/global/app.css
  core/scripts/theme-builder/src/index.html
  core/scripts/theme-builder/src/theme-variables.js
  core/scripts/theme-builder/src/theme-variables.ts
  core/scripts/theme-builder/stencil.config.js
  core/scripts/theme-builder/tsconfig.json
Labels: package: core

#16571 fix(img): fire didLoad in safari
  core/src/components/img/img.tsx
Labels: package: core

#16573 fix(segment-button): make layout default to icon-top
  core/api.txt
  core/src/components/segment-button/readme.md
  core/src/components/segment-button/segment-button.md.scss
  core/src/components/segment-button/segment-button.scss
  core/src/components/segment-button/segment-button.tsx
  core/src/components/segment/test/spec/index.html
Labels: package: core

#16575 fix(button): reduce iOS border radius
  core/src/components/button/button.ios.vars.scss
Labels: package: core

#16587 chore: refactor vue
  vue/.editorconfig
  vue/package-lock.json
  vue/package.json
  vue/rollup.config.js
  vue/src/api-utils.ts
  vue/src/api.ts
  vue/src/app-initialize.ts
  vue/src/components/router-outlet.ts
  vue/src/controllers/action-sheet-controller.ts
  vue/src/controllers/alert-controller.ts
  vue/src/controllers/index.ts
  vue/src/controllers/loading-controller.ts
  vue/src/controllers/menu-controller.ts
  vue/src/controllers/modal-controller.ts
  vue/src/controllers/picker-controller.ts
  vue/src/controllers/popover-controller.ts
  vue/src/controllers/toast-controller.ts
  vue/src/controllers/vue-delegate.ts
  vue/src/framework-delegate.ts
  vue/src/index.ts
  vue/src/interfaces.ts
  vue/src/ionic.ts
  vue/src/mixins/catch-ionic-go-back.ts
  vue/src/proxy-controller.ts
  vue/src/proxy-delegate-controller.ts
  vue/src/proxy-menu-controller.ts
  vue/src/sfc.d.ts
  vue/src/util.ts
  vue/tsconfig.json
  vue/types/api-utils.d.ts
  vue/types/api.d.ts
  vue/types/components/ion-vue-router-transitionless.vue.d.ts
  vue/types/components/ion-vue-router.vue.d.ts
  vue/types/framework-delegate.d.ts
  vue/types/index.d.ts
  vue/types/interfaces.d.ts
  vue/types/ionic.d.ts
  vue/types/mixins/catch-ionic-go-back.d.ts
  vue/types/proxy-controller.d.ts
  vue/types/proxy-delegate-controller.d.ts
  vue/types/proxy-menu-controller.d.ts
  vue/types/router.d.ts
  vue/types/types/interfaces.d.ts
Labels: package: vue

#16589 refactor(themes): remove the outer-content class from core
  core/src/components/action-sheet/test/preview/index.html
  core/src/components/alert/test/preview/index.html
  core/src/components/avatar/test/preview/index.html
  core/src/components/badge/test/preview/index.html
  core/src/components/button/test/preview/index.html
  core/src/components/card/test/preview/index.html
  core/src/components/checkbox/test/preview/index.html
  core/src/components/chip/test/preview/index.html
  core/src/components/content/test/preview/index.html
  core/src/components/content/test/standalone/index.html
  core/src/components/datetime/test/basic/index.html
  core/src/components/datetime/test/preview/index.html
  core/src/components/fab/test/preview/index.html
  core/src/components/grid/test/preview/index.html
  core/src/components/icon/test/preview/index.html
  core/src/components/infinite-scroll/test/preview/index.html
  core/src/components/input/test/preview/index.html
  core/src/components/item-divider/test/preview/index.html
  core/src/components/item-sliding/test/preview/index.html
  core/src/components/item/test/dividers/index.html
  core/src/components/item/test/preview/index.html
  core/src/components/item/test/text/index.html
  core/src/components/label/test/preview/index.html
  core/src/components/list/test/preview/index.html
  core/src/components/modal/test/preview/index.html
  core/src/components/nav-pop/test/preview/index.html
  core/src/components/nav-push/test/preview/index.html
  core/src/components/nav-set-root/test/preview/index.html
  core/src/components/nav/test/preview/index.html
  core/src/components/note/test/preview/index.html
  core/src/components/radio-group/test/basic/index.html
  core/src/components/radio-group/test/form/index.html
  core/src/components/radio-group/test/preview/index.html
  core/src/components/radio/test/basic/index.html
  core/src/components/radio/test/preview/index.html
  core/src/components/range/test/preview/index.html
  core/src/components/refresher/test/preview/index.html
  core/src/components/reorder-group/test/preview/index.html
  core/src/components/ripple-effect/test/preview/index.html
  core/src/components/router/test/preview/index.html
  core/src/components/searchbar/test/preview/index.html
  core/src/components/select/test/basic/index.html
  core/src/components/select/test/multiple-value/index.html
  core/src/components/select/test/preview/index.html
  core/src/components/select/test/single-value/index.html
  core/src/components/spinner/test/preview/index.html
  core/src/components/tabs/test/preview/index.html
  core/src/components/text/test/preview/index.html
  core/src/components/textarea/test/preview/index.html
  core/src/components/thumbnail/test/preview/index.html
  core/src/components/toast/test/preview/index.html
  core/src/components/toggle/test/preview/index.html
Labels: package: core

#16590 fix(segment): set colors in the parent segment and remove the unused color property
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/checkbox/checkbox.md.scss
  core/src/components/input/input.ios.scss
  core/src/components/input/input.md.scss
  core/src/components/input/input.scss
  core/src/components/item/item.ios.scss
  core/src/components/item/item.md.scss
  core/src/components/segment-button/readme.md
  core/src/components/segment-button/segment-button.ios.scss
  core/src/components/segment-button/segment-button.md.scss
  core/src/components/segment-button/segment-button.md.vars.scss
  core/src/components/segment-button/segment-button.scss
  core/src/components/segment-button/segment-button.tsx
  core/src/components/segment-button/usage/angular.md
  core/src/components/segment-button/usage/javascript.md
  core/src/components/segment/segment.ios.scss
  core/src/components/segment/segment.md.scss
  core/src/components/segment/segment.scss
  core/src/components/segment/test/custom/e2e.ts
  core/src/components/segment/test/custom/index.html
  core/src/components/segment/test/modes/index.html
  core/src/components/segment/test/preview/index.html
  core/src/components/segment/test/standalone/index.html
  core/src/components/segment/test/toolbar/index.html
  core/src/components/tab-bar/readme.md
  core/src/components/tab-bar/tab-bar.tsx
  core/src/components/tab-bar/test/preview/index.html
  core/src/components/tab-bar/test/scenarios/index.html
  core/src/components/tab-bar/test/spec/index.html
  core/src/components/tab-button/readme.md
  core/src/components/tab-button/tab-button.tsx
  core/src/components/toggle/toggle.scss
  core/src/css/core.scss
  core/src/themes/ionic.theme.default.scss
Labels: package: angular, package: core

#16607 fix(select): selection-option is hidden in edge
  core/src/components/select-option/select-option.tsx
  core/src/components/select/select.scss
  core/src/css/core.scss
Labels: package: core

#16614 refactor(all): avoid using export const enum
  core/package.json
  core/src/components.d.ts
  core/src/components/nav/constants.ts
  core/src/components/nav/nav-interface.ts
  core/src/components/nav/nav.tsx
  core/src/components/nav/test/nav-controller.spec.ts
  core/src/components/nav/view-controller.ts
  core/src/components/router-outlet/route-outlet.tsx
  core/src/components/router/router.tsx
  core/src/components/router/test/path.spec.tsx
  core/src/components/router/utils/constants.ts
  core/src/components/router/utils/dom.ts
  core/src/components/router/utils/interface.ts
  core/src/components/router/utils/path.ts
  core/src/components/tabs/tabs.tsx
  core/src/components/virtual-scroll/constants.ts
  core/src/components/virtual-scroll/test/virtual-scroll-utils.spec.ts
  core/src/components/virtual-scroll/virtual-scroll-interface.ts
  core/src/components/virtual-scroll/virtual-scroll-utils.ts
  core/src/components/virtual-scroll/virtual-scroll.tsx
  core/src/index.ts
  core/src/interface.d.ts
  core/src/utils/transition.ts
  core/tslint.json
Labels: package: core

#16615 Fix some angular
  .circleci/config.yml
  angular/src/providers/angular-delegate.ts
  angular/src/providers/platform.ts
  angular/src/util/util.ts
Labels: package: angular

#16618 refactor(angular): prefix all ionic components
  angular/src/directives/index.ts
  angular/src/directives/navigation/ion-back-button.ts
  angular/src/directives/navigation/router-link-delegate.ts
  angular/src/directives/proxies-list.txt
  angular/src/directives/proxies.ts
  angular/src/ionic-module.ts
  core/package.json
Labels: package: angular, package: core

#16519 feat(range): add support for range bar border radius
  core/api.txt
  core/src/components/range/range.ios.scss
  core/src/components/range/range.md.scss
  core/src/components/range/range.scss
  core/src/components/range/readme.md
Labels: package: core

#16617 fix(toolbar): style all slotted content in order not only buttons
  core/api.txt
  core/src/components/buttons/buttons.ios.scss
  core/src/components/buttons/buttons.ios.vars.scss
  core/src/components/buttons/buttons.md.scss
  core/src/components/buttons/buttons.md.vars.scss
  core/src/components/segment/test/bug/index.html
  core/src/components/select/readme.md
  core/src/components/select/select.ios.scss
  core/src/components/select/select.md.scss
  core/src/components/select/select.scss
  core/src/components/select/test/basic/index.html
  core/src/components/select/test/standalone/index.html
  core/src/components/toolbar/toolbar.ios.scss
  core/src/components/toolbar/toolbar.ios.vars.scss
  core/src/components/toolbar/toolbar.md.scss
  core/src/components/toolbar/toolbar.md.vars.scss
  core/src/components/toolbar/toolbar.scss
  core/src/themes/test/css-variables/css/oceanic.css
  core/src/themes/test/css-variables/index.html
Labels: package: core

#16645 Fixes the build on Windows
  angular/scripts/build-core.js
Labels: package: angular, package: core

#16647 chore(): use defineCustomElements exclude
  angular/src/app-initialize.ts
  core/package.json
Labels: package: angular, package: core

#16664 fix(button/chip): move hover styles into media query
  core/src/components/button/button.ios.scss
  core/src/components/button/button.md.scss
  core/src/components/chip/chip.scss
Labels: package: core

#16559 feat(progress-bar): add Progress Bar
  angular/src/directives/proxies-list.txt
  angular/src/directives/proxies.ts
  angular/src/ionic-module.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/nav/readme.md
  core/src/components/progress-bar/progress-bar.ios.scss
  core/src/components/progress-bar/progress-bar.md.scss
  core/src/components/progress-bar/progress-bar.scss
  core/src/components/progress-bar/progress-bar.tsx
  core/src/components/progress-bar/readme.md
  core/src/components/progress-bar/test/basic/e2e.ts
  core/src/components/progress-bar/test/basic/index.html
  core/src/components/progress-bar/test/preview/index.html
  core/src/components/progress-bar/test/standalone/index.html
  core/src/components/progress-bar/usage/javascript.md
  core/stencil.config.ts
Labels: package: core

#16641 fix(tab-bar): update tab-bar to set the color/background of tab-button
  core/api.txt
  core/src/components/tab-bar/tab-bar.ios.scss
  core/src/components/tab-bar/tab-bar.md.scss
  core/src/components/tab-bar/tab-bar.scss
  core/src/components/tab-bar/tab-bar.tsx
  core/src/components/tab-bar/test/custom/e2e.ts
  core/src/components/tab-bar/test/custom/index.html
  core/src/components/tab-bar/test/scenarios/index.html
  core/src/components/tab-button/readme.md
  core/src/components/tab-button/tab-button.ios.scss
  core/src/components/tab-button/tab-button.md.scss
  core/src/components/tab-button/tab-button.scss
Labels: package: core

#16656 Add support for fab-button border properties
  core/src/components/fab-button/fab-button.scss
  core/src/components/fab-button/fab-button.vars.scss
  core/src/components/fab-button/test/standalone/index.html
Labels: package: core

#16665 fix(react): add class based APIs
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/alert/alert.tsx
  core/src/components/anchor/anchor.tsx
  core/src/components/back-button/back-button.tsx
  core/src/components/button/button.tsx
  core/src/components/chip/chip.tsx
  core/src/components/fab-button/fab-button.tsx
  core/src/components/item-option/item-option.tsx
  core/src/components/item/item.tsx
  core/src/components/menu-button/menu-button.tsx
  core/src/components/menu/menu.tsx
  core/src/components/menu/readme.md
  core/src/components/menu/usage/javascript.md
  core/src/components/picker/picker.tsx
  core/src/components/ripple-effect/test/basic/index.html
  core/src/components/segment-button/segment-button.tsx
  core/src/components/split-pane/readme.md
  core/src/components/split-pane/split-pane.tsx
  core/src/components/split-pane/test/basic/index.html
  core/src/components/split-pane/usage/angular.md
  core/src/components/split-pane/usage/javascript.md
  core/src/components/tab-button/tab-button.tsx
  core/src/components/toast/toast.tsx
  core/src/css/normalize.scss
  core/src/css/padding.scss
  core/src/css/text-alignment.scss
  core/src/css/text-transformation.scss
  core/src/interface.d.ts
  core/src/utils/tap-click.ts
Labels: package: core

#16667 chore(swiper): update deps
  core/package.json
  core/src/components/slides/swiper/swiper.bundle.js
Labels: package: core

#16668 fix(angular): swipeBackEnabled global config
  angular/src/directives/navigation/ion-router-outlet.ts
  core/src/utils/gesture/swipe-back.ts
Labels: package: angular, package: core

#16530 fix(angular): remove rogue console debug message
  angular/src/providers/nav-controller.ts
Labels: package: angular

#16686 chore(angular): use tslib
  angular/tsconfig.json
Labels: package: angular

#16688 fix(tab-bar): hide on keyboard events
  core/src/components/tab-bar/tab-bar.tsx
Labels: package: core

#16687 feat(all): vscode HTML autocompletion support
  core/package-lock.json
  core/package.json
Labels: package: core

#16691 fix(item-divider): use prop for sticky
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/item-divider/item-divider.scss
  core/src/components/item-divider/item-divider.tsx
  core/src/components/item-divider/readme.md
Labels: package: angular, package: core

#16704 test(all): use user agent to enable test mode
  core/src/components/progress-bar/progress-bar.scss
  core/src/components/progress-bar/progress-bar.tsx
Labels: package: core

#16700 fix(refresher): close animation and hidden on pull down - Fixes #16254
  core/src/components/refresher/refresher.tsx
  core/src/themes/ionic.globals.scss
Labels: package: core

#16551 refactor(angular): remove unused import
  angular/src/schematics/add/index.ts
Labels: package: angular

#16706 chore(package): update to stencil 0.16.1-5
  core/package.json
Labels: package: core

#16708 chore(angular): strict tslint
  angular/package.json
  angular/src/app-initialize.ts
  angular/src/directives/control-value-accessors/numeric-value-accesssor.ts
  angular/src/directives/control-value-accessors/select-value-accessor.ts
  angular/src/directives/control-value-accessors/text-value-accessor.ts
  angular/src/directives/control-value-accessors/value-accessor.ts
  angular/src/directives/navigation/ion-back-button.ts
  angular/src/directives/navigation/ion-router-outlet.ts
  angular/src/directives/navigation/ion-tabs.ts
  angular/src/directives/navigation/nav-delegate.ts
  angular/src/directives/navigation/router-link-delegate.ts
  angular/src/directives/navigation/stack-controller.ts
  angular/src/directives/navigation/stack-utils.ts
  angular/src/directives/virtual-scroll/virtual-footer.ts
  angular/src/directives/virtual-scroll/virtual-header.ts
  angular/src/directives/virtual-scroll/virtual-item.ts
  angular/src/directives/virtual-scroll/virtual-scroll.ts
  angular/src/ionic-module.ts
  angular/src/providers/action-sheet-controller.ts
  angular/src/providers/alert-controller.ts
  angular/src/providers/angular-delegate.ts
  angular/src/providers/config.ts
  angular/src/providers/events.ts
  angular/src/providers/loading-controller.ts
  angular/src/providers/menu-controller.ts
  angular/src/providers/modal-controller.ts
  angular/src/providers/nav-controller.ts
  angular/src/providers/picker-controller.ts
  angular/src/providers/platform.ts
  angular/src/providers/popover-controller.ts
  angular/src/providers/toast-controller.ts
  angular/src/util/util.ts
  angular/tslint.json
Labels: package: angular

#16707 docs(breaking): update breaking change on tabs
  angular/BREAKING.md
Labels: package: angular

#16710 fix(angular): swipe to go backs in tabs
  angular/src/directives/navigation/ion-router-outlet.ts
  angular/src/directives/navigation/stack-controller.ts
  angular/test/test-app/src/app/home-page/home-page.component.html
  core/src/components/item/item.scss
Labels: package: angular, package: core

#16713 chore(package): update to stencil 0.16.1-6
  core/package.json
Labels: package: core

#16720 chore(): update stencil/ionicons
  angular/src/app-initialize.ts
  angular/test/test-app/scripts/sync.sh
  core/package-lock.json
  core/package.json
Labels: package: angular, package: core

#16721 fix(content): do not scroll on pan-x
  core/package-lock.json
  core/src/components/content/content.scss
  core/src/components/range/range.scss
Labels: package: core

#16727 fix(angular): tab-bar slot=top
  angular/src/directives/navigation/ion-tabs.ts
  angular/test/test-app/package-lock.json
  angular/test/test-app/package.json
Labels: package: angular

#16729 fix(angular): virtual-scroll
  angular/src/directives/virtual-scroll/virtual-scroll.ts
  angular/test/test-app/src/app/app-routing.module.ts
  angular/test/test-app/src/app/app.module.ts
  angular/test/test-app/src/app/home-page/home-page.component.html
  angular/test/test-app/src/app/virtual-scroll-detail/virtual-scroll-detail.component.html
  angular/test/test-app/src/app/virtual-scroll-detail/virtual-scroll-detail.component.ts
  angular/test/test-app/src/app/virtual-scroll-inner/virtual-scroll-inner.component.html
  angular/test/test-app/src/app/virtual-scroll-inner/virtual-scroll-inner.component.ts
  angular/test/test-app/src/app/virtual-scroll/virtual-scroll.component.html
  angular/test/test-app/src/app/virtual-scroll/virtual-scroll.component.ts
Labels: package: angular

#16731 fix(datetime): picker inherits mode
  core/src/components/datetime/datetime.tsx
  core/src/components/select/select.tsx
Labels: package: core

#16748 feat(react): add initial react code.
  react/package.json
  react/src/apis/apis.ts
  react/src/components/AlertModal.tsx
  react/src/components/createComponent.ts
  react/src/components/index.ts
  react/src/declarations.d.ts
  react/src/index.ts
  react/src/react-framework-delegate.ts
  react/src/utils/helpers.ts
  react/src/utils/wc-shim.ts
  react/tsconfig.json
Labels: package: react

#16750 fix(fab-button): get translucent working and with color
  core/src/components/fab-button/fab-button.ios.scss
  core/src/components/fab/test/translucent/e2e.ts
  core/src/components/toolbar/toolbar.ios.vars.scss
Labels: package: core

#16692 fix(fab-button): adding size prop instead of [mini]
  angular/src/directives/proxies.ts
  core/api.txt
  core/scripts/api-spec-generator.js
  core/src/components.d.ts
  core/src/components/fab-button/fab-button.scss
  core/src/components/fab-button/fab-button.tsx
  core/src/components/fab-button/fab-button.vars.scss
  core/src/components/fab-button/readme.md
  core/src/components/fab-button/test/standalone/index.html
  core/src/components/fab-button/usage/angular.md
  core/src/components/fab-button/usage/javascript.md
  core/src/components/fab-list/fab-list.scss
  core/src/components/fab/test/basic/index.html
  core/src/components/fab/test/preview/index.html
  core/src/components/fab/test/translucent/index.html
  core/src/themes/test/css-variables/index.html
Labels: package: angular, package: core

#16751 fix(list): adjust label margin to align with the spec for md
  core/src/components/item/item.md.scss
  core/src/components/item/item.md.vars.scss
  core/src/components/label/label.md.vars.scss
  core/src/components/list/test/icons/e2e.ts
  core/src/components/list/test/icons/index.html
Labels: package: core

#16774 fix(angular): fix sibling router-outlets
  angular/src/directives/navigation/ion-router-outlet.ts
  angular/src/directives/navigation/stack-controller.ts
  angular/test/test-app/e2e/src/nested-outlet.e2e-spec.ts
  angular/test/test-app/e2e/src/utils.ts
  angular/test/test-app/src/app/app-routing.module.ts
  angular/test/test-app/src/app/app.module.ts
  angular/test/test-app/src/app/home-page/home-page.component.html
  angular/test/test-app/src/app/nested-outlet-page/nested-outlet-page.component.html
  angular/test/test-app/src/app/nested-outlet-page/nested-outlet-page.component.ts
  angular/test/test-app/src/app/nested-outlet-page2/nested-outlet-page2.component.html
  angular/test/test-app/src/app/nested-outlet-page2/nested-outlet-page2.component.ts
  angular/test/test-app/src/app/nested-outlet/nested-outlet.component.html
  angular/test/test-app/src/app/nested-outlet/nested-outlet.component.ts
  angular/test/test-app/src/app/tabs-tab1/tabs-tab1.component.html
Labels: package: angular

#16766 fix(tab-bar): adds selected color if tab bar is using a color - Fixes #16761
  core/src/components/tab-bar/tab-bar.scss
  core/src/components/tab-bar/test/scenarios/index.html
Labels: package: core

#16784 chore(): update ionicons
  core/package.json
Labels: package: core

#16802 feat(angular): expose animationDirection
  angular/src/directives/navigation/ion-tabs.ts
  angular/src/directives/navigation/router-link-delegate.ts
  angular/src/directives/navigation/stack-controller.ts
  angular/src/providers/nav-controller.ts
Labels: package: angular

#16814 fix(core): ts lint issue
  core/src/components/nav/nav-interface.ts
Labels: package: core

#16810 fix(angular): Fix cordova browser error when resumed
  angular/src/util/util.ts
Labels: package: angular

#16821 fix(segment): update indicator and border based on theme
  core/src/components/segment/segment.ios.scss
  core/src/components/segment/segment.md.scss
  core/src/components/segment/test/custom/index.html
Labels: package: core

#16826 fix(select): interfaceOptions can customize mode
  core/src/components/datetime/datetime.tsx
  core/src/components/select/select.tsx
Labels: package: core

#16830 feat(react): create initial portal implementation for overlay ctrls
  react/README.md
  react/src/components/IonActionSheet.tsx
  react/src/components/IonModal.tsx
  react/src/components/IonPopover.tsx
  react/src/components/createOverlayComponent.tsx
Labels: package: react

#16840 docs(react): remove ion-animation from the list of components.
  react/README.md
Labels: package: react

#16843 React dependencies
  react/package.json
Labels: package: react

#16844 chore(react): update version after release.
  README.md
  react/package.json
Labels: package: react

#16842 refactor(animation): remove ion-animation-controller
  core/api.txt
  core/src/components.d.ts
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/alert/alert.tsx
  core/src/components/animation-controller/animation-controller.tsx
  core/src/components/animation-controller/readme.md
  core/src/components/loading/loading.tsx
  core/src/components/menu-controller/menu-controller.ts
  core/src/components/modal/modal.tsx
  core/src/components/nav/nav.tsx
  core/src/components/nav/readme.md
  core/src/components/nav/test/nav-controller.spec.ts
  core/src/components/picker/picker.tsx
  core/src/components/popover/popover.tsx
  core/src/components/router-outlet/route-outlet.tsx
  core/src/components/toast/toast.tsx
  core/src/css/core.scss
  core/src/interface.d.ts
  core/src/utils/animation/animation-interface.ts
  core/src/utils/animation/animator.ts
  core/src/utils/animation/index.ts
  core/src/utils/animation/transition-end.ts
  core/src/utils/overlay-public.ts
  core/src/utils/overlays-interface.ts
  core/src/utils/overlays.ts
  core/src/utils/transition.ts
  core/stencil.config.ts
Labels: package: angular, package: core

#16888 perf(angular): proxy fast properties
  angular/src/directives/proxies.ts
  angular/src/directives/virtual-scroll/virtual-scroll.ts
  angular/src/providers/platform.ts
  angular/src/util/overlay.ts
  angular/src/util/util.ts
  core/package.json
Labels: package: angular

#16903 fix(overlays): make them hidden until presented
  core/api.txt
  core/src/components.d.ts
  core/src/components/action-sheet/action-sheet.scss
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/action-sheet/readme.md
  core/src/components/alert/alert.scss
  core/src/components/alert/alert.tsx
  core/src/components/alert/readme.md
  core/src/components/loading/loading.scss
  core/src/components/loading/loading.tsx
  core/src/components/loading/readme.md
  core/src/components/menu-button/menu-button.scss
  core/src/components/modal/modal.scss
  core/src/components/modal/modal.tsx
  core/src/components/modal/readme.md
  core/src/components/picker/picker.scss
  core/src/components/picker/picker.tsx
  core/src/components/picker/readme.md
  core/src/components/popover/popover.scss
  core/src/components/popover/popover.tsx
  core/src/components/popover/readme.md
  core/src/components/toast/readme.md
  core/src/components/toast/toast.scss
  core/src/components/toast/toast.tsx
  core/src/utils/overlays.ts
Labels: package: core

#16905 fix(tab-button): allow standalone tab-button
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/tab-button/readme.md
  core/src/components/tab-button/tab-button.tsx
  core/src/components/tab/tab.tsx
Labels: package: angular, package: core

#16914 Update readme.md
  core/src/components/infinite-scroll/readme.md
  core/src/components/infinite-scroll/usage/angular.md
Labels: package: core

#16921 chore(): update stencil
  angular/src/directives/proxies-list.txt
  angular/src/directives/proxies.ts
  angular/src/ionic-module.ts
  core/api.txt
  core/package.json
  core/src/components.d.ts
  core/src/components/action-sheet/readme.md
  core/src/components/modal/readme.md
  core/src/components/picker-column/picker-column.tsx
  core/src/components/picker-column/readme.md
  core/src/components/picker-controller/picker-controller.tsx
  core/src/components/popover/readme.md
  core/src/components/route-redirect/readme.md
  core/src/components/route/readme.md
  core/src/components/select-popover/select-popover.tsx
  core/src/components/tab/readme.md
Labels: package: angular, package: core
