Repository ionic-team/ionic-framework, pull requests merged in 2018-11, with the labels that each got.

#16178 test(all): add medium weight of Roboto for screenshots
  core/scripts/testing/styles.css
Labels: core

#16180 test(input): fix input and popover e2e
  core/src/components/item/test/inputs/e2e.ts
  core/src/components/popover/test/basic/e2e.ts
Labels: core

#16177 fix(all): edge currentColor bug
  core/src/components/buttons/buttons.ios.scss
  core/src/components/buttons/buttons.md.scss
  core/src/components/chip/chip.scss
  core/src/components/input/input.scss
  core/src/components/item/item.scss
  core/src/components/label/label.scss
  core/src/components/menu-button/menu-button.md.scss
  core/src/components/searchbar/searchbar.md.scss
  core/src/components/searchbar/searchbar.scss
  core/src/components/textarea/textarea.scss
  core/src/components/title/title.scss
Labels: core

#16181 fix(searchbar): fix crash on cancel event
  core/src/components/searchbar/searchbar.tsx
Labels: core

#16179 fix(tab-bar): safe-bottom area is applied correctly
  core/src/components/tab-bar/tab-bar.scss
  core/src/components/tabs/test/basic/index.html
Labels: core

#16186 fix(checkbox): match MD spec
  core/src/components/checkbox/checkbox.ios.scss
  core/src/components/checkbox/checkbox.md.scss
  core/src/components/checkbox/checkbox.md.vars.scss
  core/src/components/checkbox/checkbox.scss
  core/src/components/checkbox/checkbox.tsx
  core/src/components/checkbox/readme.md
  core/src/components/checkbox/test/basic/index.html
Labels: core

#16183 fix(menu): update box-shadow for MD to match spec
  core/src/components/menu/menu.md.vars.scss
Labels: core

#16193 [WIP] docs(all): add global config docs
  core/src/components.d.ts
  core/src/components/infinite-scroll-content/infinite-scroll-content.tsx
  core/src/components/infinite-scroll-content/readme.md
  core/src/components/loading/loading-interface.ts
  core/src/components/loading/loading.tsx
  core/src/components/loading/readme.md
  core/src/components/loading/test/basic/index.html
  core/src/components/loading/test/preview/index.html
  core/src/components/loading/test/standalone/index.html
  core/src/components/loading/usage/angular.md
  core/src/components/loading/usage/javascript.md
  core/src/components/refresher-content/readme.md
  core/src/components/refresher-content/refresher-content.tsx
  core/src/components/split-pane/split-pane.tsx
  core/src/components/tab-bar/tab-bar-interface.ts
  core/src/components/tab-bar/tab-bar.ios.scss
  core/src/components/tab-bar/tab-bar.tsx
  core/src/components/tab-button/readme.md
  core/src/components/tab-button/tab-button.tsx
  core/src/components/tabs/readme.md
  core/src/components/tabs/tabs.tsx
  core/src/components/tabs/usage/angular.md
  core/src/components/tabs/usage/javascript.md
  core/src/utils/config.ts
Labels: core

#16111 fix(label): placeholder + floating label
  core/src/components.d.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/input/input.tsx
  core/src/components/input/readme.md
  core/src/components/label/label.scss
  core/src/components/select-option/select-option.tsx
  core/src/components/select/select.tsx
  core/src/components/select/test/label/e2e.ts
  core/src/components/select/test/label/index.html
  core/src/components/textarea/readme.md
  core/src/components/textarea/textarea.tsx
  core/src/utils/input-interface.ts
Labels: core

#16206 fix(input): scroll assist works in with shadow-dom
  core/src/components.d.ts
  core/src/components/input/input.scss
  core/src/components/input/input.tsx
  core/src/components/input/readme.md
  core/src/components/input/test/basic/index.html
  core/src/utils/input-shims/hacks/common.ts
  core/src/utils/input-shims/hacks/hide-caret.ts
  core/src/utils/input-shims/hacks/input-blurring.ts
  core/src/utils/input-shims/hacks/scroll-data.ts
Labels: core

#16207 fix(angular): es6 build
  angular/src/providers/platform.ts
  core/src/components/input/readme.md
  core/src/interface.d.ts
Labels: angular, core

#16218 fix(all): update types to be required
  core/src/components.d.ts
  core/src/components/menu/menu.tsx
  core/src/components/menu/readme.md
  core/src/components/route-redirect/readme.md
  core/src/components/route-redirect/route-redirect.tsx
  core/src/components/router/utils/dom.ts
  core/src/components/tab-bar/tab-bar-interface.ts
  core/src/components/tab-button/readme.md
  core/src/components/tab-button/tab-button.tsx
  core/src/components/tab/readme.md
  core/src/components/tab/tab.tsx
Labels: core

#16182 fix(item): update to match Material Design spec
  core/src/components/alert/alert.ios.vars.scss
  core/src/components/alert/alert.md.vars.scss
  core/src/components/checkbox/checkbox.md.vars.scss
  core/src/components/datetime/datetime.md.vars.scss
  core/src/components/input/input.md.vars.scss
  core/src/components/item-divider/item-divider.md.scss
  core/src/components/item-divider/item-divider.md.vars.scss
  core/src/components/item/item.ios.scss
  core/src/components/item/item.ios.vars.scss
  core/src/components/item/item.md.scss
  core/src/components/item/item.md.vars.scss
  core/src/components/item/item.scss
  core/src/components/item/item.vars.scss
  core/src/components/label/label.md.scss
  core/src/components/label/label.md.vars.scss
  core/src/components/list/list.md.scss
  core/src/components/list/list.md.vars.scss
  core/src/components/list/test/spec/e2e.ts
  core/src/components/list/test/spec/index.html
  core/src/components/note/note.md.vars.scss
  core/src/components/note/note.scss
  core/src/components/note/readme.md
  core/src/components/radio/radio.md.vars.scss
  core/src/components/select/select.md.scss
  core/src/components/select/select.md.vars.scss
  core/src/components/textarea/textarea.md.vars.scss
  core/src/components/toggle/toggle.md.vars.scss
Labels: core

#16188 fix(backdrop): update the opacity to match the MD spec
  core/src/components/action-sheet/animations/md.enter.ts
  core/src/components/action-sheet/animations/md.leave.ts
  core/src/components/alert/animations/md.enter.ts
  core/src/components/alert/animations/md.leave.ts
  core/src/components/loading/animations/md.enter.ts
  core/src/components/loading/animations/md.leave.ts
  core/src/components/menu-controller/animations/overlay.ts
  core/src/components/menu-controller/animations/push.ts
  core/src/components/modal/animations/md.enter.ts
  core/src/components/modal/animations/md.leave.ts
  core/src/components/popover/animations/md.enter.ts
  core/src/components/popover/animations/md.leave.ts
Labels: core

#16224 fix(range): use fully opaque base in color active bar
  core/src/components/range/range.md.scss
Labels: core

#16225 docs(tabs): document custom properties
  core/src/components/tab-bar/readme.md
  core/src/components/tab-bar/tab-bar.scss
  core/src/components/tab-button/readme.md
  core/src/components/tab-button/tab-button.scss
Labels: core

#16247 test(menu): add buttons and test push type
  core/src/components/menu/test/basic/e2e.ts
  core/src/components/menu/test/basic/index.html
  core/src/components/menu/test/standalone/e2e.ts
  core/src/components/menu/test/standalone/index.html
Labels: core

#16249 docs(menu): document custom properties
  core/src/components/menu-button/menu-button.scss
  core/src/components/menu-button/readme.md
  core/src/components/menu/menu.scss
  core/src/components/menu/readme.md
Labels: core

#16250 docs(action-sheet): document custom properties
  core/src/components/action-sheet/action-sheet.scss
  core/src/components/action-sheet/readme.md
Labels: core

#16251 docs(alert): document custom properties
  core/src/components/alert/alert.scss
  core/src/components/alert/readme.md
Labels: core

#16261 test(searchbar): add focused state screenshot
  core/src/components/searchbar/test/basic/e2e.ts
  core/src/components/searchbar/test/standalone/e2e.ts
Labels: core

#16259 fix(searchbar): align cancel button to center with search icon position
  core/src/components/searchbar/searchbar.md.scss
  core/src/components/searchbar/searchbar.md.vars.scss
Labels: core

#16274 fix(list-header): match MD bottom margin, match MD text color
  core/src/components/list-header/list-header.md.scss
  core/src/components/list-header/list-header.md.vars.scss
Labels: core

#16264 refactor(chip): update styles, remove chip-icon and chip-button
  angular/BREAKING.md
  angular/src/directives/proxies-list.txt
  angular/src/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/chip-button/chip-button.scss
  core/src/components/chip-button/chip-button.tsx
  core/src/components/chip-button/chip-button.vars.scss
  core/src/components/chip-button/readme.md
  core/src/components/chip-button/usage/angular.md
  core/src/components/chip-button/usage/javascript.md
  core/src/components/chip-icon/chip-icon.scss
  core/src/components/chip-icon/chip-icon.tsx
  core/src/components/chip-icon/chip-icon.vars.scss
  core/src/components/chip-icon/readme.md
  core/src/components/chip/chip.ios.scss
  core/src/components/chip/chip.ios.vars.scss
  core/src/components/chip/chip.md.scss
  core/src/components/chip/chip.md.vars.scss
  core/src/components/chip/chip.scss
  core/src/components/chip/chip.tsx
  core/src/components/chip/chip.vars.scss
  core/src/components/chip/readme.md
  core/src/components/chip/test/basic/index.html
  core/src/components/chip/test/preview/index.html
  core/src/components/chip/test/standalone/index.html
  core/src/components/chip/usage/angular.md
  core/src/components/chip/usage/javascript.md
  core/stencil.config.ts
Labels: core

#16277 fix(toggle): match MD toggle track background for off state
  core/src/components/toggle/toggle.md.vars.scss
Labels: core

#16312 fix(range): increase MD horizontal padding
  core/src/components/range/range.md.vars.scss
Labels: core

#16323 fix(toast): update toast design to match MD spec
  core/src/components/animation-controller/animation-interface.tsx
  core/src/components/toast/animations/ios.enter.ts
  core/src/components/toast/animations/ios.leave.ts
  core/src/components/toast/animations/md.enter.ts
  core/src/components/toast/animations/md.leave.ts
  core/src/components/toast/test/basic/e2e.ts
  core/src/components/toast/test/basic/index.html
  core/src/components/toast/toast.ios.scss
  core/src/components/toast/toast.md.scss
  core/src/components/toast/toast.md.vars.scss
  core/src/components/toast/toast.scss
  core/src/components/toast/toast.tsx
  core/src/components/toast/toast.vars.scss
  core/src/themes/test/css-variables/index.html
  core/src/utils/overlays.ts
  core/src/utils/transition.ts
Labels: core

#16227 Fix typo in `height` variable
  core/src/components/fab-button/fab-button.scss
Labels: core

#16331 fix(checkbox): align vertically
  core/src/components/checkbox/checkbox.ios.vars.scss
  core/src/components/checkbox/checkbox.md.vars.scss
  core/src/components/checkbox/checkbox.scss
Labels: core

#16332 fix(tab-button): layout is mutable
  core/src/components/tab-button/tab-button.tsx
Labels: core

#16330 fix(ripple-effect): follow MD spec
  core/src/components.d.ts
  core/src/components/action-sheet/action-sheet.md.scss
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/alert/alert.md.scss
  core/src/components/alert/alert.tsx
  core/src/components/button/button.ios.scss
  core/src/components/button/button.md.scss
  core/src/components/button/button.scss
  core/src/components/fab-button/fab-button.md.scss
  core/src/components/item/item.md.scss
  core/src/components/ripple-effect/readme.md
  core/src/components/ripple-effect/ripple-effect.scss
  core/src/components/ripple-effect/ripple-effect.tsx
  core/src/utils/tap-click.ts
Labels: core

#16344 fix(segment): adds global variables for targeting segment in toolbar
  core/src/components/segment-button/segment-button.ios.scss
  core/src/components/segment-button/segment-button.ios.vars.scss
  core/src/components/segment-button/segment-button.md.scss
  core/src/components/segment-button/segment-button.md.vars.scss
  core/src/components/segment/segment.ios.scss
  core/src/components/segment/segment.md.scss
  core/src/components/segment/segment.md.vars.scss
  core/src/components/segment/test/toolbar/index.html
Labels: core

#16361 fix(toast): Make longer toasts available with pre-wrap
  core/src/components/toast/toast.scss
Labels: core

#16378 fix(toolbar): match MD button spec
  core/src/components/buttons/buttons.md.scss
Labels: core

#16392 fix(angular): fix tabs with useHash
  angular/src/directives/navigation/ion-router-outlet.ts
  angular/src/directives/navigation/stack-controller.ts
Labels: angular

#16393 feat(ripple-effect): add option to disable ripple-effect
  core/src/components/app/app.tsx
  core/src/components/ripple-effect/ripple-effect.tsx
  core/src/utils/config.ts
  core/src/utils/tap-click.ts
Labels: core

#16399 feat(ripple): adds unbounded ripple-effect
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/button/button.scss
  core/src/components/button/button.tsx
  core/src/components/buttons/buttons.scss
  core/src/components/ripple-effect/readme.md
  core/src/components/ripple-effect/ripple-effect.scss
  core/src/components/ripple-effect/ripple-effect.tsx
  core/src/components/tab-button/readme.md
  core/src/components/tab-button/tab-button.scss
  core/src/components/tab-button/tab-button.tsx
Labels: core

#16405 fix(angular): tune routerLink default behaviour
  angular/src/directives/navigation/href-delegate.ts
  angular/src/directives/navigation/ion-back-button.ts
  angular/src/directives/navigation/stack-controller.ts
  angular/src/directives/navigation/tabs-delegate.ts
  angular/src/directives/virtual-scroll/virtual-scroll.ts
  angular/src/providers/nav-controller.ts
Labels: angular

#16408 chore(): rename style to css-prop
  core/api.txt
  core/scripts/api-spec-generator.js
Labels: core

#16415 chore(package): update to stencil 0.16.0-5
  core/package.json
Labels: core

#16416 chore(scripts): rename npm run dev to npm start
  core/CONTRIBUTING.md
  core/package.json
  core/scripts/readme.md
Labels: core

#16417 fix(angular): es6 classes break in ie11
  angular/src/providers/platform.ts
Labels: angular

#16420 fix(angular): default value of BooleanValueAccessor should be false
  angular/src/directives/control-value-accessors/boolean-value-accessor.ts
Labels: angular

#16454 fix(themes): update default toolbar and tab background to #fff
  core/src/components/toolbar/test/translucent/index.html
  core/src/themes/ionic.theme.default.ios.scss
  core/src/themes/ionic.theme.default.md.scss
Labels: core

#16460 chore(): update stencil
  core/api.txt
  core/package.json
  core/scripts/api-spec-generator.js
  core/src/components/action-sheet/readme.md
  core/src/components/alert/readme.md
  core/src/components/animation-controller/readme.md
  core/src/components/button/button.tsx
  core/src/components/datetime/readme.md
  core/src/components/fab/fab.tsx
  core/src/components/item-divider/item-divider.tsx
  core/src/components/item/item.tsx
  core/src/components/label/label.tsx
  core/src/components/list/list.tsx
  core/src/components/loading/readme.md
  core/src/components/menu-controller/readme.md
  core/src/components/modal/readme.md
  core/src/components/nav/readme.md
  core/src/components/picker/readme.md
  core/src/components/popover/readme.md
  core/src/components/ripple-effect/ripple-effect.tsx
  core/src/components/router-outlet/readme.md
  core/src/components/segment-button/segment-button.tsx
  core/src/components/toast/readme.md
  core/src/components/virtual-scroll/readme.md
  core/src/utils/theme.ts
  core/tslint.json
Labels: core

#16456 fix(list): do not style last child items by default
  core/src/components/list/list.ios.scss
  core/src/components/list/list.md.scss
  core/src/components/list/test/lines/index.html
Labels: core

#16461 fix(label): move default flex and margin to item
  core/src/components/item-divider/item-divider.ios.scss
  core/src/components/item-divider/item-divider.md.scss
  core/src/components/item/item.ios.scss
  core/src/components/item/item.md.scss
  core/src/components/item/item.scss
  core/src/components/label/label.ios.scss
  core/src/components/label/label.md.scss
  core/src/components/label/label.scss
Labels: core

#16464 fix(range): add slot margins
  core/src/components/range/range.ios.scss
  core/src/components/range/range.md.scss
  core/src/components/range/test/basic/index.html
Labels: core

#16463 docs(breaking): add show-when and hide-when to breaking
  angular/BREAKING.md
Labels: angular

#15323 WIP: feat(): support ng add
  angular/package.json
  angular/scripts/build-core.js
  angular/src/schematics/add/files/root/theme/variables.css
  angular/src/schematics/add/index.ts
  angular/src/schematics/add/schema.d.ts
  angular/src/schematics/add/schema.json
  angular/src/schematics/collection.json
  angular/src/schematics/utils/ast.ts
  angular/src/schematics/utils/config.ts
  angular/src/schematics/utils/devkit-utils/ast-utils.ts
  angular/src/schematics/utils/devkit-utils/change.ts
  angular/src/schematics/utils/devkit-utils/readme.md
  angular/src/schematics/utils/devkit-utils/route-utils.ts
  angular/src/schematics/utils/package.ts
  angular/tsconfig.json
  angular/tsconfig.schematics.json
Labels: angular

#16478 docs(): add ng-add testing docs to readme
  angular/README.md
Labels: angular

#16479 fix(tabs): update link
  core/src/components/tabs/readme.md
Labels: core

#16494 test(angular): add navigation tests
  angular/src/providers/nav-controller.ts
  angular/test/test-app/README.md
  angular/test/test-app/e2e/src/inputs.e2e-spec.ts
  angular/test/test-app/e2e/src/modal.e2e-spec.ts
  angular/test/test-app/e2e/src/router-link.e2e-spec.ts
  angular/test/test-app/e2e/src/utils.ts
  angular/test/test-app/package.json
  angular/test/test-app/scripts/build-ionic.sh
  angular/test/test-app/scripts/sync.sh
  angular/test/test-app/src/app/app-routing.module.ts
  angular/test/test-app/src/app/app.module.ts
  angular/test/test-app/src/app/home-page/home-page.component.html
  angular/test/test-app/src/app/home-page/home-page.component.ts
  angular/test/test-app/src/app/inputs-test/inputs-test.component.css
  angular/test/test-app/src/app/inputs/inputs.component.html
  angular/test/test-app/src/app/inputs/inputs.component.ts
  angular/test/test-app/src/app/modal-example/modal-example.component.html
  angular/test/test-app/src/app/modal-example/modal-example.component.ts
  angular/test/test-app/src/app/modal/modal.component.html
  angular/test/test-app/src/app/modal/modal.component.ts
  angular/test/test-app/src/app/router-link-page/router-link-page.component.html
  angular/test/test-app/src/app/router-link-page/router-link-page.component.ts
  angular/test/test-app/src/app/router-link/router-link.component.html
  angular/test/test-app/src/app/router-link/router-link.component.ts
  core/api.txt
  core/src/components/select/readme.md
  core/src/components/select/select.ios.scss
  core/src/components/select/select.md.scss
  core/src/components/select/select.scss
  core/src/components/select/test/basic/index.html
Labels: angular, core

#16496 test(angular): add CI
  .circleci/config.yml
  angular/src/directives/navigation/tab-delegate.ts
  angular/test/test-app/e2e/src/inputs.e2e-spec.ts
  angular/test/test-app/e2e/tsconfig.e2e.json
  angular/test/test-app/package.json
  angular/test/test-app/src/app/app-routing.module.ts
  angular/test/test-app/src/app/app.module.ts
  angular/test/test-app/src/app/home-page/home-page.component.html
  angular/test/test-app/src/app/home-page/home-page.component.ts
  angular/test/test-app/src/app/inputs/inputs.component.ts
  angular/test/test-app/src/app/tabs/tabs.component.html
  angular/test/test-app/src/app/tabs/tabs.component.ts
  angular/test/test-app/src/tsconfig.app.json
  angular/tsconfig.json
  core/stencil.config.ts
Labels: angular, core

#16413 docs(split-pane): Default breakpoint
  core/src/components/split-pane/readme.md
Labels: core

#16488 Respect radio button width and height variables on iOS
  core/api.txt
  core/src/components/radio/radio.ios.scss
  core/src/components/radio/radio.scss
  core/src/components/radio/readme.md
Labels: core

#16511 Fix weird segment sizing
  core/src/components/segment-button/segment-button.scss
  core/src/components/segment/segment.scss
  core/src/components/segment/test/bug/index.html
Labels: core

#16515 docs: add docs package
  core/stencil.config.ts
  docs/.gitignore
  docs/README.md
  docs/package.json
Labels: package: core

#16543 refactor(themes): combine background/color steps to one var
  core/src/themes/ionic.theme.default.scss
  core/src/themes/test/steps/index.html
Labels: package: core
