Repository ionic-team/ionic-framework, pull requests merged in 2019-07, with the labels that each got.

#18685 fix(fab-button): use correct opacity for a disabled button
  core/src/components/fab-button/fab-button.scss
Labels: package: angular, package: core

#18696 fix(item): do not disable entire item if there are multiple inputs
  core/src/components/item/item.scss
  core/src/components/item/item.tsx
  core/src/components/item/test/disabled/e2e.ts
  core/src/components/item/test/disabled/index.html
  core/src/components/label/label.scss
Labels: package: angular, package: core

#18699 fix(menu-button): move font-size to host for easier customization
  core/src/components/menu-button/menu-button.ios.scss
  core/src/components/menu-button/menu-button.md.scss
  core/src/components/menu-button/test/basic/index.html
Labels: package: core

#18702 fix(menu-button): hide menu button when auto hide or split pane
  core/src/components/menu-button/menu-button.scss
  core/src/components/menu-button/menu-button.tsx
  core/src/components/menu-button/readme.md
  core/src/components/menu-button/test/basic/index.html
  core/src/components/menu-toggle/menu-toggle-util.ts
  core/src/components/menu-toggle/menu-toggle.tsx
  core/src/components/menu-toggle/readme.md
  core/src/components/split-pane/test/basic/index.html
Labels: package: core

#18709 fix(overlays): fallback to step color if overlay background variable is unset
  core/src/themes/ionic.theme.default.ios.scss
  core/src/themes/ionic.theme.default.md.scss
  core/src/themes/test/css-variables/index.html
Labels: package: core

#18665 4.6.1 hotfix
  CHANGELOG.md
  angular/package.json
  angular/src/app-initialize.ts
  angular/src/directives/control-value-accessors/value-accessor.ts
  angular/src/directives/navigation/ion-router-outlet.ts
  angular/src/directives/navigation/stack-controller.ts
  angular/src/directives/proxies-utils.ts
  angular/src/directives/proxies.ts
  angular/src/ionic-module.ts
  angular/src/providers/angular-delegate.ts
  angular/src/util/overlay.ts
  angular/test/test-app/e2e/src/router-link.e2e-spec.ts
  angular/test/test-app/package-lock.json
  angular/test/test-app/package.json
  angular/test/test-app/src/app/alert/alert.component.ts
  angular/test/test-app/src/app/inputs/inputs.component.html
  angular/test/test-app/src/app/inputs/inputs.component.ts
  angular/test/test-app/src/app/router-link/router-link.component.html
  angular/test/test-app/src/app/router-link/router-link.component.ts
  core/README.md
  core/api.txt
  core/package.json
  core/src/components.d.ts
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/alert/alert.tsx
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/basic/index.html
  core/src/components/fab-button/fab-button.scss
  core/src/components/infinite-scroll/infinite-scroll.tsx
  core/src/components/item/item.scss
  core/src/components/item/item.tsx
  core/src/components/item/test/disabled/e2e.ts
  core/src/components/item/test/disabled/index.html
  core/src/components/label/label.scss
  core/src/components/picker/picker.tsx
  core/src/components/router-link/readme.md
  core/src/components/router-link/router-link.tsx
  core/src/components/router-link/test/basic/index.html
  core/src/components/router-outlet/readme.md
  core/src/components/router-outlet/route-outlet.tsx
  core/src/components/select-popover/select-popover.tsx
  core/src/components/tab-bar/tab-bar.tsx
  core/src/components/toast/toast.tsx
  core/src/utils/config.ts
  core/src/utils/overlays.ts
  core/stencil.config.ts
  docs/package.json
Labels: package: angular, package: core

#18732 4.6.1 hotfix
  CHANGELOG.md
  angular/package.json
  angular/src/app-initialize.ts
  angular/src/directives/control-value-accessors/value-accessor.ts
  angular/src/directives/navigation/ion-router-outlet.ts
  angular/src/directives/navigation/stack-controller.ts
  angular/src/directives/proxies-utils.ts
  angular/src/directives/proxies.ts
  angular/src/ionic-module.ts
  angular/src/providers/angular-delegate.ts
  angular/src/util/overlay.ts
  angular/test/test-app/e2e/src/router-link.e2e-spec.ts
  angular/test/test-app/package-lock.json
  angular/test/test-app/package.json
  angular/test/test-app/src/app/alert/alert.component.ts
  angular/test/test-app/src/app/inputs/inputs.component.html
  angular/test/test-app/src/app/inputs/inputs.component.ts
  angular/test/test-app/src/app/router-link/router-link.component.html
  angular/test/test-app/src/app/router-link/router-link.component.ts
  core/README.md
  core/api.txt
  core/package.json
  core/src/components.d.ts
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/alert/alert.tsx
  core/src/components/fab-button/fab-button.scss
  core/src/components/infinite-scroll/infinite-scroll.tsx
  core/src/components/item/item.scss
  core/src/components/item/item.tsx
  core/src/components/item/test/disabled/e2e.ts
  core/src/components/item/test/disabled/index.html
  core/src/components/label/label.scss
  core/src/components/picker/picker.tsx
  core/src/components/router-link/readme.md
  core/src/components/router-link/router-link.tsx
  core/src/components/router-link/test/basic/index.html
  core/src/components/router-outlet/readme.md
  core/src/components/router-outlet/route-outlet.tsx
  core/src/components/select-popover/select-popover.tsx
  core/src/components/tab-bar/tab-bar.tsx
  core/src/components/toast/toast.tsx
  core/src/utils/config.ts
  core/src/utils/overlays.ts
  core/stencil.config.ts
  docs/package.json
Labels: package: angular, package: core

#18752 fix(angular): virtual-scroll
  angular/src/directives/virtual-scroll/virtual-scroll.ts
  angular/test/test-app/e2e/protractor.conf.js
  angular/test/test-app/e2e/src/form.e2e-spec.ts
  angular/test/test-app/e2e/src/inputs.e2e-spec.ts
  angular/test/test-app/e2e/src/modal.e2e-spec.ts
  angular/test/test-app/e2e/src/navigation.e2e-spec.ts
  angular/test/test-app/e2e/src/nested-outlet.e2e-spec.ts
  angular/test/test-app/e2e/src/providers.e2e-spec.ts
  angular/test/test-app/e2e/src/router-link.e2e-spec.ts
  angular/test/test-app/e2e/src/slides.e2e-spec.ts
  angular/test/test-app/e2e/src/tabs.e2e-spec.ts
  angular/test/test-app/e2e/src/utils.ts
  angular/test/test-app/e2e/src/view-child.e2e-spec.ts
  angular/test/test-app/e2e/src/virtual-scroll.e2e-spec.ts
  angular/test/test-app/package.json
Labels: package: angular

#18756 Release 4.6.2
  CHANGELOG.md
  angular/package.json
  core/README.md
  core/package.json
  docs/package.json
Labels: package: angular, package: core

#18780 React beta 7
  react/package.json
  react/src/components/IonApp.tsx
  react/src/components/IonItem.tsx
  react/src/components/index.ts
  react/src/components/inner-proxies.ts
  react/src/components/navigation/IonBackButton.tsx
  react/src/components/navigation/IonTabBar.tsx
  react/src/components/navigation/routing/IonRouterOutlet.tsx
  react/src/components/navigation/routing/NavContext.ts
  react/src/components/navigation/routing/ReactRouter/IonReactRouter.tsx
  react/src/components/proxies.ts
Labels: package: react

#18735 fix(theming): update components to use the proper colors for themes
  core/src/components/action-sheet/action-sheet.ios.vars.scss
  core/src/components/action-sheet/action-sheet.md.vars.scss
  core/src/components/alert/alert.ios.vars.scss
  core/src/components/button/button.md.vars.scss
  core/src/components/checkbox/checkbox.ios.vars.scss
  core/src/components/checkbox/checkbox.md.vars.scss
  core/src/components/chip/chip.scss
  core/src/components/fab-button/fab-button.md.vars.scss
  core/src/components/item/item.ios.vars.scss
  core/src/components/item/item.md.vars.scss
  core/src/components/loading/loading.ios.vars.scss
  core/src/components/range/range.ios.vars.scss
  core/src/components/searchbar/searchbar.ios.vars.scss
  core/src/components/segment-button/segment-button.md.vars.scss
  core/src/components/skeleton-text/skeleton-text.vars.scss
  core/src/components/slides/slides.ios.vars.scss
  core/src/components/slides/slides.md.vars.scss
  core/src/components/toggle/toggle.ios.scss
  core/src/components/toggle/toggle.ios.vars.scss
  core/src/components/toggle/toggle.md.vars.scss
  core/src/themes/ionic.theme.default.ios.scss
  core/src/themes/ionic.theme.default.md.scss
  core/src/themes/ionic.theme.default.scss
  core/src/themes/test/css-variables/css/dark.css
  core/src/themes/test/css-variables/index.html
Labels: package: core

#18645 chore(): change peer deps to support ng8
  angular/package.json
Labels: package: angular

#18820 fix(inputs): apply ng form classes
  angular/src/app-initialize.ts
  angular/src/directives/control-value-accessors/value-accessor.ts
  angular/src/util/util.ts
Labels: package: angular

#18794 fix(hardwareBackButton): added missing import of hardware back button…
  core/src/components/app/app.tsx
Labels: package: core

#18822 fix(textarea): autogrow
  core/src/components/textarea/textarea.tsx
Labels: package: core

#18821 fix(router-outlet): attach entering view before first change detection
  angular/src/directives/navigation/ion-router-outlet.ts
  angular/src/directives/navigation/stack-controller.ts
  angular/src/providers/angular-delegate.ts
  angular/test/test-app/e2e/src/router-link.e2e-spec.ts
  angular/test/test-app/e2e/src/utils.ts
  angular/test/test-app/src/app/alert/alert.component.html
  angular/test/test-app/src/app/alert/alert.component.ts
  angular/test/test-app/src/app/router-link-page/router-link-page.component.html
  angular/test/test-app/src/app/router-link-page/router-link-page.component.ts
  core/scripts/swiper.rollup.config.js
Labels: package: angular, package: core

#18695 feat(transition): iOS page transition shadow
  core/scripts/testing/scripts.js
  core/src/components/content/content.scss
  core/src/components/content/content.tsx
  core/src/components/content/test/basic/index.html
  core/src/utils/config.ts
  core/src/utils/transition/ios.transition.ts
  core/src/utils/transition/md.transition.ts
Labels: package: core

#18806 fix(menu-controller): add swipeGesture proxy
  angular/src/providers/menu-controller.ts
Labels: package: angular

#18832 fix(components): apply translucent if backdrop-filter is supported
  core/src/components.d.ts
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/action-sheet/readme.md
  core/src/components/alert/alert.ios.scss
  core/src/components/alert/alert.tsx
  core/src/components/alert/readme.md
  core/src/components/card-header/card-header.ios.scss
  core/src/components/card-header/card-header.tsx
  core/src/components/card-header/readme.md
  core/src/components/fab-button/fab-button.tsx
  core/src/components/fab-button/readme.md
  core/src/components/footer/footer.ios.scss
  core/src/components/footer/footer.tsx
  core/src/components/footer/readme.md
  core/src/components/header/header.ios.scss
  core/src/components/header/header.tsx
  core/src/components/header/readme.md
  core/src/components/loading/loading.ios.scss
  core/src/components/loading/loading.tsx
  core/src/components/loading/readme.md
  core/src/components/popover/popover.ios.scss
  core/src/components/popover/popover.tsx
  core/src/components/popover/readme.md
  core/src/components/tab-bar/readme.md
  core/src/components/tab-bar/tab-bar.ios.scss
  core/src/components/tab-bar/tab-bar.tsx
  core/src/components/toast/readme.md
  core/src/components/toast/toast.ios.scss
  core/src/components/toast/toast.tsx
Labels: package: core

#18848 docs(nav-controller): full review of docs
  angular/src/providers/nav-controller.ts
Labels: package: angular

#18853 fix(platform): wrap event listeners around zone
  angular/src/providers/platform.ts
  angular/test/test-app/e2e/src/providers.e2e-spec.ts
  angular/test/test-app/src/app/providers/providers.component.html
  angular/test/test-app/src/app/providers/providers.component.ts
Labels: package: angular

#18854 fix(tap-click): ensure ripple is removed
  core/src/utils/tap-click.ts
Labels: package: core

#18846 feat(): support for stackblitz
  .scripts/common.js
  .scripts/prepare.js
  .scripts/release-dev.js
  angular/package.json
  core/README.md
  core/package.json
  core/scripts/cdn-loader.js
  core/scripts/copy-cdn-loader.js
  core/src/components.d.ts
  core/src/components/anchor/readme.md
  react/package.json
Labels: package: angular, package: core, package: react

#18861 chore(ionicons): update to ionicons 4.6.2
  core/package.json
  react/package.json
Labels: package: core, package: react

#18797 feat(searchbar): improve accessibility
  core/src/components/searchbar/searchbar.tsx
Labels: package: core

#18863 chore(ssr): fix document.body reference
  angular/src/app-initialize.ts
  angular/src/directives/control-value-accessors/value-accessor.ts
  angular/src/directives/navigation/stack-controller.ts
  angular/src/directives/navigation/stack-utils.ts
  angular/src/util/util.ts
Labels: package: angular

#18865 fix(hydrate): avoid window reference
  angular/src/util/util.ts
Labels: package: angular

#18866 fix(hydrate): check for client runtime method
  angular/src/directives/navigation/stack-controller.ts
Labels: package: angular

#18867 feat(hydrate): add @ionic/core/hydrate app
  .gitignore
  core/package.json
  core/scripts/testing/prerender.js
  core/stencil.config.ts
  package.json
Labels: package: core

#18835 docs(select): clarify button customisation options
  core/src/components/select/readme.md
Labels: package: core

#18875 fix(datetime): column validation
  core/src/components/datetime/datetime.tsx
Labels: package: core

#18877 fix(virtual-scroll): make virtual-scroll css more specific
  core/src/components/virtual-scroll/test/basic/e2e.ts
  core/src/components/virtual-scroll/test/cards/e2e.ts
  core/src/components/virtual-scroll/test/cards/index.html
  core/src/components/virtual-scroll/virtual-scroll.scss
Labels: package: core

#18878 fix(virtual-scroll): rebuild cells on resizing
  core/src/components/virtual-scroll/virtual-scroll.tsx
Labels: package: core

#18851 fix(virtual-scroll): fix flicker on data change
  angular/src/directives/virtual-scroll/virtual-scroll.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/virtual-scroll/readme.md
  core/src/components/virtual-scroll/test/virtual-scroll-utils.spec.ts
  core/src/components/virtual-scroll/virtual-scroll-interface.ts
  core/src/components/virtual-scroll/virtual-scroll-utils.ts
  core/src/components/virtual-scroll/virtual-scroll.tsx
Labels: package: angular, package: core

#18684 fix(datetime): Cannot change AM/PM in ion-datetime
  core/src/components/datetime/datetime-util.ts
Labels: package: core

#18817 Delete duplicated functions in index.ts
  react/src/components/utils/index.ts
Labels: package: react

#18882 chore(): update stencil
  core/package.json
Labels: package: core

#17346 fix() MenuController.swipeGesture() for angular and vue
  vue/src/controllers/menu-controller.ts
  vue/src/interfaces.ts
Labels: package: angular, package: vue

#18672 (feat): define top-level ARIA landmark regions to improve accessibility
  core/src/components/content/content.tsx
  core/src/components/footer/footer.tsx
  core/src/components/header/header.tsx
Labels: package: core

#18892 Merge changes from release-4.7.0 to master
  CHANGELOG.md
  angular/package.json
  core/package.json
  docs/package.json
Labels: package: angular, package: core

#18916 Hotfix 4.7.1
  .circleci/config.yml
  .scripts/release.js
  CHANGELOG.md
  angular/package.json
  angular/src/directives/navigation/stack-controller.ts
  angular/src/util/ionic-router-reuse-strategy.ts
  angular/test/test-app/e2e/src/tabs.e2e-spec.ts
  angular/test/test-app/package-lock.json
  angular/test/test-app/package.json
  angular/test/test-app/src/app/alert/alert.component.ts
  angular/test/test-app/src/app/app-routing.module.ts
  angular/test/test-app/src/app/app.module.ts
  angular/test/test-app/src/app/slides/slides.component.ts
  angular/test/test-app/src/app/tabs-lazy/tabs-tab3-nested/tabs-tab3-nested.component.html
  angular/test/test-app/src/app/tabs-lazy/tabs-tab3/tabs-tab3.component.html
  angular/test/test-app/src/app/tabs-tab1-nested/tabs-tab1-nested.component.html
  angular/test/test-app/src/app/tabs-tab1-nested/tabs-tab1-nested.component.ts
  angular/test/test-app/src/app/tabs-tab1/tabs-tab1.component.html
  angular/test/test-app/src/app/tabs-tab1/tabs-tab1.component.ts
  angular/test/test-app/src/app/tabs-tab2/tabs-tab2.component.html
  angular/test/test-app/src/app/tabs-tab2/tabs-tab2.component.ts
  angular/test/test-app/src/app/tabs/tabs.module.ts
  angular/test/test-app/src/app/tabs/tabs.router.module.ts
  angular/test/test-app/src/app/view-child/view-child.component.ts
  angular/test/test-app/src/app/virtual-scroll/virtual-scroll.component.ts
  core/package.json
  docs/package.json
Labels: package: angular, package: core

#18938 refactor(searchbar): add deprecation warnings for showCancelButton
  core/src/components/searchbar/searchbar.tsx
  core/src/components/searchbar/test/basic/index.html
  core/src/components/searchbar/test/standalone/index.html
  core/src/components/searchbar/test/toolbar/index.html
Labels: package: core

#18947 docs(nav-pop): fix typos & terminology
  core/src/components/nav-pop/readme.md
Labels: package: core

#18946 docs(nav-set-root): fix typos
  core/src/components/nav-set-root/readme.md
Labels: package: core
