Repository ionic-team/ionic-framework, pull requests merged in 2019-04, with the labels that each got.

#17914 fix(angular): make route observables available on constructor
  angular/src/directives/navigation/ion-router-outlet.ts
Labels: package: angular

#17942 Release 4.2.0
  CHANGELOG.md
  angular/package.json
  core/README.md
  core/package.json
  docs/package.json
Labels: package: angular, package: core

#17944 docs(modal): add lazy loading usage
  core/src/components/modal/readme.md
  core/src/components/modal/usage/angular.md
Labels: package: core

#17978 Updating Modal component - Angular usage code
  core/src/components/modal/readme.md
  core/src/components/modal/usage/angular.md
Labels: package: core

#17985 docs(breaking): add ion-button shape attribute
  angular/BREAKING.md
Labels: package: angular

#17901 [Vue] Update IonVueRouter direction type
  vue/src/components/ion-vue-router.ts
  vue/src/interfaces.ts
  vue/src/router.ts
Labels: package: vue

#18005 fix(angular): back button goes back to proper tab
  angular/src/directives/navigation/stack-controller.ts
  angular/test/test-app/e2e/src/tabs.e2e-spec.ts
  angular/test/test-app/src/app/nested-outlet/nested-outlet.component.html
  angular/test/test-app/src/app/tabs-tab2/tabs-tab2.component.html
Labels: package: angular

#18015 fix(input): replace missing {} around button
  core/src/components/input/input.tsx
Labels: triage

#17147 feat(toast): add header and custom toast buttons
  core/api.txt
  core/src/components.d.ts
  core/src/components/toast/readme.md
  core/src/components/toast/test/basic/e2e.ts
  core/src/components/toast/test/basic/index.html
  core/src/components/toast/test/buttons/e2e.ts
  core/src/components/toast/test/buttons/index.html
  core/src/components/toast/test/preview/index.html
  core/src/components/toast/toast-interface.ts
  core/src/components/toast/toast.ios.scss
  core/src/components/toast/toast.ios.vars.scss
  core/src/components/toast/toast.md.scss
  core/src/components/toast/toast.md.vars.scss
  core/src/components/toast/toast.scss
  core/src/components/toast/toast.tsx
  core/src/components/toast/usage/angular.md
  core/src/components/toast/usage/javascript.md
  core/src/components/toast/usage/react.md
Labels: package: core

#18022 test(): remove custom screenshot names
  core/src/components/action-sheet/test/test.utils.ts
  core/src/components/alert/test/test.utils.ts
  core/src/components/fab/test/test.utils.ts
  core/src/components/loading/test/test.utils.ts
  core/src/components/menu/test/test.utils.ts
  core/src/components/modal/test/test.utils.ts
  core/src/components/picker-column/test/test.utils.ts
  core/src/components/popover/test/test.utils.ts
  core/src/components/toast/test/basic/e2e.ts
  core/src/components/toast/test/basic/index.html
  core/src/components/toast/test/buttons/e2e.ts
  core/src/components/toast/test/test.utils.ts
  core/src/utils/test/utils.ts
Labels: package: core

#18024 fix(textarea): float label when a value is changed async
  core/src/components/textarea/test/basic/e2e.ts
  core/src/components/textarea/test/basic/index.html
  core/src/components/textarea/textarea.tsx
Labels: package: core

#18041 fix(test): add rtl label to appropriate tests
  core/src/components/action-sheet/test/basic/e2e.ts
  core/src/components/alert/test/basic/e2e.ts
Labels: package: core

#18039 fix(toast): update toast interface to include buttons
  core/src/components/toast/toast-interface.ts
Labels: package: core

#17986 fix(item-sliding): hide opposite side options
  core/src/components/item-options/item-options.scss
  core/src/components/item-sliding/item-sliding.scss
  core/src/components/item-sliding/test/basic/index.html
Labels: package: core

#18017 fix(reorder-group): correct typo in ReorderGroupState enum
  core/src/components/reorder-group/reorder-group.tsx
Labels: package: core

#18004 fix(input): prevent default behaviour on clear text input button
  core/src/components/input/input.tsx
Labels: package: core

#18009 fix(slides): add swiper zoom container to fix undefined case
  core/src/components/slide/slide.tsx
  core/src/components/slides/test/image/e2e.ts
  core/src/components/slides/test/image/index.html
Labels: package: core

#17959 fix(slides): expose interface to provide custom animations
  core/src/components/slides/readme.md
  core/src/components/slides/slides.tsx
  core/src/components/slides/test/image/cat.jpeg
  core/src/components/slides/test/image/index.html
  core/src/components/slides/usage/angular.md
  core/src/components/slides/usage/javascript.md
  core/src/components/slides/usage/react.md
  core/src/components/slides/usage/vue.md
Labels: package: core

#18018 fix(datetime): date strings no longer revert to previous day
  core/src/components/datetime/datetime-util.ts
  core/src/components/datetime/test/datetime.spec.ts
Labels: package: core

#18052 fix(item): use the correct highlight for an inset line input item
  core/src/components/item/item.scss
Labels: package: core

#18042 fix(textarea): update label alignment to baseline
  core/src/components/input/test/spec/e2e.ts
  core/src/components/input/test/spec/index.html
  core/src/components/item/item.md.scss
  core/src/components/label/label.ios.scss
  core/src/components/label/label.md.scss
  core/src/components/label/label.scss
  core/src/components/textarea/test/basic/index.html
  core/src/components/textarea/textarea.md.scss
  core/src/components/textarea/textarea.md.vars.scss
  core/src/components/textarea/textarea.scss
Labels: package: core

#17961 fix(toast): allow to change position start/end of toast
  core/api.txt
  core/src/components/toast/readme.md
  core/src/components/toast/test/basic/e2e.ts
  core/src/components/toast/test/basic/index.html
  core/src/components/toast/toast.ios.scss
  core/src/components/toast/toast.md.scss
  core/src/components/toast/toast.scss
Labels: package: core

#18066 Merge stable
  CHANGELOG.md
  angular/package.json
  core/README.md
  core/api.txt
  core/package.json
  core/src/components.d.ts
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/action-sheet/readme.md
  core/src/components/toast/test/basic/index.html
  core/src/components/toast/test/test.utils.ts
  core/src/utils/test/modes/index.html
  docs/package.json
Labels: package: angular, package: core

#18026 Updating the correct description of the property
  core/src/components.d.ts
  core/src/components/fab-list/fab-list.tsx
  core/src/components/fab-list/readme.md
Labels: package: core

#17989 docs(breaking): add ionDrag event arguments change
  angular/BREAKING.md
Labels: package: angular

#18073 docs(slides): update usage for swiper
  core/src/components/slides/readme.md
Labels: package: core

#17935 feat(searchbar): add disabled attribute
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/searchbar/readme.md
  core/src/components/searchbar/searchbar.scss
  core/src/components/searchbar/searchbar.tsx
  core/src/components/searchbar/test/basic/index.html
  core/src/components/searchbar/usage/angular.md
  core/src/components/searchbar/usage/javascript.md
  core/src/components/searchbar/usage/react.md
  core/src/components/searchbar/usage/vue.md
Labels: package: angular, package: core

#18084 fix(reorder-group): remove required parameter for item reorder complete
  core/src/components.d.ts
  core/src/components/action-sheet/readme.md
  core/src/components/action-sheet/usage/react.md
  core/src/components/alert/readme.md
  core/src/components/alert/usage/react.md
  core/src/components/backdrop/readme.md
  core/src/components/backdrop/usage/vue.md
  core/src/components/checkbox/readme.md
  core/src/components/checkbox/usage/vue.md
  core/src/components/datetime/readme.md
  core/src/components/datetime/usage/vue.md
  core/src/components/infinite-scroll/readme.md
  core/src/components/infinite-scroll/usage/javascript.md
  core/src/components/infinite-scroll/usage/react.md
  core/src/components/loading/readme.md
  core/src/components/loading/usage/react.md
  core/src/components/menu/readme.md
  core/src/components/menu/usage/vue.md
  core/src/components/modal/readme.md
  core/src/components/modal/usage/react.md
  core/src/components/popover/readme.md
  core/src/components/popover/usage/react.md
  core/src/components/refresher/readme.md
  core/src/components/refresher/usage/react.md
  core/src/components/refresher/usage/vue.md
  core/src/components/reorder-group/readme.md
  core/src/components/reorder-group/reorder-group.tsx
  core/src/components/reorder-group/test/basic/index.html
  core/src/components/reorder-group/test/data/index.html
  core/src/components/reorder-group/usage/angular.md
  core/src/components/reorder-group/usage/javascript.md
  core/src/components/reorder-group/usage/react.md
  core/src/components/reorder-group/usage/vue.md
  core/src/components/reorder/readme.md
  core/src/components/reorder/usage/angular.md
  core/src/components/reorder/usage/javascript.md
  core/src/components/reorder/usage/react.md
  core/src/components/reorder/usage/vue.md
  core/src/components/segment-button/readme.md
  core/src/components/segment-button/usage/vue.md
  core/src/components/segment/readme.md
  core/src/components/segment/usage/vue.md
  core/src/components/select/readme.md
  core/src/components/select/usage/vue.md
  core/src/components/skeleton-text/readme.md
  core/src/components/skeleton-text/usage/vue.md
  core/src/components/slides/readme.md
  core/src/components/slides/usage/vue.md
  core/src/components/toast/readme.md
  core/src/components/toast/usage/react.md
Labels: package: core

#18075 docs(components): update method and parameter descriptions
  core/api.txt
  core/src/components.d.ts
  core/src/components/action-sheet-controller/action-sheet-controller.tsx
  core/src/components/action-sheet-controller/readme.md
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/action-sheet/readme.md
  core/src/components/action-sheet/test/test.utils.ts
  core/src/components/alert-controller/alert-controller.tsx
  core/src/components/alert-controller/readme.md
  core/src/components/alert/alert.tsx
  core/src/components/alert/readme.md
  core/src/components/content/content.tsx
  core/src/components/content/readme.md
  core/src/components/fab/fab.tsx
  core/src/components/fab/readme.md
  core/src/components/loading-controller/loading-controller.tsx
  core/src/components/loading-controller/readme.md
  core/src/components/loading/loading.tsx
  core/src/components/loading/readme.md
  core/src/components/menu-controller/menu-controller.ts
  core/src/components/menu-controller/readme.md
  core/src/components/menu/menu.tsx
  core/src/components/menu/readme.md
  core/src/components/modal-controller/modal-controller.tsx
  core/src/components/modal-controller/readme.md
  core/src/components/modal/modal.tsx
  core/src/components/modal/readme.md
  core/src/components/nav/nav.tsx
  core/src/components/nav/readme.md
  core/src/components/nav/test/nav-controller.spec.ts
  core/src/components/picker-controller/picker-controller.tsx
  core/src/components/picker-controller/readme.md
  core/src/components/picker/picker.tsx
  core/src/components/picker/readme.md
  core/src/components/popover-controller/popover-controller.tsx
  core/src/components/popover-controller/readme.md
  core/src/components/popover/popover.tsx
  core/src/components/popover/readme.md
  core/src/components/ripple-effect/readme.md
  core/src/components/ripple-effect/ripple-effect.tsx
  core/src/components/router/readme.md
  core/src/components/router/router.tsx
  core/src/components/select/readme.md
  core/src/components/select/select.tsx
  core/src/components/slides/readme.md
  core/src/components/slides/slides.tsx
  core/src/components/split-pane/readme.md
  core/src/components/split-pane/split-pane.tsx
  core/src/components/tabs/readme.md
  core/src/components/tabs/tabs.tsx
  core/src/components/toast-controller/readme.md
  core/src/components/toast-controller/toast-controller.tsx
  core/src/components/toast/readme.md
  core/src/components/toast/toast.tsx
  core/src/components/virtual-scroll/readme.md
  core/src/components/virtual-scroll/virtual-scroll.tsx
Labels: package: core

#18105 fix(datetime): default to current date when value is null
  core/src/components/datetime/datetime-util.ts
  core/src/components/datetime/test/datetime.spec.ts
Labels: package: core

#18092 docs(toolbar): fix end slot documentation
  core/src/components/toolbar/readme.md
  core/src/components/toolbar/toolbar.tsx
Labels: package: core

#16752 fix(item): use the global activated background for md
  core/src/components/fab-button/fab-button.scss
  core/src/components/item/item.scss
  core/src/themes/test/css-variables/css/dark.css
  core/src/themes/test/css-variables/css/vibrant.css
  core/src/themes/test/css-variables/index.html
Labels: package: core

#18098 fix(textarea): reposition textarea when keyboard appears
  core/src/components/textarea/textarea.scss
  core/src/components/textarea/textarea.tsx
  core/src/utils/input-shims/hacks/common.ts
  core/src/utils/input-shims/hacks/hide-caret.ts
  core/src/utils/input-shims/hacks/scroll-assist.ts
  core/src/utils/input-shims/input-shims.ts
Labels: package: core

#18125 fix(button): handle round button combinations in iOS
  core/src/components/button/button.ios.scss
  core/src/components/button/test/standalone/index.html
Labels: package: core

#18128 fix(): add prefixed transform for older versions of chrome
  core/src/utils/animation/animator.ts
Labels: package: core

#17751 Fix(core) icon change the font size to align ion segment button with icon
  core/src/components/segment-button/segment-button.ios.vars.scss
  core/src/components/segment-button/segment-button.scss
  core/src/components/segment/segment.scss
  core/src/components/segment/test/basic/index.html
  core/src/components/segment/test/standalone/index.html
Labels: package: core

#18083 fix(): sanitize components using innerHTML
  core/src/components.d.ts
  core/src/components/alert/alert.tsx
  core/src/components/alert/readme.md
  core/src/components/infinite-scroll-content/infinite-scroll-content.tsx
  core/src/components/infinite-scroll-content/readme.md
  core/src/components/refresher-content/readme.md
  core/src/components/refresher-content/refresher-content.tsx
  core/src/components/searchbar/readme.md
  core/src/components/searchbar/searchbar.tsx
  core/src/utils/sanitization/index.ts
  core/src/utils/sanitization/test/e2e.ts
  core/src/utils/sanitization/test/index.html
Labels: package: core

#18154 Release 4.3.1 (#18152)
  CHANGELOG.md
  angular/package.json
  angular/src/directives/navigation/stack-controller.ts
  core/README.md
  core/package.json
  docs/package.json
Labels: package: angular, package: core

#18126 doc(loading): remove mention of undefined "content" property
  core/src/components/loading/readme.md
Labels: package: core
