Repository ionic-team/ionic-framework, pull requests merged in 2019-08, with the labels that each got.

#18969 optionally render ion-icon from asset path if provided
  core/src/components/toast/toast.tsx
Labels: package: core

#18955 refactor(toast): add deprecation warnings for showCloseButton and closeButtonText
  core/src/components.d.ts
  core/src/components/toast/readme.md
  core/src/components/toast/toast.tsx
Labels: package: core

#19005 chore(): fix e2e angular
  angular/test/test-app/package-lock.json
  angular/test/test-app/package.json
  angular/test/test-app/src/browserslist
  angular/test/test-app/tsconfig.json
Labels: package: angular

#19007 fix(reorder): only move item if reorder happens
  core/src/components/item/test/reorder/index.html
  core/src/components/reorder-group/reorder-group.tsx
Labels: package: core

#19006 fix(): remove JSX array commas
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/item-divider/item-divider.tsx
  core/src/components/modal/modal.tsx
Labels: package: core

#18976 fix(accessor): ngModel conflits with nested inputs
  angular/src/directives/control-value-accessors/boolean-value-accessor.ts
  angular/src/directives/control-value-accessors/numeric-value-accesssor.ts
  angular/src/directives/control-value-accessors/radio-value-accessor.ts
  angular/src/directives/control-value-accessors/select-value-accessor.ts
  angular/src/directives/control-value-accessors/text-value-accessor.ts
  angular/src/directives/control-value-accessors/value-accessor.ts
  angular/test/test-app/e2e/src/inputs.e2e-spec.ts
  angular/test/test-app/src/app/inputs/inputs.component.html
Labels: package: angular

#18962 fix(platform): subscribeWithPriority trigger change detection
  angular/src/providers/platform.ts
Labels: package: angular

#18910 refactor(angular): use arrow functions
  angular/src/app-initialize.ts
  angular/src/directives/control-value-accessors/value-accessor.ts
  angular/src/directives/virtual-scroll/virtual-scroll.ts
  angular/src/providers/angular-delegate.ts
  angular/src/providers/config.ts
  angular/src/providers/dom-controller.ts
  angular/src/providers/nav-controller.ts
  angular/tslint.json
Labels: package: angular

#19008 fix(range): participate in <form>
  core/src/components/item/test/inputs/e2e.ts
  core/src/components/range/range.tsx
Labels: package: core

#18977 fix(router): fix partial gesture
  angular/src/directives/navigation/stack-controller.ts
  angular/test/test-app/e2e/src/navigation.e2e-spec.ts
Labels: package: angular

#18880 feat(ssr): add ionic angular server
  .circleci/config.yml
  angular/package.json
  angular/scripts/clean.js
  angular/scripts/rollup.config.js
  angular/scripts/rollup.config.legacy.js
  angular/test/test-app/.npmrc
  angular/test/test-app/angular.json
  angular/test/test-app/browserslist
  angular/test/test-app/e2e/protractor.conf.js
  angular/test/test-app/e2e/tsconfig.json
  angular/test/test-app/karma.conf.js
  angular/test/test-app/package-lock.json
  angular/test/test-app/package.json
  angular/test/test-app/scripts/build-ionic.sh
  angular/test/test-app/scripts/sync.sh
  angular/test/test-app/server.ts
  angular/test/test-app/src/app/app-routing.module.ts
  angular/test/test-app/src/app/app.module.ts
  angular/test/test-app/src/app/app.server.module.ts
  angular/test/test-app/src/app/form/form.component.ts
  angular/test/test-app/src/app/slides/slides.component.ts
  angular/test/test-app/src/app/tabs/tabs.router.module.ts
  angular/test/test-app/src/app/view-child/view-child.component.ts
  angular/test/test-app/src/app/virtual-scroll/virtual-scroll.component.ts
  angular/test/test-app/src/browserslist
  angular/test/test-app/src/main.server.ts
  angular/test/test-app/src/main.ts
  angular/test/test-app/src/polyfills.ts
  angular/test/test-app/src/tsconfig.app.json
  angular/test/test-app/src/tsconfig.spec.json
  angular/test/test-app/src/tslint.json
  angular/test/test-app/tsconfig.app.json
  angular/test/test-app/tsconfig.json
  angular/test/test-app/tsconfig.server.json
  angular/test/test-app/tsconfig.spec.json
  angular/test/test-app/tslint.json
  angular/test/test-app/webpack.server.config.js
  angular/tsconfig.json
  core/package.json
  core/scripts/cdn-loader.js
  core/scripts/copy-cdn-loader.js
  docs/package.json
  packages/angular-server/package.json
  packages/angular-server/tsconfig.json
Labels: package: angular, package: core

#19025 Release 4.7.2 merge to master
  CHANGELOG.md
  angular/package.json
  angular/test/test-app/e2e/src/navigation.e2e-spec.ts
  core/package.json
  docs/package.json
Labels: package: angular, package: core

#19028 Release 4.7.3
  CHANGELOG.md
  angular/package.json
  core/package.json
  docs/package.json
Labels: package: angular, package: core

#19033 fix(): remove semicolons
  core/src/components/card-title/card-title.tsx
  core/src/components/grid/grid.tsx
Labels: package: core

#19040 4.7.4 to master
  CHANGELOG.md
  angular/package.json
  core/package.json
  docs/package.json
Labels: package: angular, package: core

#19041 docs(action-sheet): Make property names match component
  core/src/components/action-sheet/readme.md
Labels: package: core

#19022 refactor(platform): isPlatform() does not need window
  core/src/utils/platform.ts
  core/src/utils/test/platform.spec.ts
Labels: package: core

#19051 fix(transition): enable ios transition shadow by default
  core/scripts/testing/scripts.js
  core/src/components/content/content.tsx
Labels: package: core

#18856 chore(): update deps
  angular/src/directives/proxies-utils.ts
  core/package.json
  core/src/components/action-sheet/action-sheet.scss
  core/src/components/slides/swiper/swiper.bundle.js
Labels: package: core

#19049 test(virtual-scroll): make cards test deterministic
  core/src/components/virtual-scroll/test/cards/index.html
Labels: package: core

#18980 feat(searchbar): add inputmode property
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/searchbar/readme.md
  core/src/components/searchbar/searchbar.tsx
  core/src/components/searchbar/test/basic/index.html
  core/src/components/searchbar/usage/angular.md
  core/src/components/searchbar/usage/javascript.md
  core/src/components/searchbar/usage/react.md
  core/src/components/searchbar/usage/vue.md
Labels: package: angular, package: core

#19044 fix(platform): set correct electron reg ex
  core/src/utils/platform.ts
Labels: package: core

#19052 feat(spinner): add circular spinner for MD default
  core/api.txt
  core/src/components/infinite-scroll-content/readme.md
  core/src/components/loading/readme.md
  core/src/components/refresher-content/readme.md
  core/src/components/spinner/readme.md
  core/src/components/spinner/spinner-configs.ts
  core/src/components/spinner/spinner-interface.ts
  core/src/components/spinner/spinner.scss
  core/src/components/spinner/spinner.tsx
  core/src/components/spinner/test/basic/index.html
  core/src/components/spinner/test/color/index.html
  core/src/components/spinner/test/standalone/index.html
Labels: package: core

#19012 fix(toggle): change background to use CSS variable
  core/src/components/toggle/toggle.ios.scss
Labels: package: core

#19083 fix(animations): resolve flickering issue on slower web animations
  core/src/utils/animation/animation.ts
Labels: package: core

#19085 chore(package): update to stencil 1.2.5
  core/package.json
Labels: package: core

#19086 perf(animation): remove display: none check
  core/src/utils/animation/animation.ts
  core/src/utils/animation/test/display/e2e.ts
Labels: package: core

#19106 perf(animation): improve reliability of reusing animation
  core/src/utils/animation/animation.ts
Labels: package: core

#19115 fix(animation): prevent animation re-run when toggling element visibility
  core/src/components/menu/menu.tsx
  core/src/utils/animation/animation-interface.ts
  core/src/utils/animation/animation.ts
Labels: package: core

#19113 fix(nav): prevent completing transition from being interrupted
  core/src/components/nav/nav.tsx
  core/src/components/router-outlet/route-outlet.tsx
  core/src/utils/animation/animation.ts
Labels: package: core

#19134 fix(animation): add cubic-bezier conversions for gesture animations
  core/src/components/menu/menu.tsx
  core/src/components/nav/nav.tsx
  core/src/components/router-outlet/route-outlet.tsx
  core/src/utils/animation/animation.ts
  core/src/utils/animation/cubic-bezier.ts
  core/src/utils/animation/test/animation.spec.ts
  core/src/utils/gesture/swipe-back.ts
Labels: package: core

#19136 Update BREAKING.md
  angular/BREAKING.md
Labels: package: angular

#18545 fix(alert): apply styling to disabled items
  core/src/components/alert/alert.scss
  core/src/components/alert/alert.tsx
  core/src/components/alert/test/basic/index.html
Labels: package: core

#19138 perf(animation): reduce flickering when updating css animation on lower end devices
  core/src/components/menu/menu.tsx
  core/src/utils/animation/animation.ts
Labels: package: core

#19141 fix(animation): allow for quick swipes
  core/src/components/menu/menu.tsx
Labels: package: core

#19143 chore(ionicons): update ionicons version
  core/package.json
Labels: package: core

#19148 fix(transition): update swipe back duration
  core/src/utils/gesture/swipe-back.ts
Labels: package: core

#19152 Release 4.8.0
  CHANGELOG.md
  angular/package.json
  core/package.json
  docs/package.json
Labels: package: angular, package: core

#19169 fix(animation): avoid partial keyframes
  core/src/utils/animation/animation-interface.ts
  core/src/utils/animation/animation-utils.ts
  core/src/utils/animation/animation.ts
  core/src/utils/animation/test/animation.spec.ts
  core/src/utils/transition/ios.transition.ts
Labels: package: core

#19186 test(): migrate sanitization test to spec
  core/package.json
  core/src/components/router/router.tsx
  core/src/utils/sanitization/index.ts
  core/src/utils/sanitization/test/e2e.ts
  core/src/utils/sanitization/test/index.html
  core/src/utils/sanitization/test/sanitization.spec.ts
Labels: package: core

#18963 fix(all): component reusage
  core/src/components/app/app.tsx
  core/src/components/backdrop/backdrop.tsx
  core/src/components/content/content.tsx
  core/src/components/infinite-scroll/infinite-scroll.tsx
  core/src/components/input/input.tsx
  core/src/components/item-sliding/item-sliding.tsx
  core/src/components/menu/menu.tsx
  core/src/components/picker-column/picker-column.tsx
  core/src/components/radio-group/radio-group.tsx
  core/src/components/radio-group/test/basic/index.html
  core/src/components/radio/radio.tsx
  core/src/components/range/range.tsx
  core/src/components/refresher/refresher.tsx
  core/src/components/reorder-group/reorder-group.tsx
  core/src/components/route-redirect/route-redirect.tsx
  core/src/components/route/route.tsx
  core/src/components/router-outlet/route-outlet.tsx
  core/src/components/router/test/basic/e2e.ts
  core/src/components/select-option/select-option.tsx
  core/src/components/select/select.tsx
  core/src/components/select/test/async/index.html
  core/src/components/slide/slide.tsx
  core/src/components/slides/slides.tsx
  core/src/components/slides/test/basic/index.html
  core/src/components/split-pane/split-pane.tsx
  core/src/components/split-pane/test/basic/index.html
  core/src/components/tab/tab.tsx
  core/src/components/tabs/tabs.tsx
  core/src/components/textarea/textarea.tsx
  core/src/components/toggle/toggle.tsx
  core/src/components/virtual-scroll/virtual-scroll.tsx
  core/src/utils/input-shims/input-shims.ts
  core/src/utils/watch-options.ts
Labels: package: core

#18909 feat(nav-link): merge nav-push/pop/set-root into a single component
  angular/src/directives/proxies-list.txt
  angular/src/directives/proxies.ts
  angular/src/ionic-module.ts
  angular/src/providers/menu-controller.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/action-sheet-controller/action-sheet-controller.tsx
  core/src/components/action-sheet-controller/readme.md
  core/src/components/alert-controller/alert-controller.tsx
  core/src/components/alert-controller/readme.md
  core/src/components/anchor/anchor.tsx
  core/src/components/loading-controller/loading-controller.tsx
  core/src/components/loading-controller/readme.md
  core/src/components/modal-controller/modal-controller.tsx
  core/src/components/modal-controller/readme.md
  core/src/components/nav-link/nav-link-utils.ts
  core/src/components/nav-link/nav-link.tsx
  core/src/components/nav-link/readme.md
  core/src/components/nav-link/test/basic/index.html
  core/src/components/nav-pop/nav-pop.tsx
  core/src/components/nav-pop/readme.md
  core/src/components/nav-push/nav-push.tsx
  core/src/components/nav-push/readme.md
  core/src/components/nav-set-root/nav-set-root.tsx
  core/src/components/nav-set-root/readme.md
  core/src/components/picker-controller/picker-controller.tsx
  core/src/components/picker-controller/readme.md
  core/src/components/popover-controller/popover-controller.tsx
  core/src/components/popover-controller/readme.md
  core/src/components/toast-controller/readme.md
  core/src/components/toast-controller/toast-controller.tsx
  core/stencil.config.ts
Labels: package: core

#19103 refactor(events): add deprecations
  angular/src/providers/events.ts
Labels: package: angular

#19011 Warn deprecated utils
  angular/src/directives/css-utils-deprecations.ts
  angular/src/index.ts
  angular/src/ionic-module.ts
  angular/src/providers/events.ts
  angular/test/test-app/src/app/alert/alert.component.html
Labels: package: angular, package: core

#19218 fix(segment): don't emit ionChange until didLoad
  angular/test/test-app/e2e/src/tabs.e2e-spec.ts
  angular/test/test-app/package.json
  angular/test/test-app/src/app/tabs-tab1/tabs-tab1.component.html
  angular/test/test-app/src/app/tabs-tab1/tabs-tab1.component.ts
  angular/test/test-app/src/app/tabs-tab2/tabs-tab2.component.html
  angular/test/test-app/src/app/tabs-tab2/tabs-tab2.component.ts
  core/src/components/segment/segment.tsx
Labels: package: angular, package: core

#19225 fix(menu-toggle): use ESM menuController
  core/src/components/menu-button/menu-button.tsx
  core/src/components/menu-toggle/menu-toggle-util.ts
  core/src/components/menu-toggle/menu-toggle.tsx
  core/src/components/menu-toggle/test/basic/index.html
  core/src/components/menu/test/basic/index.html
Labels: package: core

#19217 test(): remove initial waitFor
  core/src/components/card-header/test/basic/e2e.ts
  core/src/components/img/test/basic/e2e.ts
  core/src/components/img/test/standalone/e2e.ts
  core/src/components/radio-group/test/standalone/e2e.ts
  core/src/components/range/range.tsx
  core/src/components/reorder-group/reorder-group.tsx
  core/src/components/searchbar/test/basic/e2e.ts
  core/src/components/searchbar/test/standalone/e2e.ts
  core/src/components/searchbar/test/toolbar/e2e.ts
  core/src/components/segment/test/basic/e2e.ts
  core/src/components/segment/test/custom/e2e.ts
  core/src/components/segment/test/modes/e2e.ts
  core/src/components/segment/test/spec/e2e.ts
  core/src/components/segment/test/standalone/e2e.ts
  core/src/components/slides/test/basic/e2e.ts
  core/src/components/slides/test/image/e2e.ts
  core/src/components/slides/test/standalone/e2e.ts
  core/src/components/textarea/test/basic/e2e.ts
  core/src/components/toggle/test/basic/e2e.ts
  core/src/themes/test/css-variables/e2e.ts
Labels: package: core

#19208 docs(all): update usage of css utils
  angular/test/test-app/src/app/alert/alert.component.html
  angular/test/test-app/src/app/modal-example/modal-example.component.html
  angular/test/test-app/src/app/modal/modal.component.html
  angular/test/test-app/src/app/providers/providers.component.html
  angular/test/test-app/src/app/router-link-page/router-link-page.component.html
  angular/test/test-app/src/app/router-link-page2/router-link-page2.component.html
  angular/test/test-app/src/app/router-link-page3/router-link-page3.component.html
  angular/test/test-app/src/app/router-link/router-link.component.html
  angular/test/test-app/src/app/tabs-lazy/tabs-tab3-nested/tabs-tab3-nested.component.html
  angular/test/test-app/src/app/tabs-lazy/tabs-tab3/tabs-tab3.component.html
  angular/test/test-app/src/app/tabs-tab1-nested/tabs-tab1-nested.component.html
  angular/test/test-app/src/app/view-child/view-child.component.html
  angular/test/test-app/src/app/virtual-scroll-detail/virtual-scroll-detail.component.html
  core/src/components/menu/readme.md
  core/src/components/menu/usage/javascript.md
  core/src/components/modal/readme.md
  core/src/components/modal/usage/vue.md
Labels: package: angular, package: core

#19238 refactor(): add scss usage deprecation warning
  core/src/themes/ionic.deprecation.scss
  core/src/themes/ionic.functions.color.scss
  core/src/themes/ionic.functions.string.scss
  core/src/themes/ionic.mixins.scss
  core/src/themes/ionic.skip-warns.scss
  core/src/themes/ionic.theme.default.scss
  core/stencil.config.ts
Labels: package: core
