Repository ionic-team/ionic-framework, pull requests merged in 2019-05, with the labels that each got.

#18159 feat (img) emit ionImgDidLoad only when image is actually loaded
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/img/img.tsx
  core/src/components/img/readme.md
  core/src/components/img/test/basic/index.html
Labels: package: angular, package: core

#18133 fix(toast): allow button-color to be overridden
  core/src/components/toast/toast.ios.scss
  core/src/components/toast/toast.ios.vars.scss
  core/src/components/toast/toast.md.scss
  core/src/components/toast/toast.md.vars.scss
Labels: package: core

#17964 feat(item-sliding): add open method
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/item-sliding/item-sliding.tsx
  core/src/components/item-sliding/readme.md
  core/src/components/item-sliding/test/basic/index.html
  core/src/components/item-sliding/test/preview/index.html
Labels: package: angular, package: core

#18188 feat(menu-button): add css variables for padding
  core/api.txt
  core/src/components/menu-button/menu-button.ios.scss
  core/src/components/menu-button/menu-button.md.scss
  core/src/components/menu-button/menu-button.scss
  core/src/components/menu-button/readme.md
Labels: package: core

#17997 feat(card): add button
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/card/card.ios.scss
  core/src/components/card/card.ios.vars.scss
  core/src/components/card/card.scss
  core/src/components/card/card.tsx
  core/src/components/card/readme.md
  core/src/components/card/test/button/index.html
Labels: package: core

#16916 feat(textarea): add autoGrow - set height to scrollHeight
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/textarea/readme.md
  core/src/components/textarea/test/basic/index.html
  core/src/components/textarea/test/standalone/index.html
  core/src/components/textarea/textarea.tsx
Labels: package: angular, package: core

#16697 feat(refresher): add pullFactor property
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/refresher/readme.md
  core/src/components/refresher/refresher.tsx
  core/src/components/refresher/usage/angular.md
  core/src/components/refresher/usage/javascript.md
  core/src/components/refresher/usage/react.md
  core/src/components/refresher/usage/vue.md
Labels: package: angular, package: core

#17115 fix(input): clear on edit from inside native input
  core/src/components/input/input.tsx
  core/src/components/input/test/basic/index.html
Labels: package: angular, package: core

#18221 test(angular): increase timeout for tab switch
  angular/test/test-app/e2e/src/tabs.e2e-spec.ts
Labels: package: angular

#18228 Release 4.4.0
  CHANGELOG.md
  angular/package.json
  core/README.md
  core/package.json
  docs/package.json
Labels: package: angular, package: core

#18231 Support for adding css classes via `className` in Ionic React components
  react/package.json
  react/src/components/IonActionSheet.tsx
  react/src/components/IonAlert.tsx
  react/src/components/IonLoading.tsx
  react/src/components/IonModal.tsx
  react/src/components/IonPopover.tsx
  react/src/components/IonToast.tsx
  react/src/components/ReactProps.ts
  react/src/components/__tests__/createComponent.spec.tsx
  react/src/components/__tests__/createControllerComponent.spec.tsx
  react/src/components/__tests__/createOverlayComponent.spec.tsx
  react/src/components/createComponent.tsx
  react/src/components/createControllerComponent.tsx
  react/src/components/createOverlayComponent.tsx
  react/src/components/index.ts
  react/src/components/utils/attachEventProps.ts
  react/src/components/utils/index.ts
Labels: package: react

#18242 fix(loading): allow html content
  core/src/components/loading/loading.tsx
  core/src/components/loading/test/basic/e2e.ts
  core/src/components/loading/test/basic/index.html
Labels: package: core

#18241 fix(icon): remove stroke and move fill to host element
  core/package.json
  core/src/components/icon/test/basic/index.html
  core/src/components/icon/test/standalone/done-all.svg
  core/src/components/icon/test/standalone/index.html
Labels: package: core

#18246 bug(security): allow name and slot attributes when sanitizing
  core/src/utils/sanitization/index.ts
Labels: package: core

#18253 Fix calcScrollData to ensure the input is kept within view
  core/src/utils/input-shims/hacks/scroll-data.ts
Labels: package: core

#17502 fix(tab-button): fix focus when tabbing into tab button
  core/src/components/tab-bar/tab-bar.ios.scss
  core/src/components/tab-bar/tab-bar.md.scss
  core/src/components/tab-bar/tab-bar.scss
  core/src/components/tab-bar/test/custom/e2e.ts
  core/src/components/tab-bar/test/custom/index.html
  core/src/components/tab-bar/test/translucent/index.html
  core/src/components/tab-button/tab-button.ios.vars.scss
  core/src/components/tab-button/tab-button.scss
  core/src/components/tab-button/tab-button.tsx
Labels: package: core

#18278 fix(react): defaultHref fixes
  react/src/components/createControllerComponent.tsx
  react/src/components/createOverlayComponent.tsx
  react/src/components/navigation/IonRouterOutlet.tsx
Labels: package: react

#18191 fix(buttons): use theme toolbar colors for default iOS buttons
  core/src/components/back-button/back-button.scss
  core/src/components/buttons/buttons.ios.scss
  core/src/components/buttons/buttons.md.scss
  core/src/components/menu-button/menu-button.scss
  core/src/components/segment/segment.ios.scss
  core/src/components/segment/segment.md.scss
  core/src/components/toolbar/test/colors/index.html
  core/src/themes/test/css-variables/css/default.css
  core/src/themes/test/css-variables/index.html
Labels: package: core

#16767 fix(alert): show scrollbars not by default - Fixes #14178
  core/src/components/action-sheet/action-sheet.scss
  core/src/components/alert/alert.ios.scss
  core/src/components/alert/alert.scss
Labels: package: core

#16728 fix(slides): disable swiper touch preventDefault
  core/package.json
  core/src/components/slides/slides.tsx
  core/src/components/slides/test/prevent-default/e2e.ts
  core/src/components/slides/test/prevent-default/index.html
Labels: package: core

#17537 fix(toolbar): update md toolbar button spacing and segment padding
  core/src/components/back-button/back-button.ios.scss
  core/src/components/back-button/back-button.md.scss
  core/src/components/back-button/back-button.scss
  core/src/components/back-button/back-button.tsx
  core/src/components/button/button.tsx
  core/src/components/buttons/buttons.ios.scss
  core/src/components/buttons/buttons.md.scss
  core/src/components/buttons/buttons.scss
  core/src/components/header/header.md.scss
  core/src/components/header/header.md.vars.scss
  core/src/components/menu-button/menu-button.md.scss
  core/src/components/menu-button/menu-button.scss
  core/src/components/menu-button/menu-button.tsx
  core/src/components/searchbar/searchbar.md.scss
  core/src/components/title/title.scss
  core/src/components/toolbar/test/components/e2e.ts
  core/src/components/toolbar/test/components/index.html
  core/src/components/toolbar/test/scenarios/index.html
  core/src/components/toolbar/test/spec/index.html
  core/src/components/toolbar/toolbar.ios.scss
  core/src/components/toolbar/toolbar.md.scss
  core/src/components/toolbar/toolbar.scss
  core/src/components/toolbar/toolbar.tsx
Labels: package: core

#18300 fix(tabs): select the correct tab on load with the select method
  core/src/components/tabs/tabs.tsx
Labels: package: core

#18298 fix(angular): preserve queryParams and fragment when going back
  angular/src/directives/navigation/ion-router-outlet.ts
  angular/src/directives/navigation/stack-controller.ts
  angular/src/directives/navigation/stack-utils.ts
  angular/src/providers/nav-controller.ts
Labels: package: angular

#18299 fix(angular): ensure active page is not removed from change detection
  angular/src/directives/navigation/ion-router-outlet.ts
  angular/src/directives/navigation/stack-controller.ts
Labels: package: angular

#18312 Update toast-controller readme
  core/src/components/toast-controller/readme.md
Labels: package: core

#18319 test(components): add rtl tests and remove skips
  core/src/components/datetime/test/basic/e2e.ts
  core/src/components/input/test/spec/e2e.ts
  core/src/components/item-sliding/test/basic/e2e.ts
  core/src/components/item/test/inputs/e2e.ts
  core/src/components/radio/test/basic/e2e.ts
  core/src/components/range/test/basic/e2e.ts
  core/src/components/searchbar/test/basic/e2e.ts
  core/src/components/segment/test/basic/e2e.ts
  core/src/components/segment/test/spec/e2e.ts
  core/src/components/select/test/basic/e2e.ts
  core/src/components/tab-bar/test/scenarios/e2e.ts
  core/src/components/toggle/test/basic/e2e.ts
  core/src/components/toolbar/test/basic/e2e.ts
  core/src/components/toolbar/test/colors/e2e.ts
  core/src/components/toolbar/test/components/e2e.ts
  core/src/components/toolbar/test/scenarios/e2e.ts
  core/src/components/toolbar/test/spec/e2e.ts
  core/src/components/toolbar/test/standalone/e2e.ts
Labels: package: core

#18315 fix(sass): update rtl function to prepend host with context properly
  core/src/themes/ionic.functions.string.scss
  core/src/themes/ionic.mixins.scss
Labels: package: core

#18245 chore(): remove debug and log statements
  core/src/components/virtual-scroll/virtual-scroll.tsx
  core/src/utils/animation/animator.ts
  core/src/utils/gesture/pointer-events.ts
  core/src/utils/input-shims/hacks/common.ts
  core/src/utils/input-shims/hacks/hide-caret.ts
  core/src/utils/input-shims/hacks/input-blurring.ts
  core/src/utils/input-shims/hacks/scroll-assist.ts
  core/src/utils/input-shims/hacks/scroll-padding.ts
Labels: package: core

#18289 docs(datetime): timezone formatting
  core/src/components/datetime/readme.md
Labels: package: core

#18321 fix(range): update border radius on range pin for rtl
  core/src/components/range/range.md.scss
Labels: package: core

#18323 fix(angular): preserve special characters encoding when going back
  angular/src/providers/nav-controller.ts
Labels: package: angular

#18325 fix(rtl): updates searchbar, fab and toggle icon positioning in rtl
  core/src/themes/ionic.functions.string.scss
  core/src/themes/ionic.mixins.scss
Labels: package: core

#18326 fix(segment): update segment border for rtl
  core/src/components/segment-button/segment-button.scss
  core/src/themes/ionic.functions.string.scss
Labels: package: core

#18340 fix(datetime): update datetime text direction
  core/src/components/datetime/datetime.scss
Labels: package: core

#18339 fix(picker): update picker columns to comply with #17018
  core/src/components/picker-column/picker-column.scss
Labels: package: core

#18343 fix(button): do not apply a width if there is button text with an icon
  core/src/components/button/button.tsx
  core/src/components/toolbar/test/spec/index.html
Labels: package: core

#18346 fix tests
  core/src/components/item/test/inputs/e2e.ts
  core/src/components/select/test/basic/e2e.ts
Labels: package: core

#18358 4.4.2
  CHANGELOG.md
  angular/package.json
  core/README.md
  core/package.json
  docs/package.json
Labels: package: angular, package: core

#18366 fix(item-sliding): use the correct gesture direction and side for rtl
  core/api.txt
  core/src/components.d.ts
  core/src/components/item-options/item-options.tsx
  core/src/components/item-sliding/item-sliding.tsx
  core/src/components/item-sliding/readme.md
  core/src/components/item-sliding/test/basic/index.html
  core/src/components/item-sliding/test/standalone/e2e.ts
  core/src/components/item-sliding/test/test.utils.ts
Labels: package: core

#18372 test(angular): add queryparam and fragment tests
  angular/test/test-app/angular.json
  angular/test/test-app/e2e/src/router-link.e2e-spec.ts
  angular/test/test-app/src/app/app-routing.module.ts
  angular/test/test-app/src/app/app.module.ts
  angular/test/test-app/src/app/router-link-page2/router-link-page2.component.html
  angular/test/test-app/src/app/router-link-page2/router-link-page2.component.ts
  angular/test/test-app/src/app/router-link-page3/router-link-page3.component.html
  angular/test/test-app/src/app/router-link-page3/router-link-page3.component.ts
  angular/test/test-app/src/app/router-link/router-link.component.html
Labels: package: angular

#18380 fix(datetime): recalculate time columns on change
  core/src/components/datetime/datetime.tsx
Labels: package: core

#18379 fix(item): align stacked and floating items start
  core/src/components/input/test/spec/index.html
  core/src/components/item-sliding/test/test.utils.ts
  core/src/components/item/item.scss
Labels: package: core

#18381 fix(tabs): allow selection on enter and spacebar press
  core/src/components/tab-button/tab-button.tsx
Labels: package: core

#18328 fix(card): remove white space from bottom of card
  core/src/components/card/card.scss
  core/src/components/card/test/button/index.html
Labels: package: core

#18413 test(): remove external images
  core/src/components/avatar/test/standalone/index.html
  core/src/components/card/test/button/index.html
  core/src/components/card/test/img.jpg
  core/src/components/card/test/translucent/index.html
  core/src/components/slides/test/app-intro/index.html
  core/src/components/thumbnail/test/standalone/index.html
Labels: package: core

#18008 fix(ion-content): don't adjust padding when focus is given to fixed element
  core/src/utils/input-shims/hacks/scroll-padding.ts
Labels: package: core

#18384 docs(readme): remove usages from readme that aren't generated
  core/src/components/alert-controller/readme.md
  core/src/components/datetime/readme.md
  core/src/components/loading/readme.md
  core/src/components/modal/readme.md
  core/src/components/modal/usage/angular.md
  core/src/components/modal/usage/javascript.md
  core/src/components/route-redirect/readme.md
  core/src/components/route-redirect/usage/javascript.md
  core/src/components/split-pane/readme.md
  core/src/components/tabs/readme.md
  core/src/components/tabs/usage/angular.md
  core/src/components/tabs/usage/javascript.md
  core/src/components/virtual-scroll/readme.md
  core/src/components/virtual-scroll/usage/angular.md
Labels: package: core

#18423 feat(toast): allow html content
  core/src/components/toast/test/basic/e2e.ts
  core/src/components/toast/test/basic/index.html
  core/src/components/toast/toast.tsx
Labels: package: core

#18434 feat(menu-button): add variables for hover and focused states
  core/api.txt
  core/src/components/buttons/buttons.md.scss
  core/src/components/menu-button/menu-button.ios.scss
  core/src/components/menu-button/menu-button.md.scss
  core/src/components/menu-button/menu-button.scss
  core/src/components/menu-button/menu-button.tsx
  core/src/components/menu-button/readme.md
  core/src/components/menu-button/test/basic/e2e.ts
  core/src/components/menu-button/test/basic/index.html
Labels: package: core
