Repository ionic-team/ionic-framework, pull requests merged in 2019-09, with the labels that each got.

#19234 fix(menu): menu is positioned currently on resize
  core/src/components/menu/menu.tsx
  core/src/utils/animation/animation.ts
Labels: package: core

#19199 fix(animation): add correct `onFinish` interface parameters
  core/src/utils/animation/animation-interface.ts
Labels: package: core

#19267 4.9.0
  CHANGELOG.md
  angular/package.json
  core/package.json
  docs/package.json
Labels: package: angular, package: core

#19268 feat(title): add large iOS toolbar title
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/buttons/buttons.tsx
  core/src/components/buttons/readme.md
  core/src/components/header/header.ios.scss
  core/src/components/header/header.md.scss
  core/src/components/header/header.tsx
  core/src/components/header/header.utils.ts
  core/src/components/header/readme.md
  core/src/components/searchbar/searchbar.ios.scss
  core/src/components/title/readme.md
  core/src/components/title/test/scenarios/index.html
  core/src/components/title/title.scss
  core/src/components/title/title.tsx
  core/src/components/toolbar/test/title/index.html
  core/src/components/toolbar/toolbar.ios.scss
  core/src/components/toolbar/toolbar.ios.vars.scss
  core/src/components/toolbar/toolbar.tsx
  core/src/utils/transition/index.ts
  core/src/utils/transition/ios.transition.ts
Labels: package: angular, package: core

#19265 chore(): fix css warnings
  core/src/css/core.scss
  core/src/css/display.scss
  core/src/css/float-elements.scss
  core/src/css/padding.scss
  core/src/css/structure.scss
  core/src/css/text-alignment.scss
  core/src/css/text-transformation.scss
  core/src/css/typography.scss
Labels: package: core

#18970 docs(nav-push): terminology tweaks
  core/src/components/nav-push/readme.md
Labels: package: core

#18948 docs(nav): typos
  core/src/components/nav/readme.md
Labels: package: core

#19309 feat(docs): add vscode docs support
  core/package.json
  core/src/utils/watch-options.ts
  core/stencil.config.ts
Labels: package: core

#19287 fix(animation): animations of duration 0 run in Safari
  core/src/utils/animation/animation.ts
Labels: package: core

#19288 fix(animation): fallback to CSS Animations on older versions of Chrome
  core/src/utils/animation/animation.ts
Labels: package: core

#19321 fix(animation): set defaults to avoid inconsistencies
  core/src/utils/animation/animation.ts
  core/src/utils/animation/test/animation.spec.ts
  core/src/utils/animation/test/multiple/index.html
Labels: package: core

#19398 chore(): update swiper
  core/package.json
  core/src/components/slides/swiper/swiper.bundle.js
Labels: package: core

#19393 Fix angular double initialize
  angular/src/app-initialize.ts
Labels: package: angular

#19407 docs(item-sliding): set headers to title case
  core/src/components/item-sliding/readme.md
Labels: package: core

#19406 docs(item-options): use title case for headers
  core/src/components/item-options/readme.md
Labels: package: core

#19404 docs(item-group): add sliding item comment as docs
  core/src/components/item-group/readme.md
Labels: package: core

#19403 docs(item-divider): remove extra word "like"
  core/src/components/item-divider/readme.md
Labels: package: core

#19402 docs(item): fragment links pointed at root not doc
  core/src/components/item/readme.md
Labels: package: core

#19418 docs(breaking): fix minor grammar issues
  angular/BREAKING.md
Labels: package: angular

#19335 fix(router-outlet): hide leaving view after transition finishes
  core/src/components/router-outlet/route-outlet.tsx
Labels: package: core

#19104 feat(config): expose getMode() and deprecate Config
  angular/src/providers/config.ts
  core/src/utils/config.ts
Labels: package: angular, package: core

#19437 chore(): update deps
  core/package.json
  core/scripts/testing/scripts.js
  core/src/components.d.ts
  packages/react/src/components/IonActionSheet.tsx
  packages/react/src/components/__tests__/createComponent.spec.tsx
  packages/react/src/components/createComponent.tsx
  packages/react/src/components/navigation/IonBackButton.tsx
  packages/react/src/components/utils/index.tsx
Labels: package: core

#19448 fix(radio-group): get radios before caching value to avoid infinite loop
  core/src/components/radio-group/radio-group.tsx
Labels: package: core

#19454 fix(menu): menus show proper drop shadows
  core/src/components/menu-controller/menu-controller.scss
  core/src/components/menu-controller/menu-controller.ts
  core/src/css/core.scss
Labels: package: core

#19457 perf(animation): avoid ngzone with requestAnimationFrame
  core/src/components/menu/test/basic/index.html
  core/src/utils/animation/animation.ts
  core/src/utils/helpers.ts
Labels: package: core

#19462 chore(): update stencil
  core/package.json
Labels: package: core

#19468 test(angular): fix dependencies
  angular/test/test-app/karma.conf.js
  angular/test/test-app/package.json
Labels: package: angular

#19460 fix(ie): classList does not support variadic
  angular/src/directives/control-value-accessors/value-accessor.ts
  angular/src/directives/navigation/stack-controller.ts
  core/src/components/tab/tab.tsx
  core/src/components/tabs/tabs.tsx
  core/src/utils/animation/animation-utils.ts
  core/src/utils/animation/animation.ts
  vue/src/components/navigation/ion-vue-router.ts
Labels: package: angular, package: core, package: vue

#19458 chore(): webpack does not some local variables
  core/src/utils/sanitization/index.ts
Labels: package: core

#19471 fix(content): remove pointer-events from iOS transition shadow
  core/src/components/content/content.scss
Labels: package: core

#19473 fix(ie): css variables
  core/package.json
Labels: package: core

#19477 4.10.0
  CHANGELOG.md
  angular/package.json
  core/package.json
  docs/package.json
Labels: package: angular, package: core

#18956 refactor(css): remove CSS util attributes
  angular/src/directives/css-utils-deprecations.ts
  angular/src/index.ts
  angular/src/ionic-module.ts
  core/src/css/flex-utils.scss
  core/src/css/float-elements.scss
  core/src/css/padding.scss
  core/src/css/text-alignment.scss
  core/src/css/text-transformation.scss
Labels: package: core

#18953 refactor(searchbar): remove boolean values from showCancelButton
  core/api.txt
  core/src/components.d.ts
  core/src/components/searchbar/readme.md
  core/src/components/searchbar/searchbar.tsx
Labels: package: core

#19497 Fix Object.assing typo
  core/src/components/popover-controller/readme.md
  core/src/components/popover-controller/usage/javascript.md
  core/src/components/popover/readme.md
  core/src/components/popover/usage/javascript.md
Labels: package: core
