Repository ionic-team/ionic-framework, pull requests merged in 2019-01, with the labels that each got.

#16926 fix(tabs): fix goto root
  angular/src/directives/navigation/ion-tabs.ts
  angular/src/providers/nav-controller.ts
  core/src/utils/overlays.ts
Labels: package: angular, package: core

#16882 fix(docs): update ion-segment sample codes
  core/src/components/segment/readme.md
  core/src/components/segment/usage/angular.md
  core/src/components/segment/usage/javascript.md
Labels: package: core

#16952 Fix property name
  core/src/components/virtual-scroll/readme.md
Labels: package: core

#16955 fix(ripple-effect): never capture click
  core/src/components/ripple-effect/ripple-effect.scss
  core/src/components/ripple-effect/test/basic/index.html
Labels: package: core

#16859 docs(grid): fix links to row and col components
  core/src/components/grid/readme.md
Labels: package: core

#16966 [WIP] Bundle size improvements for angular
  angular/package.json
  angular/scripts/rollup.config.js
  angular/src/app-initialize.ts
  angular/src/components.d.ts
  angular/src/directives/index.ts
  angular/src/directives/navigation/ion-back-button.ts
  angular/src/directives/navigation/ion-router-outlet.ts
  angular/src/directives/navigation/ion-tabs.ts
  angular/src/directives/navigation/router-link-delegate.ts
  angular/src/directives/proxies-list.txt
  angular/src/directives/proxies-utils.ts
  angular/src/directives/proxies.ts
  angular/src/directives/virtual-scroll/virtual-scroll.ts
  angular/src/index.ts
  angular/src/ionic-module.ts
  angular/src/providers/action-sheet-controller.ts
  angular/src/providers/alert-controller.ts
  angular/src/providers/config.ts
  angular/src/providers/dom-controller.ts
  angular/src/providers/events.ts
  angular/src/providers/index.ts
  angular/src/providers/loading-controller.ts
  angular/src/providers/menu-controller.ts
  angular/src/providers/nav-controller.ts
  angular/src/providers/picker-controller.ts
  angular/src/providers/platform.ts
  angular/src/providers/toast-controller.ts
  core/package.json
  core/src/utils/hardware-back-button.ts
  core/stencil.config.ts
Labels: package: angular, package: core

#16998 fix(angular): update @angular/router dependency #16990
  angular/package.json
Labels: package: angular

#17007 perf(angular): flat ng modules
  .gitignore
  angular/package.json
  angular/scripts/rollup.config.js
  angular/scripts/rollup.config.legacy.js
  angular/src/ionic-module.ts
  angular/test/test-app/scripts/sync.sh
  angular/tsconfig.json
  angular/tsconfig.legacy.json
Labels: package: angular

#16745 fix(popover): position properly in RTL / MD modes
  core/src/components/popover/animations/md.enter.ts
Labels: package: core

#17015 test(popover): add popover rtl test
  core/src/components/popover/test/basic/e2e.ts
Labels: package: core

#16702 fix(col): handle RTL offset-*, pull-*, and push-*
  core/src/components.d.ts
  core/src/components/col/col.tsx
  core/src/components/col/readme.md
Labels: package: core

#17016 fix(icon): fix rtl detail icon for ios
  core/src/components/item/item.tsx
  core/src/components/item/test/icons/e2e.ts
Labels: package: core

#17018 fix(picker): do not change column order when RTL
  core/.stylelintrc.yml
  core/src/components/datetime/test/basic/e2e.ts
  core/src/components/datetime/test/basic/index.html
  core/src/components/picker/picker.scss
Labels: package: core

#17017 Update index.html
  core/src/components/avatar/test/preview/index.html
Labels: package: core

#17024 fix(datetime): do no change order of formatted dates w/ rtl
  core/src/components/datetime/datetime.scss
Labels: package: core

#17037 fix(angular): ViewChild() fix
  angular/package.json
  angular/src/directives/index.ts
  angular/src/index.ts
  angular/src/providers/index.ts
  angular/test/test-app/e2e/src/view-child.e2e-spec.ts
  angular/test/test-app/package-lock.json
  angular/test/test-app/package.json
  angular/test/test-app/src/app/app-routing.module.ts
  angular/test/test-app/src/app/app.module.ts
  angular/test/test-app/src/app/home-page/home-page.component.html
  angular/test/test-app/src/app/view-child/view-child.component.html
  angular/test/test-app/src/app/view-child/view-child.component.ts
Labels: package: angular

#16862 fix(action-sheet): remove the height shift on press
  .github/CONTRIBUTING.md
  core/src/components.d.ts
  core/src/components/action-sheet/action-sheet.ios.scss
  core/src/components/action-sheet/action-sheet.ios.vars.scss
  core/src/components/action-sheet/action-sheet.md.vars.scss
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/action-sheet/readme.md
  core/src/components/action-sheet/test/alert-from-action-sheet/e2e.ts
  core/src/components/action-sheet/test/alert-from-action-sheet/index.html
  core/src/components/action-sheet/test/basic/e2e.ts
  core/src/components/action-sheet/test/basic/index.html
  core/src/components/action-sheet/test/cancel-only/e2e.ts
  core/src/components/action-sheet/test/cancel-only/index.html
  core/src/components/action-sheet/test/custom/e2e.ts
  core/src/components/action-sheet/test/custom/index.html
  core/src/components/action-sheet/test/icons/e2e.ts
  core/src/components/action-sheet/test/icons/index.html
  core/src/components/action-sheet/test/no-backdrop-dismiss/index.html
  core/src/components/action-sheet/test/scroll-without-cancel/e2e.ts
  core/src/components/action-sheet/test/scroll-without-cancel/index.html
  core/src/components/action-sheet/test/scrollable-options/e2e.ts
  core/src/components/action-sheet/test/scrollable-options/index.html
  core/src/components/action-sheet/test/spec/e2e.ts
  core/src/components/action-sheet/test/translucent/e2e.ts
  core/src/components/action-sheet/test/translucent/index.html
  core/src/components/alert/alert.ios.vars.scss
  core/src/components/alert/test/basic/e2e.ts
  core/src/components/alert/test/standalone/e2e.ts
  core/src/components/card-header/card-header.ios.vars.scss
  core/src/components/fab-button/fab-button.ios.vars.scss
  core/src/components/input/test/basic/e2e.ts
  core/src/components/loading/loading.ios.vars.scss
  core/src/components/picker-column/readme.md
  core/src/components/picker/picker.ios.vars.scss
  core/src/components/picker/picker.md.vars.scss
  core/src/components/popover/popover.ios.vars.scss
  core/src/components/toast/toast.ios.vars.scss
  core/src/themes/ionic.theme.default.scss
Labels: package: core

#17050 fix(fab-button): add default padding for fab-button
  core/src/components/fab-button/fab-button.scss
Labels: package: core

#17043 fix(input): disable shadow-dom for text inputs
  core/src/components/input/input.ios.scss
  core/src/components/input/input.md.scss
  core/src/components/input/input.scss
  core/src/components/input/input.tsx
  core/src/components/item/item.ios.scss
  core/src/components/item/item.md.scss
  core/src/components/textarea/textarea.ios.scss
  core/src/components/textarea/textarea.md.scss
  core/src/components/textarea/textarea.scss
  core/src/components/textarea/textarea.tsx
Labels: package: core

#17049 fix(item): no lines on item should take precedence over list lines
  core/src/components/item/test/lines/index.html
  core/src/components/list/list.ios.scss
  core/src/components/list/list.md.scss
Labels: package: core

#17085 test(angular): add test for slides
  angular/test/test-app/e2e/src/slides.e2e-spec.ts
  angular/test/test-app/src/app/app-routing.module.ts
  angular/test/test-app/src/app/app.module.ts
  angular/test/test-app/src/app/slides/slides.component.html
  angular/test/test-app/src/app/slides/slides.component.ts
  core/package.json
Labels: package: angular

#17099 test(angular): add more ViewChild and event tests
  angular/src/directives/proxies.ts
  angular/test/test-app/e2e/src/slides.e2e-spec.ts
  angular/test/test-app/e2e/src/view-child.e2e-spec.ts
  angular/test/test-app/scripts/sync.sh
  angular/test/test-app/src/app/home-page/home-page.component.html
  angular/test/test-app/src/app/slides/slides.component.html
  angular/test/test-app/src/app/slides/slides.component.ts
  angular/test/test-app/src/app/view-child/view-child.component.html
  angular/test/test-app/src/app/view-child/view-child.component.ts
  core/api.txt
  core/package.json
  core/scripts/api-spec-generator.js
Labels: package: angular, package: core

#17079 feat(angular): expose getSelected()
  angular/src/directives/navigation/ion-back-button.ts
  angular/src/directives/navigation/ion-tabs.ts
  angular/src/directives/navigation/router-link-delegate.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/tab/tab.tsx
  core/src/components/tabs/readme.md
  core/src/components/tabs/tabs.tsx
Labels: package: angular, package: core

#17101 refactor(all): remove ionChange in non-inputs
  angular/src/directives/navigation/ion-tabs.ts
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/content/content.tsx
  core/src/components/nav/nav.tsx
  core/src/components/nav/readme.md
  core/src/components/router-outlet/route-outlet.tsx
  core/src/components/split-pane/readme.md
  core/src/components/split-pane/split-pane.tsx
  core/src/components/tabs/readme.md
  core/src/components/tabs/tabs.tsx
Labels: package: core

#17109 fix(rtl): fix rtl back button default
  core/src/components/back-button/back-button.tsx
Labels: package: core

#17110 test(menu): fix e2e menu wait
  core/src/components/item/test/inputs/e2e.ts
  core/src/components/menu/test/basic/e2e.ts
  core/src/components/menu/test/standalone/e2e.ts
Labels: package: core

#17108 docs(BREAKING.md): typo - fortunatelly / fortunately
  angular/BREAKING.md
Labels: package: angular

#17116 fix(utils): remove console log
  core/src/utils/tap-click.ts
Labels: package: core

#17121 fix(angular): hide some internal methods
  angular/src/providers/nav-controller.ts
Labels: package: angular

#16987 fix(rtl): enable ltr default, rtl selectors
  core/src/components/item-divider/item-divider.scss
  core/src/components/item/test/basic/e2e.ts
  core/src/themes/ionic.functions.string.scss
  core/src/themes/ionic.globals.scss
  core/src/themes/ionic.mixins.scss
Labels: package: core

#16978 fix(input): fix display of ion-input in narrow ion-item in Firefox
  core/src/components/input/input.scss
  core/src/components/input/test/basic/index.html
Labels: package: core

#17119 docs(row): fix links to grid and col components
  core/src/components/row/readme.md
Labels: package: core

#17129 fix(alert): update styles for rtl
  core/src/components/alert/alert.ios.scss
  core/src/components/alert/alert.scss
  core/src/components/alert/test/basic/e2e.ts
  core/src/themes/ionic.functions.string.scss
  core/src/themes/ionic.mixins.scss
Labels: package: core

#17146 fix(select): pass click event to popover interface
  core/src/components/select/select.tsx
  core/src/components/select/test/basic/e2e.ts
  core/src/components/select/test/basic/index.html
Labels: package: core

#17048 fix(fab): removes content layout contain to show fab on top of toolbar
  core/src/components/content/content.scss
Labels: package: core

#17164 fix(angular): navigateRoot + animated
  angular/src/providers/nav-controller.ts
Labels: package: angular

#17170 fix(content): tap-click deadlock
  core/src/components/content/content.tsx
  core/src/components/nav/test/basic/index.html
  core/src/utils/tap-click.ts
Labels: package: core

#17167 test(angular): add test for dynamic slides
  angular/test/test-app/e2e/src/slides.e2e-spec.ts
  angular/test/test-app/src/app/slides/slides.component.html
  angular/test/test-app/src/app/slides/slides.component.ts
Labels: package: angular

#17154 fix(searchbar): keep search icon shown when searchbar has focus
  core/src/components/searchbar/searchbar.md.scss
Labels: package: core

#17163 chore(): update stencil
  angular/test/test-app/package-lock.json
  core/package.json
  core/src/components/button/button.tsx
  core/src/components/toast/toast.tsx
Labels: package: core

#17175 Fix angular validation
  angular/src/directives/control-value-accessors/value-accessor.ts
  angular/test/test-app/src/app/app-routing.module.ts
  angular/test/test-app/src/app/app.module.ts
  angular/test/test-app/src/app/form/form.component.html
  angular/test/test-app/src/app/form/form.component.ts
  angular/test/test-app/src/app/home-page/home-page.component.html
  core/src/components/checkbox/checkbox.tsx
  core/src/components/datetime/datetime.tsx
  core/src/components/input/input.md.vars.scss
  core/src/components/item/item.scss
  core/src/components/range/range.tsx
  core/src/components/select/select.tsx
  core/src/components/toggle/toggle.tsx
  core/src/utils/tap-click.ts
Labels: package: angular, package: core

#17179 test(angular): form tests
  angular/test/test-app/e2e/src/form.e2e-spec.ts
  angular/test/test-app/src/app/form/form.component.html
  angular/test/test-app/src/app/form/form.component.ts
Labels: package: angular

#17182 feat(angular): add global pop()
  angular/src/directives/navigation/ion-router-outlet.ts
  angular/src/directives/navigation/stack-controller.ts
  angular/src/providers/nav-controller.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/router/readme.md
  core/src/components/router/router.tsx
Labels: package: angular

#17184 fix(gesture): destroy gesture handler when it's done
  core/src/components/item-sliding/item-sliding.tsx
  core/src/components/menu/menu.tsx
  core/src/components/nav/nav.tsx
  core/src/components/picker-column/picker-column.tsx
  core/src/components/range/range.tsx
  core/src/components/refresher/refresher.tsx
  core/src/components/reorder-group/reorder-group.tsx
  core/src/components/router-outlet/route-outlet.tsx
  core/src/components/toggle/toggle.tsx
Labels: package: core

#17191 chore(): fix release date of dev releases
  .scripts/release-dev.js
  core/stencil.config.ts
Labels: package: core

#17183 feat(input): add getInputElement()
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/input/input.tsx
  core/src/components/input/readme.md
  core/src/components/searchbar/readme.md
  core/src/components/searchbar/searchbar.tsx
  core/src/components/textarea/readme.md
  core/src/components/textarea/textarea.tsx
Labels: package: angular, package: core

#17198 fix(button): avoid using attribute selectors for disabled
  core/src/components/button/button.scss
  core/src/components/fab-button/fab-button.scss
Labels: package: core

#17197 fix(angular): race condition when fast navigation
  angular/src/directives/navigation/stack-controller.ts
  angular/test/test-app/e2e/src/form.e2e-spec.ts
  angular/test/test-app/e2e/src/navigation.e2e-spec.ts
  angular/test/test-app/src/app/app-routing.module.ts
  angular/test/test-app/src/app/app.module.ts
  angular/test/test-app/src/app/navigation-page1/navigation-page1.component.html
  angular/test/test-app/src/app/navigation-page1/navigation-page1.component.ts
  angular/test/test-app/src/app/navigation-page2/navigation-page2.component.html
  angular/test/test-app/src/app/navigation-page2/navigation-page2.component.ts
  angular/test/test-app/src/app/navigation-page3/navigation-page3.component.html
  angular/test/test-app/src/app/navigation-page3/navigation-page3.component.ts
Labels: package: angular

#17208 feat(slides): expose updateAutoHeight
  angular/src/directives/proxies.ts
  angular/test/test-app/src/app/navigation-page3/navigation-page3.component.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/slides/readme.md
  core/src/components/slides/slides.tsx
Labels: package: angular, package: core

#17196 fix(icon): update to latest ionicons and add rtl test
  angular/src/directives/proxies.ts
  core/package.json
  core/src/components/app/fonts/ionicons.scss
  core/src/components/back-button/back-button.tsx
  core/src/components/icon/test/dir/e2e.ts
  core/src/components/icon/test/dir/heart-broken.svg
  core/src/components/icon/test/dir/index.html
  core/src/components/icon/test/preview/index.html
  core/src/components/item/item.tsx
Labels: package: core

#17211 docs(angular): adds docs to angular API
  angular/src/directives/navigation/ion-router-outlet.ts
  angular/src/providers/dom-controller.ts
  angular/src/providers/nav-controller.ts
  angular/src/providers/platform.ts
  angular/src/util/overlay.ts
Labels: package: angular

#17065 fix(item): style all slots regardless of interactive
  core/src/components/item/item.ios.scss
  core/src/components/item/item.md.scss
  core/src/components/list/test/spec/index.html
Labels: package: core

#16849 fix(react): correct controller types and reexport AlertOptions.
  react/package.json
  react/src/components/IonActionSheet.tsx
  react/src/components/IonAlert.tsx
  react/src/components/IonLoading.tsx
  react/src/components/IonModal.tsx
  react/src/components/IonPopover.tsx
  react/src/components/IonToast.tsx
  react/src/components/createComponent.tsx
  react/src/components/createControllerComponent.tsx
  react/src/components/createOverlayComponent.tsx
  react/src/components/index.ts
  react/src/components/navigation/IonRouterOutlet.tsx
  react/src/components/navigation/IonTabBar.tsx
  react/src/components/navigation/IonTabs.tsx
  react/src/components/types.ts
  react/src/components/utils.ts
Labels: package: react

#17216 docs(): update alpha docs for react and vue.
  README.md
  react/README.md
  vue/README.md
Labels: package: react, package: vue

#17217 React update
  react/package.json
Labels: package: react

#17231 fix(build): modify rollup.config.js to work with Windows
  angular/scripts/rollup.config.js
Labels: package: angular

#17244 fix(reorder): capture click event
  core/src/components/reorder-group/test/basic/index.html
  core/src/components/reorder/reorder.tsx
Labels: package: core

#17258 add flex: 1 to ion-grid to allow it to properly render in an ion-item
  core/src/components/grid/grid.scss
Labels: package: core

#17294 docs(alert): correct alert-controller link path
  core/src/components/alert/readme.md
Labels: package: core

#17295 docs(loading): correct loading-controller link path
  core/src/components/loading/readme.md
Labels: package: core

#17260 fix(searchbar): hide search icon when focused with cancel button
  core/src/components/searchbar/searchbar.md.scss
Labels: package: core

#17321 Fix duplicate events being fired in ionic/react
  react/src/components/IonModal.tsx
  react/src/components/IonPopover.tsx
  react/src/components/createControllerComponent.tsx
  react/src/components/createOverlayComponent.tsx
  react/src/components/navigation/IonTabBar.tsx
  react/src/components/utils.ts
  react/src/index.ts
  react/src/register.ts
  react/src/types.ts
Labels: package: react
