Repository ionic-team/ionic-framework, pull requests merged in 2019-02, with the labels that each got.

#17333 retun -> return
  core/src/components/modal/readme.md
Labels: package: core

#17318 test(searchbar): update searchbar tests to take focused screenshots
  core/src/components/searchbar/test/basic/e2e.ts
  core/src/components/searchbar/test/basic/index.html
Labels: package: core

#17356 feat(platform): add mobileweb platform
  angular/src/providers/platform.ts
  core/src/utils/platform.ts
Labels: package: angular, package: core

#17355 fix(platform): add additional check for safari PWA
  core/src/utils/platform.ts
Labels: package: core

#17365 docs: Fix small typo in item docs
  core/src/components/item/readme.md
Labels: package: core

#17360 Fixing Typo
  core/src/components/datetime/readme.md
Labels: package: core

#17357 docs(loading): remove dismissOnPageChange, add ionLoadingDidDismiss
  core/src/components/loading/readme.md
  core/src/components/loading/usage/angular.md
  core/src/components/loading/usage/javascript.md
Labels: package: core

#17375 docs(loading): update example to show proper usage
  core/src/components/loading/readme.md
  core/src/components/loading/usage/angular.md
  core/src/components/loading/usage/javascript.md
Labels: package: core

#17354 test(platform): Add Platform tests
  core/src/utils/platform.ts
  core/src/utils/test/platform.spec.ts
Labels: package: core

#17383 fix(menu): iOS + RTL (from PR 17157)
  core/src/components/menu-controller/menu-controller.scss
  core/src/components/menu/menu.ios.vars.scss
Labels: package: core

#17381 fix(popover): RTL (from PR 17157)
  core/src/components/popover/animations/md.enter.ts
Labels: package: core

#17415 docs(angular/datetime): typos and clean up
  core/src/components/datetime/readme.md
Labels: package: core

#17417 docs(reorder): Fix incomplete docs
  core/src/components.d.ts
  core/src/components/reorder-group/readme.md
  core/src/components/reorder-group/reorder-group.tsx
  core/src/components/reorder/readme.md
Labels: package: core

#17431 docs(loading): update loading example
  angular/BREAKING.md
Labels: package: angular

#17432 docs(loading): add missing async to new loading example
  angular/BREAKING.md
Labels: package: angular

#17442 ionic/react release 0.0.4
  react/package.json
Labels: package: react

#17474 fix(searchbar): allow setting of toolbar color and searchbar color
  core/src/components/searchbar/searchbar.ios.scss
  core/src/components/searchbar/test/toolbar/index.html
Labels: package: core

#17401 docs(popover): Add missing comma in example
  core/src/components/popover/readme.md
  core/src/components/popover/usage/javascript.md
Labels: package: core

#17384 fix(range): RTL (from PR 17157)
  core/src/components/range/range.md.scss
  core/src/components/range/range.scss
  core/src/components/range/range.tsx
Labels: package: core

#17441 docs(): Add documentation for slots
  core/package.json
  core/src/components/button/button.tsx
  core/src/components/button/readme.md
  core/src/components/content/content.tsx
  core/src/components/content/readme.md
  core/src/components/item-divider/item-divider.tsx
  core/src/components/item-divider/readme.md
  core/src/components/item-option/item-option.tsx
  core/src/components/item-option/readme.md
  core/src/components/item/item.tsx
  core/src/components/item/readme.md
  core/src/components/range/range.tsx
  core/src/components/range/readme.md
  core/src/components/slides/swiper/swiper.bundle.js
  core/src/components/tabs/readme.md
  core/src/components/tabs/tabs.tsx
  core/src/components/toolbar/readme.md
  core/src/components/toolbar/toolbar.tsx
Labels: package: core

#16884 docs(avatar): update angular usage for img src
  core/src/components/avatar/readme.md
  core/src/components/avatar/usage/angular.md
Labels: package: core

#17302 fix(config): update types for scrollPadding, inputBlurring and hideCaretOnScroll to boolean
  core/src/utils/config.ts
Labels: package: core

#17400 feat(range): add neutral point
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/range/range.tsx
  core/src/components/range/readme.md
  core/src/components/range/test/basic/index.html
  core/src/components/range/usage/angular.md
  core/src/components/range/usage/javascript.md
Labels: package: angular, package: core

#17479 fix(Range): rtl support
  core/src/components/range/range.tsx
Labels: package: angular, package: core

#17405 fix(select): Account for when options are not loaded immediately
  core/src/components/select/select.tsx
  core/src/components/select/test/async/e2e.ts
  core/src/components/select/test/async/index.html
Labels: package: core

#17492 fix(item-sliding): Sliding no longer breaks after removing an item
  core/src/components/item-sliding/item-sliding.tsx
  core/src/components/item-sliding/test/interactive/e2e.ts
  core/src/components/item-sliding/test/interactive/index.html
Labels: package: core

#17443 fix(datetime): default to current date when no value given
  core/src/components/datetime/datetime-util.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/datetime.spec.ts
Labels: package: core

#17508 fix(button): activated button on ios shows proper shade
  core/src/components/button/button.ios.scss
Labels: package: core

#17550 chore(): revert neutral point
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/range/range.tsx
  core/src/components/range/readme.md
  core/src/components/range/test/basic/index.html
  core/src/components/range/usage/angular.md
  core/src/components/range/usage/javascript.md
Labels: package: angular, package: core

#17551 React tests
  react/__mocks__/@ionic/core/loader/index.js
  react/__mocks__/ionicons/icons/index.js
  react/__mocks__/ionicons/index.js
  react/jest.setup.js
  react/package.json
  react/src/components/IonLoading.tsx
  react/src/components/IonPage.tsx
  react/src/components/__tests__/IonRouterOutlet.tsx
  react/src/components/__tests__/createComponent.tsx
  react/src/components/__tests__/createControllerComponent.tsx
  react/src/components/__tests__/createOverlayComponent.tsx
  react/src/components/__tests__/utils.ts
  react/src/components/createComponent.tsx
  react/src/components/createControllerComponent.tsx
  react/src/components/createOverlayComponent.tsx
  react/src/components/index.ts
  react/src/components/navigation/IonRouterOutlet.tsx
  react/src/components/utils/controller-test-utils.ts
  react/src/components/utils/index.ts
  react/src/index.ts
  react/src/register.ts
  react/tsconfig.json
Labels: package: react

#17552 increment package.json and update readme
  react/README.md
  react/package.json
Labels: package: react

#17570 fix(css): add the missing css classes to flex and float utils
  core/src/css/flex-utils.scss
  core/src/css/float-elements.scss
Labels: package: core

#17568 fix(reorder): increase gesture priority
  core/src/components/reorder-group/reorder-group.tsx
  core/src/components/reorder-group/test/basic/index.html
Labels: package: core

#17359 feat(css): add CSS display utilities
  core/.stylelintrc.yml
  core/src/css/display.scss
  core/src/css/utils.bundle.scss
Labels: package: core

#17590 fix(ssr): fix global window and document references
  core/src/components/button/button.tsx
  core/src/components/col/col.tsx
  core/src/components/item-sliding/item-sliding.tsx
  core/src/components/menu/menu.tsx
  core/src/components/modal/animations/ios.leave.ts
  core/src/components/popover/animations/ios.enter.ts
  core/src/components/popover/animations/md.enter.ts
  core/src/components/range/range.tsx
  core/src/components/router/router.tsx
  core/src/components/split-pane/split-pane.tsx
  core/src/components/toggle/toggle.tsx
  core/src/global/config.ts
  core/src/global/ionic-global.ts
  core/src/utils/animation/animator.ts
  core/src/utils/input-shims/hacks/scroll-data.ts
  core/src/utils/media.ts
  core/src/utils/platform.ts
  core/src/utils/transition/ios.transition.ts
Labels: package: core

#17582 fix(img): remove space under img
  core/src/components/img/img.scss
Labels: package: core

#17606 tests(react): Add matchMedia to jest setup.
  react/jest.setup.js
Labels: package: react

#17604 fix(ssr): fix global window and document references
  angular/src/app-initialize.ts
  angular/src/directives/navigation/ion-router-outlet.ts
  angular/src/ionic-module.ts
  angular/src/providers/action-sheet-controller.ts
  angular/src/providers/alert-controller.ts
  angular/src/providers/config.ts
  angular/src/providers/dom-controller.ts
  angular/src/providers/loading-controller.ts
  angular/src/providers/menu-controller.ts
  angular/src/providers/modal-controller.ts
  angular/src/providers/picker-controller.ts
  angular/src/providers/platform.ts
  angular/src/providers/popover-controller.ts
  angular/src/providers/toast-controller.ts
  angular/src/util/overlay.ts
  angular/src/util/util.ts
  core/src/components/segment/test/custom/index.html
  core/src/global/ionic-global.ts
  core/src/utils/platform.ts
Labels: package: angular, package: core

#17180 docs(modal): add vuejs usage docs
  core/src/components/modal/usage/vue.md
Labels: package: core, package: vue

#17597 fix(angular): ng-add throws when not run against Angular CLI's initia…
  angular/src/schematics/add/index.ts
  angular/src/schematics/utils/ast.ts
Labels: package: angular

#17199 docs(usage): add alert and action-sheet vue docs
  core/src/components/action-sheet/readme.md
  core/src/components/action-sheet/usage/vue.md
  core/src/components/alert/readme.md
  core/src/components/alert/usage/vue.md
Labels: package: core, package: vue

#17188 fix(controllers): pass props and data to components
  vue/src/controllers/vue-delegate.ts
Labels: package: vue

#17579 fix(item-sliding): no longer closes all open items when deleting and item
  core/src/components/item-sliding/item-sliding.tsx
Labels: package: core
