Repository ionic-team/ionic-framework, pull requests merged in 2019-11, with the labels that each got.

#19821 chore(): fix tabs
  core/src/components/tab/tab.tsx
  core/src/components/tabs/tabs.tsx
  core/src/components/tabs/test/standalone/index.html
  core/src/utils/gesture/pointer-events.ts
Labels: package: core

#19734 chore(): update stencil
  core/package.json
  core/src/components.d.ts
Labels: package: core

#19846 fix(ios): only animate large title if back button is in start slot
  core/src/utils/transition/ios.transition.ts
Labels: package: core

#19850 fix(header): avoid flicker on ios when collapsing
  core/src/components/header/header.ios.scss
Labels: package: core

#19344 docs(toggle): update prop name for toggle OnChange in react
  core/src/components/toggle/readme.md
  core/src/components/toggle/usage/react.md
Labels: package: core

#19195 Generic Type to navigation parameters get()
  angular/src/directives/navigation/nav-params.ts
Labels: package: angular

#19866 Release 4.11.4
  CHANGELOG.md
  core/src/utils/animation/test/animation.spec.ts
  packages/react-router/src/ReactRouter/NavManager.tsx
  packages/react-router/src/ReactRouter/RouteManagerContext.ts
  packages/react-router/src/ReactRouter/Router.tsx
  packages/react-router/src/ReactRouter/StackManager.tsx
  packages/react-router/src/utils/LocationHistory.ts
  packages/react-router/tslint.json
  packages/react/src/components/createControllerComponent.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/utils/index.tsx
  packages/react/src/contexts/IonLifeCycleContext.tsx
  packages/react/src/lifecycle/hooks.ts
Labels: package: core

#19625 doc(ion-searchbar): Vue needs kebab-case for the component attributes
  core/src/components/searchbar/readme.md
  core/src/components/searchbar/usage/vue.md
Labels: package: core

#19717 chore(menu): change deprecated error message
  core/src/components/menu/menu.tsx
Labels: package: core

#19867 fix(content): set fixed content to position absolute
  core/src/components/content/content.scss
  core/src/components/content/test/fixed/e2e.ts
  core/src/components/content/test/fixed/index.html
Labels: package: core

#19864 feat(angular): expose Ionic Gesture via GestureController
  angular/src/index.ts
  angular/src/providers/gesture-controller.ts
  core/src/interface.d.ts
Labels: package: angular, package: core

#19838 feat(searchbar): add --box-shadow variable to style searchbar input
  core/api.txt
  core/src/components/searchbar/readme.md
  core/src/components/searchbar/searchbar.ios.scss
  core/src/components/searchbar/searchbar.md.scss
  core/src/components/searchbar/searchbar.scss
  core/src/components/searchbar/test/basic/index.html
Labels: package: core

#19872 docs(slides): document css vars
  core/api.txt
  core/src/components/slides/readme.md
  core/src/components/slides/slides.scss
Labels: package: core

#19602 fix(card): update background to use the same as item
  core/src/components/card/card.ios.scss
  core/src/components/card/card.md.scss
Labels: package: core

#19893 feat(select): add --placeholder-opacity, expose shadow parts
  core/api.txt
  core/src/components/select/readme.md
  core/src/components/select/select.scss
  core/src/components/select/select.tsx
  core/src/components/select/test/basic/index.html
Labels: package: core

#16851 feat(alert):adding alert multi line input
  core/src/components/alert/alert-interface.ts
  core/src/components/alert/alert.scss
  core/src/components/alert/alert.tsx
  core/src/components/alert/alert.vars.scss
  core/src/components/alert/readme.md
  core/src/components/alert/test/basic/index.html
  core/src/components/alert/test/preview/index.html
  core/src/components/alert/usage/angular.md
  core/src/components/alert/usage/javascript.md
  core/src/interface.d.ts
Labels: package: core

#19855 fix(gesture): release gesture when disabling
  core/src/utils/gesture/index.ts
Labels: package: core

#18348 fix(item): handle multiple inputs inside ion-item correctly
  core/src/components/item/item.scss
  core/src/components/item/item.tsx
  core/src/components/item/test/inputs/e2e.ts
  core/src/components/item/test/inputs/index.html
Labels: package: core

#19908 chore(angular): update Config deprecation message
  angular/src/providers/config.ts
Labels: package: angular

#19508 docs(virtual-scroll): change virtualTrackBy name
  core/src/components/virtual-scroll/readme.md
Labels: package: core

#19411 refactor(back-button): convert to shadow
  core/api.txt
  core/src/components/back-button/back-button.scss
  core/src/components/back-button/back-button.tsx
  core/src/css/core.scss
  core/src/utils/transition/ios.transition.ts
Labels: package: core

#19909 fix(header): support collapsible header with multiple toolbars
  core/src/components/header/header.tsx
  core/src/components/header/header.utils.ts
  core/src/components/toolbar/test/title/index.html
  core/src/utils/transition/ios.transition.ts
Labels: package: core

#19916 docs(core): fix occurred typo
  core/src/components.d.ts
  core/src/components/input/input.tsx
  core/src/components/input/readme.md
  core/src/components/searchbar/readme.md
  core/src/components/searchbar/searchbar.tsx
  core/src/components/textarea/readme.md
  core/src/components/textarea/textarea.tsx
Labels: package: core

#19941 docs(deprecated-directives): update directive references
  core/src/css/text-alignment.scss
  core/src/css/text-transformation.scss
Labels: package: core

#19944 fix(role): cancel role not close
  core/src/components/app/test/safe-area/index.html
Labels: package: core

#19915 feat(list-header): redesign list header for iOS spec
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/badge/test/basic/index.html
  core/src/components/button/button.ios.scss
  core/src/components/button/button.ios.vars.scss
  core/src/components/button/button.tsx
  core/src/components/checkbox/test/indeterminate/index.html
  core/src/components/item-sliding/test/lines/index.html
  core/src/components/item/item.ios.vars.scss
  core/src/components/item/test/inputs/index.html
  core/src/components/item/test/lines/index.html
  core/src/components/item/test/reorder/index.html
  core/src/components/label/label.ios.scss
  core/src/components/list-header/list-header.ios.scss
  core/src/components/list-header/list-header.ios.vars.scss
  core/src/components/list-header/list-header.md.scss
  core/src/components/list-header/list-header.md.vars.scss
  core/src/components/list-header/list-header.scss
  core/src/components/list-header/list-header.tsx
  core/src/components/list-header/readme.md
  core/src/components/list-header/test/spec/e2e.ts
  core/src/components/list-header/test/spec/index.html
  core/src/components/list/list.ios.vars.scss
  core/src/components/list/test/lines/index.html
  core/src/components/note/test/basic/index.html
  core/src/components/popover/test/basic/index.html
  core/src/components/popover/test/standalone/index.html
  core/src/components/radio-group/readme.md
  core/src/components/radio-group/usage/angular.md
  core/src/components/radio-group/usage/javascript.md
  core/src/components/radio-group/usage/react.md
  core/src/components/radio-group/usage/vue.md
  core/src/components/radio/test/basic/index.html
  core/src/components/range/test/basic/index.html
  core/src/components/select/readme.md
  core/src/components/select/test/basic/index.html
  core/src/components/select/usage/angular.md
  core/src/components/select/usage/javascript.md
  core/src/components/select/usage/react.md
  core/src/components/select/usage/vue.md
  core/src/components/skeleton-text/readme.md
  core/src/components/skeleton-text/test/basic/index.html
  core/src/components/skeleton-text/usage/angular.md
  core/src/components/skeleton-text/usage/javascript.md
  core/src/components/skeleton-text/usage/react.md
  core/src/components/skeleton-text/usage/vue.md
  core/src/components/spinner/test/basic/index.html
  core/src/themes/test/css-variables/index.html
Labels: package: core

#19670 refactor(ionicons): update to ionicons v5
  core/api.txt
  core/package.json
  core/src/components.d.ts
  core/src/components/action-sheet/test/basic/index.html
  core/src/components/action-sheet/test/standalone/index.html
  core/src/components/action-sheet/test/translucent/index.html
  core/src/components/back-button/back-button.tsx
  core/src/components/back-button/test/back-button.spec.ts
  core/src/components/button/test/toolbar/index.html
  core/src/components/fab/test/basic/index.html
  core/src/components/fab/test/translucent/index.html
  core/src/components/icon/readme.md
  core/src/components/icon/test/basic/index.html
  core/src/components/icon/test/dir/index.html
  core/src/components/icon/test/items/index.html
  core/src/components/icon/test/standalone/index.html
  core/src/components/item-sliding/test/standalone/index.html
  core/src/components/item/item.tsx
  core/src/components/item/readme.md
  core/src/components/menu-button/menu-button.tsx
  core/src/components/reorder/reorder.tsx
  core/src/components/searchbar/readme.md
  core/src/components/searchbar/searchbar.tsx
  core/src/components/tab-bar/test/custom/index.html
  core/src/components/tab-bar/test/scenarios/index.html
  core/src/components/tabs/test/basic/index.html
  core/src/components/toolbar/test/basic/index.html
  core/src/components/toolbar/test/scenarios/index.html
  packages/react/package.json
  packages/react/src/components/index.ts
  packages/react/test/test-app/src/App.tsx
  vue/package-lock.json
  vue/package.json
  vue/src/app-initialize.ts
Labels: package: core

#19955 5.0.0-beta.1
  CHANGELOG.md
  angular/package.json
  core/package.json
  docs/package.json
  packages/react-router/package.json
  packages/react/package.json
Labels: package: angular, package: core

#19956 docs(title): update large title docs to mention translucent and fullscreen requirements
  core/src/components/title/readme.md
  core/src/components/title/usage/angular.md
  core/src/components/title/usage/javascript.md
  core/src/components/title/usage/react.md
  core/src/components/title/usage/vue.md
Labels: package: core

#19964 fix(animation): properly update Web Animation, clean up types
  core/src/utils/animation/animation-interface.ts
  core/src/utils/animation/animation.ts
Labels: package: core

#19968 chore(ionicons): update ionicons to 5.0.0-13
  core/package.json
  packages/react/package.json
  vue/package-lock.json
  vue/package.json
Labels: package: core

#19899 fix(react-router): clone ViewItem when a location change returns a ViewItem already in the history (#19891)
  packages/react-router/src/ReactRouter/Router.tsx
  packages/react-router/src/ReactRouter/ViewItem.ts
  packages/react-router/src/ReactRouter/ViewStacks.ts
Labels: package: core, package: react
