Repository ionic-team/ionic-framework, pull requests merged in 2020-07, with the labels that each got.

#21633 fix(input): clear button can now be tabbed to
  core/src/components/input/input.scss
  core/src/components/input/input.tsx
Labels: package: core

#21659 5.2.3
  CHANGELOG.md
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package.json
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/package-lock.json
  packages/react/package.json
Labels: package: angular, package: core

#21680 chore(deps): update stencil and rollup
  core/package-lock.json
  core/package.json
Labels: package: core

#21708 fix(datetime): remove unneeded combox role
  core/src/components/datetime/datetime.tsx
Labels: package: core

#21706 fix(angular): per-page animations now work with swipe to go back
  angular/src/directives/navigation/stack-controller.ts
Labels: package: angular

#21703 fix(ios): improve scroll assist reliability on password inputs
  core/src/utils/input-shims/hacks/scroll-assist.ts
Labels: package: core

#21741 fix(keyboard): keyboard events now consistently fire on android
  core/src/utils/keyboard/keyboard.ts
  core/src/utils/keyboard/test/keyboard.spec.ts
Labels: package: core

#21722 fix(segment-button): allow min-width to be overridden
  core/src/components/segment-button/segment-button.md.scss
  core/src/components/segment/test/spec/index.html
Labels: package: core

#21514 feat(select): add optional generic typings
  core/api.txt
  core/src/components/select/readme.md
  core/src/components/select/select-interface.ts
Labels: package: core

#21758 feat(input): accept datetime-local, month, and week type values
  core/api.txt
  core/src/components/input/readme.md
  core/src/interface.d.ts
Labels: package: core

#21709 feat(router): navigation guards
  core/api.txt
  core/src/components.d.ts
  core/src/components/nav/nav.tsx
  core/src/components/route/readme.md
  core/src/components/route/route-interface.ts
  core/src/components/route/route.tsx
  core/src/components/route/usage/javascript.md
  core/src/components/route/usage/stencil.md
  core/src/components/route/usage/vue.md
  core/src/components/router/router.tsx
  core/src/components/router/test/guards/href.e2e.ts
  core/src/components/router/test/guards/index.html
  core/src/components/router/test/guards/router-link.e2e.ts
  core/src/components/router/test/guards/router-push.e2e.ts
  core/src/components/router/utils/interface.ts
  core/src/components/router/utils/parser.ts
Labels: package: core

#21777 feat(input, textarea): expose native events for ionBlur and ionFocus
  core/api.txt
  core/src/components.d.ts
  core/src/components/input/input.tsx
  core/src/components/input/readme.md
  core/src/components/input/test/basic/index.html
  core/src/components/textarea/readme.md
  core/src/components/textarea/textarea.tsx
Labels: package: core

#21581 fix(virtual-scroll): fix top offset calculation
  core/src/components/virtual-scroll/virtual-scroll.tsx
Labels: package: core

#21756 feat(card): expose global card css variable
  core/src/components/card/card.ios.scss
  core/src/components/card/card.ios.vars.scss
  core/src/components/card/card.md.scss
  core/src/components/card/card.md.vars.scss
  core/src/themes/ionic.theme.default.ios.scss
  core/src/themes/ionic.theme.default.md.scss
Labels: package: core

#21770 fix(title): allow overriding of large title transform origin
  core/src/components/header/header.utils.ts
  core/src/components/title/title.ios.scss
Labels: package: core

#21787 Prepare overlay
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/alert/alert.tsx
  core/src/components/loading/loading.tsx
  core/src/components/modal/modal.tsx
  core/src/components/picker/picker.tsx
  core/src/components/popover/popover.tsx
  core/src/components/toast/toast.tsx
  core/src/utils/overlays.ts
Labels: package: core

#21788 fix(jsx): export ionicons jsx interface
  core/src/interface.d.ts
Labels: package: core

#21725 fix(nav): insertPages method correctly inserts multiple pages with props
  angular/src/index.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/nav/nav-interface.ts
  core/src/components/nav/nav.tsx
  core/src/components/nav/readme.md
  core/src/components/nav/test/nav-controller.spec.ts
  core/src/components/nav/view-controller.ts
  packages/react/src/components/index.ts
Labels: package: core

#21716 fix(overlays): trap focus inside overlay components except toast
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/action-sheet/test/basic/e2e.ts
  core/src/components/alert/alert.tsx
  core/src/components/alert/test/basic/e2e.ts
  core/src/components/datetime/test/basic/e2e.ts
  core/src/components/loading/loading.tsx
  core/src/components/loading/test/basic/e2e.ts
  core/src/components/modal/modal.tsx
  core/src/components/modal/test/basic/e2e.ts
  core/src/components/picker/picker.tsx
  core/src/components/popover/popover.tsx
  core/src/components/popover/test/basic/e2e.ts
  core/src/components/popover/test/basic/index.html
  core/src/utils/overlays-interface.ts
  core/src/utils/overlays.ts
Labels: package: core

#21780 docs(modal): add correct card-style modal usage for react
  core/src/components/modal/readme.md
  core/src/components/modal/usage/react.md
Labels: package: core

#21799 fix(overlay): do not try to trap focus on hidden inputs
  core/src/utils/overlays.ts
Labels: package: core

#21801 5.3.0
  CHANGELOG.md
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
Labels: package: angular, package: core

#21802 docs(route): add correct interface name
  core/src/components/route/readme.md
Labels: package: core

#21784 docs(loading): remove duplicated cssClass property
  core/src/components/loading/readme.md
  core/src/components/loading/usage/angular.md
  core/src/components/loading/usage/javascript.md
  core/src/components/loading/usage/stencil.md
  core/src/components/loading/usage/vue.md
Labels: package: core

#21811 chore(deps): update to stencil 1.17.0, bump deps
  core/package-lock.json
  core/package.json
Labels: package: core

#21822 chore(): bump stencil to 1.17.1
  core/package-lock.json
  core/package.json
Labels: package: core

#21824 5.3.1
  CHANGELOG.md
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
Labels: package: angular, package: core
