Repository ionic-team/ionic-framework, pull requests merged in 2020-10, with the labels that each got.

#22220 fix(datetime): do not set ampm when the column doesn't exist
  core/src/components/datetime/datetime-util.spec.ts
  core/src/components/datetime/datetime-util.ts
  core/src/components/datetime/test/basic/index.html
  core/src/components/datetime/test/datetime.spec.ts
Labels: package: core

#22221 fix(item): update alignment for datetime and select
  core/src/components/item/item.ios.scss
  core/src/components/item/item.md.scss
  core/src/components/item/item.scss
  core/src/components/item/test/alignment/e2e.ts
  core/src/components/item/test/alignment/index.html
  core/src/components/label/label.md.scss
  core/src/components/select/select.md.scss
Labels: package: core, review: approved

#22231 docs(popover): add the popover-example-page to core and event to react
  core/src/components/popover/readme.md
  core/src/components/popover/usage/javascript.md
  core/src/components/popover/usage/react.md
Labels: package: core

#22143 docs(select): fix Objects as Values docs
  core/src/components/select/readme.md
  core/src/components/select/usage/angular.md
Labels: package: core, review: approved

#22210 fix(select): do not close popover or set value when switching with arrow keys
  core/src/components/radio-group/radio-group.tsx
Labels: package: core, review: needs review

#22168 fix(button): allow any element type to to use the "icon-only" slot
  core/src/components/button/button.tsx
  core/src/components/button/test/icon/index.html
Labels: package: core

#22271 chore(angular): fix failing test app tests
  angular/package-lock.json
  angular/test/test-app/package.json
Labels: package: angular

#18576 fix(label): keep color when focused on a floating or stacked label
  core/src/components.d.ts
  core/src/components/item/item.md.scss
  core/src/components/item/item.tsx
  core/src/components/label/label.md.scss
  core/src/components/label/label.tsx
  core/src/components/label/test/basic/index.html
Labels: package: core

#22274 Release 5.3.5
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
Labels: package: angular, package: core, package: react

#22281 5.4.0-rc.1
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: angular, package: core, package: react, package: vue

#22283 chore(vue): bundle router with rollup
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue-router/rollup.config.js
  packages/vue-router/tsconfig.json
Labels: package: vue

#22288 fix(vue): improve swipe to go back reliability
  packages/vue/src/components/IonRouterOutlet.ts
  packages/vue/test-app/package-lock.json
  packages/vue/test-app/package.json
  packages/vue/test-app/src/views/Tabs.vue
  packages/vue/test-app/tests/e2e/specs/navigation.js
  packages/vue/test-app/tests/e2e/specs/tabs.js
  packages/vue/test-app/tests/e2e/support/commands.js
Labels: package: vue

#22298 chore(vue): add sync script
  packages/vue/test-app/package.json
  packages/vue/test-app/scripts/sync.sh
Labels: package: vue

#22302 fix(vue): do not hide page content when using ion-page in non-routing contexts
  packages/vue/src/components/IonPage.ts
  packages/vue/src/components/IonRouterOutlet.ts
  packages/vue/test-app/src/components/ModalContent.vue
Labels: package: vue

#22275 fix(vue): improve path matching when going back
  packages/vue-router/__tests__/viewStacks.spec.ts
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue-router/src/regexp.ts
  packages/vue-router/src/types.ts
  packages/vue-router/src/viewStacks.ts
  packages/vue/src/components/IonPage.ts
  packages/vue/src/components/IonRouterOutlet.ts
  packages/vue/test-app/src/views/Tab2.vue
  packages/vue/test-app/tests/e2e/specs/tabs.js
Labels: package: vue

#22311 5.4.0-rc.2
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: angular, package: core, package: react, package: vue

#22318 docs(vue): add note on virtual scroll
  core/src/components/virtual-scroll/readme.md
Labels: package: core

#22317 docs(vue): add infinite scroll examples
  core/src/components/infinite-scroll-content/readme.md
  core/src/components/infinite-scroll-content/usage/vue.md
  core/src/components/infinite-scroll/readme.md
  core/src/components/infinite-scroll/usage/vue.md
Labels: package: core

#22316 chore(): add vue and vue-router readmes
  packages/vue-router/README.md
  packages/vue/CHANGELOG.md
  packages/vue/README.md
Labels: package: vue

#22319 fix(vue): ion-page component is properly shown with HMR
  packages/vue-router/src/types.ts
  packages/vue/src/components/IonPage.ts
  packages/vue/src/components/IonRouterOutlet.ts
  packages/vue/test-app/src/views/TabsSecondary.vue
Labels: package: vue

#22322 5.4.0-rc.3
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: angular, package: core, package: react, package: vue

#22331 5.4.0
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: angular, package: core, package: react, package: vue

#22330 fix(select): properly align label with select in item in md
  core/src/components/select/select.md.vars.scss
  core/src/components/select/select.scss
Labels: package: core

#22348 fix(vue): lifecycle events are correctly fired in component context
  packages/vue-router/rollup.config.js
  packages/vue-router/src/types.ts
  packages/vue-router/src/viewStacks.ts
  packages/vue/src/components/IonRouterOutlet.ts
  packages/vue/src/utils.ts
  packages/vue/test-app/src/router/index.ts
  packages/vue/test-app/src/views/Home.vue
  packages/vue/test-app/src/views/Lifecycle.vue
  packages/vue/test-app/tests/e2e/specs/lifecycle.js
  packages/vue/test-app/tests/unit/example.spec.ts
Labels: package: vue

#22350 fix(vue): going back with query params now goes to correct view
  packages/vue-router/src/router.ts
  packages/vue-router/src/types.ts
  packages/vue/test-app/src/router/index.ts
  packages/vue/test-app/src/views/Routing.vue
  packages/vue/test-app/src/views/RoutingParameter.vue
  packages/vue/test-app/tests/e2e/specs/routing.js
Labels: package: vue

#22371 fix(vue): improve compatibility with route guards
  packages/vue-router/src/router.ts
  packages/vue/test-app/src/guards/Delay.ts
  packages/vue/test-app/src/router/index.ts
  packages/vue/test-app/src/views/Home.vue
  packages/vue/test-app/tests/e2e/specs/routing.js
  packages/vue/test-app/tests/e2e/specs/tabs.js
Labels: package: vue

#22373 5.4.1
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: angular, package: core, package: react, package: vue

#22374 Release 5.4.1
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  core/src/components/select/select.md.vars.scss
  core/src/components/select/select.scss
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue-router/rollup.config.js
  packages/vue-router/src/router.ts
  packages/vue-router/src/types.ts
  packages/vue-router/src/viewStacks.ts
  packages/vue/package-lock.json
  packages/vue/package.json
  packages/vue/src/components/IonRouterOutlet.ts
  packages/vue/src/utils.ts
  packages/vue/test-app/src/guards/Delay.ts
  packages/vue/test-app/src/router/index.ts
  packages/vue/test-app/src/views/Home.vue
  packages/vue/test-app/src/views/Lifecycle.vue
  packages/vue/test-app/src/views/Routing.vue
  packages/vue/test-app/src/views/RoutingParameter.vue
  packages/vue/test-app/src/views/RoutingParameterView.vue
  packages/vue/test-app/tests/e2e/specs/lifecycle.js
  packages/vue/test-app/tests/e2e/specs/routing.js
  packages/vue/test-app/tests/e2e/specs/tabs.js
  packages/vue/test-app/tests/unit/example.spec.ts
Labels: package: angular, package: core, package: react, package: vue

#22396 chore(): update to stencil 2, resolve npm7 build issues
  .circleci/config.yml
  angular/src/directives/proxies-list.txt
  angular/src/directives/proxies.ts
  core/package-lock.json
  core/package.json
  core/scripts/treeshaking.js
Labels: package: angular, package: core

#22375 chore(vue): update @ionic/vue-router dependency version
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
Labels: package: vue

#22180 perf(ios): move content to stacking context to improve scrolling performance on iOS devices
  core/src/components/content/content.scss
Labels: package: core

#22361 chore(): point people to the forum
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/support_question.md
  angular/README.md
  core/README.md
  packages/react/README.md
Labels: package: angular, package: core, package: react

#22392 docs(vue): fix menuController import
  core/src/components/menu/readme.md
  core/src/components/menu/usage/vue.md
Labels: package: core

#22404 fix(ios): contenteditable elements are now selectable on iOS
  core/src/components/app/app.scss
Labels: package: core

#22405 fix(segment-button): color property is now reactive if previously undefined
  core/src/components/segment-button/segment-button.tsx
  core/src/components/segment/segment.tsx
Labels: package: core
