Repository ionic-team/ionic-framework, pull requests merged in 2020-04, with the labels that each got.

#20945 chore(): update stencil
  core/package.json
Labels: package: core

#20955 fix(ios): account for nested tabs with page transition
  core/src/utils/transition/ios.transition.ts
Labels: package: core

#20917 feat(slides): update to swiper 5
  core/package.json
  core/src/components/slides/slides.tsx
  core/src/components/slides/swiper/swiper-interface.d.ts
  core/src/components/slides/swiper/swiper.bundle.js
  core/src/components/slides/swiper/swiper.js
Labels: package: core

#20940 feat(animation): add option to clean up old animation stylesheets
  core/src/utils/animation/animation-interface.ts
  core/src/utils/animation/animation.ts
Labels: package: core

#20662 feat(searchbar): add border-radius css variable
  core/api.txt
  core/src/components/searchbar/readme.md
  core/src/components/searchbar/searchbar.ios.scss
  core/src/components/searchbar/searchbar.md.scss
  core/src/components/searchbar/searchbar.scss
Labels: package: core

#20987 perf(all): improve scroll assist responsiveness
  core/src/utils/input-shims/hacks/scroll-assist.ts
Labels: package: core

#20918 fix(ios): properly animate content when navigating from a tabbed page
  core/src/utils/transition/ios.transition.ts
Labels: package: core

#20995 fix(split-pane): show border in RTL mode
  core/src/components/split-pane/split-pane.ios.scss
  core/src/components/split-pane/split-pane.md.scss
  core/src/themes/ionic.mixins.scss
Labels: package: core

#21035 feat(input): add support for enterkeyhint
  angular/src/directives/proxies.ts
  core/api.txt
  core/package.json
  core/src/components.d.ts
  core/src/components/input/input.tsx
  core/src/components/input/readme.md
Labels: package: core

#21055 chore(): update swiper
  core/package.json
  core/src/components/slides/swiper/swiper.bundle.js
Labels: package: core

#21058 fix(md): do not display blank screen when using MD page transition and swipe gesture
  core/src/utils/transition/md.transition.ts
Labels: package: core

#21067 docs(input): provide info regarding pattern used with date type
  core/src/components.d.ts
  core/src/components/input/input.tsx
  core/src/components/input/readme.md
Labels: package: core

#21084 fix(action-sheet): show correct cancel button background on dark mode
  core/src/components/action-sheet/action-sheet.ios.vars.scss
Labels: package: core

#21110 chore(api): update api generator to include parts in public API
  core/scripts/api-spec-generator.js
Labels: package: core

#21116 fix(loading): screen readers no longer incorrect announce spinner
  core/src/components/loading/loading.tsx
Labels: package: core

#21108 feat(select): add parts support for placeholder, icon, text
  core/api.txt
  core/src/components/select/readme.md
  core/src/components/select/select.tsx
Labels: package: core

#21049 fix(searchbar): screen readers correctly announce the cancel button text
  core/src/components/searchbar/searchbar.tsx
Labels: package: core

#20962 feat(toggle): add shadow parts
  core/api.txt
  core/src/components/toggle/readme.md
  core/src/components/toggle/test/basic/index.html
  core/src/components/toggle/toggle.tsx
Labels: package: core

#20961 feat(range): add shadow parts
  core/api.txt
  core/src/components/range/range.tsx
  core/src/components/range/readme.md
  core/src/components/range/test/basic/index.html
Labels: package: core

#20960 feat(reorder): add shadow parts
  core/api.txt
  core/src/components/reorder-group/test/standalone/index.html
  core/src/components/reorder/readme.md
  core/src/components/reorder/reorder.tsx
Labels: package: core

#20952 feat(radio): add shadow parts
  core/api.txt
  core/src/components/radio/radio.tsx
  core/src/components/radio/readme.md
  core/src/components/radio/test/basic/index.html
Labels: package: core

#20950 feat(checkbox): add shadow parts
  core/api.txt
  core/src/components/checkbox/checkbox.tsx
  core/src/components/checkbox/readme.md
  core/src/components/checkbox/test/basic/index.html
Labels: package: core

#20943 feat(img): add shadow parts
  core/api.txt
  core/src/components/img/img.tsx
  core/src/components/img/readme.md
  core/src/components/img/test/basic/index.html
Labels: package: core

#20930 feat(datetime): add shadow parts
  core/api.txt
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/readme.md
  core/src/components/datetime/test/basic/index.html
Labels: package: core

#20978 feat(menu): add shadow parts
  core/api.txt
  core/src/components/menu/menu.tsx
  core/src/components/menu/readme.md
  core/src/components/menu/test/basic/index.html
Labels: package: core

#21111 chore(button): remove shadow parts
  core/src/components/button/button.tsx
Labels: package: core

#20826 fix(datetime) Reloads the locale (dayName, monthName) when the picker gets regenerated to accomodate translation
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/basic/index.html
Labels: package: core, review: approved

#20971 fix(textarea): set correct height in a modal when auto-grow is set
  core/src/components/textarea/textarea.tsx
Labels: package: core, review: changes requested

#20638 feat(gesture): add support for blurring active inputs on gesture start
  core/src/components/menu/menu.tsx
  core/src/utils/gesture/index.ts
Labels: package: core

#20491 feat(back-button): add 'backButtonDefaultHref' property to IonicConfig
  angular/src/directives/navigation/ion-back-button.ts
  core/src/components/back-button/back-button.tsx
  core/src/components/back-button/test/back-button.spec.ts
  core/src/utils/config.ts
  packages/react-router/src/ReactRouter/Router.tsx
Labels: package: core

#21073 fix(modal): swipeToClose property is now reactive
  core/src/components/modal/modal.tsx
Labels: package: core

#21068 fix(select): account for MutationObserver when performing SSR
  core/src/utils/watch-options.ts
Labels: package: core

#21053 fix(back-button): screen readers correctly announce the back button text
  core/src/components/back-button/back-button.tsx
Labels: package: core

#21093 fix(overlays): prevent accidental clicks when dismissing overlays
  core/src/utils/overlays.ts
Labels: package: core

#21085 fix(angular): do not navigate to same tab if already active
  angular/src/directives/navigation/ion-tabs.ts
Labels: package: angular

#20685 feat(gesture): add option to run inside NgZone for Angular apps
  angular/src/providers/gesture-controller.ts
Labels: package: angular

#20613 feat(): add ability to continue processing hardware back button events
  angular/src/providers/nav-controller.ts
  angular/src/providers/platform.ts
  core/src/components/router/router.tsx
  core/src/interface.d.ts
  core/src/utils/hardware-back-button.ts
  core/src/utils/test/hardware-back-button.spec.ts
  packages/react-router/src/ReactRouter/NavManager.tsx
  vue/src/router.ts
Labels: package: angular, package: core

#20979 feat(item): add shadow parts
  core/api.txt
  core/src/components/item/item.tsx
  core/src/components/item/readme.md
  core/src/components/item/test/buttons/index.html
Labels: package: core

#20929 feat(content): add shadow parts
  core/api.txt
  core/src/components/content/content.tsx
  core/src/components/content/readme.md
  core/src/components/content/test/basic/index.html
Labels: package: core

#20457 feat(all): add ability to eject from Ionic sanitizer
  angular/src/index.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/alert/alert-interface.ts
  core/src/components/alert/alert.tsx
  core/src/components/alert/readme.md
  core/src/components/infinite-scroll-content/infinite-scroll-content.tsx
  core/src/components/infinite-scroll-content/readme.md
  core/src/components/loading/loading-interface.ts
  core/src/components/loading/loading.tsx
  core/src/components/loading/readme.md
  core/src/components/refresher-content/readme.md
  core/src/components/refresher-content/refresher-content.tsx
  core/src/components/toast/readme.md
  core/src/components/toast/toast-interface.ts
  core/src/components/toast/toast.tsx
  core/src/index.ts
  core/src/utils/config.ts
  core/src/utils/sanitization/index.ts
  core/src/utils/sanitization/test/sanitization.spec.ts
  packages/react/src/components/index.ts
Labels: package: angular, package: core

#21141 docs(refresher): update usage to correct ionicons 5 icon
  core/src/components/refresher/readme.md
  core/src/components/refresher/usage/angular.md
  core/src/components/refresher/usage/javascript.md
  core/src/components/refresher/usage/react.md
  core/src/components/refresher/usage/vue.md
Labels: package: core

#20997 fix(overlays): focus overlay when presented
  core/package.json
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/alert/alert.tsx
  core/src/components/alert/test/basic/index.html
  core/src/components/loading/loading.tsx
  core/src/components/modal/modal.tsx
  core/src/components/picker/picker.tsx
  core/src/components/popover/popover.tsx
  core/src/components/toast/toast.tsx
  core/src/utils/overlays.ts
Labels: package: core

#21156 fix(all): use proper undefined check when using Haptics plugin
  core/src/utils/native/haptic.ts
Labels: package: core

#21157 fix(refresher): properly calculate content dimensions in native ion-refresher
  core/src/components/refresher/refresher.tsx
Labels: package: core

#21050 feat(toggle): add support for changing toggle width and height
  core/api.txt
  core/src/components/toggle/readme.md
  core/src/components/toggle/test/sizes/e2e.ts
  core/src/components/toggle/test/sizes/index.html
  core/src/components/toggle/test/sizes/power-outline.svg
  core/src/components/toggle/toggle.ios.scss
  core/src/components/toggle/toggle.ios.vars.scss
  core/src/components/toggle/toggle.md.scss
  core/src/components/toggle/toggle.md.vars.scss
  core/src/components/toggle/toggle.scss
  core/src/components/toggle/toggle.tsx
Labels: package: core

#21167 docs(select): direct old controller links to component pages
  core/src/components.d.ts
  core/src/components/select/readme.md
  core/src/components/select/select.tsx
Labels: package: core

#21071 fix(router): account for query string when pushing page
  core/src/components/router/router.tsx
  core/src/components/router/test/parser.spec.tsx
  core/src/components/router/test/path.spec.tsx
  core/src/components/router/utils/path.ts
Labels: package: core

#21038 fix(app): gestures should use a passive listener
  core/src/components/backdrop/backdrop.tsx
  core/src/components/picker-column/picker-column.tsx
  core/src/utils/gesture/index.ts
  core/src/utils/gesture/pointer-events.ts
Labels: package: core

#18478 feat(app): Keyboard open and close events
  angular/src/providers/platform.ts
  core/src/components/app/app.tsx
  core/src/interface.d.ts
  core/src/utils/input-shims/hacks/scroll-assist.ts
  core/src/utils/input-shims/input-shims.ts
  core/src/utils/keyboard/index.ts
  core/src/utils/keyboard/test/index.html
  core/src/utils/keyboard/test/keyboard.spec.ts
Labels: package: core

#21176 5.1.0
  CHANGELOG.md
  angular/package.json
  core/package.json
  docs/package.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
Labels: package: angular, package: core
