Repository ionic-team/ionic-framework, pull requests merged in 2020-01, with the labels that each got.

#20141 feat(toggle): add --border-radius and --handle-border-radius variables
  core/api.txt
  core/src/components/toggle/readme.md
  core/src/components/toggle/test/basic/index.html
  core/src/components/toggle/toggle.ios.scss
  core/src/components/toggle/toggle.md.scss
  core/src/components/toggle/toggle.scss
Labels: package: core

#20137 docs(components): update to use ionicons v5
  core/package.json
  core/src/components/button/test/toolbar/index.html
  core/src/components/buttons/readme.md
  core/src/components/buttons/test/icon/index.html
  core/src/components/buttons/usage/angular.md
  core/src/components/buttons/usage/javascript.md
  core/src/components/buttons/usage/react.md
  core/src/components/buttons/usage/vue.md
  core/src/components/card/test/translucent/index.html
  core/src/components/fab/readme.md
  core/src/components/fab/usage/angular.md
  core/src/components/fab/usage/javascript.md
  core/src/components/fab/usage/react.md
  core/src/components/fab/usage/vue.md
  core/src/components/icon/usage/angular.md
  core/src/components/icon/usage/javascript.md
  core/src/components/icon/usage/react.md
  core/src/components/icon/usage/vue.md
  core/src/components/item-sliding/readme.md
  core/src/components/item-sliding/test/basic/index.html
  core/src/components/item-sliding/test/lines/index.html
  core/src/components/item-sliding/usage/angular.md
  core/src/components/item-sliding/usage/javascript.md
  core/src/components/item-sliding/usage/react.md
  core/src/components/item-sliding/usage/vue.md
  core/src/components/list/test/icons/index.html
  core/src/components/range/test/basic/index.html
  core/src/components/range/test/standalone/index.html
  core/src/components/tab-button/readme.md
  core/src/components/tab-button/usage/angular.md
  core/src/components/tab-button/usage/javascript.md
  core/src/components/tab-button/usage/react.md
  core/src/components/tab-button/usage/vue.md
  core/src/components/tabs/readme.md
  core/src/components/tabs/usage/angular.md
  core/src/components/tabs/usage/javascript.md
  core/src/components/tabs/usage/react.md
  core/src/components/tabs/usage/vue.md
  core/src/components/toolbar/readme.md
  core/src/components/toolbar/test/basic/index.html
  core/src/components/toolbar/test/colors/index.html
  core/src/components/toolbar/test/scenarios/index.html
  core/src/components/toolbar/test/spec/index.html
  core/src/components/toolbar/usage/angular.md
  core/src/components/toolbar/usage/javascript.md
  core/src/components/toolbar/usage/react.md
  core/src/components/toolbar/usage/vue.md
  core/src/themes/test/css-variables/index.html
Labels: package: core

#19933 feat(checkbox): add --checkmark-width variable
  core/api.txt
  core/src/components/checkbox/checkbox.md.scss
  core/src/components/checkbox/checkbox.scss
  core/src/components/checkbox/readme.md
  core/src/components/checkbox/test/basic/index.html
Labels: package: core

#20140 feat(radio): add --border-radius and --inner-border-radius variables
  core/api.txt
  core/src/components/radio/radio.ios.scss
  core/src/components/radio/radio.md.scss
  core/src/components/radio/radio.scss
  core/src/components/radio/readme.md
  core/src/components/radio/test/basic/index.html
Labels: package: core

#20096 feat(refresher): MD native refresher
  core/src/components/refresher-content/refresher-content.tsx
  core/src/components/refresher/readme.md
  core/src/components/refresher/refresher.md.scss
  core/src/components/refresher/refresher.md.vars.scss
  core/src/components/refresher/refresher.scss
  core/src/components/refresher/refresher.tsx
  core/src/components/refresher/refresher.utils.ts
  core/src/components/refresher/test/spec/index.html
  core/src/components/refresher/usage/react.md
  core/src/components/spinner/spinner-configs.ts
  core/src/components/spinner/spinner.scss
Labels: package: core

#20146 feat(toast): expose shadow parts
  core/src/components/toast/toast.tsx
Labels: package: core

#20145 fix(action-sheet): action sheet now scrollable and accounts for safe areas on iOS
  core/src/components/action-sheet/action-sheet.ios.scss
  core/src/components/action-sheet/action-sheet.scss
Labels: package: core

#20169 fix(ssr): reflect content-id attribute
  core/api.txt
  core/src/components/menu/menu.tsx
  core/src/components/split-pane/split-pane.tsx
Labels: package: core

#20166 chore(core): better animations
  core/src/components/modal/animations/ios.enter.ts
  core/src/components/modal/animations/ios.leave.ts
  core/src/components/modal/modal.ios.scss
  core/src/components/modal/test/spec/index.html
Labels: package: core

#19660 fix(picker): pick closest option at low velocity
  core/src/components/picker-column/picker-column.tsx
Labels: package: core

#19519 feat(datetime): configurable timezone for display
  angular/src/directives/proxies.ts
  core/CONTRIBUTING.md
  core/api.txt
  core/src/components.d.ts
  core/src/components/datetime/datetime-util.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/readme.md
  core/src/components/datetime/test/basic/index.html
  core/src/components/datetime/test/datetime.spec.ts
Labels: package: angular, package: core

#20188 docs(breaking) fix broken grid layout link
  angular/BREAKING.md
Labels: package: angular

#20156 docs(breaking): add breaking changes for v5
  BREAKING.md
  core/src/components/app/test/safe-area/index.html
  core/src/components/menu-toggle/test/basic/index.html
  core/src/components/menu-toggle/test/button/index.html
  core/src/components/menu-toggle/test/list/index.html
  core/src/components/menu/readme.md
  core/src/components/menu/test/basic/index.html
  core/src/components/menu/test/standalone/index.html
  core/src/components/menu/test/test.utils.ts
  core/src/components/menu/usage/angular.md
  core/src/components/menu/usage/javascript.md
  core/src/components/menu/usage/vue.md
  core/src/components/modal/readme.md
  core/src/components/modal/usage/vue.md
  core/src/components/router-outlet/test/basic/index.html
  core/src/components/split-pane/readme.md
  core/src/components/split-pane/usage/angular.md
  core/src/components/split-pane/usage/javascript.md
  core/src/components/split-pane/usage/react.md
  core/src/components/split-pane/usage/vue.md
  core/src/components/toast/readme.md
  core/src/utils/test/modes/index.html
Labels: package: core

#20198 Release 4.11.8
  CHANGELOG.md
  angular/test/test-app/e2e/protractor.conf.js
  core/src/utils/animation/test/animation.spec.ts
  packages/react-router/src/ReactRouter/IonReactMemoryRouter.tsx
  packages/react-router/src/ReactRouter/Router.tsx
  packages/react-router/src/ReactRouter/index.ts
  packages/react/src/components/IonActionSheet.tsx
  packages/react/src/components/IonIcon.tsx
  packages/react/src/components/IonToast.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/inner-proxies.ts
  packages/react/src/components/proxies.ts
Labels: package: angular, package: core

#20194 fix(content): scroll-content div now takes up full height of container
  core/src/components/content/content.scss
Labels: package: core

#20202 fix(header): header opacity properly resets on collapsible titles
  core/src/components/header/header.tsx
Labels: package: core

#19036 feat(segment): implement iOS 13 segment with animation
  core/api.txt
  core/src/components.d.ts
  core/src/components/menu-button/menu-button.scss
  core/src/components/segment-button/readme.md
  core/src/components/segment-button/segment-button.ios.scss
  core/src/components/segment-button/segment-button.ios.vars.scss
  core/src/components/segment-button/segment-button.md.scss
  core/src/components/segment-button/segment-button.md.vars.scss
  core/src/components/segment-button/segment-button.scss
  core/src/components/segment-button/segment-button.tsx
  core/src/components/segment/readme.md
  core/src/components/segment/segment.ios.scss
  core/src/components/segment/segment.ios.vars.scss
  core/src/components/segment/segment.md.scss
  core/src/components/segment/segment.scss
  core/src/components/segment/segment.tsx
  core/src/components/segment/test/basic/index.html
  core/src/components/segment/test/colors/e2e.ts
  core/src/components/segment/test/colors/index.html
  core/src/components/segment/test/custom/index.html
  core/src/components/segment/test/spec/index.html
  core/src/components/segment/test/standalone/index.html
  core/src/components/segment/test/toolbar/e2e.ts
  core/src/components/segment/test/toolbar/index.html
  core/src/components/toolbar/toolbar.ios.scss
  core/src/themes/test/css-variables/css/dark.css
  core/src/themes/test/css-variables/css/vibrant.css
Labels: package: angular, package: core

#20203 fix(modal): prevent double dismiss via gesture and backdrop tap on card-style modal
  core/src/components/modal/gestures/swipe-to-close.ts
  core/src/components/modal/modal.tsx
Labels: package: core

#20222 docs(title): update button example with large title
  core/src/components/title/readme.md
  core/src/components/title/usage/angular.md
  core/src/components/title/usage/javascript.md
  core/src/components/title/usage/react.md
  core/src/components/title/usage/vue.md
Labels: package: core

#20223 fix(card): remove top padding of content in iOS if under header
  core/src/components/card-content/card-content.ios.scss
Labels: package: core

#19449 refactor(): remove checked property in favor of parent value
  BREAKING.md
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/alert/test/translucent/index.html
  core/src/components/item/test/disabled/index.html
  core/src/components/item/test/inputs/index.html
  core/src/components/radio-group/radio-group.tsx
  core/src/components/radio-group/test/basic/index.html
  core/src/components/radio-group/test/standalone/index.html
  core/src/components/radio/radio.tsx
  core/src/components/radio/readme.md
  core/src/components/radio/test/basic/index.html
  core/src/components/radio/test/standalone/index.html
  core/src/components/radio/usage/angular.md
  core/src/components/radio/usage/javascript.md
  core/src/components/radio/usage/react.md
  core/src/components/radio/usage/vue.md
  core/src/components/segment-button/readme.md
  core/src/components/segment-button/segment-button.tsx
  core/src/components/segment-button/usage/angular.md
  core/src/components/segment-button/usage/javascript.md
  core/src/components/segment-button/usage/react.md
  core/src/components/segment-button/usage/vue.md
  core/src/components/segment/readme.md
  core/src/components/segment/segment.tsx
  core/src/components/segment/test/basic/index.html
  core/src/components/segment/test/colors/index.html
  core/src/components/segment/test/spec/index.html
  core/src/components/segment/test/toolbar/index.html
  core/src/components/segment/usage/angular.md
  core/src/components/segment/usage/javascript.md
  core/src/components/segment/usage/react.md
  core/src/components/segment/usage/vue.md
  core/src/components/select-option/readme.md
  core/src/components/select-option/select-option.tsx
  core/src/components/select-popover/select-popover.tsx
  core/src/components/select/readme.md
  core/src/components/select/select.tsx
  core/src/components/select/test/basic/index.html
  core/src/components/select/test/label/index.html
  core/src/components/select/test/multiple-value/index.html
  core/src/components/select/test/single-value/index.html
  core/src/components/select/test/standalone/index.html
  core/src/components/select/usage/angular.md
  core/src/components/select/usage/javascript.md
  core/src/components/select/usage/react.md
  core/src/components/select/usage/vue.md
  core/src/components/toolbar/test/modes/index.html
  core/src/components/toolbar/test/spec/index.html
  core/src/themes/test/css-variables/index.html
  core/src/utils/watch-options.ts
Labels: package: angular, package: core

#20227 5.0.0-beta.5
  CHANGELOG.md
  angular/package.json
  core/package.json
  docs/package.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
Labels: package: angular, package: core

#20252 fix(animation): add property conversions for CSS Animations
  core/src/components/modal/animations/ios.enter.ts
  core/src/components/modal/animations/ios.leave.ts
  core/src/utils/animation/animation-utils.ts
  core/src/utils/animation/animation.ts
  core/src/utils/animation/test/animation.spec.ts
  core/src/utils/animation/test/basic/index.html
Labels: package: core

#20256 fix(modal): card-style modal now opens at full width on larger devices
  core/src/components/modal/modal.ios.scss
  core/src/components/modal/readme.md
  core/src/components/modal/usage/angular.md
Labels: package: core

#20254 fix(segment): clicking disabled button no longer adds ripple to active button
  core/src/components/segment/segment.tsx
Labels: package: core

#20265 fix(content): set min-height to allow for sticky headers
  core/src/components/content/content.scss
Labels: package: core

#19904 fix(ng-add): Fix path for css styles in monorepo
  angular/src/schematics/add/index.ts
Labels: package: angular

#20273 feat(react): add Ionic Animations wrapper (experimental)
  core/src/interface.d.ts
  packages/react/src/components/CreateAnimation.tsx
  packages/react/src/components/index.ts
Labels: package: core

#19653 feat(segment-button): Add --indicator-height property to segment button
  core/api.txt
  core/src/components/segment-button/readme.md
  core/src/components/segment-button/segment-button.ios.scss
  core/src/components/segment-button/segment-button.md.scss
  core/src/components/segment-button/segment-button.scss
  core/src/components/segment/test/custom/index.html
Labels: package: core

#20275 Release 4.11.9
  CHANGELOG.md
  core/api.txt
  core/src/components.d.ts
  core/src/components/input/input.tsx
  core/src/components/input/readme.md
  packages/react-router/src/ReactRouter/IonRouteData.ts
  packages/react-router/src/ReactRouter/Router.tsx
  packages/react-router/src/ReactRouter/View.tsx
  packages/react-router/src/ReactRouter/ViewStacks.ts
  packages/react/src/components/IonActionSheet.tsx
  packages/react/src/components/IonToast.tsx
  packages/react/src/components/createControllerComponent.tsx
  packages/react/src/components/createOverlayComponent.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/navigation/IonBackButton.tsx
Labels: package: core

#20277 Release 5.0.0-beta.6 / 5.0.0-rc.0
  CHANGELOG.md
  angular/package.json
  core/package.json
  docs/package.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
Labels: package: angular, package: core

#20281 fix(angular): ng-add schematic
  angular/README.md
  angular/package.json
  angular/src/schematics/add/index.ts
  angular/src/schematics/utils/config.ts
Labels: package: angular

#20288 fix(menu): fix jump when dragging open
  core/src/components/menu/menu.tsx
  core/src/utils/animation/animation.ts
Labels: package: core

#20299 fix(toast): inherit color in cancel button for a toast with color
  core/src/components/toast/test/basic/index.html
  core/src/components/toast/toast.scss
Labels: package: core

#20300 fix(components): inherit text indent in all components with text inherit
  core/src/themes/ionic.mixins.scss
Labels: package: core

#20301 fix(picker): include showBackdrop in interface
  core/src/components/picker/picker-interface.ts
Labels: package: core

#20310 fix(refresher): update animation for dashed property values
  core/src/components/refresher/refresher.utils.ts
  core/src/components/refresher/test/basic/index.html
Labels: package: core

#20309 fix(content): resolve height inheritance issues
  core/src/components/content/content.scss
  core/src/components/content/content.tsx
  core/src/components/refresher/refresher.tsx
Labels: package: core

#20313 docs(vue): update usage examples to kebab-case
  core/src/components/backdrop/readme.md
  core/src/components/backdrop/usage/vue.md
  core/src/components/buttons/readme.md
  core/src/components/buttons/usage/vue.md
  core/src/components/checkbox/readme.md
  core/src/components/checkbox/usage/vue.md
  core/src/components/datetime/readme.md
  core/src/components/datetime/usage/vue.md
  core/src/components/input/readme.md
  core/src/components/input/usage/vue.md
  core/src/components/progress-bar/readme.md
  core/src/components/progress-bar/usage/angular.md
  core/src/components/progress-bar/usage/vue.md
  core/src/components/select/readme.md
  core/src/components/select/usage/vue.md
  core/src/components/textarea/readme.md
  core/src/components/textarea/usage/vue.md
  core/src/components/thumbnail/readme.md
  core/src/components/thumbnail/usage/angular.md
  core/src/components/thumbnail/usage/vue.md
  core/src/components/toggle/readme.md
  core/src/components/toggle/usage/vue.md
  core/src/components/toolbar/readme.md
  core/src/components/toolbar/usage/vue.md
Labels: package: core

#20312 docs(grid): update usage to correct CSS utility classes
  core/src/components/grid/readme.md
  core/src/components/grid/usage/angular.md
  core/src/components/grid/usage/javascript.md
  core/src/components/grid/usage/react.md
  core/src/components/grid/usage/vue.md
  core/src/components/modal/readme.md
  core/src/components/modal/usage/vue.md
Labels: package: core

#20278 fix(components): fix issues with button states
  core/src/components/action-sheet/action-sheet.ios.scss
  core/src/components/action-sheet/action-sheet.ios.vars.scss
  core/src/components/action-sheet/action-sheet.md.scss
  core/src/components/button/button.md.scss
  core/src/components/item/item.scss
  core/src/components/segment-button/segment-button.md.scss
Labels: package: core

#20315 chore(): update ionicons
  core/package.json
Labels: package: core

#20316 5.0.0-rc.1
  CHANGELOG.md
  angular/package.json
  core/package.json
  docs/package.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
Labels: package: angular, package: core

#20322 fix(refresher): resolve undefined issues when updating component
  core/src/components/refresher/refresher.tsx
Labels: package: core

#20324 docs(content): add information on fixed slots
  core/src/components/content/readme.md
  core/src/components/content/usage/angular.md
  core/src/components/content/usage/javascript.md
  core/src/components/content/usage/react.md
  core/src/components/content/usage/vue.md
Labels: package: core

#20329 fix(radio): set default radio value if undefined
  core/src/components/radio/radio.tsx
  core/src/components/radio/test/radio.spec.ts
  core/src/components/radio/test/standalone/index.html
Labels: package: core

#20330 docs(loading): update usage to fix code errors
  core/src/components/loading/readme.md
  core/src/components/loading/usage/angular.md
  core/src/components/loading/usage/javascript.md
  core/src/components/loading/usage/react.md
  core/src/components/loading/usage/vue.md
Labels: package: core

#20331 docs(ripple-effect): update usage to avoid style conflicts with Ionic…
  core/src/components/ripple-effect/readme.md
  core/src/components/ripple-effect/usage/angular.md
  core/src/components/ripple-effect/usage/javascript.md
  core/src/components/ripple-effect/usage/react.md
  core/src/components/ripple-effect/usage/vue.md
Labels: package: core

#20314 fix(ios): translucent toolbar blur no longer obscures entering page title
  core/src/components/footer/footer.ios.scss
  core/src/components/footer/footer.tsx
  core/src/components/header/header.ios.scss
  core/src/components/header/header.tsx
  core/src/utils/transition/ios.transition.ts
Labels: package: core

#20333 fix(refresher): add correct fallbacks for native refreshers
  core/src/components/refresher-content/refresher-content.tsx
  core/src/components/refresher/refresher.utils.ts
  core/src/themes/ionic.globals.scss
Labels: package: core

#20334 fix(header): fix race condition in collapsible header
  core/src/components/header/header.tsx
  core/src/components/header/header.utils.ts
Labels: package: core

#20335 docs(select): separate react usage by headings
  core/src/components/select/readme.md
  core/src/components/select/usage/react.md
Labels: package: core

#20343 fix(radio): do not clear value of radio group from radio
  core/src/components/radio-group/test/search/e2e.ts
  core/src/components/radio-group/test/search/index.html
  core/src/components/radio/radio.tsx
Labels: package: core

#20345 merge release-5.0.0-rc.2
  CHANGELOG.md
  angular/package.json
  core/package.json
  docs/package.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
Labels: package: angular, package: core

#20350 fix(segment): allow background to be set on iOS segment in a toolbar
  core/src/components/segment/segment.ios.scss
  core/src/components/segment/test/custom/index.html
Labels: package: core
