Repository ionic-team/ionic-framework, pull requests merged in 2020-03, with the labels that each got.

#20665 fix(datetime): max property now works when hour, minute, or second set to 0
  core/src/components/datetime/datetime.tsx
Labels: package: core

#20673 fix(segment): iOS mode segment now works on older Android devices
  core/src/components/segment-button/segment-button.scss
Labels: package: core

#20682 fix(segment): allow routerLink to work on segment buttons
  core/src/components/segment/segment.tsx
Labels: package: core

#20703 fix(ios): large title animation now works properly in a modal
  core/src/utils/transition/ios.transition.ts
Labels: package: core

#20683 fix(): prevent accidental dismiss of overlays when tapping screen twice
  core/src/components/action-sheet/animations/ios.enter.ts
  core/src/components/action-sheet/animations/md.enter.ts
  core/src/components/alert/animations/ios.enter.ts
  core/src/components/alert/animations/md.enter.ts
  core/src/components/loading/animations/ios.enter.ts
  core/src/components/loading/animations/md.enter.ts
  core/src/components/modal/animations/ios.enter.ts
  core/src/components/modal/animations/md.enter.ts
  core/src/components/picker/animations/ios.enter.ts
  core/src/components/popover/animations/ios.enter.ts
  core/src/components/popover/animations/md.enter.ts
Labels: package: core

#20702 fix(modal): leave animation transitions modal completely out of viewport on ipad
  core/src/components/modal/animations/ios.enter.ts
  core/src/components/modal/animations/ios.leave.ts
Labels: package: core

#20714 fix(modal): swipeable modal now works in firefox
  core/src/components/modal/animations/ios.enter.ts
  core/src/components/modal/animations/ios.leave.ts
  core/src/components/modal/modal.ios.scss
Labels: package: core

#20734 chore(): set @nguniversal/builders dependency to exact version
  angular/test/test-app/package.json
Labels: package: angular

#20736 fix(header): collapsable header should default to using content background
  core/src/components/header/header.ios.scss
Labels: package: angular, package: core

#20728 fix(header): collapsible header now works when navigating quickly
  core/src/components/header/header.tsx
Labels: package: core

#20738 fix(button): allow overflow to be overridden by the CSS variable
  core/src/components/button/button.scss
  core/src/components/button/test/states/index.html
Labels: package: core

#20704 chore(ionicons): bump ionicons version
  core/package.json
  packages/react/package.json
  vue/package-lock.json
  vue/package.json
Labels: package: core, package: vue

#20684 fix(item): apply proper margin left for slotted icon in RTL
  core/src/components/item/item.ios.vars.scss
Labels: package: core

#20690 fix(label): text overflow for slotted headings
  core/src/components/label/label.scss
  core/src/components/label/test/headings/e2e.ts
  core/src/components/label/test/headings/index.html
Labels: package: core

#20746 5.0.5
  CHANGELOG.md
  angular/package.json
  core/package.json
  docs/package.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
Labels: package: angular, package: core

#20760 fix(segment): scrollable segments only show scrollbar if they overflow
  core/src/components/segment/segment.scss
Labels: package: core

#20766 fix(angular): export Animation and Gesture related types
  angular/src/index.ts
Labels: package: angular

#20767 fix(angular): respect animation property for ion-router-outlet
  angular/src/directives/navigation/ion-router-outlet.ts
Labels: package: angular

#20765 docs(segment): clarify usage of scrollable segments
  core/src/components/segment/readme.md
Labels: package: core

#20742 fix(): scroll assist now works properly
  core/src/utils/input-shims/hacks/scroll-assist.ts
  core/src/utils/input-shims/input-shims.ts
Labels: package: core

#20791 fix(slides): check that mutation observer is defined for ssr
  core/src/components/slides/slides.tsx
Labels: package: core

#20777 fix(item-sliding): account for swipe to go back gesture when opening item-options
  core/src/components/item-sliding/item-sliding.tsx
Labels: package: core

#20768 fix(angular): Fix --multi-app support for ng-add schematic
  angular/src/schematics/add/index.ts
  angular/src/schematics/utils/ast.ts
  angular/src/schematics/utils/config.ts
Labels: package: angular

#20802 fix(modal): backdrop should not be tappable on card-style modal on smaller screens
  core/src/components/modal/modal.ios.scss
Labels: package: core

#20801 fix(modal): backdrop and box shadows no longer stack when opening multiple modals
  core/src/components/modal/modal.ios.scss
  core/src/components/modal/modal.md.scss
  core/src/components/modal/modal.scss
Labels: package: core

#20798 fix(list): show bottom border on last item in a list followed by a list
  core/src/components/list/list.ios.scss
  core/src/components/list/list.ios.vars.scss
  core/src/components/list/test/icons/index.html
Labels: package: core

#20763 fix(segment): automatically expand width for scrollable segment buttons
  core/src/components/segment-button/segment-button.md.scss
  core/src/components/segment/segment.md.scss
  core/src/components/segment/test/spec/index.html
Labels: package: core

#20815 fix(refresher): properly dismiss refresher when completed synchronously
  core/src/components/refresher/refresher.tsx
Labels: package: core

#20833 chore(): add show-modal in component not in animation
  core/src/components/modal/animations/ios.enter.ts
  core/src/components/modal/animations/md.enter.ts
  core/src/components/modal/modal.tsx
Labels: package: core

#20011 fix(content) set overscroll-behavior based on the scroll direction of…
  core/src/components/content/content.scss
Labels: package: core

#19776 fix(textarea): properly adjust auto-grow textarea height on scrolled content
  core/src/components/textarea/textarea.tsx
Labels: package: core

#20853 fix(modal): properly remove safe area padding on card-modal
  core/src/css/core.scss
Labels: package: core

#20787 refactor(): minor updates for next stencil
  angular/src/directives/proxies-list.txt
  angular/src/directives/proxies-utils.ts
  angular/src/directives/proxies.ts
  core/package.json
  core/src/components.d.ts
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/alert/alert.tsx
  core/src/components/back-button/back-button.tsx
  core/src/components/back-button/test/back-button.spec.ts
  core/src/components/button/button.tsx
  core/src/components/col/col.tsx
  core/src/components/content/content.tsx
  core/src/components/item/item.tsx
  core/src/components/loading/loading.tsx
  core/src/components/menu/menu-interface.ts
  core/src/components/menu/menu.tsx
  core/src/components/modal/modal.tsx
  core/src/components/picker/picker.tsx
  core/src/components/popover/popover.tsx
  core/src/components/reorder-group/test/test.utils.ts
  core/src/components/router/utils/interface.ts
  core/src/components/searchbar/searchbar.tsx
  core/src/components/select/select.tsx
  core/src/components/toast/toast.tsx
  core/src/components/toolbar/toolbar.tsx
  core/src/components/virtual-scroll/virtual-scroll.tsx
  core/src/utils/menu-controller/animations/overlay.ts
  core/src/utils/menu-controller/animations/push.ts
  core/src/utils/menu-controller/animations/reveal.ts
  core/src/utils/overlays-interface.ts
  core/src/utils/overlays.ts
  core/src/utils/transition/index.ts
  core/stencil.config.ts
  core/tsconfig.json
  docs/core.d.ts
  packages/react-router/package.json
  packages/react/package.json
  packages/react/test/test-app/package.json
Labels: package: core

#20854 fix(item-divider): update design to match native iOS
  core/src/components/item-divider/item-divider.ios.scss
  core/src/components/item-divider/item-divider.ios.vars.scss
  core/src/components/item-divider/item-divider.md.scss
  core/src/components/item-divider/item-divider.md.vars.scss
  core/src/components/item-divider/item-divider.scss
  core/src/components/item-divider/test/spec/e2e.ts
  core/src/components/item-divider/test/spec/index.html
  core/src/components/item-group/item-group.ios.scss
  core/src/components/item-group/item-group.md.scss
Labels: package: core

#20790 fix(content): apply --offset-top and --offset-bottom values correctly
  core/src/components/content/content.scss
  core/src/components/content/content.tsx
Labels: package: core

#20861 fix(title): improve reliability of large title ios nav transition
  core/src/utils/transition/ios.transition.ts
Labels: package: core

#20852 fix(modal): properly apply border radius on card-style modal
  core/src/css/core.scss
Labels: package: core

#20860 chore(): properly export ionic page transition functions
  angular/src/index.ts
  core/src/index.ts
  packages/react/src/components/index.ts
Labels: package: angular, package: core

#20864 fix(): scroll assists now recognizes inputs on inner pages and modals
  core/src/components/input/input.tsx
  core/src/components/textarea/textarea.tsx
Labels: package: core

#20862 fix(title): large title now inherits global color styling during nav transition
  core/src/components/header/header.tsx
  core/src/components/title/title.ios.scss
Labels: package: core

#20750 fix(modal): respect card-style modal spec for iPadOS
  core/src/components/modal/animations/ios.enter.ts
  core/src/components/modal/animations/ios.leave.ts
  core/src/components/modal/modal.ios.scss
  core/src/components/modal/modal.scss
  core/src/components/modal/modal.tsx
  core/src/components/modal/test/spec/index.html
Labels: package: core

#20828 fix(global): Only cascade mode from parent *Ionic* components
  core/src/global/ionic-global.ts
  core/src/utils/test/modes/e2e.ts
  core/src/utils/test/modes/index.html
Labels: package: core

#20884 fix(modal): properly target card modal for iPadOS styles
  core/src/components/modal/modal.ios.scss
Labels: package: core

#20887 fix(modal): properly inherit border radius for modals on Safari
  core/src/css/core.scss
Labels: package: core

#20729 feat(toast): add white-space variable for toast message
  core/api.txt
  core/src/components/toast/readme.md
  core/src/components/toast/toast.scss
Labels: package: core

#20899 fix(slides): slides no longer breaks when Angular Ivy enabled
  core/src/components/slides/slides.tsx
Labels: package: core
