Repository ionic-team/ionic-framework, pull requests merged in 2020-05, with the labels that each got.

#21223 chore(): remove undocumented back button parts
  core/src/components/back-button/back-button.tsx
Labels: package: core

#21226 fix(all): overlay components no longer display outline when focused
  core/src/components/action-sheet/action-sheet.scss
  core/src/components/alert/alert.scss
  core/src/components/loading/loading.scss
  core/src/components/modal/modal.scss
  core/src/components/picker/picker.scss
  core/src/components/popover/popover.scss
  core/src/components/toast/toast.scss
Labels: package: core

#21247 fix(md): do not hide page when swipe gesture is cancelled
  core/src/utils/transition/md.transition.ts
Labels: package: core

#21237 fix(refresher): correctly select shadow root on older browsers
  core/src/components/refresher/refresher.tsx
  core/src/utils/helpers.ts
Labels: package: core

#21240 fix(overlays): respect keyboardClose property when opening overlays
  core/src/utils/overlays.ts
Labels: package: core

#21222 fix(header): do not error on collapsable header on devices that do not support IntersectionObserve
  core/src/components/header/header.tsx
Labels: package: core

#21168 fix(toggle): screen readers now announce toggle properly
  core/src/components/toggle/toggle.tsx
Labels: package: core

#21268 fix(haptics): haptics now work properly in reorder and picker
  core/src/components/picker-column/picker-column.tsx
  core/src/components/reorder-group/reorder-group.tsx
  core/src/components/toggle/toggle.tsx
  core/src/utils/haptic.ts
Labels: package: core

#21236 fix(refresher): refresher completes even after switching to a new tab
  core/src/components/refresher/refresher.tsx
  core/src/components/refresher/refresher.utils.ts
Labels: package: core

#21206 fix(all): improve scroll assist reliability for below the fold inputs
  core/src/utils/input-shims/hacks/scroll-assist.ts
Labels: package: core

#21273 fix(segment-button): screen readers now announce selected state properly
  core/src/components/segment-button/segment-button.tsx
Labels: package: core

#21276 fix(display): update breakpoint max to reduce by 0.02px
  core/src/themes/ionic.mixins.scss
Labels: package: core

#21283 docs(overlays): add docs on customization in scoped overlays
  core/src/components/action-sheet/readme.md
  core/src/components/action-sheet/usage/angular.md
  core/src/components/action-sheet/usage/javascript.md
  core/src/components/action-sheet/usage/react.md
  core/src/components/action-sheet/usage/stencil.md
  core/src/components/action-sheet/usage/vue.md
  core/src/components/alert/readme.md
  core/src/components/alert/usage/angular.md
  core/src/components/alert/usage/javascript.md
  core/src/components/alert/usage/react.md
  core/src/components/alert/usage/stencil.md
  core/src/components/alert/usage/vue.md
  core/src/components/loading/readme.md
  core/src/components/loading/usage/angular.md
  core/src/components/loading/usage/javascript.md
  core/src/components/loading/usage/react.md
  core/src/components/loading/usage/stencil.md
  core/src/components/loading/usage/vue.md
  core/src/components/modal/readme.md
  core/src/components/modal/usage/angular.md
  core/src/components/modal/usage/javascript.md
  core/src/components/modal/usage/react.md
  core/src/components/modal/usage/stencil.md
  core/src/components/modal/usage/vue.md
  core/src/components/popover/readme.md
  core/src/components/popover/usage/angular.md
  core/src/components/popover/usage/javascript.md
  core/src/components/popover/usage/react.md
  core/src/components/popover/usage/stencil.md
Labels: package: core

#21095 fix(ios): transition shadow properly sized regardless of footer
  core/src/components/content/content.scss
Labels: package: core

#21170 fix(input): check for tabindex and pass it properly to native input
  core/src/components/input/input.tsx
  core/src/components/input/test/tabindex/index.html
  core/src/components/item/item.tsx
Labels: package: core

#21294 5.1.1
  CHANGELOG.md
  angular/package.json
  core/package.json
  docs/package.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
Labels: package: angular, package: core

#21224 fix(modal): modal gets stuck when swiping too fast
  core/src/components/modal/gestures/swipe-to-close.ts
Labels: package: core

#21309 fix(datetime): ensure year-only values are not affected by timezone when parsing
  core/src/components/datetime/datetime-util.ts
  core/src/components/datetime/test/basic/index.html
Labels: package: core

#21324 fix(menu-button): screen readers now properly announce menu button
  core/src/components/menu-button/menu-button.tsx
Labels: package: core

#21333 fix(textarea): native textarea inherits max-width and max-height
  core/src/components/textarea/textarea.scss
Labels: package: core

#21348 docs(title): clarify background-color styling with collapsible large title
  core/src/components/title/readme.md
  core/src/components/title/usage/angular.md
  core/src/components/title/usage/javascript.md
  core/src/components/title/usage/react.md
  core/src/components/title/usage/stencil.md
  core/src/components/title/usage/vue.md
Labels: package: core

#21302 feat(angular): expose activatedView
  angular/src/directives/navigation/ion-router-outlet.ts
Labels: package: angular

#21350 fix(slides): update Swiper dependency to resolve error when doing SSR
  core/package.json
  core/src/components/slides/swiper/swiper.bundle.js
Labels: package: core

#21297 feat(all): add all autocomplete values to input and searchbar
  core/api.txt
  core/src/components.d.ts
  core/src/components/input/input.tsx
  core/src/components/input/readme.md
  core/src/components/searchbar/readme.md
  core/src/components/searchbar/searchbar.tsx
  core/src/interface.d.ts
Labels: package: core

#21308 feat(angular): expose getPlatforms and isPlatform
  angular/src/index.ts
  core/src/utils/platform.ts
Labels: package: angular

#21269 feat(alert): add destructive role to alert buttons
  core/src/components/alert/alert.ios.scss
  core/src/components/alert/alert.ios.vars.scss
  core/src/components/alert/alert.tsx
  core/src/components/alert/test/basic/index.html
Labels: package: core

#21060 fix(ios): add haptic drag gesture for action sheet and alert components
  core/src/components/action-sheet/action-sheet.ios.scss
  core/src/components/action-sheet/action-sheet.scss
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/alert/alert.ios.scss
  core/src/components/alert/alert.tsx
  core/src/utils/gesture/button-active.ts
  core/src/utils/native/haptic.ts
Labels: package: core

#21378 chore(stencil): update to latest stencil version v1.13.0
  core/package.json
  core/src/components/input/input.tsx
  core/src/components/searchbar/searchbar.tsx
  core/src/components/textarea/test/standalone/index.html
  core/src/components/textarea/textarea.tsx
Labels: package: core

#21259 fix(toast, action-sheet): button handler can return `Promise<void>`
  core/src/components/action-sheet/action-sheet-interface.ts
  core/src/components/toast/toast-interface.ts
Labels: package: core

#21339 fix(transition): ios transition works on devices without IO support
  core/src/components/header/header.tsx
Labels: package: core

#21304 feat(select-option): pass class from the option to the interface for individual styling
  core/src/components/alert/alert-interface.ts
  core/src/components/alert/alert.tsx
  core/src/components/select-option/readme.md
  core/src/components/select-option/usage/javascript.md
  core/src/components/select-option/usage/react.md
  core/src/components/select-option/usage/stencil.md
  core/src/components/select-option/usage/vue.md
  core/src/components/select-popover/select-popover-interface.ts
  core/src/components/select-popover/select-popover.tsx
  core/src/components/select/readme.md
  core/src/components/select/select.tsx
  core/src/components/select/test/custom/index.html
Labels: package: core

#21282 fix(item): input-wrapper now inherits overflow
  core/src/components/item/item.scss
Labels: package: core

#18044 feat(lifecycle-hooks): Ionic lifecycle hooks should be strongly typed
  angular/src/index.ts
  angular/src/types/ionic-lifecycle-hooks.ts
  angular/test/test-app/src/app/modal-example/modal-example.component.ts
  angular/test/test-app/src/app/router-link-page/router-link-page.component.ts
  angular/test/test-app/src/app/router-link/router-link.component.ts
  angular/test/test-app/src/app/virtual-scroll-detail/virtual-scroll-detail.component.ts
  core/src/components/router-outlet/readme.md
Labels: package: angular

#21400 chore: internal import updates to improve bundling
  angular/package.json
  core/src/components.d.ts
  core/src/components/alert/alert-interface.ts
  core/src/components/alert/alert.tsx
  core/src/components/app/app.tsx
  core/src/components/infinite-scroll-content/infinite-scroll-content.tsx
  core/src/components/loading/loading-interface.ts
  core/src/components/loading/loading.tsx
  core/src/components/refresher-content/refresher-content.tsx
  core/src/components/refresher/refresher.tsx
  core/src/components/refresher/refresher.utils.ts
  core/src/components/toast/toast-interface.ts
  core/src/components/toast/toast.tsx
  core/src/global/config.ts
  core/src/index.ts
  core/src/utils/animation/animation-utils.ts
  core/src/utils/keyboard/keyboard.ts
  core/src/utils/keyboard/test/keyboard.spec.ts
Labels: package: core

#19278 fix(item): allow setting flex alignment on parent item
  core/src/components/input/test/spec/index.html
  core/src/components/item/item.scss
Labels: package: core

#21396 fix(reorder-group): false not reverting item to its original position
  core/src/components/reorder-group/reorder-group.tsx
Labels: package: core
