Repository ionic-team/ionic-framework, pull requests merged in 2020-09, with the labels that each got.

#22024 docs(infinite-scroll): removing inaccurate verbiage on infinite scroll support …
  core/src/components/infinite-scroll/readme.md
Labels: package: core

#22025 chore(): run build on infinite scroll docs
  core/src/components/infinite-scroll/readme.md
Labels: package: core

#21997 fix(datetime): do not reset to am when changing hour and pm is set
  core/src/components/datetime/datetime-util.spec.ts
  core/src/components/datetime/datetime-util.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/basic/index.html
Labels: package: core

#22074 fix(textarea): do not generate duplicate IDs between ion-input and ion-textarea
  core/src/components/textarea/textarea.tsx
Labels: package: core

#22049 fix(input): only focus the first input / textarea when clicking on the parent item
  core/src/components.d.ts
  core/src/components/item/item.tsx
  core/src/components/item/test/inputs/index.html
  core/src/components/textarea/readme.md
  core/src/components/textarea/textarea.tsx
Labels: package: core

#22110 perf(segment): use 2d transforms to avoid unnecessary compositing on iOS
  core/src/components/segment-button/segment-button.ios.scss
  core/src/components/segment-button/segment-button.scss
  core/src/components/segment/segment.tsx
Labels: package: core

#22140 fix(picker-column): add cancelable check to avoid intervention error in chrome
  core/src/components/picker-column/picker-column.tsx
Labels: package: core

#22157 docs(reorder-group): add type to the event param
  core/src/components/reorder-group/readme.md
  core/src/components/reorder-group/usage/angular.md
Labels: package: core

#22113 fix(radio): tab only to the checked (or first if none exists) radio for a11y compliance
  core/src/components.d.ts
  core/src/components/radio-group/radio-group.tsx
  core/src/components/radio/radio.tsx
  core/src/components/radio/test/basic/index.html
  core/src/utils/overlays.ts
Labels: package: core, review: approved

#21947 fix(reorder): do not stop click event propagation
  core/src/components/reorder-group/test/basic/index.html
  core/src/components/reorder/reorder.tsx
Labels: package: core, review: needs review

#22158 fix(segment): do not allow text selection on desktop
  core/src/components/segment/segment.scss
Labels: package: core, review: needs review

#22159 fix(alert): update radio alert to follow a11y best practices
  core/src/components/alert/alert-interface.ts
  core/src/components/alert/alert.tsx
  core/src/components/alert/test/basic/index.html
Labels: package: core, review: approved

#22167 fix(overlays): return focus to presenting element after dismissal
  core/src/components/datetime/test/basic/e2e.ts
  core/src/components/modal/test/basic/e2e.ts
  core/src/utils/overlays.ts
Labels: package: core, review: approved

#22173 docs(vue): add revised overlay examples
  core/src/components/action-sheet/readme.md
  core/src/components/action-sheet/usage/vue.md
  core/src/components/alert/readme.md
  core/src/components/alert/usage/vue.md
  core/src/components/loading/readme.md
  core/src/components/loading/usage/vue.md
  core/src/components/modal/readme.md
  core/src/components/modal/usage/vue.md
  core/src/components/popover/readme.md
  core/src/components/popover/usage/vue.md
  core/src/components/toast/readme.md
  core/src/components/toast/usage/vue.md
Labels: package: core

#22201 docs(modal): fix props on vue example
  core/src/components/modal/readme.md
  core/src/components/modal/usage/vue.md
Labels: package: core

#22175 Release 5.3.4
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
Labels: package: angular, package: core

#22207 fix(datetime): remove the automatic switching from am to pm and vice versa
  core/src/components/datetime/datetime-util.ts
Labels: package: core
