Repository ionic-team/ionic-framework, pull requests merged in 2020-06, with the labels that each got.

#21365 feat(alert): alert input custom attributes
  core/src/components/alert/alert-interface.ts
  core/src/components/alert/alert.tsx
  core/src/components/alert/readme.md
  core/src/components/alert/test/basic/index.html
  core/src/components/alert/usage/angular.md
  core/src/components/alert/usage/javascript.md
  core/src/components/alert/usage/react.md
  core/src/components/alert/usage/stencil.md
  core/src/components/alert/usage/vue.md
Labels: package: core

#21281 docs(datetime): specify default value for dayShortNames
  core/src/components.d.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/readme.md
Labels: package: core

#21393 feat(all): add optional typing of methods with generics of OverlayEventDetail
  core/api.txt
  core/src/components.d.ts
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/action-sheet/readme.md
  core/src/components/alert/alert.tsx
  core/src/components/alert/readme.md
  core/src/components/loading/loading.tsx
  core/src/components/loading/readme.md
  core/src/components/modal/modal.tsx
  core/src/components/modal/readme.md
  core/src/components/picker/picker.tsx
  core/src/components/picker/readme.md
  core/src/components/popover/popover.tsx
  core/src/components/popover/readme.md
  core/src/components/toast/readme.md
  core/src/components/toast/toast.tsx
Labels: package: core

#21416 fix(scroll-assist): improve scroll detection accuracy
  core/src/utils/input-shims/hacks/scroll-data.ts
Labels: package: core

#21453 bug(modal): set card-style modal height using the --height css variable
  core/src/components/modal/modal.ios.scss
Labels: package: core

#21301 fix(router): going back uses correct nav transition
  core/src/components/router/router.tsx
Labels: package: core

#21433 feat(all): add support for configuring animations on a per-page basis
  angular/src/directives/navigation/ion-back-button.ts
  angular/src/directives/navigation/router-link-delegate.ts
  angular/src/directives/navigation/stack-controller.ts
  angular/src/directives/navigation/stack-utils.ts
  angular/src/directives/proxies.ts
  angular/src/providers/nav-controller.ts
  angular/test/test-app/src/app/alert/alert.component.html
  angular/test/test-app/src/app/home-page/home-page.component.html
  angular/test/test-app/src/app/home-page/home-page.component.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/back-button/back-button.tsx
  core/src/components/back-button/readme.md
  core/src/components/button/button.tsx
  core/src/components/button/readme.md
  core/src/components/card/card.tsx
  core/src/components/card/readme.md
  core/src/components/fab-button/fab-button.tsx
  core/src/components/fab-button/readme.md
  core/src/components/item/item.tsx
  core/src/components/item/readme.md
  core/src/components/nav-link/nav-link-utils.ts
  core/src/components/nav-link/nav-link.tsx
  core/src/components/nav-link/readme.md
  core/src/components/nav/nav.tsx
  core/src/components/nav/view-controller.ts
  core/src/components/router-link/readme.md
  core/src/components/router-link/router-link.tsx
  core/src/components/router-outlet/route-outlet.tsx
  core/src/components/router/readme.md
  core/src/components/router/router.tsx
  core/src/components/router/utils/dom.ts
  core/src/components/router/utils/interface.ts
  core/src/utils/theme.ts
Labels: package: angular, package: core

#19626 feat(fab-button): add close button icon property
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/fab-button/fab-button.tsx
  core/src/components/fab-button/readme.md
Labels: package: angular, package: core

#21429 fix(angular): patch FormControl methods to properly sync Ionic form classes
  angular/src/directives/control-value-accessors/boolean-value-accessor.ts
  angular/src/directives/control-value-accessors/numeric-value-accesssor.ts
  angular/src/directives/control-value-accessors/radio-value-accessor.ts
  angular/src/directives/control-value-accessors/select-value-accessor.ts
  angular/src/directives/control-value-accessors/text-value-accessor.ts
  angular/src/directives/control-value-accessors/value-accessor.ts
  angular/test/test-app/e2e/src/form.e2e-spec.ts
  angular/test/test-app/src/app/form/form.component.html
  angular/test/test-app/src/app/form/form.component.ts
Labels: package: angular

#21505 Release 5.2.1
  CHANGELOG.md
  angular/package.json
  angular/src/directives/control-value-accessors/value-accessor.ts
  core/package.json
  docs/package.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
Labels: package: angular, package: core

#21508 fix(angular): fix issue where navAnimation was being incorrectly overridden
  core/src/components/router-outlet/route-outlet.tsx
Labels: package: core

#21506 fix(action-sheet, alert): resolve double click issue when running in iOS mode on chrome
  core/src/utils/gesture/button-active.ts
Labels: package: core

#21512 fix(ios): respect toolbar opacity when doing nav transition
  core/src/utils/transition/ios.transition.ts
Labels: package: core

#21538 fix(input): add aria-label to clear button
  core/src/components/input/input.tsx
Labels: package: core

#21547 fix(segment): ensure checked classes get set after not having a value
  core/src/components/segment/segment.tsx
Labels: package: core

#21556 docs(modal): clarify backdrop usage for card modals
  core/src/components/modal/readme.md
  core/src/components/modal/usage/angular.md
  core/src/components/modal/usage/javascript.md
  core/src/components/modal/usage/react.md
  core/src/components/modal/usage/stencil.md
Labels: package: core

#21564 5.2.2
  CHANGELOG.md
  angular/package.json
  core/package.json
  docs/package.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
Labels: package: angular, package: core

#21584 docs(select-option): clarify that disabled does not apply for action sheets
  core/src/components.d.ts
  core/src/components/select-option/readme.md
  core/src/components/select-option/select-option.tsx
Labels: package: core

#21616 fix(angular): expose createAnimation
  angular/src/index.ts
Labels: package: angular

#21606 fix(textarea): add aria-labelledby to native textarea
  core/src/components/textarea/textarea.tsx
Labels: package: core

#21608 fix(slides): enable keyboard integration
  core/src/components/slides/swiper/swiper.bundle.js
  core/src/components/slides/swiper/swiper.js
  core/src/components/slides/test/basic/index.html
Labels: package: core

#21609 fix(select): change role to listbox
  core/src/components/select/select.tsx
Labels: package: core

#21629 chore(ionicons): bump to ionicons 5.1.1, add package-lock.json
  core/.npmrc
  core/package-lock.json
  core/package.json
Labels: package: core

#21532 feat(segment-button, toast): add additional parts docs
  core/api.txt
  core/src/components/segment-button/readme.md
  core/src/components/segment-button/segment-button.tsx
  core/src/components/toast/readme.md
  core/src/components/toast/toast.tsx
Labels: package: core

#21653 chore(stencil): update to stencil 1.15.0
  core/package-lock.json
  core/package.json
Labels: package: core
