Repository ionic-team/ionic-framework, pull requests merged in 2021-08, with the labels that each got.

#23711 fix(list): change inset border radius to match iOS 15
  core/src/components/list/list.ios.vars.scss
  core/src/components/list/test/inset/index.html
Labels: package: core

#23696 fix(react): add SSR check to IonTabs
  packages/react/src/components/navigation/IonTabs.tsx
  packages/react/src/utils/HTMLElementSSR.ts
Labels: package: react

#23683 fix(ion-item-sliding): open buttons immediately on first swipe close…
  core/src/components/item-sliding/item-sliding.tsx
Labels: package: core

#23713 fix(gesture): onEnd now correctly fires even if the event target was removed from the DOM
  core/src/utils/gesture/pointer-events.ts
Labels: package: core

#23717 chore(): bump ionicons version
  core/package-lock.json
  core/package.json
Labels: package: core

#23709 fix(popover): fix keyboard arrow navigation
  core/src/components/popover/readme.md
  core/src/components/popover/test/basic/e2e.ts
  core/src/components/popover/utils.ts
Labels: package: core

#23044 fix(checkbox, radio): change event interfaces correctly use TypeScript generics for value
  core/api.txt
  core/src/components/checkbox/checkbox-interface.ts
  core/src/components/checkbox/readme.md
  core/src/components/radio-group/radio-group-interface.ts
  core/src/components/radio-group/readme.md
Labels: package: core

#23724 fix(vue): tabs warning about user-provided router outlet change is now correctly logged
  packages/vue/src/components/IonTabs.ts
Labels: package: vue

#23725 Release 5.6.13
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  angular/src/providers/platform.ts
  core/api.txt
  core/package-lock.json
  core/package.json
  core/src/components/checkbox/checkbox-interface.ts
  core/src/components/checkbox/readme.md
  core/src/components/item-sliding/item-sliding.tsx
  core/src/components/radio-group/radio-group-interface.ts
  core/src/components/radio-group/readme.md
  core/src/utils/gesture/pointer-events.ts
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/react/src/components/navigation/IonTabs.tsx
  packages/react/src/utils/HTMLElementSSR.ts
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
  packages/vue/src/components/IonRouterOutlet.ts
  packages/vue/src/components/IonTabs.ts
Labels: package: angular, package: core, package: react, package: vue

#23726 5.6.13
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: angular, package: core, package: react, package: vue

#23727 chore(): sync next with main for v6 beta 3 release
  CHANGELOG.md
  angular/src/providers/platform.ts
  core/api.txt
  core/package-lock.json
  core/src/components/checkbox/checkbox-interface.ts
  core/src/components/checkbox/readme.md
  core/src/components/item-sliding/item-sliding.tsx
  core/src/components/radio-group/radio-group-interface.ts
  core/src/components/radio-group/readme.md
  core/src/utils/gesture/pointer-events.ts
  packages/react/src/components/navigation/IonTabs.tsx
  packages/react/src/utils/HTMLElementSSR.ts
  packages/vue-router/package-lock.json
Labels: package: angular, package: core, package: react, package: vue

#23730 chore(): run build for vue
  packages/vue/src/components/Overlays.ts
Labels: package: vue

#23729 fix(datetime): text color on ios mode now accounts for color contrast
  core/src/components/datetime/datetime.ios.scss
Labels: package: core

#23731 6.0.0-beta.3
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: angular, package: core, package: react, package: vue

#23737 fix(toast): ToastOptions interface now contains icon prop
  core/src/components/toast/readme.md
  core/src/components/toast/toast-interface.ts
Labels: package: core

#23744 feat(action-sheet): add data property to ActionSheetButton
  core/api.txt
  core/src/components/action-sheet/action-sheet-interface.ts
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/action-sheet/readme.md
  core/src/components/action-sheet/test/basic/e2e.ts
  core/src/components/action-sheet/test/basic/index.html
  core/src/components/action-sheet/usage/angular.md
  core/src/components/action-sheet/usage/javascript.md
  core/src/components/action-sheet/usage/react.md
  core/src/components/action-sheet/usage/stencil.md
  core/src/components/action-sheet/usage/vue.md
Labels: package: core

#23738 fix(vue): custom element internal properties are no longer overridden in vue 3.1.0
  core/package-lock.json
  core/package.json
  packages/vue/src/vue-component-lib/utils.ts
  packages/vue/test-app/package-lock.json
  packages/vue/test-app/package.json
Labels: package: core, package: vue

#23704 fix(img): correctly determine when to load image when scrolling quickly on slower devices
  core/src/components/img/img.tsx
Labels: package: core

#23749 fix(back-button): MD ripple now accounts for --ripple-color
  core/src/components/back-button/back-button.scss
  core/src/components/back-button/test/basic/index.html
Labels: package: core

#23686 feat(datetime): add hourCycle property
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/readme.md
  core/src/components/datetime/test/data.spec.ts
  core/src/components/datetime/test/helpers.spec.ts
  core/src/components/datetime/test/hour-cycle/e2e.ts
  core/src/components/datetime/test/hour-cycle/index.html
  core/src/components/datetime/usage/angular.md
  core/src/components/datetime/usage/javascript.md
  core/src/components/datetime/usage/react.md
  core/src/components/datetime/usage/stencil.md
  core/src/components/datetime/usage/vue.md
  core/src/components/datetime/utils/data.ts
  core/src/components/datetime/utils/helpers.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#23763 fix(item): highlight now appears above helper/error text
  core/src/components/item/item.scss
  core/src/components/item/item.tsx
  core/src/components/item/readme.md
  core/src/components/item/test/bottom/index.html
  core/src/components/item/test/fill/index.html
Labels: package: core

#23761 fix(vue): modal and popover components now correctly pass properties
  packages/vue/scripts/copy-overlays.js
  packages/vue/src/components/IonModal.ts
  packages/vue/src/components/IonPopover.ts
  packages/vue/src/components/Overlays.ts
  packages/vue/src/index.ts
  packages/vue/src/vue-component-lib/overlays.ts
  packages/vue/test-app/src/views/Overlays.vue
Labels: package: vue

#23771 fix(datetime): time presentation now has correct height
  core/src/components/datetime/datetime.ios.scss
  core/src/components/datetime/datetime.scss
Labels: package: core

#23773 fix(vue): using router.go now shows correct view
  packages/vue-router/__tests__/locationHistory.spec.ts
  packages/vue-router/__tests__/viewStacks.spec.ts
  packages/vue-router/src/locationHistory.ts
  packages/vue-router/src/router.ts
  packages/vue-router/src/types.ts
  packages/vue-router/src/viewStacks.ts
  packages/vue/src/components/IonRouterOutlet.ts
  packages/vue/test-app/src/views/Inputs.vue
  packages/vue/test-app/tests/e2e/specs/routing.js
  packages/vue/test-app/tests/e2e/support/commands.js
Labels: package: vue

#23692 feat(datetime): add firstDayOfWeek prop
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/readme.md
  core/src/components/datetime/test/data.spec.ts
  core/src/components/datetime/test/first-day-of-week/e2e.ts
  core/src/components/datetime/test/first-day-of-week/index.html
  core/src/components/datetime/usage/angular.md
  core/src/components/datetime/usage/javascript.md
  core/src/components/datetime/usage/react.md
  core/src/components/datetime/usage/stencil.md
  core/src/components/datetime/usage/vue.md
  core/src/components/datetime/utils/data.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#23774 fix(item-sliding): prevent scrolling during slide gesture
  core/src/components/item-option/item-option.tsx
  core/src/components/item-sliding/item-sliding.tsx
Labels: package: core

#23779 fix(nav): custom animation is no longer overridden
  core/src/components/nav/nav.tsx
  core/src/components/router-outlet/route-outlet.tsx
Labels: package: core

#23786 Release 5.6.14
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  commitlint.config.js
  core/package-lock.json
  core/package.json
  core/src/components/back-button/back-button.scss
  core/src/components/back-button/test/basic/index.html
  core/src/components/img/img.tsx
  core/src/components/item-option/item-option.tsx
  core/src/components/item-sliding/item-sliding.tsx
  core/src/components/nav/nav.tsx
  core/src/components/router-outlet/route-outlet.tsx
  docs/package.json
  package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/__tests__/locationHistory.spec.ts
  packages/vue-router/__tests__/viewStacks.spec.ts
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue-router/src/locationHistory.ts
  packages/vue-router/src/router.ts
  packages/vue-router/src/types.ts
  packages/vue-router/src/viewStacks.ts
  packages/vue/package-lock.json
  packages/vue/package.json
  packages/vue/src/components/IonRouterOutlet.ts
  packages/vue/test-app/src/views/Inputs.vue
  packages/vue/test-app/tests/e2e/specs/routing.js
  packages/vue/test-app/tests/e2e/support/commands.js
Labels: package: core, package: angular, package: vue, package: react

#23787 5.6.14
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#23788 chore(): sync next with main for beta 4
  CHANGELOG.md
  angular/package-lock.json
  commitlint.config.js
  core/src/components/back-button/back-button.scss
  core/src/components/back-button/test/basic/index.html
  core/src/components/img/img.tsx
  core/src/components/item-option/item-option.tsx
  core/src/components/item-sliding/item-sliding.tsx
  core/src/components/nav/nav.tsx
  core/src/components/router-outlet/route-outlet.tsx
  package.json
  packages/angular-server/package-lock.json
  packages/vue-router/__tests__/locationHistory.spec.ts
  packages/vue-router/__tests__/viewStacks.spec.ts
  packages/vue-router/src/locationHistory.ts
  packages/vue-router/src/router.ts
  packages/vue-router/src/types.ts
  packages/vue-router/src/viewStacks.ts
  packages/vue/package-lock.json
  packages/vue/src/components/IonRouterOutlet.ts
  packages/vue/test-app/src/views/Inputs.vue
  packages/vue/test-app/tests/e2e/specs/routing.js
  packages/vue/test-app/tests/e2e/support/commands.js
  packages/vue/test-app/tests/unit/routing.spec.ts
Labels: package: core, package: angular, package: vue

#23789 6.0.0-beta.4
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#23791 fix(alert): AlertButton role now has correct types
  core/src/components/alert/alert-interface.ts
  core/src/components/alert/readme.md
Labels: package: core

#23797 fix(reorder-group): dragging reorder item to bottom no longer gives out of bounds index
  core/src/components/reorder-group/reorder-group.tsx
Labels: package: core

#23807 fix(label): label now only takes up as much space as needed when slotted
  core/src/components/item/item.scss
  core/src/components/item/test/alignment/index.html
Labels: package: core

#23838 chore(slides): fix typo in image slides example
  core/src/components/slides/test/image/index.html
Labels: package: core

#23847 fix(angular): overlay modals are now properly exported
  angular/src/directives/overlays/modal.ts
  angular/src/directives/overlays/popover.ts
  angular/src/index.ts
  angular/src/ionic-module.ts
Labels: package: angular

#23828 feat(modal): add bottom sheet support
  core/api.txt
  core/src/components.d.ts
  core/src/components/modal/animations/ios.enter.ts
  core/src/components/modal/animations/ios.leave.ts
  core/src/components/modal/animations/md.enter.ts
  core/src/components/modal/animations/md.leave.ts
  core/src/components/modal/animations/sheet.ts
  core/src/components/modal/gestures/sheet.ts
  core/src/components/modal/modal-interface.ts
  core/src/components/modal/modal.ios.scss
  core/src/components/modal/modal.scss
  core/src/components/modal/modal.tsx
  core/src/components/modal/readme.md
  core/src/components/modal/test/sheet/e2e.ts
  core/src/components/modal/test/sheet/index.html
  core/src/components/modal/usage/angular.md
  core/src/components/modal/usage/javascript.md
  core/src/components/modal/usage/react.md
  core/src/components/modal/usage/stencil.md
  core/src/components/modal/usage/vue.md
  core/src/components/modal/utils.ts
  core/src/css/core.scss
  core/src/utils/animation/animation.ts
  core/src/utils/overlays.ts
Labels: package: core

#23853 fix(item): form validation states are now properly shown
  core/src/components/item/item.md.scss
  core/src/components/item/item.scss
  core/src/components/item/item.tsx
  core/src/components/item/test/form/e2e.ts
  core/src/components/item/test/form/index.html
Labels: package: core

#23844 feat(slides): add IonicSlides module for Swiper migration, deprecate ion-slides
  angular/src/index.ts
  core/src/components/slides/IonicSwiper.ts
  core/src/components/slides/readme.md
  core/src/components/slides/slides.tsx
  core/src/css/ionic-swiper.scss
  core/src/index.ts
  packages/react/src/components/index.ts
  packages/vue/src/index.ts
Labels: package: core, package: angular, package: vue, package: react

#23854 refactor(virtual-scroll): deprecate virtual scroll in favor of JS framework solutions
  core/src/components/virtual-scroll/readme.md
  core/src/components/virtual-scroll/virtual-scroll.tsx
Labels: package: core
