Repository ionic-team/ionic-framework, pull requests merged in 2021-01, with the labels that each got.

#22742 test(datetime): improve reliability of focus trap test
  core/src/components/datetime/test/basic/e2e.ts
Labels: package: core

#22743 fix(vue): all ionic vue components can now use router link
  core/package-lock.json
  core/package.json
  core/stencil.config.ts
  packages/vue/src/proxies.ts
  packages/vue/src/vue-component-lib/utils.ts
Labels: package: core, package: vue

#22745 fix(vue): improve v-model binding sync between vue wrappers and web components
  core/package-lock.json
  core/package.json
  packages/vue/src/vue-component-lib/utils.ts
Labels: package: core, package: vue

#22750 fix(react, vue): do not show back button when replacing to root page
  packages/react-router/src/ReactRouter/IonRouter.tsx
  packages/vue-router/src/router.ts
  packages/vue/test-app/src/views/Home.vue
  packages/vue/test-app/tests/e2e/specs/routing.js
  packages/vue/test-app/tests/e2e/support/commands.js
Labels: package: react, package: vue

#22762 fix(title): only add large title transition when using collapsible header
  core/src/utils/transition/ios.transition.ts
Labels: package: core

#22749 fix(vue): ensure v-model value is properly synced before ionChange event
  core/package-lock.json
  core/package.json
  packages/vue/src/vue-component-lib/utils.ts
Labels: package: core, package: vue

#22763 fix(react): do not unmount overlay inner component until overlay is dismissed
  packages/react/src/components/createOverlayComponent.tsx
Labels: package: react

#22797 breaking(config): remove experimentalTransitionShadow config option
  BREAKING.md
  core/src/components/content/content.tsx
  core/src/utils/config.ts
Labels: package: core

#22766 chore(vue): make @ionic/vue build usable in node envs
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue-router/rollup.config.js
  packages/vue/package-lock.json
  packages/vue/package.json
  packages/vue/rollup.config.js
  packages/vue/tsconfig.json
Labels: package: vue

#22800 fix(refresher): correctly detect spinner when using native refresher
  core/src/components/refresher/refresher.utils.ts
  core/src/components/refresher/test/basic/index.html
Labels: package: core

#22807 fix(vue): improve path matching with tabs
  packages/vue-router/src/viewStacks.ts
  packages/vue/src/components/IonRouterOutlet.ts
  packages/vue/test-app/src/router/index.ts
  packages/vue/test-app/tests/e2e/specs/tabs.js
  packages/vue/test-app/tests/unit/tab-bar.spec.ts
Labels: package: vue

#22813 fix(react): add improved method for not unmounting component until overlay is dismissed
  packages/react/src/components/createOverlayComponent.tsx
Labels: package: react

#22835 5.5.3
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: angular, package: core, package: react, package: vue
