Repository ionic-team/ionic-framework, pull requests merged in 2021-05, with the labels that each got.

#23181 fix(modal): add additional padding to toolbars in iOS modal
  core/src/css/core.scss
Labels: package: core

#23231 feat(popover): popover can now be used inline
  BREAKING.md
  angular/src/directives/overlays/ion-popover.ts
  angular/src/ionic-module.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/popover/animations/ios.enter.ts
  core/src/components/popover/animations/ios.leave.ts
  core/src/components/popover/animations/md.enter.ts
  core/src/components/popover/animations/md.leave.ts
  core/src/components/popover/popover.scss
  core/src/components/popover/popover.tsx
  core/src/components/popover/readme.md
  core/src/components/popover/test/inline/e2e.ts
  core/src/components/popover/test/inline/index.html
  core/src/components/toast/animations/ios.enter.ts
  core/src/components/toast/animations/ios.leave.ts
  core/src/components/toast/animations/md.enter.ts
  core/src/components/toast/animations/md.leave.ts
  core/src/utils/framework-delegate.ts
  core/src/utils/overlays-interface.ts
  core/src/utils/overlays.ts
  packages/react/src/components/IonPopover.tsx
  packages/react/src/components/createInlineOverlayComponent.tsx
  packages/vue/scripts/copy-overlays.js
  packages/vue/src/components/IonPopover.ts
  packages/vue/src/components/Overlays.ts
  packages/vue/src/index.ts
  packages/vue/test-app/src/views/Overlays.vue
  packages/vue/test-app/tests/e2e/specs/overlays.js
Labels: package: angular, package: core, package: react, package: vue

#23255 fix(vue): use correct history mode when doing ssr to avoid errors
  packages/vue-router/src/router.ts
Labels: package: vue

#23261 chore(): revert #23181
  core/src/css/core.scss
Labels: package: core

#23262 fix(modal): add additional padding to toolbars in iOS modal
  core/src/css/core.scss
Labels: package: core

#23279 docs(modal): document stacked modal behavior
  core/src/components/modal/readme.md
Labels: package: core

#23283 fix(refresher): refresher now only activates when pulling down on MD
  core/src/components/refresher/refresher.tsx
  core/src/components/refresher/refresher.utils.ts
Labels: package: core

#23286 feat(datetime): add base new datetime component
  BREAKING.md
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/button/readme.md
  core/src/components/buttons/readme.md
  core/src/components/datetime/datetime-interface.ts
  core/src/components/datetime/datetime-util.spec.ts
  core/src/components/datetime/datetime-util.ts
  core/src/components/datetime/datetime.ios.scss
  core/src/components/datetime/datetime.ios.vars.scss
  core/src/components/datetime/datetime.md.scss
  core/src/components/datetime/datetime.md.vars.scss
  core/src/components/datetime/datetime.scss
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/readme.md
  core/src/components/datetime/test/a11y/datetime.spec.ts
  core/src/components/datetime/test/basic/e2e.ts
  core/src/components/datetime/test/basic/index.html
  core/src/components/datetime/test/cover/index.html
  core/src/components/datetime/test/datetime.spec.ts
  core/src/components/datetime/test/standalone/e2e.ts
  core/src/components/datetime/test/standalone/index.html
  core/src/components/datetime/usage/angular.md
  core/src/components/datetime/usage/javascript.md
  core/src/components/datetime/usage/react.md
  core/src/components/datetime/usage/stencil.md
  core/src/components/datetime/usage/vue.md
  packages/vue/src/proxies.ts
Labels: package: angular, package: core, package: vue

#23301 5.6.7
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: angular, package: core, package: react, package: vue

#23300 Release 5.6.7
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  angular/src/app-initialize.ts
  core/package-lock.json
  core/package.json
  core/src/components/modal/readme.md
  core/src/components/refresher/refresher.tsx
  core/src/components/refresher/refresher.utils.ts
  core/src/utils/overlays.ts
  core/src/utils/test/overlays.spec.ts
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue-router/src/router.ts
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: angular, package: core, package: react, package: vue

#23297 fix(react): support history@5 in preparation for react router 6
  packages/react-router/src/ReactRouter/IonReactHashRouter.tsx
  packages/react-router/src/ReactRouter/IonReactMemoryRouter.tsx
  packages/react-router/src/ReactRouter/IonReactRouter.tsx
  packages/react-router/src/ReactRouter/IonRouter.tsx
Labels: package: react

#23319 chore(): screenshot diff runs correctly
  .circleci/config.yml
  core/package-lock.json
  core/package.json
  core/scripts/screenshot/ci.js
Labels: package: core

#23325 feat(datetime): add calendar picker
  BREAKING.md
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/datetime/datetime.ios.scss
  core/src/components/datetime/datetime.ios.vars.scss
  core/src/components/datetime/datetime.md.scss
  core/src/components/datetime/datetime.scss
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/datetime.utils.ts
  core/src/components/datetime/readme.md
  core/src/components/datetime/test/basic/index.html
  core/src/components/datetime/test/datetime.spec.ts
  core/src/components/datetime/test/demo/index.html
  core/src/components/item/readme.md
  core/src/components/label/readme.md
  packages/vue/src/proxies.ts
Labels: package: angular, package: core, package: vue

#23340 fix(popover): update prop defaults, use correct delegate
  core/api.txt
  core/src/components/popover/popover.tsx
  core/src/components/popover/readme.md
Labels: package: core

#23318 fix(action-sheet): subheader no longer overlaps action sheet buttons
  core/src/components/action-sheet/action-sheet.md.scss
  core/src/components/action-sheet/test/basic/index.html
Labels: package: core

#23344 fix(slides): resolve prototype pollution in swiper v5
  core/package.json
  core/scripts/swiper.rollup.config.js
  core/src/components/slides/swiper/swiper.bundle.js
Labels: package: core

#23338 fix(range): knob can now have an accessible name
  core/src/components/range/range.tsx
  core/src/components/range/test/a11y/index.html
  core/src/components/range/test/a11y/screen-readers.md
  core/src/components/range/test/basic/index.html
  core/src/components/range/test/standalone/index.html
Labels: package: core

#23337 fix(router): redirects use the to query string
  core/src/components/router/router.tsx
  core/src/components/router/test/basic/index.html
  core/src/components/router/test/basic/redirect.e2e.ts
  core/src/components/router/test/parser.spec.tsx
  core/src/components/router/utils/debug.ts
  core/src/components/router/utils/interface.ts
  core/src/components/router/utils/matching.ts
  core/src/components/router/utils/parser.ts
  core/src/components/router/utils/path.ts
Labels: package: core

#23345 fix(all): reflect color property as an attribute for vue
  core/api.txt
  core/src/components/back-button/back-button.tsx
  core/src/components/badge/badge.tsx
  core/src/components/button/button.tsx
  core/src/components/card-header/card-header.tsx
  core/src/components/card-subtitle/card-subtitle.tsx
  core/src/components/card-title/card-title.tsx
  core/src/components/card/card.tsx
  core/src/components/checkbox/checkbox.tsx
  core/src/components/chip/chip.tsx
  core/src/components/content/content.tsx
  core/src/components/fab-button/fab-button.tsx
  core/src/components/input/input.tsx
  core/src/components/item-divider/item-divider.tsx
  core/src/components/item-option/item-option.tsx
  core/src/components/item/item.tsx
  core/src/components/label/label.tsx
  core/src/components/list-header/list-header.tsx
  core/src/components/menu-button/menu-button.tsx
  core/src/components/note/note.tsx
  core/src/components/progress-bar/progress-bar.tsx
  core/src/components/radio/radio.tsx
  core/src/components/range/range.tsx
  core/src/components/router-link/router-link.tsx
  core/src/components/searchbar/searchbar.tsx
  core/src/components/segment/segment.tsx
  core/src/components/spinner/spinner.tsx
  core/src/components/tab-bar/tab-bar.tsx
  core/src/components/text/text.tsx
  core/src/components/textarea/textarea.tsx
  core/src/components/title/title.tsx
  core/src/components/toast/toast.tsx
  core/src/components/toggle/toggle.tsx
  core/src/components/toolbar/toolbar.tsx
Labels: package: core

#22697 fix(skeleton-text): animation no longer jumps on large skeleton text elements
  core/src/components/skeleton-text/skeleton-text.scss
Labels: package: core

#23351 fix(react): remove @ionic/core dependency in @ionic/react-router to resolve yarn install warning
  packages/react-router/package.json
  packages/react-router/src/ReactRouter/IonRouter.tsx
Labels: package: react

#23352 docs(fab): document correct ion-icon usage for vue
  core/src/components/fab/readme.md
  core/src/components/fab/usage/vue.md
Labels: package: core

#23353 feat(datetime): add time picker
  core/src/components/datetime/datetime.ios.scss
  core/src/components/datetime/datetime.ios.vars.scss
  core/src/components/datetime/datetime.md.scss
  core/src/components/datetime/datetime.md.vars.scss
  core/src/components/datetime/datetime.scss
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/datetime.utils.ts
  core/src/components/datetime/readme.md
  core/src/components/datetime/test/datetime.spec.ts
  core/src/components/datetime/test/demo/index.html
  core/src/components/datetime/test/title/index.html
  core/src/components/segment-button/readme.md
  core/src/components/segment/readme.md
  core/src/components/segment/segment.tsx
  packages/vue/test-app/cypress.json
  packages/vue/test-app/tests/e2e/specs/overlays.js
Labels: package: core, package: vue

#23370 chore(): update e2e structure for accordion tests so screenshots run
  core/src/components/accordion/test/a11y/e2e.ts
  core/src/components/accordion/test/basic/e2e.ts
  core/src/components/accordion/test/standalone/e2e.ts
Labels: package: core

#23372 fix(title): large title scale animation is now correct in rtl mode
  .github/COMPONENT-GUIDE.md
  core/src/components/title/title.ios.scss
  core/src/components/title/title.tsx
Labels: package: core

#23374 feat(datetime): add month and year picker
  core/src/components/datetime/datetime-interface.ts
  core/src/components/datetime/datetime.ios.scss
  core/src/components/datetime/datetime.md.scss
  core/src/components/datetime/datetime.md.vars.scss
  core/src/components/datetime/datetime.scss
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/datetime.utils.ts
  core/src/components/datetime/test/comparison.spec.ts
  core/src/components/datetime/test/data.spec.ts
  core/src/components/datetime/test/datetime.spec.ts
  core/src/components/datetime/test/demo/index.html
  core/src/components/datetime/test/format.spec.ts
  core/src/components/datetime/test/helpers.spec.ts
  core/src/components/datetime/test/manipulation.spec.ts
  core/src/components/datetime/test/parse.spec.ts
  core/src/components/datetime/test/state.spec.ts
  core/src/components/datetime/utils/comparison.ts
  core/src/components/datetime/utils/data.ts
  core/src/components/datetime/utils/format.ts
  core/src/components/datetime/utils/helpers.ts
  core/src/components/datetime/utils/manipulation.ts
  core/src/components/datetime/utils/parse.ts
  core/src/components/datetime/utils/state.ts
Labels: package: core

#23376 5.6.8
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: angular, package: core, package: react, package: vue

#23355 cleanup(router): Cleanup code, add comments
  core/src/components/router/router.tsx
  core/src/components/router/utils/dom.ts
  core/src/components/router/utils/parser.ts
  core/src/components/router/utils/path.ts
Labels: package: core

#23380 feat(datetime): add presentation, and default title/button apis
  BREAKING.md
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/datetime/datetime.ios.scss
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/readme.md
  core/src/components/datetime/test/demo/index.html
  core/src/components/datetime/test/state.spec.ts
  core/src/components/datetime/utils/state.ts
  packages/vue/src/proxies.ts
Labels: package: angular, package: core, package: vue
