Repository ionic-team/ionic-framework, pull requests merged in 2021-06, with the labels that each got.

#23385 chore(angular): fix typo in platform provider
  angular/src/providers/platform.ts
Labels: package: angular

#23393 docs(popover): resolve variable naming conflict
  core/src/components/popover/readme.md
  core/src/components/popover/usage/vue.md
Labels: package: core

#23394 chore(radio-group): use existing helper function for getting all radios
  core/src/components/radio-group/radio-group.tsx
Labels: package: core

#23395 chore(): revert incorrect co-author credit
  core/src/components/radio-group/radio-group.tsx
Labels: package: core

#23396 chore(radio-group): clean up code to reuse helper function
  core/src/components/radio-group/radio-group.tsx
Labels: package: core

#23399 fix(datetime): events are now emitted, value property now respected
  BREAKING.md
  core/src/components.d.ts
  core/src/components/datetime/datetime-interface.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/basic/index.html
  core/src/components/datetime/test/demo/index.html
  core/src/components/datetime/utils/data.ts
  core/src/components/datetime/utils/manipulation.ts
Labels: package: core

#23401 fix(modal): swipe to close modal is no longer swipeable on footer
  core/src/components/modal/gestures/swipe-to-close.ts
Labels: package: core

#23404 chore(datetime): remove displayFormat and displayTimezone properties
  BREAKING.md
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/readme.md
  core/src/components/datetime/utils/data.ts
  packages/vue/src/proxies.ts
Labels: package: angular, package: core, package: vue

#23405 docs(datetime): add e2e tests
  core/src/components/datetime/datetime.scss
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/basic/index.html
  core/src/components/datetime/test/color/e2e.ts
  core/src/components/datetime/test/color/index.html
  core/src/components/datetime/test/locale/e2e.ts
  core/src/components/datetime/test/locale/index.html
  core/src/components/datetime/test/minmax/e2e.ts
  core/src/components/datetime/test/minmax/index.html
  core/src/components/datetime/test/presentation/e2e.ts
  core/src/components/datetime/test/presentation/index.html
Labels: package: core

#23343 fix(title): inherit padding for iOS title in a toolbar
  core/src/components/modal/test/custom/index.html
  core/src/components/title/title.ios.scss
Labels: package: core

#23414 feat(datetime): implement dayValues, minuteValues, monthValues, and yearValues
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/data.spec.ts
  core/src/components/datetime/test/state.spec.ts
  core/src/components/datetime/test/values/e2e.ts
  core/src/components/datetime/test/values/index.html
  core/src/components/datetime/utils/data.ts
  core/src/components/datetime/utils/parse.ts
  core/src/components/datetime/utils/state.ts
Labels: package: core

#23415 fix(datetime): prevent IO from incorrectly firing when overlays open
  core/src/components/datetime/datetime.tsx
Labels: package: core

#23420 fix(vue): improve v-model integration for Vue 3.1.0+
  core/package-lock.json
  core/package.json
  packages/vue/src/vue-component-lib/utils.ts
Labels: package: core, package: vue

#23421 fix(vue): prevent error from being thrown when testing on certain jest runners
  core/src/utils/config.ts
Labels: package: core

#23426 fix(accordion): toggle icon now shows up in vue and react
  packages/react/src/components/index.ts
  packages/vue/src/index.ts
Labels: package: react, package: vue

#23429 fix(item): using multiple items with inputs no longer results in console warnings
  core/src/components/item/item.tsx
Labels: package: core

#23430 5.6.9
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: angular, package: core, package: react, package: vue

#23431 Release 5.6.9
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  angular/src/providers/platform.ts
  core/package-lock.json
  core/package.json
  core/src/components/modal/gestures/swipe-to-close.ts
  core/src/components/modal/test/custom/index.html
  core/src/components/popover/readme.md
  core/src/components/popover/usage/vue.md
  core/src/components/radio-group/radio-group.tsx
  core/src/components/router/router.tsx
  core/src/components/router/utils/dom.ts
  core/src/components/router/utils/parser.ts
  core/src/components/router/utils/path.ts
  core/src/components/title/title.ios.scss
  core/src/utils/config.ts
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
  packages/vue/src/vue-component-lib/utils.ts
Labels: package: angular, package: core, package: react, package: vue

#23434 fix(modal, popover): overlays now automatically determine if they are inline
  core/src/components.d.ts
  core/src/components/modal/modal.tsx
  core/src/components/popover/popover.tsx
  core/src/utils/overlays.ts
Labels: package: core

#23436 feat(popover): account for ionShadowTarget elements
  core/src/components/popover/utils.ts
Labels: package: core

#23446 fix(popover): shadow parts now correctly added
  core/src/components/popover/popover.tsx
Labels: package: core

#23447 feat(slides): add IonicSwiper modules, deprecate ion-slides, and add link to migration
  angular/src/index.ts
  core/src/components/slides/IonicSwiper.ts
  core/src/components/slides/readme.md
  core/src/components/slides/slides.tsx
  core/src/css/ionic-swiper.scss
  core/src/index.ts
  packages/react/src/components/index.ts
  packages/vue/src/index.ts
Labels: package: angular, package: core, package: react, package: vue

#23456 docs(datetime): improve example tests with sizing
  core/src/components/datetime/datetime.ios.scss
  core/src/components/datetime/test/basic/index.html
  core/src/components/datetime/test/demo/index.html
Labels: package: core

#23461 fix(modal): border radius is correctly set on card style modal
  core/src/components/modal/modal.ios.scss
  core/src/components/modal/modal.ios.vars.scss
  core/src/css/core.scss
Labels: package: core

#23458 feat(vue): add custom elements bundle
  core/package-lock.json
  core/package.json
  core/src/css/structure.scss
  core/src/global/ionic-global.ts
  core/src/utils/config.ts
  core/src/utils/platform.ts
  core/stencil.config.ts
  packages/vue/package.json
  packages/vue/rollup.config.js
  packages/vue/scripts/copy-overlays.js
  packages/vue/src/components/IonApp.ts
  packages/vue/src/components/IonBackButton.ts
  packages/vue/src/components/IonIcon.ts
  packages/vue/src/components/IonModal.ts
  packages/vue/src/components/IonNav.ts
  packages/vue/src/components/IonPage.ts
  packages/vue/src/components/IonPopover.ts
  packages/vue/src/components/IonRouterOutlet.ts
  packages/vue/src/components/IonTabBar.ts
  packages/vue/src/components/IonTabButton.ts
  packages/vue/src/components/IonTabs.ts
  packages/vue/src/components/Overlays.ts
  packages/vue/src/controllers.ts
  packages/vue/src/globalExtensions.ts
  packages/vue/src/hooks.ts
  packages/vue/src/index.ts
  packages/vue/src/ionic-vue.ts
  packages/vue/src/proxies.ts
  packages/vue/src/utils.ts
  packages/vue/src/vue-component-lib/overlays.ts
  packages/vue/src/vue-component-lib/utils.ts
  packages/vue/test-app/jest.config.js
  packages/vue/test-app/package-lock.json
  packages/vue/test-app/package.json
  packages/vue/test-app/scripts/sync.sh
  packages/vue/test-app/src/theme/variables.css
  packages/vue/types/proxies.d.ts
Labels: package: core, package: vue

#23354 feat(item): add helper text, error text, counter, shape, and fill mode
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/datetime/readme.md
  core/src/components/item/item.ios.scss
  core/src/components/item/item.md.scss
  core/src/components/item/item.md.vars.scss
  core/src/components/item/item.scss
  core/src/components/item/item.tsx
  core/src/components/item/readme.md
  core/src/components/item/test/fill/index.html
  core/src/components/item/usage/angular.md
  core/src/components/item/usage/javascript.md
  core/src/components/item/usage/react.md
  core/src/components/item/usage/stencil.md
  core/src/components/item/usage/vue.md
  core/src/components/label/label.md.scss
  core/src/components/label/label.tsx
  core/src/components/note/readme.md
  core/src/themes/test/css-variables/index.html
  packages/vue/src/proxies.ts
Labels: package: angular, package: core, package: vue

#22701 feat(breadcrumbs): add breadcrumbs component
  angular/src/directives/proxies-list.txt
  angular/src/directives/proxies.ts
  angular/src/ionic-module.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/breadcrumb/breadcrumb-interface.ts
  core/src/components/breadcrumb/breadcrumb.ios.scss
  core/src/components/breadcrumb/breadcrumb.ios.vars.scss
  core/src/components/breadcrumb/breadcrumb.md.scss
  core/src/components/breadcrumb/breadcrumb.md.vars.scss
  core/src/components/breadcrumb/breadcrumb.scss
  core/src/components/breadcrumb/breadcrumb.tsx
  core/src/components/breadcrumb/breadcrumb.vars.scss
  core/src/components/breadcrumb/readme.md
  core/src/components/breadcrumbs/breadcrumbs.ios.scss
  core/src/components/breadcrumbs/breadcrumbs.md.scss
  core/src/components/breadcrumbs/breadcrumbs.scss
  core/src/components/breadcrumbs/breadcrumbs.tsx
  core/src/components/breadcrumbs/breadcrumbs.vars.scss
  core/src/components/breadcrumbs/readme.md
  core/src/components/breadcrumbs/test/basic/e2e.ts
  core/src/components/breadcrumbs/test/basic/index.html
  core/src/components/breadcrumbs/test/collapsed/e2e.ts
  core/src/components/breadcrumbs/test/collapsed/index.html
  core/src/components/breadcrumbs/test/standalone/e2e.ts
  core/src/components/breadcrumbs/test/standalone/index.html
  core/src/components/breadcrumbs/usage/angular.md
  core/src/components/breadcrumbs/usage/javascript.md
  core/src/components/breadcrumbs/usage/react.md
  core/src/components/breadcrumbs/usage/stencil.md
  core/src/components/breadcrumbs/usage/vue.md
  core/src/components/popover/readme.md
  core/src/components/popover/usage/javascript.md
  core/src/components/popover/usage/vue.md
  core/src/interface.d.ts
  core/src/themes/test/css-variables/index.html
  core/stencil.config.ts
  packages/react/src/components/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: angular, package: core, package: react, package: vue

#23463 fix(datetime): changing time emits ionChange
  core/src/components/datetime/datetime.tsx
Labels: package: core

#23465 fix(vue): ensure webpack does not eliminate core css
  packages/vue/package.json
Labels: package: vue

#23442 fix(button): buttons using fill and color properties now account for hover and focused variables
  core/src/components/button/button.md.scss
  core/src/components/button/test/outline/index.html
  core/src/components/button/test/states/index.html
Labels: package: core

#23475 fix(searchbar): showClearButton now defaults to 'always' for improved usability with screen readers
  BREAKING.md
  core/api.txt
  core/src/components/searchbar/readme.md
  core/src/components/searchbar/searchbar.tsx
Labels: package: core

#23476 chore(): sync with master
  .github/COMPONENT-GUIDE.md
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  angular/src/providers/platform.ts
  core/package-lock.json
  core/package.json
  core/src/components/button/button.md.scss
  core/src/components/button/test/outline/index.html
  core/src/components/button/test/states/index.html
  core/src/components/item/item.tsx
  core/src/components/modal/gestures/swipe-to-close.ts
  core/src/components/modal/test/custom/index.html
  core/src/components/popover/readme.md
  core/src/components/popover/usage/vue.md
  core/src/components/radio-group/radio-group.tsx
  core/src/components/router/router.tsx
  core/src/components/router/utils/dom.ts
  core/src/components/router/utils/parser.ts
  core/src/components/router/utils/path.ts
  core/src/components/title/title.ios.scss
  core/src/components/title/title.tsx
  core/src/utils/config.ts
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: angular, package: core, package: react, package: vue

#23477 fix(vue): IonTabs can now accept IonRouterOutlet
  packages/vue/src/components/IonTabs.ts
  packages/vue/test-app/src/router/index.ts
  packages/vue/test-app/src/views/TabsNew.vue
Labels: package: vue

#23478 chore(): sync with master
  packages/vue/src/components/IonTabs.ts
  packages/vue/src/components/Overlays.ts
  packages/vue/test-app/src/views/TabsNew.vue
Labels: package: vue

#23479 refactor(vue): remove auto-generated router outlet inside of ion-tabs
  BREAKING.md
  packages/vue/src/components/IonTabs.ts
  packages/vue/test-app/src/views/Tabs.vue
  packages/vue/test-app/src/views/TabsNew.vue
  packages/vue/test-app/src/views/TabsSecondary.vue
  packages/vue/test-app/tests/unit/routing.spec.ts
  packages/vue/test-app/tests/unit/tab-bar.spec.ts
  packages/vue/test-app/tests/unit/tabs.spec.ts
Labels: package: vue

#23481 chore(): remove old test app, bump dependencies
  package.json
  packages/react/test/test-app/.gitignore
  packages/react/test/test-app/README.md
  packages/react/test/test-app/cypress.json
  packages/react/test/test-app/cypress/fixtures/example.json
  packages/react/test/test-app/cypress/integration/app.spec.js
  packages/react/test/test-app/cypress/plugins/index.js
  packages/react/test/test-app/cypress/support/commands.js
  packages/react/test/test-app/cypress/support/index.js
  packages/react/test/test-app/package-lock.json
  packages/react/test/test-app/package.json
  packages/react/test/test-app/public/favicon.ico
  packages/react/test/test-app/public/index.html
  packages/react/test/test-app/public/manifest.json
  packages/react/test/test-app/scripts/sync.sh
  packages/react/test/test-app/src/App.tsx
  packages/react/test/test-app/src/index.css
  packages/react/test/test-app/src/index.tsx
  packages/react/test/test-app/src/logo.svg
  packages/react/test/test-app/src/react-app-env.d.ts
  packages/react/test/test-app/src/serviceWorker.ts
  packages/react/test/test-app/tsconfig.json
  packages/vue-router/__tests__/viewStacks.spec.ts
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
Labels: package: react, package: vue

#23483 Release 5.6.10
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  core/src/components/button/button.md.scss
  core/src/components/button/test/outline/index.html
  core/src/components/button/test/states/index.html
  core/src/components/item/item.tsx
  docs/package.json
  package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/react/test/test-app/.gitignore
  packages/react/test/test-app/README.md
  packages/react/test/test-app/cypress.json
  packages/react/test/test-app/cypress/fixtures/example.json
  packages/react/test/test-app/cypress/integration/app.spec.js
  packages/react/test/test-app/cypress/plugins/index.js
  packages/react/test/test-app/cypress/support/commands.js
  packages/react/test/test-app/cypress/support/index.js
  packages/react/test/test-app/package-lock.json
  packages/react/test/test-app/package.json
  packages/react/test/test-app/public/favicon.ico
  packages/react/test/test-app/public/index.html
  packages/react/test/test-app/public/manifest.json
  packages/react/test/test-app/scripts/sync.sh
  packages/react/test/test-app/src/App.tsx
  packages/react/test/test-app/src/index.css
  packages/react/test/test-app/src/index.tsx
  packages/react/test/test-app/src/logo.svg
  packages/react/test/test-app/src/react-app-env.d.ts
  packages/react/test/test-app/src/serviceWorker.ts
  packages/react/test/test-app/tsconfig.json
  packages/vue-router/__tests__/viewStacks.spec.ts
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
  packages/vue/src/components/IonTabs.ts
  packages/vue/test-app/src/router/index.ts
  packages/vue/test-app/src/views/TabsNew.vue
Labels: package: angular, package: core, package: react, package: vue

#23484 5.6.10
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: angular, package: core, package: react, package: vue

#23487 chore(): sync next with master before beta 0
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/react/test/test-app/.gitignore
  packages/react/test/test-app/README.md
  packages/react/test/test-app/cypress.json
  packages/react/test/test-app/cypress/fixtures/example.json
  packages/react/test/test-app/cypress/integration/app.spec.js
  packages/react/test/test-app/cypress/plugins/index.js
  packages/react/test/test-app/cypress/support/commands.js
  packages/react/test/test-app/cypress/support/index.js
  packages/react/test/test-app/package-lock.json
  packages/react/test/test-app/package.json
  packages/react/test/test-app/public/favicon.ico
  packages/react/test/test-app/public/index.html
  packages/react/test/test-app/public/manifest.json
  packages/react/test/test-app/scripts/sync.sh
  packages/react/test/test-app/src/App.tsx
  packages/react/test/test-app/src/index.css
  packages/react/test/test-app/src/index.tsx
  packages/react/test/test-app/src/logo.svg
  packages/react/test/test-app/src/react-app-env.d.ts
  packages/react/test/test-app/src/serviceWorker.ts
  packages/react/test/test-app/tsconfig.json
  packages/vue-router/__tests__/viewStacks.spec.ts
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: angular, package: core, package: react, package: vue

#23496 6.0.0-beta.0
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: angular, package: core, package: react, package: vue

#23497 fix(react): export accordion and accordion group components
  packages/react/src/components/proxies.ts
Labels: package: react

#23498 docs(accordion-group): fix link to accordion
  core/src/components/accordion-group/readme.md
Labels: package: core

#23502 docs(virtual-scroll, slides): add correct links to migration guides
  core/src/components/slides/readme.md
  core/src/components/virtual-scroll/readme.md
Labels: package: core

#23500 fix(input, select, textarea): change type of placeholder prop to string only
  BREAKING.md
  core/api.txt
  core/src/components.d.ts
  core/src/components/input/input.tsx
  core/src/components/input/readme.md
  core/src/components/select/readme.md
  core/src/components/select/select.tsx
  core/src/components/textarea/readme.md
  core/src/components/textarea/textarea.tsx
Labels: package: core

#23508 docs(virtual-scroll): fix ion-img link
  core/src/components/virtual-scroll/readme.md
Labels: package: core

#23499 feat(vue): extend useIonRouter hook for programmatic navigation with animation control
  BREAKING.md
  packages/vue-router/src/router.ts
  packages/vue-router/src/types.ts
  packages/vue/src/hooks.ts
  packages/vue/src/hooks/back-button.ts
  packages/vue/src/hooks/keyboard.ts
  packages/vue/src/hooks/lifecycle.ts
  packages/vue/src/hooks/router.ts
  packages/vue/src/index.ts
  packages/vue/test-app/tests/unit/hooks.spec.ts
Labels: package: vue

#23530 feat(accordion-group): add animated property to disable animations
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/accordion-group/accordion-group.tsx
  core/src/components/accordion-group/readme.md
  core/src/components/accordion/accordion.tsx
  core/src/components/accordion/test/accordion.spec.ts
  packages/vue/src/proxies.ts
Labels: package: angular, package: core, package: vue

#23531 fix(accordion): improved reliability of accordion animations
  core/src/components/accordion/accordion.tsx
Labels: package: core

#23532 fix(popover): size property now works when providing only event
  core/src/components/popover/animations/ios.enter.ts
  core/src/components/popover/animations/md.enter.ts
  core/src/components/popover/test/size/e2e.ts
  core/src/components/popover/test/size/index.html
Labels: package: core

#18992 feat(action-sheet, alert): add id to AlertButton and ActionSheetButton
  core/src/components/action-sheet/action-sheet-interface.ts
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/action-sheet/readme.md
  core/src/components/action-sheet/test/basic/index.html
  core/src/components/action-sheet/usage/angular.md
  core/src/components/action-sheet/usage/javascript.md
  core/src/components/action-sheet/usage/react.md
  core/src/components/action-sheet/usage/stencil.md
  core/src/components/action-sheet/usage/vue.md
  core/src/components/alert/alert-interface.ts
  core/src/components/alert/alert.tsx
  core/src/components/alert/readme.md
  core/src/components/alert/test/basic/index.html
  core/src/components/alert/test/standalone/index.html
  core/src/components/alert/test/translucent/index.html
  core/src/components/alert/usage/angular.md
  core/src/components/alert/usage/javascript.md
  core/src/components/alert/usage/react.md
  core/src/components/alert/usage/stencil.md
  core/src/components/alert/usage/vue.md
Labels: package: core

#23535 docs(card): fix usage example for vue
  core/src/components/card/readme.md
  core/src/components/card/usage/vue.md
Labels: package: core

#23534 fix(content): add touch-action manipulation for a11y zoom and pan
  core/src/components/content/content.scss
Labels: package: core

#23536 fix(animation): typescript interface has correct return value for progress methods
  core/src/utils/animation/animation-interface.ts
Labels: package: core

#23525 fix(vue): navigating between parameterized pages now results in page transition
  packages/vue-router/src/viewStacks.ts
  packages/vue/test-app/src/router/index.ts
  packages/vue/test-app/src/views/RoutingParameter.vue
  packages/vue/test-app/src/views/Tab1.vue
  packages/vue/test-app/src/views/Tab1ChildTwo.vue
  packages/vue/test-app/src/views/Tab1Parameter.vue
  packages/vue/test-app/tests/e2e/specs/routing.js
  packages/vue/test-app/tests/e2e/support/commands.js
  packages/vue/test-app/tests/unit/routing.spec.ts
Labels: package: vue

#23541 fix(popover): update animation to better match MD spec
  core/src/components/popover/animations/md.enter.ts
Labels: package: core
