Repository ionic-team/ionic-framework, pull requests merged in 2021-11, with the labels that each got.

#24029 test(): migrate tests to GitHub Actions
  .circleci/config.yml
  .github/workflows/actions/build-angular-server/action.yml
  .github/workflows/actions/build-angular/action.yml
  .github/workflows/actions/build-core/action.yml
  .github/workflows/actions/build-react-router/action.yml
  .github/workflows/actions/build-react/action.yml
  .github/workflows/actions/build-vue-router/action.yml
  .github/workflows/actions/build-vue/action.yml
  .github/workflows/actions/download-archive/action.yml
  .github/workflows/actions/test-angular-e2e/action.yml
  .github/workflows/actions/test-core-clean-build/action.yml
  .github/workflows/actions/test-core-e2e/action.yml
  .github/workflows/actions/test-core-lint/action.yml
  .github/workflows/actions/test-core-screenshot-main/action.yml
  .github/workflows/actions/test-core-screenshot/action.yml
  .github/workflows/actions/test-core-spec/action.yml
  .github/workflows/actions/test-react-e2e/action.yml
  .github/workflows/actions/test-react-router-e2e/action.yml
  .github/workflows/actions/test-vue-e2e/action.yml
  .github/workflows/actions/upload-archive/action.yml
  .github/workflows/build.yml
  packages/react-router/package.json
  packages/react-router/scripts/sync.sh
  packages/react-router/test-app/package.json
  packages/react-router/test-app/src/App.tsx
  packages/react-router/test-app/src/pages/dynamic-tabs/DynamicTabs.tsx
  packages/react/package.json
  packages/react/scripts/sync.sh
  packages/react/test-app/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue-router/scripts/sync.sh
  packages/vue/package.json
  packages/vue/scripts/sync.sh
Labels: package: vue, package: react

#24141 docs(): update contributing guide for angular, react, and vue
  .github/CONTRIBUTING.md
  packages/vue/package.json
  packages/vue/test-app/package.json
Labels: package: vue

#24147 docs(react): fix infinite scroll example to remove extra imports
  core/src/components/infinite-scroll/readme.md
  core/src/components/infinite-scroll/usage/react.md
Labels: package: core

#24152 chore(): update ionicons and stencil
  core/package-lock.json
  core/package.json
  packages/react/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: vue, package: react

#24142 fix(datetime): resolve month and year jumping issue on ios
  core/src/components/datetime/datetime.scss
Labels: package: core

#24150 chore(): sync with main for GitHub Actions
  .circleci/config.yml
  .github/CONTRIBUTING.md
  .github/workflows/actions/build-angular-server/action.yml
  .github/workflows/actions/build-angular/action.yml
  .github/workflows/actions/build-core/action.yml
  .github/workflows/actions/build-react-router/action.yml
  .github/workflows/actions/build-react/action.yml
  .github/workflows/actions/build-vue-router/action.yml
  .github/workflows/actions/build-vue/action.yml
  .github/workflows/actions/download-archive/action.yml
  .github/workflows/actions/test-angular-e2e/action.yml
  .github/workflows/actions/test-core-clean-build/action.yml
  .github/workflows/actions/test-core-e2e/action.yml
  .github/workflows/actions/test-core-lint/action.yml
  .github/workflows/actions/test-core-screenshot-main/action.yml
  .github/workflows/actions/test-core-screenshot/action.yml
  .github/workflows/actions/test-core-spec/action.yml
  .github/workflows/actions/test-react-e2e/action.yml
  .github/workflows/actions/test-react-router-e2e/action.yml
  .github/workflows/actions/test-vue-e2e/action.yml
  .github/workflows/actions/upload-archive/action.yml
  .github/workflows/build.yml
  angular/test/test-app/package-lock.json
  angular/test/test-app/package.json
  core/src/components/infinite-scroll-content/readme.md
  core/src/components/infinite-scroll-content/usage/react.md
  core/src/components/infinite-scroll/readme.md
  core/src/components/infinite-scroll/usage/react.md
  packages/angular-server/tsconfig.json
  packages/react-router/package.json
  packages/react-router/scripts/sync.sh
  packages/react-router/test-app/package-lock.json
  packages/react-router/test-app/package.json
  packages/react-router/test-app/scripts/sync.sh
  packages/react-router/test-app/src/App.tsx
  packages/react-router/test-app/src/pages/dynamic-tabs/DynamicTabs.tsx
  packages/react/package.json
  packages/react/scripts/sync.sh
  packages/react/test-app/package-lock.json
  packages/react/test-app/package.json
  packages/react/test-app/scripts/sync.sh
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue-router/scripts/sync.sh
  packages/vue/package.json
  packages/vue/scripts/sync.sh
  packages/vue/test-app/package-lock.json
  packages/vue/test-app/package.json
  packages/vue/test-app/scripts/sync.sh
Labels: package: core, package: angular, package: vue, package: react

#24132 fix(react): improve component compatibility with preact
  core/stencil.config.ts
  packages/react/src/components/IonApp.tsx
  packages/react/src/components/navigation/IonTabButton.tsx
  packages/react/src/components/navigation/IonTabs.tsx
  packages/react/src/components/proxies.ts
Labels: package: core, package: react

#24157 Release 6.0.0-rc.2
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#24165 fix(overlays): declarative modals now work properly with the hardware back button
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/alert/alert.tsx
  core/src/components/loading/loading.tsx
  core/src/components/picker/picker.tsx
  core/src/components/toast/toast.tsx
  core/src/utils/overlays.ts
  core/src/utils/test/overlays/index.html
  core/src/utils/test/overlays/overlays.e2e.ts
  core/src/utils/test/overlays/overlays.spec.ts
Labels: package: core

#24172 docs(virtual-scroll): fix url reference paths
  core/src/components/virtual-scroll/readme.md
Labels: package: core

#24176 fix(action-sheet): safe area is now accounted for in MD mode
  core/src/components/action-sheet/action-sheet.ios.scss
  core/src/components/action-sheet/action-sheet.scss
Labels: package: core

#24174 fix(modal, popover): opening modal and popover now works even if overlay was added to ion-app directly
  BREAKING.md
  core/src/components.d.ts
  core/src/components/modal/modal.ios.scss
  core/src/components/modal/modal.md.scss
  core/src/components/modal/modal.tsx
  core/src/components/modal/test/sheet/index.html
  core/src/components/popover/popover.tsx
  core/src/css/core.scss
  core/src/utils/overlays.ts
  core/src/utils/test/framework-delegate/framework-delegate.e2e.ts
  core/src/utils/test/framework-delegate/index.html
Labels: package: core

#24111 fix(core/input): update onInput to InputEvent
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/input/input.tsx
  core/src/components/input/readme.md
  core/src/components/textarea/readme.md
  core/src/components/textarea/textarea.tsx
Labels: package: core, package: angular

#24185 fix(icon): update to ionicons 6 to resolve typescript 4.4 errors
  BREAKING.md
  angular/src/directives/proxies.ts
  core/package-lock.json
  core/package.json
  core/src/components/accordion/accordion.tsx
  packages/react/package.json
  packages/react/src/components/IonIcon.tsx
  packages/vue/package-lock.json
  packages/vue/package.json
  packages/vue/src/components/IonIcon.ts
Labels: package: core, package: angular, package: vue, package: react

#24190 feat(slides): add support for Swiper 7
  angular/src/index.ts
  core/src/components/slides/IonicSlides.ts
  core/src/components/slides/IonicSwiper.ts
  core/src/css/ionic-swiper.scss
  core/src/index.ts
  packages/react/src/components/index.ts
  packages/vue/src/index.ts
Labels: package: core, package: angular, package: vue, package: react

#24204 fix(modal): border radius is now correctly applied to card modals
  core/src/components/modal/modal.ios.scss
  core/src/components/modal/test/card/e2e.ts
  core/src/components/modal/test/card/index.html
  core/src/css/core.scss
Labels: package: core

#24210 chore(): sync with main branch
  .github/ionic-issue-bot.yml
  .github/workflows/build.yml
  .github/workflows/dev-build.yml
  .scripts/common.js
  .scripts/release-dev.js
  angular/src/index.ts
  core/src/components/action-sheet/action-sheet.ios.scss
  core/src/components/action-sheet/action-sheet.scss
  core/src/components/slides/IonicSlides.ts
  core/src/components/slides/IonicSwiper.ts
  core/src/components/virtual-scroll/readme.md
  core/src/css/ionic-swiper.scss
  core/src/index.ts
  packages/react/src/components/index.ts
  packages/vue-router/__tests__/locationHistory.spec.ts
  packages/vue-router/src/locationHistory.ts
  packages/vue-router/src/router.ts
  packages/vue/src/index.ts
  packages/vue/test-app/src/App.vue
  packages/vue/test-app/tests/unit/routing.spec.ts
Labels: package: core, package: angular, package: vue, package: react

#24203 fix(modal): card modal shadow now shows up correctly on ipad
  core/src/components/modal/modal.ios.scss
  core/src/components/modal/modal.tsx
  core/src/components/modal/test/card/e2e.ts
  core/src/css/core.scss
Labels: package: core

#24191 fix(all): Ionic components that use child Ionic components are now correctly defined
  core/package-lock.json
  core/package.json
  core/src/components/picker-column-internal/picker-column-internal.tsx
  core/src/components/picker-internal/picker-internal-interfaces.ts
  core/src/components/picker-internal/picker-internal.tsx
  core/src/components/select/readme.md
  core/src/components/select/select.tsx
  core/src/utils/overlays.ts
  core/stencil.config.ts
Labels: package: core

#24211 test(tabs): skip tests for vue tabs
  packages/vue/test-app/tests/e2e/specs/routing.js
  packages/vue/test-app/tests/e2e/specs/tabs.js
Labels: package: vue

#24200 fix(angular): prevent duplicate event emissions
  angular/src/directives/overlays/modal.ts
  angular/src/directives/overlays/popover.ts
  angular/src/directives/proxies.ts
  core/package-lock.json
  core/package.json
Labels: package: core, package: angular, v6

#24216 docs(): update docs usage to reference main instead of master
  .github/COMPONENT-GUIDE.md
  .github/CONTRIBUTING.md
  .github/PROCESS.md
  .scripts/release.js
  README.md
  angular/BREAKING.md
  angular/README.md
  core/stencil.config.ts
  docs/README.md
  packages/react/README.md
  packages/vue-router/README.md
  packages/vue/CHANGELOG.md
  packages/vue/README.md
Labels: package: core, package: angular, package: vue, package: react

#24213 fix(input): safari 15 webkit text alignment issue with input type date
  core/src/css/core.scss
Labels: package: core

#24217 fix(input): date type in ion-input now aligns correctly on iOS 15
  core/src/css/core.scss
Labels: package: core

#24202 fix(textarea): floating label with autogrow textareas
  core/src/components/item/item.md.scss
  core/src/components/textarea/test/autogrow/e2e.ts
  core/src/components/textarea/test/autogrow/index.html
Labels: package: core

#24231 5.9.0
  .github/workflows/actions/build-react-router/action.yml
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#24233 chore(): sync with main for RC 3
  .github/COMPONENT-GUIDE.md
  .github/CONTRIBUTING.md
  .github/PROCESS.md
  .github/workflows/actions/build-react-router/action.yml
  .scripts/common.js
  .scripts/release.js
  CHANGELOG.md
  README.md
  angular/BREAKING.md
  angular/README.md
  angular/package-lock.json
  core/package-lock.json
  core/stencil.config.ts
  docs/README.md
  packages/angular-server/package-lock.json
  packages/react-router/package.json
  packages/react/README.md
  packages/vue-router/README.md
  packages/vue/CHANGELOG.md
  packages/vue/README.md
Labels: package: core, package: angular, package: vue, package: react

#24225 fix(item): allow click targets inside of label
  core/src/components/item/item.scss
  core/src/components/label/label.md.scss
Labels: package: core, v6

#24237 5.9.1
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#24239 6.0.0-rc.3
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#24254 feat(react): add setupIonicReact function
  BREAKING.md
  angular/src/index.ts
  packages/react-router/test-app/src/App.tsx
  packages/react/src/components/index.ts
  packages/react/test-app/src/App.tsx
  packages/vue/src/index.ts
Labels: package: angular, package: vue, package: react

#24221 fix(angular): strict type usage
  angular/src/directives/control-value-accessors/value-accessor.ts
  angular/src/directives/navigation/stack-controller.ts
Labels: package: angular

#24262 chore(): update vue test app
  packages/vue/test-app/package-lock.json
  packages/vue/test-app/package.json
Labels: package: vue

#24253 fix(vue): ionic lifecycle hooks now run when using vue 3.2 setup syntax
  packages/vue/src/hooks.ts
  packages/vue/test-app/src/router/index.ts
  packages/vue/test-app/src/views/Home.vue
  packages/vue/test-app/src/views/LifecycleSetup.vue
  packages/vue/test-app/tests/e2e/specs/lifecycle.js
Labels: package: vue

#24255 fix(content): ensure scrollEl is always available in scroll methods
  core/src/components/content/content.tsx
Labels: package: core

#24267 docs(popover): add popover examples
  core/src/components/popover/readme.md
  core/src/components/popover/usage/angular.md
  core/src/components/popover/usage/javascript.md
  core/src/components/popover/usage/react.md
  core/src/components/popover/usage/stencil.md
  core/src/components/popover/usage/vue.md
Labels: package: core

#24257 fix(slides): update swiper instance after initialization
  core/src/components/slides/slides.tsx
Labels: package: core

#24263 fix(item): counter defaults to false to make upgrade easier
  core/api.txt
  core/src/components/item/item.tsx
  core/src/components/item/readme.md
Labels: package: core

#24269 docs(modal): add inline modal docs
  core/src/components/modal/readme.md
  core/src/components/modal/usage/angular.md
  core/src/components/modal/usage/javascript.md
  core/src/components/modal/usage/react.md
  core/src/components/modal/usage/stencil.md
  core/src/components/modal/usage/vue.md
Labels: package: core

#24270 refactor(datetime): e2e does not support components option
  core/src/components/datetime/test/basic/e2e.ts
Labels: package: core
