Repository ionic-team/ionic-framework, pull requests merged in 2021-07, with the labels that each got.

#23543 fix(datetime): scroll position no longer gets reset when using datetime in overlay
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/cover/index.html
Labels: package: core

#23526 fix(ios, md): double tapping back button no longer causes app to go back 2 pages
  core/src/utils/transition/index.ts
Labels: package: core

#23557 Release 5.6.11
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  CHANGELOG.md
  README.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  core/src/components/card/readme.md
  core/src/components/card/usage/vue.md
  core/src/utils/animation/animation-interface.ts
  core/src/utils/transition/index.ts
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: angular, package: core, package: react, package: vue

#23558 5.6.11
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: angular, package: core, package: react, package: vue

#23562 chore(): sync next with 5.6.11 changes
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  CHANGELOG.md
  README.md
  core/src/components/card/readme.md
  core/src/components/card/usage/vue.md
  core/src/utils/animation/animation-interface.ts
  core/src/utils/transition/index.ts
  docs/package.json
Labels: package: core

#23564 docs(datetime): add correct angular usage example in a modal
  core/src/components/datetime/readme.md
  core/src/components/datetime/usage/angular.md
Labels: package: core

#23565 fix(angular): modal and popover now have correct props defined on angular component
  angular/src/directives/overlays/ion-modal.ts
  angular/src/directives/overlays/ion-popover.ts
Labels: package: angular

#23580 docs(router-outlet): add react note to docs
  core/src/components/router-outlet/readme.md
Labels: package: core

#23581 fix(accordion): value can now be set as string when using multiple is true
  core/src/components/accordion-group/accordion-group.tsx
  core/src/components/accordion/test/multiple/e2e.ts
  core/src/components/accordion/test/multiple/index.html
Labels: package: core

#23583 fix(datetime): selecting time now works correctly on firefox
  core/src/components/datetime/datetime.tsx
Labels: package: core

#23585 fix(datetime): add keyboard year navigation
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/readme.md
  core/src/components/datetime/test/manipulation.spec.ts
  core/src/components/datetime/utils/manipulation.ts
Labels: package: core

#23537 docs(loading): show how to use dismiss method returns from useIonLoading for react
  core/src/components/loading/readme.md
  core/src/components/loading/usage/react.md
Labels: package: core

#23577 feat(datetime): add showDefaultTimeLabel prop
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/readme.md
  core/src/components/datetime/test/time-label/e2e.ts
  core/src/components/datetime/test/time-label/index.html
  packages/vue/src/proxies.ts
Labels: package: angular, package: core, package: vue

#23322 fix(action-sheet): header, subheader, and icon alignment better matches native ios
  core/src/components/action-sheet/action-sheet.ios.scss
  core/src/components/action-sheet/action-sheet.ios.vars.scss
  core/src/components/action-sheet/action-sheet.tsx
Labels: package: core

#23592 perf(): remove shims for legacy browsers no longer supported in v6
  core/stencil.config.ts
Labels: package: core

#23595 docs(accordion): add usage on how to get and set the state programmatically
  core/src/components/accordion/readme.md
  core/src/components/accordion/usage/angular.md
  core/src/components/accordion/usage/javascript.md
  core/src/components/accordion/usage/react.md
  core/src/components/accordion/usage/stencil.md
  core/src/components/accordion/usage/vue.md
  core/src/components/datetime/readme.md
  core/src/components/datetime/usage/angular.md
Labels: package: core

#23544 fix(item): mirror disabled prop to aria attribute
  core/src/components/item/item.tsx
  core/src/components/item/test/a11y/e2e.ts
  core/src/components/item/test/a11y/index.html
Labels: package: core

#23589 fix(button): buttons are now disabled during page transitions
  core/src/components/button/button.scss
Labels: package: core

#23527 fix(router-outlet): improve reliability of swipe back gesture when quickly swiping back
  core/src/components/router-outlet/route-outlet.tsx
  packages/react-router/test-app/cypress/integration/swipe-to-go-back.js
Labels: package: core, package: react

#22972 feat(range): add support for customizing pin format
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/range/range-interface.ts
  core/src/components/range/range.tsx
  core/src/components/range/readme.md
  core/src/components/range/test/basic/index.html
  core/src/components/range/usage/angular.md
  core/src/components/range/usage/javascript.md
  core/src/components/range/usage/react.md
  core/src/components/range/usage/stencil.md
  core/src/components/range/usage/vue.md
  packages/vue/src/proxies.ts
Labels: package: angular, package: core, package: vue

#23608 fix(menu-button): custom aria-label can now be set
  core/src/components/menu-button/menu-button.tsx
  core/src/components/menu-button/test/a11y/e2e.ts
  core/src/components/menu-button/test/a11y/index.html
  core/src/components/menu-button/test/basic/index.html
Labels: package: core

#23610 docs(react): install @ionic/cli instead of ionic
  packages/react/README.md
Labels: package: react

#23611 feat(breadcrumbs): ionCollapsedClick event payload now contains references to collapsed breadcrumb elements
  core/src/components/breadcrumb/breadcrumb-interface.ts
  core/src/components/breadcrumbs/breadcrumbs.tsx
  core/src/components/breadcrumbs/readme.md
  core/src/components/breadcrumbs/test/basic/index.html
  core/src/components/breadcrumbs/test/breadcrumbs.spec.ts
  core/src/components/breadcrumbs/usage/angular.md
  core/src/components/breadcrumbs/usage/javascript.md
  core/src/components/breadcrumbs/usage/react.md
  core/src/components/breadcrumbs/usage/stencil.md
  core/src/components/breadcrumbs/usage/vue.md
Labels: package: core

#23618 chore(): switch to using disallow terminology
  core/.stylelintrc.yml
  core/src/components/content/content.scss
  core/src/components/item-options/item-options.scss
  core/src/components/item-sliding/item-sliding.scss
  core/src/components/menu/menu.scss
  core/src/components/progress-bar/progress-bar.scss
  core/src/components/range/range.md.scss
  core/src/components/range/range.scss
  core/src/components/skeleton-text/skeleton-text.scss
  core/src/components/virtual-scroll/virtual-scroll.scss
Labels: package: core

#23625 chore(): warn if developer forgot to use ionpage component in view
  packages/vue/src/components/IonRouterOutlet.ts
Labels: package: vue

#23628 docs(vue): add card style modal example
  core/src/components/modal/readme.md
  core/src/components/modal/usage/react.md
  core/src/components/modal/usage/vue.md
Labels: package: core

#23616 fix(datetime): years displayed now more consistent with v5 datetime, max and min are now accounted for in MD mode
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/readme.md
  core/src/components/datetime/test/minmax/e2e.ts
  core/src/components/datetime/test/minmax/index.html
  core/src/components/datetime/utils/data.ts
  core/src/components/datetime/utils/state.ts
Labels: package: core

#23619 fix(overlays): overlay interfaces are now exported from framework packages and documented
  angular/src/index.ts
  core/src/components/action-sheet/readme.md
  core/src/components/alert/readme.md
  core/src/components/loading/readme.md
  core/src/components/modal/readme.md
  core/src/components/picker/readme.md
  core/src/components/popover/readme.md
  core/src/components/toast/readme.md
  packages/react/src/components/index.ts
  packages/vue/src/index.ts
Labels: package: angular, package: core, package: react, package: vue

#23658 chore(nav): fix typo in test comment
  core/src/components/nav/test/nav-controller.spec.ts
Labels: package: core

#23474 feat(select): allow multiple selections in popover interface, ui updates
  core/src/components.d.ts
  core/src/components/app/app.tsx
  core/src/components/checkbox/readme.md
  core/src/components/datetime/datetime.tsx
  core/src/components/item/item.ios.scss
  core/src/components/item/item.md.scss
  core/src/components/item/item.scss
  core/src/components/label/label.md.scss
  core/src/components/popover/animations/ios.enter.ts
  core/src/components/popover/animations/md.enter.ts
  core/src/components/select-popover/readme.md
  core/src/components/select-popover/select-popover-interface.ts
  core/src/components/select-popover/select-popover.ios.scss
  core/src/components/select-popover/select-popover.ios.vars.scss
  core/src/components/select-popover/select-popover.md.scss
  core/src/components/select-popover/select-popover.md.vars.scss
  core/src/components/select-popover/select-popover.scss
  core/src/components/select-popover/select-popover.tsx
  core/src/components/select/select.ios.scss
  core/src/components/select/select.md.scss
  core/src/components/select/select.scss
  core/src/components/select/select.tsx
  core/src/components/select/test/basic/index.html
  core/src/components/select/test/spec/e2e.ts
  core/src/components/select/test/spec/index.html
  core/src/utils/focus-visible.ts
  core/src/utils/overlays.ts
  core/src/utils/tap-click.ts
Labels: package: core

#23649 feat(datetime): add size property
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/datetime/datetime.scss
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/readme.md
  core/src/components/datetime/test/size/index.html
  core/src/components/datetime/usage/angular.md
  core/src/components/datetime/usage/javascript.md
  core/src/components/datetime/usage/react.md
  core/src/components/datetime/usage/stencil.md
  core/src/components/datetime/usage/vue.md
  packages/vue/src/proxies.ts
Labels: package: angular, package: core, package: vue

#23660 chore(): sync with main branch
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/cli.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/support_question.md
  angular/src/index.ts
  core/.stylelintrc.yml
  core/src/components/action-sheet/action-sheet.ios.scss
  core/src/components/action-sheet/action-sheet.ios.vars.scss
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/action-sheet/readme.md
  core/src/components/alert/readme.md
  core/src/components/button/button.scss
  core/src/components/content/content.scss
  core/src/components/item-options/item-options.scss
  core/src/components/item-sliding/item-sliding.scss
  core/src/components/item/item.tsx
  core/src/components/item/test/a11y/e2e.ts
  core/src/components/item/test/a11y/index.html
  core/src/components/label/label.md.scss
  core/src/components/loading/readme.md
  core/src/components/loading/usage/react.md
  core/src/components/menu-button/menu-button.tsx
  core/src/components/menu-button/test/a11y/e2e.ts
  core/src/components/menu-button/test/a11y/index.html
  core/src/components/menu-button/test/basic/index.html
  core/src/components/menu/menu.scss
  core/src/components/modal/readme.md
  core/src/components/modal/usage/react.md
  core/src/components/modal/usage/vue.md
  core/src/components/nav/test/nav-controller.spec.ts
  core/src/components/picker/readme.md
  core/src/components/popover/readme.md
  core/src/components/progress-bar/progress-bar.scss
  core/src/components/range/range.md.scss
  core/src/components/range/range.scss
  core/src/components/router-outlet/readme.md
  core/src/components/router-outlet/route-outlet.tsx
  core/src/components/skeleton-text/skeleton-text.scss
  core/src/components/toast/readme.md
  core/src/components/virtual-scroll/virtual-scroll.scss
  packages/react-router/test-app/cypress/integration/swipe-to-go-back.js
  packages/react/README.md
  packages/react/src/components/index.ts
  packages/vue/src/components/IonRouterOutlet.ts
  packages/vue/src/index.ts
Labels: package: angular, package: core, package: react, package: vue

#23590 feat(segment): add keyboard navigation, add selectOnFocus property to control selection follow focus behavior
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/segment-button/segment-button.tsx
  core/src/components/segment/readme.md
  core/src/components/segment/segment.tsx
  core/src/components/segment/test/a11y/e2e.ts
  core/src/components/segment/test/a11y/index.html
  packages/vue/src/proxies.ts
Labels: package: angular, package: core, package: vue

#23667 5.6.12
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: angular, package: core, package: react, package: vue

#23669 6.0.0-beta.2
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: angular, package: core, package: react, package: vue

#23677 fix(vue): improve accuracy of ion-page dev warning
  packages/vue/src/components/IonRouterOutlet.ts
Labels: package: vue

#23679 chore(): sync with main
  packages/vue/src/components/IonRouterOutlet.ts
Labels: package: vue

#23596 feat(toast): add icon property to show icon at start of toast content
  core/api.txt
  core/src/components.d.ts
  core/src/components/toast/readme.md
  core/src/components/toast/test/basic/index.html
  core/src/components/toast/toast.scss
  core/src/components/toast/toast.tsx
  core/src/components/toast/usage/angular.md
  core/src/components/toast/usage/javascript.md
  core/src/components/toast/usage/react.md
  core/src/components/toast/usage/stencil.md
  core/src/components/toast/usage/vue.md
Labels: package: core

#23688 docs(platform): add capacitor to method docs
  angular/src/providers/platform.ts
Labels: package: angular

#23680 fix(vue): popover positioning is now correct with custom elements build
  core/src/utils/transition/index.ts
Labels: package: core
