Repository ionic-team/ionic-framework, pull requests merged in 2021-04, with the labels that each got.

#23127 fix modal controller doc error
  core/src/components/modal/readme.md
  core/src/components/modal/usage/angular.md
Labels: package: core

#23125 fix(angular): swiping back quickly no longer causes app to get stuck
  angular/src/directives/navigation/ion-router-outlet.ts
  angular/src/directives/navigation/stack-controller.ts
Labels: package: angular

#23130 docs(reorder-group): fix vue usage of reorder-group
  core/src/components/reorder-group/readme.md
  core/src/components/reorder-group/usage/vue.md
Labels: package: core

#23131 docs(alert): add input handler to usage examples
  core/src/components/alert/readme.md
  core/src/components/alert/usage/angular.md
  core/src/components/alert/usage/javascript.md
  core/src/components/alert/usage/react.md
  core/src/components/alert/usage/stencil.md
  core/src/components/alert/usage/vue.md
Labels: package: core

#23133 docs(action-sheet, alert, popover, toast): update usage to show onDidDismiss
  core/src/components/action-sheet/readme.md
  core/src/components/action-sheet/usage/angular.md
  core/src/components/action-sheet/usage/javascript.md
  core/src/components/action-sheet/usage/stencil.md
  core/src/components/action-sheet/usage/vue.md
  core/src/components/alert/readme.md
  core/src/components/alert/usage/angular.md
  core/src/components/alert/usage/javascript.md
  core/src/components/alert/usage/stencil.md
  core/src/components/alert/usage/vue.md
  core/src/components/popover/readme.md
  core/src/components/popover/usage/angular.md
  core/src/components/popover/usage/javascript.md
  core/src/components/popover/usage/stencil.md
  core/src/components/popover/usage/vue.md
  core/src/components/toast/readme.md
  core/src/components/toast/usage/angular.md
  core/src/components/toast/usage/javascript.md
  core/src/components/toast/usage/stencil.md
  core/src/components/toast/usage/vue.md
Labels: package: core

#23147 tests(react): run e2e tests on CI
  .circleci/config.yml
  packages/react-router/test-app/cypress.json
  packages/react-router/test-app/cypress/integration/swipe-to-go-back.js
  packages/react-router/test-app/cypress/support/commands.js
  packages/react-router/test-app/package-lock.json
  packages/react-router/test-app/package.json
  packages/react-router/test-app/scripts/sync.sh
Labels: package: react

#23149 fix(react): overlays now correctly unmount any child components after dismissing
  packages/react/src/components/createOverlayComponent.tsx
Labels: package: react

#23146 fix(toggle): prevent click event on toggle from double firing
  core/src/components/toggle/test/basic/index.html
  core/src/components/toggle/toggle.scss
Labels: package: core

#23154 fix(react, vue): correct view now chosen when going back inside tabs
  packages/react-router/src/ReactRouter/IonRouter.tsx
  packages/react-router/test-app/cypress/integration/tabs.js
  packages/react-router/test-app/src/App.tsx
  packages/react-router/test-app/src/pages/tabs/Tabs.tsx
  packages/react-router/test-app/src/pages/tabs/TabsSecondary.tsx
  packages/vue-router/src/router.ts
  packages/vue/test-app/tests/e2e/specs/tabs.js
Labels: package: react, package: vue

#23158 test(core): Fix typo in basic/index.html
  core/src/components/slides/test/basic/index.html
Labels: package: core

#23159 fix(input): inherit aria-label to input
  core/src/components/input/input.tsx
Labels: package: core

#23167 5.6.4
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: angular, package: core, package: react, package: vue

#23145 fix(segment, segment-button): use correct tablist and tab roles for screen readers
  core/package-lock.json
  core/package.json
  core/src/components/segment-button/segment-button.scss
  core/src/components/segment-button/segment-button.tsx
  core/src/components/segment/segment.tsx
  core/src/components/segment/test/a11y/e2e.ts
  core/src/components/segment/test/a11y/index.html
  core/src/components/segment/test/a11y/screen-readers.md
Labels: package: core

#23160 fix(content): change main child element to div when parent is menu
  core/src/components/content/content.tsx
Labels: package: core

#23192 chore(vue): fix typo in comments
  packages/vue/src/vue-component-lib/overlays.ts
Labels: package: vue

#23083 test(cypress): migrate Angular tests to Cypress
  .circleci/config.yml
  angular/test/test-app/angular.json
  angular/test/test-app/cypress.json
  angular/test/test-app/cypress/plugins/index.js
  angular/test/test-app/cypress/support/commands.js
  angular/test/test-app/cypress/support/index.d.ts
  angular/test/test-app/cypress/support/index.js
  angular/test/test-app/e2e/protractor-ci.conf.js
  angular/test/test-app/e2e/protractor.conf.js
  angular/test/test-app/e2e/src/form.e2e-spec.ts
  angular/test/test-app/e2e/src/form.spec.ts
  angular/test/test-app/e2e/src/inputs.e2e-spec.ts
  angular/test/test-app/e2e/src/inputs.spec.ts
  angular/test/test-app/e2e/src/modal.e2e-spec.ts
  angular/test/test-app/e2e/src/modal.spec.ts
  angular/test/test-app/e2e/src/navigation.e2e-spec.ts
  angular/test/test-app/e2e/src/navigation.spec.ts
  angular/test/test-app/e2e/src/nested-outlet.e2e-spec.ts
  angular/test/test-app/e2e/src/nested-outlet.spec.ts
  angular/test/test-app/e2e/src/providers.e2e-spec.ts
  angular/test/test-app/e2e/src/providers.spec.ts
  angular/test/test-app/e2e/src/router-link.e2e-spec.ts
  angular/test/test-app/e2e/src/router-link.spec.ts
  angular/test/test-app/e2e/src/routing.spec.ts
  angular/test/test-app/e2e/src/slides.e2e-spec.ts
  angular/test/test-app/e2e/src/slides.spec.ts
  angular/test/test-app/e2e/src/tabs.e2e-spec.ts
  angular/test/test-app/e2e/src/tabs.spec.ts
  angular/test/test-app/e2e/src/utils.ts
  angular/test/test-app/e2e/src/view-child.e2e-spec.ts
  angular/test/test-app/e2e/src/view-child.spec.ts
  angular/test/test-app/e2e/src/virtual-scroll.e2e-spec.ts
  angular/test/test-app/e2e/src/virtual-scroll.spec.ts
  angular/test/test-app/e2e/tsconfig.json
  angular/test/test-app/karma.conf.js
  angular/test/test-app/package-lock.json
  angular/test/test-app/package.json
  angular/test/test-app/src/app/modal/modal.component.ts
  angular/test/test-app/src/test.ts
  angular/test/test-app/tsconfig.spec.json
  packages/react-router/test-app/cypress/support/commands.js
  packages/vue/test-app/tests/e2e/support/commands.js
Labels: package: angular, package: react, package: vue

#23189 fix(vue): update props when navigating to new parameterized route
  packages/vue/src/components/IonRouterOutlet.ts
  packages/vue/test-app/src/router/index.ts
  packages/vue/test-app/src/views/Folder.vue
  packages/vue/test-app/src/views/RoutingParameter.vue
  packages/vue/test-app/tests/e2e/specs/tabs.js
  packages/vue/test-app/tests/unit/routing.spec.ts
Labels: package: vue

#23211 fix(datetime, input, textarea): remove aria-labelledby when there is no adjacent ion-label
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/a11y/datetime.spec.ts
  core/src/components/datetime/test/standalone/index.html
  core/src/components/input/input.tsx
  core/src/components/input/test/a11y/input.spec.ts
  core/src/components/input/test/attributes/index.html
  core/src/components/textarea/test/a11y/textarea.spec.ts
  core/src/components/textarea/textarea.tsx
Labels: package: core

#23194 fix(radio-group): enable unselect with spacebar
  core/src/components/radio-group/radio-group.tsx
  core/src/components/radio-group/test/radio-group.e2e.ts
Labels: package: core

#23212 fix(vue): dynamic tabs are now supported
  packages/vue/src/components/IonTabBar.ts
  packages/vue/test-app/src/views/Tabs.vue
  packages/vue/test-app/tests/e2e/specs/tabs.js
Labels: package: vue

#23152 fix(react): support React refs (object and callback)
  packages/react/src/components/IonIcon.tsx
  packages/react/src/components/IonPage.tsx
  packages/react/src/components/IonRouterOutlet.tsx
  packages/react/src/components/__tests__/createComponent.spec.tsx
  packages/react/src/components/createComponent.tsx
  packages/react/src/components/createControllerComponent.tsx
  packages/react/src/components/createOverlayComponent.tsx
  packages/react/src/components/inner-proxies.ts
  packages/react/src/components/navigation/IonBackButton.tsx
  packages/react/src/components/navigation/IonTabBar.tsx
  packages/react/src/components/navigation/IonTabButton.tsx
  packages/react/src/components/utils/index.tsx
  packages/react/src/routing/OutletPageManager.tsx
  packages/react/src/routing/PageManager.tsx
Labels: package: react

#23223 5.6.5
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: angular, package: core, package: react, package: vue

#23227 fix(vue): overlay events can now be listened for without the "on" prefix
  core/src/components/action-sheet/readme.md
  core/src/components/action-sheet/usage/vue.md
  core/src/components/alert/readme.md
  core/src/components/alert/usage/vue.md
  core/src/components/loading/readme.md
  core/src/components/loading/usage/vue.md
  core/src/components/modal/readme.md
  core/src/components/modal/usage/vue.md
  core/src/components/popover/readme.md
  core/src/components/popover/usage/vue.md
  core/src/components/toast/readme.md
  core/src/components/toast/usage/vue.md
  packages/vue/src/vue-component-lib/overlays.ts
  packages/vue/test-app/src/views/Overlays.vue
Labels: package: core, package: vue

#23229 refactor(vue): drop support for "on" prefixed overlay events and bump minimum required version of vue to 3.0.6
  BREAKING.md
  packages/vue/src/ionic-vue.ts
  packages/vue/src/utils.ts
  packages/vue/src/vue-component-lib/overlays.ts
  packages/vue/test-app/package-lock.json
  packages/vue/test-app/package.json
Labels: package: vue

#23239 fix(slides): undefined error is no longer thrown after destroying and quickly re-creating ion-slides
  core/src/components/slides/slides.tsx
Labels: package: core

#23238 fix(angular): back button goes back to proper tab on angular 11.2.10
  angular/src/directives/navigation/ion-router-outlet.ts
  angular/test/test-app/.browserslistrc
  angular/test/test-app/package-lock.json
  angular/test/test-app/package.json
  angular/test/test-app/tsconfig.json
  angular/test/test-app/tsconfig.server.json
  angular/test/test-app/tslint.json
Labels: package: angular

#23240 fix(vue): components inside of ion-nav are now unmounted properly
  packages/vue/src/components/IonApp.ts
  packages/vue/src/components/IonNav.ts
  packages/vue/src/framework-delegate.ts
Labels: package: vue

#23224 fix(react): remove hardware back button event listener when NavManager is unmounted
  packages/react-router/test-app/cypress/support/commands.js
  packages/react/src/routing/NavManager.tsx
Labels: package: react

#23246 5.6.6
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: angular, package: core, package: react, package: vue

#23247 Release 5.6.6
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  angular/src/directives/navigation/ion-router-outlet.ts
  angular/test/test-app/.browserslistrc
  angular/test/test-app/package-lock.json
  angular/test/test-app/package.json
  angular/test/test-app/tsconfig.json
  angular/test/test-app/tsconfig.server.json
  angular/test/test-app/tslint.json
  core/package-lock.json
  core/package.json
  core/src/components/action-sheet/readme.md
  core/src/components/action-sheet/usage/vue.md
  core/src/components/alert/readme.md
  core/src/components/alert/usage/vue.md
  core/src/components/loading/readme.md
  core/src/components/loading/usage/vue.md
  core/src/components/modal/readme.md
  core/src/components/modal/usage/vue.md
  core/src/components/popover/readme.md
  core/src/components/popover/usage/vue.md
  core/src/components/slides/slides.tsx
  core/src/components/toast/readme.md
  core/src/components/toast/usage/vue.md
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react-router/test-app/cypress/support/commands.js
  packages/react/package.json
  packages/react/src/routing/NavManager.tsx
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
  packages/vue/src/components/IonApp.ts
  packages/vue/src/components/IonNav.ts
  packages/vue/src/framework-delegate.ts
  packages/vue/src/vue-component-lib/overlays.ts
  packages/vue/test-app/src/views/Overlays.vue
Labels: package: angular, package: core, package: react, package: vue
