Repository ionic-team/ionic-framework, pull requests merged in 2021-12, with the labels that each got.

#24268 fix(picker-column-internal): prevent multiple items from being highlighted at once
  core/src/components/picker-column-internal/picker-column-internal.tsx
Labels: package: core

#24251 fix(datetime): keyboard navigation of time picker columns
  core/src/components.d.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/popover/popover.tsx
  core/src/components/popover/utils.ts
Labels: package: core, v6

#24300 fix(content): ensure fixed slot renders on top of content in iOS
  core/src/components/content/content.scss
Labels: package: core

#24299 fix(react): present and dismiss hooks return promises
  packages/react/src/hooks/useIonActionSheet.ts
  packages/react/src/hooks/useIonAlert.ts
  packages/react/src/hooks/useIonLoading.tsx
  packages/react/src/hooks/useIonPicker.tsx
  packages/react/src/hooks/useIonToast.ts
Labels: package: react

#24297 fix(vue): switching between tabs preserves query string
  packages/vue/src/components/IonTabBar.ts
  packages/vue/test-app/src/views/Tab1.vue
  packages/vue/test-app/tests/e2e/specs/tabs.js
Labels: package: vue

#24307 docs(back-button): update icon prop to include src and name approach
  core/src/components.d.ts
  core/src/components/back-button/back-button.tsx
  core/src/components/back-button/readme.md
Labels: package: core

#24318 docs(): deletes double 'the' typing
  core/src/components/popover/readme.md
Labels: package: core

#24302 fix(accordion): improve functionality with nested accordions
  core/src/components/accordion-group/accordion-group.tsx
  core/src/components/accordion/accordion.scss
  core/src/components/accordion/test/accordion.e2e.ts
  core/src/components/accordion/test/accordion.spec.ts
  core/src/components/accordion/test/nested/e2e.ts
  core/src/components/accordion/test/nested/index.html
  core/src/css/core.scss
Labels: package: core

#24313 fix(react, vue): remove sideeffects to improve treeshaking
  angular/src/directives/angular-component-lib/utils.ts
  angular/src/directives/proxies.ts
  core/package-lock.json
  core/package.json
  core/stencil.config.ts
  packages/react/src/components/inner-proxies.ts
  packages/react/src/components/proxies.ts
  packages/react/src/components/react-component-lib/createComponent.tsx
  packages/vue/src/proxies.ts
  packages/vue/src/vue-component-lib/utils.ts
Labels: package: core, package: angular, package: vue, package: react

#24294 fix(popover): handle scrolling in content so header can be sticky
  core/src/components/content/content.scss
  core/src/components/content/content.tsx
  core/src/components/popover/popover.scss
  core/src/components/popover/test/basic/e2e.ts
  core/src/components/popover/test/basic/index.html
Labels: package: core

#24156 fix(react): properly check for custom elements to avoid errors in unit tests
  packages/react/src/components/navigation/IonTabs.tsx
Labels: package: react

#24315 fix(router): pop to previous route with params
  core/src/components/router/test/matching.spec.tsx
  core/src/components/router/utils/matching.ts
Labels: package: core

#24338 5.9.2
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#24340 chore(): sync with main for RC4
  .github/workflows/actions/test-vue-e2e/action.yml
  CHANGELOG.md
  core/src/components.d.ts
  core/src/components/back-button/back-button.tsx
  core/src/components/back-button/readme.md
  core/src/components/content/content.scss
  core/src/components/content/content.tsx
  core/src/components/popover/popover.scss
  core/src/components/popover/test/basic/e2e.ts
  core/src/components/popover/test/basic/index.html
  core/src/components/router/test/matching.spec.tsx
  core/src/components/router/utils/matching.ts
  core/src/components/slides/slides.tsx
  package.json
  packages/react/src/components/navigation/IonTabs.tsx
  packages/react/src/hooks/useIonActionSheet.ts
  packages/react/src/hooks/useIonAlert.ts
  packages/react/src/hooks/useIonLoading.tsx
  packages/react/src/hooks/useIonPicker.tsx
  packages/react/src/hooks/useIonToast.ts
  packages/vue/src/components/IonTabBar.ts
  packages/vue/src/hooks/lifecycle.ts
  packages/vue/test-app/package-lock.json
  packages/vue/test-app/package.json
  packages/vue/test-app/src/router/index.ts
  packages/vue/test-app/src/views/Home.vue
  packages/vue/test-app/src/views/LifecycleSetup.vue
  packages/vue/test-app/src/views/Tab1.vue
  packages/vue/test-app/tests/e2e/specs/lifecycle.js
  packages/vue/test-app/tests/e2e/specs/tabs.js
Labels: package: core, package: vue, package: react

#24341 6.0.0-rc.4
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#24347 6.0.0
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#24342 chore(deps): update puppeteer to v10
  core/package-lock.json
  core/package.json
  core/src/components/item/test/a11y/e2e.ts
  core/src/components/segment/test/a11y/e2e.ts
Labels: package: core

#24323 fix(item): remove empty padding space for item bottom
  core/src/components/item/item.ios.scss
  core/src/components/item/item.scss
  core/src/components/item/item.tsx
  core/src/components/item/test/css-variables/e2e.ts
  core/src/components/item/test/css-variables/index.html
Labels: package: core

#24355 fix(vue): improve query params handling in tabs
  packages/vue/src/components/IonTabBar.ts
  packages/vue/test-app/tests/e2e/specs/tabs.js
Labels: package: vue

#24360 perf(content): remove global click listener to improve interaction performance
  core/src/components/content/content.tsx
Labels: package: core

#24372 fix(overlays): define children custom elements
  core/src/utils/overlays.ts
Labels: package: core, v6

#24358 build(): add lerna for dev builds
  .github/workflows/dev-build.yml
  .gitignore
  .npmrc
  angular/package.json
  core/package.json
  lerna.json
  package-lock.json
  package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/.npmrc
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/.npmrc
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#24382 chore(): sync next with main
  .github/CODEOWNERS
  .github/workflows/dev-build.yml
  .github/workflows/release.yml
  .gitignore
  .npmrc
  angular/package.json
  core/package.json
  core/src/components/content/content.tsx
  lerna.json
  package-lock.json
  package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/.npmrc
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/.npmrc
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
  packages/vue/src/components/IonTabBar.ts
  packages/vue/test-app/tests/e2e/specs/tabs.js
Labels: package: core, package: angular, package: vue, package: react

#24099 feat(select): add event for when overlay is dismissed
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/select/readme.md
  core/src/components/select/select.tsx
  core/src/components/select/test/basic/e2e.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#24398 Revert "feat(select): add event for when overlay is dismissed (#24099)"
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/select/readme.md
  core/src/components/select/select.tsx
  core/src/components/select/test/basic/e2e.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#24400 feat(select): add event for when overlay is dismissed
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/select/readme.md
  core/src/components/select/select.tsx
  core/src/components/select/test/basic/e2e.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#24388 fix(vue): strongly typed controller methods
  packages/vue/src/controllers.ts
Labels: package: vue

#24385 fix(datetime): fix content sometimes not loading due to race condition
  core/src/components/datetime/datetime.tsx
Labels: package: core

#24380 fix(modal): fix timing issue when rapidly closing and opening controller modal
  core/src/components/modal/modal.tsx
Labels: package: core

#24337 fix(vue): tabs no longer get unmounted when navigating back to a tabs context
  packages/vue/src/components/IonRouterOutlet.ts
  packages/vue/test-app/tests/e2e/specs/tabs.js
Labels: package: vue

#24416 Release 5.9.3
  .scripts/common.js
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  core/src/components/content/content.tsx
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
  packages/vue/src/components/IonRouterOutlet.ts
  packages/vue/src/components/IonTabBar.ts
  packages/vue/test-app/tests/e2e/specs/tabs.js
Labels: package: core, package: angular, package: vue, package: react

#24417 Release 6.0.1
  .scripts/common.js
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#24420 chore(): update to stencil 2.12.0
  core/package-lock.json
  core/package.json
Labels: package: core

#24423 fix(radio): fix radio not showing checked state when not in a group
  core/src/components/radio/radio.tsx
  core/src/components/radio/test/basic/e2e.ts
  core/src/components/radio/test/basic/index.html
Labels: package: core

#24425 docs(datetime): add examples on formatting for time zones
  core/src/components/datetime/readme.md
Labels: package: core

#24439 fix(overlays): define custom element children
  core/src/utils/overlays.ts
Labels: package: core

#24468 docs(modal): fix styling issues in the slot table
  core/src/components/modal/modal.tsx
Labels: package: core

#24471 chore(): build modal docs formatting
  core/src/components/modal/readme.md
Labels: package: core
