Repository ionic-team/ionic-framework, pull requests merged in 2022-05, with the labels that each got.

#25182 fix(datetime): arrow navigation respects min/max values
  core/src/components/datetime/test/minmax/datetime.e2e.ts
  core/src/components/datetime/utils/comparison.ts
  core/src/components/datetime/utils/state.ts
  core/src/utils/test/playwright/page/utils/goto.ts
  core/src/utils/test/playwright/page/utils/index.ts
  core/src/utils/test/playwright/page/utils/set-content.ts
  core/src/utils/test/playwright/playwright-declarations.ts
  core/src/utils/test/playwright/playwright-page.ts
Labels: package: core

#25227 fix(modal): card modal no longer dismisses from content with refresher
  core/src/components/modal/gestures/swipe-to-close.ts
  core/src/components/modal/test/card-refresher/index.html
  core/src/components/modal/test/card-refresher/modal.e2e.ts
Labels: package: core

#25230 test(playwright): wait for events to be ready before proceeding
  core/src/utils/test/playwright/playwright-page.ts
Labels: package: core

#25237 Release 6.1.4
  .github/workflows/actions/build-vue/action.yml
  .github/workflows/release.yml
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#25244 fix(core): `@axe-core/playwright` should be a devDependency
  core/package-lock.json
  core/package.json
Labels: package: core

#25259 test(spinner): migrate tests to playwright
  core/src/components/spinner/test/basic/e2e.ts
  core/src/components/spinner/test/basic/spinner.e2e.ts
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/spinner/test/color/e2e.ts
  core/src/components/spinner/test/color/spinner.e2e.ts
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/spinner/test/standalone/e2e.ts
  core/src/components/spinner/test/standalone/spinner.e2e.ts
  core/src/components/spinner/test/standalone/spinner.e2e.ts-snapshots/spinner-standalone-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/spinner/test/standalone/spinner.e2e.ts-snapshots/spinner-standalone-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/spinner/test/standalone/spinner.e2e.ts-snapshots/spinner-standalone-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/spinner/test/standalone/spinner.e2e.ts-snapshots/spinner-standalone-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/spinner/test/standalone/spinner.e2e.ts-snapshots/spinner-standalone-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/spinner/test/standalone/spinner.e2e.ts-snapshots/spinner-standalone-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/spinner/test/standalone/spinner.e2e.ts-snapshots/spinner-standalone-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/spinner/test/standalone/spinner.e2e.ts-snapshots/spinner-standalone-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/spinner/test/standalone/spinner.e2e.ts-snapshots/spinner-standalone-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/spinner/test/standalone/spinner.e2e.ts-snapshots/spinner-standalone-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/spinner/test/standalone/spinner.e2e.ts-snapshots/spinner-standalone-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/spinner/test/standalone/spinner.e2e.ts-snapshots/spinner-standalone-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/spinner/test/transform/e2e.ts
Labels: package: core

#25260 fix(spinner): alignment is now correct in rtl
  core/src/components/spinner/spinner.scss
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/spinner/test/standalone/spinner.e2e.ts-snapshots/spinner-standalone-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/spinner/test/standalone/spinner.e2e.ts-snapshots/spinner-standalone-diff-md-rtl-Mobile-Chrome-linux.png
Labels: package: core

#25267 test(picker-internal): skip overlay test on webkit
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts
Labels: package: core

#25266 fix(item): counter has appropriate contrast
  core/src/components/item/item.md.scss
  core/src/components/item/item.scss
  core/src/components/item/test/counter/e2e.ts
  core/src/components/item/test/counter/item.e2e.ts
  core/src/components/item/test/counter/item.e2e.ts-snapshots/item-counter-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/counter/item.e2e.ts-snapshots/item-counter-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/counter/item.e2e.ts-snapshots/item-counter-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/counter/item.e2e.ts-snapshots/item-counter-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/counter/item.e2e.ts-snapshots/item-counter-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/counter/item.e2e.ts-snapshots/item-counter-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/counter/item.e2e.ts-snapshots/item-counter-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/counter/item.e2e.ts-snapshots/item-counter-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/counter/item.e2e.ts-snapshots/item-counter-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/counter/item.e2e.ts-snapshots/item-counter-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/counter/item.e2e.ts-snapshots/item-counter-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/counter/item.e2e.ts-snapshots/item-counter-diff-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#25276 Release 6.1.5
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#25279 test(modal): re-enable focus test on firefox
  core/src/components/modal/test/basic/modal.e2e.ts
Labels: package: core

#25261 fix(loading): spinner now respects —spinner-color
  core/src/components/loading/loading.scss
  core/src/components/loading/test/basic/index.html
  core/src/components/loading/test/basic/loading.e2e.ts
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-custom-class-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-custom-class-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-custom-class-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-custom-class-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-custom-class-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-custom-class-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-custom-class-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-custom-class-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-custom-class-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-custom-class-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-custom-class-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-custom-class-diff-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#25246 fix(modal): reset breakpoint to initial breakpoint on present
  core/src/components/modal/modal.tsx
  core/src/components/modal/test/sheet/modal.e2e.ts
Labels: package: core

#25269 test(breadcrumbs): migrate tests to Playwright
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/basic/e2e.ts
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/collapsed/e2e.ts
  core/src/components/breadcrumbs/test/standalone/breadcrumbs.e2e.ts
  core/src/components/breadcrumbs/test/standalone/breadcrumbs.e2e.ts-snapshots/breadcrumb-standalone-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/standalone/breadcrumbs.e2e.ts-snapshots/breadcrumb-standalone-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/standalone/breadcrumbs.e2e.ts-snapshots/breadcrumb-standalone-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/standalone/breadcrumbs.e2e.ts-snapshots/breadcrumb-standalone-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/standalone/breadcrumbs.e2e.ts-snapshots/breadcrumb-standalone-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/standalone/breadcrumbs.e2e.ts-snapshots/breadcrumb-standalone-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/standalone/breadcrumbs.e2e.ts-snapshots/breadcrumb-standalone-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/standalone/breadcrumbs.e2e.ts-snapshots/breadcrumb-standalone-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/standalone/breadcrumbs.e2e.ts-snapshots/breadcrumb-standalone-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/standalone/breadcrumbs.e2e.ts-snapshots/breadcrumb-standalone-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/standalone/breadcrumbs.e2e.ts-snapshots/breadcrumb-standalone-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/standalone/breadcrumbs.e2e.ts-snapshots/breadcrumb-standalone-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/standalone/e2e.ts
Labels: package: core

#25282 fix(scroll-assist): touch end events continue to bubble on inputs
  core/src/utils/input-shims/hacks/scroll-assist.ts
Labels: package: core

#25270 fix(vue): correct views are now unmounted in tabs
  packages/vue-router/src/viewStacks.ts
  packages/vue/src/components/IonRouterOutlet.ts
  packages/vue/test-app/tests/e2e/specs/tabs.js
Labels: package: vue

#25299 test(range): migrate tests to playwright
  core/src/components/range/test/basic/e2e.ts
  core/src/components/range/test/basic/range.e2e.ts
  core/src/components/range/test/basic/range.e2e.ts-snapshots/range-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/basic/range.e2e.ts-snapshots/range-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/range/test/basic/range.e2e.ts-snapshots/range-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/basic/range.e2e.ts-snapshots/range-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/range/test/basic/range.e2e.ts-snapshots/range-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/range/test/basic/range.e2e.ts-snapshots/range-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/range/test/basic/range.e2e.ts-snapshots/range-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/basic/range.e2e.ts-snapshots/range-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/range/test/basic/range.e2e.ts-snapshots/range-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/basic/range.e2e.ts-snapshots/range-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/range/test/basic/range.e2e.ts-snapshots/range-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/range/test/basic/range.e2e.ts-snapshots/range-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/range/test/rtl/e2e.ts
  core/src/components/range/test/rtl/index.html
  core/src/components/range/test/standalone/e2e.ts
  core/src/components/range/test/standalone/range.e2e.ts
  core/src/components/range/test/standalone/range.e2e.ts-snapshots/range-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/standalone/range.e2e.ts-snapshots/range-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/range/test/standalone/range.e2e.ts-snapshots/range-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/standalone/range.e2e.ts-snapshots/range-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/range/test/standalone/range.e2e.ts-snapshots/range-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/range/test/standalone/range.e2e.ts-snapshots/range-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/range/test/standalone/range.e2e.ts-snapshots/range-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/standalone/range.e2e.ts-snapshots/range-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/range/test/standalone/range.e2e.ts-snapshots/range-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/standalone/range.e2e.ts-snapshots/range-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/range/test/standalone/range.e2e.ts-snapshots/range-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/range/test/standalone/range.e2e.ts-snapshots/range-diff-md-rtl-Mobile-Safari-linux.png
  core/src/utils/test/playwright/matchers/index.ts
  core/src/utils/test/playwright/matchers/toHaveReceivedEventDetail.ts
  core/src/utils/test/playwright/page/event-spy.ts
  core/src/utils/test/playwright/page/utils/set-ion-viewport.ts
  core/src/utils/test/playwright/page/utils/spy-on-event.ts
  core/src/utils/test/playwright/testExpect.d.ts
Labels: package: core

#25311 fix(react): add param types to useIonPopover dismiss function
  packages/react/src/hooks/useIonPopover.ts
Labels: package: react

#25300 fix(modal): swipe to close on content blocks scroll in ion-nav
  core/src/components/modal/gestures/swipe-to-close.ts
  core/src/components/modal/modal.tsx
  core/src/components/modal/test/card/index.html
  core/src/components/modal/test/card/modal.e2e.ts
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-present-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-present-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-present-ios-ltr-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-present-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-present-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-present-ios-rtl-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-present-tablet-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-present-tablet-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-present-tablet-ios-ltr-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-present-tablet-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-present-tablet-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-present-tablet-ios-rtl-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-stacked-present-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-stacked-present-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-stacked-present-ios-ltr-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-stacked-present-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-stacked-present-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-stacked-present-ios-rtl-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-stacked-present-tablet-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-stacked-present-tablet-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-stacked-present-tablet-ios-ltr-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-stacked-present-tablet-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-stacked-present-tablet-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-stacked-present-tablet-ios-rtl-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-present-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-present-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-present-ios-ltr-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-present-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-present-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-present-ios-rtl-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-present-tablet-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-present-tablet-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-present-tablet-ios-ltr-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-present-tablet-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-present-tablet-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-present-tablet-ios-rtl-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-stacked-present-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-stacked-present-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-stacked-present-ios-ltr-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-stacked-present-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-stacked-present-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-stacked-present-ios-rtl-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-stacked-present-tablet-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-stacked-present-tablet-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-stacked-present-tablet-ios-ltr-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-stacked-present-tablet-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-stacked-present-tablet-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-stacked-present-tablet-ios-rtl-Mobile-Safari-linux.png
Labels: package: core

#25316 chore(): add stronger typing to the tapclick utility
  core/src/utils/tap-click.ts
Labels: package: core

#25313 fix(react): IonTabButton will call custom onClick handlers
  packages/react/src/components/navigation/IonTabBar.tsx
  packages/react/src/components/navigation/IonTabButton.tsx
  packages/react/test-app/cypress/integration/tabs/tabs.spec.ts
  packages/react/test-app/package.json
  packages/react/test-app/src/App.tsx
  packages/react/test-app/src/pages/Main.tsx
  packages/react/test-app/src/pages/Tabs.tsx
Labels: package: react

#25309 fix(menu): rtl menu no longer disappears on ios 15.4+
  core/src/components/menu/menu.scss
Labels: package: core

#25322 fix(accordion): accordions expand when using binding
  angular/test/test-app/e2e/src/accordion.spec.ts
  angular/test/test-app/src/app/accordion/accordion-modal/accordion-modal.component.html
  angular/test/test-app/src/app/accordion/accordion-modal/accordion-modal.component.ts
  angular/test/test-app/src/app/accordion/accordion.component.html
  angular/test/test-app/src/app/accordion/accordion.component.ts
  angular/test/test-app/src/app/app-routing.module.ts
  angular/test/test-app/src/app/app.module.ts
  angular/test/test-app/src/app/home-page/home-page.component.html
  core/src/components/accordion/accordion.tsx
Labels: package: core, package: angular

#25295 test(button): ripple effect screenshot tests
  core/src/components/button/test/basic/button.e2e.ts
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-ripple-effect-md-ltr-Mobile-Chrome-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-ripple-effect-md-ltr-Mobile-Firefox-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-ripple-effect-md-ltr-Mobile-Safari-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-ripple-effect-md-rtl-Mobile-Chrome-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-ripple-effect-md-rtl-Mobile-Firefox-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-ripple-effect-md-rtl-Mobile-Safari-linux.png
  core/src/components/button/test/basic/index.html
Labels: package: core

#25323 test(app): migrate tests to playwright
  core/src/components/app/test/safe-area/app.e2e.ts
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-action-sheet-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-action-sheet-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-action-sheet-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-action-sheet-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-action-sheet-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-action-sheet-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-menu-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-menu-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-menu-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-menu-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-menu-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-menu-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-picker-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-picker-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-picker-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-picker-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-picker-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-picker-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-toast-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-toast-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-toast-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-toast-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-toast-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-toast-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/app/test/safe-area/e2e.ts
Labels: package: core

#25328 test(playwright): add spyOnEvent for Locators
  core/src/utils/test/playwright/page/event-spy.ts
  core/src/utils/test/playwright/page/utils/index.ts
  core/src/utils/test/playwright/page/utils/locator.ts
  core/src/utils/test/playwright/page/utils/spy-on-event.ts
  core/src/utils/test/playwright/playwright-declarations.ts
  core/src/utils/test/playwright/playwright-page.ts
Labels: package: core

#25336 fix(item, list): list aria roles are added
  core/src/components/item/item.tsx
  core/src/components/list/list.tsx
  core/src/components/list/test/a11y/index.html
  core/src/components/list/test/a11y/list.e2e.ts
Labels: package: core

#25333 fix(nav): swipe to go back works inside card modal
  core/src/components/modal/gestures/swipe-to-close.ts
  core/src/components/modal/test/card-nav/index.html
  core/src/components/modal/test/card-nav/modal.e2e.ts
  core/src/components/modal/test/card/modal.e2e.ts
  core/src/components/modal/test/fixtures.ts
  core/src/utils/test/playwright/drag-element.ts
Labels: package: core

#25338 fix(datetime): don't update value on confirm call if no date was selected
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/basic/datetime.e2e.ts
Labels: package: core

#25342 fix(range): interfaces are now correctly exported
  angular/src/index.ts
  packages/react/src/components/index.ts
  packages/vue/src/index.ts
Labels: package: angular, package: vue, package: react

#25335 fix(refresher): attach scroll listener to custom scroll target
  core/src/components/refresher/refresher.tsx
  core/src/components/refresher/test/basic/e2e.ts
  core/src/components/refresher/test/basic/index.html
  core/src/components/refresher/test/basic/refresher.e2e.ts
  core/src/components/refresher/test/scroll-target/e2e.ts
  core/src/components/refresher/test/scroll-target/index.html
  core/src/components/refresher/test/scroll-target/refresher.e2e.ts
  core/src/components/refresher/test/spec/e2e.ts
  core/src/components/refresher/test/spec/index.html
  core/src/components/refresher/test/test.utils.ts
  core/src/utils/content/index.ts
  core/src/utils/test/playwright/page/utils/goto.ts
  core/src/utils/test/playwright/playwright-declarations.ts
  core/src/utils/test/playwright/playwright-page.ts
Labels: package: core

#25347 fix(types): improve intellisense with colors
  core/api.txt
  core/src/interface.d.ts
Labels: package: core

#25357 Release 6.1.7
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#25346 chore(playwright): dragElementByYAxis util
  core/src/components/refresher/test/test.utils.ts
  core/src/utils/test/playwright/drag-element.ts
Labels: package: core

#25361 fix(react): present controller overlays in React 18
  packages/react/src/components/createControllerComponent.tsx
Labels: package: react

#25344 refactor(modal): use new content scroll utils for swipe to close
  core/src/components/modal/gestures/swipe-to-close.ts
Labels: package: core

#25345 fix(item-sliding): swiping inside of virtual scroller now prevents scrolling
  core/src/components/item-sliding/item-sliding.tsx
  core/src/components/item-sliding/test/basic/index.html
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts
  core/src/components/item-sliding/test/scroll-target/index.html
  core/src/components/item-sliding/test/scroll-target/item-sliding.e2e.ts
Labels: package: core

#25381 fix(all): improve compatibility with vite
  core/package-lock.json
  core/package.json
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: vue, package: react
