Repository ionic-team/ionic-framework, pull requests merged in 2022-03, with the labels that each got.

#24841 test(): update other tests to use the new path update
  core/src/components/action-sheet/test/test.utils.ts
  core/src/components/alert/test/test.utils.ts
  core/src/components/fab/test/test.utils.ts
  core/src/components/footer/test/translucent/e2e.ts
  core/src/components/header/test/translucent/e2e.ts
  core/src/components/loading/test/test.utils.ts
  core/src/components/menu/test/test.utils.ts
  core/src/components/picker-column/test/test.utils.ts
  core/src/components/popover/test/test.utils.ts
  core/src/components/reorder-group/test/interactive/e2e.ts
  core/src/components/reorder-group/test/test.utils.ts
  core/src/components/toast/test/test.utils.ts
Labels: package: core

#24865 docs(loading): remove extra script tag from vue example
  core/src/components/loading/readme.md
  core/src/components/loading/usage/vue.md
Labels: package: core

#24869 docs(virtual-scroll): fix links to guides
  core/src/components/virtual-scroll/readme.md
Labels: package: core

#24867 v6.0.10
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#24880 chore(): run build to update readme files
  core/src/components/action-sheet/readme.md
  core/src/components/alert/readme.md
  core/src/components/popover/readme.md
  core/src/components/select/readme.md
Labels: package: core

#24879 fix(datetime): time picker now scrolls to correct value
  core/src/components/picker-column-internal/picker-column-internal.tsx
Labels: package: core

#24866 fix(ios): swipe to go back now works in rtl mode
  core/src/components/content/content.scss
  core/src/components/content/content.tsx
  core/src/utils/gesture/swipe-back.ts
  core/src/utils/gesture/test/e2e.ts
  core/src/utils/gesture/test/index.html
  core/src/utils/test/utils.ts
Labels: package: core

#24890 docs(button): fix fill attribute typo
  core/src/components/button/readme.md
Labels: package: core

#24895 fix(all): improve treeshaking functionality
  core/package-lock.json
  core/package.json
Labels: package: core

#24897 test(vue): formatting error in test
  packages/vue/test-app/tests/unit/routing.spec.ts
Labels: package: vue

#24902 test(infinite-scroll): scroll threshold
  core/src/components/infinite-scroll/test/basic/e2e.ts
  core/src/components/infinite-scroll/test/basic/index.html
  core/src/utils/test/utils.ts
Labels: package: core

#24901 test(footer): fade e2e test
  core/src/components/footer/test/fade/e2e.ts
  core/src/utils/test/utils.ts
Labels: package: core

#24910 fix(tabs): angular, fire willChange event before selected tab changes
  angular/src/directives/navigation/ion-tabs.ts
  angular/test/test-app/e2e/src/tabs.spec.ts
  angular/test/test-app/src/app/tabs/tabs.component.css
  angular/test/test-app/src/app/tabs/tabs.component.html
  angular/test/test-app/src/app/tabs/tabs.component.ts
Labels: package: angular

#24913 Release 6.0.11
  .github/workflows/update-screenshots.yml
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components/action-sheet/readme.md
  core/src/components/alert/readme.md
  core/src/components/button/readme.md
  core/src/components/content/content.scss
  core/src/components/content/content.tsx
  core/src/components/footer/test/fade/e2e.ts
  core/src/components/infinite-scroll/readme.md
  core/src/components/infinite-scroll/test/basic/e2e.ts
  core/src/components/infinite-scroll/test/basic/index.html
  core/src/components/infinite-scroll/usage/vue.md
  core/src/components/picker-column-internal/picker-column-internal.tsx
  core/src/components/popover/readme.md
  core/src/components/select/readme.md
  core/src/components/virtual-scroll/readme.md
  core/src/utils/gesture/swipe-back.ts
  core/src/utils/gesture/test/e2e.ts
  core/src/utils/gesture/test/index.html
  core/src/utils/test/utils.ts
  docs/CHANGELOG.md
  docs/core.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
  packages/vue/test-app/tests/unit/routing.spec.ts
Labels: package: core, package: angular, package: vue, package: react

#24912 v6.0.11
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#24924 docs(footer): usage with virtual scroll
  core/src/components/footer/readme.md
Labels: package: core

#24923 docs(header): usage with virtual scroll
  core/src/components/header/readme.md
Labels: package: core

#24919 feat(modal): add canDismiss support for regular modals
  core/api.txt
  core/src/components.d.ts
  core/src/components/modal/modal.tsx
  core/src/components/modal/readme.md
  core/src/components/modal/test/canDismiss/e2e.ts
  core/src/components/modal/test/canDismiss/index.html
  core/src/utils/logging/index.ts
  core/tsconfig.json
Labels: package: core

#24920 feat(modal): add canDismiss support for card modals
  core/src/components/modal/gestures/swipe-to-close.ts
  core/src/components/modal/gestures/utils.ts
  core/src/components/modal/test/canDismiss/e2e.ts
  core/src/utils/animation/animation-interface.ts
  core/src/utils/animation/animation.ts
  core/src/utils/animation/test/animation.spec.ts
Labels: package: core

#24921 feat(modal): add canDismiss support for sheet modals
  core/src/components/modal/gestures/sheet.ts
  core/src/components/modal/test/canDismiss/e2e.ts
  core/src/utils/animation/test/animation.spec.ts
Labels: package: core

#24922 docs(modal): add canDismiss docs
  core/src/components/modal/readme.md
  core/src/components/modal/usage/angular.md
  core/src/components/modal/usage/javascript.md
  core/src/components/modal/usage/react.md
  core/src/components/modal/usage/stencil.md
  core/src/components/modal/usage/vue.md
Labels: package: core

#24898 feat(datetime): isDateEnabled to enable/disable specific days
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/readme.md
  core/src/components/datetime/test/disable-dates/e2e.ts
  core/src/components/datetime/test/disable-dates/index.html
  core/src/components/datetime/usage/angular.md
  core/src/components/datetime/usage/javascript.md
  core/src/components/datetime/usage/react.md
  core/src/components/datetime/usage/stencil.md
  core/src/components/datetime/usage/vue.md
  core/src/components/input/test/basic/e2e.ts
  core/src/utils/logging/index.ts
  core/tsconfig.json
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#24925 docs(infinite-scroll): usage with virtual scroll
  core/src/components/infinite-scroll/readme.md
Labels: package: core

#24896 docs(modal): accessing modal element for controller modals
  angular/test/test-app/e2e/src/modal.spec.ts
  angular/test/test-app/src/app/modal-example/modal-example.component.html
  angular/test/test-app/src/app/modal-example/modal-example.component.ts
  core/src/components/modal/readme.md
  core/src/components/modal/usage/angular.md
Labels: package: core, package: angular

#24928 feat(modal): add canDismiss property to manage modal dismissing
  core/api.txt
  core/src/components.d.ts
  core/src/components/modal/gestures/sheet.ts
  core/src/components/modal/gestures/swipe-to-close.ts
  core/src/components/modal/gestures/utils.ts
  core/src/components/modal/modal.tsx
  core/src/components/modal/readme.md
  core/src/components/modal/test/canDismiss/e2e.ts
  core/src/components/modal/test/canDismiss/index.html
  core/src/components/modal/usage/angular.md
  core/src/components/modal/usage/javascript.md
  core/src/components/modal/usage/react.md
  core/src/components/modal/usage/stencil.md
  core/src/components/modal/usage/vue.md
  core/src/utils/animation/animation-interface.ts
  core/src/utils/animation/animation.ts
  core/src/utils/animation/test/animation.spec.ts
  core/src/utils/logging/index.ts
Labels: package: core

#24927 docs(reorder-group): usage with virtual scroll
  core/src/components/reorder-group/readme.md
Labels: package: core

#24926 docs(refresher): usage with virtual scroll
  core/src/components/refresher/readme.md
Labels: package: core

#24930 chore(datetime): sync auto-generate output
  core/src/components.d.ts
  core/src/components/datetime/readme.md
Labels: package: core

#24929 chore(modal): typo for variable / undefined check
  core/src/components/modal/gestures/sheet.ts
Labels: package: core

#24828 fix(datetime): reinit behavior on presentation change
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/display/e2e.ts
  core/src/components/datetime/test/display/index.html
Labels: package: core

#24935 fix(vue): tapping the active tab button now correctly resets the tab stack
  packages/vue-router/src/locationHistory.ts
  packages/vue-router/src/router.ts
  packages/vue/src/components/IonTabButton.ts
  packages/vue/test-app/tests/e2e/specs/tabs.js
Labels: package: vue

#24336 feat(item): counter formatter to customize counter text display
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/item/item-interface.ts
  core/src/components/item/item.tsx
  core/src/components/item/readme.md
  core/src/components/item/test/counter/e2e.ts
  core/src/components/item/test/counter/index.html
  core/src/components/item/usage/angular.md
  core/src/components/item/usage/javascript.md
  core/src/components/item/usage/react.md
  core/src/components/item/usage/stencil.md
  core/src/components/item/usage/vue.md
  core/src/interface.d.ts
  core/stencil.config.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#24937 fix(toast): screen readers now announce toasts when presented
  core/src/components/toast/readme.md
  core/src/components/toast/test/a11y/index.html
  core/src/components/toast/test/a11y/toast.e2e.ts
  core/src/components/toast/toast.tsx
Labels: package: core

#24946 Release 6.0.12
  .github/workflows/dev-build.yml
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  angular/src/directives/navigation/ion-tabs.ts
  angular/test/test-app/e2e/src/modal.spec.ts
  angular/test/test-app/e2e/src/tabs.spec.ts
  angular/test/test-app/src/app/modal-example/modal-example.component.html
  angular/test/test-app/src/app/modal-example/modal-example.component.ts
  angular/test/test-app/src/app/tabs/tabs.component.css
  angular/test/test-app/src/app/tabs/tabs.component.html
  angular/test/test-app/src/app/tabs/tabs.component.ts
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/display/e2e.ts
  core/src/components/datetime/test/display/index.html
  core/src/components/modal/readme.md
  core/src/components/modal/usage/angular.md
  core/src/components/refresher/test/basic/e2e.ts
  core/src/components/refresher/test/basic/index.html
  core/src/components/refresher/test/test.utils.ts
  core/src/components/toast/readme.md
  core/src/components/toast/test/a11y/index.html
  core/src/components/toast/test/a11y/toast.e2e.ts
  core/src/components/toast/toast.tsx
  docs/.gitignore
  docs/.npmignore
  docs/CHANGELOG.md
  docs/core.d.ts
  docs/core.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue-router/src/locationHistory.ts
  packages/vue-router/src/router.ts
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
  packages/vue/src/components/IonTabButton.ts
  packages/vue/test-app/tests/e2e/specs/tabs.js
Labels: package: core, package: angular, package: vue, package: react

#24955 test(vue): update vue test app dependencies
  packages/vue/test-app/.eslintrc.js
  packages/vue/test-app/jest.config.js
  packages/vue/test-app/package-lock.json
  packages/vue/test-app/package.json
  packages/vue/test-app/src/App.vue
  packages/vue/test-app/src/components/ExploreContainer.vue
  packages/vue/test-app/src/components/ModalContent.vue
  packages/vue/test-app/src/components/PopoverContent.vue
  packages/vue/test-app/src/router/index.ts
  packages/vue/test-app/src/views/Folder.vue
  packages/vue/test-app/src/views/Home.vue
  packages/vue/test-app/src/views/Inputs.vue
  packages/vue/test-app/src/views/NestedChild.vue
  packages/vue/test-app/src/views/NestedChildTwo.vue
  packages/vue/test-app/src/views/Overlays.vue
  packages/vue/test-app/src/views/RouterOutlet.vue
  packages/vue/test-app/src/views/Slides.vue
  packages/vue/test-app/src/views/Tab1.vue
  packages/vue/test-app/src/views/Tab3.vue
  packages/vue/test-app/src/views/Tabs.vue
  packages/vue/test-app/src/views/TabsSecondary.vue
  packages/vue/test-app/src/views/Template.vue
  packages/vue/test-app/tests/unit/hooks.spec.ts
  packages/vue/test-app/tests/unit/page.spec.ts
  packages/vue/test-app/tests/unit/routing.spec.ts
  packages/vue/test-app/tests/unit/utils.ts
Labels: package: vue

#24959 chore() bump stencil to 2.14.2
  core/package-lock.json
  core/package.json
Labels: package: core

#24960 test(react): update react e2e test app
  packages/react/test-app/capacitor.config.ts
  packages/react/test-app/package-lock.json
  packages/react/test-app/package.json
  packages/react/test-app/src/index.tsx
  packages/react/test-app/src/reportWebVitals.ts
  packages/react/test-app/src/service-worker.ts
  packages/react/test-app/src/serviceWorkerRegistration.ts
Labels: package: react

#24961 test(angular): update to latest ionic in test app
  angular/test/test-app/package-lock.json
  angular/test/test-app/package.json
Labels: package: angular

#24950 refactor(angular): unused subscription in routerlink
  angular/src/directives/navigation/router-link-delegate.ts
Labels: package: angular

#24957 fix(popover): dismissing nested popover via backdrop now works
  core/src/components/popover/popover.scss
  core/src/components/popover/test/nested/e2e.ts
  core/src/components/popover/test/nested/index.html
Labels: package: core

#24648 feat(modal): add ability to programmatically set current sheet breakpoint
  angular/src/directives/overlays/modal.ts
  angular/test/test-app/e2e/src/modal.spec.ts
  angular/test/test-app/src/app/modal-inline/modal-inline.component.html
  angular/test/test-app/src/app/modal-inline/modal-inline.component.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/modal/gestures/sheet.ts
  core/src/components/modal/modal-interface.ts
  core/src/components/modal/modal.tsx
  core/src/components/modal/readme.md
  core/src/components/modal/test/basic/e2e.ts
  core/src/components/modal/test/sheet/e2e.ts
  core/src/components/modal/test/sheet/index.html
  core/src/components/modal/test/test.utils.ts
  core/src/utils/test/utils.ts
Labels: package: core, package: angular

#24949 fix(angular): ngOnDestroy runs inside angular zone
  angular/src/directives/navigation/stack-controller.ts
  angular/test/test-app/e2e/src/nested-outlet.spec.ts
  angular/test/test-app/src/app/nested-outlet-page/nested-outlet-page.component.ts
  angular/test/test-app/src/app/nested-outlet-page2/nested-outlet-page2.component.html
  angular/test/test-app/src/app/nested-outlet-page2/nested-outlet-page2.component.ts
Labels: package: angular

#24968 fix(datetime): presentation time emits ionChange once
  core/src/components/datetime/test/presentation/e2e.ts
  core/src/components/picker-column-internal/picker-column-internal.tsx
  core/src/components/picker-column-internal/test/basic/e2e.ts
Labels: package: core

#24972 docs(swiper): update swiper api link
  core/src/components.d.ts
  core/src/components/slides/readme.md
  core/src/components/slides/slides.tsx
  core/src/components/slides/usage/angular.md
  core/src/components/slides/usage/javascript.md
  core/src/components/slides/usage/react.md
  core/src/components/slides/usage/stencil.md
  core/src/components/slides/usage/vue.md
Labels: package: core

#24985 docs(select,item-sliding): relative link paths
  core/src/components.d.ts
  core/src/components/item-sliding/item-sliding.tsx
  core/src/components/select/select.tsx
Labels: package: core

#24989 fix(react): treeshake ionic/core bundle
  packages/react/src/routing/OutletPageManager.tsx
Labels: package: react

#24997 test(picker-column-internal): emit ionChange on scroll
  core/src/components/picker-column-internal/test/basic/e2e.ts
Labels: package: core

#25022 Release 6.0.14
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components.d.ts
  core/src/components/item-sliding/item-sliding.tsx
  core/src/components/picker-column-internal/test/basic/e2e.ts
  core/src/components/select/select.tsx
  docs/CHANGELOG.md
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/routing/OutletPageManager.tsx
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#25021 v6.0.14
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#24977 test(playwright): update screenshot tests to use playwright
  .github/workflows/actions/build-core/action.yml
  .github/workflows/actions/test-core-screenshot-main/action.yml
  .github/workflows/actions/test-core-screenshot/action.yml
  .github/workflows/build.yml
  core/src/components/accordion/test/e2e.ts
  core/src/components/button/test/basic/button.e2e.ts
  core/src/components/radio-group/test/e2e.ts
  core/src/components/router/test/basic/redirect/e2e.ts
  core/src/components/router/test/basic/router-push/e2e.ts
  core/src/components/router/test/guards/e2e.ts
  core/src/components/router/test/guards/href/e2e.ts
  core/src/components/router/test/guards/link/e2e.ts
  core/src/components/router/test/guards/push/e2e.ts
  core/src/components/toast/test/a11y/e2e.ts
  core/src/components/toggle/test/e2e.ts
  core/src/utils/test/framework-delegate/e2e.ts
  core/src/utils/test/overlays/e2e.ts
  core/stencil.config.ts
Labels: package: core

#25012 test(playwright): custom mode/rtl preference can now be specified
  core/src/utils/test/playwright.ts
Labels: package: core

#24979 test(playwright): add stencil utils, migrate first test
  core/scripts/testing/scripts.js
  core/src/components/button/test/basic/button.e2e.ts
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-ltr-chromium-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-ltr-firefox-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-ltr-webkit-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-rtl-chromium-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-rtl-firefox-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-rtl-webkit-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-ltr-chromium-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-ltr-firefox-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-ltr-webkit-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-rtl-chromium-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-rtl-firefox-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-rtl-webkit-linux.png
  core/src/components/button/test/basic/e2e.ts
  core/src/utils/test/playwright.ts
  core/tsconfig.json
Labels: package: core

#24978 test(playwright): add ability to update reference screenshots
  .github/workflows/actions/update-reference-screenshots/action.yml
  .github/workflows/update-screenshots.yml
  core/scripts/testing/scripts.js
  core/src/components/button/test/basic/button.e2e.ts
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-ltr-chromium-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-ltr-firefox-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-ltr-webkit-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-rtl-chromium-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-rtl-firefox-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-rtl-webkit-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-ltr-chromium-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-ltr-firefox-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-ltr-webkit-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-rtl-chromium-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-rtl-firefox-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-rtl-webkit-linux.png
  core/src/components/button/test/basic/e2e.ts
  core/src/utils/test/playwright.ts
  core/tsconfig.json
Labels: package: core

#25033 test(e2e): add infrastructure for migration to playwright
  .github/workflows/actions/build-core/action.yml
  .github/workflows/actions/test-core-screenshot-main/action.yml
  .github/workflows/actions/test-core-screenshot/action.yml
  .github/workflows/actions/update-reference-screenshots/action.yml
  .github/workflows/build.yml
  .github/workflows/update-screenshots.yml
  .gitignore
  core/package-lock.json
  core/package.json
  core/playwright.config.ts
  core/scripts/testing/scripts.js
  core/src/components/accordion/test/e2e.ts
  core/src/components/button/test/basic/button.e2e.ts
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-ltr-chromium-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-ltr-firefox-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-ltr-webkit-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-rtl-chromium-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-rtl-firefox-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-ios-rtl-webkit-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-ltr-chromium-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-ltr-firefox-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-ltr-webkit-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-rtl-chromium-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-rtl-firefox-linux.png
  core/src/components/button/test/basic/button.e2e.ts-snapshots/button-diff-md-rtl-webkit-linux.png
  core/src/components/button/test/basic/e2e.ts
  core/src/components/radio-group/test/e2e.ts
  core/src/components/router/test/basic/redirect/e2e.ts
  core/src/components/router/test/basic/router-push/e2e.ts
  core/src/components/router/test/guards/e2e.ts
  core/src/components/router/test/guards/href/e2e.ts
  core/src/components/router/test/guards/link/e2e.ts
  core/src/components/router/test/guards/push/e2e.ts
  core/src/components/toast/test/a11y/e2e.ts
  core/src/components/toggle/test/e2e.ts
  core/src/utils/test/framework-delegate/e2e.ts
  core/src/utils/test/overlays/e2e.ts
  core/src/utils/test/playwright.ts
  core/stencil.config.ts
  core/tsconfig.json
Labels: package: core
