Repository ionic-team/ionic-framework, pull requests merged in 2022-10, with the labels that each got.

#26052 test(note): migrate tests to playwright
  core/src/components/note/test/basic/e2e.ts
  core/src/components/note/test/basic/note.e2e.ts
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-color-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-color-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-color-ios-ltr-Mobile-Safari-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-color-md-ltr-Mobile-Chrome-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-color-md-ltr-Mobile-Firefox-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-color-md-ltr-Mobile-Safari-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-divider-end-md-ltr-Mobile-Chrome-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-divider-end-md-ltr-Mobile-Firefox-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-divider-end-md-ltr-Mobile-Safari-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-divider-end-md-rtl-Mobile-Chrome-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-divider-end-md-rtl-Mobile-Firefox-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-divider-end-md-rtl-Mobile-Safari-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-divider-start-md-ltr-Mobile-Chrome-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-divider-start-md-ltr-Mobile-Firefox-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-divider-start-md-ltr-Mobile-Safari-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-divider-start-md-rtl-Mobile-Chrome-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-divider-start-md-rtl-Mobile-Firefox-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-divider-start-md-rtl-Mobile-Safari-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-end-md-ltr-Mobile-Chrome-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-end-md-ltr-Mobile-Firefox-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-end-md-ltr-Mobile-Safari-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-end-md-rtl-Mobile-Chrome-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-end-md-rtl-Mobile-Firefox-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-end-md-rtl-Mobile-Safari-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-start-md-ltr-Mobile-Chrome-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-start-md-ltr-Mobile-Firefox-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-start-md-ltr-Mobile-Safari-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-start-md-rtl-Mobile-Chrome-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-start-md-rtl-Mobile-Firefox-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-start-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#26036 test(react-router): update test app to cypress 10
  packages/react-router/test-app/cypress.config.ts
  packages/react-router/test-app/cypress.json
  packages/react-router/test-app/cypress/examples/actions.spec.js
  packages/react-router/test-app/cypress/examples/aliasing.spec.js
  packages/react-router/test-app/cypress/examples/assertions.spec.js
  packages/react-router/test-app/cypress/examples/connectors.spec.js
  packages/react-router/test-app/cypress/examples/cookies.spec.js
  packages/react-router/test-app/cypress/examples/cypress_api.spec.js
  packages/react-router/test-app/cypress/examples/files.spec.js
  packages/react-router/test-app/cypress/examples/local_storage.spec.js
  packages/react-router/test-app/cypress/examples/location.spec.js
  packages/react-router/test-app/cypress/examples/misc.spec.js
  packages/react-router/test-app/cypress/examples/navigation.spec.js
  packages/react-router/test-app/cypress/examples/network_requests.spec.js
  packages/react-router/test-app/cypress/examples/querying.spec.js
  packages/react-router/test-app/cypress/examples/spies_stubs_clocks.spec.js
  packages/react-router/test-app/cypress/examples/traversal.spec.js
  packages/react-router/test-app/cypress/examples/utilities.spec.js
  packages/react-router/test-app/cypress/examples/viewport.spec.js
  packages/react-router/test-app/cypress/examples/waiting.spec.js
  packages/react-router/test-app/cypress/examples/window.spec.js
  packages/react-router/test-app/package-lock.json
  packages/react-router/test-app/package.json
  packages/react-router/test-app/tests/e2e/fixtures/example.json
  packages/react-router/test-app/tests/e2e/plugins/index.js
  packages/react-router/test-app/tests/e2e/specs/dynamic-ionpage-classnames.cy.js
  packages/react-router/test-app/tests/e2e/specs/dynamic-routes.cy.js
  packages/react-router/test-app/tests/e2e/specs/dynamic-tabs.cy.js
  packages/react-router/test-app/tests/e2e/specs/multiple-tabs.cy.js
  packages/react-router/test-app/tests/e2e/specs/nested-outlets.cy.js
  packages/react-router/test-app/tests/e2e/specs/outlet-ref.cy.js
  packages/react-router/test-app/tests/e2e/specs/refs.cy.js
  packages/react-router/test-app/tests/e2e/specs/replace-actions.cy.js
  packages/react-router/test-app/tests/e2e/specs/routing.cy.js
  packages/react-router/test-app/tests/e2e/specs/swipe-to-go-back.cy.js
  packages/react-router/test-app/tests/e2e/specs/tab-context.cy.js
  packages/react-router/test-app/tests/e2e/specs/tabs.cy.js
  packages/react-router/test-app/tests/e2e/support/commands.js
  packages/react-router/test-app/tests/e2e/support/index.js
Labels: package: react

#26026 feat(searchbar): ionChange will only emit from user committed changes
  BREAKING.md
  angular/src/directives/control-value-accessors/text-value-accessor.ts
  angular/src/directives/proxies.ts
  angular/src/index.ts
  angular/src/ionic-module.ts
  angular/test/base/e2e/src/searchbar.spec.ts
  angular/test/base/src/app/app-routing.module.ts
  angular/test/base/src/app/searchbar/searchbar-routing.module.ts
  angular/test/base/src/app/searchbar/searchbar.component.html
  angular/test/base/src/app/searchbar/searchbar.component.ts
  angular/test/base/src/app/searchbar/searchbar.module.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/radio-group/test/search/radio-group.e2e.ts
  core/src/components/searchbar/searchbar-interface.ts
  core/src/components/searchbar/searchbar.tsx
  core/src/components/searchbar/test/events/searchbar.e2e.ts
Labels: package: core, package: angular

#26068 test(list-header): migrate to Playwright
  core/src/components/list-header/test/basic/index.html
  core/src/components/list-header/test/basic/list-header.e2e.ts
  core/src/components/list-header/test/basic/list-header.e2e.ts-snapshots/list-header-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/list-header/test/basic/list-header.e2e.ts-snapshots/list-header-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/list-header/test/basic/list-header.e2e.ts-snapshots/list-header-ios-ltr-Mobile-Safari-linux.png
  core/src/components/list-header/test/basic/list-header.e2e.ts-snapshots/list-header-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/list-header/test/basic/list-header.e2e.ts-snapshots/list-header-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/list-header/test/basic/list-header.e2e.ts-snapshots/list-header-ios-rtl-Mobile-Safari-linux.png
  core/src/components/list-header/test/basic/list-header.e2e.ts-snapshots/list-header-md-ltr-Mobile-Chrome-linux.png
  core/src/components/list-header/test/basic/list-header.e2e.ts-snapshots/list-header-md-ltr-Mobile-Firefox-linux.png
  core/src/components/list-header/test/basic/list-header.e2e.ts-snapshots/list-header-md-ltr-Mobile-Safari-linux.png
  core/src/components/list-header/test/basic/list-header.e2e.ts-snapshots/list-header-md-rtl-Mobile-Chrome-linux.png
  core/src/components/list-header/test/basic/list-header.e2e.ts-snapshots/list-header-md-rtl-Mobile-Firefox-linux.png
  core/src/components/list-header/test/basic/list-header.e2e.ts-snapshots/list-header-md-rtl-Mobile-Safari-linux.png
  core/src/components/list-header/test/spec/e2e.ts
Labels: package: core

#26075 v6.3.0
  .github/workflows/release.yml
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  package-lock.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#26079 docs(radio-group): document radio-group purpose
  core/src/components/radio-group/radio-group.tsx
Labels: package: core

#26074 test(item-divider): migrate to playwright
  core/src/components/item-divider/test/spec/e2e.ts
  core/src/components/item-divider/test/spec/item-divider.e2e.ts
  core/src/components/item-divider/test/spec/item-divider.e2e.ts-snapshots/list-item-divider-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/spec/item-divider.e2e.ts-snapshots/list-item-divider-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/spec/item-divider.e2e.ts-snapshots/list-item-divider-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item-divider/test/spec/item-divider.e2e.ts-snapshots/list-item-divider-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/spec/item-divider.e2e.ts-snapshots/list-item-divider-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/spec/item-divider.e2e.ts-snapshots/list-item-divider-ios-rtl-Mobile-Safari-linux.png
  core/src/components/item-divider/test/spec/item-divider.e2e.ts-snapshots/list-item-divider-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/spec/item-divider.e2e.ts-snapshots/list-item-divider-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/spec/item-divider.e2e.ts-snapshots/list-item-divider-md-ltr-Mobile-Safari-linux.png
  core/src/components/item-divider/test/spec/item-divider.e2e.ts-snapshots/list-item-divider-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/spec/item-divider.e2e.ts-snapshots/list-item-divider-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/spec/item-divider.e2e.ts-snapshots/list-item-divider-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#26080 chore(helpers): ignore specific attributes with inheritAriaAttributes
  core/src/utils/helpers.spec.ts
  core/src/utils/helpers.ts
Labels: package: core

#26085 test(infinite-scroll): migrate tests to playwright
  core/src/components/infinite-scroll/test/basic/e2e.ts
  core/src/components/infinite-scroll/test/basic/index.html
  core/src/components/infinite-scroll/test/basic/infinite-scroll.e2e.ts
  core/src/components/infinite-scroll/test/scroll-target/e2e.ts
  core/src/components/infinite-scroll/test/scroll-target/index.html
  core/src/components/infinite-scroll/test/scroll-target/infinite-scroll.e2e.ts
  core/src/components/infinite-scroll/test/top/e2e.ts
  core/src/components/infinite-scroll/test/top/index.html
  core/src/components/infinite-scroll/test/top/infinite-scroll.e2e.ts
Labels: package: core

#26066 feat(select): ionChange will only emit from user committed changes
  BREAKING.md
  angular/test/apps/ng12/src/app/modal-example/modal-example.component.ts
  angular/test/apps/ng13/src/app/modal-example/modal-example.component.ts
  angular/test/base/e2e/src/form.spec.ts
  angular/test/base/e2e/src/inputs.spec.ts
  angular/test/base/e2e/src/modal.spec.ts
  angular/test/base/src/app/inputs/inputs.component.html
  angular/test/base/src/app/modal-example/modal-example.component.html
  angular/test/base/src/app/modal-example/modal-example.component.ts
  core/src/components/datetime/test/color/datetime.e2e.ts
  core/src/components/select/select.tsx
  core/src/components/select/test/basic/select.e2e.ts
Labels: package: core, package: angular

#26042 fix(toolbar): MD height only applies to MD segment
  core/src/components/segment/segment.md.scss
  core/src/components/segment/test/toolbar/segment.e2e.ts
  core/src/components/segment/test/toolbar/segment.e2e.ts-snapshots/segment-toolbar-height-inherit-md-ltr-Mobile-Chrome-linux.png
  core/src/components/segment/test/toolbar/segment.e2e.ts-snapshots/segment-toolbar-height-inherit-md-ltr-Mobile-Firefox-linux.png
  core/src/components/segment/test/toolbar/segment.e2e.ts-snapshots/segment-toolbar-height-inherit-md-ltr-Mobile-Safari-linux.png
  core/src/components/toolbar/toolbar.md.scss
Labels: package: core

#26086 fix(accordion-group): do not adjust incorrect values
  BREAKING.md
  core/src/components.d.ts
  core/src/components/accordion-group/accordion-group.tsx
  core/src/components/accordion/test/accordion.spec.ts
  core/src/components/accordion/test/basic/accordion.e2e.ts
Labels: package: core

#26078 feat(toggle): ionChange will only emit from user committed changes
  BREAKING.md
  angular/src/directives/proxies.ts
  angular/test/base/e2e/src/inputs.spec.ts
  core/src/components.d.ts
  core/src/components/toggle/test/basic/toggle.e2e.ts
  core/src/components/toggle/toggle.tsx
Labels: package: core, package: angular

#26070 fix(datetime): setting date async updates calendar grid
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/set-value/datetime.e2e.ts
  core/src/components/datetime/utils/parse.ts
Labels: package: core

#26065 fix(datetime): setting max/min does not increase number of nodes rendered
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/prefer-wheel/datetime.e2e.ts
Labels: package: core

#26006 fix(textarea): clearOnEdit clears textarea when user initially types
  angular/src/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/textarea/test/clearOnEdit/textarea.e2e.ts
  core/src/components/textarea/textarea.tsx
Labels: package: core, package: angular

#26083 feat(datetime): ionChange will only emit from user committed changes
  BREAKING.md
  angular/test/base/e2e/src/inputs.spec.ts
  core/src/components.d.ts
  core/src/components/datetime-button/datetime-button.tsx
  core/src/components/datetime-button/test/multiple/datetime-button.e2e.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/basic/datetime.e2e.ts
  core/src/components/datetime/test/multiple/datetime.e2e.ts
  core/src/components/datetime/test/presentation/datetime.e2e.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#26114 chore(core): lint.fix command now runs prettier
  core/package.json
Labels: package: core

#26110 fix(modal): sheet modal dismisses correctly
  core/src/components/modal/modal.tsx
Labels: package: core

#26120 fix(datetime): header renders correct date
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/multiple/datetime.e2e.ts
Labels: package: core

#26107 fix(vue): routing components define child components
  packages/vue/src/components/IonApp.ts
  packages/vue/src/components/IonBackButton.ts
  packages/vue/src/components/IonIcon.ts
  packages/vue/src/components/IonNav.ts
  packages/vue/src/components/IonRouterOutlet.ts
  packages/vue/src/components/IonTabBar.ts
  packages/vue/src/components/IonTabButton.ts
  packages/vue/src/utils.ts
Labels: package: vue

#26121 fix(datetime): selecting days updates value
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/basic/datetime.e2e.ts
  core/src/components/datetime/test/prefer-wheel/datetime.e2e.ts
Labels: package: core

#26092 test(item-sliding): migrate tests to Playwright
  core/src/components/item-sliding/test/basic/e2e.ts
  core/src/components/item-sliding/test/basic/index.html
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-end-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-end-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-end-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-end-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-end-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-end-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-end-md-ltr-Mobile-Safari-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-end-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-gesture-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-start-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-start-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-start-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-start-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-start-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-start-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-start-md-ltr-Mobile-Safari-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-start-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/icons/index.html
  core/src/components/item-sliding/test/icons/item-sliding.e2e.ts
  core/src/components/item-sliding/test/icons/item-sliding.e2e.ts-snapshots/item-sliding-iconsBottom-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/icons/item-sliding.e2e.ts-snapshots/item-sliding-iconsBottom-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/icons/item-sliding.e2e.ts-snapshots/item-sliding-iconsBottom-md-ltr-Mobile-Safari-linux.png
  core/src/components/item-sliding/test/icons/item-sliding.e2e.ts-snapshots/item-sliding-iconsBottom-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/icons/item-sliding.e2e.ts-snapshots/item-sliding-iconsEnd-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/icons/item-sliding.e2e.ts-snapshots/item-sliding-iconsEnd-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/icons/item-sliding.e2e.ts-snapshots/item-sliding-iconsEnd-md-ltr-Mobile-Safari-linux.png
  core/src/components/item-sliding/test/icons/item-sliding.e2e.ts-snapshots/item-sliding-iconsEnd-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/icons/item-sliding.e2e.ts-snapshots/item-sliding-iconsOnly-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/icons/item-sliding.e2e.ts-snapshots/item-sliding-iconsOnly-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/icons/item-sliding.e2e.ts-snapshots/item-sliding-iconsOnly-md-ltr-Mobile-Safari-linux.png
  core/src/components/item-sliding/test/icons/item-sliding.e2e.ts-snapshots/item-sliding-iconsOnly-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/icons/item-sliding.e2e.ts-snapshots/item-sliding-iconsStart-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/icons/item-sliding.e2e.ts-snapshots/item-sliding-iconsStart-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/icons/item-sliding.e2e.ts-snapshots/item-sliding-iconsStart-md-ltr-Mobile-Safari-linux.png
  core/src/components/item-sliding/test/icons/item-sliding.e2e.ts-snapshots/item-sliding-iconsStart-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/icons/item-sliding.e2e.ts-snapshots/item-sliding-iconsTop-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/icons/item-sliding.e2e.ts-snapshots/item-sliding-iconsTop-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/icons/item-sliding.e2e.ts-snapshots/item-sliding-iconsTop-md-ltr-Mobile-Safari-linux.png
  core/src/components/item-sliding/test/icons/item-sliding.e2e.ts-snapshots/item-sliding-iconsTop-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/interactive/e2e.ts
  core/src/components/item-sliding/test/interactive/index.html
  core/src/components/item-sliding/test/standalone/e2e.ts
  core/src/components/item-sliding/test/standalone/index.html
  core/src/components/item-sliding/test/test.utils.ts
Labels: package: core

#26134 test(range): skip flaky test for now
  core/src/components/range/test/basic/range.e2e.ts
Labels: package: core

#26133 test(alert): a11y test is not flaky
  core/src/components/alert/test/a11y/alert.e2e.ts
Labels: package: core

#26136 test(item-sliding): skip flaky gesture test for now
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts
Labels: package: core

#26144 Release 6.3.2
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  angular/src/directives/proxies-list.ts
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#26130 fix(many): haptics only fire on supported platforms
  core/src/utils/native/haptic.ts
Labels: package: core

#26101 fix(datetime): preferWheel can now show title
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/prefer-wheel/datetime.e2e.ts
  core/src/components/datetime/test/prefer-wheel/datetime.e2e.ts-snapshots/datetime-wheel-header-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/prefer-wheel/datetime.e2e.ts-snapshots/datetime-wheel-header-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/prefer-wheel/datetime.e2e.ts-snapshots/datetime-wheel-header-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/prefer-wheel/datetime.e2e.ts-snapshots/datetime-wheel-header-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/datetime/test/prefer-wheel/datetime.e2e.ts-snapshots/datetime-wheel-header-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime/test/prefer-wheel/datetime.e2e.ts-snapshots/datetime-wheel-header-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/prefer-wheel/datetime.e2e.ts-snapshots/datetime-wheel-header-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/prefer-wheel/datetime.e2e.ts-snapshots/datetime-wheel-header-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/prefer-wheel/datetime.e2e.ts-snapshots/datetime-wheel-header-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/prefer-wheel/datetime.e2e.ts-snapshots/datetime-wheel-header-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/datetime/test/prefer-wheel/datetime.e2e.ts-snapshots/datetime-wheel-header-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime/test/prefer-wheel/datetime.e2e.ts-snapshots/datetime-wheel-header-diff-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#26125 fix(datetime): values are adjusted to be in bounds
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/manipulation.spec.ts
  core/src/components/datetime/test/minmax/datetime.e2e.ts
  core/src/components/datetime/utils/manipulation.ts
  core/src/components/picker-column-internal/picker-column-internal.tsx
  core/src/components/picker-column-internal/test/update-items/picker-column-internal.e2e.ts
Labels: package: core

#26131 fix(datetime): empty string is treated as no value
  angular/src/directives/control-value-accessors/value-accessor.ts
  core/src/components/datetime-button/datetime-button.tsx
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/values/datetime.e2e.ts
Labels: package: core, package: angular

#26148 fix(dependencies): latest patch is installed
  angular/package-lock.json
  angular/package.json
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: angular, package: vue, package: react

#26111 fix(react): inline overlays can be conditionally rendered
  packages/react/src/components/createInlineOverlayComponent.tsx
  packages/react/test-app/src/App.tsx
  packages/react/test-app/src/pages/overlay-components/IonModalConditional.tsx
  packages/react/test-app/src/pages/overlay-components/IonModalConditionalSibling.tsx
  packages/react/test-app/src/pages/overlay-components/IonModalDatetimeButton.tsx
  packages/react/test-app/src/pages/overlay-components/IonPopoverNested.tsx
  packages/react/test-app/src/pages/overlay-components/KeepContentsMounted.tsx
  packages/react/test-app/tests/e2e/specs/overlay-components/IonModal.cy.ts
  packages/react/test-app/tests/e2e/specs/overlay-components/IonPopover.cy.ts
Labels: package: react

#26067 feat(loading): isOpen presents and dismisses loading overlay
  core/api.txt
  core/src/components.d.ts
  core/src/components/loading/loading.tsx
  core/src/components/loading/test/isOpen/index.html
  core/src/components/loading/test/isOpen/loading.e2e.ts
  core/src/utils/framework-delegate.ts
  core/src/utils/overlays.ts
  packages/react/src/components/IonLoading.tsx
  packages/react/test-app/tests/e2e/specs/overlay-components/IonLoading.cy.ts
  packages/vue/src/components/Overlays.ts
Labels: package: core, package: vue, package: react

#26081 feat(loading): trigger presents loading overlay
  core/api.txt
  core/src/components.d.ts
  core/src/components/loading/loading.tsx
  core/src/components/loading/test/trigger/index.html
  core/src/components/loading/test/trigger/loading.e2e.ts
  core/src/utils/overlays-interface.ts
  core/src/utils/overlays.ts
  packages/vue/src/components/Overlays.ts
Labels: package: core, package: vue

#26094 test(footer): migrate to playwright
  core/src/components/footer/test/basic/e2e.ts
  core/src/components/footer/test/basic/footer.e2e.ts
  core/src/components/footer/test/basic/footer.e2e.ts-snapshots/footer-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/footer/test/basic/footer.e2e.ts-snapshots/footer-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/footer/test/basic/footer.e2e.ts-snapshots/footer-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/footer/test/basic/footer.e2e.ts-snapshots/footer-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/footer/test/basic/footer.e2e.ts-snapshots/footer-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/footer/test/basic/footer.e2e.ts-snapshots/footer-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/footer/test/basic/footer.e2e.ts-snapshots/footer-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/footer/test/basic/footer.e2e.ts-snapshots/footer-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/footer/test/basic/footer.e2e.ts-snapshots/footer-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/footer/test/basic/footer.e2e.ts-snapshots/footer-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/footer/test/basic/footer.e2e.ts-snapshots/footer-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/footer/test/basic/footer.e2e.ts-snapshots/footer-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/footer/test/basic/footer.e2e.ts-snapshots/footer-no-border-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/footer/test/basic/footer.e2e.ts-snapshots/footer-no-border-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/footer/test/basic/footer.e2e.ts-snapshots/footer-no-border-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/footer/test/basic/footer.e2e.ts-snapshots/footer-no-border-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/footer/test/basic/footer.e2e.ts-snapshots/footer-no-border-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/footer/test/basic/footer.e2e.ts-snapshots/footer-no-border-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/footer/test/basic/footer.e2e.ts-snapshots/footer-translucent-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/footer/test/basic/footer.e2e.ts-snapshots/footer-translucent-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/footer/test/basic/index.html
  core/src/components/footer/test/fade/e2e.ts
  core/src/components/footer/test/fade/footer.e2e.ts
  core/src/components/footer/test/fade/footer.e2e.ts-snapshots/footer-fade-blurred-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/footer/test/fade/footer.e2e.ts-snapshots/footer-fade-blurred-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/footer/test/fade/footer.e2e.ts-snapshots/footer-fade-not-blurred-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/footer/test/fade/footer.e2e.ts-snapshots/footer-fade-not-blurred-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/footer/test/fade/index.html
  core/src/components/footer/test/img.jpg
  core/src/components/footer/test/scroll-target/e2e.ts
  core/src/components/footer/test/scroll-target/footer.e2e.ts
  core/src/components/footer/test/scroll-target/footer.e2e.ts-snapshots/footer-fade-scroll-target-blurred-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/footer/test/scroll-target/footer.e2e.ts-snapshots/footer-fade-scroll-target-blurred-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/footer/test/scroll-target/footer.e2e.ts-snapshots/footer-fade-scroll-target-not-blurred-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/footer/test/scroll-target/footer.e2e.ts-snapshots/footer-fade-scroll-target-not-blurred-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/footer/test/scroll-target/index.html
  core/src/components/footer/test/translucent/e2e.ts
  core/src/components/footer/test/translucent/index.html
  core/src/components/footer/test/with-tabs/index.html
Labels: package: core

#26084 fix(card-header): reverse order of title and subtitle on ios
  BREAKING.md
  core/src/components/card-header/card-header.ios.scss
  core/src/components/card-header/card-header.scss
  core/src/components/card-header/test/basic/card-header.e2e.ts-snapshots/card-header-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/card-header/test/basic/card-header.e2e.ts-snapshots/card-header-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/card-header/test/basic/card-header.e2e.ts-snapshots/card-header-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/card-header/test/basic/card-header.e2e.ts-snapshots/card-header-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/card-header/test/basic/card-header.e2e.ts-snapshots/card-header-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/card-header/test/basic/card-header.e2e.ts-snapshots/card-header-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/card-header/test/basic/card-header.e2e.ts-snapshots/card-header-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/card-header/test/basic/card-header.e2e.ts-snapshots/card-header-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/card-header/test/basic/card-header.e2e.ts-snapshots/card-header-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/card-header/test/basic/card-header.e2e.ts-snapshots/card-header-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/card-header/test/basic/card-header.e2e.ts-snapshots/card-header-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/card-header/test/basic/card-header.e2e.ts-snapshots/card-header-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/card-header/test/basic/index.html
  core/src/components/card/test/basic/card.e2e.ts
  core/src/components/card/test/basic/card.e2e.ts-snapshots/card-translucent-ios-ltr-Mobile-Chrome-linux.png
Labels: package: core

#26162 fix(segment): click event triggers ionChange
  core/src/components/segment/segment.tsx
Labels: package: core

#26089 feat(range): ionChange will only emit from user committed changes
  BREAKING.md
  angular/src/directives/proxies.ts
  angular/test/apps/ng12/src/app/form/form.component.ts
  angular/test/apps/ng13/src/app/form/form.component.ts
  angular/test/base/e2e/src/form-controls/range.spec.ts
  angular/test/base/e2e/src/form.spec.ts
  angular/test/base/e2e/src/inputs.spec.ts
  angular/test/base/src/app/app-routing.module.ts
  angular/test/base/src/app/form-controls/range/range-routing.module.ts
  angular/test/base/src/app/form-controls/range/range.component.html
  angular/test/base/src/app/form-controls/range/range.component.ts
  angular/test/base/src/app/form-controls/range/range.module.ts
  angular/test/base/src/app/form/form.component.html
  angular/test/base/src/app/form/form.component.ts
  angular/test/base/src/app/inputs/inputs.component.html
  angular/test/base/src/app/inputs/inputs.component.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/range/range.tsx
  core/src/components/range/test/range-events.e2e.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#26164 test(menu-toggle): add basic Playwright test
  core/src/components/menu-toggle/test/basic/index.html
  core/src/components/menu-toggle/test/basic/menu-toggle.e2e.ts
Labels: package: core

#26153 feat(loading): use loading overlay inline
  core/api.txt
  core/src/components.d.ts
  core/src/components/loading/loading.tsx
  core/src/components/loading/test/isOpen/index.html
  core/src/components/loading/test/isOpen/loading.e2e.ts
  core/src/components/loading/test/trigger/index.html
  core/src/components/loading/test/trigger/loading.e2e.ts
  core/src/utils/framework-delegate.ts
  core/src/utils/overlays-interface.ts
  core/src/utils/overlays.ts
  packages/react/src/components/IonLoading.tsx
  packages/react/test-app/tests/e2e/specs/overlay-components/IonLoading.cy.ts
  packages/vue/src/components/Overlays.ts
Labels: package: core, package: vue, package: react

#26168 Release 6.3.3
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#26171 test(list): migrate lines test to playwright
  core/src/components/list/test/basic/e2e.ts
  core/src/components/list/test/basic/index.html
  core/src/components/list/test/basic/list.e2e.ts
  core/src/components/list/test/basic/list.e2e.ts-snapshots/list-basic-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/basic/list.e2e.ts-snapshots/list-basic-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/basic/list.e2e.ts-snapshots/list-basic-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/list/test/basic/list.e2e.ts-snapshots/list-basic-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/list/test/basic/list.e2e.ts-snapshots/list-basic-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/list/test/basic/list.e2e.ts-snapshots/list-basic-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/list/test/basic/list.e2e.ts-snapshots/list-basic-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/basic/list.e2e.ts-snapshots/list-basic-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/basic/list.e2e.ts-snapshots/list-basic-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/list/test/basic/list.e2e.ts-snapshots/list-basic-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/list/test/basic/list.e2e.ts-snapshots/list-basic-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/list/test/basic/list.e2e.ts-snapshots/list-basic-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/list/test/icons/e2e.ts
  core/src/components/list/test/icons/index.html
  core/src/components/list/test/lines/e2e.ts
  core/src/components/list/test/lines/index.html
  core/src/components/list/test/lines/list.e2e.ts
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-full-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-full-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-full-ios-ltr-Mobile-Safari-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-full-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-full-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-full-ios-rtl-Mobile-Safari-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-full-md-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-full-md-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-full-md-ltr-Mobile-Safari-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-full-md-rtl-Mobile-Chrome-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-full-md-rtl-Mobile-Firefox-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-full-md-rtl-Mobile-Safari-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-inset-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-inset-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-inset-ios-ltr-Mobile-Safari-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-inset-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-inset-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-inset-ios-rtl-Mobile-Safari-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-inset-md-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-inset-md-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-inset-md-ltr-Mobile-Safari-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-inset-md-rtl-Mobile-Chrome-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-inset-md-rtl-Mobile-Firefox-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-inset-md-rtl-Mobile-Safari-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-none-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-none-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-none-ios-ltr-Mobile-Safari-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-none-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-none-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-none-ios-rtl-Mobile-Safari-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-none-md-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-none-md-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-none-md-ltr-Mobile-Safari-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-none-md-rtl-Mobile-Chrome-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-none-md-rtl-Mobile-Firefox-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/list-lines-none-md-rtl-Mobile-Safari-linux.png
  core/src/components/list/test/spec/e2e.ts
  core/src/components/list/test/spec/index.html
Labels: package: core

#26167 fix(modal, popover): remove trigger click listeners when overlay is unmounted
  core/src/components/modal/modal.tsx
  core/src/components/modal/test/trigger/modal.e2e.ts
  core/src/components/popover/popover.tsx
  core/src/components/popover/test/trigger/popover.e2e.ts
Labels: package: core

#26112 test(header): migrate to playwright
  core/src/components/header/test/a11y/e2e.ts
  core/src/components/header/test/a11y/header.e2e.ts
  core/src/components/header/test/basic/e2e.ts
  core/src/components/header/test/basic/header.e2e.ts
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-no-border-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-no-border-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-no-border-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-no-border-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-no-border-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-no-border-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-translucent-color-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-translucent-color-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-translucent-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-translucent-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/header/test/basic/index.html
  core/src/components/header/test/condense/header.e2e.ts
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-collapsed-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-collapsed-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-collapsed-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-initial-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-initial-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-initial-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/header/test/condense/index.html
  core/src/components/header/test/fade/e2e.ts
  core/src/components/header/test/fade/header.e2e.ts
  core/src/components/header/test/fade/header.e2e.ts-snapshots/header-fade-blurred-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/fade/header.e2e.ts-snapshots/header-fade-blurred-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/header/test/fade/header.e2e.ts-snapshots/header-fade-not-blurred-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/fade/header.e2e.ts-snapshots/header-fade-not-blurred-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/header/test/fade/index.html
  core/src/components/header/test/img.jpg
  core/src/components/header/test/scroll-target/e2e.ts
  core/src/components/header/test/scroll-target/header.e2e.ts
  core/src/components/header/test/scroll-target/header.e2e.ts-snapshots/header-scroll-target-blurred-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/scroll-target/header.e2e.ts-snapshots/header-scroll-target-blurred-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/header/test/scroll-target/header.e2e.ts-snapshots/header-scroll-target-not-blurred-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/scroll-target/header.e2e.ts-snapshots/header-scroll-target-not-blurred-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/header/test/scroll-target/index.html
  core/src/components/header/test/translucent/e2e.ts
  core/src/components/header/test/translucent/index.html
Labels: package: core

#26165 chore(playwright): project types
  core/playwright.config.ts
Labels: package: core

#26174 test(menu-button): migrate tests to playwright
  core/src/components/menu-button/test/a11y/e2e.ts
  core/src/components/menu-button/test/a11y/menu-button.e2e.ts
  core/src/components/menu-button/test/basic/e2e.ts
  core/src/components/menu-button/test/basic/menu-button.e2e.ts
  core/src/components/menu-button/test/basic/menu-button.e2e.ts-snapshots/menu-button-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/menu-button/test/basic/menu-button.e2e.ts-snapshots/menu-button-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/menu-button/test/basic/menu-button.e2e.ts-snapshots/menu-button-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/menu-button/test/basic/menu-button.e2e.ts-snapshots/menu-button-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/menu-button/test/basic/menu-button.e2e.ts-snapshots/menu-button-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/menu-button/test/basic/menu-button.e2e.ts-snapshots/menu-button-diff-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#26181 refactor(types): remove overlay attribute interfaces
  BREAKING.md
  angular/src/index.ts
  core/src/components.d.ts
  core/src/components/action-sheet/action-sheet-interface.ts
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/alert/alert-interface.ts
  core/src/components/alert/alert.tsx
  core/src/components/loading/loading-interface.ts
  core/src/components/loading/loading.tsx
  core/src/components/modal/modal-interface.ts
  core/src/components/modal/modal.tsx
  core/src/components/picker/picker-interface.ts
  core/src/components/picker/picker.tsx
  core/src/components/popover/popover-interface.ts
  core/src/components/popover/popover.tsx
  core/src/components/toast/toast-interface.ts
  core/src/components/toast/toast.tsx
  packages/react/src/components/index.ts
  packages/vue/src/index.ts
Labels: package: core, package: angular, package: vue, package: react

#26182 chore(item): remove unused item SCSS mixins
  core/src/components/item/item.mixins.scss
  core/src/components/item/item.vars.scss
Labels: package: core

#26183 fix(datetime): do not report timezone in ionChange
  BREAKING.md
  core/src/components/datetime-button/datetime-button.tsx
  core/src/components/datetime/datetime-interface.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/basic/datetime.e2e.ts
  core/src/components/datetime/test/format.spec.ts
  core/src/components/datetime/test/minmax/datetime.e2e.ts
  core/src/components/datetime/utils/format.ts
  core/src/components/datetime/utils/manipulation.ts
  core/src/components/datetime/utils/parse.ts
Labels: package: core
