Repository ionic-team/ionic-framework, pull requests merged in 2022-01, with the labels that each got.

#24473 chore(vue-router): update @ionic/vue dependencies to v6 latest
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
Labels: package: vue

#24470 fix(angular): popover will respect side attribute value
  angular/src/directives/overlays/popover.ts
Labels: package: angular

#24454 fix(datetime): update active day styling when day is selected
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/basic/e2e.ts
Labels: package: core

#24475 fix(datetime): RTL will no longer infinitely scroll
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/basic/e2e.ts
  core/src/utils/rtl/dir.spec.ts
  core/src/utils/rtl/dir.ts
  core/src/utils/rtl/index.ts
Labels: package: core

#24476 fix(datetime): time picker format with hourCycle h23
  core/src/components/datetime/test/data.spec.ts
  core/src/components/datetime/test/minmax/index.html
  core/src/components/datetime/utils/data.ts
Labels: package: core

#24512 fix(popover): allow arrow configuration with controller approach
  core/src/components/popover/popover-interface.ts
  core/src/components/popover/readme.md
Labels: package: core

#24510 fix(react): scrolling to bottom of modal contents
  packages/react/src/components/createInlineOverlayComponent.tsx
Labels: package: react

#24515 fix(react): building app for production now works correctly with vite
  core/package-lock.json
  core/package.json
  packages/react/src/components/createInlineOverlayComponent.tsx
  packages/react/src/components/createRoutingComponent.tsx
  packages/react/src/components/react-component-lib/createComponent.tsx
  packages/react/src/hooks/useOverlay.ts
Labels: package: core, package: react

#24522 fix(datetime): add top padding to MD calendar month grid
  core/src/components/datetime/datetime.md.scss
Labels: package: core

#24521 fix(angular): inline overlay dynamic template data
  angular/src/directives/overlays/modal.ts
  angular/src/directives/overlays/popover.ts
  angular/test/test-app/e2e/src/modal.spec.ts
  angular/test/test-app/e2e/src/popover.spec.ts
  angular/test/test-app/src/app/app-routing.module.ts
  angular/test/test-app/src/app/modal-inline/index.ts
  angular/test/test-app/src/app/modal-inline/modal-inline-routing.module.ts
  angular/test/test-app/src/app/modal-inline/modal-inline.component.html
  angular/test/test-app/src/app/modal-inline/modal-inline.component.ts
  angular/test/test-app/src/app/modal-inline/modal-inline.module.ts
  angular/test/test-app/src/app/popover-inline/index.ts
  angular/test/test-app/src/app/popover-inline/popover-inline-routing.module.ts
  angular/test/test-app/src/app/popover-inline/popover-inline.component.html
  angular/test/test-app/src/app/popover-inline/popover-inline.component.ts
  angular/test/test-app/src/app/popover-inline/popover-inline.module.ts
Labels: package: angular

#24525 fix(refresher): import icons to avoid errors in react and vue
  core/src/components/refresher-content/refresher-content.tsx
Labels: package: core

#24453 fix(react): backdrop for inline modal/popover overlay
  core/src/utils/overlays.ts
  packages/react/src/components/IonActionSheet.tsx
  packages/react/src/components/IonModal.tsx
  packages/react/src/components/IonPopover.tsx
  packages/react/src/components/createInlineOverlayComponent.tsx
  packages/react/src/components/createOverlayComponent.tsx
  packages/vue/scripts/copy-overlays.js
  packages/vue/src/components/Overlays.ts
  packages/vue/src/vue-component-lib/overlays.ts
Labels: package: core, package: vue, package: react

#24533 fix(vue): correct route is replaced when using router.replace
  packages/vue-router/src/router.ts
  packages/vue/test-app/tests/e2e/specs/routing.js
Labels: package: vue

#24509 fix(breadcrumb): support routerLink on breadcrumb
  core/stencil.config.ts
  packages/react/src/components/proxies.ts
  packages/react/src/components/routing-proxies.ts
Labels: package: core, package: react

#24546 fix(datetime): wheel picker shows correct column order in rtl
  core/src/components/picker-internal/picker-internal.scss
  core/src/components/picker/test/basic/index.html
Labels: package: core

#24553 fix(react): add useRef wrapper to useIonOverlay state to avoid stale references
  packages/react/src/components/IonOverlayManager.tsx
Labels: package: react

#24554 fix(datetime): showing calendar grid no longer causes month to switch on ios 15
  core/src/components/datetime/datetime.scss
Labels: package: core

#24567 docs(input): clarify intended placeholder behavior for certain input types
  core/src/components.d.ts
  core/src/components/input/input.tsx
  core/src/components/input/readme.md
Labels: package: core

#24565 fix(menu): remove main attribute that was supposed to removed in v5
  core/src/components/menu/menu.tsx
Labels: package: core

#24568 test(overlays): wait for modal events to fire
  core/src/utils/test/overlays/overlays.e2e.ts
Labels: package: core

#24508 fix(modal): destroy life cycle events for controller modals
  core/src/components/modal/modal.tsx
Labels: package: core

#24558 fix(angular): apply touch, dirty and pristine form control classes
  angular/src/directives/control-value-accessors/value-accessor.ts
  angular/test/test-app/e2e/src/form.spec.ts
  angular/test/test-app/src/app/form/form.component.html
  angular/test/test-app/src/app/form/form.component.ts
Labels: package: angular

#24569 fix(react): prevent errors when dismissing inline popover after containing element is removed
  packages/react/src/components/createInlineOverlayComponent.tsx
  packages/react/test-app/cypress/integration/overlay-components/IonPopover.spec.ts
  packages/react/test-app/src/pages/overlay-components/PopoverComponent.tsx
Labels: package: react

#24570 docs(menu-toggle): add usage examples and slot docs
  core/src/components/menu-toggle/menu-toggle.tsx
  core/src/components/menu-toggle/readme.md
  core/src/components/menu-toggle/usage/angular.md
  core/src/components/menu-toggle/usage/javascript.md
  core/src/components/menu-toggle/usage/react.md
  core/src/components/menu-toggle/usage/vue.md
Labels: package: core

#24574 docs(textarea): available autocapitalize options
  core/src/components.d.ts
  core/src/components/textarea/readme.md
  core/src/components/textarea/textarea.tsx
Labels: package: core

#24579 fix(item): error slot visible in Safari
  core/src/components/item/item.scss
Labels: package: core

#24577 docs(datetime): fix typo in overview
  core/src/components/datetime/readme.md
Labels: package: core

#24593 fix(angular-server): use correct @ionic/angular dependency version
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
Labels: package: angular

#24596 Release 6.0.3
  .github/workflows/dev-build.yml
  .scripts/bump-version.js
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  angular/src/directives/control-value-accessors/value-accessor.ts
  angular/test/test-app/e2e/src/form.spec.ts
  angular/test/test-app/src/app/form/form.component.html
  angular/test/test-app/src/app/form/form.component.ts
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components.d.ts
  core/src/components/datetime/datetime.scss
  core/src/components/datetime/readme.md
  core/src/components/input/input.tsx
  core/src/components/input/readme.md
  core/src/components/item/item.scss
  core/src/components/menu-toggle/menu-toggle.tsx
  core/src/components/menu-toggle/readme.md
  core/src/components/menu-toggle/usage/angular.md
  core/src/components/menu-toggle/usage/javascript.md
  core/src/components/menu-toggle/usage/react.md
  core/src/components/menu-toggle/usage/vue.md
  core/src/components/menu/menu.tsx
  core/src/components/modal/modal.tsx
  core/src/components/textarea/readme.md
  core/src/components/textarea/textarea.tsx
  core/src/utils/overlays.ts
  core/src/utils/test/overlays/index.html
  core/src/utils/test/overlays/overlays.e2e.ts
  docs/CHANGELOG.md
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/components/IonOverlayManager.tsx
  packages/react/src/components/createInlineOverlayComponent.tsx
  packages/react/test-app/cypress/integration/overlay-components/IonPopover.spec.ts
  packages/react/test-app/src/pages/overlay-components/PopoverComponent.tsx
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#24335 fix(item): matches material design character counter
  core/src/components/item/item.md.scss
  core/src/components/item/item.md.vars.scss
  core/src/components/item/item.scss
  core/src/components/item/item.tsx
  core/src/components/item/test/counter/e2e.ts
  core/src/components/item/test/counter/index.html
Labels: package: core

#24597 fix(range): setting dir on ion-range to enable rtl mode now supported
  core/src/components/range/range.tsx
  core/src/components/range/test/rtl/e2e.ts
  core/src/components/range/test/rtl/index.html
Labels: package: core

#24600 fix(toggle): setting dir on ion-toggle to enable rtl mode now supported
  core/src/components/toggle/test/rtl/e2e.ts
  core/src/components/toggle/test/rtl/index.html
  core/src/components/toggle/toggle.tsx
Labels: package: core

#24601 fix(segment): setting dir on ion-segment to enable rtl mode now supported
  core/src/components/segment/segment.tsx
  core/src/components/segment/test/rtl/e2e.ts
  core/src/components/segment/test/rtl/index.html
Labels: package: core

#24602 fix(searchbar): setting dir on ion-searchbar to enable rtl mode now supported
  core/src/components/searchbar/searchbar.tsx
  core/src/components/searchbar/test/rtl/e2e.ts
  core/src/components/searchbar/test/rtl/index.html
Labels: package: core

#24604 fix(react): setupIonicReact no longer crashes in SSR environment
  packages/react/src/components/index.ts
  packages/vue/src/ionic-vue.ts
Labels: package: vue, package: react

#24603 fix(col): col no longer errors when running in non-browser environment
  core/src/components/col/col.tsx
Labels: package: core

#24609 style(): fix shadowed vars
  core/src/components/modal/modal.tsx
  core/src/components/picker-internal/picker-internal.tsx
  core/src/components/radio/radio.tsx
  core/src/components/range/range.tsx
  core/src/components/toggle/toggle.tsx
Labels: package: core

#24606 fix(input): ion-input accepts any string value
  core/src/components/input/input.tsx
  core/src/components/input/test/masking/e2e.ts
  core/src/components/input/test/masking/index.html
Labels: package: core

#24618 fix(accordion): items inside of the content now correct display borders
  core/src/components/accordion/test/standalone/e2e.ts
  core/src/components/accordion/test/standalone/index.html
  core/src/css/core.scss
Labels: package: core

#24621 chore(angular): upgrade test app to Angular 13
  .github/workflows/actions/test-angular-e2e/action.yml
  angular/test/test-app/.gitignore
  angular/test/test-app/package-lock.json
  angular/test/test-app/package.json
  angular/test/test-app/src/app/app.module.ts
  angular/test/test-app/src/polyfills.ts
Labels: package: angular

#24644 chore(menu-toggle): autogenerated readme contents
  core/src/components/menu-toggle/readme.md
Labels: package: core

#24643 fix(spinner): ensure transform doesn't overwrite circular animation
  core/src/components/spinner/spinner.scss
  core/src/components/spinner/test/transform/e2e.ts
  core/src/components/spinner/test/transform/index.html
Labels: package: core

#24611 fix(menu): focus trapping with menu and overlays no longer results in errors
  core/src/components/menu/menu.tsx
  core/src/components/menu/test/focus-trap/e2e.ts
  core/src/components/menu/test/focus-trap/index.html
  core/src/utils/overlays.ts
Labels: package: core

#24642 fix(modal): native keyboard will dismiss when bottom sheet is dragged
  core/src/components/modal/gestures/sheet.ts
  core/src/utils/gesture/index.ts
Labels: package: core

#24650 refactor(modal): move keyboard behavior for gestures into component
  core/src/components/modal/gestures/sheet.ts
  core/src/components/modal/modal.tsx
  core/src/utils/gesture/index.ts
Labels: package: core

#24627 refactor(router): code cleanup.
  core/src/components/router/router.tsx
  core/src/components/router/test/e2e.spec.tsx
  core/src/components/router/test/matching.spec.tsx
  core/src/components/router/test/parser.spec.tsx
  core/src/components/router/test/path.spec.tsx
  core/src/components/router/utils/debug.ts
  core/src/components/router/utils/dom.ts
  core/src/components/router/utils/interface.ts
  core/src/components/router/utils/matching.ts
  core/src/components/router/utils/parser.ts
  core/src/components/router/utils/path.ts
Labels: package: core

#24616 fix(datetime): timepicker popover will position relative to click target
  core/api.txt
  core/src/components.d.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/position/e2e.ts
  core/src/components/datetime/test/position/index.html
  core/src/components/picker-column-internal/picker-column-internal.tsx
  core/src/components/popover/popover.tsx
  core/src/components/popover/readme.md
Labels: package: core

#24661 v6.0.4
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#24657 fix(input): min/max compatibility with react-hook-form
  core/api.txt
  core/src/components.d.ts
  core/src/components/input/input.tsx
  core/src/components/input/readme.md
Labels: package: core

#24665 fix(vue): going back to a tabs outlet no loger causes classList error
  packages/vue/src/components/IonRouterOutlet.ts
  packages/vue/test-app/src/main.ts
  packages/vue/test-app/tests/e2e/specs/tabs.js
Labels: package: vue

#24667 fix(react-router): remove page transition flicker on outlet mounting
  packages/react-router/src/ReactRouter/IonRouteInner.tsx
  packages/react-router/src/ReactRouter/StackManager.tsx
  packages/react/src/components/navigation/IonTabs.tsx
  packages/react/test-app/src/App.tsx
  packages/react/test-app/src/pages/Tabs.tsx
Labels: package: react

#24671 perf(various): don't use lazy-loaded icon names in components
  core/api.txt
  core/src/components.d.ts
  core/src/components/accordion/accordion.tsx
  core/src/components/accordion/readme.md
  core/src/components/back-button/back-button.tsx
  core/src/components/back-button/test/back-button.spec.ts
  core/src/components/fab-button/fab-button.tsx
  core/src/components/fab-button/readme.md
  core/src/components/item/item.tsx
  core/src/components/item/readme.md
  core/src/components/menu-button/menu-button.tsx
  core/src/components/reorder/reorder.tsx
  core/src/components/searchbar/readme.md
  core/src/components/searchbar/searchbar.tsx
  packages/react/src/components/index.ts
  packages/vue/src/index.ts
Labels: package: core, package: vue, package: react

#24672 fix(react): nested router outlets will not reanimate entered views
  packages/react-router/src/ReactRouter/StackManager.tsx
  packages/react-router/test-app/cypress/integration/nested-outlets.spec.js
  packages/react-router/test-app/cypress/integration/routing.spec.js
  packages/react/src/components/IonRouterContext.tsx
  packages/react/src/routing/OutletPageManager.tsx
  packages/react/test-app/src/App.tsx
  packages/react/test-app/src/pages/Tabs.tsx
Labels: package: react
