Repository ionic-team/ionic-framework, pull requests merged in 2022-04, with the labels that each got.

#25011 feat(range): add knobMoveStart and knobMoveEnd events
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/range/range-interface.ts
  core/src/components/range/range.tsx
  core/src/components/range/readme.md
  core/src/components/range/test/basic/e2e.ts
  core/src/components/range/test/basic/index.html
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#25035 chore(prettier): install prettier
  core/.prettierignore
  core/.prettierrc.json
  core/package-lock.json
  core/package.json
Labels: package: core

#25036 chore(eslint): install eslint
  core/.eslintignore
  core/.eslintrc.js
  core/package-lock.json
  core/package.json
  core/src/components/accordion-group/accordion-group.tsx
  core/src/components/datetime/datetime.tsx
  core/src/components/modal/modal.tsx
  core/src/components/popover/utils.ts
  core/src/components/segment/segment.tsx
  core/src/components/select/select.tsx
  core/src/components/slides/slides.tsx
  core/src/utils/animation/animation.ts
  core/src/utils/gesture/index.ts
  core/src/utils/hardware-back-button.ts
  core/src/utils/helpers.ts
  core/src/utils/input-shims/hacks/scroll-assist.ts
  core/src/utils/menu-controller/index.ts
  core/src/utils/overlays.ts
  core/src/utils/sanitization/index.ts
  core/src/utils/watch-options.ts
Labels: package: core

#25052 chore(): exclude stencil tests from type checking
  core/tsconfig.json
Labels: package: core

#25054 test(playwright): test new method of waiting
  core/scripts/testing/scripts.js
  core/src/utils/test/playwright.ts
Labels: package: core

#25055 lint(): ignore autogenerated components.d.ts
  core/.eslintignore
  core/.prettierignore
  core/src/components.d.ts
Labels: package: core

#25056 fix(popover): allow arrow on desktop
  core/src/components/popover/popover.tsx
  core/src/components/popover/readme.md
Labels: package: core

#24988 fix(picker-column): column renders correctly with selected value
  core/src/components.d.ts
  core/src/components/picker-column/picker-column.tsx
  core/src/components/picker/test/basic/e2e.ts
  core/src/components/picker/test/basic/index.html
  core/src/utils/test/utils.ts
Labels: package: core

#25049 fix(datetime): handle invalid dates when value changes
  core/src/components/datetime/datetime.tsx
  core/src/utils/logging/index.ts
Labels: package: core

#24932 fix(angular): item styling when control has value
  angular/src/directives/control-value-accessors/value-accessor.ts
  angular/test/test-app/e2e/src/modal.spec.ts
  angular/test/test-app/src/app/modal-example/modal-example.component.html
  angular/test/test-app/src/app/modal-example/modal-example.component.ts
Labels: package: angular

#25065 v6.0.15
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#25071 fix(angular): button components now routes correctly without reload
  angular/src/directives/navigation/router-link-delegate.ts
  angular/src/index.ts
  angular/src/ionic-module.ts
Labels: package: angular

#25074 chore(): simplify overlay attribute types
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components/action-sheet/action-sheet-interface.ts
  core/src/components/action-sheet/readme.md
  core/src/components/alert/alert-interface.ts
  core/src/components/alert/readme.md
  core/src/components/item-sliding/readme.md
  core/src/components/loading/loading-interface.ts
  core/src/components/loading/readme.md
  core/src/components/modal/modal-interface.ts
  core/src/components/modal/readme.md
  core/src/components/picker/picker-interface.ts
  core/src/components/picker/readme.md
  core/src/components/picker/test/basic/index.html
  core/src/components/popover/popover-interface.ts
  core/src/components/popover/readme.md
  core/src/components/segment-button/readme.md
  core/src/components/select/readme.md
  core/src/components/toast/readme.md
  core/src/components/toast/toast-interface.ts
Labels: package: core, package: angular

#25075 chore(): sync with main
  .github/workflows/actions/build-core/action.yml
  .github/workflows/build.yml
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  angular/src/directives/control-value-accessors/value-accessor.ts
  angular/src/directives/navigation/router-link-delegate.ts
  angular/src/directives/proxies.ts
  angular/src/index.ts
  angular/src/ionic-module.ts
  angular/test/test-app/e2e/src/modal.spec.ts
  angular/test/test-app/src/app/modal-example/modal-example.component.html
  angular/test/test-app/src/app/modal-example/modal-example.component.ts
  core/CHANGELOG.md
  core/api.txt
  core/package-lock.json
  core/package.json
  core/src/components/action-sheet/action-sheet-interface.ts
  core/src/components/action-sheet/readme.md
  core/src/components/alert/alert-interface.ts
  core/src/components/alert/readme.md
  core/src/components/datetime/datetime.tsx
  core/src/components/item-sliding/readme.md
  core/src/components/loading/loading-interface.ts
  core/src/components/loading/readme.md
  core/src/components/modal/modal-interface.ts
  core/src/components/modal/readme.md
  core/src/components/picker/picker-interface.ts
  core/src/components/picker/readme.md
  core/src/components/popover/popover-interface.ts
  core/src/components/popover/readme.md
  core/src/components/segment-button/readme.md
  core/src/components/select/readme.md
  core/src/components/toast/readme.md
  core/src/components/toast/toast-interface.ts
  core/src/utils/logging/index.ts
  docs/CHANGELOG.md
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#25084 v6.0.16
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#25083 Release 6.0.16
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  angular/src/directives/navigation/router-link-delegate.ts
  angular/src/index.ts
  angular/src/ionic-module.ts
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#25079 test(playwright): improve test server reliability
  core/package-lock.json
  core/package.json
  core/playwright.config.ts
Labels: package: core

#25080 test(playwright): add event spies
  core/src/utils/test/playwright/eventSpy.ts
  core/src/utils/test/playwright/fixtures.ts
  core/src/utils/test/playwright/index.ts
Labels: package: core

#25085 chore(): sync feature-6.1 with main for playwright utilities
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/playwright.config.ts
  core/src/utils/test/playwright/eventSpy.ts
  core/src/utils/test/playwright/fixtures.ts
  core/src/utils/test/playwright/index.ts
  docs/CHANGELOG.md
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#25086 docs(reorder): improve docs on how to use complete method
  core/src/components/reorder-group/readme.md
Labels: package: core

#25044 fix(menu): preserve scroll position when focusing on open
  core/src/components/menu/menu.tsx
  core/src/components/menu/test/basic/e2e.ts
  core/src/components/menu/test/basic/index.html
  core/src/components/menu/test/focus-trap/e2e.ts
  core/src/components/menu/test/focus-trap/index.html
Labels: package: core

#25091 fix(accordion-group): only allow keyboard interaction if header is focused
  core/src/components/accordion-group/accordion-group.tsx
  core/src/components/accordion/test/a11y/e2e.ts
  core/src/components/accordion/test/a11y/index.html
Labels: package: core

#25107 chore(): sync feature-6.1 with main
  core/src/components/accordion-group/accordion-group.tsx
  core/src/components/accordion/test/a11y/e2e.ts
  core/src/components/accordion/test/a11y/index.html
  core/src/components/menu/menu.tsx
  core/src/components/menu/test/basic/e2e.ts
  core/src/components/menu/test/basic/index.html
  core/src/components/menu/test/focus-trap/e2e.ts
  core/src/components/menu/test/focus-trap/index.html
  core/src/components/reorder-group/readme.md
  packages/vue-router/src/router.ts
  packages/vue/test-app/tests/e2e/specs/tabs.js
Labels: package: core, package: vue

#25106 fix(datetime): import from relative path
  core/src/components/datetime/datetime.tsx
Labels: package: core

#25102 fix(ripple-effect): ripple displays on click or touch
  core/playwright.config.ts
  core/src/components/ripple-effect/test/basic/index.html
  core/src/components/ripple-effect/test/basic/ripple-effect.e2e.ts
  core/src/utils/tap-click.ts
  core/src/utils/test/playwright/fixtures.ts
Labels: package: core

#25108 chore(datetime,item,modal): use relative import paths
  core/src/components/datetime/datetime.tsx
  core/src/components/item/item.tsx
  core/src/components/modal/modal.tsx
Labels: package: core

#24990 fix(popover): only focus trap ion-item children
  core/src/components/popover/test/basic/e2e.ts
  core/src/components/popover/test/basic/index.html
  core/src/components/popover/utils.ts
Labels: package: core

#25115 v6.1.0
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#25123 fix(all): import path is now correct when using ionic in a stencil app
  core/src/components/footer/footer.tsx
  core/src/components/header/header.tsx
  core/src/components/infinite-scroll/infinite-scroll.tsx
  core/src/components/refresher/refresher.tsx
  core/src/components/reorder-group/reorder-group.tsx
  core/src/utils/input-shims/hacks/scroll-assist.ts
  core/src/utils/input-shims/hacks/scroll-padding.ts
  core/src/utils/input-shims/input-shims.ts
  core/src/utils/status-tap.ts
Labels: package: core

#25125 fix(modal, popover): do not dismiss when ionDismiss is emitted
  core/src/components/modal/modal.tsx
  core/src/components/popover/popover.tsx
Labels: package: core

#25132 refactor(datetime): simpler way of accounting for time zone offsets in getToday
  core/src/components/datetime/test/data.spec.ts
  core/src/components/datetime/utils/data.ts
Labels: package: core

#25137 Release v6.1.1
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components/datetime/test/data.spec.ts
  core/src/components/datetime/utils/data.ts
  core/src/components/footer/footer.tsx
  core/src/components/header/header.tsx
  core/src/components/infinite-scroll/infinite-scroll.tsx
  core/src/components/modal/modal.tsx
  core/src/components/popover/popover.tsx
  core/src/components/refresher/refresher.tsx
  core/src/components/reorder-group/reorder-group.tsx
  core/src/utils/input-shims/hacks/scroll-assist.ts
  core/src/utils/input-shims/hacks/scroll-padding.ts
  core/src/utils/input-shims/input-shims.ts
  core/src/utils/status-tap.ts
  docs/CHANGELOG.md
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#25135 v6.1.1
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#25144 fix(modal): add canDismiss option to modal options
  core/src/components/modal/modal-interface.ts
Labels: package: core

#25158 v6.1.2
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#25155 fix(picker-column-internal): center active item when rapidly opened
  core/src/components/picker-column-internal/picker-column-internal.tsx
Labels: package: core

#25156 fix(core): inherit aria attributes on host elements
  core/src/components/back-button/back-button.tsx
  core/src/components/breadcrumb/breadcrumb.tsx
  core/src/components/button/button.tsx
  core/src/components/header/header.tsx
  core/src/components/input/input.tsx
  core/src/components/menu-button/menu-button.tsx
  core/src/components/menu/menu.tsx
  core/src/components/range/range.tsx
  core/src/components/textarea/textarea.tsx
  core/src/utils/helpers.ts
  core/src/utils/test/attributes.spec.ts
Labels: package: core

#25171 fix(vue): replacing routes across nested outlets preserves previous route info
  packages/vue-router/src/locationHistory.ts
  packages/vue/test-app/src/views/RouterOutlet.vue
  packages/vue/test-app/tests/e2e/specs/nested.js
Labels: package: vue

#25187 test(modal): remove redundant test
  core/src/components/modal/test/sheet/modal.e2e.ts
Labels: package: core

#25175 fix(select): avoid duplicate dialogs and backdrops when clicking
  core/src/components/select/select.tsx
  core/src/components/select/test/basic/select.e2e.ts
Labels: package: core

#25196 ci(lint): ensure linted results are pushed for build to pass
  .github/workflows/actions/test-core-lint/action.yml
  core/src/components/footer/footer.tsx
  core/src/components/infinite-scroll/infinite-scroll.tsx
  core/src/components/modal/modal-interface.ts
  core/src/components/refresher/refresher.tsx
  core/src/components/reorder-group/reorder-group.tsx
  core/src/utils/test/playwright/playwright-page.ts
Labels: package: core

#25194 test(config): reuse existing dev server for local playwright tests
  core/playwright.config.ts
Labels: package: core

#25197 test(ci): allow 2 retries on CI
  core/playwright.config.ts
Labels: package: core

#25195 fix(vue): canDismiss definition is now exposed
  .github/workflows/actions/build-angular-server/action.yml
  .github/workflows/actions/build-angular/action.yml
  .github/workflows/actions/build-core/action.yml
  .github/workflows/actions/build-react-router/action.yml
  .github/workflows/actions/build-react/action.yml
  .github/workflows/actions/build-vue-router/action.yml
  .github/workflows/actions/build-vue/action.yml
  .github/workflows/actions/test-core-clean-build/action.yml
  .github/workflows/actions/test-core-e2e/action.yml
  .github/workflows/actions/test-core-lint/action.yml
  .github/workflows/actions/test-core-screenshot/action.yml
  .github/workflows/actions/test-core-spec/action.yml
  .github/workflows/actions/test-react-e2e/action.yml
  .github/workflows/actions/test-react-router-e2e/action.yml
  .github/workflows/actions/test-vue-e2e/action.yml
  .github/workflows/actions/update-reference-screenshots/action.yml
  angular/package-lock.json
  packages/react/package-lock.json
  packages/vue/package-lock.json
  packages/vue/src/components/Overlays.ts
Labels: package: angular, package: vue, package: react

#25151 fix(datetime): if no default value, don't highlight active day until one is selected
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/basic/datetime.e2e.ts
  core/src/components/datetime/test/basic/index.html
Labels: package: core

#25169 fix(core): inherit aria attributes on host elements (#25156)
  core/src/components/back-button/back-button.tsx
  core/src/components/button/button.tsx
  core/src/components/header/header.tsx
  core/src/components/input/input.tsx
  core/src/components/menu-button/menu-button.tsx
  core/src/components/menu/menu.tsx
  core/src/components/range/range.tsx
  core/src/components/textarea/textarea.tsx
  core/src/utils/helpers.ts
  core/src/utils/test/attributes.spec.ts
Labels: package: core

#25204 5.9.4
  CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  docs/package.json
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#25185 fix(modal): card modal can now be swiped to close on the content
  core/src/components/modal/gestures/swipe-to-close.ts
  core/src/components/modal/modal.tsx
  core/src/components/modal/test/card-scroll-target/index.html
  core/src/components/modal/test/card-scroll-target/modal.e2e.ts
  core/src/components/modal/test/card/index.html
  core/src/components/modal/test/card/modal.e2e.ts
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-present-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-present-ios-ltr-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-present-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-present-ios-rtl-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-stacked-present-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-stacked-present-ios-ltr-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-stacked-present-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-custom-stacked-present-ios-rtl-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-present-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-present-ios-ltr-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-present-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-present-ios-rtl-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-stacked-present-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-stacked-present-ios-ltr-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-stacked-present-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal.e2e.ts-snapshots/modal-card-stacked-present-ios-rtl-Mobile-Safari-linux.png
  core/src/utils/content/index.ts
  core/src/utils/test/playwright/drag-element.ts
Labels: package: core

#25207 test(modal): remove redundant header swipe test
  core/src/components/modal/test/card-scroll-target/modal.e2e.ts
Labels: package: core

#25206 fix(vue): switching between tabs and going back resolves to correct route
  packages/vue-router/src/locationHistory.ts
  packages/vue-router/src/router.ts
  packages/vue-router/src/types.ts
  packages/vue/test-app/src/main.ts
  packages/vue/test-app/tests/e2e/specs/hbb.js
  packages/vue/test-app/tests/e2e/specs/tabs.js
  packages/vue/test-app/tests/e2e/support/commands.js
Labels: package: vue

#25209 fix(react): useIonModal/useIonPopover dismiss accepts data and role
  packages/react/src/hooks/useIonModal.ts
  packages/react/src/hooks/useOverlay.ts
  packages/react/test-app/cypress/integration/overlay-hooks/useIonModal.spec.ts
  packages/react/test-app/src/pages/overlay-hooks/ModalHook.tsx
Labels: package: react

#25211 test(picker-column-internal): migrate tests to playwright
  core/playwright.config.ts
  core/src/components/picker-column-internal/test/basic/e2e.ts
  core/src/components/picker-column-internal/test/basic/picker-column-internal.e2e.ts
  core/src/utils/test/playwright/index.ts
  core/src/utils/test/playwright/matchers/index.ts
  core/src/utils/test/playwright/matchers/toHaveReceivedEvent.ts
  core/src/utils/test/playwright/testExpect.d.ts
Labels: package: core

#25205 fix(datetime): hide footer when month-year picker is open
  core/src/components/datetime/datetime.scss
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/month-year-picker/datetime.e2e.ts
  core/src/components/datetime/test/month-year-picker/index.html
Labels: package: core
