Repository ionic-team/ionic-framework, pull requests merged in 2022-08, with the labels that each got.

#25699 fix(datetime): selecting today with multiple date select now works
  core/src/components/datetime/datetime.tsx
Labels: package: core

#25694 fix(datetime): display time in user's timezone after selection
  core/src/components/datetime/test/format.spec.ts
  core/src/components/datetime/utils/format.ts
Labels: package: core

#25710 Release 6.2.1
  .github/workflows/release.yml
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/format.spec.ts
  core/src/components/datetime/utils/format.ts
  core/src/css/core.scss
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  package-lock.json
  package.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/components/navigation/IonNav.tsx
  packages/react/src/framework-delegate.tsx
  packages/react/test-app/cypress/integration/navigation/IonNav.spec.ts
  packages/react/test-app/src/pages/navigation/NavComponent.tsx
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#25709 Release 6.2.1
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#25702 feat(alert): accept Promise for button handler
  core/src/components/alert/alert-interface.ts
  core/src/components/alert/alert.tsx
  core/src/components/alert/test/basic/alert.e2e.ts
  core/src/components/alert/test/basic/index.html
Labels: package: core

#25704 test(searchbar): migrate tests to Playwright
  core/src/components/searchbar/test/basic/e2e.ts
  core/src/components/searchbar/test/basic/index.html
  core/src/components/searchbar/test/basic/searchbar.e2e.ts
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/searchbar/test/rtl/e2e.ts
  core/src/components/searchbar/test/rtl/index.html
  core/src/components/searchbar/test/standalone/e2e.ts
  core/src/components/searchbar/test/standalone/index.html
  core/src/components/searchbar/test/standalone/searchbar.e2e.ts
  core/src/components/searchbar/test/standalone/searchbar.e2e.ts-snapshots/searchbar-standalone-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/standalone/searchbar.e2e.ts-snapshots/searchbar-standalone-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/standalone/searchbar.e2e.ts-snapshots/searchbar-standalone-ios-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/standalone/searchbar.e2e.ts-snapshots/searchbar-standalone-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/standalone/searchbar.e2e.ts-snapshots/searchbar-standalone-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/standalone/searchbar.e2e.ts-snapshots/searchbar-standalone-ios-rtl-Mobile-Safari-linux.png
  core/src/components/searchbar/test/standalone/searchbar.e2e.ts-snapshots/searchbar-standalone-md-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/standalone/searchbar.e2e.ts-snapshots/searchbar-standalone-md-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/standalone/searchbar.e2e.ts-snapshots/searchbar-standalone-md-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/standalone/searchbar.e2e.ts-snapshots/searchbar-standalone-md-rtl-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/standalone/searchbar.e2e.ts-snapshots/searchbar-standalone-md-rtl-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/standalone/searchbar.e2e.ts-snapshots/searchbar-standalone-md-rtl-Mobile-Safari-linux.png
  core/src/components/searchbar/test/toolbar/e2e.ts
  core/src/components/searchbar/test/toolbar/index.html
Labels: package: core

#25703 fix(react): outlet will not clear in react 18 with hot reload
  packages/react-router/src/ReactRouter/StackManager.tsx
  packages/react/src/routing/ViewStacks.ts
Labels: package: react

#25713 test(radio-group): migrate tests to playwright
  core/src/components/radio-group/test/basic/index.html
  core/src/components/radio-group/test/basic/radio-group.e2e.ts
  core/src/components/radio-group/test/basic/radio-group.e2e.ts-snapshots/radio-group-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/radio-group/test/basic/radio-group.e2e.ts-snapshots/radio-group-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/radio-group/test/basic/radio-group.e2e.ts-snapshots/radio-group-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/radio-group/test/basic/radio-group.e2e.ts-snapshots/radio-group-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/radio-group/test/basic/radio-group.e2e.ts-snapshots/radio-group-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/radio-group/test/basic/radio-group.e2e.ts-snapshots/radio-group-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/radio-group/test/basic/radio-group.e2e.ts-snapshots/radio-group-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/radio-group/test/basic/radio-group.e2e.ts-snapshots/radio-group-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/radio-group/test/basic/radio-group.e2e.ts-snapshots/radio-group-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/radio-group/test/basic/radio-group.e2e.ts-snapshots/radio-group-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/radio-group/test/basic/radio-group.e2e.ts-snapshots/radio-group-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/radio-group/test/basic/radio-group.e2e.ts-snapshots/radio-group-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/radio-group/test/form/radio-group.e2e.ts
  core/src/components/radio-group/test/radio-group.e2e.ts
  core/src/components/radio-group/test/search/radio-group.e2e.ts
Labels: package: core

#25727 fix(angular): DatetimeButton is declared on IonicModule
  angular/src/ionic-module.ts
Labels: package: angular

#25716 fix(datetime): add correct null check when value changes
  core/src/components/datetime/datetime.tsx
Labels: package: core

#25732 fix(vue): go back to correct view with memory history
  packages/vue-router/src/router.ts
  packages/vue/test-app/tests/unit/memory.spec.ts
Labels: package: vue

#25726 fix(datetime): preferWheel respects column ordering by locale
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/prefer-wheel/datetime.e2e.ts
  core/src/components/datetime/utils/helpers.ts
Labels: package: core

#25747 Release 6.2.2
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#25725 fix(item): form validation caret color renders correctly
  core/src/components/item/item.md.scss
  core/src/components/item/item.scss
  core/src/components/item/test/fill/index.html
Labels: package: core

#25733 test(accordion): standalone waits before capturing screenshot
  core/src/components/accordion/test/standalone/accordion.e2e.ts
  core/src/components/accordion/test/standalone/accordion.e2e.ts-snapshots/accordion-standalone-ios-ltr-Mobile-Safari-linux.png
  core/src/components/accordion/test/standalone/accordion.e2e.ts-snapshots/accordion-standalone-ios-rtl-Mobile-Safari-linux.png
Labels: package: core

#25728 chore(angular): use generated proxy declarations
  angular/src/directives/control-value-accessors/numeric-value-accessor.ts
  angular/src/directives/proxies-list.ts
  angular/src/index.ts
  angular/src/ionic-module.ts
  core/stencil.config.ts
Labels: package: core, package: angular

#25749 fix(input): exclude date inputs from scroll assist
  core/src/utils/input-shims/input-shims.ts
Labels: package: core

#25756 fix(datetime): highlights now show above content in modal
  core/src/components/picker-internal/picker-internal.scss
Labels: package: core

#25750 fix(refresher): refresher is visible with multiple custom scroll targets
  core/src/components.d.ts
  core/src/components/content/content.tsx
  core/src/components/refresher/refresher.tsx
Labels: package: core

#25758 test(playwright): add new utilities for skipping tests
  core/playwright.config.ts
  core/src/components/accordion/test/a11y/accordion.e2e.ts
  core/src/components/action-sheet/test/basic/action-sheet.e2e.ts
  core/src/components/action-sheet/test/translucent/action-sheet.e2e.ts
  core/src/components/app/test/safe-area/app.e2e.ts
  core/src/components/button/test/basic/button.e2e.ts
  core/src/components/datetime-button/test/basic/datetime-button.e2e.ts
  core/src/components/datetime-button/test/disabled/datetime-button.e2e.ts
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts
  core/src/components/datetime/test/basic/datetime.e2e.ts
  core/src/components/datetime/test/disable-dates/datetime.e2e.ts
  core/src/components/datetime/test/multiple/datetime.e2e.ts
  core/src/components/datetime/test/presentation/datetime.e2e.ts
  core/src/components/header/test/condense/header.e2e.ts
  core/src/components/input/test/a11y/input.e2e.ts
  core/src/components/input/test/masking/input.e2e.ts
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts
  core/src/components/item-sliding/test/scroll-target/item-sliding.e2e.ts
  core/src/components/item/test/inputs/item.e2e.ts
  core/src/components/modal/test/basic/modal.e2e.ts
  core/src/components/modal/test/canDismiss/modal.e2e.ts
  core/src/components/modal/test/card-nav/modal.e2e.ts
  core/src/components/modal/test/card-refresher/modal.e2e.ts
  core/src/components/modal/test/card-scroll-target/modal.e2e.ts
  core/src/components/modal/test/card/modal.e2e.ts
  core/src/components/modal/test/custom-dialog/modal.e2e.ts
  core/src/components/picker-column-internal/test/basic/picker-column-internal.e2e.ts
  core/src/components/popover/test/dismissOnSelect/popover.e2e.ts
  core/src/components/radio-group/test/basic/radio-group.e2e.ts
  core/src/components/radio-group/test/search/radio-group.e2e.ts
  core/src/components/radio/test/a11y/radio.e2e.ts
  core/src/components/radio/test/basic/radio.e2e.ts
  core/src/components/range/test/basic/range.e2e.ts
  core/src/components/range/test/scroll-target/range.e2e.ts
  core/src/components/select/test/async/select.e2e.ts
  core/src/components/select/test/compare-with/select.e2e.ts
  core/src/utils/test/overlays/overlays.e2e.ts
  core/src/utils/test/playwright/README.md
  core/src/utils/test/playwright/playwright-declarations.ts
  core/src/utils/test/playwright/playwright-page.ts
Labels: package: core

#25746 fix(footer): remove toolbar bottom padding if near bottom slot tabs or keyboard is open
  core/src/components/footer/footer.scss
  core/src/components/footer/footer.tsx
  core/src/components/footer/test/with-tabs/footer.e2e.ts
  core/src/components/footer/test/with-tabs/footer.e2e.ts-snapshots/footer-with-tabs-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/footer/test/with-tabs/footer.e2e.ts-snapshots/footer-with-tabs-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/footer/test/with-tabs/footer.e2e.ts-snapshots/footer-with-tabs-ios-ltr-Mobile-Safari-linux.png
  core/src/components/footer/test/with-tabs/footer.e2e.ts-snapshots/footer-with-tabs-md-ltr-Mobile-Chrome-linux.png
  core/src/components/footer/test/with-tabs/footer.e2e.ts-snapshots/footer-with-tabs-md-ltr-Mobile-Firefox-linux.png
  core/src/components/footer/test/with-tabs/footer.e2e.ts-snapshots/footer-with-tabs-md-ltr-Mobile-Safari-linux.png
  core/src/components/footer/test/with-tabs/index.html
  core/src/components/tab-bar/tab-bar.tsx
  core/src/utils/keyboard/keyboard-controller.ts
  core/src/utils/keyboard/test/keyboard-controller.spec.ts
Labels: package: core

#25767 fix(css): preserve whitespace in selectors when minifying css
  core/package-lock.json
  core/package.json
Labels: package: core

#25769 chore(ci): account for components.d.ts in clean build
  .github/workflows/actions/build-core/action.yml
  core/src/components.d.ts
Labels: package: core

#25773 Release 6.2.3
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#25789 fix(datetime): close month/year picker when hidden
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/basic/datetime.e2e.ts
Labels: package: core

#25764 fix(select): compareWith passes params in correct order
  core/src/components/select/select.tsx
  core/src/components/select/test/compare-with/select.e2e.ts
Labels: package: core

#25783 fix(refresher): use componentOnReady utility for CE build
  core/src/components/refresher/refresher.tsx
Labels: package: core

#25799 chore(): update stencil to resolve css hmr issue
  core/package-lock.json
  core/package.json
Labels: package: core

#25800 fix(alert): add default aria-label
  core/src/components/alert/alert.tsx
  core/src/components/alert/test/a11y/alert.e2e.ts
  core/src/components/alert/test/a11y/index.html
Labels: package: core

#25796 fix(breadcrumb): separator is not announced by narrators
  core/src/components/breadcrumb/breadcrumb.tsx
  core/src/components/breadcrumbs/test/breadcrumbs.spec.ts
Labels: package: core

#25768 chore(eslint): add strict-boolean-expressions rule
  core/.eslintignore
  core/.eslintrc.js
  core/src/components/accordion-group/accordion-group.tsx
  core/src/components/accordion/accordion.tsx
  core/src/components/alert/alert.tsx
  core/src/components/datetime-button/datetime-button.tsx
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/utils/comparison.ts
  core/src/components/datetime/utils/data.ts
  core/src/components/datetime/utils/format.ts
  core/src/components/header/header.utils.ts
  core/src/components/infinite-scroll-content/infinite-scroll-content.tsx
  core/src/components/item/item.tsx
  core/src/components/loading/loading.tsx
  core/src/components/modal/modal.tsx
  core/src/components/nav/nav.tsx
  core/src/components/picker-column/picker-column.tsx
  core/src/components/range/range.tsx
  core/src/components/refresher-content/refresher-content.tsx
  core/src/components/refresher/refresher.tsx
  core/src/components/reorder-group/test/test.utils.ts
  core/src/components/searchbar/searchbar.tsx
  core/src/components/segment/segment.tsx
  core/src/components/spinner/spinner.tsx
  core/src/components/virtual-scroll/virtual-scroll-utils.ts
  core/src/components/virtual-scroll/virtual-scroll.tsx
  core/src/utils/animation/animation-utils.ts
  core/src/utils/content/index.ts
  core/src/utils/focus-visible.ts
  core/src/utils/gesture/gesture-controller.ts
  core/src/utils/gesture/index.ts
  core/src/utils/input-shims/hacks/scroll-data.ts
  core/src/utils/tap-click/index.ts
  core/src/utils/test/playwright/matchers/toHaveReceivedEvent.ts
  core/src/utils/test/playwright/matchers/toHaveReceivedEventDetail.ts
  core/src/utils/test/playwright/page/event-spy.ts
  core/src/utils/transition/ios.transition.ts
  core/src/utils/transition/md.transition.ts
Labels: package: core

#25786 fix(vue): lifecycles now fire on tabs pages
  packages/vue/src/components/IonRouterOutlet.ts
  packages/vue/test-app/tests/unit/lifecycle.spec.ts
Labels: package: vue

#25798 fix(react): duplicate page transitions do not happen on react 18
  packages/react-router/src/ReactRouter/StackManager.tsx
  packages/react/src/routing/OutletPageManager.tsx
Labels: package: react

#25804 fix(modal): role attribute can be customized
  core/src/components/modal/modal.tsx
  core/src/components/modal/test/a11y/index.html
  core/src/components/modal/test/a11y/modal.e2e.ts
Labels: package: core

#25805 fix(alert): use aria-labelledby and aria-describedby instead of aria-label
  core/src/components/alert/alert.tsx
  core/src/components/alert/test/a11y/alert.e2e.ts
  core/src/components/alert/test/a11y/index.html
Labels: package: core

#25811 fix(overlays): dismiss on keydown to avoid chrome for windows and firefox bug
  BREAKING.md
  core/src/utils/overlays.ts
Labels: package: core

#25814 Release 6.2.4
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#25816 fix(angular): router outlet has mode property
  angular/src/directives/navigation/ion-router-outlet.ts
Labels: package: angular

#25807 test(progress-bar): migrate to playwright
  core/src/components/progress-bar/test/basic/e2e.ts
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-ios-ltr-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-ios-rtl-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-md-ltr-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-md-ltr-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-md-ltr-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-md-rtl-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-md-rtl-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-md-rtl-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/standalone/e2e.ts
  core/src/components/progress-bar/test/standalone/progress-bar.e2e.ts
  core/src/components/progress-bar/test/standalone/progress-bar.e2e.ts-snapshots/progress-bar-standalone-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/standalone/progress-bar.e2e.ts-snapshots/progress-bar-standalone-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/standalone/progress-bar.e2e.ts-snapshots/progress-bar-standalone-ios-ltr-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/standalone/progress-bar.e2e.ts-snapshots/progress-bar-standalone-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/standalone/progress-bar.e2e.ts-snapshots/progress-bar-standalone-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/standalone/progress-bar.e2e.ts-snapshots/progress-bar-standalone-ios-rtl-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/standalone/progress-bar.e2e.ts-snapshots/progress-bar-standalone-md-ltr-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/standalone/progress-bar.e2e.ts-snapshots/progress-bar-standalone-md-ltr-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/standalone/progress-bar.e2e.ts-snapshots/progress-bar-standalone-md-ltr-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/standalone/progress-bar.e2e.ts-snapshots/progress-bar-standalone-md-rtl-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/standalone/progress-bar.e2e.ts-snapshots/progress-bar-standalone-md-rtl-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/standalone/progress-bar.e2e.ts-snapshots/progress-bar-standalone-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#25808 feat(virtual-scroll): remove virtual scroll component
  BREAKING.md
  angular/.eslintignore
  angular/.eslintrc.json
  angular/.prettierignore
  angular/src/directives/virtual-scroll/virtual-footer.ts
  angular/src/directives/virtual-scroll/virtual-header.ts
  angular/src/directives/virtual-scroll/virtual-item.ts
  angular/src/directives/virtual-scroll/virtual-scroll.ts
  angular/src/directives/virtual-scroll/virtual-utils.ts
  angular/src/index.ts
  angular/src/ionic-module.ts
  angular/test/base/e2e/src/virtual-scroll.spec.ts
  angular/test/base/src/app/app-routing.module.ts
  angular/test/base/src/app/app.module.ts
  angular/test/base/src/app/home-page/home-page.component.html
  angular/test/base/src/app/virtual-scroll-detail/virtual-scroll-detail.component.html
  angular/test/base/src/app/virtual-scroll-detail/virtual-scroll-detail.component.ts
  angular/test/base/src/app/virtual-scroll-inner/virtual-scroll-inner.component.html
  angular/test/base/src/app/virtual-scroll-inner/virtual-scroll-inner.component.ts
  angular/test/base/src/app/virtual-scroll/virtual-scroll.component.html
  angular/test/base/src/app/virtual-scroll/virtual-scroll.component.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/virtual-scroll/constants.ts
  core/src/components/virtual-scroll/test/basic/e2e.ts
  core/src/components/virtual-scroll/test/basic/index.html
  core/src/components/virtual-scroll/test/cards/e2e.ts
  core/src/components/virtual-scroll/test/cards/index.html
  core/src/components/virtual-scroll/test/virtual-scroll-utils.spec.ts
  core/src/components/virtual-scroll/virtual-scroll-interface.ts
  core/src/components/virtual-scroll/virtual-scroll-utils.ts
  core/src/components/virtual-scroll/virtual-scroll.scss
  core/src/components/virtual-scroll/virtual-scroll.tsx
  core/src/interface.d.ts
  core/stencil.config.ts
  packages/angular-server/src/ionic-server-module.ts
  packages/react/README.md
  packages/react/src/components/proxies.ts
  packages/react/src/components/utils/ionRenderToString.ts
  packages/vue/src/proxies.ts
  packages/vue/types/proxies.d.ts
Labels: package: core, package: angular, package: vue, package: react

#25821 fix(modal): handleBehavior can be used with controller
  core/src/components/modal/modal-interface.ts
Labels: package: core

#25822 perf(item): remove delegatesFocus patch for iOS 13
  core/src/components.d.ts
  core/src/components/input/input.tsx
  core/src/components/item/item.tsx
  core/src/components/textarea/textarea.tsx
  packages/vue/src/proxies.ts
Labels: package: core, package: vue

#25829 refactor(core): remove global hidden attribute
  BREAKING.md
  core/src/css/core.scss
Labels: package: core

#25834 chore(icon): update ionicons dependency
  core/package-lock.json
  core/package.json
Labels: package: core

#25828 fix(searchbar): clear button has focus indicator
  core/src/components/input/input.scss
  core/src/components/searchbar/searchbar.scss
Labels: package: core

#25845 fix(datetime): next and previous buttons have correct labels
  core/src/components/datetime/datetime.tsx
Labels: package: core

#25838 refactor(datetime): use key to preserve calendar body ref node
  core/src/components/datetime/datetime.tsx
Labels: package: core

#25837 fix(action-sheet): add aria-labelledby
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/action-sheet/test/a11y/action-sheet.e2e.ts
  core/src/components/action-sheet/test/a11y/index.html
Labels: package: core

#25825 fix(input): clear button is not activated on swipe
  core/src/components/input/input.tsx
  core/src/components/input/test/basic/input.e2e.ts
Labels: package: core

#25853 test(accordion): avoid scroll assist cloned input
  core/src/components/accordion/test/a11y/accordion.e2e.ts
Labels: package: core

#25836 fix(datetime): passing min/max no longer errors on missing date information
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/parse.spec.ts
  core/src/components/datetime/utils/parse.ts
Labels: package: core

#25835 fix(datetime): only log out of bounds warning if value set
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/minmax/datetime.e2e.ts
  core/src/components/datetime/test/parse.spec.ts
  core/src/components/datetime/utils/parse.ts
Labels: package: core

#25864 Release 6.2.5
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react
