Repository ionic-team/ionic-framework, pull requests merged in 2022-11, with the labels that each got.

#26203 test(datetime): fix ionChange wheel test
  core/src/components/datetime/test/prefer-wheel/datetime.e2e.ts
Labels: package: core

#26176 feat(input, textarea): ionInput and ionChange pass event and value
  BREAKING.md
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/input/input-interface.ts
  core/src/components/input/input.tsx
  core/src/components/input/test/input-events.e2e.ts
  core/src/components/textarea/test/textarea-events.e2e.ts
  core/src/components/textarea/textarea-interface.ts
  core/src/components/textarea/textarea.tsx
Labels: package: core, package: angular

#26204 chore(): sync feature-6.4 with main
  core/src/components/datetime/test/prefer-wheel/datetime.e2e.ts
  core/src/components/item/item.mixins.scss
  core/src/components/item/item.vars.scss
  core/src/components/menu-button/test/a11y/e2e.ts
  core/src/components/menu-button/test/a11y/menu-button.e2e.ts
  core/src/components/menu-button/test/basic/e2e.ts
  core/src/components/menu-button/test/basic/menu-button.e2e.ts
  core/src/components/menu-button/test/basic/menu-button.e2e.ts-snapshots/menu-button-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/menu-button/test/basic/menu-button.e2e.ts-snapshots/menu-button-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/menu-button/test/basic/menu-button.e2e.ts-snapshots/menu-button-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/menu-button/test/basic/menu-button.e2e.ts-snapshots/menu-button-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/menu-button/test/basic/menu-button.e2e.ts-snapshots/menu-button-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/menu-button/test/basic/menu-button.e2e.ts-snapshots/menu-button-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/modal/modal.tsx
  core/src/components/modal/test/a11y/modal.e2e.ts
Labels: package: core

#26189 perf(many): reduce delay when performing overlay or page transitions
  angular/src/directives/navigation/stack-controller.ts
  core/src/components/modal/modal.tsx
  core/src/components/popover/popover.tsx
  core/src/components/router-outlet/route-outlet.tsx
  core/src/utils/helpers.ts
  core/src/utils/transition/index.ts
  packages/react-router/src/ReactRouter/StackManager.tsx
  packages/vue/src/components/IonRouterOutlet.ts
Labels: package: core, package: angular, package: vue, package: react

#26209 Release 6.3.4
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#26205 fix(vue): generate web-types for components
  packages/vue/scripts/build-web-types.js
Labels: package: vue

#26191 fix(vue): loading is created as an inline component
  packages/vue/scripts/copy-overlays.js
  packages/vue/src/components/Overlays.ts
  packages/vue/test/base/tests/e2e/specs/overlays.cy.js
Labels: package: vue

#26172 feat(action-sheet): use action sheet overlay inline
  core/api.txt
  core/src/components.d.ts
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/action-sheet/test/isOpen/action-sheet.e2e.ts
  core/src/components/action-sheet/test/isOpen/index.html
  core/src/components/action-sheet/test/trigger/action-sheet.e2e.ts
  core/src/components/action-sheet/test/trigger/index.html
  packages/react/src/components/IonActionSheet.tsx
  packages/react/test-app/tests/e2e/specs/overlay-components/IonActionSheet.cy.ts
  packages/vue/scripts/copy-overlays.js
  packages/vue/src/components/Overlays.ts
  packages/vue/test/base/tests/e2e/specs/overlays.cy.js
Labels: package: core, package: vue, package: react

#26154 fix(overlays): presenting an overlay does not create nested elements
  core/src/components/datetime-button/test/basic/datetime-button.e2e.ts
  core/src/components/modal/test/inline/modal.e2e.ts
  core/src/utils/framework-delegate.ts
Labels: package: core

#26197 test(angular): ng15 test infrastructure
  .github/workflows/actions/test-angular-e2e/action.yml
  .github/workflows/build.yml
  angular/test/apps/ng12/src/app/form/form.component.ts
  angular/test/apps/ng13/src/app/form/form.component.ts
  angular/test/apps/ng15/e2e/src/standalone-routing.spec.ts
  angular/test/apps/ng15/package-lock.json
  angular/test/apps/ng15/package.json
  angular/test/apps/ng15/src/app/app.component.html
  angular/test/apps/ng15/src/app/app.component.ts
  angular/test/apps/ng15/src/app/version-test/standalone/standalone.component.html
  angular/test/apps/ng15/src/app/version-test/standalone/standalone.component.ts
  angular/test/apps/ng15/src/app/version-test/version-test-routing.module.ts
  angular/test/apps/ng15/tsconfig.json
  angular/test/base/src/app/accordion/accordion-modal/accordion-modal.component.ts
  angular/test/base/src/app/form/form.component.html
  angular/test/base/src/app/form/form.component.ts
  angular/test/base/src/app/inputs/inputs.component.ts
  angular/test/base/src/app/modal-example/modal-example.component.ts
  angular/test/base/src/app/popover-inline/popover-inline.component.ts
  angular/test/base/src/app/providers/providers.component.ts
  angular/test/base/src/app/router-link-page/router-link-page.component.ts
  angular/test/base/src/app/slides/slides.component.ts
  angular/test/base/src/app/tabs-tab1-nested/tabs-tab1-nested.component.ts
  angular/test/base/src/app/tabs/tabs.component.ts
  angular/test/base/src/app/view-child/view-child.component.ts
  angular/test/base/src/app/virtual-scroll-detail/virtual-scroll-detail.component.ts
  angular/test/base/src/app/virtual-scroll-inner/virtual-scroll-inner.component.ts
  angular/test/base/src/app/virtual-scroll/virtual-scroll.component.ts
Labels: package: angular

#26222 fix(react): loading layout is correct with no message
  packages/react/src/hooks/useIonLoading.tsx
Labels: package: react

#26192 feat(input): add new js and css props
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/input/input.scss
  core/src/components/input/input.tsx
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#26194 feat(input): add base functionality and tests
  core/src/components/input/input.tsx
  core/src/components/input/test/a11y/index.html
Labels: package: core

#26196 feat(input): add helper and error text
  core/src/components/input/input.ios.scss
  core/src/components/input/input.md.scss
  core/src/components/input/input.scss
  core/src/components/input/input.tsx
  core/src/components/input/test/bottom-content/index.html
  core/src/components/input/test/bottom-content/input.e2e.ts
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-error-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-error-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-error-ios-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-error-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-error-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-error-ios-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-error-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-error-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-error-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-error-md-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-error-md-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-error-md-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-helper-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-helper-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-helper-ios-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-helper-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-helper-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-helper-ios-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-helper-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-helper-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-helper-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-helper-md-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-helper-md-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-helper-md-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-error-custom-color-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-error-custom-color-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-error-custom-color-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/item.tsx
Labels: package: core

#26200 feat(input): add counter and counterFormatter
  core/src/components.d.ts
  core/src/components/input/input.md.scss
  core/src/components/input/input.scss
  core/src/components/input/input.tsx
  core/src/components/input/input.utils.ts
  core/src/components/input/test/bottom-content/index.html
  core/src/components/input/test/bottom-content/input.e2e.ts
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-counter-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-counter-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-counter-ios-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-counter-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-counter-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-counter-ios-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-counter-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-counter-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-counter-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-counter-md-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-counter-md-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/bottom-content/input.e2e.ts-snapshots/input-bottom-content-counter-md-rtl-Mobile-Safari-linux.png
  core/src/components/item/item.tsx
Labels: package: core

#26215 feat(toast): add ability to use toast inline
  core/api.txt
  core/src/components.d.ts
  core/src/components/toast/test/isOpen/index.html
  core/src/components/toast/test/isOpen/toast.e2e.ts
  core/src/components/toast/test/trigger/index.html
  core/src/components/toast/test/trigger/toast.e2e.ts
  core/src/components/toast/toast.tsx
  packages/react/src/components/IonToast.tsx
  packages/react/test-app/tests/e2e/specs/overlay-components/IonToast.cy.ts
  packages/vue/scripts/copy-overlays.js
  packages/vue/src/components/Overlays.ts
  packages/vue/test/base/tests/e2e/specs/overlays.cy.js
Labels: package: core, package: vue, package: react

#26223 feat(radio-group): ionChange will only emit from user committed changes
  BREAKING.md
  core/src/components.d.ts
  core/src/components/radio-group/radio-group-interface.ts
  core/src/components/radio-group/radio-group.tsx
  core/src/components/radio-group/test/basic/radio-group.e2e.ts
  core/src/components/radio-group/test/form/radio-group.e2e.ts
  core/src/components/radio-group/test/radio-group-events.e2e.ts
  core/src/components/radio/radio.tsx
  core/src/components/select/test/basic/select.e2e.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: vue

#26241 fix(datetime): day periods render correctly based on min/max
  core/src/components/datetime/test/data.spec.ts
  core/src/components/datetime/utils/data.ts
Labels: package: core

#26226 fix(input): address activation quirks
  core/src/components/input/input.scss
  core/src/components/input/input.tsx
  core/src/components/input/test/input.e2e.ts
Labels: package: core

#26227 feat(input): add disabled state
  core/src/components/input/input.scss
  core/src/components/input/test/states/index.html
  core/src/components/input/test/states/input.e2e.ts
  core/src/components/input/test/states/input.e2e.ts-snapshots/input-disabled-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/states/input.e2e.ts-snapshots/input-disabled-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/states/input.e2e.ts-snapshots/input-disabled-ios-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/states/input.e2e.ts-snapshots/input-disabled-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/states/input.e2e.ts-snapshots/input-disabled-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/states/input.e2e.ts-snapshots/input-disabled-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/states/input.e2e.ts-snapshots/input-readonly-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/states/input.e2e.ts-snapshots/input-readonly-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/states/input.e2e.ts-snapshots/input-readonly-ios-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/states/input.e2e.ts-snapshots/input-readonly-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/states/input.e2e.ts-snapshots/input-readonly-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/states/input.e2e.ts-snapshots/input-readonly-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#26244 fix(android): account for chrome 108 resize
  core/src/components/app/app.tsx
  core/src/components/input/input.scss
  core/src/components/textarea/textarea.scss
  core/src/utils/input-shims/hacks/common.ts
  core/src/utils/input-shims/hacks/scroll-assist.ts
  core/src/utils/input-shims/input-shims.ts
Labels: package: core

#26250 Release 6.3.5
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#26255 fix(react): inline overlays display contents consistently
  packages/react/src/components/createInlineOverlayComponent.tsx
  packages/react/test-app/tests/e2e/specs/overlay-components/KeepContentsMounted.cy.ts
Labels: package: react

#26195 fix(datetime): flip chevron icons when RTL is set on component directly
  core/package-lock.json
  core/package.json
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/basic/datetime.e2e.ts
Labels: package: core

#26073 feat(input, textarea): change default debounce to undefined
  BREAKING.md
  core/api.txt
  core/src/components.d.ts
  core/src/components/input/input.tsx
  core/src/components/input/test/clearOnEdit/input.e2e.ts
  core/src/components/searchbar/searchbar.tsx
  core/src/components/textarea/textarea.tsx
Labels: package: core

#26262 Release 6.3.6
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#26230 fix(popover): inline popover positioning with fit-content or auto width
  angular/src/directives/overlays/popover.ts
  core/src/components.d.ts
  core/src/components/popover/popover.tsx
  core/src/components/popover/utils.ts
Labels: package: core, package: angular

#26228 feat(input): fill and outline support
  core/src/components/input/input.md.outline.scss
  core/src/components/input/input.md.scss
  core/src/components/input/input.md.solid.scss
  core/src/components/input/input.scss
  core/src/components/input/input.tsx
  core/src/components/input/test/a11y/index.html
  core/src/components/input/test/fill/index.html
  core/src/components/input/test/fill/input.e2e.ts
  core/src/components/input/test/fill/input.e2e.ts-snapshots/input-fill-outline-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/fill/input.e2e.ts-snapshots/input-fill-outline-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/fill/input.e2e.ts-snapshots/input-fill-outline-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/fill/input.e2e.ts-snapshots/input-fill-outline-md-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/fill/input.e2e.ts-snapshots/input-fill-outline-md-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/fill/input.e2e.ts-snapshots/input-fill-outline-md-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/fill/input.e2e.ts-snapshots/input-fill-shaped-outline-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/fill/input.e2e.ts-snapshots/input-fill-shaped-outline-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/fill/input.e2e.ts-snapshots/input-fill-shaped-outline-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/fill/input.e2e.ts-snapshots/input-fill-shaped-outline-md-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/fill/input.e2e.ts-snapshots/input-fill-shaped-outline-md-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/fill/input.e2e.ts-snapshots/input-fill-shaped-outline-md-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/fill/input.e2e.ts-snapshots/input-fill-shaped-solid-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/fill/input.e2e.ts-snapshots/input-fill-shaped-solid-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/fill/input.e2e.ts-snapshots/input-fill-shaped-solid-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/fill/input.e2e.ts-snapshots/input-fill-shaped-solid-md-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/fill/input.e2e.ts-snapshots/input-fill-shaped-solid-md-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/fill/input.e2e.ts-snapshots/input-fill-shaped-solid-md-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/fill/input.e2e.ts-snapshots/input-fill-solid-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/fill/input.e2e.ts-snapshots/input-fill-solid-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/fill/input.e2e.ts-snapshots/input-fill-solid-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/fill/input.e2e.ts-snapshots/input-fill-solid-md-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/fill/input.e2e.ts-snapshots/input-fill-solid-md-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/fill/input.e2e.ts-snapshots/input-fill-solid-md-rtl-Mobile-Safari-linux.png
  core/src/components/item/item.tsx
Labels: package: core

#26237 feat(input): add color prop support
  core/src/components/input/input.md.scss
  core/src/components/input/input.scss
  core/src/components/input/test/color/index.html
  core/src/components/input/test/color/input.e2e.ts
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-no-fill-color-end-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-no-fill-color-end-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-no-fill-color-end-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-no-fill-color-fixed-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-no-fill-color-fixed-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-no-fill-color-fixed-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-no-fill-color-floating-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-no-fill-color-floating-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-no-fill-color-floating-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-no-fill-color-stacked-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-no-fill-color-stacked-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-no-fill-color-stacked-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-no-fill-color-start-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-no-fill-color-start-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-no-fill-color-start-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-outline-color-end-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-outline-color-end-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-outline-color-end-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-outline-color-fixed-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-outline-color-fixed-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-outline-color-fixed-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-outline-color-floating-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-outline-color-floating-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-outline-color-floating-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-outline-color-stacked-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-outline-color-stacked-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-outline-color-stacked-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-outline-color-start-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-outline-color-start-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-outline-color-start-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-solid-color-end-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-solid-color-end-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-solid-color-end-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-solid-color-fixed-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-solid-color-fixed-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-solid-color-fixed-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-solid-color-floating-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-solid-color-floating-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-solid-color-floating-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-solid-color-stacked-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-solid-color-stacked-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-solid-color-stacked-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-solid-color-start-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-solid-color-start-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-solid-color-start-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/highlight/input.e2e.ts
Labels: package: core

#26264 fix(datetime): clear button clears the selected date
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/basic/datetime.e2e.ts
Labels: package: core

#26248 fix(input): label position and overflow is correct
  core/src/components/input/input.md.outline.scss
  core/src/components/input/input.md.scss
  core/src/components/input/input.scss
  core/src/components/input/input.tsx
  core/src/components/input/test/input.e2e.ts
  core/src/components/input/test/label-placement/input.e2e.ts
  core/src/components/input/test/label-placement/input.e2e.ts-snapshots/input-placement-fixed-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/label-placement/input.e2e.ts-snapshots/input-placement-fixed-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/label-placement/input.e2e.ts-snapshots/input-placement-fixed-ios-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/label-placement/input.e2e.ts-snapshots/input-placement-fixed-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/label-placement/input.e2e.ts-snapshots/input-placement-fixed-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/label-placement/input.e2e.ts-snapshots/input-placement-fixed-ios-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/label-placement/input.e2e.ts-snapshots/input-placement-fixed-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/label-placement/input.e2e.ts-snapshots/input-placement-fixed-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/label-placement/input.e2e.ts-snapshots/input-placement-fixed-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/label-placement/input.e2e.ts-snapshots/input-placement-fixed-md-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/label-placement/input.e2e.ts-snapshots/input-placement-fixed-md-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/label-placement/input.e2e.ts-snapshots/input-placement-fixed-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#26275 test(angular): remove unnecessary wait
  angular/test/base/e2e/src/form.spec.ts
Labels: package: angular

#26187 test(menu): migrate to playwright
  core/src/components/menu/test/a11y/e2e.ts
  core/src/components/menu/test/a11y/index.html
  core/src/components/menu/test/a11y/menu.e2e.ts
  core/src/components/menu/test/basic/e2e.ts
  core/src/components/menu/test/basic/index.html
  core/src/components/menu/test/basic/menu.e2e.ts
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-custom-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-custom-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-custom-ios-ltr-Mobile-Safari-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-custom-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-custom-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-custom-ios-rtl-Mobile-Safari-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-custom-md-ltr-Mobile-Chrome-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-custom-md-ltr-Mobile-Firefox-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-custom-md-ltr-Mobile-Safari-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-custom-md-rtl-Mobile-Chrome-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-custom-md-rtl-Mobile-Firefox-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-custom-md-rtl-Mobile-Safari-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-end-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-end-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-end-ios-ltr-Mobile-Safari-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-end-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-end-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-end-ios-rtl-Mobile-Safari-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-end-md-ltr-Mobile-Chrome-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-end-md-ltr-Mobile-Firefox-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-end-md-ltr-Mobile-Safari-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-end-md-rtl-Mobile-Chrome-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-end-md-rtl-Mobile-Firefox-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-end-md-rtl-Mobile-Safari-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-start-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-start-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-start-ios-ltr-Mobile-Safari-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-start-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-start-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-start-ios-rtl-Mobile-Safari-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-start-md-ltr-Mobile-Chrome-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-start-md-ltr-Mobile-Firefox-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-start-md-ltr-Mobile-Safari-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-start-md-rtl-Mobile-Chrome-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-start-md-rtl-Mobile-Firefox-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-start-md-rtl-Mobile-Safari-linux.png
  core/src/components/menu/test/focus-trap/e2e.ts
  core/src/components/menu/test/focus-trap/index.html
  core/src/components/menu/test/focus-trap/menu.e2e.ts
  core/src/components/menu/test/standalone/e2e.ts
  core/src/components/menu/test/standalone/index.html
  core/src/components/menu/test/test.utils.ts
Labels: package: core

#26274 fix(popover): popover positioning for controller and inline
  core/src/components/popover/popover.tsx
Labels: package: core

#26265 refactor(ci): do not cache node modules
  .github/workflows/actions/build-angular/action.yml
  .github/workflows/actions/build-core/action.yml
  .github/workflows/actions/build-react-router/action.yml
  .github/workflows/actions/build-react/action.yml
  .github/workflows/actions/build-vue-router/action.yml
  .github/workflows/actions/build-vue/action.yml
  .github/workflows/actions/test-angular-e2e/action.yml
  .github/workflows/actions/test-core-e2e/action.yml
  .github/workflows/actions/test-core-lint/action.yml
  .github/workflows/actions/test-core-screenshot/action.yml
  .github/workflows/actions/test-core-spec/action.yml
  .github/workflows/actions/test-react-e2e/action.yml
  .github/workflows/actions/test-react-router-e2e/action.yml
  .github/workflows/actions/test-vue-e2e/action.yml
  angular/package-lock.json
  angular/package.json
  angular/scripts/build-core.js
  angular/scripts/sync.sh
  angular/test/apps/ng12/package-lock.json
  angular/test/apps/ng12/package.json
  angular/test/apps/ng13/package-lock.json
  angular/test/apps/ng13/package.json
  angular/test/apps/ng14/package-lock.json
  angular/test/apps/ng14/package.json
  angular/test/apps/ng15/package-lock.json
  angular/test/apps/ng15/package.json
  angular/test/base/scripts/sync.sh
  angular/tsconfig.json
  packages/react-router/scripts/sync.sh
  packages/react-router/test-app/package-lock.json
  packages/react-router/test-app/package.json
  packages/react-router/test-app/scripts/sync.sh
  packages/react/scripts/sync.sh
  packages/react/test-app/package-lock.json
  packages/react/test-app/package.json
  packages/react/test-app/scripts/sync.sh
  packages/vue-router/scripts/sync.sh
  packages/vue/scripts/sync.sh
  packages/vue/test/apps/vue3/package-lock.json
  packages/vue/test/apps/vue3/package.json
  packages/vue/test/base/scripts/sync.sh
Labels: package: angular, package: vue, package: react

#26257 fix(datetime): max and min works with showDefaultButtons
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/minmax/datetime.e2e.ts
Labels: package: core

#26266 chore(many): add tech debt tickets and remove unnecessary todos
  angular/src/directives/control-value-accessors/value-accessor.ts
  angular/src/directives/navigation/stack-utils.ts
  angular/src/util/overlay.ts
  angular/test/base/cypress/support/commands.js
  core/src/components/accordion/test/a11y/accordion.e2e.ts
  core/src/components/checkbox/checkbox.ios.scss
  core/src/components/checkbox/checkbox.md.scss
  core/src/components/content/content.scss
  core/src/components/content/content.tsx
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/parse.spec.ts
  core/src/components/item/item.ios.scss
  core/src/components/item/item.md.scss
  core/src/components/menu/menu.tsx
  core/src/components/nav/view-controller.ts
  core/src/components/picker-column/picker-column.tsx
  core/src/components/radio/test/basic/index.html
  core/src/components/refresher/refresher.tsx
  core/src/components/refresher/test/basic/refresher.e2e.ts
  core/src/components/refresher/test/scroll-target/refresher.e2e.ts
  core/src/components/reorder-group/reorder-group.tsx
  core/src/components/select/select.tsx
  core/src/components/slides/slides.tsx
  core/src/components/toggle/toggle.md.scss
  core/src/css/core.scss
  core/src/utils/animation/animation.ts
  core/src/utils/animation/cubic-bezier.ts
  core/src/utils/element-interface.ts
  core/src/utils/gesture/swipe-back.ts
  core/src/utils/input-shims/hacks/input-blurring.ts
  core/stencil.config.ts
  packages/react-router/src/ReactRouter/IonRouter.tsx
  packages/react-router/test-app/tests/e2e/specs/routing.cy.js
  packages/react-router/test-app/tests/e2e/support/commands.js
  packages/react/src/components/index.ts
  packages/vue-router/src/router.ts
  packages/vue-router/src/types.ts
  packages/vue/src/components/IonRouterOutlet.ts
  packages/vue/src/ionic-vue.ts
  packages/vue/src/utils.ts
Labels: package: core, package: angular, package: vue, package: react

#26286 test(title): migrate to Playwright
  core/src/components/title/test/basic/index.html
  core/src/components/title/test/basic/title.e2e.ts
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-basic-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-basic-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-basic-ios-ltr-Mobile-Safari-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-basic-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-basic-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-basic-ios-rtl-Mobile-Safari-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-basic-md-ltr-Mobile-Chrome-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-basic-md-ltr-Mobile-Firefox-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-basic-md-ltr-Mobile-Safari-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-basic-md-rtl-Mobile-Chrome-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-basic-md-rtl-Mobile-Firefox-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-basic-md-rtl-Mobile-Safari-linux.png
  core/src/components/title/test/scenarios/index.html
  core/src/components/title/test/sizes/e2e.ts
  core/src/components/title/test/sizes/index.html
Labels: package: core

#26284 fix(textarea): scrollbars are visible with overflow
  core/src/components/textarea/textarea.scss
Labels: package: core

#26269 refactor(ci): release process runs in parallel
  .github/workflows/actions/release/action.yml
  .github/workflows/release.yml
  angular/package.json
  core/package.json
  docs/package.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#26299 Release 6.3.7
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#26285 fix(segment): scrollable segments center button on click
  core/src/components/segment/segment.tsx
  core/src/components/segment/test/basic/index.html
Labels: package: core

#26288 test(text): migrate tests to playwright
  core/src/components/text/test/basic/e2e.ts
  core/src/components/text/test/basic/text.e2e.ts
  core/src/components/text/test/basic/text.e2e.ts-snapshots/text-color-md-ltr-Mobile-Chrome-linux.png
  core/src/components/text/test/basic/text.e2e.ts-snapshots/text-color-md-ltr-Mobile-Firefox-linux.png
  core/src/components/text/test/basic/text.e2e.ts-snapshots/text-color-md-ltr-Mobile-Safari-linux.png
  core/src/components/text/test/basic/text.e2e.ts-snapshots/text-md-ltr-Mobile-Chrome-linux.png
  core/src/components/text/test/basic/text.e2e.ts-snapshots/text-md-ltr-Mobile-Firefox-linux.png
  core/src/components/text/test/basic/text.e2e.ts-snapshots/text-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#26296 test(router-outlet): migrate tests to playwright
  core/src/components/router-outlet/test/basic/e2e.ts
  core/src/components/router-outlet/test/basic/index.html
  core/src/components/router-outlet/test/basic/router-outlet.e2e.ts
Labels: package: core

#26294 test(nav): migrate tests to playwright
  core/src/components/nav/test/basic/e2e.ts
  core/src/components/nav/test/basic/index.html
  core/src/components/nav/test/basic/nav.e2e.ts
  core/src/components/nav/test/nested/e2e.ts
  core/src/components/nav/test/nested/nav.e2e.ts
  core/src/components/nav/test/routing/e2e.ts
  core/src/components/nav/test/routing/nav.e2e.ts
Labels: package: core

#26307 test(input): add missing a11y test
  core/src/components/input/test/a11y/input.e2e.ts
Labels: package: core

#26289 fix(reorder-group): support custom components
  core/src/components/reorder-group/reorder-group.scss
  core/src/components/reorder-group/test/basic/e2e.ts
  core/src/components/reorder-group/test/basic/reorder-group.e2e.ts
  core/src/components/reorder-group/test/interactive/e2e.ts
  core/src/components/reorder-group/test/interactive/index.html
  core/src/components/reorder-group/test/interactive/reorder-group.e2e.ts
  core/src/components/reorder-group/test/nested/index.html
  core/src/components/reorder-group/test/nested/reorder-group.e2e.ts
  core/src/components/reorder-group/test/scroll-target/e2e.ts
  core/src/components/reorder-group/test/scroll-target/index.html
  core/src/components/reorder-group/test/scroll-target/reorder-group.e2e.ts
  core/src/components/reorder-group/test/test.utils.ts
Labels: package: core

#26320 chore(tests): harmonize Jest package version to address test file matching
  core/package-lock.json
  core/package.json
Labels: package: core

#25000 fix(react): export stable router reference for `useIonRouter` hook
  packages/react/src/components/IonRouterContext.tsx
Labels: package: react

#26214 fix(normalize): normalize css resets button padding
  core/src/css/normalize.scss
Labels: package: core

#26315 fix(toggle): rtl layout renders correctly in safari
  core/src/components/toggle/test/basic/toggle.e2e.ts-snapshots/toggle-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/toggle/test/basic/toggle.e2e.ts-snapshots/toggle-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/toggle/test/basic/toggle.e2e.ts-snapshots/toggle-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/toggle/test/basic/toggle.e2e.ts-snapshots/toggle-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/toggle/test/basic/toggle.e2e.ts-snapshots/toggle-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/toggle/test/basic/toggle.e2e.ts-snapshots/toggle-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/toggle/test/basic/toggle.e2e.ts-snapshots/toggle-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/toggle/test/basic/toggle.e2e.ts-snapshots/toggle-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/toggle/test/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-dark-mode-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/toggle/test/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-dark-mode-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/toggle/test/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-dark-mode-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/toggle/test/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-dark-mode-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/toggle/test/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-dark-mode-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/toggle/test/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-dark-mode-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/toggle/test/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-dark-mode-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/toggle/test/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-dark-mode-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/toggle/test/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/toggle/test/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/toggle/test/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/toggle/test/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/toggle/test/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/toggle/test/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/toggle/test/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/toggle/test/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/toggle/test/sizes/toggle.e2e.ts-snapshots/toggle-sizes-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/toggle/test/sizes/toggle.e2e.ts-snapshots/toggle-sizes-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/toggle/test/sizes/toggle.e2e.ts-snapshots/toggle-sizes-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/toggle/test/sizes/toggle.e2e.ts-snapshots/toggle-sizes-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/toggle/test/sizes/toggle.e2e.ts-snapshots/toggle-sizes-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/toggle/test/sizes/toggle.e2e.ts-snapshots/toggle-sizes-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/toggle/test/sizes/toggle.e2e.ts-snapshots/toggle-sizes-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/toggle/test/sizes/toggle.e2e.ts-snapshots/toggle-sizes-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/toggle/toggle.ios.scss
  core/src/components/toggle/toggle.scss
  core/src/components/toggle/toggle.tsx
Labels: package: core

#26313 chore(angular): test app support for angular 15
  .github/workflows/actions/test-angular-e2e/action.yml
  angular/test/apps/ng15/package-lock.json
  angular/test/apps/ng15/package.json
Labels: package: angular

#26328 chore(angular): remove unused dep from test apps
  angular/test/apps/ng12/package-lock.json
  angular/test/apps/ng12/package.json
  angular/test/apps/ng13/package-lock.json
  angular/test/apps/ng13/package.json
  angular/test/apps/ng14/package-lock.json
  angular/test/apps/ng14/package.json
Labels: package: angular

#26291 fix(modal): status bar style defaults to app settings
  core/src/components/modal/gestures/swipe-to-close.ts
  core/src/components/modal/modal.tsx
  core/src/components/modal/utils.ts
  core/src/utils/native/status-bar.ts
Labels: package: core

#26287 chore(overlays): generic for present/dismiss options
  core/src/components.d.ts
  core/src/components/loading/loading.tsx
  core/src/components/modal/modal.tsx
  core/src/components/popover/popover.tsx
  core/src/components/toast/toast-interface.ts
  core/src/components/toast/toast.tsx
  core/src/utils/overlays.ts
Labels: package: core

#26331 test(range): disable gesture test
  core/src/components/range/test/range-events.e2e.ts
Labels: package: core

#26318 chore(toggle): remove background vars for now
  core/api.txt
  core/src/components/toggle/test/item/label.e2e.ts-snapshots/toggle-list-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/toggle/test/item/label.e2e.ts-snapshots/toggle-list-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/toggle/test/legacy/sizes/index.html
  core/src/components/toggle/toggle.scss
Labels: package: core

#26306 fix(popover): popover positions correctly on all frameworks
  core/src/components/popover/popover.tsx
  core/src/components/popover/utils.ts
  packages/react/src/components/createInlineOverlayComponent.tsx
  packages/react/test-app/src/pages/overlay-components/PopoverComponent.tsx
  packages/vue/src/vue-component-lib/overlays.ts
Labels: package: core, package: vue, package: react

#26334 Release 6.3.8
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#26326 fix(reorder): items animate once in firefox
  core/src/components/reorder-group/reorder-group.tsx
Labels: package: core

#26340 refactor(picker): remove refresh key
  BREAKING.md
  core/src/components/picker/picker-interface.ts
Labels: package: core

#26339 fix(button): fill can be set to undefined
  core/src/components/button/button.tsx
  core/src/components/button/test/basic/button.e2e.ts
Labels: package: core

#26333 fix(angular): inline overlays are exported
  angular/src/directives/proxies-list.ts
  angular/src/directives/proxies.ts
  angular/test/base/e2e/src/inline-overlays.spec.ts
  angular/test/base/src/app/app-routing.module.ts
  angular/test/base/src/app/overlays-inline/index.ts
  angular/test/base/src/app/overlays-inline/overlays-inline-routing.module.ts
  angular/test/base/src/app/overlays-inline/overlays-inline.component.html
  angular/test/base/src/app/overlays-inline/overlays-inline.component.ts
  angular/test/base/src/app/overlays-inline/overlays-inline.module.ts
  core/stencil.config.ts
Labels: package: core, package: angular

#26342 feat(textarea): add new js and css props
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/textarea/textarea.scss
  core/src/components/textarea/textarea.tsx
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#26336 feat(picker): add ability to use picker inline
  angular/src/directives/proxies-list.ts
  angular/src/directives/proxies.ts
  angular/test/base/src/app/overlays-inline/overlays-inline.component.html
  angular/test/base/src/app/overlays-inline/overlays-inline.component.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/picker-column/picker-column.tsx
  core/src/components/picker/picker.tsx
  core/src/components/picker/test/isOpen/index.html
  core/src/components/picker/test/isOpen/picker.e2e.ts
  core/src/components/picker/test/trigger/index.html
  core/src/components/picker/test/trigger/picker.e2e.ts
  core/stencil.config.ts
  packages/react/src/components/IonPicker.tsx
  packages/react/test-app/tests/e2e/specs/overlay-components/IonPicker.cy.ts
  packages/vue/scripts/copy-overlays.js
  packages/vue/src/components/Overlays.ts
Labels: package: core, package: angular, package: vue, package: react

#26344 test(split-pane): migrate to playwright
  core/src/components/split-pane/test/basic/e2e.ts
  core/src/components/split-pane/test/basic/index.html
  core/src/components/split-pane/test/basic/split-pane.e2e.ts
  core/src/components/split-pane/test/basic/split-pane.e2e.ts-snapshots/split-pane-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/split-pane/test/basic/split-pane.e2e.ts-snapshots/split-pane-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/split-pane/test/basic/split-pane.e2e.ts-snapshots/split-pane-ios-ltr-Mobile-Safari-linux.png
  core/src/components/split-pane/test/basic/split-pane.e2e.ts-snapshots/split-pane-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/split-pane/test/basic/split-pane.e2e.ts-snapshots/split-pane-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/split-pane/test/basic/split-pane.e2e.ts-snapshots/split-pane-ios-rtl-Mobile-Safari-linux.png
  core/src/components/split-pane/test/basic/split-pane.e2e.ts-snapshots/split-pane-md-ltr-Mobile-Chrome-linux.png
  core/src/components/split-pane/test/basic/split-pane.e2e.ts-snapshots/split-pane-md-ltr-Mobile-Firefox-linux.png
  core/src/components/split-pane/test/basic/split-pane.e2e.ts-snapshots/split-pane-md-ltr-Mobile-Safari-linux.png
  core/src/components/split-pane/test/basic/split-pane.e2e.ts-snapshots/split-pane-md-rtl-Mobile-Chrome-linux.png
  core/src/components/split-pane/test/basic/split-pane.e2e.ts-snapshots/split-pane-md-rtl-Mobile-Firefox-linux.png
  core/src/components/split-pane/test/basic/split-pane.e2e.ts-snapshots/split-pane-md-rtl-Mobile-Safari-linux.png
  core/src/utils/test/playwright/viewports/index.ts
Labels: package: core

#26346 docs(input): border style/width documentation
  core/src/components/input/input.scss
Labels: package: core

#26348 feat(textarea): add base functionality and tests
  core/src/components/textarea/test/a11y/index.html
  core/src/components/textarea/test/a11y/textarea.e2e.ts
  core/src/components/textarea/textarea.tsx
Labels: package: core

#26352 fix(input): highlight color does not apply to text
  core/src/components/input/input.scss
  core/src/components/input/test/a11y/input.e2e.ts
Labels: package: core

#26353 fix(segment): segment in toolbar uses correct contrast
  core/src/components/segment-button/segment-button.ios.scss
  core/src/components/segment/test/toolbar/segment.e2e.ts
  core/src/components/segment/test/toolbar/segment.e2e.ts-snapshots/segment-toolbar-color-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/segment/test/toolbar/segment.e2e.ts-snapshots/segment-toolbar-color-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/segment/test/toolbar/segment.e2e.ts-snapshots/segment-toolbar-color-ios-ltr-Mobile-Safari-linux.png
  core/src/components/segment/test/toolbar/segment.e2e.ts-snapshots/segment-toolbar-color-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/segment/test/toolbar/segment.e2e.ts-snapshots/segment-toolbar-color-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/segment/test/toolbar/segment.e2e.ts-snapshots/segment-toolbar-color-ios-rtl-Mobile-Safari-linux.png
  core/src/components/segment/test/toolbar/segment.e2e.ts-snapshots/segment-toolbar-color-md-ltr-Mobile-Chrome-linux.png
  core/src/components/segment/test/toolbar/segment.e2e.ts-snapshots/segment-toolbar-color-md-ltr-Mobile-Firefox-linux.png
  core/src/components/segment/test/toolbar/segment.e2e.ts-snapshots/segment-toolbar-color-md-ltr-Mobile-Safari-linux.png
  core/src/components/segment/test/toolbar/segment.e2e.ts-snapshots/segment-toolbar-color-md-rtl-Mobile-Chrome-linux.png
  core/src/components/segment/test/toolbar/segment.e2e.ts-snapshots/segment-toolbar-color-md-rtl-Mobile-Firefox-linux.png
  core/src/components/segment/test/toolbar/segment.e2e.ts-snapshots/segment-toolbar-color-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#26347 fix(action-sheet): container animates in correctly
  BREAKING.md
  core/src/components/action-sheet/action-sheet.scss
Labels: package: core

#26341 fix(angular): null values are not converted to falsy value
  BREAKING.md
  angular/src/directives/control-value-accessors/boolean-value-accessor.ts
  angular/src/directives/control-value-accessors/value-accessor.ts
  angular/test/base/e2e/src/inputs.spec.ts
  core/src/components/datetime-button/datetime-button.tsx
  core/src/components/datetime/datetime.tsx
Labels: package: core, package: angular

#26356 test(input): validate input-bottom container is not rendered
  core/src/components/input/test/bottom-content/index.html
  core/src/components/input/test/bottom-content/input.e2e.ts
Labels: package: core

#26364 feat(textarea): add helper and error text
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-bottom-content-error-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-bottom-content-error-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-bottom-content-error-ios-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-bottom-content-error-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-bottom-content-error-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-bottom-content-error-ios-rtl-Mobile-Safari-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-bottom-content-error-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-bottom-content-error-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-bottom-content-error-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-bottom-content-error-md-rtl-Mobile-Chrome-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-bottom-content-error-md-rtl-Mobile-Firefox-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-bottom-content-error-md-rtl-Mobile-Safari-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-bottom-content-helper-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-bottom-content-helper-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-bottom-content-helper-ios-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-bottom-content-helper-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-bottom-content-helper-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-bottom-content-helper-ios-rtl-Mobile-Safari-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-bottom-content-helper-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-bottom-content-helper-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-bottom-content-helper-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-bottom-content-helper-md-rtl-Mobile-Chrome-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-bottom-content-helper-md-rtl-Mobile-Firefox-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-bottom-content-helper-md-rtl-Mobile-Safari-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-error-custom-color-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-error-custom-color-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/bottom-content/bottom-content.e2e.ts-snapshots/textarea-error-custom-color-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/bottom-content/index.html
  core/src/components/textarea/textarea.ios.scss
  core/src/components/textarea/textarea.md.scss
  core/src/components/textarea/textarea.scss
  core/src/components/textarea/textarea.tsx
Labels: package: core

#26370 fix(datetime): haptics are enabled only on ios
  BREAKING.md
  core/src/components/picker-column-internal/picker-column-internal.tsx
Labels: package: core

#26373 test(icon): migrate to playwright
  core/src/components/icon/test/basic/e2e.ts
  core/src/components/icon/test/basic/icon.e2e.ts
  core/src/components/icon/test/basic/icon.e2e.ts-snapshots/icon-md-ltr-Mobile-Chrome-linux.png
  core/src/components/icon/test/basic/icon.e2e.ts-snapshots/icon-md-ltr-Mobile-Firefox-linux.png
  core/src/components/icon/test/basic/icon.e2e.ts-snapshots/icon-md-ltr-Mobile-Safari-linux.png
  core/src/components/icon/test/dir/e2e.ts
  core/src/components/icon/test/dir/icon.e2e.ts
  core/src/components/icon/test/dir/icon.e2e.ts-snapshots/icon-flip-md-ltr-Mobile-Chrome-linux.png
  core/src/components/icon/test/dir/icon.e2e.ts-snapshots/icon-flip-md-ltr-Mobile-Firefox-linux.png
  core/src/components/icon/test/dir/icon.e2e.ts-snapshots/icon-flip-md-ltr-Mobile-Safari-linux.png
  core/src/components/icon/test/dir/icon.e2e.ts-snapshots/icon-flip-md-rtl-Mobile-Chrome-linux.png
  core/src/components/icon/test/dir/icon.e2e.ts-snapshots/icon-flip-md-rtl-Mobile-Firefox-linux.png
  core/src/components/icon/test/dir/icon.e2e.ts-snapshots/icon-flip-md-rtl-Mobile-Safari-linux.png
  core/src/components/icon/test/dir/icon.e2e.ts-snapshots/icon-no-flip-md-ltr-Mobile-Chrome-linux.png
  core/src/components/icon/test/dir/icon.e2e.ts-snapshots/icon-no-flip-md-ltr-Mobile-Firefox-linux.png
  core/src/components/icon/test/dir/icon.e2e.ts-snapshots/icon-no-flip-md-ltr-Mobile-Safari-linux.png
  core/src/components/icon/test/dir/icon.e2e.ts-snapshots/icon-no-flip-md-rtl-Mobile-Chrome-linux.png
  core/src/components/icon/test/dir/icon.e2e.ts-snapshots/icon-no-flip-md-rtl-Mobile-Firefox-linux.png
  core/src/components/icon/test/dir/icon.e2e.ts-snapshots/icon-no-flip-md-rtl-Mobile-Safari-linux.png
  core/src/components/icon/test/items/e2e.ts
  core/src/components/icon/test/items/index.html
  core/src/components/icon/test/standalone/done-all.svg
  core/src/components/icon/test/standalone/e2e.ts
  core/src/components/icon/test/standalone/index.html
Labels: package: core

#26379 Release 6.3.9
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#26369 fix(segment): scrolling button into view is more consistent
  core/src/components/segment/segment.tsx
Labels: package: core

#26372 refactor(datetime): remove ios 13 calendar day fix
  core/src/components/datetime/datetime.scss
Labels: package: core

#26377 test(utils): migrate utils e2e tests to playwright
  core/src/components/accordion/test/accordion.e2e.ts
  core/src/components/accordion/test/e2e.ts
  core/src/components/label/test/basic/e2e.ts
  core/src/components/loading/test/test.utils.ts
  core/src/components/slides/test/basic/e2e.ts
  core/src/components/slides/test/image/e2e.ts
  core/src/components/slides/test/prevent-default/e2e.ts
  core/src/components/slides/test/vertical/e2e.ts
  core/src/components/toast/test/test.utils.ts
  core/src/components/virtual-scroll/test/basic/e2e.ts
  core/src/components/virtual-scroll/test/cards/e2e.ts
  core/src/themes/test/css-variables/e2e.ts
  core/src/utils/animation/test/animationbuilder/animation.e2e.ts
  core/src/utils/animation/test/animationbuilder/e2e.ts
  core/src/utils/animation/test/basic/animation.e2e.ts
  core/src/utils/animation/test/basic/e2e.ts
  core/src/utils/animation/test/basic/index.html
  core/src/utils/animation/test/display/animation.e2e.ts
  core/src/utils/animation/test/display/e2e.ts
  core/src/utils/animation/test/display/index.html
  core/src/utils/animation/test/hooks/animation.e2e.ts
  core/src/utils/animation/test/hooks/e2e.ts
  core/src/utils/animation/test/hooks/index.html
  core/src/utils/animation/test/multiple/animation.e2e.ts
  core/src/utils/animation/test/multiple/e2e.ts
  core/src/utils/animation/test/multiple/index.html
  core/src/utils/gesture/test/e2e.ts
  core/src/utils/test/framework-delegate/e2e.ts
  core/src/utils/test/framework-delegate/framework-delegate.e2e.ts
  core/src/utils/test/framework-delegate/index.html
  core/src/utils/test/modes/e2e.ts
  core/src/utils/test/modes/index.html
  core/src/utils/test/overlays/e2e.ts
  core/src/utils/test/overlays/index.html
  core/src/utils/test/overlays/overlays.e2e.ts
  core/src/utils/test/utils.ts
Labels: package: core
