Repository ionic-team/ionic-framework, pull requests merged in 2023-05, with the labels that each got.

#27352 test(picker, picker-column): migrate to generators
  core/src/components/picker-column/test/standalone/picker-column.e2e-legacy.ts
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-multiple-column-initial-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-multiple-column-initial-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-multiple-column-initial-ios-ltr-Mobile-Safari-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-multiple-column-initial-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-multiple-column-initial-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-multiple-column-initial-ios-rtl-Mobile-Safari-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-multiple-column-initial-md-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-multiple-column-initial-md-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-multiple-column-initial-md-ltr-Mobile-Safari-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-multiple-column-initial-md-rtl-Mobile-Chrome-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-multiple-column-initial-md-rtl-Mobile-Firefox-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-multiple-column-initial-md-rtl-Mobile-Safari-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-single-column-initial-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-single-column-initial-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-single-column-initial-ios-ltr-Mobile-Safari-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-single-column-initial-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-single-column-initial-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-single-column-initial-ios-rtl-Mobile-Safari-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-single-column-initial-md-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-single-column-initial-md-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-single-column-initial-md-ltr-Mobile-Safari-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-single-column-initial-md-rtl-Mobile-Chrome-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-single-column-initial-md-rtl-Mobile-Firefox-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-single-column-initial-md-rtl-Mobile-Safari-linux.png
  core/src/components/picker-column/test/test.utils.ts
  core/src/components/picker/test/basic/picker.e2e-legacy.ts
  core/src/components/picker/test/basic/picker.e2e.ts
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-basic-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-basic-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-basic-ios-ltr-Mobile-Safari-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-basic-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-basic-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-basic-ios-rtl-Mobile-Safari-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-basic-md-ltr-Mobile-Chrome-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-basic-md-ltr-Mobile-Firefox-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-basic-md-ltr-Mobile-Safari-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-basic-md-rtl-Mobile-Chrome-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-basic-md-rtl-Mobile-Firefox-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-basic-md-rtl-Mobile-Safari-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-value-selected-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-value-selected-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-value-selected-ios-ltr-Mobile-Safari-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-value-selected-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-value-selected-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-value-selected-ios-rtl-Mobile-Safari-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-value-selected-md-ltr-Mobile-Chrome-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-value-selected-md-ltr-Mobile-Firefox-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-value-selected-md-ltr-Mobile-Safari-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-value-selected-md-rtl-Mobile-Chrome-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-value-selected-md-rtl-Mobile-Firefox-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-value-selected-md-rtl-Mobile-Safari-linux.png
  core/src/components/picker/test/is-open/picker.e2e-legacy.ts
  core/src/components/picker/test/is-open/picker.e2e.ts
  core/src/components/picker/test/trigger/picker.e2e-legacy.ts
  core/src/components/picker/test/trigger/picker.e2e.ts
Labels: package: core

#27362 Release 7.0.5
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#27344 fix(modal, popover): wait for contents to mount
  angular/src/directives/overlays/modal.ts
  core/src/components.d.ts
  core/src/components/modal/modal.tsx
  core/src/components/popover/popover.tsx
  core/src/utils/transition/index.ts
Labels: package: core, package: angular

#27278 fix(overlays): assign incremental id to overlay host
  angular/test/base/e2e/src/modal.spec.ts
  angular/test/base/src/app/modal-inline/modal-inline.component.html
  angular/test/base/src/app/modal-inline/modal-inline.component.ts
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/action-sheet/test/action-sheet-id.spec.ts
  core/src/components/alert/alert.tsx
  core/src/components/alert/test/alert-id.spec.ts
  core/src/components/loading/loading.tsx
  core/src/components/loading/test/loading-id.spec.ts
  core/src/components/loading/test/loading.spec.ts
  core/src/components/modal/modal.tsx
  core/src/components/modal/test/modal-id.spec.ts
  core/src/components/picker/picker.tsx
  core/src/components/picker/test/picker-id.spec.ts
  core/src/components/popover/popover.tsx
  core/src/components/popover/test/popover-id.spec.ts
  core/src/components/toast/test/toast-id.spec.ts
  core/src/components/toast/toast.tsx
  core/src/utils/overlays.ts
Labels: package: core, package: angular

#27368 test(progress-bar): migrate to generators
  core/src/components/progress-bar/test/basic/progress-bar.e2e-legacy.ts
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-ios-ltr-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-ios-rtl-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-md-ltr-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-md-ltr-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-md-ltr-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-md-rtl-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-md-rtl-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#27376 test(skeleton-text): migrate to generators
  core/src/components/skeleton-text/test/basic/skeleton-text.e2e-legacy.ts
  core/src/components/skeleton-text/test/basic/skeleton-text.e2e.ts
  core/src/components/skeleton-text/test/basic/skeleton-text.e2e.ts-snapshots/skeleton-text-basic-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/skeleton-text/test/basic/skeleton-text.e2e.ts-snapshots/skeleton-text-basic-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/skeleton-text/test/basic/skeleton-text.e2e.ts-snapshots/skeleton-text-basic-ios-ltr-Mobile-Safari-linux.png
  core/src/components/skeleton-text/test/basic/skeleton-text.e2e.ts-snapshots/skeleton-text-basic-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/skeleton-text/test/basic/skeleton-text.e2e.ts-snapshots/skeleton-text-basic-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/skeleton-text/test/basic/skeleton-text.e2e.ts-snapshots/skeleton-text-basic-ios-rtl-Mobile-Safari-linux.png
  core/src/components/skeleton-text/test/basic/skeleton-text.e2e.ts-snapshots/skeleton-text-basic-md-ltr-Mobile-Chrome-linux.png
  core/src/components/skeleton-text/test/basic/skeleton-text.e2e.ts-snapshots/skeleton-text-basic-md-ltr-Mobile-Firefox-linux.png
  core/src/components/skeleton-text/test/basic/skeleton-text.e2e.ts-snapshots/skeleton-text-basic-md-ltr-Mobile-Safari-linux.png
  core/src/components/skeleton-text/test/basic/skeleton-text.e2e.ts-snapshots/skeleton-text-basic-md-rtl-Mobile-Chrome-linux.png
  core/src/components/skeleton-text/test/basic/skeleton-text.e2e.ts-snapshots/skeleton-text-basic-md-rtl-Mobile-Firefox-linux.png
  core/src/components/skeleton-text/test/basic/skeleton-text.e2e.ts-snapshots/skeleton-text-basic-md-rtl-Mobile-Safari-linux.png
  core/src/components/skeleton-text/test/custom/skeleton-text.e2e-legacy.ts
  core/src/components/skeleton-text/test/custom/skeleton-text.e2e.ts
  core/src/components/skeleton-text/test/custom/skeleton-text.e2e.ts-snapshots/skeleton-text-custom-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/skeleton-text/test/custom/skeleton-text.e2e.ts-snapshots/skeleton-text-custom-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/skeleton-text/test/custom/skeleton-text.e2e.ts-snapshots/skeleton-text-custom-ios-ltr-Mobile-Safari-linux.png
  core/src/components/skeleton-text/test/custom/skeleton-text.e2e.ts-snapshots/skeleton-text-custom-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/skeleton-text/test/custom/skeleton-text.e2e.ts-snapshots/skeleton-text-custom-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/skeleton-text/test/custom/skeleton-text.e2e.ts-snapshots/skeleton-text-custom-ios-rtl-Mobile-Safari-linux.png
  core/src/components/skeleton-text/test/custom/skeleton-text.e2e.ts-snapshots/skeleton-text-custom-md-ltr-Mobile-Chrome-linux.png
  core/src/components/skeleton-text/test/custom/skeleton-text.e2e.ts-snapshots/skeleton-text-custom-md-ltr-Mobile-Firefox-linux.png
  core/src/components/skeleton-text/test/custom/skeleton-text.e2e.ts-snapshots/skeleton-text-custom-md-ltr-Mobile-Safari-linux.png
  core/src/components/skeleton-text/test/custom/skeleton-text.e2e.ts-snapshots/skeleton-text-custom-md-rtl-Mobile-Chrome-linux.png
  core/src/components/skeleton-text/test/custom/skeleton-text.e2e.ts-snapshots/skeleton-text-custom-md-rtl-Mobile-Firefox-linux.png
  core/src/components/skeleton-text/test/custom/skeleton-text.e2e.ts-snapshots/skeleton-text-custom-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#27370 test(refresher): migrate to generators
  core/src/components/refresher/test/basic/refresher.e2e-legacy.ts
  core/src/components/refresher/test/basic/refresher.e2e.ts
  core/src/components/refresher/test/scroll-target/refresher.e2e-legacy.ts
  core/src/components/refresher/test/scroll-target/refresher.e2e.ts
Labels: package: core

#27372 test(router, router-outlet): migrate to generators
  core/src/components/router-outlet/test/basic/router-outlet.e2e-legacy.ts
  core/src/components/router-outlet/test/basic/router-outlet.e2e.ts
  core/src/components/router/test/basic/router.e2e-legacy.ts
  core/src/components/router/test/basic/router.e2e.ts
  core/src/components/router/test/guards/href/router.e2e-legacy.ts
  core/src/components/router/test/guards/href/router.e2e.ts
  core/src/components/router/test/guards/link/router.e2e-legacy.ts
  core/src/components/router/test/guards/link/router.e2e.ts
  core/src/components/router/test/guards/push/router.e2e-legacy.ts
  core/src/components/router/test/guards/push/router.e2e.ts
  core/src/components/router/test/guards/router.e2e-legacy.ts
  core/src/components/router/test/guards/router.e2e.ts
Labels: package: core

#27373 test(searchbar): migrate to generators
  core/src/components/searchbar/test/basic/searchbar.e2e-legacy.ts
  core/src/components/searchbar/test/basic/searchbar.e2e.ts
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-buttons-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-buttons-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-buttons-ios-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-buttons-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-buttons-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-buttons-ios-rtl-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-buttons-md-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-buttons-md-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-buttons-md-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-buttons-md-rtl-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-buttons-md-rtl-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-buttons-md-rtl-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-color-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-color-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-color-ios-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-color-md-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-color-md-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-color-md-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-disabled-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-disabled-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-disabled-ios-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-disabled-md-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-disabled-md-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-disabled-md-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-ios-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-ios-rtl-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-md-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-md-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-md-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-md-rtl-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-md-rtl-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-md-rtl-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-search-icon-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-search-icon-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-search-icon-ios-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-search-icon-md-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-search-icon-md-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-search-icon-md-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/events/searchbar.e2e-legacy.ts
  core/src/components/searchbar/test/events/searchbar.e2e.ts
Labels: package: core

#27377 test(spinner): migrate to generators
  core/src/components/spinner/test/basic/spinner.e2e-legacy.ts
  core/src/components/spinner/test/basic/spinner.e2e.ts
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/spinner/test/color/spinner.e2e-legacy.ts
  core/src/components/spinner/test/color/spinner.e2e-legacy.ts-snapshots/spinner-color-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/spinner/test/color/spinner.e2e-legacy.ts-snapshots/spinner-color-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/spinner/test/color/spinner.e2e-legacy.ts-snapshots/spinner-color-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/spinner/test/color/spinner.e2e-legacy.ts-snapshots/spinner-color-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/spinner/test/color/spinner.e2e-legacy.ts-snapshots/spinner-color-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/spinner/test/color/spinner.e2e-legacy.ts-snapshots/spinner-color-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#27378 test(split-pane): migrate to generators
  core/src/components/split-pane/test/basic/split-pane.e2e-legacy.ts
  core/src/components/split-pane/test/basic/split-pane.e2e.ts
  core/src/components/split-pane/test/basic/split-pane.e2e.ts-snapshots/split-pane-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/split-pane/test/basic/split-pane.e2e.ts-snapshots/split-pane-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/split-pane/test/basic/split-pane.e2e.ts-snapshots/split-pane-ios-ltr-Mobile-Safari-linux.png
  core/src/components/split-pane/test/basic/split-pane.e2e.ts-snapshots/split-pane-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/split-pane/test/basic/split-pane.e2e.ts-snapshots/split-pane-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/split-pane/test/basic/split-pane.e2e.ts-snapshots/split-pane-ios-rtl-Mobile-Safari-linux.png
  core/src/components/split-pane/test/basic/split-pane.e2e.ts-snapshots/split-pane-md-ltr-Mobile-Chrome-linux.png
  core/src/components/split-pane/test/basic/split-pane.e2e.ts-snapshots/split-pane-md-ltr-Mobile-Firefox-linux.png
  core/src/components/split-pane/test/basic/split-pane.e2e.ts-snapshots/split-pane-md-ltr-Mobile-Safari-linux.png
  core/src/components/split-pane/test/basic/split-pane.e2e.ts-snapshots/split-pane-md-rtl-Mobile-Chrome-linux.png
  core/src/components/split-pane/test/basic/split-pane.e2e.ts-snapshots/split-pane-md-rtl-Mobile-Firefox-linux.png
  core/src/components/split-pane/test/basic/split-pane.e2e.ts-snapshots/split-pane-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#27382 test(title): migrate to generators
  core/src/components/title/test/basic/title.e2e-legacy.ts
  core/src/components/title/test/basic/title.e2e.ts
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-basic-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-basic-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-basic-ios-ltr-Mobile-Safari-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-basic-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-basic-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-basic-ios-rtl-Mobile-Safari-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-basic-md-ltr-Mobile-Chrome-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-basic-md-ltr-Mobile-Firefox-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-basic-md-ltr-Mobile-Safari-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-basic-md-rtl-Mobile-Chrome-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-basic-md-rtl-Mobile-Firefox-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-basic-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#27379 test(text): migrate to generators
  core/src/components/text/test/basic/text.e2e-legacy.ts
  core/src/components/text/test/basic/text.e2e.ts
  core/src/components/text/test/basic/text.e2e.ts-snapshots/text-color-md-ltr-Mobile-Chrome-linux.png
  core/src/components/text/test/basic/text.e2e.ts-snapshots/text-color-md-ltr-Mobile-Firefox-linux.png
  core/src/components/text/test/basic/text.e2e.ts-snapshots/text-color-md-ltr-Mobile-Safari-linux.png
  core/src/components/text/test/basic/text.e2e.ts-snapshots/text-md-ltr-Mobile-Chrome-linux.png
  core/src/components/text/test/basic/text.e2e.ts-snapshots/text-md-ltr-Mobile-Firefox-linux.png
  core/src/components/text/test/basic/text.e2e.ts-snapshots/text-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#27381 test(thumbnail): migrate to generators
  core/src/components/thumbnail/test/basic/thumbnail.e2e-legacy.ts
  core/src/components/thumbnail/test/basic/thumbnail.e2e.ts
  core/src/components/thumbnail/test/basic/thumbnail.e2e.ts-snapshots/thumbnail-img-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/thumbnail/test/basic/thumbnail.e2e.ts-snapshots/thumbnail-img-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/thumbnail/test/basic/thumbnail.e2e.ts-snapshots/thumbnail-img-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/thumbnail/test/basic/thumbnail.e2e.ts-snapshots/thumbnail-ion-item-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/thumbnail/test/basic/thumbnail.e2e.ts-snapshots/thumbnail-ion-item-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/thumbnail/test/basic/thumbnail.e2e.ts-snapshots/thumbnail-ion-item-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/thumbnail/test/basic/thumbnail.e2e.ts-snapshots/thumbnail-ion-item-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/thumbnail/test/basic/thumbnail.e2e.ts-snapshots/thumbnail-ion-item-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/thumbnail/test/basic/thumbnail.e2e.ts-snapshots/thumbnail-ion-item-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/thumbnail/test/basic/thumbnail.e2e.ts-snapshots/thumbnail-ion-item-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/thumbnail/test/basic/thumbnail.e2e.ts-snapshots/thumbnail-ion-item-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/thumbnail/test/basic/thumbnail.e2e.ts-snapshots/thumbnail-ion-item-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/thumbnail/test/basic/thumbnail.e2e.ts-snapshots/thumbnail-ion-item-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/thumbnail/test/basic/thumbnail.e2e.ts-snapshots/thumbnail-ion-item-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/thumbnail/test/basic/thumbnail.e2e.ts-snapshots/thumbnail-ion-item-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/thumbnail/test/basic/thumbnail.e2e.ts-snapshots/thumbnail-ion-item-size-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/thumbnail/test/basic/thumbnail.e2e.ts-snapshots/thumbnail-ion-item-size-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/thumbnail/test/basic/thumbnail.e2e.ts-snapshots/thumbnail-ion-item-size-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/thumbnail/test/basic/thumbnail.e2e.ts-snapshots/thumbnail-ion-item-size-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/thumbnail/test/basic/thumbnail.e2e.ts-snapshots/thumbnail-ion-item-size-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/thumbnail/test/basic/thumbnail.e2e.ts-snapshots/thumbnail-ion-item-size-diff-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#27383 test(utils): migrate to generators
  core/src/utils/animation/test/animationbuilder/animation.e2e-legacy.ts
  core/src/utils/animation/test/animationbuilder/animation.e2e.ts
  core/src/utils/animation/test/basic/animation.e2e-legacy.ts
  core/src/utils/animation/test/basic/animation.e2e.ts
  core/src/utils/animation/test/display/animation.e2e.ts
  core/src/utils/animation/test/hooks/animation.e2e.ts
  core/src/utils/animation/test/multiple/animation.e2e.ts
  core/src/utils/input-shims/hacks/test/scroll-assist.e2e-legacy.ts
  core/src/utils/input-shims/hacks/test/scroll-assist.e2e.ts
  core/src/utils/tap-click/test/tap-click.e2e-legacy.ts
  core/src/utils/tap-click/test/tap-click.e2e.ts
  core/src/utils/test/framework-delegate/framework-delegate.e2e-legacy.ts
  core/src/utils/test/framework-delegate/framework-delegate.e2e.ts
  core/src/utils/test/overlays/overlays.e2e-legacy.ts
  core/src/utils/test/overlays/overlays.e2e.ts
Labels: package: core

#27391 test(ripple-effect): migrate to generators
  core/src/components/ripple-effect/test/basic/ripple-effect.e2e-legacy.ts
  core/src/components/ripple-effect/test/basic/ripple-effect.e2e.ts
Labels: package: core

#27389 test(toolbar): migrate to generators
  core/src/components/toolbar/test/basic/toolbar.e2e-legacy.ts
  core/src/components/toolbar/test/basic/toolbar.e2e.ts
  core/src/components/toolbar/test/basic/toolbar.e2e.ts-snapshots/toolbar-basic-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/toolbar/test/basic/toolbar.e2e.ts-snapshots/toolbar-basic-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/toolbar/test/basic/toolbar.e2e.ts-snapshots/toolbar-basic-ios-ltr-Mobile-Safari-linux.png
  core/src/components/toolbar/test/basic/toolbar.e2e.ts-snapshots/toolbar-basic-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/toolbar/test/basic/toolbar.e2e.ts-snapshots/toolbar-basic-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/toolbar/test/basic/toolbar.e2e.ts-snapshots/toolbar-basic-ios-rtl-Mobile-Safari-linux.png
  core/src/components/toolbar/test/basic/toolbar.e2e.ts-snapshots/toolbar-basic-md-ltr-Mobile-Chrome-linux.png
  core/src/components/toolbar/test/basic/toolbar.e2e.ts-snapshots/toolbar-basic-md-ltr-Mobile-Firefox-linux.png
  core/src/components/toolbar/test/basic/toolbar.e2e.ts-snapshots/toolbar-basic-md-ltr-Mobile-Safari-linux.png
  core/src/components/toolbar/test/basic/toolbar.e2e.ts-snapshots/toolbar-basic-md-rtl-Mobile-Chrome-linux.png
  core/src/components/toolbar/test/basic/toolbar.e2e.ts-snapshots/toolbar-basic-md-rtl-Mobile-Firefox-linux.png
  core/src/components/toolbar/test/basic/toolbar.e2e.ts-snapshots/toolbar-basic-md-rtl-Mobile-Safari-linux.png
  core/src/components/toolbar/test/colors/toolbar.e2e-legacy.ts
  core/src/components/toolbar/test/colors/toolbar.e2e-legacy.ts-snapshots/toolbar-colors-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/toolbar/test/colors/toolbar.e2e-legacy.ts-snapshots/toolbar-colors-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/toolbar/test/colors/toolbar.e2e-legacy.ts-snapshots/toolbar-colors-ios-rtl-Mobile-Safari-linux.png
  core/src/components/toolbar/test/colors/toolbar.e2e-legacy.ts-snapshots/toolbar-colors-md-rtl-Mobile-Chrome-linux.png
  core/src/components/toolbar/test/colors/toolbar.e2e-legacy.ts-snapshots/toolbar-colors-md-rtl-Mobile-Firefox-linux.png
  core/src/components/toolbar/test/colors/toolbar.e2e-legacy.ts-snapshots/toolbar-colors-md-rtl-Mobile-Safari-linux.png
  core/src/components/toolbar/test/colors/toolbar.e2e.ts
  core/src/components/toolbar/test/colors/toolbar.e2e.ts-snapshots/toolbar-colors-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/toolbar/test/colors/toolbar.e2e.ts-snapshots/toolbar-colors-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/toolbar/test/colors/toolbar.e2e.ts-snapshots/toolbar-colors-ios-ltr-Mobile-Safari-linux.png
  core/src/components/toolbar/test/colors/toolbar.e2e.ts-snapshots/toolbar-colors-md-ltr-Mobile-Chrome-linux.png
  core/src/components/toolbar/test/colors/toolbar.e2e.ts-snapshots/toolbar-colors-md-ltr-Mobile-Firefox-linux.png
  core/src/components/toolbar/test/colors/toolbar.e2e.ts-snapshots/toolbar-colors-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#27394 test(reorder-group): add page to skipped tests
  core/src/components/reorder-group/test/interactive/reorder-group.e2e.ts
  core/src/components/reorder-group/test/nested/reorder-group.e2e.ts
  core/src/components/reorder-group/test/scroll-target/reorder-group.e2e.ts
Labels: package: core

#27360 fix(types): export DatetimeHighlightStyle
  core/src/interface.d.ts
Labels: package: core

#27380 chore(angular): test app uses v16 dependencies
  .github/workflows/actions/test-angular-e2e/action.yml
  angular/test/apps/ng16/package-lock.json
  angular/test/apps/ng16/package.json
  angular/test/base/scripts/sync.sh
Labels: package: angular

#27398 chore(readme): remove experimental wording
  core/README.md
Labels: package: core

#27399 test(popover): add missing screenshot function
  core/src/components/popover/test/size/popover.e2e.ts
Labels: package: core

#27346 feat(input): mask controller set-up
  core/src/components.d.ts
  core/src/components/input/input.tsx
  core/src/components/input/test/input.spec.tsx
  core/src/components/input/test/mask/index.html
  core/src/interface.d.ts
  core/src/utils/input-masking/classes/index.ts
  core/src/utils/input-masking/classes/mask-history.ts
  core/src/utils/input-masking/constants/default-options.ts
  core/src/utils/input-masking/constants/index.ts
  core/src/utils/input-masking/dom/event-listener.ts
  core/src/utils/input-masking/dom/index.ts
  core/src/utils/input-masking/dom/is-before-input-event-supported.ts
  core/src/utils/input-masking/dom/is-event-producing-character.ts
  core/src/utils/input-masking/index.ts
  core/src/utils/input-masking/input-masking-interface.ts
  core/src/utils/input-masking/mask-controller.ts
  core/src/utils/input-masking/public-api.ts
  core/src/utils/input-masking/types/mask-interface.ts
  core/src/utils/input-masking/utils/get-not-empty-selection.spec.ts
  core/src/utils/input-masking/utils/get-not-empty-selection.ts
  core/src/utils/input-masking/utils/identity.ts
  core/src/utils/input-masking/utils/index.ts
Labels: package: core

#27409 test(action-sheet): change mode to modes
  core/src/components/action-sheet/test/basic/action-sheet.e2e.ts
Labels: package: core

#27375 fix(range): round value to same number of decimal places as props to avoid floating point rounding errors
  core/src/components/range/range.tsx
  core/src/utils/floating-point/floating-point.spec.ts
  core/src/utils/floating-point/index.ts
Labels: package: core

#27423 test: update playwright threshold to 0.1
  core/playwright.config.ts
  core/src/components/button/test/clear/button.e2e.ts-snapshots/button-clear-md-ltr-Mobile-Chrome-linux.png
  core/src/components/button/test/clear/button.e2e.ts-snapshots/button-clear-md-ltr-Mobile-Firefox-linux.png
  core/src/components/button/test/clear/button.e2e.ts-snapshots/button-clear-md-rtl-Mobile-Chrome-linux.png
  core/src/components/button/test/clear/button.e2e.ts-snapshots/button-clear-md-rtl-Mobile-Firefox-linux.png
  core/src/components/button/test/outline/button.e2e.ts-snapshots/button-outline-md-ltr-Mobile-Chrome-linux.png
  core/src/components/button/test/outline/button.e2e.ts-snapshots/button-outline-md-ltr-Mobile-Firefox-linux.png
  core/src/components/button/test/outline/button.e2e.ts-snapshots/button-outline-md-rtl-Mobile-Chrome-linux.png
  core/src/components/button/test/outline/button.e2e.ts-snapshots/button-outline-md-rtl-Mobile-Firefox-linux.png
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-collapsed-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/legacy/basic/input.e2e.ts-snapshots/input-with-placeholder-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/states/input.e2e.ts-snapshots/input-disabled-ios-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/states/input.e2e.ts-snapshots/input-disabled-md-ltr-Mobile-Safari-linux.png
  core/src/components/popover/test/basic/popover.e2e.ts-snapshots/popover-basic-translucent-header-popover-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/popover/test/basic/popover.e2e.ts-snapshots/popover-basic-translucent-header-popover-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/popover/test/basic/popover.e2e.ts-snapshots/popover-basic-translucent-header-popover-ios-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/color/range.e2e.ts-snapshots/range-color-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/custom/range.e2e.ts-snapshots/range-custom-md-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/item/range.e2e.ts-snapshots/range-item-color-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/item/range.e2e.ts-snapshots/range-item-color-md-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/legacy/a11y/range.e2e.ts-snapshots/range-focus-with-pin-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/legacy/active-bar-start/range.e2e.ts-snapshots/range-activeBarStart-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/legacy/active-bar-start/range.e2e.ts-snapshots/range-activeBarStart-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/legacy/active-bar-start/range.e2e.ts-snapshots/range-activeBarStart-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/range/test/legacy/active-bar-start/range.e2e.ts-snapshots/range-activeBarStart-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/select/test/legacy/single-value/select.e2e.ts-snapshots/select-single-value-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/legacy/spec/select.e2e.ts-snapshots/select-spec-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/states/textarea.e2e.ts-snapshots/textarea-disabled-ios-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/states/textarea.e2e.ts-snapshots/textarea-disabled-md-ltr-Mobile-Safari-linux.png
  core/src/components/toggle/test/sizes/toggle.e2e.ts-snapshots/toggle-sizes-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/toggle/test/sizes/toggle.e2e.ts-snapshots/toggle-sizes-diff-md-rtl-Mobile-Firefox-linux.png
Labels: package: core

#27421 chore: remove legacy e2e tests
  .github/workflows/actions/test-core-screenshot/action.yml
  .github/workflows/build.yml
  .github/workflows/stencil-nightly.yml
  core/package.json
  core/playwright.config-legacy.ts
  core/src/utils/test/playwright/docs/README.md
  core/src/utils/test/playwright/docs/migrating-to-generators.md
Labels: package: core

#27430 test(loading): remove redundant tests
  core/src/components/loading/test/basic/loading.e2e.ts
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-custom-class-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-custom-class-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-custom-class-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-custom-class-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-custom-class-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-custom-class-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-html-content-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-html-content-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-html-content-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-html-content-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-html-content-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-html-content-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-html-content-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-html-content-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-html-content-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-html-content-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-html-content-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-html-content-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-long-content-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-long-content-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-long-content-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-long-content-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-long-content-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-long-content-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-no-spinner-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-no-spinner-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-no-spinner-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-no-spinner-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-no-spinner-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-no-spinner-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-translucent-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-translucent-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-translucent-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-translucent-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-translucent-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-translucent-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-translucent-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-translucent-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts-snapshots/loading-translucent-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/loading/test/basic/loading.spec.tsx
  core/src/components/loading/test/is-open/loading.e2e.ts
  core/src/components/loading/test/standalone/loading.e2e.ts
  core/src/components/loading/test/standalone/loading.e2e.ts-snapshots/loading-standalone-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/loading/test/standalone/loading.e2e.ts-snapshots/loading-standalone-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/loading/test/standalone/loading.e2e.ts-snapshots/loading-standalone-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/loading/test/standalone/loading.e2e.ts-snapshots/loading-standalone-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/loading/test/standalone/loading.e2e.ts-snapshots/loading-standalone-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/loading/test/standalone/loading.e2e.ts-snapshots/loading-standalone-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/loading/test/standalone/loading.e2e.ts-snapshots/loading-standalone-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/loading/test/standalone/loading.e2e.ts-snapshots/loading-standalone-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/loading/test/standalone/loading.e2e.ts-snapshots/loading-standalone-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/loading/test/standalone/loading.e2e.ts-snapshots/loading-standalone-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/loading/test/standalone/loading.e2e.ts-snapshots/loading-standalone-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/loading/test/standalone/loading.e2e.ts-snapshots/loading-standalone-diff-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#27432 fix(react): remove incorrect class key from IonicReactProps
  packages/react/src/components/IonicReactProps.ts
Labels: package: react

#27203 fix(item-sliding): options display on rtl
  core/src/components/popover/test/arrow/popover.e2e.ts-snapshots/popover-arrow-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/popover/test/position/popover.e2e.ts-snapshots/popover-position-ios-rtl-Mobile-Firefox-linux.png
  core/src/themes/ionic.functions.string.scss
  core/src/themes/ionic.mixins.scss
Labels: package: core

#27433 test(picker): clean up tests
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-multiple-column-initial-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-multiple-column-initial-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-multiple-column-initial-ios-ltr-Mobile-Safari-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-multiple-column-initial-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-multiple-column-initial-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-multiple-column-initial-ios-rtl-Mobile-Safari-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-multiple-column-initial-md-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-multiple-column-initial-md-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-multiple-column-initial-md-ltr-Mobile-Safari-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-multiple-column-initial-md-rtl-Mobile-Chrome-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-multiple-column-initial-md-rtl-Mobile-Firefox-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-multiple-column-initial-md-rtl-Mobile-Safari-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-single-column-initial-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-single-column-initial-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-single-column-initial-ios-ltr-Mobile-Safari-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-single-column-initial-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-single-column-initial-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-single-column-initial-ios-rtl-Mobile-Safari-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-single-column-initial-md-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-single-column-initial-md-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-single-column-initial-md-ltr-Mobile-Safari-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-single-column-initial-md-rtl-Mobile-Chrome-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-single-column-initial-md-rtl-Mobile-Firefox-linux.png
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts-snapshots/picker-single-column-initial-md-rtl-Mobile-Safari-linux.png
  core/src/components/picker/test/is-open/picker.e2e.ts
Labels: package: core

#27435 test(toast): clean up tests
  core/src/components/toast/test/is-open/toast.e2e.ts
  core/src/components/toast/test/standalone/toast.e2e.ts
  core/src/components/toast/test/standalone/toast.e2e.ts-snapshots/toast-standalone-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/standalone/toast.e2e.ts-snapshots/toast-standalone-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/standalone/toast.e2e.ts-snapshots/toast-standalone-ios-ltr-Mobile-Safari-linux.png
  core/src/components/toast/test/standalone/toast.e2e.ts-snapshots/toast-standalone-md-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/standalone/toast.e2e.ts-snapshots/toast-standalone-md-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/standalone/toast.e2e.ts-snapshots/toast-standalone-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#27440 fix(content): prevent forceUpdate in SSR
  core/src/components/content/content.tsx
Labels: package: core

#27455 Release 7.0.6
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#27359 fix(picker-column): dynamically change options
  core/src/components/picker-column/picker-column.tsx
  core/src/components/picker-column/test/picker-column-dynamic.spec.tsx
Labels: package: core

#27357 fix(checkbox, radio): update border colors to match MD2 spec
  core/src/components/checkbox/checkbox.md.vars.scss
  core/src/components/item/test/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-md-rtl-Mobile-Safari-linux.png
  core/src/components/radio-group/test/basic/radio-group.e2e.ts-snapshots/radio-group-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/radio-group/test/basic/radio-group.e2e.ts-snapshots/radio-group-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/radio-group/test/basic/radio-group.e2e.ts-snapshots/radio-group-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/radio-group/test/basic/radio-group.e2e.ts-snapshots/radio-group-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/radio-group/test/basic/radio-group.e2e.ts-snapshots/radio-group-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/radio-group/test/basic/radio-group.e2e.ts-snapshots/radio-group-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/radio/radio.md.vars.scss
  core/src/components/radio/test/basic/index.html
  core/src/components/radio/test/color/radio.e2e.ts-snapshots/radio-color-unchecked-md-ltr-Mobile-Chrome-linux.png
  core/src/components/radio/test/color/radio.e2e.ts-snapshots/radio-color-unchecked-md-ltr-Mobile-Firefox-linux.png
  core/src/components/radio/test/color/radio.e2e.ts-snapshots/radio-color-unchecked-md-ltr-Mobile-Safari-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-inset-list-md-ltr-Mobile-Chrome-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-inset-list-md-ltr-Mobile-Firefox-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-inset-list-md-ltr-Mobile-Safari-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-inset-list-md-rtl-Mobile-Chrome-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-inset-list-md-rtl-Mobile-Firefox-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-inset-list-md-rtl-Mobile-Safari-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/toggle-list-md-ltr-Mobile-Chrome-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/toggle-list-md-ltr-Mobile-Firefox-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/toggle-list-md-ltr-Mobile-Safari-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/toggle-list-md-rtl-Mobile-Chrome-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/toggle-list-md-rtl-Mobile-Firefox-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/toggle-list-md-rtl-Mobile-Safari-linux.png
  core/src/components/radio/test/legacy/basic/radio.e2e.ts-snapshots/radio-group-checked-md-ltr-Mobile-Chrome-linux.png
  core/src/components/radio/test/legacy/basic/radio.e2e.ts-snapshots/radio-group-checked-md-ltr-Mobile-Firefox-linux.png
  core/src/components/radio/test/legacy/basic/radio.e2e.ts-snapshots/radio-group-checked-md-ltr-Mobile-Safari-linux.png
  core/src/components/radio/test/legacy/basic/radio.e2e.ts-snapshots/radio-group-checked-md-rtl-Mobile-Chrome-linux.png
  core/src/components/radio/test/legacy/basic/radio.e2e.ts-snapshots/radio-group-checked-md-rtl-Mobile-Firefox-linux.png
  core/src/components/radio/test/legacy/basic/radio.e2e.ts-snapshots/radio-group-checked-md-rtl-Mobile-Safari-linux.png
  core/src/components/radio/test/legacy/basic/radio.e2e.ts-snapshots/radio-group-unchecked-md-ltr-Mobile-Chrome-linux.png
  core/src/components/radio/test/legacy/basic/radio.e2e.ts-snapshots/radio-group-unchecked-md-ltr-Mobile-Firefox-linux.png
  core/src/components/radio/test/legacy/basic/radio.e2e.ts-snapshots/radio-group-unchecked-md-ltr-Mobile-Safari-linux.png
  core/src/components/radio/test/legacy/basic/radio.e2e.ts-snapshots/radio-group-unchecked-md-rtl-Mobile-Chrome-linux.png
  core/src/components/radio/test/legacy/basic/radio.e2e.ts-snapshots/radio-group-unchecked-md-rtl-Mobile-Firefox-linux.png
  core/src/components/radio/test/legacy/basic/radio.e2e.ts-snapshots/radio-group-unchecked-md-rtl-Mobile-Safari-linux.png
  core/src/components/radio/test/states/radio.e2e.ts-snapshots/radio-unchecked-md-ltr-Mobile-Chrome-linux.png
  core/src/components/radio/test/states/radio.e2e.ts-snapshots/radio-unchecked-md-ltr-Mobile-Firefox-linux.png
  core/src/components/radio/test/states/radio.e2e.ts-snapshots/radio-unchecked-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#27449 test(input): merge render spec files
  core/src/components/input/test/input.spec.ts
  core/src/components/input/test/input.spec.tsx
Labels: package: core

#27355 fix(tab-button): use darker text to pass a11y
  core/src/components/tab-bar/test/translucent/tab-bar.e2e.ts-snapshots/tab-bar-translucent-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/tab-bar/test/translucent/tab-bar.e2e.ts-snapshots/tab-bar-translucent-ios-ltr-Mobile-Safari-linux.png
  core/src/components/tab-button/test/a11y/tab-button.e2e.ts
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-ios-ltr-Mobile-Safari-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-ios-rtl-Mobile-Safari-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-md-ltr-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-md-ltr-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-md-ltr-Mobile-Safari-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-md-rtl-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-md-rtl-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-md-rtl-Mobile-Safari-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-label-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-label-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-label-ios-ltr-Mobile-Safari-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-label-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-label-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-label-ios-rtl-Mobile-Safari-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-label-md-ltr-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-label-md-ltr-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-label-md-ltr-Mobile-Safari-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-label-md-rtl-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-label-md-rtl-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-label-md-rtl-Mobile-Safari-linux.png
  core/src/themes/ionic.theme.default.ios.scss
  core/src/themes/ionic.theme.default.md.scss
Labels: package: core

#27456 fix(datetime-button): log error if non-datetime instance is passed
  core/src/components/datetime-button/datetime-button.tsx
Labels: package: core

#27446 fix(select): floating label covers placeholder when when blurred
  core/src/components/select/select.scss
  core/src/components/select/test/label/select.e2e.ts-snapshots/select-label-floating-no-value-placeholder-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/label/select.e2e.ts-snapshots/select-label-floating-no-value-placeholder-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/label/select.e2e.ts-snapshots/select-label-floating-no-value-placeholder-ios-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/label/select.e2e.ts-snapshots/select-label-floating-no-value-placeholder-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/select/test/label/select.e2e.ts-snapshots/select-label-floating-no-value-placeholder-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/select/test/label/select.e2e.ts-snapshots/select-label-floating-no-value-placeholder-ios-rtl-Mobile-Safari-linux.png
  core/src/components/select/test/label/select.e2e.ts-snapshots/select-label-floating-no-value-placeholder-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/label/select.e2e.ts-snapshots/select-label-floating-no-value-placeholder-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/label/select.e2e.ts-snapshots/select-label-floating-no-value-placeholder-md-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/label/select.e2e.ts-snapshots/select-label-floating-no-value-placeholder-md-rtl-Mobile-Chrome-linux.png
  core/src/components/select/test/label/select.e2e.ts-snapshots/select-label-floating-no-value-placeholder-md-rtl-Mobile-Firefox-linux.png
  core/src/components/select/test/label/select.e2e.ts-snapshots/select-label-floating-no-value-placeholder-md-rtl-Mobile-Safari-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-placement-floating-no-value-placeholder-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-placement-floating-no-value-placeholder-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-placement-floating-no-value-placeholder-ios-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-placement-floating-no-value-placeholder-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-placement-floating-no-value-placeholder-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-placement-floating-no-value-placeholder-ios-rtl-Mobile-Safari-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-placement-floating-no-value-placeholder-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-placement-floating-no-value-placeholder-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-placement-floating-no-value-placeholder-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-placement-floating-no-value-placeholder-md-rtl-Mobile-Chrome-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-placement-floating-no-value-placeholder-md-rtl-Mobile-Firefox-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-placement-floating-no-value-placeholder-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#27464 test(chip): break tests up
  core/src/components/chip/test/basic/chip.e2e.ts
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-basic-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-basic-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-basic-ios-ltr-Mobile-Safari-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-basic-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-basic-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-basic-ios-rtl-Mobile-Safari-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-basic-md-ltr-Mobile-Chrome-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-basic-md-ltr-Mobile-Firefox-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-basic-md-ltr-Mobile-Safari-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-basic-md-rtl-Mobile-Chrome-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-basic-md-rtl-Mobile-Firefox-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-basic-md-rtl-Mobile-Safari-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-outline-color-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-outline-color-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-outline-color-ios-ltr-Mobile-Safari-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-outline-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-outline-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-outline-ios-ltr-Mobile-Safari-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-solid-color-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-solid-color-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-solid-color-ios-ltr-Mobile-Safari-linux.png
  core/src/components/chip/test/states/chip.e2e.ts
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-custom-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-custom-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-custom-ios-ltr-Mobile-Safari-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-disabled-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-disabled-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-disabled-ios-ltr-Mobile-Safari-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-states-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-states-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-states-ios-ltr-Mobile-Safari-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-states-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-states-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-states-ios-rtl-Mobile-Safari-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-states-md-ltr-Mobile-Chrome-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-states-md-ltr-Mobile-Firefox-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-states-md-ltr-Mobile-Safari-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-states-md-rtl-Mobile-Chrome-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-states-md-rtl-Mobile-Firefox-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-states-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#27424 fix(spinner): allow resizing of dots, bubbles, and circles
  core/src/components/spinner/spinner-configs.ts
  core/src/components/spinner/test/color/index.html
  core/src/components/spinner/test/color/spinner.e2e.ts
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/spinner/test/resize/spinner.e2e.ts
  core/src/components/spinner/test/resize/spinner.e2e.ts-snapshots/spinner-resize-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/spinner/test/resize/spinner.e2e.ts-snapshots/spinner-resize-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/spinner/test/resize/spinner.e2e.ts-snapshots/spinner-resize-diff-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#27467 docs(input, select, textarea): document workaround for large border-radius with fill="outline"
  core/src/components/input/input.scss
  core/src/components/select/select.scss
  core/src/components/textarea/textarea.scss
Labels: package: core

#27480 fix(select): modern syntax works with forms
  core/src/components/select/select.tsx
  core/src/components/select/test/select.spec.tsx
Labels: package: core

#27458 fix(picker-column): prevSelected is set to the correct value
  core/src/components/picker-column/picker-column.tsx
  core/src/components/picker-column/test/standalone/picker-column.e2e.ts
Labels: package: core

#27417 fix(footer, tab-bar): wait for resize before re-showing
  core/src/components/footer/footer.tsx
  core/src/components/modal/utils.ts
  core/src/components/tab-bar/tab-bar.tsx
  core/src/utils/animation/animation.ts
  core/src/utils/browser/index.ts
  core/src/utils/keyboard/keyboard-controller.ts
  core/src/utils/keyboard/test/keyboard-controller.spec.ts
  core/src/utils/native/keyboard.ts
  core/src/utils/native/status-bar.ts
Labels: package: core

#27484 fix(popover): blur translucent popover in chromium
  core/src/components/popover/animations/ios.enter.ts
  core/src/components/popover/animations/ios.leave.ts
  core/src/components/popover/popover.ios.scss
  core/src/components/popover/popover.md.scss
  core/src/components/popover/popover.scss
  core/src/components/popover/test/basic/popover.e2e.ts-snapshots/popover-basic-translucent-popover-ios-ltr-Mobile-Chrome-linux.png
Labels: package: core

#27491 chore(angular): log error when attempting to use reserved prop with modals and popovers
  angular/src/providers/angular-delegate.ts
Labels: package: angular

#27507 test(select): clean up basic test template
  core/src/components/select/test/basic/index.html
  core/src/components/select/test/basic/select.e2e.ts
  core/src/components/select/test/legacy/basic/select.e2e.ts
Labels: package: core

#27404 feat: return if the pop on NavController was successful
  angular/src/providers/nav-controller.ts
Labels: package: angular

#27460 fix(picker-column): correct RTL direction
  core/src/components/picker/picker.scss
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-basic-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-basic-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-basic-ios-rtl-Mobile-Safari-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-basic-md-rtl-Mobile-Chrome-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-basic-md-rtl-Mobile-Firefox-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-basic-md-rtl-Mobile-Safari-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-value-selected-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-value-selected-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-value-selected-ios-rtl-Mobile-Safari-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-value-selected-md-rtl-Mobile-Chrome-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-value-selected-md-rtl-Mobile-Firefox-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-value-selected-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#27519 docs(angular, core): change link from slack to discord
  angular/README.md
  core/README.md
Labels: package: core, package: angular

#27523 refactor(accordion): remove duplicate selector
  core/src/components/accordion-group/accordion-group.md.scss
Labels: package: core

#27483 fix(select): slotted label content works with outline notch
  core/src/components/select/select.tsx
  core/src/components/select/test/fill/select.e2e.ts
  core/src/components/select/test/fill/select.e2e.ts-snapshots/select-fill-outline-hidden-slotted-label-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/fill/select.e2e.ts-snapshots/select-fill-outline-hidden-slotted-label-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/fill/select.e2e.ts-snapshots/select-fill-outline-hidden-slotted-label-md-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/fill/select.e2e.ts-snapshots/select-fill-outline-slotted-label-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/fill/select.e2e.ts-snapshots/select-fill-outline-slotted-label-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/fill/select.e2e.ts-snapshots/select-fill-outline-slotted-label-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#27542 Release 7.0.8
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#27481 fix(react, vue): inline modals apply ion-page class
  packages/react/src/components/IonModal.tsx
  packages/react/src/components/createInlineOverlayComponent.tsx
  packages/react/test/base/src/App.tsx
  packages/react/test/base/src/pages/overlay-components/IonModalMultipleChildren.tsx
  packages/react/test/base/tests/e2e/specs/overlay-components/IonModal.cy.ts
  packages/vue/scripts/copy-overlays.js
  packages/vue/src/components/Overlays.ts
  packages/vue/src/vue-component-lib/overlays.ts
  packages/vue/test/base/src/router/index.ts
  packages/vue/test/base/src/views/ModalMultipleChildren.vue
  packages/vue/test/base/tests/e2e/specs/modal-multiple-children.cy.js
Labels: package: vue, package: react

#27222 feat(segment, segment-button): update segment value property to accept numbers
  angular/src/index.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/segment-button/segment-button.tsx
  core/src/components/segment/segment-interface.ts
  core/src/components/segment/segment.tsx
  packages/react/src/components/index.ts
  packages/vue/src/index.ts
Labels: package: core, package: angular, package: vue, package: react

#27541 feat(select): expose container and label as CSS parts
  core/api.txt
  core/src/components/select/select.tsx
  core/src/components/select/test/custom/select.e2e.ts
  core/src/components/select/test/custom/select.e2e.ts-snapshots/select-custom-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/custom/select.e2e.ts-snapshots/select-custom-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/custom/select.e2e.ts-snapshots/select-custom-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/custom/select.e2e.ts-snapshots/select-custom-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/custom/select.e2e.ts-snapshots/select-custom-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/custom/select.e2e.ts-snapshots/select-custom-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/custom/select.e2e.ts-snapshots/select-custom-parts-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/custom/select.e2e.ts-snapshots/select-custom-parts-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/custom/select.e2e.ts-snapshots/select-custom-parts-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/custom/select.e2e.ts-snapshots/select-custom-parts-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/custom/select.e2e.ts-snapshots/select-custom-parts-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/custom/select.e2e.ts-snapshots/select-custom-parts-diff-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#27514 fix(core): handle uncaught native keyboard exceptions
  core/src/utils/native/keyboard.ts
  core/src/utils/native/native-interface.ts
Labels: package: core

#27554 Release 7.0.9
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#27545 feat(select): add label slot
  core/src/components.d.ts
  core/src/components/select/select.scss
  core/src/components/select/select.tsx
  core/src/components/select/test/a11y/index.html
  core/src/components/select/test/fill/select.e2e.ts
  core/src/components/select/test/fill/select.e2e.ts-snapshots/select-fill-outline-hidden-slotted-label-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/fill/select.e2e.ts-snapshots/select-fill-outline-hidden-slotted-label-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/fill/select.e2e.ts-snapshots/select-fill-outline-hidden-slotted-label-md-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/fill/select.e2e.ts-snapshots/select-fill-outline-slotted-label-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/fill/select.e2e.ts-snapshots/select-fill-outline-slotted-label-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/fill/select.e2e.ts-snapshots/select-fill-outline-slotted-label-md-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/label/select.e2e.ts
  core/src/components/select/test/label/select.e2e.ts-snapshots/select-label-slot-truncate-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/label/select.e2e.ts-snapshots/select-label-slot-truncate-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/label/select.e2e.ts-snapshots/select-label-slot-truncate-md-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/select.spec.tsx
Labels: package: core

#27568 perf: passive event listener for focus visible
  core/src/utils/focus-visible.ts
Labels: package: core

#27579 Release 7.0.10
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#27569 fix(keyboard): listen on correct events for keyboard lifecycle
  core/src/utils/keyboard/keyboard.ts
Labels: package: core

#27530 fix(radio): radio with modern syntax is keyboard navigable
  core/src/components/radio/radio.tsx
  core/src/components/radio/test/a11y/radio.e2e.ts
Labels: package: core
