Repository ionic-team/ionic-framework, pull requests merged in 2023-04, with the labels that each got.

#27096 fix(card): test 123
  core/README.md
Labels: package: core

#27097 fix(card): test 123
  core/README.md
Labels: package: core

#27098 Update README.md
  core/README.md
Labels: package: core

#27101 Update README.md
  core/README.md
Labels: package: core

#27103 Update CHANGELOG.md
  core/CHANGELOG.md
Labels: package: core

#27100 test(textarea): skip autogrow test due to flakiness
  core/src/components/textarea/test/autogrow/textarea.e2e.ts
  core/src/components/textarea/test/legacy/autogrow/textarea.e2e.ts
Labels: package: core

#27105 Update README.md
  core/README.md
Labels: package: core

#27106 Update README.md
  core/README.md
Labels: package: core

#27107 Update README.md
  core/README.md
Labels: package: core

#27108 Update CHANGELOG.md
  core/CHANGELOG.md
Labels: package: core

#27080 test(breadcrumbs): check color attribute renders in the DOM
  core/src/components/breadcrumbs/test/breadcrumbs.spec.ts
  packages/vue/test/base/tests/e2e/specs/breadcrumbs.cy.js
Labels: package: core, package: vue

#27058 fix(refresher): set overflow styles when using custom scroll target
  core/src/components/refresher/refresher.tsx
Labels: package: core

#27114 fix(picker-column-internal): hide empty picker items from screenreaders
  core/src/components/picker-column-internal/picker-column-internal.tsx
Labels: package: core

#27079 fix(menu): update location when dynamically changing side or doc dir
  core/src/components/menu/menu.scss
  core/src/components/menu/menu.tsx
  core/src/components/menu/test/basic/menu.e2e.ts
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-doc-dir-toggled-md-ltr-Mobile-Chrome-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-doc-dir-toggled-md-ltr-Mobile-Firefox-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-doc-dir-toggled-md-ltr-Mobile-Safari-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-side-toggled-md-ltr-Mobile-Chrome-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-side-toggled-md-ltr-Mobile-Firefox-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-side-toggled-md-ltr-Mobile-Safari-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-side-toggled-md-rtl-Mobile-Chrome-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-side-toggled-md-rtl-Mobile-Firefox-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-side-toggled-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#27115 test(popover): skip flaky screenshot test
  core/src/components/popover/test/size/popover.e2e.ts
Labels: package: core

#27042 fix(item-divider): removal of unneeded margin unset
  core/src/components/checkbox/test/legacy/basic/checkbox.e2e.ts-snapshots/checkbox-legacy-basic-md-rtl-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/legacy/basic/checkbox.e2e.ts-snapshots/checkbox-legacy-basic-md-rtl-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/legacy/basic/checkbox.e2e.ts-snapshots/checkbox-legacy-basic-md-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/legacy/spec/input.e2e.ts-snapshots/input-spec-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/legacy/spec/input.e2e.ts-snapshots/input-spec-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/legacy/spec/input.e2e.ts-snapshots/input-spec-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-button-end-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-button-end-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-button-end-md-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/buttons/item.e2e.ts-snapshots/item-buttons-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/buttons/item.e2e.ts-snapshots/item-buttons-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/buttons/item.e2e.ts-snapshots/item-buttons-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/colors/item.e2e.ts-snapshots/item-colors-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/colors/item.e2e.ts-snapshots/item-colors-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/colors/item.e2e.ts-snapshots/item-colors-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/dividers/item.e2e.ts-snapshots/item-dividers-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/dividers/item.e2e.ts-snapshots/item-dividers-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/dividers/item.e2e.ts-snapshots/item-dividers-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/fill/item.e2e.ts-snapshots/item-fill-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/fill/item.e2e.ts-snapshots/item-fill-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/fill/item.e2e.ts-snapshots/item-fill-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/media/item.e2e.ts-snapshots/item-media-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/media/item.e2e.ts-snapshots/item-media-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/media/item.e2e.ts-snapshots/item-media-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/radio-group/test/basic/radio-group.e2e.ts-snapshots/radio-group-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/radio-group/test/basic/radio-group.e2e.ts-snapshots/radio-group-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/radio-group/test/basic/radio-group.e2e.ts-snapshots/radio-group-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/radio/test/legacy/basic/radio.e2e.ts-snapshots/radio-group-checked-md-rtl-Mobile-Chrome-linux.png
  core/src/components/radio/test/legacy/basic/radio.e2e.ts-snapshots/radio-group-checked-md-rtl-Mobile-Firefox-linux.png
  core/src/components/radio/test/legacy/basic/radio.e2e.ts-snapshots/radio-group-checked-md-rtl-Mobile-Safari-linux.png
  core/src/components/radio/test/legacy/basic/radio.e2e.ts-snapshots/radio-group-part-md-rtl-Mobile-Chrome-linux.png
  core/src/components/radio/test/legacy/basic/radio.e2e.ts-snapshots/radio-group-part-md-rtl-Mobile-Firefox-linux.png
  core/src/components/radio/test/legacy/basic/radio.e2e.ts-snapshots/radio-group-part-md-rtl-Mobile-Safari-linux.png
  core/src/components/radio/test/legacy/basic/radio.e2e.ts-snapshots/radio-group-unchecked-md-rtl-Mobile-Chrome-linux.png
  core/src/components/radio/test/legacy/basic/radio.e2e.ts-snapshots/radio-group-unchecked-md-rtl-Mobile-Firefox-linux.png
  core/src/components/radio/test/legacy/basic/radio.e2e.ts-snapshots/radio-group-unchecked-md-rtl-Mobile-Safari-linux.png
  core/src/themes/ionic.mixins.scss
Labels: package: core

#27113 test(many): use web-first assertions
  core/src/components/action-sheet/test/isOpen/action-sheet.e2e.ts
  core/src/components/action-sheet/test/trigger/action-sheet.e2e.ts
  core/src/components/alert/test/isOpen/alert.e2e.ts
  core/src/components/alert/test/trigger/alert.e2e.ts
  core/src/components/loading/test/isOpen/loading.e2e.ts
  core/src/components/loading/test/trigger/loading.e2e.ts
  core/src/components/menu/test/a11y/menu.e2e.ts
  core/src/components/modal/test/isOpen/modal.e2e.ts
  core/src/components/modal/test/sheet/modal.e2e.ts
  core/src/components/picker/test/isOpen/picker.e2e.ts
  core/src/components/picker/test/trigger/picker.e2e.ts
  core/src/components/toast/test/isOpen/toast.e2e.ts
  core/src/components/toast/test/trigger/toast.e2e.ts
Labels: package: core

#27122 merge release-7.0.1
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#27126 test(radio): skip flaky test
  core/src/components/radio/test/legacy/a11y/radio.e2e.ts
Labels: package: core

#27045 chore: sync script deletes existing tgz packages
  angular/scripts/sync.sh
  angular/test/base/scripts/sync.sh
  packages/react-router/test/base/scripts/sync.sh
  packages/react/test/base/scripts/sync.sh
  packages/vue-router/scripts/sync.sh
  packages/vue/scripts/sync.sh
  packages/vue/test/base/scripts/sync.sh
Labels: package: angular, package: vue, package: react

#27142 docs(input,searchbar): setFocus usage within overlays
  core/src/components.d.ts
  core/src/components/input/input.tsx
  core/src/components/searchbar/searchbar.tsx
Labels: package: core

#27153 test(radio): skip legacy flaky test
  core/src/components/radio/test/legacy/a11y/radio.e2e.ts
Labels: package: core

#27141 fix(menu): refs are not destroyed on unmount
  core/src/components/menu/menu.tsx
Labels: package: core

#27158 fix(menu): refs are not destroyed on unmount
  core/src/components/menu/menu.tsx
Labels: package: core

#27134 fix(item): ios active state has correct contrast
  core/src/components/item/item.ios.scss
  core/src/components/item/test/buttons/index.html
  core/src/components/item/test/buttons/item.e2e.ts
  core/src/components/item/test/buttons/item.e2e.ts-snapshots/item-buttons-dark-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/buttons/item.e2e.ts-snapshots/item-buttons-dark-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/buttons/item.e2e.ts-snapshots/item-buttons-dark-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/buttons/item.e2e.ts-snapshots/item-buttons-dark-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/buttons/item.e2e.ts-snapshots/item-buttons-dark-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/buttons/item.e2e.ts-snapshots/item-buttons-dark-diff-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#27154 chore(angular): test apps use modern label syntax
  angular/test/base/src/app/form-controls/range/range.component.html
  angular/test/base/src/app/form/form.component.html
  angular/test/base/src/app/inputs/inputs.component.html
  angular/test/base/src/app/searchbar/searchbar.component.html
Labels: package: angular

#27171 test(accordion): remove undefined check in test
  core/src/components/accordion/test/basic/accordion.e2e.ts
Labels: package: core

#27178 merge release-7.0.2
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#26970 fix(segment-button): update checked state on render
  core/src/components/segment-button/segment-button.tsx
  core/src/components/segment/test/segment.spec.ts
Labels: package: core

#27181 Release 6.7.3
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#27175 test(input): apply modern syntax updates
  core/src/components/input/test/basic/input.e2e.ts
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-placeholder-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-placeholder-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-placeholder-ios-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-placeholder-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-placeholder-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-placeholder-ios-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-placeholder-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-placeholder-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-placeholder-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-placeholder-md-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-placeholder-md-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-placeholder-md-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-text-overflow-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-text-overflow-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-text-overflow-ios-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-text-overflow-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-text-overflow-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-text-overflow-ios-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-text-overflow-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-text-overflow-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-text-overflow-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-text-overflow-md-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-text-overflow-md-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-text-overflow-md-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/legacy/a11y/input.e2e.ts
  core/src/components/input/test/legacy/basic/input.e2e.ts
Labels: package: core

#27183 fix(segment-button): update checked state on render
  core/src/components/segment-button/segment-button.tsx
  core/src/components/segment/test/segment.spec.ts
Labels: package: core

#27180 fix(vue): components have correct name in Vue Dev Tools
  core/package-lock.json
  core/package.json
  packages/vue/src/components/IonApp.ts
  packages/vue/src/components/IonBackButton.ts
  packages/vue/src/components/IonNav.ts
  packages/vue/src/vue-component-lib/overlays.ts
  packages/vue/src/vue-component-lib/utils.ts
Labels: package: core, package: vue

#27182 refactor(input): migrate composition events to JSX bindings
  core/src/components/input/input.tsx
Labels: package: core

#27173 fix(accordion): inset style respects animated property
  core/src/components/accordion/accordion.tsx
  core/src/components/accordion/test/accordion.spec.ts
Labels: package: core

#27187 test(list): use modern form syntax
  core/src/components/list/test/inset/index.html
  core/src/components/list/test/inset/list.e2e.ts
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-full-lines-md-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-full-lines-md-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-full-lines-md-ltr-Mobile-Safari-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-inset-lines-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-inset-lines-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-inset-lines-ios-ltr-Mobile-Safari-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-inset-lines-md-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-inset-lines-md-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-inset-lines-md-ltr-Mobile-Safari-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-no-lines-md-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-no-lines-md-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-no-lines-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#27195 test(select): use modern form syntax
  core/src/components/select/test/legacy/async/index.html
  core/src/components/select/test/legacy/custom/index.html
  core/src/components/select/test/legacy/standalone/index.html
  core/src/components/select/test/legacy/wrapping/select.e2e.ts
Labels: package: core

#27196 test(textarea): use legacy form syntax for legacy test
  core/src/components/textarea/test/legacy/basic/index.html
Labels: package: core

#27213 fix(select): respect --border-radius with modern template
  core/src/components/select/select.scss
  core/src/components/select/test/custom/select.e2e.ts
  core/src/components/select/test/custom/select.e2e.ts-snapshots/select-custon-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/custom/select.e2e.ts-snapshots/select-custon-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/custom/select.e2e.ts-snapshots/select-custon-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/custom/select.e2e.ts-snapshots/select-custon-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/custom/select.e2e.ts-snapshots/select-custon-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/custom/select.e2e.ts-snapshots/select-custon-diff-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#27198 fix(toast): screen readers announce content
  core/src/components/toast/test/a11y/index.html
  core/src/components/toast/test/a11y/toast.e2e.ts
  core/src/components/toast/test/toast.spec.ts
  core/src/components/toast/toast.tsx
Labels: package: core

#27185 fix(datetime): clamp date between min and max when using month picker
  core/src/components/datetime/test/minmax/datetime.e2e.ts
  core/src/components/datetime/utils/manipulation.ts
Labels: package: core

#27227 fix(menu): export menu interfaces
  core/src/interface.d.ts
Labels: package: core

#27237 Release 6.7.4
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#27238 Release 7.0.3
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#27209 chore: add angular 16 test infrastructure
  .github/workflows/actions/test-angular-e2e/action.yml
  .github/workflows/build.yml
  angular/test/apps/ng14/e2e/src/angular-version.spec.ts
  angular/test/apps/ng14/src/app/app.component.html
  angular/test/apps/ng14/src/app/app.component.ts
  angular/test/apps/ng15/e2e/src/angular-version.spec.ts
  angular/test/apps/ng15/src/app/app.component.html
  angular/test/apps/ng15/src/app/app.component.ts
  angular/test/apps/ng16/angular.json
  angular/test/apps/ng16/e2e/src/.gitkeep
  angular/test/apps/ng16/e2e/src/angular-version.spec.ts
  angular/test/apps/ng16/package-lock.json
  angular/test/apps/ng16/package.json
  angular/test/apps/ng16/src/app/version-test/version-test-routing.module.ts
  angular/test/apps/ng16/tsconfig.json
  angular/test/base/scripts/sync.sh
  angular/test/base/src/app/home-page/home-page.component.html
  angular/test/base/src/app/home-page/home-page.component.ts
  angular/test/base/src/polyfills.ts
Labels: package: angular

#25763 fix(react): nav will remove components from the DOM
  packages/react/src/components/navigation/IonNav.tsx
  packages/react/src/framework-delegate.tsx
  packages/react/test/base/tests/e2e/specs/navigation/IonNav.cy.ts
Labels: package: react

#27128 test(picker-internal): enable overlay tests
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-modal-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-modal-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-modal-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-modal-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-modal-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-modal-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-modal-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-modal-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-modal-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-modal-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-modal-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-modal-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-popover-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-popover-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-popover-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-popover-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-popover-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-popover-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-popover-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-popover-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-popover-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-popover-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-popover-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-popover-diff-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#27253 fix(ios): scroll assist sizes input correctly
  core/src/components/input/input.scss
  core/src/components/textarea/textarea.scss
Labels: package: core

#27256 test(datetime): skip flaky tests
  core/src/components/datetime/test/prefer-wheel/datetime.e2e.ts
Labels: package: core

#27263 chore(ci): enable npm package provenance
  .github/workflows/actions/publish-npm/action.yml
  .github/workflows/dev-build.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  angular/package.json
  angular/scripts/package.json
  core/package.json
  docs/package.json
  packages/angular-server/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#27207 fix(modal): set default text color
  core/src/components/modal/modal.scss
  core/src/components/modal/modal.vars.scss
  core/src/components/modal/test/dark-mode/index.html
  core/src/components/modal/test/dark-mode/model.e2e.ts
  core/src/components/modal/test/dark-mode/model.e2e.ts-snapshots/modal-dark-color-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/modal/test/dark-mode/model.e2e.ts-snapshots/modal-dark-color-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/modal/test/dark-mode/model.e2e.ts-snapshots/modal-dark-color-ios-ltr-Mobile-Safari-linux.png
  core/src/components/modal/test/dark-mode/model.e2e.ts-snapshots/modal-dark-color-md-ltr-Mobile-Chrome-linux.png
  core/src/components/modal/test/dark-mode/model.e2e.ts-snapshots/modal-dark-color-md-ltr-Mobile-Firefox-linux.png
  core/src/components/modal/test/dark-mode/model.e2e.ts-snapshots/modal-dark-color-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#27267 test(many): do not await page.locator
  core/src/components/action-sheet/test/basic/action-sheet.e2e.ts
  core/src/components/datetime-button/test/basic/datetime-button.e2e.ts
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts
  core/src/components/img/test/basic/img.e2e.ts
  core/src/components/item/test/a11y/item.e2e.ts
  core/src/components/loading/test/basic/loading.e2e.ts
  core/src/components/loading/test/standalone/loading.e2e.ts
  core/src/components/menu/test/basic/menu.e2e.ts
  core/src/components/menu/test/focus-trap/menu.e2e.ts
  core/src/components/modal/test/basic/modal.e2e.ts
  core/src/components/modal/test/can-dismiss/modal.e2e.ts
  core/src/components/modal/test/card-refresher/modal.e2e.ts
  core/src/components/modal/test/card-scroll-target/modal.e2e.ts
  core/src/components/modal/test/card/modal.e2e.ts
  core/src/components/modal/test/fixtures.ts
  core/src/components/modal/test/inline/modal.e2e.ts
  core/src/components/modal/test/sheet/modal.e2e.ts
  core/src/components/modal/test/standalone/modal.e2e.ts
  core/src/components/popover/test/nested/popover.e2e.ts
  core/src/components/select/test/basic/select.e2e.ts
  core/src/components/select/test/compare-with/select.e2e.ts
  core/src/components/select/test/legacy/async/select.e2e.ts
  core/src/components/select/test/legacy/basic/select.e2e.ts
  core/src/components/select/test/legacy/compare-with/select.e2e.ts
  core/src/components/select/test/legacy/standalone/select.e2e.ts
  core/src/components/textarea/test/autogrow/textarea.e2e.ts
  core/src/components/textarea/test/legacy/autogrow/textarea.e2e.ts
Labels: package: core

#27270 chore: angular test apps serve in dev mode
  angular/test/apps/ng16/angular.json
  angular/test/base/angular.json
Labels: package: angular

#27261 fix(scroll-assist): set correct scroll padding
  core/src/utils/input-shims/hacks/scroll-assist.ts
Labels: package: core

#27269 docs(tabs): document methods only available for vanilla
  core/src/components.d.ts
  core/src/components/tabs/tabs.tsx
Labels: package: core

#27284 chore(repo): update old heroku app links
  .github/ISSUE_TEMPLATE.md
  angular/README.md
  core/README.md
Labels: package: core, package: angular

#27248 test(docs): add documentation on custom Ionic functions
  .github/CONTRIBUTING.md
  core/src/utils/test/playwright/README.md
  core/src/utils/test/playwright/docs/README.md
  core/src/utils/test/playwright/docs/api.md
  core/src/utils/test/playwright/docs/best-practices.md
  core/src/utils/test/playwright/docs/migrating-to-generators.md
Labels: package: core

#27243 test(accordion): migrate to generator
  core/src/components/accordion/test/a11y/accordion.e2e-legacy.ts
  core/src/components/accordion/test/a11y/accordion.e2e.ts
  core/src/components/accordion/test/accordion.e2e-legacy.ts
  core/src/components/accordion/test/accordion.e2e.ts
  core/src/components/accordion/test/basic/accordion.e2e-legacy.ts
  core/src/components/accordion/test/basic/accordion.e2e.ts
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-ltr-Mobile-Safari-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-rtl-Mobile-Safari-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-md-ltr-Mobile-Chrome-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-md-ltr-Mobile-Firefox-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-md-ltr-Mobile-Safari-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-md-rtl-Mobile-Chrome-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-md-rtl-Mobile-Firefox-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-md-rtl-Mobile-Safari-linux.png
  core/src/components/accordion/test/multiple/accordion.e2e-legacy.ts
  core/src/components/accordion/test/multiple/accordion.e2e.ts
  core/src/components/accordion/test/multiple/accordion.e2e.ts-snapshots/accordion-one-open-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/accordion/test/multiple/accordion.e2e.ts-snapshots/accordion-one-open-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/accordion/test/multiple/accordion.e2e.ts-snapshots/accordion-one-open-ios-ltr-Mobile-Safari-linux.png
  core/src/components/accordion/test/multiple/accordion.e2e.ts-snapshots/accordion-one-open-md-ltr-Mobile-Chrome-linux.png
  core/src/components/accordion/test/multiple/accordion.e2e.ts-snapshots/accordion-one-open-md-ltr-Mobile-Firefox-linux.png
  core/src/components/accordion/test/multiple/accordion.e2e.ts-snapshots/accordion-one-open-md-ltr-Mobile-Safari-linux.png
  core/src/components/accordion/test/multiple/accordion.e2e.ts-snapshots/accordion-two-open-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/accordion/test/multiple/accordion.e2e.ts-snapshots/accordion-two-open-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/accordion/test/multiple/accordion.e2e.ts-snapshots/accordion-two-open-ios-ltr-Mobile-Safari-linux.png
  core/src/components/accordion/test/multiple/accordion.e2e.ts-snapshots/accordion-two-open-md-ltr-Mobile-Chrome-linux.png
  core/src/components/accordion/test/multiple/accordion.e2e.ts-snapshots/accordion-two-open-md-ltr-Mobile-Firefox-linux.png
  core/src/components/accordion/test/multiple/accordion.e2e.ts-snapshots/accordion-two-open-md-ltr-Mobile-Safari-linux.png
  core/src/components/accordion/test/multiple/accordion.e2e.ts-snapshots/accordion-zero-open-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/accordion/test/multiple/accordion.e2e.ts-snapshots/accordion-zero-open-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/accordion/test/multiple/accordion.e2e.ts-snapshots/accordion-zero-open-ios-ltr-Mobile-Safari-linux.png
  core/src/components/accordion/test/multiple/accordion.e2e.ts-snapshots/accordion-zero-open-md-ltr-Mobile-Chrome-linux.png
  core/src/components/accordion/test/multiple/accordion.e2e.ts-snapshots/accordion-zero-open-md-ltr-Mobile-Firefox-linux.png
  core/src/components/accordion/test/multiple/accordion.e2e.ts-snapshots/accordion-zero-open-md-ltr-Mobile-Safari-linux.png
  core/src/components/accordion/test/nested/accordion.e2e-legacy.ts
  core/src/components/accordion/test/nested/accordion.e2e.ts
  core/src/components/accordion/test/nested/accordion.e2e.ts-snapshots/accordion-child-disabled-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/accordion/test/nested/accordion.e2e.ts-snapshots/accordion-child-disabled-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/accordion/test/nested/accordion.e2e.ts-snapshots/accordion-child-disabled-ios-ltr-Mobile-Safari-linux.png
  core/src/components/accordion/test/nested/accordion.e2e.ts-snapshots/accordion-child-disabled-md-ltr-Mobile-Chrome-linux.png
  core/src/components/accordion/test/nested/accordion.e2e.ts-snapshots/accordion-child-disabled-md-ltr-Mobile-Firefox-linux.png
  core/src/components/accordion/test/nested/accordion.e2e.ts-snapshots/accordion-child-disabled-md-ltr-Mobile-Safari-linux.png
  core/src/components/accordion/test/nested/accordion.e2e.ts-snapshots/accordion-nested-enabled-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/accordion/test/nested/accordion.e2e.ts-snapshots/accordion-nested-enabled-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/accordion/test/nested/accordion.e2e.ts-snapshots/accordion-nested-enabled-ios-ltr-Mobile-Safari-linux.png
  core/src/components/accordion/test/nested/accordion.e2e.ts-snapshots/accordion-nested-enabled-md-ltr-Mobile-Chrome-linux.png
  core/src/components/accordion/test/nested/accordion.e2e.ts-snapshots/accordion-nested-enabled-md-ltr-Mobile-Firefox-linux.png
  core/src/components/accordion/test/nested/accordion.e2e.ts-snapshots/accordion-nested-enabled-md-ltr-Mobile-Safari-linux.png
  core/src/components/accordion/test/nested/accordion.e2e.ts-snapshots/accordion-parent-disabled-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/accordion/test/nested/accordion.e2e.ts-snapshots/accordion-parent-disabled-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/accordion/test/nested/accordion.e2e.ts-snapshots/accordion-parent-disabled-ios-ltr-Mobile-Safari-linux.png
  core/src/components/accordion/test/nested/accordion.e2e.ts-snapshots/accordion-parent-disabled-md-ltr-Mobile-Chrome-linux.png
  core/src/components/accordion/test/nested/accordion.e2e.ts-snapshots/accordion-parent-disabled-md-ltr-Mobile-Firefox-linux.png
  core/src/components/accordion/test/nested/accordion.e2e.ts-snapshots/accordion-parent-disabled-md-ltr-Mobile-Safari-linux.png
  core/src/components/accordion/test/standalone/accordion.e2e-legacy.ts
  core/src/components/accordion/test/standalone/accordion.e2e.ts
Labels: package: core

#27289 test(back-button): migrate to generators
  core/src/components/back-button/test/basic/back-button.e2e-legacy.ts
  core/src/components/back-button/test/basic/back-button.e2e.ts
  core/src/components/back-button/test/basic/back-button.e2e.ts-snapshots/back-button-basic-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/back-button/test/basic/back-button.e2e.ts-snapshots/back-button-basic-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/back-button/test/basic/back-button.e2e.ts-snapshots/back-button-basic-ios-ltr-Mobile-Safari-linux.png
  core/src/components/back-button/test/basic/back-button.e2e.ts-snapshots/back-button-basic-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/back-button/test/basic/back-button.e2e.ts-snapshots/back-button-basic-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/back-button/test/basic/back-button.e2e.ts-snapshots/back-button-basic-ios-rtl-Mobile-Safari-linux.png
  core/src/components/back-button/test/basic/back-button.e2e.ts-snapshots/back-button-basic-md-ltr-Mobile-Chrome-linux.png
  core/src/components/back-button/test/basic/back-button.e2e.ts-snapshots/back-button-basic-md-ltr-Mobile-Firefox-linux.png
  core/src/components/back-button/test/basic/back-button.e2e.ts-snapshots/back-button-basic-md-ltr-Mobile-Safari-linux.png
  core/src/components/back-button/test/basic/back-button.e2e.ts-snapshots/back-button-basic-md-rtl-Mobile-Chrome-linux.png
  core/src/components/back-button/test/basic/back-button.e2e.ts-snapshots/back-button-basic-md-rtl-Mobile-Firefox-linux.png
  core/src/components/back-button/test/basic/back-button.e2e.ts-snapshots/back-button-basic-md-rtl-Mobile-Safari-linux.png
  core/src/components/back-button/test/toolbar/back-button.e2e-legacy.ts
  core/src/components/back-button/test/toolbar/back-button.e2e.ts
  core/src/components/back-button/test/toolbar/back-button.e2e.ts-snapshots/back-button-toolbar-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/back-button/test/toolbar/back-button.e2e.ts-snapshots/back-button-toolbar-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/back-button/test/toolbar/back-button.e2e.ts-snapshots/back-button-toolbar-ios-ltr-Mobile-Safari-linux.png
  core/src/components/back-button/test/toolbar/back-button.e2e.ts-snapshots/back-button-toolbar-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/back-button/test/toolbar/back-button.e2e.ts-snapshots/back-button-toolbar-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/back-button/test/toolbar/back-button.e2e.ts-snapshots/back-button-toolbar-ios-rtl-Mobile-Safari-linux.png
  core/src/components/back-button/test/toolbar/back-button.e2e.ts-snapshots/back-button-toolbar-md-ltr-Mobile-Chrome-linux.png
  core/src/components/back-button/test/toolbar/back-button.e2e.ts-snapshots/back-button-toolbar-md-ltr-Mobile-Firefox-linux.png
  core/src/components/back-button/test/toolbar/back-button.e2e.ts-snapshots/back-button-toolbar-md-ltr-Mobile-Safari-linux.png
  core/src/components/back-button/test/toolbar/back-button.e2e.ts-snapshots/back-button-toolbar-md-rtl-Mobile-Chrome-linux.png
  core/src/components/back-button/test/toolbar/back-button.e2e.ts-snapshots/back-button-toolbar-md-rtl-Mobile-Firefox-linux.png
  core/src/components/back-button/test/toolbar/back-button.e2e.ts-snapshots/back-button-toolbar-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#27290 test(badge): migrate to generators
  core/src/components/badge/test/basic/badge.e2e-legacy.ts
  core/src/components/badge/test/basic/badge.e2e.ts
  core/src/components/badge/test/basic/badge.e2e.ts-snapshots/badge-basic-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/badge/test/basic/badge.e2e.ts-snapshots/badge-basic-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/badge/test/basic/badge.e2e.ts-snapshots/badge-basic-ios-ltr-Mobile-Safari-linux.png
  core/src/components/badge/test/basic/badge.e2e.ts-snapshots/badge-basic-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/badge/test/basic/badge.e2e.ts-snapshots/badge-basic-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/badge/test/basic/badge.e2e.ts-snapshots/badge-basic-ios-rtl-Mobile-Safari-linux.png
  core/src/components/badge/test/basic/badge.e2e.ts-snapshots/badge-basic-md-ltr-Mobile-Chrome-linux.png
  core/src/components/badge/test/basic/badge.e2e.ts-snapshots/badge-basic-md-ltr-Mobile-Firefox-linux.png
  core/src/components/badge/test/basic/badge.e2e.ts-snapshots/badge-basic-md-ltr-Mobile-Safari-linux.png
  core/src/components/badge/test/basic/badge.e2e.ts-snapshots/badge-basic-md-rtl-Mobile-Chrome-linux.png
  core/src/components/badge/test/basic/badge.e2e.ts-snapshots/badge-basic-md-rtl-Mobile-Firefox-linux.png
  core/src/components/badge/test/basic/badge.e2e.ts-snapshots/badge-basic-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#27291 test(breadcrumbs): migrate to generators
  core/src/components/breadcrumbs/test/a11y/breadcrumbs.e2e-legacy.ts
  core/src/components/breadcrumbs/test/a11y/breadcrumbs.e2e.ts
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e-legacy.ts
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e-legacy.ts
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/reactive/breadcrumbs.e2e-legacy.ts
  core/src/components/breadcrumbs/test/reactive/breadcrumbs.e2e.ts
  core/src/components/breadcrumbs/test/reactive/breadcrumbs.e2e.ts-snapshots/breadcrumbs-reactive-add-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/reactive/breadcrumbs.e2e.ts-snapshots/breadcrumbs-reactive-add-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/reactive/breadcrumbs.e2e.ts-snapshots/breadcrumbs-reactive-add-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/reactive/breadcrumbs.e2e.ts-snapshots/breadcrumbs-reactive-remove-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/reactive/breadcrumbs.e2e.ts-snapshots/breadcrumbs-reactive-remove-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/reactive/breadcrumbs.e2e.ts-snapshots/breadcrumbs-reactive-remove-diff-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#27287 test(app): migrate to generators
  core/src/components/app/test/safe-area/app.e2e-legacy.ts
  core/src/components/app/test/safe-area/app.e2e.ts
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-action-sheet-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-action-sheet-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-action-sheet-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-action-sheet-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-action-sheet-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-action-sheet-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-menu-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-menu-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-menu-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-menu-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-menu-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-menu-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-picker-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-picker-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-picker-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-picker-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-picker-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-picker-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-toast-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-toast-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-toast-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-toast-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-toast-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-toast-diff-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#27301 test(chip): migrate to generators
  core/src/components/chip/test/basic/chip.e2e-legacy.ts
  core/src/components/chip/test/basic/chip.e2e.ts
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-basic-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-basic-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-basic-ios-ltr-Mobile-Safari-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-basic-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-basic-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-basic-ios-rtl-Mobile-Safari-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-basic-md-ltr-Mobile-Chrome-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-basic-md-ltr-Mobile-Firefox-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-basic-md-ltr-Mobile-Safari-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-basic-md-rtl-Mobile-Chrome-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-basic-md-rtl-Mobile-Firefox-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-basic-md-rtl-Mobile-Safari-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-descender-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-descender-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/chip/test/basic/chip.e2e.ts-snapshots/chip-descender-ios-ltr-Mobile-Safari-linux.png
  core/src/components/chip/test/states/chip.e2e-legacy.ts
  core/src/components/chip/test/states/chip.e2e.ts
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-states-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-states-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-states-ios-ltr-Mobile-Safari-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-states-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-states-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-states-ios-rtl-Mobile-Safari-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-states-md-ltr-Mobile-Chrome-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-states-md-ltr-Mobile-Firefox-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-states-md-ltr-Mobile-Safari-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-states-md-rtl-Mobile-Chrome-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-states-md-rtl-Mobile-Firefox-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-states-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#27288 test(avatar): migrate to generators
  core/src/components/avatar/test/basic/avatar.e2e-legacy.ts
  core/src/components/avatar/test/basic/avatar.e2e.ts
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-chip-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-chip-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-chip-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-chip-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-chip-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-chip-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-item-end-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-item-end-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-item-end-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-item-end-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-item-end-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-item-end-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-item-start-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-item-start-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-item-start-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-item-start-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-item-start-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-item-start-diff-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#27307 test(datetime-button): migrate to generators
  core/src/components/datetime-button/test/basic/datetime-button.e2e-legacy.ts
  core/src/components/datetime-button/test/basic/datetime-button.e2e.ts
  core/src/components/datetime-button/test/disabled/datetime-button.e2e-legacy.ts
  core/src/components/datetime-button/test/disabled/datetime-button.e2e.ts
  core/src/components/datetime-button/test/disabled/datetime-button.e2e.ts-snapshots/datetime-button-disabled-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/disabled/datetime-button.e2e.ts-snapshots/datetime-button-disabled-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/disabled/datetime-button.e2e.ts-snapshots/datetime-button-disabled-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/disabled/datetime-button.e2e.ts-snapshots/datetime-button-disabled-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/disabled/datetime-button.e2e.ts-snapshots/datetime-button-disabled-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/disabled/datetime-button.e2e.ts-snapshots/datetime-button-disabled-ios-rtl-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/disabled/datetime-button.e2e.ts-snapshots/datetime-button-disabled-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/disabled/datetime-button.e2e.ts-snapshots/datetime-button-disabled-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/disabled/datetime-button.e2e.ts-snapshots/datetime-button-disabled-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/disabled/datetime-button.e2e.ts-snapshots/datetime-button-disabled-md-rtl-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/disabled/datetime-button.e2e.ts-snapshots/datetime-button-disabled-md-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/disabled/datetime-button.e2e.ts-snapshots/datetime-button-disabled-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/multiple/datetime-button.e2e-legacy.ts
  core/src/components/datetime-button/test/multiple/datetime-button.e2e.ts
  core/src/components/datetime-button/test/overlays/datetime-button.e2e-legacy.ts
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-modal-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-modal-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-modal-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-modal-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-modal-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-modal-ios-rtl-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-modal-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-modal-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-modal-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-modal-md-rtl-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-modal-md-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-modal-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-popover-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-popover-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-popover-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-popover-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-popover-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-popover-ios-rtl-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-popover-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-popover-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-popover-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-popover-md-rtl-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-popover-md-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-popover-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#27308 test(fab, fab-button): migrate to generators
  core/src/components/fab-button/test/a11y/fab-button.e2e-legacy.ts
  core/src/components/fab-button/test/a11y/fab-button.e2e.ts
  core/src/components/fab/test/basic/fab.e2e-legacy.ts
  core/src/components/fab/test/basic/fab.e2e.ts
  core/src/components/fab/test/basic/fab.e2e.ts-snapshots/fab-basic-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/fab/test/basic/fab.e2e.ts-snapshots/fab-basic-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/fab/test/basic/fab.e2e.ts-snapshots/fab-basic-ios-ltr-Mobile-Safari-linux.png
  core/src/components/fab/test/basic/fab.e2e.ts-snapshots/fab-basic-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/fab/test/basic/fab.e2e.ts-snapshots/fab-basic-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/fab/test/basic/fab.e2e.ts-snapshots/fab-basic-ios-rtl-Mobile-Safari-linux.png
  core/src/components/fab/test/basic/fab.e2e.ts-snapshots/fab-basic-md-ltr-Mobile-Chrome-linux.png
  core/src/components/fab/test/basic/fab.e2e.ts-snapshots/fab-basic-md-ltr-Mobile-Firefox-linux.png
  core/src/components/fab/test/basic/fab.e2e.ts-snapshots/fab-basic-md-ltr-Mobile-Safari-linux.png
  core/src/components/fab/test/basic/fab.e2e.ts-snapshots/fab-basic-md-rtl-Mobile-Chrome-linux.png
  core/src/components/fab/test/basic/fab.e2e.ts-snapshots/fab-basic-md-rtl-Mobile-Firefox-linux.png
  core/src/components/fab/test/basic/fab.e2e.ts-snapshots/fab-basic-md-rtl-Mobile-Safari-linux.png
  core/src/components/fab/test/basic/fab.e2e.ts-snapshots/fab-open-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/fab/test/basic/fab.e2e.ts-snapshots/fab-open-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/fab/test/basic/fab.e2e.ts-snapshots/fab-open-ios-ltr-Mobile-Safari-linux.png
  core/src/components/fab/test/basic/fab.e2e.ts-snapshots/fab-open-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/fab/test/basic/fab.e2e.ts-snapshots/fab-open-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/fab/test/basic/fab.e2e.ts-snapshots/fab-open-ios-rtl-Mobile-Safari-linux.png
  core/src/components/fab/test/basic/fab.e2e.ts-snapshots/fab-open-md-ltr-Mobile-Chrome-linux.png
  core/src/components/fab/test/basic/fab.e2e.ts-snapshots/fab-open-md-ltr-Mobile-Firefox-linux.png
  core/src/components/fab/test/basic/fab.e2e.ts-snapshots/fab-open-md-ltr-Mobile-Safari-linux.png
  core/src/components/fab/test/basic/fab.e2e.ts-snapshots/fab-open-md-rtl-Mobile-Chrome-linux.png
  core/src/components/fab/test/basic/fab.e2e.ts-snapshots/fab-open-md-rtl-Mobile-Firefox-linux.png
  core/src/components/fab/test/basic/fab.e2e.ts-snapshots/fab-open-md-rtl-Mobile-Safari-linux.png
  core/src/components/fab/test/states/fab.e2e-legacy.ts
  core/src/components/fab/test/states/fab.e2e.ts
  core/src/components/fab/test/states/fab.e2e.ts-snapshots/fab-states-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/fab/test/states/fab.e2e.ts-snapshots/fab-states-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/fab/test/states/fab.e2e.ts-snapshots/fab-states-ios-ltr-Mobile-Safari-linux.png
  core/src/components/fab/test/states/fab.e2e.ts-snapshots/fab-states-md-ltr-Mobile-Chrome-linux.png
  core/src/components/fab/test/states/fab.e2e.ts-snapshots/fab-states-md-ltr-Mobile-Firefox-linux.png
  core/src/components/fab/test/states/fab.e2e.ts-snapshots/fab-states-md-ltr-Mobile-Safari-linux.png
  core/src/components/fab/test/translucent/fab.e2e-legacy.ts
  core/src/components/fab/test/translucent/fab.e2e.ts
  core/src/components/fab/test/translucent/fab.e2e.ts-snapshots/fab-translucent-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/fab/test/translucent/fab.e2e.ts-snapshots/fab-translucent-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/fab/test/translucent/fab.e2e.ts-snapshots/fab-translucent-ios-ltr-Mobile-Safari-linux.png
Labels: package: core

#27310 test(grid): migrate to generators
  core/src/components/grid/test/basic/grid.e2e-legacy.ts
  core/src/components/grid/test/basic/grid.e2e.ts
  core/src/components/grid/test/basic/grid.e2e.ts-snapshots/grid-basic-md-ltr-Mobile-Chrome-linux.png
  core/src/components/grid/test/basic/grid.e2e.ts-snapshots/grid-basic-md-ltr-Mobile-Firefox-linux.png
  core/src/components/grid/test/basic/grid.e2e.ts-snapshots/grid-basic-md-ltr-Mobile-Safari-linux.png
  core/src/components/grid/test/basic/grid.e2e.ts-snapshots/grid-basic-md-rtl-Mobile-Chrome-linux.png
  core/src/components/grid/test/basic/grid.e2e.ts-snapshots/grid-basic-md-rtl-Mobile-Firefox-linux.png
  core/src/components/grid/test/basic/grid.e2e.ts-snapshots/grid-basic-md-rtl-Mobile-Safari-linux.png
  core/src/components/grid/test/offsets/grid.e2e-legacy.ts
  core/src/components/grid/test/offsets/grid.e2e.ts
  core/src/components/grid/test/offsets/grid.e2e.ts-snapshots/grid-offsets-md-ltr-Mobile-Chrome-linux.png
  core/src/components/grid/test/offsets/grid.e2e.ts-snapshots/grid-offsets-md-ltr-Mobile-Firefox-linux.png
  core/src/components/grid/test/offsets/grid.e2e.ts-snapshots/grid-offsets-md-ltr-Mobile-Safari-linux.png
  core/src/components/grid/test/offsets/grid.e2e.ts-snapshots/grid-offsets-md-rtl-Mobile-Chrome-linux.png
  core/src/components/grid/test/offsets/grid.e2e.ts-snapshots/grid-offsets-md-rtl-Mobile-Firefox-linux.png
  core/src/components/grid/test/offsets/grid.e2e.ts-snapshots/grid-offsets-md-rtl-Mobile-Safari-linux.png
  core/src/components/grid/test/padding/grid.e2e-legacy.ts
  core/src/components/grid/test/padding/grid.e2e.ts
  core/src/components/grid/test/padding/grid.e2e.ts-snapshots/grid-padding-md-ltr-Mobile-Chrome-linux.png
  core/src/components/grid/test/padding/grid.e2e.ts-snapshots/grid-padding-md-ltr-Mobile-Firefox-linux.png
  core/src/components/grid/test/padding/grid.e2e.ts-snapshots/grid-padding-md-ltr-Mobile-Safari-linux.png
  core/src/components/grid/test/padding/grid.e2e.ts-snapshots/grid-padding-md-rtl-Mobile-Chrome-linux.png
  core/src/components/grid/test/padding/grid.e2e.ts-snapshots/grid-padding-md-rtl-Mobile-Firefox-linux.png
  core/src/components/grid/test/padding/grid.e2e.ts-snapshots/grid-padding-md-rtl-Mobile-Safari-linux.png
  core/src/components/grid/test/sizes/grid.e2e-legacy.ts
  core/src/components/grid/test/sizes/grid.e2e.ts
  core/src/components/grid/test/sizes/grid.e2e.ts-snapshots/grid-sizes-md-ltr-Mobile-Chrome-linux.png
  core/src/components/grid/test/sizes/grid.e2e.ts-snapshots/grid-sizes-md-ltr-Mobile-Firefox-linux.png
  core/src/components/grid/test/sizes/grid.e2e.ts-snapshots/grid-sizes-md-ltr-Mobile-Safari-linux.png
  core/src/components/grid/test/sizes/grid.e2e.ts-snapshots/grid-sizes-md-rtl-Mobile-Chrome-linux.png
  core/src/components/grid/test/sizes/grid.e2e.ts-snapshots/grid-sizes-md-rtl-Mobile-Firefox-linux.png
  core/src/components/grid/test/sizes/grid.e2e.ts-snapshots/grid-sizes-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#27311 test(header): migrate to generators
  core/src/components/header/test/a11y/header.e2e-legacy.ts
  core/src/components/header/test/a11y/header.e2e.ts
  core/src/components/header/test/basic/header.e2e.ts
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-no-border-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-no-border-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-no-border-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-no-border-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-no-border-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-no-border-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-translucent-color-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-translucent-color-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-translucent-color-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-translucent-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-translucent-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-translucent-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/header/test/condense/header.e2e-legacy.ts
  core/src/components/header/test/condense/header.e2e.ts
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-collapsed-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-collapsed-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-collapsed-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-initial-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-initial-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-initial-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/header/test/fade/header.e2e-legacy.ts
  core/src/components/header/test/fade/header.e2e.ts
  core/src/components/header/test/fade/header.e2e.ts-snapshots/header-fade-blurred-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/fade/header.e2e.ts-snapshots/header-fade-blurred-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/header/test/fade/header.e2e.ts-snapshots/header-fade-blurred-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/header/test/fade/header.e2e.ts-snapshots/header-fade-not-blurred-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/fade/header.e2e.ts-snapshots/header-fade-not-blurred-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/header/test/fade/header.e2e.ts-snapshots/header-fade-not-blurred-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/header/test/scroll-target/header.e2e-legacy.ts
  core/src/components/header/test/scroll-target/header.e2e.ts
  core/src/components/header/test/scroll-target/header.e2e.ts-snapshots/header-scroll-target-blurred-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/scroll-target/header.e2e.ts-snapshots/header-scroll-target-blurred-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/header/test/scroll-target/header.e2e.ts-snapshots/header-scroll-target-blurred-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/header/test/scroll-target/header.e2e.ts-snapshots/header-scroll-target-not-blurred-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/scroll-target/header.e2e.ts-snapshots/header-scroll-target-not-blurred-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/header/test/scroll-target/header.e2e.ts-snapshots/header-scroll-target-not-blurred-diff-ios-ltr-Mobile-Safari-linux.png
Labels: package: core

#27320 test(infinite-scroll): migrate to generators
  core/src/components/infinite-scroll/test/basic/infinite-scroll.e2e-legacy.ts
  core/src/components/infinite-scroll/test/basic/infinite-scroll.e2e.ts
  core/src/components/infinite-scroll/test/scroll-target/infinite-scroll.e2e-legacy.ts
  core/src/components/infinite-scroll/test/scroll-target/infinite-scroll.e2e.ts
  core/src/components/infinite-scroll/test/top/infinite-scroll.e2e-legacy.ts
  core/src/components/infinite-scroll/test/top/infinite-scroll.e2e.ts
Labels: package: core

#27318 test(icon): migrate to generators
  core/src/components/icon/test/basic/icon.e2e-legacy.ts
  core/src/components/icon/test/basic/icon.e2e.ts
  core/src/components/icon/test/basic/icon.e2e.ts-snapshots/icon-md-ltr-Mobile-Chrome-linux.png
  core/src/components/icon/test/basic/icon.e2e.ts-snapshots/icon-md-ltr-Mobile-Firefox-linux.png
  core/src/components/icon/test/basic/icon.e2e.ts-snapshots/icon-md-ltr-Mobile-Safari-linux.png
  core/src/components/icon/test/dir/icon.e2e-legacy.ts
  core/src/components/icon/test/dir/icon.e2e.ts
  core/src/components/icon/test/dir/icon.e2e.ts-snapshots/icon-flip-md-ltr-Mobile-Chrome-linux.png
  core/src/components/icon/test/dir/icon.e2e.ts-snapshots/icon-flip-md-ltr-Mobile-Firefox-linux.png
  core/src/components/icon/test/dir/icon.e2e.ts-snapshots/icon-flip-md-ltr-Mobile-Safari-linux.png
  core/src/components/icon/test/dir/icon.e2e.ts-snapshots/icon-flip-md-rtl-Mobile-Chrome-linux.png
  core/src/components/icon/test/dir/icon.e2e.ts-snapshots/icon-flip-md-rtl-Mobile-Firefox-linux.png
  core/src/components/icon/test/dir/icon.e2e.ts-snapshots/icon-flip-md-rtl-Mobile-Safari-linux.png
  core/src/components/icon/test/dir/icon.e2e.ts-snapshots/icon-no-flip-md-ltr-Mobile-Chrome-linux.png
  core/src/components/icon/test/dir/icon.e2e.ts-snapshots/icon-no-flip-md-ltr-Mobile-Firefox-linux.png
  core/src/components/icon/test/dir/icon.e2e.ts-snapshots/icon-no-flip-md-ltr-Mobile-Safari-linux.png
  core/src/components/icon/test/dir/icon.e2e.ts-snapshots/icon-no-flip-md-rtl-Mobile-Chrome-linux.png
  core/src/components/icon/test/dir/icon.e2e.ts-snapshots/icon-no-flip-md-rtl-Mobile-Firefox-linux.png
  core/src/components/icon/test/dir/icon.e2e.ts-snapshots/icon-no-flip-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#27319 test(img): migrate to generators
  core/src/components/img/test/basic/img.e2e-legacy.ts
  core/src/components/img/test/basic/img.e2e.ts
  core/src/components/img/test/draggable/img.e2e-legacy.ts
  core/src/components/img/test/draggable/img.e2e.ts
Labels: package: core

#27323 test(item-divider): migrate to generators
  core/src/components/item-divider/test/basic/item-divider.e2e-legacy.ts
  core/src/components/item-divider/test/basic/item-divider.e2e.ts
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-button-end-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-button-end-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-button-end-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-button-end-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-button-end-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-button-end-ios-rtl-Mobile-Safari-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-button-end-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-button-end-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-button-end-md-ltr-Mobile-Safari-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-button-end-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-button-end-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-button-end-md-rtl-Mobile-Safari-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-icon-start-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-icon-start-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-icon-start-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-icon-start-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-icon-start-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-icon-start-ios-rtl-Mobile-Safari-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-icon-start-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-icon-start-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-icon-start-md-ltr-Mobile-Safari-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-icon-start-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-icon-start-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-icon-start-md-rtl-Mobile-Safari-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-text-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-text-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-text-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-text-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-text-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-text-ios-rtl-Mobile-Safari-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-text-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-text-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-text-md-ltr-Mobile-Safari-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-text-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-text-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-text-md-rtl-Mobile-Safari-linux.png
  core/src/components/item-divider/test/spec/item-divider.e2e-legacy.ts
  core/src/components/item-divider/test/spec/item-divider.e2e.ts
  core/src/components/item-divider/test/spec/item-divider.e2e.ts-snapshots/list-item-divider-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/spec/item-divider.e2e.ts-snapshots/list-item-divider-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/spec/item-divider.e2e.ts-snapshots/list-item-divider-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item-divider/test/spec/item-divider.e2e.ts-snapshots/list-item-divider-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/spec/item-divider.e2e.ts-snapshots/list-item-divider-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/spec/item-divider.e2e.ts-snapshots/list-item-divider-ios-rtl-Mobile-Safari-linux.png
  core/src/components/item-divider/test/spec/item-divider.e2e.ts-snapshots/list-item-divider-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/spec/item-divider.e2e.ts-snapshots/list-item-divider-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/spec/item-divider.e2e.ts-snapshots/list-item-divider-md-ltr-Mobile-Safari-linux.png
  core/src/components/item-divider/test/spec/item-divider.e2e.ts-snapshots/list-item-divider-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/spec/item-divider.e2e.ts-snapshots/list-item-divider-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/spec/item-divider.e2e.ts-snapshots/list-item-divider-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#27324 test(item-sliding): migrate to generators
  core/src/components/item-sliding/test/async/item-sliding.e2e-legacy.ts
  core/src/components/item-sliding/test/async/item-sliding.e2e.ts
  core/src/components/item-sliding/test/basic/item-sliding.e2e-legacy.ts
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-end-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-end-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-end-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-end-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-end-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-end-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-end-md-ltr-Mobile-Safari-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-end-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-gesture-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-start-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-start-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-start-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-start-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-start-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-start-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-start-md-ltr-Mobile-Safari-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-start-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/icons/item-sliding.e2e-legacy.ts
  core/src/components/item-sliding/test/icons/item-sliding.e2e.ts
  core/src/components/item-sliding/test/scroll-target/item-sliding.e2e-legacy.ts
  core/src/components/item-sliding/test/scroll-target/item-sliding.e2e.ts
Labels: package: core

#27306 fix(many): form components do not take up full width in slot
  core/src/components/checkbox/checkbox.scss
  core/src/components/radio/radio.scss
  core/src/components/range/range.scss
  core/src/components/select/select.scss
  core/src/components/select/test/label/index.html
  core/src/components/toggle/toggle.scss
Labels: package: core

#27332 test(nav): migrate to generators
  core/src/components/nav/test/basic/nav.e2e-legacy.ts
  core/src/components/nav/test/basic/nav.e2e.ts
  core/src/components/nav/test/modal-navigation/nav.e2e-legacy.ts
  core/src/components/nav/test/modal-navigation/nav.e2e.ts
  core/src/components/nav/test/nested/nav.e2e-legacy.ts
  core/src/components/nav/test/nested/nav.e2e.ts
  core/src/components/nav/test/routing/nav.e2e-legacy.ts
  core/src/components/nav/test/routing/nav.e2e.ts
Labels: package: core

#27333 test(note): migrate to generators
  core/src/components/note/test/basic/note.e2e-legacy.ts
  core/src/components/note/test/basic/note.e2e.ts
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-color-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-color-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-color-ios-ltr-Mobile-Safari-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-color-md-ltr-Mobile-Chrome-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-color-md-ltr-Mobile-Firefox-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-color-md-ltr-Mobile-Safari-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-divider-end-md-ltr-Mobile-Chrome-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-divider-end-md-ltr-Mobile-Firefox-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-divider-end-md-ltr-Mobile-Safari-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-divider-end-md-rtl-Mobile-Chrome-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-divider-end-md-rtl-Mobile-Firefox-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-divider-end-md-rtl-Mobile-Safari-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-divider-start-md-ltr-Mobile-Chrome-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-divider-start-md-ltr-Mobile-Firefox-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-divider-start-md-ltr-Mobile-Safari-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-divider-start-md-rtl-Mobile-Chrome-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-divider-start-md-rtl-Mobile-Firefox-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-divider-start-md-rtl-Mobile-Safari-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-end-md-ltr-Mobile-Chrome-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-end-md-ltr-Mobile-Firefox-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-end-md-ltr-Mobile-Safari-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-end-md-rtl-Mobile-Chrome-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-end-md-rtl-Mobile-Firefox-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-end-md-rtl-Mobile-Safari-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-start-md-ltr-Mobile-Chrome-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-start-md-ltr-Mobile-Firefox-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-start-md-ltr-Mobile-Safari-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-start-md-rtl-Mobile-Chrome-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-start-md-rtl-Mobile-Firefox-linux.png
  core/src/components/note/test/basic/note.e2e.ts-snapshots/note-item-start-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#27262 test(radio): enable keyboard tests
  core/src/components/radio/test/a11y/radio.e2e-legacy.ts
  core/src/components/radio/test/legacy/a11y/radio.e2e-legacy.ts
  core/src/utils/test/playwright/playwright-page.ts
  core/src/utils/test/press-keys.ts
Labels: package: core

#27334 chore(): add missing screenshot function
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts
  core/src/components/list/test/lines/list.e2e.ts
Labels: package: core
