Repository ionic-team/ionic-framework, pull requests merged in 2023-01, with the labels that each got.

#26520 refactor(item, range): remove item-specific logic
  core/src/components/input/input.md.scss
  core/src/components/input/input.tsx
  core/src/components/input/test/item/index.html
  core/src/components/input/test/item/input.e2e.ts
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-inset-list-no-fill-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-inset-list-no-fill-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-inset-list-no-fill-ios-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-inset-list-no-fill-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-inset-list-no-fill-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-inset-list-no-fill-ios-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-inset-list-no-fill-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-inset-list-no-fill-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-inset-list-no-fill-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-inset-list-no-fill-md-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-inset-list-no-fill-md-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-inset-list-no-fill-md-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-no-fill-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-no-fill-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-no-fill-ios-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-no-fill-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-no-fill-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-no-fill-ios-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-no-fill-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-no-fill-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-no-fill-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-no-fill-md-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-no-fill-md-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-no-fill-md-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-outline-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-outline-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-outline-ios-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-outline-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-outline-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-outline-ios-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-outline-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-outline-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-outline-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-outline-md-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-outline-md-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-outline-md-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-solid-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-solid-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-solid-ios-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-solid-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-solid-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-solid-ios-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-solid-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-solid-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-solid-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-solid-md-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-solid-md-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/item/input.e2e.ts-snapshots/input-list-solid-md-rtl-Mobile-Safari-linux.png
  core/src/components/item/item.md.scss
  core/src/components/item/item.scss
  core/src/components/item/item.tsx
  core/src/components/range/test/legacy/activeBarStart/range.e2e.ts-snapshots/range-activeBarStart-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/legacy/basic/range.e2e.ts-snapshots/range-diff-ios-ltr-Mobile-Chrome-linux.png
Labels: package: core

#26561 test(datetime): resolve flaky tests as year changes
  core/src/components/datetime/test/locale/datetime.e2e.ts
  core/src/components/datetime/test/prefer-wheel/datetime.e2e.ts
  core/src/components/datetime/test/presentation/index.html
Labels: package: core

#26563 chore(): sync with main
  core/package-lock.json
  core/src/components/datetime/test/locale/datetime.e2e.ts
  core/src/components/datetime/test/prefer-wheel/datetime.e2e.ts
  core/src/components/datetime/test/presentation/index.html
  core/src/components/reorder-group/test/interactive/reorder-group.e2e.ts
  core/src/components/reorder-group/test/nested/reorder-group.e2e.ts
  core/src/components/reorder-group/test/scroll-target/reorder-group.e2e.ts
  core/src/components/ripple-effect/test/basic/ripple-effect.e2e.ts
  core/src/utils/test/overlays/overlays.e2e.ts
Labels: package: core, package: angular, package: vue, package: react

#26564 chore(item): modify slot deprecation notice to avoid JSDoc formatting issue
  core/src/components/item/item.tsx
Labels: package: core

#26558 chore(jsdoc): move comment on RadioGroup
  core/src/components/radio-group/radio-group.tsx
Labels: package: core

#26547 fix(modal): canDismiss type with data and role
  core/src/components/modal/modal-interface.ts
Labels: package: core

#26560 fix(picker-column-internal): blurring picker does not throw error
  core/src/components/picker-column-internal/picker-column-internal.tsx
Labels: package: core

#26543 fix(vue): unmount teleported user component
  packages/vue/src/components/IonApp.ts
Labels: package: vue

#26551 feat(router): export hook interfaces
  core/src/interface.d.ts
Labels: package: core

#26512 feat(radio): legacy rendering in ion-item
  angular/src/directives/proxies.ts
  core/api.txt
  core/src/components.d.ts
  core/src/components/radio/radio.tsx
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#26567 fix(datetime): time wheel input mode is dismissed on user scroll
  core/src/components.d.ts
  core/src/components/picker-column-internal/picker-column-internal.tsx
  core/src/components/picker-internal/picker-internal.tsx
Labels: package: core

#26574 fix(input): label receives focus when floating or stacked
  core/src/components/input/input.md.scss
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-no-fill-color-end-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-no-fill-color-end-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-no-fill-color-end-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-no-fill-color-fixed-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-no-fill-color-fixed-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-no-fill-color-fixed-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-no-fill-color-start-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-no-fill-color-start-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-no-fill-color-start-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-outline-color-end-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-outline-color-end-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-outline-color-end-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-outline-color-fixed-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-outline-color-fixed-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-outline-color-fixed-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-outline-color-start-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-outline-color-start-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-outline-color-start-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-solid-color-end-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-solid-color-end-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-solid-color-end-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-solid-color-fixed-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-solid-color-fixed-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-solid-color-fixed-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-solid-color-start-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-solid-color-start-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/color/input.e2e.ts-snapshots/input-solid-color-start-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-no-fill-focus-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-no-fill-focus-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-no-fill-focus-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-no-fill-invalid-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-no-fill-invalid-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-no-fill-invalid-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-no-fill-valid-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-no-fill-valid-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-no-fill-valid-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-outline-focus-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-outline-focus-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-outline-focus-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-outline-invalid-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-outline-invalid-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-outline-invalid-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-outline-valid-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-outline-valid-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-outline-valid-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-solid-focus-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-solid-focus-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-solid-focus-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-solid-invalid-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-solid-invalid-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-solid-invalid-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-solid-valid-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-solid-valid-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-solid-valid-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#26576 fix(tab-button): nested interactives are not rendered
  core/src/components/tab-button/tab-button.tsx
  core/src/components/tab-button/test/a11y/index.html
  core/src/components/tab-button/test/a11y/tab-button.e2e.ts
Labels: package: core

#26575 fix(segment): nested interactives are not rendered
  core/src/components.d.ts
  core/src/components/segment-button/segment-button.tsx
  core/src/components/segment/segment.tsx
  core/src/components/segment/test/a11y/index.html
  core/src/components/segment/test/a11y/screen-readers.md
  core/src/components/segment/test/a11y/segment.e2e.ts
Labels: package: core

#26581 fix(loading): support custom aria-label
  core/src/components/loading/loading.tsx
  core/src/components/loading/test/a11y/index.html
  core/src/components/loading/test/a11y/loading.e2e.ts
Labels: package: core

#26580 feat(all): add base components config
  angular/src/index.ts
  core/src/global/base-components.ts
  core/src/global/config.ts
  core/src/global/ionic-global.ts
  core/src/global/test/base-components.spec.ts
  core/src/global/test/config-controller.spec.ts
  core/src/index.ts
  core/src/utils/config.ts
  packages/react/src/components/index.ts
  packages/vue/src/index.ts
Labels: package: core, package: angular, package: vue, package: react

#26588 Release 6.4.2
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#26586 fix(list): inset lists render correctly
  core/src/components/item/item.tsx
  core/src/components/list/list.ios.scss
  core/src/components/list/list.md.scss
  core/src/components/list/test/inset/list.e2e.ts
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-full-lines-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-full-lines-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-full-lines-ios-ltr-Mobile-Safari-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-full-lines-md-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-full-lines-md-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-full-lines-md-ltr-Mobile-Safari-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-inset-lines-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-inset-lines-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-inset-lines-ios-ltr-Mobile-Safari-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-inset-lines-md-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-inset-lines-md-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-inset-lines-md-ltr-Mobile-Safari-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-no-lines-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-no-lines-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-no-lines-ios-ltr-Mobile-Safari-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-no-lines-md-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-no-lines-md-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/inset/list.e2e.ts-snapshots/list-inset-no-lines-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#26592 fix(input): clear button uses contrast when setting color on item
  core/src/components/input/input.scss
  core/src/components/input/input.tsx
  core/src/components/input/test/basic/input.e2e.ts
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-clear-button-item-color-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-clear-button-item-color-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-clear-button-item-color-ios-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-clear-button-item-color-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-clear-button-item-color-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-clear-button-item-color-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#26611 fix(many): component wrappers inherit height
  core/src/components/checkbox/checkbox.scss
  core/src/components/input/input.scss
  core/src/components/radio/radio.scss
  core/src/components/range/range.scss
  core/src/components/select/select.scss
  core/src/components/toggle/toggle.scss
Labels: package: core

#26617 feat(deps): update ionicons to 6.1.0
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#26626 feat(deps): update ionicons to 6.1.1
  angular/package-lock.json
  angular/package.json
  core/package-lock.json
  core/package.json
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#26627 Release 6.4.3
  .github/workflows/release.yml
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#26630 docs(breadcrumb): remove documentation for nonexistent APIs
  core/api.txt
  core/src/components/breadcrumbs/breadcrumbs.scss
Labels: package: core

#26634 chore(react-router): migrate to eslint, add prettier
  .github/workflows/actions/build-react-router/action.yml
  packages/react-router/.eslintrc.js
  packages/react-router/.prettierrc.json
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react-router/src/ReactRouter/IonReactHashRouter.tsx
  packages/react-router/src/ReactRouter/IonReactMemoryRouter.tsx
  packages/react-router/src/ReactRouter/IonReactRouter.tsx
  packages/react-router/src/ReactRouter/IonRouteInner.tsx
  packages/react-router/src/ReactRouter/IonRouter.tsx
  packages/react-router/src/ReactRouter/ReactRouterViewStack.tsx
  packages/react-router/src/ReactRouter/StackManager.tsx
Labels: package: react

#26635 chore(vue): add eslint and prettier
  .github/workflows/actions/build-vue/action.yml
  packages/vue/.eslintignore
  packages/vue/.eslintrc.js
  packages/vue/.prettierignore
  packages/vue/package-lock.json
  packages/vue/package.json
  packages/vue/src/components/IonApp.ts
  packages/vue/src/components/IonBackButton.ts
  packages/vue/src/components/IonIcon.ts
  packages/vue/src/components/IonNav.ts
  packages/vue/src/components/IonPage.ts
  packages/vue/src/components/IonRouterOutlet.ts
  packages/vue/src/components/IonTabBar.ts
  packages/vue/src/components/IonTabButton.ts
  packages/vue/src/components/IonTabs.ts
  packages/vue/src/controllers.ts
  packages/vue/src/framework-delegate.ts
  packages/vue/src/globalExtensions.ts
  packages/vue/src/hooks/back-button.ts
  packages/vue/src/hooks/keyboard.ts
  packages/vue/src/hooks/lifecycle.ts
  packages/vue/src/hooks/router.ts
  packages/vue/src/index.ts
  packages/vue/src/ionic-vue.ts
  packages/vue/src/utils.ts
Labels: package: vue

#26636 chore(vue-router): add eslint and prettier
  .github/workflows/actions/build-vue-router/action.yml
  packages/vue-router/.eslintrc.js
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue-router/src/index.ts
  packages/vue-router/src/locationHistory.ts
  packages/vue-router/src/router.ts
  packages/vue-router/src/types.ts
  packages/vue-router/src/utils.ts
  packages/vue-router/src/viewStacks.ts
Labels: package: vue

#26637 chore(angular): fix package-lock
  .github/workflows/actions/build-angular/action.yml
  angular/package-lock.json
Labels: package: angular

#26619 fix(fab-button): icon is not announced by screen readers
  core/src/components/fab-button/fab-button.tsx
Labels: package: core

#26614 fix(react): hardware back button works in dev mode
  packages/react/src/routing/NavManager.tsx
Labels: package: react

#26638 chore(angular-server): fix peer dependencies
  .github/workflows/actions/build-angular-server/action.yml
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
Labels: package: angular

#26641 fix(toggle): on-off icon is not announced by screen readers
  core/src/components/toggle/toggle.tsx
Labels: package: core

#26640 fix(action-sheet): button icons are not announced by screen readers
  core/src/components/action-sheet/action-sheet.tsx
Labels: package: core

#26647 fix(vue): unmount teleported components
  packages/vue/src/components/IonApp.ts
  packages/vue/src/framework-delegate.ts
  packages/vue/test/base/src/components/ModalContent.vue
  packages/vue/test/base/tests/e2e/specs/overlays.cy.js
Labels: package: vue

#26650 fix(modal, popover): warn if trigger element was not found
  core/src/components/modal/modal.tsx
  core/src/components/popover/popover.tsx
Labels: package: core

#26615 fix(breadcrumb): add aria-label to collapsed indicator
  core/src/components/breadcrumb/breadcrumb.tsx
  core/src/components/breadcrumb/test/aria.spec.ts
  core/src/components/breadcrumbs/test/a11y/breadcrumbs.e2e.ts
  core/src/components/breadcrumbs/test/a11y/index.html
Labels: package: core

#26651 fix(overlays): triggerController warns about missing triggers
  core/src/components/modal/modal.tsx
  core/src/utils/overlays.ts
Labels: package: core

#26664 fix(textarea): label color and focus highlight
  core/src/components/select/test/async/select.e2e.ts
  core/src/components/textarea/test/color/index.html
  core/src/components/textarea/test/color/textarea.e2e.ts
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-no-fill-color-end-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-no-fill-color-end-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-no-fill-color-end-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-no-fill-color-fixed-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-no-fill-color-fixed-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-no-fill-color-fixed-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-no-fill-color-floating-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-no-fill-color-floating-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-no-fill-color-floating-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-no-fill-color-stacked-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-no-fill-color-stacked-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-no-fill-color-stacked-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-no-fill-color-start-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-no-fill-color-start-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-no-fill-color-start-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-outline-color-end-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-outline-color-end-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-outline-color-end-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-outline-color-fixed-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-outline-color-fixed-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-outline-color-fixed-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-outline-color-floating-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-outline-color-floating-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-outline-color-floating-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-outline-color-stacked-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-outline-color-stacked-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-outline-color-stacked-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-outline-color-start-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-outline-color-start-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-outline-color-start-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-solid-color-end-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-solid-color-end-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-solid-color-end-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-solid-color-fixed-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-solid-color-fixed-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-solid-color-fixed-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-solid-color-floating-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-solid-color-floating-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-solid-color-floating-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-solid-color-stacked-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-solid-color-stacked-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-solid-color-stacked-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-solid-color-start-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-solid-color-start-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/color/textarea.e2e.ts-snapshots/textarea-solid-color-start-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-focused-placement-floating-no-value-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-focused-placement-floating-no-value-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-focused-placement-floating-no-value-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-focused-placement-floating-no-value-md-rtl-Mobile-Chrome-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-focused-placement-floating-no-value-md-rtl-Mobile-Firefox-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-focused-placement-floating-no-value-md-rtl-Mobile-Safari-linux.png
  core/src/components/textarea/textarea.md.scss
  core/src/components/textarea/textarea.scss
  core/src/components/textarea/textarea.tsx
Labels: package: core

#26668 fix(select): focusing item works in firefox
  core/src/components/select/select.tsx
  core/src/components/select/test/basic/select.e2e.ts
Labels: package: core

#26670 fix(select): modern component takes up full line
  core/src/components/select/select.ios.scss
  core/src/components/select/select.md.scss
  core/src/components/select/select.scss
  core/src/components/select/select.tsx
Labels: package: core

#26675 chore(): run build
  angular/src/directives/proxies.ts
  core/api.txt
Labels: package: core, package: angular

#26680 Sync beta 0
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components/select/select.tsx
  core/src/components/select/test/basic/select.e2e.ts
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#26677 fix(vue): unmount teleported components (#26647)
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
  packages/vue/src/components/IonApp.ts
  packages/vue/src/framework-delegate.ts
  packages/vue/test/base/src/components/ModalContent.vue
  packages/vue/test/base/tests/e2e/specs/overlays.cy.js
Labels: package: core, package: angular, package: vue, package: react

#26681 chore(): release v7.0.0-beta.0
  .github/workflows/actions/publish-npm/action.yml
  .github/workflows/pre-release.yml
  .github/workflows/release-ionic.yml
  .github/workflows/release.yml
  CHANGELOG.md
  angular/CHANGELOG.md
  angular/package-lock.json
  angular/package.json
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#26667 fix(select): setting options async updates rendered text
  core/src/components/select/select.tsx
  core/src/components/select/test/async/index.html
  core/src/components/select/test/async/select.e2e.ts
Labels: package: core

#26685 test(overlays): re-enable hidden focusable element test
  core/src/utils/test/overlays/overlays.e2e.ts
Labels: package: core

#26686 chore(ci): sync scripts now account for dependencies
  .gitignore
  angular/scripts/sync.sh
  angular/test/base/scripts/sync.sh
  packages/react-router/test-app/scripts/sync.sh
  packages/react/test-app/scripts/sync.sh
  packages/vue-router/scripts/sync.sh
  packages/vue/scripts/sync.sh
  packages/vue/test/base/scripts/sync.sh
Labels: package: angular, package: vue, package: react

#26693 Sync main scripts
  .github/ISSUE_TEMPLATE/bug_report.yml
  .gitignore
  angular/scripts/sync.sh
  angular/test/base/scripts/sync.sh
  core/src/components/select/select.tsx
  core/src/components/select/test/async/index.html
  core/src/components/select/test/async/select.e2e.ts
  core/src/utils/test/overlays/overlays.e2e.ts
  packages/react-router/test-app/scripts/sync.sh
  packages/react/test-app/scripts/sync.sh
  packages/vue-router/scripts/sync.sh
  packages/vue/scripts/sync.sh
  packages/vue/test/base/scripts/sync.sh
Labels: package: core, package: angular, package: vue, package: react

#26546 fix(item): inherit aria attributes before render
  core/package-lock.json
  core/package.json
  core/src/components/item/item.tsx
  core/src/components/item/test/a11y/item.e2e.ts
  packages/vue/src/vue-component-lib/utils.ts
Labels: package: core, package: vue

#26694 fix(vue): cache attached view reference
  packages/vue/src/framework-delegate.ts
  packages/vue/test/base/src/router/index.ts
  packages/vue/test/base/src/views/Components.vue
  packages/vue/test/base/src/views/Home.vue
  packages/vue/test/base/src/views/Select.vue
  packages/vue/test/base/tests/e2e/specs/select.cy.js
Labels: package: vue

#26699 fix(many): legacy form control does not warn when using aria-labelledby
  core/src/components/checkbox/checkbox.tsx
  core/src/components/input/input.tsx
  core/src/components/radio/radio.tsx
  core/src/components/range/range.tsx
  core/src/components/select/select.tsx
  core/src/components/toggle/toggle.tsx
  core/src/utils/forms/form-controller.ts
  core/src/utils/test/aria.spec.ts
Labels: package: core

#26705 fix(popover): resolve import warning in stencil apps
  core/src/components/popover/popover.tsx
Labels: package: core

#26707 fix(textarea): textarea wrapper inherits height
  core/src/components/textarea/textarea.scss
Labels: package: core
