Repository ionic-team/ionic-framework, pull requests merged in 2023-11, with the labels that each got.

#28447 Release 7.5.3
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28415 fix(overlays): prevent scroll gestures when the overlay is presented
  core/src/components/backdrop/backdrop.tsx
  core/src/components/menu/menu.tsx
  core/src/utils/gesture/gesture-controller.ts
  core/src/utils/overlays.ts
  core/src/utils/test/overlays/overlays-scroll-blocking.spec.ts
Labels: package: core

#28451 chore: remove release scripts
  packages/react-router/package.json
  packages/react/package.json
Labels: package: react

#28403 fix(item): apply safe area to proper side regardless of direction
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-left-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-left-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-left-ios-rtl-Mobile-Safari-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-left-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-left-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-left-md-rtl-Mobile-Safari-linux.png
  core/src/components/item/item.scss
  core/src/components/item/test/basic/item.e2e.ts
  core/src/components/item/test/basic/item.e2e.ts-snapshots/item-safe-area-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/basic/item.e2e.ts-snapshots/item-safe-area-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/basic/item.e2e.ts-snapshots/item-safe-area-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/basic/item.e2e.ts-snapshots/item-safe-area-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/basic/item.e2e.ts-snapshots/item-safe-area-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/basic/item.e2e.ts-snapshots/item-safe-area-ios-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/basic/item.e2e.ts-snapshots/item-safe-area-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/basic/item.e2e.ts-snapshots/item-safe-area-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/basic/item.e2e.ts-snapshots/item-safe-area-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/basic/item.e2e.ts-snapshots/item-safe-area-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/basic/item.e2e.ts-snapshots/item-safe-area-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/basic/item.e2e.ts-snapshots/item-safe-area-md-rtl-Mobile-Safari-linux.png
  core/src/components/menu/test/safe-area/menu.e2e.ts-snapshots/menu-end-safe-area-left-notch-md-rtl-Mobile-Chrome-linux.png
  core/src/components/menu/test/safe-area/menu.e2e.ts-snapshots/menu-end-safe-area-left-notch-md-rtl-Mobile-Firefox-linux.png
  core/src/components/menu/test/safe-area/menu.e2e.ts-snapshots/menu-end-safe-area-left-notch-md-rtl-Mobile-Safari-linux.png
  core/src/components/menu/test/safe-area/menu.e2e.ts-snapshots/menu-end-safe-area-right-notch-md-rtl-Mobile-Chrome-linux.png
  core/src/components/menu/test/safe-area/menu.e2e.ts-snapshots/menu-end-safe-area-right-notch-md-rtl-Mobile-Firefox-linux.png
  core/src/components/menu/test/safe-area/menu.e2e.ts-snapshots/menu-end-safe-area-right-notch-md-rtl-Mobile-Safari-linux.png
  core/src/components/menu/test/safe-area/menu.e2e.ts-snapshots/menu-start-safe-area-left-notch-md-rtl-Mobile-Chrome-linux.png
  core/src/components/menu/test/safe-area/menu.e2e.ts-snapshots/menu-start-safe-area-left-notch-md-rtl-Mobile-Firefox-linux.png
  core/src/components/menu/test/safe-area/menu.e2e.ts-snapshots/menu-start-safe-area-left-notch-md-rtl-Mobile-Safari-linux.png
  core/src/components/menu/test/safe-area/menu.e2e.ts-snapshots/menu-start-safe-area-right-notch-md-rtl-Mobile-Chrome-linux.png
  core/src/components/menu/test/safe-area/menu.e2e.ts-snapshots/menu-start-safe-area-right-notch-md-rtl-Mobile-Firefox-linux.png
  core/src/components/menu/test/safe-area/menu.e2e.ts-snapshots/menu-start-safe-area-right-notch-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#28439 fix(list): remove border from last item with item-sliding
  core/src/components/list/list.ios.scss
  core/src/components/list/list.md.scss
  core/src/components/list/test/lines/list.e2e.ts
  core/src/components/list/test/lines/list.e2e.ts-snapshots/inset-list-end-options-no-lines-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/inset-list-end-options-no-lines-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/inset-list-end-options-no-lines-ios-ltr-Mobile-Safari-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/inset-list-end-options-no-lines-md-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/inset-list-end-options-no-lines-md-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/inset-list-end-options-no-lines-md-ltr-Mobile-Safari-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/inset-list-only-item-no-lines-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/inset-list-only-item-no-lines-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/inset-list-only-item-no-lines-ios-ltr-Mobile-Safari-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/inset-list-only-item-no-lines-md-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/inset-list-only-item-no-lines-md-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/inset-list-only-item-no-lines-md-ltr-Mobile-Safari-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/inset-list-start-options-no-lines-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/inset-list-start-options-no-lines-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/inset-list-start-options-no-lines-ios-ltr-Mobile-Safari-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/inset-list-start-options-no-lines-md-ltr-Mobile-Chrome-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/inset-list-start-options-no-lines-md-ltr-Mobile-Firefox-linux.png
  core/src/components/list/test/lines/list.e2e.ts-snapshots/inset-list-start-options-no-lines-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#28465 chore(core): remove old scripts
  core/package.json
Labels: package: core

#28386 chore(angular): remove radio value accessor
  packages/angular/src/directives/control-value-accessors/index.ts
  packages/angular/src/directives/control-value-accessors/radio-value-accessor.ts
  packages/angular/src/index.ts
  packages/angular/src/ionic-module.ts
  packages/angular/standalone/src/directives/radio.ts
  packages/angular/test/base/e2e/src/lazy/form.spec.ts
  packages/angular/test/base/e2e/src/lazy/inputs.spec.ts
  packages/angular/test/base/src/app/lazy/form/form.component.html
  packages/angular/test/base/src/app/lazy/form/form.component.ts
  packages/angular/test/base/src/app/lazy/inputs/inputs.component.html
  packages/angular/test/base/src/app/lazy/inputs/inputs.component.ts
Labels: package: angular

#28450 chore: packages do not explicitly run tsc
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react-router/rollup.config.js
  packages/react-router/tsconfig.json
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/rollup.config.js
  packages/react/tsconfig.json
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue-router/rollup.config.js
  packages/vue/package-lock.json
  packages/vue/package.json
  packages/vue/rollup.config.js
  packages/vue/tsconfig.json
Labels: package: vue, package: react

#28440 feat(toast): quickly swiping dismisses toast
  core/src/components/toast/gestures/swipe-to-dismiss.ts
Labels: package: core

#28402 feat(toast): add swipe gesture implementation
  core/src/components/modal/gestures/swipe-to-close.ts
  core/src/components/toast/animations/ios.enter.ts
  core/src/components/toast/animations/md.enter.ts
  core/src/components/toast/animations/utils.ts
  core/src/components/toast/gestures/swipe-to-dismiss.ts
  core/src/components/toast/test/swipe-gesture/index.html
  core/src/components/toast/test/swipe-gesture/toast.e2e.ts
  core/src/components/toast/toast.tsx
  core/src/utils/overlays.ts
Labels: package: core

#28459 refactor: update to rollup 4
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react-router/rollup.config.mjs
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/rollup.config.mjs
  packages/react/scripts/treeshaking.js
  packages/react/src/components/inner-proxies.ts
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue-router/rollup.config.mjs
  packages/vue/package-lock.json
  packages/vue/package.json
  packages/vue/rollup.config.mjs
Labels: package: vue, package: react

#28484 fix(inputs): remove invalid legacy warnings in input, textarea, and select
  core/src/utils/forms/form-controller.ts
Labels: package: core

#28420 fix(item-divider): apply safe area to proper side regardless of direction
  core/src/components/item-divider/item-divider.scss
  core/src/components/item-divider/test/basic/item-divider.e2e.ts
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-safe-area-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-safe-area-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-safe-area-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-safe-area-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-safe-area-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-safe-area-ios-rtl-Mobile-Safari-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-safe-area-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-safe-area-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-safe-area-md-ltr-Mobile-Safari-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-safe-area-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-safe-area-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/basic/item-divider.e2e.ts-snapshots/item-divider-safe-area-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#28490 Release 7.5.4
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28478 fix(searchbar): cancel icon aligns with back button
  core/src/components/searchbar/searchbar.md.scss
  core/src/components/searchbar/searchbar.md.vars.scss
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-toolbar-md-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-toolbar-md-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-toolbar-md-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-back-button-align-md-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-back-button-align-md-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-back-button-align-md-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-buttons-md-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-buttons-md-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-buttons-md-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-buttons-md-rtl-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-buttons-md-rtl-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-buttons-md-rtl-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-color-md-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-color-md-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-color-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#28474 refactor(angular): action sheet provider imports correct instance from core
  packages/angular/common/src/index.ts
  packages/angular/src/index.ts
  packages/angular/src/providers/action-sheet-controller.ts
  packages/angular/standalone/src/index.ts
  packages/angular/standalone/src/providers/action-sheet-controller.ts
  packages/angular/test/base/e2e/src/lazy/providers.spec.ts
  packages/angular/test/base/e2e/src/standalone/action-sheet-controller.spec.ts
  packages/angular/test/base/src/app/lazy/providers/providers.component.html
  packages/angular/test/base/src/app/lazy/providers/providers.component.ts
  packages/angular/test/base/src/app/standalone/action-sheet-controller/action-sheet-controller.component.html
  packages/angular/test/base/src/app/standalone/action-sheet-controller/action-sheet-controller.component.ts
  packages/angular/test/base/src/app/standalone/app-standalone/app.routes.ts
Labels: package: angular

#28485 refactor(angular): popover controller uses correct core instance
  packages/angular/common/src/index.ts
  packages/angular/common/src/utils/overlay.ts
  packages/angular/src/index.ts
  packages/angular/src/ionic-module.ts
  packages/angular/src/providers/popover-controller.ts
  packages/angular/standalone/src/index.ts
  packages/angular/standalone/src/providers/ionic-angular.ts
  packages/angular/standalone/src/providers/popover-controller.ts
Labels: package: angular

#28472 fix(header): collapsible large title does not flicker when collapse prop not reflected
  core/src/components/header/header.ios.scss
Labels: package: core

#28452 feat(radio-group): add compareWith property
  core/api.txt
  core/src/components.d.ts
  core/src/components/radio-group/radio-group-interface.ts
  core/src/components/radio-group/radio-group.tsx
  core/src/components/radio-group/test/compare-with/index.html
  core/src/components/radio-group/test/radio-group.spec.tsx
  core/src/components/radio/radio.tsx
  core/src/components/select/select.tsx
  core/src/utils/forms/compare-with-utils.ts
  core/src/utils/forms/index.ts
  packages/angular/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#28486 refactor(angular): modal provider imports correct instance from core
  packages/angular/common/src/index.ts
  packages/angular/src/index.ts
  packages/angular/src/ionic-module.ts
  packages/angular/src/providers/modal-controller.ts
  packages/angular/standalone/src/index.ts
  packages/angular/standalone/src/providers/ionic-angular.ts
  packages/angular/standalone/src/providers/modal-controller.ts
Labels: package: angular

#28453 refactor: introduce watch command
  packages/angular-server/package.json
  packages/angular/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/vue-router/package.json
  packages/vue/package.json
Labels: package: angular, package: vue, package: react

#28493 refactor(angular): use correct core instance for toast controller
  packages/angular/common/src/index.ts
  packages/angular/src/index.ts
  packages/angular/src/providers/toast-controller.ts
  packages/angular/standalone/src/index.ts
  packages/angular/standalone/src/providers/toast-controller.ts
Labels: package: angular

#28412 chore(dev-deps): upgrade to jest v29
  core/package-lock.json
  core/package.json
Labels: package: core

#28473 refactor(angular): animation controller uses correct core instance
  packages/angular/common/src/index.ts
  packages/angular/src/index.ts
  packages/angular/src/providers/animation-controller.ts
  packages/angular/standalone/src/index.ts
  packages/angular/standalone/src/providers/animation-controller.ts
Labels: package: angular

#28477 refactor(angular): gesture controller uses correct core instance
  packages/angular/common/src/index.ts
  packages/angular/src/index.ts
  packages/angular/src/providers/gesture-controller.ts
  packages/angular/standalone/src/index.ts
  packages/angular/standalone/src/providers/gesture-controller.ts
Labels: package: angular

#28488 fix(radio-group): emit value change on componentDidLoad
  core/src/components/radio-group/radio-group.tsx
Labels: package: core

#28504 fix(action-sheet): adjust height for safe area with scrollable options
  core/src/components/action-sheet/action-sheet.scss
  core/src/components/action-sheet/test/basic/action-sheet.e2e.ts
  core/src/components/action-sheet/test/basic/action-sheet.e2e.ts-snapshots/action-sheet-safe-area-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/action-sheet/test/basic/action-sheet.e2e.ts-snapshots/action-sheet-safe-area-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/action-sheet/test/basic/action-sheet.e2e.ts-snapshots/action-sheet-safe-area-ios-ltr-Mobile-Safari-linux.png
  core/src/components/action-sheet/test/basic/action-sheet.e2e.ts-snapshots/action-sheet-safe-area-md-ltr-Mobile-Chrome-linux.png
  core/src/components/action-sheet/test/basic/action-sheet.e2e.ts-snapshots/action-sheet-safe-area-md-ltr-Mobile-Firefox-linux.png
  core/src/components/action-sheet/test/basic/action-sheet.e2e.ts-snapshots/action-sheet-safe-area-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#28503 chore: remove unused code
  BREAKING.md
  core/src/components/content/content.scss
Labels: package: core

#28442 feat(toast): add swipeGesture
  core/api.txt
  core/src/components.d.ts
  core/src/components/modal/gestures/swipe-to-close.ts
  core/src/components/toast/animations/ios.enter.ts
  core/src/components/toast/animations/md.enter.ts
  core/src/components/toast/animations/utils.ts
  core/src/components/toast/gestures/swipe-to-dismiss.ts
  core/src/components/toast/test/swipe-gesture/index.html
  core/src/components/toast/test/swipe-gesture/toast.e2e.ts
  core/src/components/toast/test/toast-config.spec.ts
  core/src/components/toast/test/toast.spec.tsx
  core/src/components/toast/toast-interface.ts
  core/src/components/toast/toast.tsx
  core/src/utils/overlays.ts
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/proxies.ts
  packages/vue/src/components/Overlays.ts
Labels: package: core, package: angular, package: vue

#28513 chore: adds angular test app for v17
  .github/workflows/actions/test-angular-e2e/action.yml
  .github/workflows/build.yml
  packages/angular/test/apps/ng17/angular.json
  packages/angular/test/apps/ng17/e2e/src/.gitkeep
  packages/angular/test/apps/ng17/e2e/src/lazy/angular-version.spec.ts
  packages/angular/test/apps/ng17/e2e/src/lazy/bind-component-inputs.spec.ts
  packages/angular/test/apps/ng17/e2e/src/lazy/modal-nav-params.spec.ts
  packages/angular/test/apps/ng17/package-lock.json
  packages/angular/test/apps/ng17/package.json
  packages/angular/test/apps/ng17/server.ts
  packages/angular/test/apps/ng17/src/app/app-routing.module.ts
  packages/angular/test/apps/ng17/src/app/lazy/version-test/bind-component-inputs/bind-component-inputs.component.ts
  packages/angular/test/apps/ng17/src/app/lazy/version-test/modal-nav-params/modal-nav-params.component.ts
  packages/angular/test/apps/ng17/src/app/lazy/version-test/modal-nav-params/nav-root.component.ts
  packages/angular/test/apps/ng17/src/app/lazy/version-test/version-test-routing.module.ts
  packages/angular/test/apps/ng17/tsconfig.json
  packages/angular/test/base/src/polyfills.ts
Labels: package: angular

#28510 fix(accordion-group): correct accordion is open on load
  core/src/components/accordion-group/accordion-group.tsx
Labels: package: core

#28532 test(angular): remove routing waits in tests
  packages/angular/test/base/cypress/support/commands.js
  packages/angular/test/base/e2e/src/lazy/navigation.spec.ts
  packages/angular/test/base/e2e/src/lazy/nested-outlet.spec.ts
  packages/angular/test/base/e2e/src/lazy/router-link.spec.ts
Labels: package: angular

#28535 Release 7.5.5
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28531 chore(angular): type checking for standalone directory
  packages/angular/tsconfig.json
Labels: package: angular

#28528 chore(angular): remove tslint
  packages/angular/tslint.json
Labels: package: angular

#28521 refactor(angular): picker controller uses correct core instance
  packages/angular/common/src/index.ts
  packages/angular/src/index.ts
  packages/angular/src/providers/picker-controller.ts
  packages/angular/standalone/src/index.ts
  packages/angular/standalone/src/providers/picker-controller.ts
  packages/angular/test/base/e2e/src/lazy/providers.spec.ts
  packages/angular/test/base/e2e/src/standalone/overlay-controllers.spec.ts
  packages/angular/test/base/src/app/lazy/providers/providers.component.html
  packages/angular/test/base/src/app/lazy/providers/providers.component.ts
  packages/angular/test/base/src/app/standalone/overlay-controllers/overlay-controllers.component.html
  packages/angular/test/base/src/app/standalone/overlay-controllers/overlay-controllers.component.ts
Labels: package: angular

#28530 fix(angular): transition plays when using browser buttons
  packages/angular/common/src/providers/nav-controller.ts
Labels: package: angular

#28501 fix(alert): match MD spec on tablet
  core/src/components/alert/alert.md.scss
  core/src/components/alert/alert.md.vars.scss
  core/src/components/alert/alert.scss
  core/src/components/alert/test/basic/alert-tablet.e2e.ts
  core/src/components/alert/test/basic/alert-tablet.e2e.ts-snapshots/alert-tablet-checkboxes-md-ltr-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert-tablet.e2e.ts-snapshots/alert-tablet-checkboxes-md-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert-tablet.e2e.ts-snapshots/alert-tablet-checkboxes-md-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert-tablet.e2e.ts-snapshots/alert-tablet-radios-md-ltr-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert-tablet.e2e.ts-snapshots/alert-tablet-radios-md-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert-tablet.e2e.ts-snapshots/alert-tablet-radios-md-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert-tablet.e2e.ts-snapshots/alert-tablet-text-md-ltr-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert-tablet.e2e.ts-snapshots/alert-tablet-text-md-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert-tablet.e2e.ts-snapshots/alert-tablet-text-md-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-prompt-md-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-prompt-md-rtl-Mobile-Safari-linux.png
  core/src/components/modal/modal.ios.scss
  core/src/themes/ionic.mixins.scss
Labels: package: core

#28538 refactor(angular): alert controller uses correct core instance
  packages/angular/common/src/index.ts
  packages/angular/src/index.ts
  packages/angular/src/providers/alert-controller.ts
  packages/angular/standalone/src/index.ts
  packages/angular/standalone/src/providers/alert-controller.ts
  packages/angular/test/base/e2e/src/lazy/providers.spec.ts
  packages/angular/test/base/e2e/src/standalone/overlay-controllers.spec.ts
  packages/angular/test/base/src/app/lazy/providers/providers.component.html
  packages/angular/test/base/src/app/lazy/providers/providers.component.ts
  packages/angular/test/base/src/app/standalone/overlay-controllers/overlay-controllers.component.html
  packages/angular/test/base/src/app/standalone/overlay-controllers/overlay-controllers.component.ts
Labels: package: angular

#28529 chore(core): type checking for unit tests
  core/package-lock.json
  core/package.json
  core/src/components/accordion/test/accordion.spec.ts
  core/src/components/action-sheet/test/basic/action-sheet.spec.tsx
  core/src/components/alert/test/alert.spec.ts
  core/src/components/breadcrumbs/test/breadcrumbs.spec.ts
  core/src/components/button/test/form-reference/button.spec.ts
  core/src/components/checkbox/test/checkbox.spec.ts
  core/src/components/datetime/test/comparison.spec.ts
  core/src/components/datetime/test/data.spec.ts
  core/src/components/datetime/test/format.spec.ts
  core/src/components/datetime/test/manipulation.spec.ts
  core/src/components/datetime/test/parse.spec.ts
  core/src/components/datetime/test/state.spec.ts
  core/src/components/infinite-scroll-content/test/infinite-scroll-content.spec.ts
  core/src/components/input/test/input.spec.ts
  core/src/components/input/test/item/input.spec.ts
  core/src/components/item/test/a11y/item.spec.ts
  core/src/components/loading/test/basic/loading.spec.tsx
  core/src/components/modal/test/a11y/modal.spec.ts
  core/src/components/modal/test/basic/modal.spec.tsx
  core/src/components/modal/test/can-dismiss/modal.spec.tsx
  core/src/components/nav/test/nav-controller.spec.ts
  core/src/components/picker-column/test/picker-column-aria.spec.tsx
  core/src/components/picker-column/test/picker-column-dynamic.spec.tsx
  core/src/components/picker-column/test/picker-column.spec.tsx
  core/src/components/popover/test/basic/popover.spec.tsx
  core/src/components/popover/test/util.spec.ts
  core/src/components/radio/test/radio.spec.ts
  core/src/components/range/test/range.spec.ts
  core/src/components/refresher-content/test/refresher-content.spec.ts
  core/src/components/router/test/matching.spec.tsx
  core/src/components/router/test/router.spec.tsx
  core/src/components/searchbar/test/searchbar.spec.ts
  core/src/components/segment/test/segment.spec.ts
  core/src/components/select/test/select.spec.tsx
  core/src/components/textarea/test/textarea.spec.ts
  core/src/components/toast/test/toast.spec.tsx
  core/src/components/toggle/test/toggle.spec.ts
  core/src/global/test/config-controller.spec.ts
  core/src/utils/animation/test/animation.spec.ts
  core/src/utils/keyboard/test/keyboard.spec.ts
  core/src/utils/sanitization/test/sanitization.spec.ts
  core/src/utils/test/aria.spec.ts
  core/src/utils/test/hardware-back-button.spec.ts
  core/src/utils/test/overlays/overlays.spec.ts
  core/src/utils/test/ready.spec.ts
  core/tsconfig.json
Labels: package: core

#28543 refactor(angular): loading controller uses correct core instance
  packages/angular/common/src/index.ts
  packages/angular/src/index.ts
  packages/angular/src/providers/loading-controller.ts
  packages/angular/standalone/src/index.ts
  packages/angular/standalone/src/providers/loading-controller.ts
  packages/angular/test/base/e2e/src/lazy/providers.spec.ts
  packages/angular/test/base/e2e/src/standalone/overlay-controllers.spec.ts
  packages/angular/test/base/src/app/lazy/providers/providers.component.html
  packages/angular/test/base/src/app/lazy/providers/providers.component.ts
  packages/angular/test/base/src/app/standalone/overlay-controllers/overlay-controllers.component.html
  packages/angular/test/base/src/app/standalone/overlay-controllers/overlay-controllers.component.ts
Labels: package: angular

#28549 fix(datetime): updating value with min scrolls to new value
  core/src/components/datetime/datetime.tsx
Labels: package: core

#28523 fix(angular): ng add @ionic/angular in standalone projects
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/angular/src/schematics/add/files/root/theme/variables.css
  packages/angular/src/schematics/add/index.ts
  packages/angular/src/schematics/utils/ast.ts
  packages/angular/src/schematics/utils/config.ts
  packages/angular/src/schematics/utils/devkit-utils/ast-utils.ts
  packages/angular/src/schematics/utils/devkit-utils/change.ts
  packages/angular/src/schematics/utils/devkit-utils/readme.md
  packages/angular/src/schematics/utils/devkit-utils/route-utils.ts
Labels: package: angular

#28560 fix(angular): overlays are defined when using standalone controllers
  packages/angular/standalone/src/providers/action-sheet-controller.ts
  packages/angular/standalone/src/providers/alert-controller.ts
  packages/angular/standalone/src/providers/loading-controller.ts
  packages/angular/standalone/src/providers/modal-controller.ts
  packages/angular/standalone/src/providers/picker-controller.ts
  packages/angular/standalone/src/providers/popover-controller.ts
  packages/angular/standalone/src/providers/toast-controller.ts
Labels: package: angular

#28567 Release 7.5.6
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28495 fix(alert): date inputs render correctly in mobile safari
  core/src/components/alert/alert.ios.scss
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-prompt-ios-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-prompt-ios-rtl-Mobile-Safari-linux.png
Labels: package: core

#28511 fix(datetime): allow disabling datetime with prefer-wheel
  core/src/components.d.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/disabled/datetime.spec.tsx
  core/src/components/datetime/test/disabled/index.html
  core/src/components/picker-column-internal/picker-column-internal.scss
  core/src/components/picker-column-internal/picker-column-internal.tsx
  core/src/components/picker-column-internal/test/disabled/index.html
  core/src/components/picker-column-internal/test/disabled/picker-column-internal.e2e.ts
  core/src/components/picker-column-internal/test/disabled/picker-column-internal.e2e.ts-snapshots/picker-internal-disabled-column-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-column-internal/test/disabled/picker-column-internal.e2e.ts-snapshots/picker-internal-disabled-column-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-column-internal/test/disabled/picker-column-internal.e2e.ts-snapshots/picker-internal-disabled-column-ios-ltr-Mobile-Safari-linux.png
  core/src/components/picker-column-internal/test/disabled/picker-column-internal.e2e.ts-snapshots/picker-internal-disabled-column-md-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-column-internal/test/disabled/picker-column-internal.e2e.ts-snapshots/picker-internal-disabled-column-md-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-column-internal/test/disabled/picker-column-internal.e2e.ts-snapshots/picker-internal-disabled-column-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#28518 fix(toast): add swipeGesture to ToastOptions
  core/src/components/toast/toast-interface.ts
Labels: package: core

#28443 refactor(datetime): render button for month/year toggle
  BREAKING.md
  core/src/components/datetime/datetime.ios.scss
  core/src/components/datetime/datetime.md.scss
  core/src/components/datetime/datetime.scss
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/a11y/datetime.e2e.ts
  core/src/components/datetime/test/a11y/datetime.e2e.ts-snapshots/datetime-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/a11y/datetime.e2e.ts-snapshots/datetime-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/a11y/datetime.e2e.ts-snapshots/datetime-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/a11y/datetime.e2e.ts-snapshots/datetime-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/a11y/datetime.spec.ts
  core/src/components/datetime/test/basic/datetime.e2e.ts
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/date-month-toggle-focused-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/date-month-toggle-focused-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/date-month-toggle-focused-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/date-month-toggle-focused-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/date-month-toggle-focused-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/date-month-toggle-focused-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/month-year-picker/datetime.e2e.ts
  core/src/components/datetime/test/readonly/datetime.e2e.ts
Labels: package: core

#28396 refactor(utils): update slotMutationController to allow multiple slot names
  core/src/utils/slot-mutation-controller.ts
Labels: package: core

#28592 chore(playwright): resolve axe violations with setContent
  core/src/utils/test/playwright/page/utils/set-content.ts
Labels: package: core

#28594 fix(item): allow item to grow when it is used in a flex container
  core/src/components/item/item.scss
  core/src/components/select/test/item/select.e2e.ts
  core/src/components/select/test/item/select.e2e.ts-snapshots/select-item-flex-container-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/item/select.e2e.ts-snapshots/select-item-flex-container-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/item/select.e2e.ts-snapshots/select-item-flex-container-ios-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/item/select.e2e.ts-snapshots/select-item-flex-container-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/item/select.e2e.ts-snapshots/select-item-flex-container-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/item/select.e2e.ts-snapshots/select-item-flex-container-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#28599 Release 7.5.7
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28600 Release 7.5.7
  .github/CODEOWNERS
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components.d.ts
  core/src/components/alert/alert.ios.scss
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-prompt-ios-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-prompt-ios-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/disabled/datetime.spec.tsx
  core/src/components/datetime/test/disabled/index.html
  core/src/components/picker-column-internal/picker-column-internal.scss
  core/src/components/picker-column-internal/picker-column-internal.tsx
  core/src/components/picker-column-internal/test/disabled/index.html
  core/src/components/picker-column-internal/test/disabled/picker-column-internal.e2e.ts
  core/src/components/picker-column-internal/test/disabled/picker-column-internal.e2e.ts-snapshots/picker-internal-disabled-column-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-column-internal/test/disabled/picker-column-internal.e2e.ts-snapshots/picker-internal-disabled-column-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-column-internal/test/disabled/picker-column-internal.e2e.ts-snapshots/picker-internal-disabled-column-ios-ltr-Mobile-Safari-linux.png
  core/src/components/picker-column-internal/test/disabled/picker-column-internal.e2e.ts-snapshots/picker-internal-disabled-column-md-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-column-internal/test/disabled/picker-column-internal.e2e.ts-snapshots/picker-internal-disabled-column-md-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-column-internal/test/disabled/picker-column-internal.e2e.ts-snapshots/picker-internal-disabled-column-md-ltr-Mobile-Safari-linux.png
  core/src/utils/test/playwright/page/utils/set-content.ts
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28593 chore(playwright): dark mode support
  core/scripts/testing/themes/dark.css
  core/src/utils/test/playwright/generator.ts
  core/src/utils/test/playwright/page/utils/set-content.ts
Labels: package: core

#28606 chore: sync with main
  .github/CODEOWNERS
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/scripts/testing/themes/dark.css
  core/src/utils/test/playwright/generator.ts
  core/src/utils/test/playwright/page/utils/set-content.ts
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28526 fix(overlays): trigger is configured on load
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/alert/alert.tsx
  core/src/components/loading/loading.tsx
  core/src/components/modal/modal.tsx
  core/src/components/picker/picker.tsx
  core/src/components/popover/popover.tsx
  core/src/components/toast/toast.tsx
Labels: package: core

#28610 chore(jest): toHaveShadowPart custom matcher
  core/setupJest.js
  core/src/components/range/test/range.spec.ts
  core/src/jest.d.ts
  core/stencil.config.ts
Labels: package: core

#28585 feat(toggle): expose label wrapper as shadow part
  core/api.txt
  core/src/components/toggle/test/toggle.spec.ts
  core/src/components/toggle/toggle.scss
  core/src/components/toggle/toggle.tsx
Labels: package: core
