Repository ionic-team/ionic-framework, pull requests merged in 2023-10, with the labels that each got.

#28265 fix(select): use correct aria-haspopup value
  core/src/components/select/select.tsx
Labels: package: core

#28280 Release 7.4.3
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28281 Release 7.4.3
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components/fab-button/fab-button.scss
  core/src/components/fab-button/fab-button.vars.scss
  core/src/components/fab-list/fab-list.scss
  core/src/components/fab/fab.scss
  core/src/components/fab/test/custom-size/fab.e2e.ts
  core/src/components/fab/test/custom-size/fab.e2e.ts-snapshots/fab-custom-size-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/fab/test/custom-size/fab.e2e.ts-snapshots/fab-custom-size-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/fab/test/custom-size/fab.e2e.ts-snapshots/fab-custom-size-ios-ltr-Mobile-Safari-linux.png
  core/src/components/fab/test/custom-size/fab.e2e.ts-snapshots/fab-custom-size-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/fab/test/custom-size/fab.e2e.ts-snapshots/fab-custom-size-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/fab/test/custom-size/fab.e2e.ts-snapshots/fab-custom-size-ios-rtl-Mobile-Safari-linux.png
  core/src/components/fab/test/custom-size/index.html
  core/src/components/picker-column/test/test.utils.ts
  core/src/components/range/range.tsx
  core/src/utils/test/playwright/docs/README.md
  core/src/utils/test/playwright/docs/api.md
  core/src/utils/test/playwright/docs/usage-instructions.md
  core/src/utils/test/playwright/page/utils/get-snapshot-settings.ts
  core/src/utils/test/playwright/page/utils/index.ts
  core/src/utils/test/playwright/playwright-declarations.ts
  core/src/utils/test/playwright/playwright-page.ts
  core/src/utils/test/playwright/viewports/index.ts
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28273 refactor(router-outlet): reuse lock controller
  core/src/components/router-outlet/router-outlet.tsx
Labels: package: core

#28276 fix(segment): scroll to active segment-button on first load
  core/src/components/segment/segment.tsx
  core/src/components/segment/test/scrollable/segment.e2e.ts
Labels: package: core

#28282 fix(angular): routerLink directives can be used
  packages/angular/standalone/src/navigation/router-link-delegate.ts
  packages/angular/test/base/src/app/standalone/router-link/router-link.component.html
Labels: package: angular

#28245 fix(content): fullscreen offset is computed correctly with tab bar
  core/src/components.d.ts
  core/src/components/content/content.tsx
  core/src/components/tab-bar/tab-bar.tsx
Labels: package: core

#28248 feat(toast): allow custom positioning relative to specific element
  core/api.txt
  core/src/components.d.ts
  core/src/components/toast/animations/ios.enter.ts
  core/src/components/toast/animations/ios.leave.ts
  core/src/components/toast/animations/md.enter.ts
  core/src/components/toast/animations/utils.ts
  core/src/components/toast/test/position-anchor/index.html
  core/src/components/toast/test/position-anchor/toast.e2e.ts
  core/src/components/toast/test/position-anchor/toast.e2e.ts-snapshots/toast-footer-anchor-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/position-anchor/toast.e2e.ts-snapshots/toast-footer-anchor-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/position-anchor/toast.e2e.ts-snapshots/toast-footer-anchor-ios-ltr-Mobile-Safari-linux.png
  core/src/components/toast/test/position-anchor/toast.e2e.ts-snapshots/toast-footer-anchor-md-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/position-anchor/toast.e2e.ts-snapshots/toast-footer-anchor-md-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/position-anchor/toast.e2e.ts-snapshots/toast-footer-anchor-md-ltr-Mobile-Safari-linux.png
  core/src/components/toast/test/position-anchor/toast.e2e.ts-snapshots/toast-header-anchor-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/position-anchor/toast.e2e.ts-snapshots/toast-header-anchor-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/position-anchor/toast.e2e.ts-snapshots/toast-header-anchor-ios-ltr-Mobile-Safari-linux.png
  core/src/components/toast/test/position-anchor/toast.e2e.ts-snapshots/toast-header-anchor-md-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/position-anchor/toast.e2e.ts-snapshots/toast-header-anchor-md-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/position-anchor/toast.e2e.ts-snapshots/toast-header-anchor-md-ltr-Mobile-Safari-linux.png
  core/src/components/toast/test/position-anchor/toast.e2e.ts-snapshots/toast-header-el-anchor-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/position-anchor/toast.e2e.ts-snapshots/toast-header-el-anchor-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/position-anchor/toast.e2e.ts-snapshots/toast-header-el-anchor-ios-ltr-Mobile-Safari-linux.png
  core/src/components/toast/test/position-anchor/toast.e2e.ts-snapshots/toast-header-el-anchor-md-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/position-anchor/toast.e2e.ts-snapshots/toast-header-el-anchor-md-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/position-anchor/toast.e2e.ts-snapshots/toast-header-el-anchor-md-ltr-Mobile-Safari-linux.png
  core/src/components/toast/test/position-anchor/toast.e2e.ts-snapshots/toast-middle-anchor-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/position-anchor/toast.e2e.ts-snapshots/toast-middle-anchor-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/position-anchor/toast.e2e.ts-snapshots/toast-middle-anchor-ios-ltr-Mobile-Safari-linux.png
  core/src/components/toast/test/position-anchor/toast.e2e.ts-snapshots/toast-middle-anchor-md-ltr-Mobile-Chrome-linux.png
  core/src/components/toast/test/position-anchor/toast.e2e.ts-snapshots/toast-middle-anchor-md-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/position-anchor/toast.e2e.ts-snapshots/toast-middle-anchor-md-ltr-Mobile-Safari-linux.png
  core/src/components/toast/toast-interface.ts
  core/src/components/toast/toast.tsx
  packages/angular/src/directives/proxies.ts
  packages/vue/src/components/Overlays.ts
Labels: package: core, package: angular, package: vue

#28246 fix(core): allow fullscreen scroll content to flow outside container for translucent tab bar
  core/src/components/nav/nav.scss
  core/src/components/router-outlet/router-outlet.scss
  core/src/components/tab-bar/test/translucent/tab-bar.e2e.ts
  core/src/components/tab-bar/test/translucent/tab-bar.e2e.ts-snapshots/tab-bar-translucent-container-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/tab-bar/test/translucent/tab-bar.e2e.ts-snapshots/tab-bar-translucent-container-ios-ltr-Mobile-Safari-linux.png
  core/src/css/core.scss
Labels: package: core

#28279 fix(alert): stop Enter keypress for checkboxes
  core/src/components/alert/alert.tsx
  core/src/components/alert/test/a11y/alert.e2e.ts
  core/src/components/alert/test/a11y/index.html
Labels: package: core

#28258 fix(checkbox): add scaling to ios alert and checkbox
  core/src/components/alert/alert.ios.vars.scss
  core/src/components/alert/alert.md.scss
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-checkbox-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-checkbox-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-checkbox-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/checkbox/checkbox.ios.vars.scss
  core/src/components/checkbox/checkbox.md.vars.scss
  core/src/components/checkbox/test/a11y/checkbox.e2e.ts-snapshots/checkbox-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/a11y/checkbox.e2e.ts-snapshots/checkbox-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/a11y/checkbox.e2e.ts-snapshots/checkbox-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/checkbox/test/a11y/checkbox.e2e.ts-snapshots/checkbox-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/a11y/checkbox.e2e.ts-snapshots/checkbox-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/a11y/checkbox.e2e.ts-snapshots/checkbox-scale-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#28277 fix(header): collapsible large title main header does not flicker on load
  core/src/components/header/header.ios.scss
Labels: package: core

#28304 fix(core): swipe to go back gesture has priority over other horizontal swipe gestures
  core/src/utils/gesture/swipe-back.ts
Labels: package: core

#28295 feat(angular, react, vue, core): export openURL utility
  core/src/index.ts
  packages/angular/src/index.ts
  packages/react/src/components/index.ts
  packages/vue/src/index.ts
Labels: package: core, package: angular, package: vue, package: react

#28268 fix(menu): do not error if disabled or swipeGesture is changed mid-animation
  core/src/components/menu/menu.tsx
  core/src/components/menu/test/disable/index.html
  core/src/components/menu/test/disable/menu.e2e.ts
Labels: package: core

#28312 fix(toast): toast does not warn when positionAnchor is undefined
  core/src/components/toast/toast.tsx
Labels: package: core

#28294 fix(checkbox, radio, toggle): disabled elements are not interactive
  core/src/components/checkbox/checkbox.tsx
  core/src/components/checkbox/test/checkbox.spec.ts
  core/src/components/radio-group/radio-group.tsx
  core/src/components/radio/radio.tsx
  core/src/components/radio/test/radio.spec.ts
  core/src/components/toggle/test/toggle.spec.ts
  core/src/components/toggle/toggle.tsx
Labels: package: core

#28269 fix(menu) menus on the same side are not automatically disabled
  core/src/components/menu/menu-interface.ts
  core/src/components/menu/menu.tsx
  core/src/components/menu/test/multiple/index.html
  core/src/components/menu/test/multiple/menu.e2e.ts
  core/src/utils/menu-controller/index.ts
Labels: package: core

#28318 chore: use ionicons 7.2
  core/package-lock.json
  core/package.json
Labels: package: core

#28309 fix(select): do not focus disabled popover option
  core/src/components/select/select.tsx
  core/src/components/select/test/disabled/select.e2e.ts
Labels: package: core

#28326 Release 7.4.4
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28327 Release 7.4.4
  .github/workflows/stencil-nightly.yml
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components.d.ts
  core/src/components/checkbox/checkbox.tsx
  core/src/components/checkbox/test/checkbox.spec.ts
  core/src/components/content/content.tsx
  core/src/components/header/header.ios.scss
  core/src/components/menu/menu.tsx
  core/src/components/menu/test/disable/index.html
  core/src/components/menu/test/disable/menu.e2e.ts
  core/src/components/nav/nav.scss
  core/src/components/radio-group/radio-group.tsx
  core/src/components/radio/radio.tsx
  core/src/components/radio/test/radio.spec.ts
  core/src/components/router-outlet/router-outlet.scss
  core/src/components/router-outlet/router-outlet.tsx
  core/src/components/segment/segment.tsx
  core/src/components/segment/test/scrollable/segment.e2e.ts
  core/src/components/select/select.tsx
  core/src/components/select/test/disabled/select.e2e.ts
  core/src/components/tab-bar/tab-bar.tsx
  core/src/components/tab-bar/test/translucent/tab-bar.e2e.ts
  core/src/components/tab-bar/test/translucent/tab-bar.e2e.ts-snapshots/tab-bar-translucent-container-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/tab-bar/test/translucent/tab-bar.e2e.ts-snapshots/tab-bar-translucent-container-ios-ltr-Mobile-Safari-linux.png
  core/src/components/toggle/test/toggle.spec.ts
  core/src/components/toggle/toggle.tsx
  core/src/css/core.scss
  core/src/utils/animation/animation.ts
  core/src/utils/animation/test/animation.spec.ts
  core/src/utils/gesture/swipe-back.ts
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28316 fix(react): lifecycle events are removed on page unmount
  packages/react/src/routing/OutletPageManager.tsx
  packages/react/src/routing/PageManager.tsx
Labels: package: react

#28346 fix(angular): export missing lifecycle interfaces for standalone package
  packages/angular/common/src/index.ts
  packages/angular/common/src/types/ionic-lifecycle-hooks.ts
  packages/angular/src/index.ts
  packages/angular/standalone/src/index.ts
Labels: package: angular

#28343 fix(angular): do not create duplicate menuController instances
  core/src/components/menu/menu-interface.ts
  core/src/utils/menu-controller/index.ts
  packages/angular/common/src/providers/menu-controller.ts
  packages/angular/src/index.ts
  packages/angular/src/providers/menu-controller.ts
  packages/angular/standalone/src/index.ts
  packages/angular/standalone/src/providers/menu-controller.ts
  packages/angular/test/base/e2e/src/lazy/providers.spec.ts
  packages/angular/test/base/e2e/src/standalone/menu-controller.spec.ts
  packages/angular/test/base/src/app/lazy/providers/providers.component.html
  packages/angular/test/base/src/app/lazy/providers/providers.component.ts
  packages/angular/test/base/src/app/standalone/app-standalone/app.routes.ts
  packages/angular/test/base/src/app/standalone/menu-controller/menu-controller.component.html
  packages/angular/test/base/src/app/standalone/menu-controller/menu-controller.component.ts
Labels: package: core, package: angular

#28290 feat(title): large title transition supports dynamic font scaling
  core/src/components/title/title.ios.scss
  core/src/utils/transition/ios.transition.ts
Labels: package: core

#28374 Release 7.5.1
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28367 refactor(item-sliding): remove unused CSS from item options
  core/src/components/item-option/item-option.scss
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-left-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-left-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-left-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-left-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-left-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-left-ios-rtl-Mobile-Safari-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-left-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-left-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-left-md-ltr-Mobile-Safari-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-left-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-left-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-left-md-rtl-Mobile-Safari-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-right-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-right-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-right-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-right-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-right-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-right-ios-rtl-Mobile-Safari-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-right-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-right-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-right-md-ltr-Mobile-Safari-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-right-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-right-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-safe-area-right-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#28359 fix(angular): remove form control side effects
  packages/angular/standalone/src/directives/checkbox.ts
  packages/angular/standalone/src/directives/datetime.ts
  packages/angular/standalone/src/directives/input.ts
  packages/angular/standalone/src/directives/radio-group.ts
  packages/angular/standalone/src/directives/radio.ts
  packages/angular/standalone/src/directives/range.ts
  packages/angular/standalone/src/directives/searchbar.ts
  packages/angular/standalone/src/directives/segment.ts
  packages/angular/standalone/src/directives/select.ts
  packages/angular/standalone/src/directives/textarea.ts
  packages/angular/standalone/src/directives/toggle.ts
  packages/angular/test/base/e2e/src/standalone/value-accessors.spec.ts
  packages/angular/test/base/src/app/standalone/app-standalone/app.routes.ts
  packages/angular/test/base/src/app/standalone/value-accessors/checkbox/checkbox.component.html
  packages/angular/test/base/src/app/standalone/value-accessors/datetime/datetime.component.html
  packages/angular/test/base/src/app/standalone/value-accessors/input/input.component.html
  packages/angular/test/base/src/app/standalone/value-accessors/radio-group/radio-group.component.html
  packages/angular/test/base/src/app/standalone/value-accessors/range/range.component.html
  packages/angular/test/base/src/app/standalone/value-accessors/searchbar/searchbar.component.html
  packages/angular/test/base/src/app/standalone/value-accessors/segment/segment.component.html
  packages/angular/test/base/src/app/standalone/value-accessors/select/select.component.html
  packages/angular/test/base/src/app/standalone/value-accessors/select/select.component.ts
  packages/angular/test/base/src/app/standalone/value-accessors/textarea/textarea.component.html
  packages/angular/test/base/src/app/standalone/value-accessors/toggle/toggle.component.html
Labels: package: angular

#28353 fix(rtl): allow :host to use rtl()
  core/src/components/popover/test/nested/popover.e2e.ts-snapshots/popover-nested-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/popover/test/nested/popover.e2e.ts-snapshots/popover-nested-ios-rtl-Mobile-Safari-linux.png
  core/src/components/popover/test/nested/popover.e2e.ts-snapshots/popover-nested-md-rtl-Mobile-Firefox-linux.png
  core/src/components/popover/test/nested/popover.e2e.ts-snapshots/popover-nested-md-rtl-Mobile-Safari-linux.png
  core/src/components/popover/test/nested/popover.e2e.ts-snapshots/popover-nested-multiple-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/popover/test/nested/popover.e2e.ts-snapshots/popover-nested-multiple-ios-rtl-Mobile-Safari-linux.png
  core/src/components/popover/test/nested/popover.e2e.ts-snapshots/popover-nested-multiple-md-rtl-Mobile-Firefox-linux.png
  core/src/components/popover/test/nested/popover.e2e.ts-snapshots/popover-nested-multiple-md-rtl-Mobile-Safari-linux.png
  core/src/themes/ionic.functions.string.scss
  core/src/themes/ionic.mixins.scss
Labels: package: core

#28379 chore(angular): proxies file is ignored by prettier
  packages/angular/.prettierignore
  packages/angular/standalone/src/directives/proxies.ts
Labels: package: angular

#28334 fix(animation): add stronger types to Animation interface
  core/src/utils/animation/animation-interface.ts
Labels: package: core

#28370 fix(menu): menu no longer disappears with multiple split panes
  core/src/components/menu/menu.tsx
  core/src/components/split-pane/test/multiple/index.html
  core/src/components/split-pane/test/multiple/split-pane.e2e.ts
Labels: package: core

#28377 fix(fab): apply safe area in positioning to proper side regardless of direction
  core/src/components/fab/fab.scss
  core/src/components/fab/test/safe-area/fab.e2e.ts
  core/src/components/fab/test/safe-area/fab.e2e.ts-snapshots/fab-safe-area-horizontal-end-md-ltr-Mobile-Chrome-linux.png
  core/src/components/fab/test/safe-area/fab.e2e.ts-snapshots/fab-safe-area-horizontal-end-md-ltr-Mobile-Firefox-linux.png
  core/src/components/fab/test/safe-area/fab.e2e.ts-snapshots/fab-safe-area-horizontal-end-md-ltr-Mobile-Safari-linux.png
  core/src/components/fab/test/safe-area/fab.e2e.ts-snapshots/fab-safe-area-horizontal-end-md-rtl-Mobile-Chrome-linux.png
  core/src/components/fab/test/safe-area/fab.e2e.ts-snapshots/fab-safe-area-horizontal-end-md-rtl-Mobile-Firefox-linux.png
  core/src/components/fab/test/safe-area/fab.e2e.ts-snapshots/fab-safe-area-horizontal-end-md-rtl-Mobile-Safari-linux.png
  core/src/components/fab/test/safe-area/fab.e2e.ts-snapshots/fab-safe-area-horizontal-start-md-ltr-Mobile-Chrome-linux.png
  core/src/components/fab/test/safe-area/fab.e2e.ts-snapshots/fab-safe-area-horizontal-start-md-ltr-Mobile-Firefox-linux.png
  core/src/components/fab/test/safe-area/fab.e2e.ts-snapshots/fab-safe-area-horizontal-start-md-ltr-Mobile-Safari-linux.png
  core/src/components/fab/test/safe-area/fab.e2e.ts-snapshots/fab-safe-area-horizontal-start-md-rtl-Mobile-Chrome-linux.png
  core/src/components/fab/test/safe-area/fab.e2e.ts-snapshots/fab-safe-area-horizontal-start-md-rtl-Mobile-Firefox-linux.png
  core/src/components/fab/test/safe-area/fab.e2e.ts-snapshots/fab-safe-area-horizontal-start-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#28392 refactor(toast): md animation uses transform
  core/src/components/toast/animations/md.enter.ts
  core/src/components/toast/animations/utils.ts
  core/src/components/toast/test/layout/toast.e2e.ts-snapshots/toast-stacked-md-ltr-Mobile-Firefox-linux.png
  core/src/components/toast/test/layout/toast.e2e.ts-snapshots/toast-stacked-md-ltr-Mobile-Safari-linux.png
  core/src/components/toast/test/layout/toast.e2e.ts-snapshots/toast-stacked-md-rtl-Mobile-Firefox-linux.png
  core/src/components/toast/test/layout/toast.e2e.ts-snapshots/toast-stacked-md-rtl-Mobile-Safari-linux.png
  core/src/components/toast/toast.ios.scss
  core/src/components/toast/toast.scss
Labels: package: core

#28394 fix(animation): progressEnd coercion is reset before onFinish
  core/src/utils/animation/animation.ts
  core/src/utils/animation/test/animation.spec.ts
Labels: package: core

#28347 chore: add stronger types to several files
  core/src/components.d.ts
  core/src/components/app/app.tsx
  core/src/components/menu/menu.tsx
  core/src/components/radio/radio.tsx
  core/src/components/refresher/refresher.utils.ts
  core/src/utils/animation/animation.ts
  core/src/utils/content/index.ts
  core/src/utils/focus-visible.ts
  core/src/utils/input-shims/hacks/common.ts
  core/src/utils/watch-options.ts
Labels: package: core

#28387 test(radio): skip Safari on legacy tab key tests
  core/src/components/radio/test/legacy/a11y/radio.e2e.ts
Labels: package: core

#28369 fix(alert, action-sheet): show scrollbar for long list of options
  core/src/components/action-sheet/action-sheet.scss
  core/src/components/alert/alert.scss
Labels: package: core

#28333 refactor: improve types for input shims
  core/src/utils/browser/index.ts
  core/src/utils/input-shims/input-shims.ts
Labels: package: core

#28380 feat(toast): add stubbed swipeGesture
  core/api.txt
  core/src/components.d.ts
  core/src/components/toast/test/swipe-gesture/index.html
  core/src/components/toast/test/toast-config.spec.ts
  core/src/components/toast/test/toast.spec.tsx
  core/src/components/toast/toast-interface.ts
  core/src/components/toast/toast.tsx
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/proxies.ts
  packages/vue/src/components/Overlays.ts
Labels: package: core, package: angular, package: vue

#28409 Release 7.5.2
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28372 fix(tab-bar): apply safe area to proper side regardless of direction
  core/src/components/tab-bar/tab-bar.scss
  core/src/components/tab-bar/test/basic/tab-bar.e2e.ts
  core/src/components/tab-bar/test/basic/tab-bar.e2e.ts-snapshots/tab-bar-safe-area-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/tab-bar/test/basic/tab-bar.e2e.ts-snapshots/tab-bar-safe-area-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/tab-bar/test/basic/tab-bar.e2e.ts-snapshots/tab-bar-safe-area-ios-ltr-Mobile-Safari-linux.png
  core/src/components/tab-bar/test/basic/tab-bar.e2e.ts-snapshots/tab-bar-safe-area-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/tab-bar/test/basic/tab-bar.e2e.ts-snapshots/tab-bar-safe-area-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/tab-bar/test/basic/tab-bar.e2e.ts-snapshots/tab-bar-safe-area-ios-rtl-Mobile-Safari-linux.png
  core/src/components/tab-bar/test/basic/tab-bar.e2e.ts-snapshots/tab-bar-safe-area-md-ltr-Mobile-Chrome-linux.png
  core/src/components/tab-bar/test/basic/tab-bar.e2e.ts-snapshots/tab-bar-safe-area-md-ltr-Mobile-Firefox-linux.png
  core/src/components/tab-bar/test/basic/tab-bar.e2e.ts-snapshots/tab-bar-safe-area-md-ltr-Mobile-Safari-linux.png
  core/src/components/tab-bar/test/basic/tab-bar.e2e.ts-snapshots/tab-bar-safe-area-md-rtl-Mobile-Chrome-linux.png
  core/src/components/tab-bar/test/basic/tab-bar.e2e.ts-snapshots/tab-bar-safe-area-md-rtl-Mobile-Firefox-linux.png
  core/src/components/tab-bar/test/basic/tab-bar.e2e.ts-snapshots/tab-bar-safe-area-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#28408 fix(alert): long words wrap to next line
  core/src/components/alert/alert.scss
  core/src/components/alert/test/a11y/alert.e2e.ts
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-checkbox-text-wrap-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-checkbox-text-wrap-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-checkbox-text-wrap-ios-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-radio-text-wrap-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-radio-text-wrap-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-radio-text-wrap-ios-ltr-Mobile-Safari-linux.png
Labels: package: core

#28404 fix(angular): run platform subscriptions inside zone
  packages/angular/common/src/providers/platform.ts
Labels: package: angular

#28376 fix(segment): avoid scrolling webkit bug
  core/src/components/segment/segment.tsx
Labels: package: core

#28414 test(alert): add annotations
  core/src/components/alert/test/a11y/alert.e2e.ts
Labels: package: core

#28421 fix(angular): NavController works with nested outlets
  packages/angular/src/directives/navigation/ion-router-outlet.ts
  packages/angular/standalone/src/navigation/router-outlet.ts
  packages/angular/test/base/e2e/src/lazy/nested-outlet.spec.ts
  packages/angular/test/base/e2e/src/standalone/tabs.spec.ts
  packages/angular/test/base/src/app/lazy/nested-outlet-page/nested-outlet-page.component.html
  packages/angular/test/base/src/app/lazy/nested-outlet-page/nested-outlet-page.component.ts
  packages/angular/test/base/src/app/standalone/tabs/tab1.component.ts
Labels: package: angular

#28423 fix(angular): standalone form components do not error when multiple are used
  core/package-lock.json
  core/package.json
  packages/angular/.prettierignore
  packages/angular/src/directives/angular-component-lib/utils.ts
  packages/angular/standalone/src/directives/angular-component-lib/utils.ts
Labels: package: core, package: angular

#28422 fix(angular,vue): range form value updates while dragging knob
  core/stencil.config.ts
  packages/angular/src/directives/control-value-accessors/select-value-accessor.ts
  packages/angular/src/directives/control-value-accessors/text-value-accessor.ts
  packages/angular/standalone/src/directives/range.ts
  packages/angular/test/base/src/app/lazy/form-controls/range/range.component.html
  packages/vue/src/proxies.ts
  packages/vue/test/base/src/router/index.ts
  packages/vue/test/base/src/views/Components.vue
  packages/vue/test/base/src/views/Range.vue
Labels: package: core, package: angular, package: vue

#28434 fix(angular): inputs on standalone form controls are reactive
  packages/angular/standalone/src/directives/checkbox.ts
  packages/angular/standalone/src/directives/datetime.ts
  packages/angular/standalone/src/directives/input.ts
  packages/angular/standalone/src/directives/radio-group.ts
  packages/angular/standalone/src/directives/radio.ts
  packages/angular/standalone/src/directives/range.ts
  packages/angular/standalone/src/directives/searchbar.ts
  packages/angular/standalone/src/directives/segment.ts
  packages/angular/standalone/src/directives/select.ts
  packages/angular/standalone/src/directives/textarea.ts
  packages/angular/standalone/src/directives/toggle.ts
  packages/angular/test/base/e2e/src/standalone/value-accessors.spec.ts
  packages/angular/test/base/src/app/standalone/value-accessors/checkbox/checkbox.component.html
  packages/angular/test/base/src/app/standalone/value-accessors/datetime/datetime.component.html
  packages/angular/test/base/src/app/standalone/value-accessors/input/input.component.html
  packages/angular/test/base/src/app/standalone/value-accessors/radio-group/radio-group.component.html
  packages/angular/test/base/src/app/standalone/value-accessors/range/range.component.html
  packages/angular/test/base/src/app/standalone/value-accessors/searchbar/searchbar.component.html
  packages/angular/test/base/src/app/standalone/value-accessors/segment/segment.component.html
  packages/angular/test/base/src/app/standalone/value-accessors/textarea/textarea.component.html
  packages/angular/test/base/src/app/standalone/value-accessors/toggle/toggle.component.html
Labels: package: angular

#28336 fix(datetime): allow calendar navigation in readonly mode; disallow keyboard navigation when disabled
  core/src/components.d.ts
  core/src/components/datetime/datetime.scss
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/a11y/datetime.e2e.ts
  core/src/components/datetime/test/disabled/datetime.e2e.ts
  core/src/components/datetime/test/disabled/datetime.e2e.ts-snapshots/datetime-disabled-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/disabled/datetime.e2e.ts-snapshots/datetime-disabled-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/disabled/datetime.e2e.ts-snapshots/datetime-disabled-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/disabled/index.html
  core/src/components/datetime/test/readonly/datetime.e2e.ts
  core/src/components/datetime/test/readonly/datetime.e2e.ts-snapshots/datetime-readonly-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/readonly/datetime.e2e.ts-snapshots/datetime-readonly-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/readonly/datetime.e2e.ts-snapshots/datetime-readonly-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/readonly/index.html
Labels: package: core
