Repository ionic-team/ionic-framework, pull requests merged in 2023-12, with the labels that each got.

#28604 feat(checkbox): add shadow part for label
  core/api.txt
  core/src/components/checkbox/checkbox.scss
  core/src/components/checkbox/checkbox.tsx
  core/src/components/checkbox/test/checkbox.spec.ts
Labels: package: core

#28607 feat(radio): add shadow part for label
  core/api.txt
  core/src/components/radio/radio.scss
  core/src/components/radio/radio.tsx
  core/src/components/radio/test/radio.spec.ts
Labels: package: core

#28609 feat: WCAG AA compliant dark theme colors
  core/scripts/testing/themes/dark.css
  core/src/test/theme/dark/index.html
  core/src/test/theme/theme.e2e.ts
  core/src/utils/test/playwright/generator.ts
Labels: package: core

#28616 fix(react): router creates new view instances of parameterized routes
  packages/react-router/src/ReactRouter/ReactRouterViewStack.tsx
  packages/react-router/src/ReactRouter/StackManager.tsx
  packages/react-router/src/ReactRouter/utils/matchPath.ts
  packages/react-router/test/base/src/pages/routing/Details.tsx
  packages/react-router/test/base/tests/e2e/specs/routing.cy.js
Labels: package: react

#28614 docs(input, searchbar, textarea): improve docs for managing focus
  core/src/components.d.ts
  core/src/components/input/input.tsx
  core/src/components/searchbar/searchbar.tsx
  core/src/components/textarea/textarea.tsx
Labels: package: core

#28618 fix(angular): add missing menu controller methods
  packages/angular/common/src/providers/menu-controller.ts
Labels: package: angular

#28603 feat(picker-column): add prefix and suffix slots
  core/api.txt
  core/src/components.d.ts
  core/src/components/datetime/datetime.scss
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-time-picker-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-time-picker-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-time-picker-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-time-picker-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-time-picker-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-time-picker-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-base-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-base-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-base-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-base-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-base-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-base-ios-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-base-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-base-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-base-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-base-md-rtl-Mobile-Chrome-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-base-md-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-base-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-popover-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-popover-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-popover-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-popover-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-popover-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-popover-ios-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-popover-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-popover-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-popover-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-popover-md-rtl-Mobile-Chrome-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-popover-md-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-popover-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/position/index.html
  core/src/components/datetime/test/prefer-wheel/datetime.e2e.ts
  core/src/components/picker-column/picker-column.scss
  core/src/components/picker-column/picker-column.tsx
  core/src/components/picker-column/test/disabled/picker-column.e2e.ts-snapshots/picker-disabled-column-md-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-column/test/disabled/picker-column.e2e.ts-snapshots/picker-disabled-column-md-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-column/test/disabled/picker-column.e2e.ts-snapshots/picker-disabled-column-md-ltr-Mobile-Safari-linux.png
  core/src/components/picker-column/test/slots/index.html
  core/src/components/picker-column/test/slots/picker-column.e2e.ts
  core/src/components/picker-column/test/slots/picker-column.e2e.ts-snapshots/picker-long-prefix-suffix-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-column/test/slots/picker-column.e2e.ts-snapshots/picker-long-prefix-suffix-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-column/test/slots/picker-column.e2e.ts-snapshots/picker-long-prefix-suffix-ios-ltr-Mobile-Safari-linux.png
  core/src/components/picker-column/test/slots/picker-column.e2e.ts-snapshots/picker-long-prefix-suffix-md-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-column/test/slots/picker-column.e2e.ts-snapshots/picker-long-prefix-suffix-md-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-column/test/slots/picker-column.e2e.ts-snapshots/picker-long-prefix-suffix-md-ltr-Mobile-Safari-linux.png
  core/src/components/picker-column/test/slots/picker-column.e2e.ts-snapshots/picker-prefix-suffix-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-column/test/slots/picker-column.e2e.ts-snapshots/picker-prefix-suffix-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-column/test/slots/picker-column.e2e.ts-snapshots/picker-prefix-suffix-ios-ltr-Mobile-Safari-linux.png
  core/src/components/picker-column/test/slots/picker-column.e2e.ts-snapshots/picker-prefix-suffix-md-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-column/test/slots/picker-column.e2e.ts-snapshots/picker-prefix-suffix-md-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-column/test/slots/picker-column.e2e.ts-snapshots/picker-prefix-suffix-md-ltr-Mobile-Safari-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-popover-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/picker/test/keyboard-entry/picker.e2e.ts
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/proxies.ts
Labels: package: core, package: angular

#28631 fix(select): do not collapse to width: 0 when placed in flex container
  core/src/components/item/item.scss
  core/src/components/item/test/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/highlight/item.e2e.ts-snapshots/item-highlight-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/highlight/item.e2e.ts-snapshots/item-highlight-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/highlight/item.e2e.ts-snapshots/item-highlight-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/highlight/item.e2e.ts-snapshots/item-highlight-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/highlight/item.e2e.ts-snapshots/item-highlight-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/highlight/item.e2e.ts-snapshots/item-highlight-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/legacy/fill/item.e2e.ts-snapshots/item-fill-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/legacy/fill/item.e2e.ts-snapshots/item-fill-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/legacy/fill/item.e2e.ts-snapshots/item-fill-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/legacy/fill/item.e2e.ts-snapshots/item-fill-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/legacy/fill/item.e2e.ts-snapshots/item-fill-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/legacy/fill/item.e2e.ts-snapshots/item-fill-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/legacy/fill/item.e2e.ts-snapshots/item-fill-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/legacy/fill/item.e2e.ts-snapshots/item-fill-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/legacy/fill/item.e2e.ts-snapshots/item-fill-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/legacy/fill/item.e2e.ts-snapshots/item-fill-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/legacy/fill/item.e2e.ts-snapshots/item-fill-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/legacy/fill/item.e2e.ts-snapshots/item-fill-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-ios-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-md-rtl-Mobile-Safari-linux.png
  core/src/components/popover/test/async/index.html
  core/src/components/popover/test/async/popover.e2e.ts-snapshots/popover-async-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/popover/test/async/popover.e2e.ts-snapshots/popover-async-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/popover/test/async/popover.e2e.ts-snapshots/popover-async-ios-ltr-Mobile-Safari-linux.png
  core/src/components/select/select.scss
  core/src/components/select/test/item/select.e2e.ts
  core/src/components/select/test/item/select.e2e.ts-snapshots/select-item-flex-container-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/item/select.e2e.ts-snapshots/select-item-flex-container-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/item/select.e2e.ts-snapshots/select-item-flex-container-ios-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/item/select.e2e.ts-snapshots/select-item-flex-container-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/item/select.e2e.ts-snapshots/select-item-flex-container-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/item/select.e2e.ts-snapshots/select-item-flex-container-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#28647 Release 7.5.8
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28622 feat: integrate column-option into column
  core/api.txt
  core/src/components.d.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/custom/index.html
  core/src/components/datetime/test/datetime.e2e.ts
  core/src/components/datetime/test/locale/datetime.e2e.ts
  core/src/components/datetime/test/minmax/datetime.e2e.ts
  core/src/components/datetime/test/prefer-wheel/datetime.e2e.ts
  core/src/components/datetime/test/readonly/datetime.e2e.ts
  core/src/components/datetime/test/values/datetime.e2e.ts
  core/src/components/picker-column-option/picker-column-option.md.scss
  core/src/components/picker-column-option/picker-column-option.tsx
  core/src/components/picker-column/picker-column-interfaces.ts
  core/src/components/picker-column/picker-column.md.scss
  core/src/components/picker-column/picker-column.scss
  core/src/components/picker-column/picker-column.tsx
  core/src/components/picker-column/test/basic/index.html
  core/src/components/picker-column/test/basic/picker-column.e2e.ts
  core/src/components/picker-column/test/disabled/index.html
  core/src/components/picker-column/test/disabled/picker-column.e2e.ts
  core/src/components/picker-column/test/disabled/picker-column.e2e.ts-snapshots/picker-disabled-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-column/test/disabled/picker-column.e2e.ts-snapshots/picker-disabled-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-column/test/disabled/picker-column.e2e.ts-snapshots/picker-disabled-ios-ltr-Mobile-Safari-linux.png
  core/src/components/picker-column/test/disabled/picker-column.e2e.ts-snapshots/picker-disabled-md-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-column/test/disabled/picker-column.e2e.ts-snapshots/picker-disabled-md-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-column/test/disabled/picker-column.e2e.ts-snapshots/picker-disabled-md-ltr-Mobile-Safari-linux.png
  core/src/components/picker-column/test/slots/index.html
  core/src/components/picker-column/test/slots/picker-column.e2e.ts
  core/src/components/picker/test/a11y/index.html
  core/src/components/picker/test/basic/index.html
  core/src/components/picker/test/basic/picker.e2e.ts
  core/src/components/picker/test/keyboard-entry/picker.e2e.ts
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/proxies.ts
Labels: package: core, package: angular

#28653 fix(picker): disabled column works with options
  core/src/components/picker-column/picker-column.scss
  core/src/components/picker-column/picker-column.tsx
  core/src/components/picker-column/test/disabled/picker-column.e2e.ts
Labels: package: core

#28668 test(radio): skip flaky radio tabbing test
  core/src/components/radio/test/a11y/radio.e2e.ts
Labels: package: core

#28657 chore: clean up TODOs
  core/api.txt
  core/src/components.d.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/utils/data.ts
  core/src/components/picker-column-option/test/picker-column-option.spec.ts
  core/src/components/picker-column/picker-column-interfaces.ts
  core/src/components/picker-column/picker-column.ios.scss
  core/src/components/picker-column/picker-column.md.scss
  core/src/components/picker-column/picker-column.scss
  core/src/components/picker-column/picker-column.tsx
  core/src/components/picker-column/test/disabled/picker-column.e2e.ts
  core/src/components/picker/test/keyboard-entry/picker.e2e.ts
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#28670 test(themes): move default and dark theme files into the themes directory
  BREAKING.md
  core/src/css/core.scss
  core/src/themes/test/colors/index.html
  core/src/themes/test/css-variables/css/dark.css
  core/src/themes/test/css-variables/css/default.css
  core/src/themes/test/css-variables/index.html
  core/src/themes/test/dark.css
  core/src/themes/test/default.css
  core/src/utils/test/playwright/page/utils/set-content.ts
Labels: package: core

#28674 fix(react): use custom animation when going back after a replace
  packages/react-router/src/ReactRouter/IonRouter.tsx
Labels: package: react

#28654 feat(picker): add css variables for picker highlight and fade
  core/api.txt
  core/src/components/datetime/datetime.scss
  core/src/components/datetime/test/custom/index.html
  core/src/components/picker/picker.ios.scss
  core/src/components/picker/picker.md.scss
  core/src/components/picker/picker.scss
  core/src/components/picker/picker.vars.scss
  core/src/components/picker/test/custom/picker.e2e.ts
  core/src/components/picker/test/custom/picker.e2e.ts-snapshots/picker-custom-fade-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/picker/test/custom/picker.e2e.ts-snapshots/picker-custom-fade-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/picker/test/custom/picker.e2e.ts-snapshots/picker-custom-fade-ios-ltr-Mobile-Safari-linux.png
  core/src/components/picker/test/custom/picker.e2e.ts-snapshots/picker-custom-fade-md-ltr-Mobile-Chrome-linux.png
  core/src/components/picker/test/custom/picker.e2e.ts-snapshots/picker-custom-fade-md-ltr-Mobile-Firefox-linux.png
  core/src/components/picker/test/custom/picker.e2e.ts-snapshots/picker-custom-fade-md-ltr-Mobile-Safari-linux.png
  core/src/components/picker/test/custom/picker.e2e.ts-snapshots/picker-custom-highlight-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/picker/test/custom/picker.e2e.ts-snapshots/picker-custom-highlight-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/picker/test/custom/picker.e2e.ts-snapshots/picker-custom-highlight-ios-ltr-Mobile-Safari-linux.png
  core/src/components/picker/test/custom/picker.e2e.ts-snapshots/picker-custom-highlight-md-ltr-Mobile-Chrome-linux.png
  core/src/components/picker/test/custom/picker.e2e.ts-snapshots/picker-custom-highlight-md-ltr-Mobile-Firefox-linux.png
  core/src/components/picker/test/custom/picker.e2e.ts-snapshots/picker-custom-highlight-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#28639 fix(input, textarea): clearOnInput ignores key modifiers
  core/src/components/input/input.tsx
  core/src/components/input/test/clear-on-edit/input.e2e.ts
  core/src/components/textarea/test/clear-on-edit/textarea.e2e.ts
  core/src/components/textarea/textarea.tsx
Labels: package: core

#28671 fix(react): replacing route uses new route direction and animation
  packages/react-router/src/ReactRouter/IonRouter.tsx
Labels: package: react

#28690 chore: remove safari 11 code
  core/src/css/core.scss
Labels: package: core

#28656 tests(many): add tests for color contrast for button components
  core/src/components/back-button/test/a11y/back-button.e2e.ts
  core/src/components/button/test/a11y/button.e2e.ts
  core/src/components/fab-button/test/a11y/fab-button.e2e.ts
  core/src/components/item-sliding/test/a11y/item-sliding.e2e.ts
  core/src/components/menu-button/test/a11y/menu-button.e2e.ts
  core/src/components/segment/test/a11y/segment.e2e.ts
Labels: package: core

#28630 test(overlays): add Axe tests for color contrast
  core/src/components/action-sheet/test/a11y/action-sheet.e2e.ts
  core/src/components/alert/test/a11y/alert.e2e.ts
  core/src/components/loading/test/a11y/index.html
  core/src/components/loading/test/a11y/loading.e2e.ts
  core/src/components/select-popover/test/a11y/select-popover.e2e.ts
  core/src/components/toast/test/a11y/toast.e2e.ts
Labels: package: core

#28691 fix(menu): allow styling of the box shadow and transform when visible inside of a split pane
  core/src/components/menu/menu.scss
  core/src/components/menu/test/custom/menu.e2e.ts
  core/src/components/menu/test/custom/menu.e2e.ts-snapshots/menu-custom-split-pane-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/menu/test/custom/menu.e2e.ts-snapshots/menu-custom-split-pane-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/menu/test/custom/menu.e2e.ts-snapshots/menu-custom-split-pane-ios-ltr-Mobile-Safari-linux.png
  core/src/components/menu/test/custom/menu.e2e.ts-snapshots/menu-custom-split-pane-md-ltr-Mobile-Chrome-linux.png
  core/src/components/menu/test/custom/menu.e2e.ts-snapshots/menu-custom-split-pane-md-ltr-Mobile-Firefox-linux.png
  core/src/components/menu/test/custom/menu.e2e.ts-snapshots/menu-custom-split-pane-md-ltr-Mobile-Safari-linux.png
  core/src/components/split-pane/split-pane.scss
Labels: package: core

#28682 fix(button): wrap text by default
  BREAKING.md
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/basic/breadcrumbs.e2e.ts-snapshots/breadcrumb-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/collapsed/breadcrumbs.e2e.ts-snapshots/breadcrumb-collapsed-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/button/button.scss
  core/src/components/button/test/icon/button.e2e.ts-snapshots/button-icon-md-ltr-Mobile-Safari-linux.png
  core/src/components/button/test/icon/button.e2e.ts-snapshots/button-icon-md-rtl-Mobile-Safari-linux.png
  core/src/components/button/test/wrap/button.e2e.ts
  core/src/components/modal/test/sheet/modal.e2e.ts-snapshots/modal-sheet-present-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/modal/test/sheet/modal.e2e.ts-snapshots/modal-sheet-present-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/modal/test/sheet/modal.e2e.ts-snapshots/modal-sheet-present-ios-ltr-Mobile-Safari-linux.png
  core/src/components/modal/test/sheet/modal.e2e.ts-snapshots/modal-sheet-present-md-ltr-Mobile-Chrome-linux.png
  core/src/components/modal/test/sheet/modal.e2e.ts-snapshots/modal-sheet-present-md-ltr-Mobile-Firefox-linux.png
  core/src/components/modal/test/sheet/modal.e2e.ts-snapshots/modal-sheet-present-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#28640 test(many): add axe testing for misc components
  core/src/components/badge/test/a11y/badge.e2e.ts
  core/src/components/label/test/a11y/label.e2e.ts
  core/src/components/picker-internal/test/a11y/picker-internal.e2e.ts
  core/src/components/progress-bar/test/a11y/progress-bar.e2e.ts
  core/src/components/refresher-content/refresher-content.tsx
  core/src/components/refresher/test/a11y/refresher.e2e.ts
  core/src/components/router-link/test/a11y/router-link.e2e.ts
  core/src/css/test/a11y/typography.e2e.ts
Labels: package: core

#28687 fix(react): avoid type collision with @types/react@18.2.43 and greater
  packages/react/src/components/utils/index.tsx
Labels: package: react

#28696 Release 7.6.1
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/manipulation.spec.ts
  core/src/components/datetime/test/prefer-wheel/datetime.spec.ts
  core/src/components/datetime/utils/manipulation.ts
  core/src/components/input/input.tsx
  core/src/components/input/test/clear-on-edit/input.e2e.ts
  core/src/components/menu/menu.scss
  core/src/components/menu/test/custom/menu.e2e.ts
  core/src/components/menu/test/custom/menu.e2e.ts-snapshots/menu-custom-split-pane-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/menu/test/custom/menu.e2e.ts-snapshots/menu-custom-split-pane-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/menu/test/custom/menu.e2e.ts-snapshots/menu-custom-split-pane-ios-ltr-Mobile-Safari-linux.png
  core/src/components/menu/test/custom/menu.e2e.ts-snapshots/menu-custom-split-pane-md-ltr-Mobile-Chrome-linux.png
  core/src/components/menu/test/custom/menu.e2e.ts-snapshots/menu-custom-split-pane-md-ltr-Mobile-Firefox-linux.png
  core/src/components/menu/test/custom/menu.e2e.ts-snapshots/menu-custom-split-pane-md-ltr-Mobile-Safari-linux.png
  core/src/components/radio/test/a11y/radio.e2e.ts
  core/src/components/split-pane/split-pane.scss
  core/src/components/textarea/test/clear-on-edit/textarea.e2e.ts
  core/src/components/textarea/textarea.tsx
  core/src/css/core.scss
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react-router/src/ReactRouter/IonRouter.tsx
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/components/utils/index.tsx
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28695 Release 7.6.1
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28699 docs(test): add locale best practice
  core/src/utils/test/playwright/docs/best-practices.md
Labels: package: core

#28700 fix(item): label does not expand indefinitely
  core/src/components/item/item.scss
  core/src/components/label/test/a11y/label.e2e.ts
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-item-wrap-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-item-wrap-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-item-wrap-ios-ltr-Mobile-Safari-linux.png
Labels: package: core

#28701 chore(picker): mark ionInputModeChange as internal
  core/api.txt
  core/src/components/picker/picker.tsx
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/proxies.ts
Labels: package: core, package: angular

#28717 fix(refresher): mode property can be used in typescript
  core/api.txt
  core/src/components.d.ts
  core/src/components/refresher/refresher.tsx
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/proxies.ts
Labels: package: core, package: angular

#28735 Release 7.6.2
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28723 feat(action-sheet): add disabled button
  core/api.txt
  core/src/components/action-sheet/action-sheet-interface.ts
  core/src/components/action-sheet/action-sheet.ios.scss
  core/src/components/action-sheet/action-sheet.md.scss
  core/src/components/action-sheet/action-sheet.scss
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/action-sheet/test/basic/action-sheet-rendering.e2e.ts
  core/src/components/action-sheet/test/basic/action-sheet-rendering.e2e.ts-snapshots/action-sheet-disabled-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/action-sheet/test/basic/action-sheet-rendering.e2e.ts-snapshots/action-sheet-disabled-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/action-sheet/test/basic/action-sheet-rendering.e2e.ts-snapshots/action-sheet-disabled-ios-ltr-Mobile-Safari-linux.png
  core/src/components/action-sheet/test/basic/action-sheet-rendering.e2e.ts-snapshots/action-sheet-disabled-md-ltr-Mobile-Chrome-linux.png
  core/src/components/action-sheet/test/basic/action-sheet-rendering.e2e.ts-snapshots/action-sheet-disabled-md-ltr-Mobile-Firefox-linux.png
  core/src/components/action-sheet/test/basic/action-sheet-rendering.e2e.ts-snapshots/action-sheet-disabled-md-ltr-Mobile-Safari-linux.png
  core/src/components/action-sheet/test/basic/action-sheet.spec.tsx
  core/src/utils/gesture/button-active.ts
Labels: package: core

#28720 docs: account for this context
  core/src/components.d.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/input/input.tsx
  core/src/components/modal/modal.tsx
  core/src/components/range/range.tsx
  core/src/components/textarea/textarea.tsx
Labels: package: core

#28709 fix(content): main landmark is set correctly
  core/src/components/content/content.tsx
  core/src/components/refresher/test/a11y/refresher.e2e.ts
Labels: package: core

#28620 fix(refresher): native ios refresher works on iPadOS
  core/src/components/refresher-content/refresher-content.tsx
  core/src/components/refresher/refresher.utils.ts
Labels: package: core

#28730 feat(datetime-button): update design to match iOS 17 spec
  core/src/components/datetime-button/datetime-button.ios.scss
  core/src/components/datetime-button/datetime-button.md.scss
  core/src/components/datetime-button/datetime-button.scss
  core/src/components/datetime-button/datetime-button.tsx
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts-snapshots/datetime-button-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts-snapshots/datetime-button-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts-snapshots/datetime-button-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts-snapshots/datetime-button-scale-wrap-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts-snapshots/datetime-button-scale-wrap-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts-snapshots/datetime-button-scale-wrap-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/basic/datetime-button.e2e.ts
  core/src/components/datetime-button/test/basic/datetime-button.e2e.ts-snapshots/datetime-button-basic-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/basic/datetime-button.e2e.ts-snapshots/datetime-button-basic-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/basic/datetime-button.e2e.ts-snapshots/datetime-button-basic-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/basic/datetime-button.e2e.ts-snapshots/datetime-button-basic-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/basic/datetime-button.e2e.ts-snapshots/datetime-button-basic-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/basic/datetime-button.e2e.ts-snapshots/datetime-button-basic-ios-rtl-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/basic/datetime-button.e2e.ts-snapshots/datetime-button-basic-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/basic/datetime-button.e2e.ts-snapshots/datetime-button-basic-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/basic/datetime-button.e2e.ts-snapshots/datetime-button-basic-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/basic/datetime-button.e2e.ts-snapshots/datetime-button-basic-md-rtl-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/basic/datetime-button.e2e.ts-snapshots/datetime-button-basic-md-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/basic/datetime-button.e2e.ts-snapshots/datetime-button-basic-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/disabled/datetime-button.e2e.ts-snapshots/datetime-button-disabled-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/disabled/datetime-button.e2e.ts-snapshots/datetime-button-disabled-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/disabled/datetime-button.e2e.ts-snapshots/datetime-button-disabled-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/disabled/datetime-button.e2e.ts-snapshots/datetime-button-disabled-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/disabled/datetime-button.e2e.ts-snapshots/datetime-button-disabled-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/disabled/datetime-button.e2e.ts-snapshots/datetime-button-disabled-ios-rtl-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/disabled/datetime-button.e2e.ts-snapshots/datetime-button-disabled-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/disabled/datetime-button.e2e.ts-snapshots/datetime-button-disabled-md-rtl-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/disabled/datetime-button.e2e.ts-snapshots/datetime-button-disabled-md-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/disabled/datetime-button.e2e.ts-snapshots/datetime-button-disabled-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-modal-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-modal-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-modal-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-modal-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-modal-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-modal-ios-rtl-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-modal-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-modal-md-rtl-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-modal-md-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-modal-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-popover-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-popover-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-popover-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-popover-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-popover-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-popover-ios-rtl-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-popover-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-popover-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-popover-md-rtl-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-popover-md-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/overlays/datetime-button.e2e.ts-snapshots/datetime-overlay-popover-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#28747 test(radio): re-enable keyboard navigation
  core/src/components/radio/test/a11y/radio.e2e.ts
  core/src/components/radio/test/legacy/a11y/radio.e2e.ts
Labels: package: core

#28745 fix(nav, router-outlet): ios page transition does not cover menu on larger screens
  core/src/components/menu/test/custom/menu.e2e.ts-snapshots/menu-custom-split-pane-md-ltr-Mobile-Chrome-linux.png
  core/src/components/menu/test/custom/menu.e2e.ts-snapshots/menu-custom-split-pane-md-ltr-Mobile-Firefox-linux.png
  core/src/components/menu/test/custom/menu.e2e.ts-snapshots/menu-custom-split-pane-md-ltr-Mobile-Safari-linux.png
  core/src/components/split-pane/split-pane.scss
Labels: package: core

#28754 feat(tab-button): update styles to iOS 17 specs
  core/src/components/tab-bar/test/custom/tab-bar.e2e.ts-snapshots/tab-bar-custom-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/tab-bar/test/custom/tab-bar.e2e.ts-snapshots/tab-bar-custom-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/tab-bar/test/custom/tab-bar.e2e.ts-snapshots/tab-bar-custom-ios-ltr-Mobile-Safari-linux.png
  core/src/components/tab-button/tab-button.ios.scss
  core/src/components/tab-button/tab-button.ios.vars.scss
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-ios-ltr-Mobile-Safari-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-ios-rtl-Mobile-Safari-linux.png
  core/src/components/tab-button/test/layout/tab-button.e2e.ts-snapshots/tab-button-icon-below-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/layout/tab-button.e2e.ts-snapshots/tab-button-icon-below-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/layout/tab-button.e2e.ts-snapshots/tab-button-icon-below-ios-ltr-Mobile-Safari-linux.png
  core/src/components/tab-button/test/layout/tab-button.e2e.ts-snapshots/tab-button-icon-below-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/layout/tab-button.e2e.ts-snapshots/tab-button-icon-below-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/layout/tab-button.e2e.ts-snapshots/tab-button-icon-below-ios-rtl-Mobile-Safari-linux.png
  core/src/components/tab-button/test/layout/tab-button.e2e.ts-snapshots/tab-button-icon-top-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/layout/tab-button.e2e.ts-snapshots/tab-button-icon-top-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/layout/tab-button.e2e.ts-snapshots/tab-button-icon-top-ios-ltr-Mobile-Safari-linux.png
  core/src/components/tab-button/test/layout/tab-button.e2e.ts-snapshots/tab-button-icon-top-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/layout/tab-button.e2e.ts-snapshots/tab-button-icon-top-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/layout/tab-button.e2e.ts-snapshots/tab-button-icon-top-ios-rtl-Mobile-Safari-linux.png
Labels: package: core

#28748 feat(modal): update styles to iOS 17 specs
  core/src/components/modal/gestures/swipe-to-close.ts
  core/src/components/modal/test/card/modal-card.e2e.ts-snapshots/modal-card-custom-present-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal-card.e2e.ts-snapshots/modal-card-custom-present-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/modal/test/card/modal-card.e2e.ts-snapshots/modal-card-custom-present-ios-ltr-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal-card.e2e.ts-snapshots/modal-card-custom-stacked-present-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal-card.e2e.ts-snapshots/modal-card-custom-stacked-present-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/modal/test/card/modal-card.e2e.ts-snapshots/modal-card-custom-stacked-present-ios-ltr-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal-card.e2e.ts-snapshots/modal-card-present-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal-card.e2e.ts-snapshots/modal-card-present-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/modal/test/card/modal-card.e2e.ts-snapshots/modal-card-present-ios-ltr-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal-card.e2e.ts-snapshots/modal-card-stacked-present-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/modal/test/card/modal-card.e2e.ts-snapshots/modal-card-stacked-present-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/modal/test/card/modal-card.e2e.ts-snapshots/modal-card-stacked-present-ios-ltr-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal-tablet.e2e.ts-snapshots/modal-card-custom-stacked-present-tablet-ios-ltr-Mobile-Safari-linux.png
  core/src/components/modal/test/card/modal-tablet.e2e.ts-snapshots/modal-card-stacked-present-tablet-ios-ltr-Mobile-Safari-linux.png
Labels: package: core

#28712 fix(radio-group): radio disabled prop can be undefined
  core/src/components/radio-group/radio-group.tsx
Labels: package: core
