Repository ionic-team/ionic-framework, pull requests merged in 2023-07, with the labels that each got.

#27732 refactor(select): use border mixin
  core/src/components/select/select.md.outline.scss
Labels: package: core

#27723 fix(back-button): show correct background on focus + hover with ios
  core/src/components/back-button/back-button.ios.scss
Labels: package: core

#27731 test(tab-button): add focus state screenshots
  core/src/components/tab-button/test/states/tab-button.e2e.ts
  core/src/components/tab-button/test/states/tab-button.e2e.ts-snapshots/tab-button-focus-color-no-translucency-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/states/tab-button.e2e.ts-snapshots/tab-button-focus-color-no-translucency-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/states/tab-button.e2e.ts-snapshots/tab-button-focus-color-no-translucency-ios-ltr-Mobile-Safari-linux.png
  core/src/components/tab-button/test/states/tab-button.e2e.ts-snapshots/tab-button-focus-color-no-translucency-md-ltr-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/states/tab-button.e2e.ts-snapshots/tab-button-focus-color-no-translucency-md-ltr-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/states/tab-button.e2e.ts-snapshots/tab-button-focus-color-no-translucency-md-ltr-Mobile-Safari-linux.png
  core/src/components/tab-button/test/states/tab-button.e2e.ts-snapshots/tab-button-focus-color-translucency-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/states/tab-button.e2e.ts-snapshots/tab-button-focus-color-translucency-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/states/tab-button.e2e.ts-snapshots/tab-button-focus-color-translucency-ios-ltr-Mobile-Safari-linux.png
  core/src/components/tab-button/test/states/tab-button.e2e.ts-snapshots/tab-button-focus-no-translucency-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/states/tab-button.e2e.ts-snapshots/tab-button-focus-no-translucency-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/states/tab-button.e2e.ts-snapshots/tab-button-focus-no-translucency-ios-ltr-Mobile-Safari-linux.png
  core/src/components/tab-button/test/states/tab-button.e2e.ts-snapshots/tab-button-focus-no-translucency-md-ltr-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/states/tab-button.e2e.ts-snapshots/tab-button-focus-no-translucency-md-ltr-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/states/tab-button.e2e.ts-snapshots/tab-button-focus-no-translucency-md-ltr-Mobile-Safari-linux.png
  core/src/components/tab-button/test/states/tab-button.e2e.ts-snapshots/tab-button-focus-translucency-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/states/tab-button.e2e.ts-snapshots/tab-button-focus-translucency-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/states/tab-button.e2e.ts-snapshots/tab-button-focus-translucency-ios-ltr-Mobile-Safari-linux.png
Labels: package: core

#27756 Release 7.1.2
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#27745 feat: add dynamic type variables
  core/scripts/testing/styles.css
  core/src/css/core.scss
  core/src/css/typography.scss
Labels: package: core

#27765 fix: avoid unresolved import warning on stencil apps
  core/package-lock.json
  core/package.json
Labels: package: core

#27769 test(overlays): migrate to pageUtils and re-enable
  core/src/utils/test/overlays/overlays.e2e.ts
Labels: package: core

#27747 feat(action-sheet): support dynamic type
  core/src/components/action-sheet/action-sheet.ios.scss
  core/src/components/action-sheet/action-sheet.ios.vars.scss
  core/src/components/action-sheet/action-sheet.md.scss
  core/src/components/action-sheet/action-sheet.md.vars.scss
  core/src/components/action-sheet/action-sheet.scss
Labels: package: core

#27768 test(picker-internal): re-enable basic screenshot test
  core/src/components/picker-internal/test/basic/index.html
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-inline-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-inline-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-inline-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-inline-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-inline-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-inline-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-inline-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-inline-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-inline-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-inline-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-inline-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-inline-diff-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#27774 fix(overlays): first button is not focused on backdrop tap
  core/src/utils/overlays.ts
Labels: package: core

#27781 Release 7.1.3
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components/picker-internal/test/basic/index.html
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-inline-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-inline-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-inline-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-inline-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-inline-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-inline-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-inline-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-inline-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-inline-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-inline-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-inline-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/picker-internal/test/basic/picker-internal.e2e.ts-snapshots/picker-internal-inline-diff-md-rtl-Mobile-Safari-linux.png
  core/src/utils/overlays.ts
  core/src/utils/test/overlays/overlays.e2e.ts
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#27780 Release 7.1.3
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#27771 fix(radio): add top and bottom margins when in ion-item
  core/src/components/radio/radio.scss
  core/src/components/radio/radio.vars.scss
  core/src/components/radio/test/item/index.html
  core/src/components/radio/test/item/radio.e2e.ts
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-long-label-in-item-md-ltr-Mobile-Chrome-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-long-label-in-item-md-ltr-Mobile-Firefox-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-long-label-in-item-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#27783 fix(checkbox): add top and bottom margins when in ion-item
  core/src/components/checkbox/checkbox.scss
  core/src/components/checkbox/checkbox.vars.scss
  core/src/components/checkbox/test/item/checkbox.e2e.ts
  core/src/components/checkbox/test/item/checkbox.e2e.ts-snapshots/checkbox-long-label-in-item-md-ltr-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/item/checkbox.e2e.ts-snapshots/checkbox-long-label-in-item-md-ltr-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/item/checkbox.e2e.ts-snapshots/checkbox-long-label-in-item-md-ltr-Mobile-Safari-linux.png
  core/src/components/checkbox/test/item/index.html
Labels: package: core

#27784 fix(toggle): add top and bottom margins when in ion-item
  core/src/components/toggle/test/item/index.html
  core/src/components/toggle/test/item/label.e2e.ts
  core/src/components/toggle/test/item/label.e2e.ts-snapshots/toggle-long-label-in-item-md-ltr-Mobile-Chrome-linux.png
  core/src/components/toggle/test/item/label.e2e.ts-snapshots/toggle-long-label-in-item-md-ltr-Mobile-Firefox-linux.png
  core/src/components/toggle/test/item/label.e2e.ts-snapshots/toggle-long-label-in-item-md-ltr-Mobile-Safari-linux.png
  core/src/components/toggle/toggle.scss
  core/src/components/toggle/toggle.vars.scss
Labels: package: core

#27759 feat(breadcrumb): support dynamic type
  core/src/components/breadcrumb/breadcrumb.ios.scss
  core/src/components/breadcrumb/breadcrumb.md.scss
  core/src/components/breadcrumb/breadcrumb.scss
  core/src/components/breadcrumb/breadcrumb.vars.scss
Labels: package: core

#27772 feat(badge): support dynamic type
  core/src/components/badge/badge.ios.scss
  core/src/components/badge/badge.vars.scss
Labels: package: core

#27788 fix(radio, checkbox, toggle): add top and bottom margins when in ion-item
  core/src/components/checkbox/checkbox.scss
  core/src/components/checkbox/checkbox.vars.scss
  core/src/components/checkbox/test/item/checkbox.e2e.ts
  core/src/components/checkbox/test/item/checkbox.e2e.ts-snapshots/checkbox-long-label-in-item-md-ltr-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/item/checkbox.e2e.ts-snapshots/checkbox-long-label-in-item-md-ltr-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/item/checkbox.e2e.ts-snapshots/checkbox-long-label-in-item-md-ltr-Mobile-Safari-linux.png
  core/src/components/checkbox/test/item/index.html
  core/src/components/radio/radio.scss
  core/src/components/radio/radio.vars.scss
  core/src/components/radio/test/item/index.html
  core/src/components/radio/test/item/radio.e2e.ts
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-long-label-in-item-md-ltr-Mobile-Chrome-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-long-label-in-item-md-ltr-Mobile-Firefox-linux.png
  core/src/components/radio/test/item/radio.e2e.ts-snapshots/radio-long-label-in-item-md-ltr-Mobile-Safari-linux.png
  core/src/components/toggle/test/item/index.html
  core/src/components/toggle/test/item/label.e2e.ts
  core/src/components/toggle/test/item/label.e2e.ts-snapshots/toggle-long-label-in-item-md-ltr-Mobile-Chrome-linux.png
  core/src/components/toggle/test/item/label.e2e.ts-snapshots/toggle-long-label-in-item-md-ltr-Mobile-Firefox-linux.png
  core/src/components/toggle/test/item/label.e2e.ts-snapshots/toggle-long-label-in-item-md-ltr-Mobile-Safari-linux.png
  core/src/components/toggle/toggle.scss
  core/src/components/toggle/toggle.vars.scss
Labels: package: core

#27766 fix(textarea): stacked/floating textarea size is correct on safari
  core/src/components/textarea/test/label-placement/textarea.e2e.ts
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-multi-line-sizing-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-multi-line-sizing-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/label-placement/textarea.e2e.ts-snapshots/textarea-multi-line-sizing-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/textarea.scss
Labels: package: core

#27787 fix: safari no longer adjusts text in landscape
  core/src/css/structure.scss
Labels: package: core

#27755 refactor: use capacitor types for native plugins
  .github/dependabot.yml
  core/package-lock.json
  core/package.json
  core/src/components/modal/utils.ts
  core/src/components/refresher/refresher.tsx
  core/src/utils/input-shims/hacks/scroll-assist.ts
  core/src/utils/keyboard/keyboard-controller.ts
  core/src/utils/native/capacitor.ts
  core/src/utils/native/haptic.ts
  core/src/utils/native/keyboard.ts
  core/src/utils/native/native-interface.ts
  core/src/utils/native/status-bar.ts
Labels: package: core

#27790 fix(button): submit form when pressing enter key
  core/src/components/button/button.tsx
  core/src/components/button/test/form-reference/button.e2e.ts
Labels: package: core

#27737 feat(searchbar): add name property
  core/api.txt
  core/src/components.d.ts
  core/src/components/searchbar/searchbar.tsx
  core/src/components/searchbar/test/basic/index.html
  core/src/components/searchbar/test/searchbar.spec.ts
  packages/angular/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#27814 fix(angular): menu button is enabled with Angular Universal builds
  core/src/components/menu/menu.tsx
Labels: package: core

#27822 Release 7.1.4
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#27825 Release 7.2
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#27829 fix(item-sliding): buttons are not interactive on close
  core/src/components/item-sliding/item-sliding.scss
  core/src/components/item-sliding/item-sliding.tsx
Labels: package: core

#27836 test(many): add font scaling tests
  core/src/components/action-sheet/test/a11y/action-sheet.e2e.ts
  core/src/components/action-sheet/test/a11y/action-sheet.e2e.ts-snapshots/action-sheet-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/action-sheet/test/a11y/action-sheet.e2e.ts-snapshots/action-sheet-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/action-sheet/test/a11y/action-sheet.e2e.ts-snapshots/action-sheet-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/action-sheet/test/a11y/action-sheet.e2e.ts-snapshots/action-sheet-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/action-sheet/test/a11y/action-sheet.e2e.ts-snapshots/action-sheet-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/action-sheet/test/a11y/action-sheet.e2e.ts-snapshots/action-sheet-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/back-button/test/a11y/back-button.e2e.ts
  core/src/components/back-button/test/a11y/back-button.e2e.ts-snapshots/back-button-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/back-button/test/a11y/back-button.e2e.ts-snapshots/back-button-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/back-button/test/a11y/back-button.e2e.ts-snapshots/back-button-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/back-button/test/a11y/back-button.e2e.ts-snapshots/back-button-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/back-button/test/a11y/back-button.e2e.ts-snapshots/back-button-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/back-button/test/a11y/back-button.e2e.ts-snapshots/back-button-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/badge/test/a11y/badge.e2e.ts
  core/src/components/badge/test/a11y/badge.e2e.ts-snapshots/badge-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/badge/test/a11y/badge.e2e.ts-snapshots/badge-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/badge/test/a11y/badge.e2e.ts-snapshots/badge-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/badge/test/a11y/badge.e2e.ts-snapshots/badge-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/badge/test/a11y/badge.e2e.ts-snapshots/badge-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/badge/test/a11y/badge.e2e.ts-snapshots/badge-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/a11y/breadcrumbs.e2e.ts
  core/src/components/breadcrumbs/test/a11y/breadcrumbs.e2e.ts-snapshots/breadcrumbs-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/a11y/breadcrumbs.e2e.ts-snapshots/breadcrumbs-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/a11y/breadcrumbs.e2e.ts-snapshots/breadcrumbs-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/breadcrumbs/test/a11y/breadcrumbs.e2e.ts-snapshots/breadcrumbs-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/a11y/breadcrumbs.e2e.ts-snapshots/breadcrumbs-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/breadcrumbs/test/a11y/breadcrumbs.e2e.ts-snapshots/breadcrumbs-scale-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#27835 fix(modal): body background is reset with inline card modals
  core/src/components/modal/animations/ios.leave.ts
Labels: package: core

#27838 feat(reorder): support dynamic type
  core/src/components/reorder-group/test/a11y/reorder-group.e2e.ts
  core/src/components/reorder-group/test/a11y/reorder-group.e2e.ts-snapshots/reorder-group-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/reorder-group/test/a11y/reorder-group.e2e.ts-snapshots/reorder-group-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/reorder-group/test/a11y/reorder-group.e2e.ts-snapshots/reorder-group-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/reorder-group/test/a11y/reorder-group.e2e.ts-snapshots/reorder-group-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/reorder-group/test/a11y/reorder-group.e2e.ts-snapshots/reorder-group-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/reorder-group/test/a11y/reorder-group.e2e.ts-snapshots/reorder-group-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/reorder/reorder.ios.vars.scss
  core/src/components/reorder/reorder.md.vars.scss
  core/src/components/reorder/reorder.scss
Labels: package: core

#27845 feat(card): support dynamic type
  core/src/components/card-content/card-content.ios.scss
  core/src/components/card-content/card-content.ios.vars.scss
  core/src/components/card-content/card-content.md.scss
  core/src/components/card-content/card-content.md.vars.scss
  core/src/components/card-subtitle/card-subtitle.ios.vars.scss
  core/src/components/card-subtitle/card-subtitle.md.vars.scss
  core/src/components/card-title/card-title.ios.vars.scss
  core/src/components/card-title/card-title.md.vars.scss
  core/src/components/card/card.ios.vars.scss
  core/src/components/card/card.md.vars.scss
  core/src/components/card/test/a11y/card.e2e.ts
  core/src/components/card/test/a11y/card.e2e.ts-snapshots/card-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/card/test/a11y/card.e2e.ts-snapshots/card-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/card/test/a11y/card.e2e.ts-snapshots/card-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/card/test/a11y/card.e2e.ts-snapshots/card-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/card/test/a11y/card.e2e.ts-snapshots/card-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/card/test/a11y/card.e2e.ts-snapshots/card-scale-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#27864 Release 7.2.1
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#27865 Release 7.2.1
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components/item-sliding/item-sliding.scss
  core/src/components/item-sliding/item-sliding.tsx
  core/src/components/modal/animations/ios.leave.ts
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#27853 fix(item-options): use correct safe area padding
  core/src/components/item-options/item-options.scss
  core/src/components/item-options/item-options.tsx
Labels: package: core

#27848 feat(datetime-button): add dynamic type support
  core/src/components/datetime-button/datetime-button.scss
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts-snapshots/datetime-button-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts-snapshots/datetime-button-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts-snapshots/datetime-button-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts-snapshots/datetime-button-scale-truncate-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts-snapshots/datetime-button-scale-truncate-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts-snapshots/datetime-button-scale-truncate-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts-snapshots/datetime-button-scale-truncate-item-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts-snapshots/datetime-button-scale-truncate-item-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts-snapshots/datetime-button-scale-truncate-item-ios-ltr-Mobile-Safari-linux.png
Labels: package: core

#27856 chore: update to stencil 4
  core/package-lock.json
  core/package.json
Labels: package: core

#27866 chore: add infrastructure for standalone
  packages/angular/README.md
  packages/angular/common/ng-package.json
  packages/angular/common/src/index.ts
  packages/angular/standalone/ng-package.json
  packages/angular/standalone/src/index.ts
Labels: package: angular

#27872 fix(datetime-button): buttons wrap instead of truncate
  core/src/components/datetime-button/datetime-button.scss
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts-snapshots/datetime-button-scale-truncate-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts-snapshots/datetime-button-scale-truncate-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts-snapshots/datetime-button-scale-truncate-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts-snapshots/datetime-button-scale-truncate-item-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts-snapshots/datetime-button-scale-truncate-item-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts-snapshots/datetime-button-scale-truncate-item-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts-snapshots/datetime-button-scale-wrap-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts-snapshots/datetime-button-scale-wrap-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime-button/test/a11y/datetime-button.e2e.ts-snapshots/datetime-button-scale-wrap-ios-ltr-Mobile-Safari-linux.png
Labels: package: core

#27855 feat(toast): add htmlAttributes property for passing attributes to buttons
  core/src/components/toast/test/a11y/index.html
  core/src/components/toast/test/a11y/toast.e2e.ts
  core/src/components/toast/toast-interface.ts
  core/src/components/toast/toast.tsx
Labels: package: core

#27863 feat(action-sheet): add htmlAttributes property for passing attributes to buttons
  core/src/components/action-sheet/action-sheet-interface.ts
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/action-sheet/test/a11y/action-sheet.e2e.ts
  core/src/components/action-sheet/test/a11y/index.html
Labels: package: core

#27862 feat(alert): add htmlAttributes property for passing attributes to buttons
  core/src/components/alert/alert-interface.ts
  core/src/components/alert/alert.tsx
  core/src/components/alert/test/a11y/alert.e2e.ts
  core/src/components/alert/test/a11y/index.html
Labels: package: core

#27895 fix(react, vue): custom animations are used when going back
  packages/react-router/src/ReactRouter/IonRouter.tsx
  packages/vue-router/src/router.ts
Labels: package: vue, package: react
