Repository ionic-team/ionic-framework, pull requests merged in 2023-08, with the labels that each got.

#27898 fix(alert): radio and checkbox labels wrap to next line
  core/src/components/alert/alert.ios.scss
  core/src/components/alert/alert.md.scss
  core/src/components/alert/alert.scss
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-checkbox-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-checkbox-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-checkbox-ios-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-checkbox-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-checkbox-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-checkbox-ios-rtl-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-checkbox-md-ltr-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-checkbox-md-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-checkbox-md-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-checkbox-md-rtl-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-checkbox-md-rtl-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-checkbox-md-rtl-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-radio-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-radio-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-radio-ios-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-radio-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-radio-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-radio-ios-rtl-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-radio-md-ltr-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-radio-md-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-radio-md-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-radio-md-rtl-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-radio-md-rtl-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-radio-md-rtl-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/index.html
Labels: package: core

#27816 fix(datetime-button): render correct text when passing partial date values
  core/src/components/datetime-button/test/basic/datetime-button.e2e.ts
  core/src/components/datetime/utils/format.ts
Labels: package: core

#27818 fix(select): popover uses modern form syntax
  core/src/components/select-popover/select-popover.md.scss
  core/src/components/select-popover/select-popover.tsx
  core/src/components/select-popover/test/basic/select-popover.e2e.ts
  core/src/components/select-popover/test/basic/select-popover.e2e.ts-snapshots/select-popover-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/select-popover/test/basic/select-popover.e2e.ts-snapshots/select-popover-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/select-popover/test/basic/select-popover.e2e.ts-snapshots/select-popover-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/select-popover/test/basic/select-popover.e2e.ts-snapshots/select-popover-multiple-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/select-popover/test/basic/select-popover.e2e.ts-snapshots/select-popover-multiple-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/select-popover/test/basic/select-popover.e2e.ts-snapshots/select-popover-multiple-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/select-popover/test/basic/select-popover.e2e.ts-snapshots/select-popover-multiple-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select-popover/test/basic/select-popover.e2e.ts-snapshots/select-popover-multiple-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select-popover/test/basic/select-popover.e2e.ts-snapshots/select-popover-multiple-diff-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#27906 chore(deps): update to stencil 4.0.3
  core/package-lock.json
  core/package.json
Labels: package: core

#27918 Release 7.2.2
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#27904 fix(nav): improve reliability of swipe back gesture when quickly swiping back
  core/src/components/nav/nav.tsx
Labels: package: core

#27915 fix(item-sliding): account for options added before watcher
  core/src/components/item-sliding/item-sliding.tsx
Labels: package: core

#27887 feat(button): support dynamic type
  core/src/components/button/button.ios.vars.scss
  core/src/components/button/button.md.vars.scss
  core/src/components/button/test/a11y/button.e2e.ts
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-clear-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-clear-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-clear-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-clear-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-clear-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-clear-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-default-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-default-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-default-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-default-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-default-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-default-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-large-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-large-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-large-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-large-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-large-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-large-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-small-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-small-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-small-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-small-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-small-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-small-scale-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#27933 fix(many): overlays present if isOpen is true on load
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/action-sheet/test/is-open/action-sheet.e2e.ts
  core/src/components/alert/alert.tsx
  core/src/components/alert/test/is-open/alert.e2e.ts
  core/src/components/loading/test/is-open/loading.e2e.ts
  core/src/components/modal/test/is-open/modal.e2e.ts
  core/src/components/picker/picker.tsx
  core/src/components/picker/test/is-open/picker.e2e.ts
  core/src/components/popover/test/is-open/popover.e2e.ts
  core/src/components/toast/test/is-open/toast.e2e.ts
  core/src/components/toast/toast.tsx
Labels: package: core

#27909 refactor(angular): move remaining directives to common module
  packages/angular/common/src/directives/navigation/back-button.ts
  packages/angular/common/src/directives/navigation/nav-delegate.ts
  packages/angular/common/src/directives/navigation/router-link-delegate.ts
  packages/angular/common/src/directives/navigation/router-outlet.ts
  packages/angular/common/src/directives/navigation/stack-controller.ts
  packages/angular/common/src/directives/navigation/stack-utils.ts
  packages/angular/common/src/directives/navigation/tabs.ts
  packages/angular/common/src/index.ts
  packages/angular/common/src/providers/nav-controller.ts
  packages/angular/common/src/utils/proxy.ts
  packages/angular/src/directives/navigation/ion-back-button.ts
  packages/angular/src/directives/navigation/ion-router-outlet.ts
  packages/angular/src/directives/navigation/ion-tabs.ts
  packages/angular/src/directives/navigation/nav-delegate.ts
  packages/angular/src/directives/navigation/router-link-delegate.ts
  packages/angular/src/index.ts
  packages/angular/src/ionic-module.ts
Labels: package: angular

#27926 feat(angular): add standalone router outlet
  packages/angular/common/src/index.ts
  packages/angular/standalone/src/index.ts
  packages/angular/standalone/src/navigation/router-outlet.ts
  packages/angular/test/base/e2e/src/standalone/router-outlet.spec.ts
  packages/angular/test/base/src/app/standalone/app-standalone/app.component.html
  packages/angular/test/base/src/app/standalone/app-standalone/app.component.ts
  packages/angular/test/base/src/app/standalone/app-standalone/app.routes.ts
  packages/angular/test/base/src/app/standalone/router-outlet/router-outlet.component.html
  packages/angular/test/base/src/app/standalone/router-outlet/router-outlet.component.ts
Labels: package: angular

#27927 feat(angular): add standalone back-button
  packages/angular/common/src/directives/navigation/back-button.ts
  packages/angular/common/src/index.ts
  packages/angular/src/directives/navigation/ion-back-button.ts
  packages/angular/standalone/src/index.ts
  packages/angular/standalone/src/navigation/back-button.ts
  packages/angular/test/base/e2e/src/standalone/back-button.spec.ts
  packages/angular/test/base/src/app/standalone/app-standalone/app.routes.ts
  packages/angular/test/base/src/app/standalone/back-button/back-button.component.html
  packages/angular/test/base/src/app/standalone/back-button/back-button.component.ts
Labels: package: angular

#27896 feat(buttons): support dynamic type
  core/src/components/button/button.ios.scss
  core/src/components/buttons/buttons.ios.scss
  core/src/components/buttons/buttons.md.scss
  core/src/components/buttons/test/a11y/buttons.e2e.ts
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-clear-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-clear-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-clear-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-clear-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-clear-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-clear-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-default-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-default-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-default-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-default-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-default-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-default-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-icon-only-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-icon-only-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-icon-only-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-icon-only-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-icon-only-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-icon-only-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-icon-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-icon-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-icon-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-icon-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-icon-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-icon-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/toolbar/test/basic/toolbar.e2e.ts-snapshots/toolbar-basic-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/toolbar/toolbar.ios.vars.scss
  core/src/components/toolbar/toolbar.md.vars.scss
Labels: package: core

#27876 feat(angular): add standalone nav
  packages/angular/common/src/directives/navigation/nav-delegate.ts
  packages/angular/src/directives/navigation/nav-delegate.ts
  packages/angular/standalone/src/index.ts
  packages/angular/standalone/src/navigation/nav-delegate.ts
  packages/angular/test/base/e2e/src/standalone/nav.spec.ts
  packages/angular/test/base/src/app/standalone/app-standalone/app.routes.ts
  packages/angular/test/base/src/app/standalone/nav/nav.component.html
  packages/angular/test/base/src/app/standalone/nav/nav.component.ts
  packages/angular/test/base/src/app/standalone/nav/page-one.component.ts
Labels: package: angular

#27868 feat(chip): add dynamic type support
  core/src/components/chip/chip.ios.scss
  core/src/components/chip/chip.md.scss
  core/src/components/chip/chip.scss
  core/src/components/chip/chip.tsx
  core/src/components/chip/chip.vars.scss
  core/src/components/chip/test/a11y/chip.e2e.ts
  core/src/components/chip/test/a11y/chip.e2e.ts-snapshots/chip-large-contents-md-ltr-Mobile-Chrome-linux.png
  core/src/components/chip/test/a11y/chip.e2e.ts-snapshots/chip-large-contents-md-ltr-Mobile-Firefox-linux.png
  core/src/components/chip/test/a11y/chip.e2e.ts-snapshots/chip-large-contents-md-ltr-Mobile-Safari-linux.png
  core/src/components/chip/test/a11y/chip.e2e.ts-snapshots/chip-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/chip/test/a11y/chip.e2e.ts-snapshots/chip-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/chip/test/a11y/chip.e2e.ts-snapshots/chip-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/chip/test/a11y/chip.e2e.ts-snapshots/chip-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/chip/test/a11y/chip.e2e.ts-snapshots/chip-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/chip/test/a11y/chip.e2e.ts-snapshots/chip-scale-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#27934 refactor: add dynamic type sass functions
  core/src/components/action-sheet/action-sheet.ios.vars.scss
  core/src/components/action-sheet/action-sheet.md.vars.scss
  core/src/components/back-button/back-button.ios.scss
  core/src/components/back-button/back-button.md.scss
  core/src/components/badge/badge.ios.scss
  core/src/components/badge/badge.vars.scss
  core/src/components/breadcrumb/breadcrumb.ios.scss
  core/src/components/breadcrumb/breadcrumb.md.scss
  core/src/components/breadcrumb/breadcrumb.scss
  core/src/components/breadcrumb/breadcrumb.vars.scss
  core/src/components/button/button.ios.vars.scss
  core/src/components/button/button.md.vars.scss
  core/src/components/card-content/card-content.ios.scss
  core/src/components/card-content/card-content.ios.vars.scss
  core/src/components/card-content/card-content.md.scss
  core/src/components/card-content/card-content.md.vars.scss
  core/src/components/card-subtitle/card-subtitle.ios.vars.scss
  core/src/components/card-subtitle/card-subtitle.md.vars.scss
  core/src/components/card-title/card-title.ios.vars.scss
  core/src/components/card-title/card-title.md.vars.scss
  core/src/components/card/card.ios.vars.scss
  core/src/components/card/card.md.vars.scss
  core/src/components/datetime-button/datetime-button.scss
  core/src/components/loading/loading.ios.vars.scss
  core/src/components/loading/loading.md.vars.scss
  core/src/components/reorder/reorder.ios.vars.scss
  core/src/components/reorder/reorder.md.vars.scss
  core/src/components/reorder/reorder.scss
  core/src/themes/ionic.functions.font.scss
  core/src/themes/ionic.globals.scss
Labels: package: core

#27938 feat(list-header): support dynamic type
  core/src/components/list-header/list-header.ios.vars.scss
  core/src/components/list-header/list-header.md.vars.scss
  core/src/components/list-header/test/a11y/list-header.e2e.ts
  core/src/components/list-header/test/a11y/list-header.e2e.ts-snapshots/list-header-default-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/list-header/test/a11y/list-header.e2e.ts-snapshots/list-header-default-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/list-header/test/a11y/list-header.e2e.ts-snapshots/list-header-default-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/list-header/test/a11y/list-header.e2e.ts-snapshots/list-header-default-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/list-header/test/a11y/list-header.e2e.ts-snapshots/list-header-default-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/list-header/test/a11y/list-header.e2e.ts-snapshots/list-header-default-scale-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#27937 feat(angular): add standalone router-link
  packages/angular/standalone/src/index.ts
  packages/angular/standalone/src/navigation/router-link-delegate.ts
  packages/angular/test/base/e2e/src/standalone/router-link.spec.ts
  packages/angular/test/base/src/app/standalone/app-standalone/app.routes.ts
  packages/angular/test/base/src/app/standalone/router-link/router-link.component.html
  packages/angular/test/base/src/app/standalone/router-link/router-link.component.ts
Labels: package: angular

#27947 feat(item-divider): support dynamic type
  core/src/components/item-divider/item-divider.ios.vars.scss
  core/src/components/item-divider/item-divider.md.vars.scss
  core/src/components/item-divider/test/a11y/item-divider.e2e.ts
  core/src/components/item-divider/test/a11y/item-divider.e2e.ts-snapshots/item-divider-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/a11y/item-divider.e2e.ts-snapshots/item-divider-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/a11y/item-divider.e2e.ts-snapshots/item-divider-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item-divider/test/a11y/item-divider.e2e.ts-snapshots/item-divider-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/a11y/item-divider.e2e.ts-snapshots/item-divider-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/a11y/item-divider.e2e.ts-snapshots/item-divider-scale-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#27935 chore(react): update v18 test app to use vite
  packages/react/test/apps/react18/index.html
  packages/react/test/apps/react18/package-lock.json
  packages/react/test/apps/react18/package.json
  packages/react/test/apps/react18/src/vite-env.d.ts
  packages/react/test/apps/react18/tsconfig.json
  packages/react/test/apps/react18/tsconfig.node.json
  packages/react/test/apps/react18/vite.config.ts
Labels: package: react

#27955 fix(button): hidden button is added when form is set async
  core/src/components/button/button.tsx
  core/src/components/button/test/form-reference/button.e2e.ts
  core/src/components/button/test/form-reference/button.spec.ts
Labels: package: core

#27964 Release 7.2.3
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/action-sheet/test/is-open/action-sheet.e2e.ts
  core/src/components/alert/alert.tsx
  core/src/components/alert/test/is-open/alert.e2e.ts
  core/src/components/button/button.tsx
  core/src/components/button/test/form-reference/button.e2e.ts
  core/src/components/button/test/form-reference/button.spec.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/minmax/datetime.e2e.ts
  core/src/components/datetime/test/set-value/datetime.e2e.ts
  core/src/components/item-sliding/item-sliding.tsx
  core/src/components/loading/test/is-open/loading.e2e.ts
  core/src/components/modal/gestures/sheet.ts
  core/src/components/modal/modal.tsx
  core/src/components/modal/test/is-open/modal.e2e.ts
  core/src/components/nav/nav.tsx
  core/src/components/picker/picker.tsx
  core/src/components/picker/test/is-open/picker.e2e.ts
  core/src/components/popover/test/is-open/popover.e2e.ts
  core/src/components/toast/test/is-open/toast.e2e.ts
  core/src/components/toast/toast.tsx
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/components/navigation/IonTabButton.tsx
  packages/react/test/apps/react18/index.html
  packages/react/test/apps/react18/package-lock.json
  packages/react/test/apps/react18/package.json
  packages/react/test/apps/react18/src/vite-env.d.ts
  packages/react/test/apps/react18/tsconfig.json
  packages/react/test/apps/react18/tsconfig.node.json
  packages/react/test/apps/react18/vite.config.ts
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#27963 Release 7.2.3
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#27951 chore(input): remove generated documentation for size attribute
  core/src/components.d.ts
  core/src/components/input/input.tsx
Labels: package: core

#27921 feat(toast): add shadow part for cancel button
  core/api.txt
  core/src/components/toast/test/toast.spec.tsx
  core/src/components/toast/toast.tsx
Labels: package: core

#27961 test(playwright): enable github reporter, test retries
  core/playwright.config.ts
Labels: package: core

#27972 fix(tap-click): do not error in document-less environment
  core/src/utils/tap-click/index.ts
Labels: package: core

#27973 chore: remove old comment from playwright config
  core/playwright.config.ts
Labels: package: core

#27995 chore: typescript resolves @ionic/angular/common import paths
  packages/angular/tsconfig.json
Labels: package: angular

#27997 feat(angular): add standalone providers, route strategy, component binding provider
  packages/angular/common/src/directives/navigation/router-outlet.ts
  packages/angular/common/src/index.ts
  packages/angular/common/src/utils/routing.ts
  packages/angular/src/index.ts
  packages/angular/src/ionic-module.ts
  packages/angular/standalone/src/index.ts
Labels: package: angular

#27999 chore: sync with main
  core/package-lock.json
  core/package.json
  core/playwright.config.ts
  core/src/components.d.ts
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-ltr-Mobile-Safari-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/accordion/test/basic/accordion.e2e.ts-snapshots/accordion-basic-ios-rtl-Mobile-Safari-linux.png
  core/src/components/content/test/standalone/content.e2e.ts-snapshots/content-standalone-md-ltr-Mobile-Safari-linux.png
  core/src/components/header/header.ios.scss
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-initial-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-initial-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/header/test/condense/header.e2e.ts-snapshots/header-condense-large-title-initial-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/input/input.tsx
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-gesture-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-gesture-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-gesture-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/item.scss
  core/src/components/modal/test/can-dismiss/modal-sheet.e2e.ts
  core/src/components/modal/test/card-nav/modal.e2e.ts
  core/src/components/modal/test/card-refresher/modal.e2e.ts
  core/src/components/modal/test/card-scroll-target/modal.e2e.ts
  core/src/components/modal/test/card/modal-tablet.e2e.ts
  core/src/components/modal/test/fixtures.ts
  core/src/components/modal/test/sheet/modal.e2e.ts
  core/src/components/range/test/legacy/basic/range.e2e.ts
  core/src/components/range/test/range-events.e2e.ts
  core/src/components/refresher/test/basic/refresher.e2e.ts
  core/src/components/refresher/test/scroll-target/refresher.e2e.ts
  core/src/components/refresher/test/test.utils.ts
  core/src/components/reorder-group/test/interactive/reorder-group.e2e.ts
  core/src/components/reorder-group/test/nested/reorder-group.e2e.ts
  core/src/components/reorder-group/test/scroll-target/reorder-group.e2e.ts
  core/src/components/title/test/basic/title.e2e.ts
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-characters-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-characters-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/title/test/basic/title.e2e.ts-snapshots/title-characters-ios-ltr-Mobile-Safari-linux.png
  core/src/components/title/title.ios.scss
  core/src/components/toolbar/toolbar.ios.scss
  core/src/utils/tap-click/index.ts
  core/src/utils/test/playwright/drag-element.ts
Labels: package: core

#28000 Release 7.2.4
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28002 chore: sync with main
  .github/workflows/actions/download-archive/action.yml
  .github/workflows/actions/test-core-spec/action.yml
  .github/workflows/stencil-nightly.yml
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#27962 feat(label): support dynamic type
  core/src/components/item-divider/item-divider.ios.scss
  core/src/components/item-divider/item-divider.md.scss
  core/src/components/item-divider/test/a11y/item-divider.e2e.ts
  core/src/components/item-divider/test/a11y/item-divider.e2e.ts-snapshots/item-divider-headings-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/a11y/item-divider.e2e.ts-snapshots/item-divider-headings-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/a11y/item-divider.e2e.ts-snapshots/item-divider-headings-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item-divider/test/a11y/item-divider.e2e.ts-snapshots/item-divider-headings-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item-divider/test/a11y/item-divider.e2e.ts-snapshots/item-divider-headings-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item-divider/test/a11y/item-divider.e2e.ts-snapshots/item-divider-headings-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/item.ios.vars.scss
  core/src/components/label/label.ios.scss
  core/src/components/label/label.ios.vars.scss
  core/src/components/label/label.md.scss
  core/src/components/label/test/a11y/label.e2e.ts
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-headings-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-headings-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-headings-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-headings-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-headings-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-headings-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-stacked-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-stacked-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-stacked-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-stacked-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-stacked-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-stacked-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-wrap-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-wrap-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-wrap-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-wrap-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-wrap-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-wrap-scale-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#28017 docs(button): add comments to renderHiddenButton
  core/src/components/button/button.tsx
Labels: package: core

#28008 feat(menu-button): support dynamic type
  core/src/components/menu-button/menu-button.ios.scss
  core/src/components/menu-button/menu-button.md.scss
  core/src/components/menu-button/menu-button.scss
  core/src/components/menu-button/test/a11y/menu-button.e2e.ts
  core/src/components/menu-button/test/a11y/menu-button.e2e.ts-snapshots/menu-button-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/menu-button/test/a11y/menu-button.e2e.ts-snapshots/menu-button-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/menu-button/test/a11y/menu-button.e2e.ts-snapshots/menu-button-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/menu-button/test/a11y/menu-button.e2e.ts-snapshots/menu-button-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/menu-button/test/a11y/menu-button.e2e.ts-snapshots/menu-button-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/menu-button/test/a11y/menu-button.e2e.ts-snapshots/menu-button-scale-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#27991 fix(angular): ionTabsWillChange is fired before tab activation
  packages/angular/src/directives/navigation/ion-router-outlet.ts
  packages/angular/src/directives/navigation/ion-tabs.ts
  packages/angular/src/directives/navigation/stack-controller.ts
  packages/angular/src/directives/navigation/stack-utils.ts
Labels: package: angular

#28005 fix(input, textarea): clearOnEdit does not clear when pressing Tab
  core/src/components/input/input.tsx
  core/src/components/input/test/basic/index.html
  core/src/components/input/test/clear-on-edit/input.e2e.ts
  core/src/components/textarea/test/clear-on-edit/textarea.e2e.ts
  core/src/components/textarea/textarea.tsx
Labels: package: core

#27993 fix(angular): min/max validator for ion-input type number
  packages/angular/src/directives/validators/index.ts
  packages/angular/src/directives/validators/max-validator.ts
  packages/angular/src/directives/validators/min-validator.ts
  packages/angular/src/index.ts
  packages/angular/src/ionic-module.ts
  packages/angular/test/base/e2e/src/form.spec.ts
  packages/angular/test/base/src/app/form/form.component.html
  packages/angular/test/base/src/app/form/form.component.ts
Labels: package: angular

#28027 chore(): add updated snapshots
  core/src/components/action-sheet/test/a11y/action-sheet.e2e.ts-snapshots/action-sheet-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/action-sheet/test/a11y/action-sheet.e2e.ts-snapshots/action-sheet-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/badge/test/a11y/badge.e2e.ts-snapshots/badge-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-clear-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-clear-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-clear-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-default-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-default-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/button/test/a11y/button.e2e.ts-snapshots/button-default-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-clear-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-default-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-icon-only-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-icon-only-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-icon-only-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-icon-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-icon-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-icon-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-icon-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-icon-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/buttons/test/a11y/buttons.e2e.ts-snapshots/buttons-icon-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/card/test/a11y/card.e2e.ts-snapshots/card-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/chip/test/a11y/chip.e2e.ts-snapshots/chip-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/item-divider/test/a11y/item-divider.e2e.ts-snapshots/item-divider-headings-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item-divider/test/a11y/item-divider.e2e.ts-snapshots/item-divider-headings-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/item-divider/test/a11y/item-divider.e2e.ts-snapshots/item-divider-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item-divider/test/a11y/item-divider.e2e.ts-snapshots/item-divider-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-headings-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-headings-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-stacked-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-stacked-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-wrap-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/label/test/a11y/label.e2e.ts-snapshots/label-wrap-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/list-header/test/a11y/list-header.e2e.ts-snapshots/list-header-default-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/loading/test/a11y/loading.e2e.ts-snapshots/loading-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/loading/test/a11y/loading.e2e.ts-snapshots/loading-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/note/test/a11y/note.e2e.ts-snapshots/note-item-divider-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/note/test/a11y/note.e2e.ts-snapshots/note-item-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/note/test/a11y/note.e2e.ts-snapshots/note-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/note/test/a11y/note.e2e.ts-snapshots/note-scale-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#28009 feat(angular): add enhanced icon support with addIcons
  packages/angular/test/apps/ng14/package-lock.json
  packages/angular/test/apps/ng14/package.json
  packages/angular/test/apps/ng15/package-lock.json
  packages/angular/test/apps/ng15/package.json
  packages/angular/test/apps/ng16/package-lock.json
  packages/angular/test/apps/ng16/package.json
  packages/angular/test/base/e2e/src/standalone/icon.spec.ts
  packages/angular/test/base/src/app/standalone/app-standalone/app.routes.ts
  packages/angular/test/base/src/app/standalone/icon/icon.component.html
  packages/angular/test/base/src/app/standalone/icon/icon.component.ts
Labels: package: angular

#28020 fix(react): avoid multiple invocations of onDidDismiss and onWillPresent
  packages/react/src/components/createInlineOverlayComponent.tsx
  packages/react/test/base/src/pages/overlay-components/ActionSheetComponent.tsx
  packages/react/test/base/tests/e2e/specs/overlay-components/IonActionSheet.cy.ts
Labels: package: react

#28034 docs(picker): describe how to set the initial value of a picker column
  core/src/components/picker/picker-interface.ts
Labels: package: core

#27959 refactor(toast): deprecate cssClass on ToastButton
  core/src/components/toast/toast-interface.ts
Labels: package: core

#28047 Release 7.3.1
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28048 Release 7.3.1
  .github/workflows/actions/test-core-clean-build/action.yml
  CHANGELOG.md
  README.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components/button/button.tsx
  core/src/components/input/input.tsx
  core/src/components/input/test/basic/index.html
  core/src/components/input/test/clear-on-edit/input.e2e.ts
  core/src/components/picker/picker-interface.ts
  core/src/components/textarea/test/clear-on-edit/textarea.e2e.ts
  core/src/components/textarea/textarea.tsx
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/angular/src/directives/navigation/ion-router-outlet.ts
  packages/angular/src/directives/navigation/ion-tabs.ts
  packages/angular/src/directives/navigation/stack-controller.ts
  packages/angular/src/directives/navigation/stack-utils.ts
  packages/angular/src/directives/validators/index.ts
  packages/angular/src/directives/validators/max-validator.ts
  packages/angular/src/directives/validators/min-validator.ts
  packages/angular/src/index.ts
  packages/angular/src/ionic-module.ts
  packages/angular/test/base/e2e/src/form.spec.ts
  packages/angular/test/base/src/app/form/form.component.html
  packages/angular/test/base/src/app/form/form.component.ts
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/scripts/sync.sh
  packages/react/src/components/createInlineOverlayComponent.tsx
  packages/react/test/base/src/pages/overlay-components/ActionSheetComponent.tsx
  packages/react/test/base/tests/e2e/specs/overlay-components/IonActionSheet.cy.ts
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#27806 fix(datetime): scroll to newly selected date when value changes
  core/src/components/datetime-button/datetime-button.tsx
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/prefer-wheel/datetime.e2e.ts
  core/src/components/datetime/test/set-value/datetime.e2e.ts
  core/src/components/datetime/utils/data.ts
  core/src/components/datetime/utils/parse.ts
Labels: package: core

#28049 fix(menu): emit ionMenuChange when re-mounted
  core/src/components/menu-button/test/async/index.html
  core/src/components/menu-button/test/async/menu-button.e2e.ts
  core/src/components/menu/menu.tsx
Labels: package: core

#28045 feat(typography): support dynamic type
  core/package-lock.json
  core/package.json
  core/src/css/test/a11y/typography.e2e.ts
  core/src/css/test/a11y/typography.e2e.ts-snapshots/typography-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/css/test/a11y/typography.e2e.ts-snapshots/typography-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/css/test/a11y/typography.e2e.ts-snapshots/typography-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/css/typography.scss
Labels: package: core

#28050 feat(item-option): support dynamic type
  core/src/components/item-option/item-option.ios.vars.scss
  core/src/components/item-option/item-option.md.vars.scss
  core/src/components/item-options/item-options.scss
  core/src/components/item-sliding/test/a11y/item-sliding.e2e.ts
  core/src/components/item-sliding/test/a11y/item-sliding.e2e.ts-snapshots/item-sliding-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/a11y/item-sliding.e2e.ts-snapshots/item-sliding-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/a11y/item-sliding.e2e.ts-snapshots/item-sliding-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item-sliding/test/a11y/item-sliding.e2e.ts-snapshots/item-sliding-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/a11y/item-sliding.e2e.ts-snapshots/item-sliding-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/a11y/item-sliding.e2e.ts-snapshots/item-sliding-scale-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#28006 feat(range): support dynamic type
  core/src/components/range/range.ios.scss
  core/src/components/range/range.ios.vars.scss
  core/src/components/range/range.md.scss
  core/src/components/range/range.md.vars.scss
  core/src/components/range/range.scss
  core/src/components/range/test/a11y/range.e2e.ts
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-focus-with-pin-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-focus-with-pin-ios-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-focus-with-pin-md-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-focus-with-pin-md-ltr-Mobile-Firefox-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-focus-with-pin-md-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/basic/range.e2e.ts-snapshots/range-pin-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/basic/range.e2e.ts-snapshots/range-pin-ios-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/basic/range.e2e.ts-snapshots/range-pin-md-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/basic/range.e2e.ts-snapshots/range-pin-md-ltr-Mobile-Firefox-linux.png
  core/src/components/range/test/basic/range.e2e.ts-snapshots/range-pin-md-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/legacy/a11y/range.e2e.ts-snapshots/range-focus-with-pin-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/legacy/a11y/range.e2e.ts-snapshots/range-focus-with-pin-ios-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/legacy/a11y/range.e2e.ts-snapshots/range-focus-with-pin-md-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/legacy/a11y/range.e2e.ts-snapshots/range-focus-with-pin-md-ltr-Mobile-Firefox-linux.png
  core/src/components/range/test/legacy/a11y/range.e2e.ts-snapshots/range-focus-with-pin-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#28054 fix(datetime): gracefully handle invalid min/max
  core/src/components/datetime/test/parse.spec.ts
  core/src/components/datetime/utils/parse.ts
Labels: package: core

#28043 feat(searchbar): support dynamic type
  core/src/components/searchbar/searchbar.ios.scss
  core/src/components/searchbar/searchbar.ios.vars.scss
  core/src/components/searchbar/searchbar.md.scss
  core/src/components/searchbar/searchbar.md.vars.scss
  core/src/components/searchbar/searchbar.scss
  core/src/components/searchbar/searchbar.tsx
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-text-clear-hidden-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-text-clear-hidden-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-text-clear-hidden-ios-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-text-clear-visible-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-text-clear-visible-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-text-clear-visible-ios-ltr-Mobile-Safari-linux.png
Labels: package: core

#28068 feat(textarea): support dynamic type
  core/src/components/textarea/test/a11y/textarea.e2e.ts
  core/src/components/textarea/test/a11y/textarea.e2e.ts-snapshots/textarea-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/a11y/textarea.e2e.ts-snapshots/textarea-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/a11y/textarea.e2e.ts-snapshots/textarea-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/a11y/textarea.e2e.ts-snapshots/textarea-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/a11y/textarea.e2e.ts-snapshots/textarea-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/a11y/textarea.e2e.ts-snapshots/textarea-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/textarea.scss
Labels: package: core

#28074 chore(router-outlet): rename files
  core/src/components/router-outlet/router-outlet.scss
  core/src/components/router-outlet/router-outlet.tsx
  core/src/utils/test/overlays/overlays.spec.ts
Labels: package: core

#28073 feat(toolbar): support dynamic type
  core/src/components/searchbar/searchbar.ios.scss
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-toolbar-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-toolbar-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-toolbar-ios-ltr-Mobile-Safari-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-toolbar-md-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-toolbar-md-ltr-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/a11y/searchbar.e2e.ts-snapshots/searchbar-scale-toolbar-md-ltr-Mobile-Safari-linux.png
  core/src/components/toolbar/toolbar.ios.scss
Labels: package: core

#28079 Release 7.3.2
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28080 Release 7.3.2
  .github/CODEOWNERS
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components/datetime/test/parse.spec.ts
  core/src/components/datetime/utils/parse.ts
  core/src/components/menu-button/test/async/index.html
  core/src/components/menu-button/test/async/menu-button.e2e.ts
  core/src/components/menu/menu.tsx
  core/src/components/router-outlet/router-outlet.scss
  core/src/components/router-outlet/router-outlet.tsx
  core/src/utils/test/overlays/overlays.spec.ts
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28082 chore: remove deprecated attribute selectors
  core/src/components/label/label.ios.scss
  core/src/components/label/label.md.scss
  core/src/components/label/label.scss
Labels: package: core

#28092 test(datetime): remove duplicate test
  core/src/components/datetime/test/custom/datetime.e2e.ts
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-month-year-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#28072 fix(popover): dynamic width popover is positioned correctly
  core/src/components/modal/modal.tsx
  core/src/components/popover/popover.tsx
  core/src/components/popover/test/async/index.html
  core/src/components/popover/test/async/popover.e2e.ts
  core/src/components/popover/test/async/popover.e2e.ts-snapshots/popover-async-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/popover/test/async/popover.e2e.ts-snapshots/popover-async-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/popover/test/async/popover.e2e.ts-snapshots/popover-async-ios-ltr-Mobile-Safari-linux.png
  core/src/utils/framework-delegate.ts
Labels: package: core

#28069 fix(overlays): prevent overlays from getting stuck open
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/alert/alert.tsx
  core/src/components/loading/loading.tsx
  core/src/components/modal/modal.tsx
  core/src/components/picker/picker.tsx
  core/src/components/popover/popover.tsx
  core/src/components/router-outlet/router-outlet.tsx
  core/src/components/toast/toast.tsx
  core/src/utils/lock-controller.ts
Labels: package: core

#28094 chore(vue): add missing routerAnimation type
  packages/vue-router/src/types.ts
Labels: package: vue

#28098 docs(angular): update README for clear directory paths
  packages/angular/test/README.md
Labels: package: angular
