Repository ionic-team/ionic-framework, pull requests merged in 2024-03, with the labels that each got.

#29104 refactor(input-shims): disable input blurring util by default
  core/src/utils/input-shims/input-shims.ts
Labels: package: core

#29098 feat(searchbar): autocapitalize, dir, lang, maxlength, and minlength are inherited to native input
  core/api.txt
  core/src/components.d.ts
  core/src/components/searchbar/searchbar.tsx
  core/src/components/searchbar/test/searchbar.spec.ts
  packages/angular/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#29101 perf(picker): avoid flicker on ios
  core/src/components/picker-column/picker-column.tsx
Labels: package: core

#29091 refactor(item): do not automatically delegate focus
  BREAKING.md
  core/src/components/input/test/item/input.e2e.ts
  core/src/components/item/item.scss
  core/src/components/item/item.tsx
  core/src/components/menu/menu.tsx
  core/src/components/menu/test/basic/index.html
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-doc-dir-toggled-md-ltr-Mobile-Chrome-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-doc-dir-toggled-md-ltr-Mobile-Firefox-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-doc-dir-toggled-md-ltr-Mobile-Safari-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-side-toggled-md-ltr-Mobile-Chrome-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-side-toggled-md-ltr-Mobile-Firefox-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-side-toggled-md-ltr-Mobile-Safari-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-start-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-start-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-start-ios-ltr-Mobile-Safari-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-start-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-start-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-start-ios-rtl-Mobile-Safari-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-start-md-ltr-Mobile-Chrome-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-start-md-ltr-Mobile-Firefox-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-start-md-ltr-Mobile-Safari-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-start-md-rtl-Mobile-Chrome-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-start-md-rtl-Mobile-Firefox-linux.png
  core/src/components/menu/test/basic/menu.e2e.ts-snapshots/menu-basic-start-md-rtl-Mobile-Safari-linux.png
  core/src/components/popover/popover.tsx
  core/src/components/textarea/test/item/textarea.e2e.ts
  core/src/utils/focus-trap.ts
  core/src/utils/overlays.ts
Labels: package: core

#29117 merge release-7.7.4
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#29115 fix(checkbox): set aria-checked of indeterminate checkbox to 'mixed'
  core/src/components/checkbox/checkbox.tsx
  core/src/components/checkbox/test/checkbox.spec.ts
Labels: package: core

#29102 refactor(item): remove deprecated apis
  BREAKING.md
  core/api.txt
  core/src/components.d.ts
  core/src/components/item/item.ios.scss
  core/src/components/item/item.md.scss
  core/src/components/item/item.md.vars.scss
  core/src/components/item/item.scss
  core/src/components/item/item.tsx
  core/src/components/item/test/basic/item.e2e.ts
  core/src/components/item/test/basic/item.e2e.ts-snapshots/item-safe-area-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/basic/item.e2e.ts-snapshots/item-safe-area-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/basic/item.e2e.ts-snapshots/item-safe-area-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/basic/item.e2e.ts-snapshots/item-safe-area-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/basic/item.e2e.ts-snapshots/item-safe-area-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/basic/item.e2e.ts-snapshots/item-safe-area-ios-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/basic/item.e2e.ts-snapshots/item-safe-area-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/basic/item.e2e.ts-snapshots/item-safe-area-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/basic/item.e2e.ts-snapshots/item-safe-area-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/basic/item.e2e.ts-snapshots/item-safe-area-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/basic/item.e2e.ts-snapshots/item-safe-area-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/basic/item.e2e.ts-snapshots/item-safe-area-md-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/bottom/index.html
  core/src/components/item/test/legacy/disabled/index.html
  core/src/components/item/test/legacy/disabled/item.e2e.ts
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/standalone/item.e2e-legacy.ts-snapshots/item-standalone-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/text/item.e2e.ts-snapshots/item-text-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/text/item.e2e.ts-snapshots/item-text-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/text/item.e2e.ts-snapshots/item-text-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/text/item.e2e.ts-snapshots/item-text-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/text/item.e2e.ts-snapshots/item-text-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/text/item.e2e.ts-snapshots/item-text-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/text/item.e2e.ts-snapshots/item-text-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/text/item.e2e.ts-snapshots/item-text-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/text/item.e2e.ts-snapshots/item-text-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/text/item.e2e.ts-snapshots/item-text-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/text/item.e2e.ts-snapshots/item-text-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/text/item.e2e.ts-snapshots/item-text-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/label/label.md.scss
  core/src/components/label/label.scss
  core/src/components/select/select.md.scss
  core/src/components/textarea/textarea.ios.scss
  core/src/components/textarea/textarea.scss
  core/src/utils/forms/form-controller.ts
  core/src/utils/forms/index.ts
  core/src/utils/helpers.ts
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#28982 feat(menu): apply strict type for menu type
  core/api.txt
  core/src/components.d.ts
  core/src/components/menu/menu-interface.ts
  core/src/components/menu/menu.tsx
Labels: package: core

#29055 refactor(item): remove deprecated highlight variables used with legacy form controls
  BREAKING.md
  core/api.txt
  core/src/components/item/item.ios.scss
  core/src/components/item/item.ios.vars.scss
  core/src/components/item/item.md.scss
  core/src/components/item/item.md.vars.scss
  core/src/components/item/item.scss
  core/src/components/item/item.tsx
  core/src/components/item/test/basic/index.html
  core/src/components/item/test/item.spec.tsx
Labels: package: core

#29122 fix(angular): add ionNavWillChange and ionNavDidChange types for nav
  packages/angular/common/src/directives/navigation/nav.ts
Labels: package: angular

#29143 chore: sync with main
  .github/ISSUE_TEMPLATE/bug_report.yml
  core/package-lock.json
  core/src/components/checkbox/checkbox.tsx
  core/src/components/checkbox/test/checkbox.spec.ts
  core/src/components/range/range.tsx
  core/src/components/range/test/range-events.e2e.ts
  packages/angular/common/src/directives/navigation/nav.ts
Labels: package: core, package: angular

#28995 refactor(config): enable stencil's experimental slot fixes
  core/src/components/buttons/buttons.tsx
  core/src/components/label/label.tsx
  core/src/utils/slot-mutation-controller.ts
  core/stencil.config.ts
Labels: package: core

#29140 fix(overlay): do not hide overlay if toast is presented
  core/src/utils/overlays.ts
  core/src/utils/test/overlays/overlays.spec.ts
Labels: package: core

#29146 chore: fix typo with close watcher const
  core/src/components/app/app.tsx
  core/src/components/menu/menu.tsx
  core/src/utils/hardware-back-button.ts
  core/src/utils/overlays.ts
Labels: package: core

#29151 Release 7.7.5
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#29152 Feature 7.8
  core/api.txt
  core/src/components.d.ts
  core/src/components/datetime-button/datetime-button.tsx
  core/src/components/datetime-button/test/basic/datetime-button.e2e.ts
  core/src/components/datetime-button/test/basic/index.html
  core/src/components/datetime/datetime-interface.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/basic/datetime.e2e.ts
  core/src/components/datetime/test/basic/index.html
  core/src/components/datetime/test/format.spec.ts
  core/src/components/datetime/utils/format.ts
  core/src/components/datetime/utils/validate.ts
  core/src/components/searchbar/searchbar.tsx
  core/src/components/searchbar/test/searchbar.spec.ts
  packages/angular/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#29153 Release 7.8.0
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#29154 chore: sync with main
  CHANGELOG.md
  core/CHANGELOG.md
  core/api.txt
  core/src/components.d.ts
  core/src/components/app/app.tsx
  core/src/components/datetime-button/datetime-button.tsx
  core/src/components/datetime-button/test/basic/datetime-button.e2e.ts
  core/src/components/datetime-button/test/basic/index.html
  core/src/components/datetime/datetime-interface.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/basic/datetime.e2e.ts
  core/src/components/datetime/test/basic/index.html
  core/src/components/datetime/test/format.spec.ts
  core/src/components/datetime/utils/format.ts
  core/src/components/datetime/utils/validate.ts
  core/src/components/menu/menu.tsx
  core/src/components/searchbar/searchbar.tsx
  core/src/components/searchbar/test/searchbar.spec.ts
  core/src/utils/hardware-back-button.ts
  core/src/utils/overlays.ts
  core/src/utils/test/overlays/overlays.spec.ts
  docs/CHANGELOG.md
  packages/angular-server/CHANGELOG.md
  packages/angular/CHANGELOG.md
  packages/angular/src/directives/proxies.ts
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react/CHANGELOG.md
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue/CHANGELOG.md
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue, package: react

#29160 docs(toggle): remove extra backtick to fix formatting
  core/src/components.d.ts
  core/src/components/toggle/toggle.tsx
Labels: package: core

#29148 chore(playwright): migrate themes to palettes
  core/src/components/action-sheet/test/a11y/action-sheet.e2e.ts
  core/src/components/alert/test/a11y/alert.e2e.ts
  core/src/components/alert/test/basic/alert.e2e.ts
  core/src/components/back-button/test/a11y/back-button.e2e.ts
  core/src/components/badge/test/a11y/badge.e2e.ts
  core/src/components/button/test/a11y/button.e2e.ts
  core/src/components/checkbox/test/a11y/checkbox.e2e.ts
  core/src/components/fab-button/test/a11y/fab-button.e2e.ts
  core/src/components/input/test/a11y/input.e2e.ts
  core/src/components/item-sliding/test/a11y/item-sliding.e2e.ts
  core/src/components/label/test/a11y/label.e2e.ts
  core/src/components/loading/test/a11y/loading.e2e.ts
  core/src/components/menu-button/test/a11y/menu-button.e2e.ts
  core/src/components/progress-bar/test/a11y/progress-bar.e2e.ts
  core/src/components/radio/test/a11y/radio.e2e.ts
  core/src/components/range/test/a11y/range.e2e.ts
  core/src/components/refresher/test/a11y/refresher.e2e.ts
  core/src/components/router-link/test/a11y/router-link.e2e.ts
  core/src/components/segment/test/a11y/segment.e2e.ts
  core/src/components/select-popover/test/a11y/select-popover.e2e.ts
  core/src/components/select/test/a11y/select.e2e.ts
  core/src/components/textarea/test/a11y/textarea.e2e.ts
  core/src/components/toast/test/a11y/toast.e2e.ts
  core/src/components/toggle/test/a11y/toggle.e2e.ts
  core/src/css/test/a11y/typography.e2e.ts
  core/src/themes/test/colors/theme.e2e.ts
  core/src/utils/test/playwright/generator.ts
  core/src/utils/test/playwright/page/utils/set-content.ts
Labels: package: core

#29168 test(item): use themes options in config
  core/src/components/item/test/buttons/index.html
  core/src/components/item/test/buttons/item.e2e.ts
  core/src/components/item/test/buttons/item.e2e.ts-snapshots/item-buttons-dark-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/buttons/item.e2e.ts-snapshots/item-buttons-dark-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/buttons/item.e2e.ts-snapshots/item-buttons-dark-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/buttons/item.e2e.ts-snapshots/item-buttons-dark-diff-ios-ltr-dark-Mobile-Chrome-linux.png
  core/src/components/item/test/buttons/item.e2e.ts-snapshots/item-buttons-dark-diff-ios-ltr-dark-Mobile-Firefox-linux.png
  core/src/components/item/test/buttons/item.e2e.ts-snapshots/item-buttons-dark-diff-ios-ltr-dark-Mobile-Safari-linux.png
  core/src/components/item/test/buttons/item.e2e.ts-snapshots/item-buttons-dark-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/buttons/item.e2e.ts-snapshots/item-buttons-dark-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/buttons/item.e2e.ts-snapshots/item-buttons-dark-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/buttons/item.e2e.ts-snapshots/item-buttons-dark-diff-md-ltr-dark-Mobile-Chrome-linux.png
  core/src/components/item/test/buttons/item.e2e.ts-snapshots/item-buttons-dark-diff-md-ltr-dark-Mobile-Firefox-linux.png
  core/src/components/item/test/buttons/item.e2e.ts-snapshots/item-buttons-dark-diff-md-ltr-dark-Mobile-Safari-linux.png
Labels: package: core

#29164 fix(header): iOS headers in MD app are not hidden
  core/src/components/header/header.ios.scss
  core/src/components/header/test/basic/header.e2e.ts
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-md-visibility-ios-descendant-md-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-md-visibility-ios-descendant-md-ltr-Mobile-Firefox-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-md-visibility-ios-descendant-md-ltr-Mobile-Safari-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-md-visibility-ios-main-md-ltr-Mobile-Chrome-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-md-visibility-ios-main-md-ltr-Mobile-Firefox-linux.png
  core/src/components/header/test/basic/header.e2e.ts-snapshots/header-md-visibility-ios-main-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#29163 perf(datetime): calendar body shows immediately in modal on ios
  core/src/components/datetime/datetime.tsx
Labels: package: core

#29169 refactor(angular): remove angular 14 and 15 dependencies
  .github/workflows/build.yml
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/common/src/directives/navigation/back-button.ts
  packages/angular/common/src/directives/navigation/router-outlet.ts
  packages/angular/common/src/directives/navigation/tabs.ts
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/angular/src/directives/navigation/ion-router-outlet.ts
  packages/angular/src/schematics/utils/config.ts
  packages/angular/standalone/src/navigation/router-outlet.ts
  packages/angular/standalone/src/providers/ionic-angular.ts
  packages/angular/test/README.md
  packages/angular/test/apps/ng14/e2e/src/.gitkeep
  packages/angular/test/apps/ng14/e2e/src/lazy/angular-version.spec.ts
  packages/angular/test/apps/ng14/package-lock.json
  packages/angular/test/apps/ng14/package.json
  packages/angular/test/apps/ng14/src/app/lazy/version-test/version-test-routing.module.ts
  packages/angular/test/apps/ng14/src/main-standalone.ts
  packages/angular/test/apps/ng14/tsconfig.json
  packages/angular/test/apps/ng15/e2e/src/.gitkeep
  packages/angular/test/apps/ng15/e2e/src/lazy/angular-version.spec.ts
  packages/angular/test/apps/ng15/package-lock.json
  packages/angular/test/apps/ng15/package.json
  packages/angular/test/apps/ng15/src/app/lazy/version-test/version-test-routing.module.ts
  packages/angular/test/apps/ng15/tsconfig.json
  packages/angular/test/base/src/app/standalone/value-accessors/value-accessor-test/value-accessor-test.component.ts
Labels: package: angular

#28893 test(ci): run tests in docker container
  .github/workflows/actions/test-core-screenshot/action.yml
  .github/workflows/actions/update-reference-screenshots/action.yml
  .gitignore
  core/Dockerfile
  core/package.json
  core/src/components/alert/test/standalone/alert.e2e.ts-snapshots/alert-standalone-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/standalone/alert.e2e.ts-snapshots/alert-standalone-ios-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/standalone/alert.e2e.ts-snapshots/alert-standalone-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/alert/test/standalone/alert.e2e.ts-snapshots/alert-standalone-ios-rtl-Mobile-Safari-linux.png
  core/src/components/alert/test/standalone/alert.e2e.ts-snapshots/alert-standalone-md-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/standalone/alert.e2e.ts-snapshots/alert-standalone-md-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/standalone/alert.e2e.ts-snapshots/alert-standalone-md-rtl-Mobile-Firefox-linux.png
  core/src/components/alert/test/standalone/alert.e2e.ts-snapshots/alert-standalone-md-rtl-Mobile-Safari-linux.png
  core/src/components/popover/test/standalone/popover.e2e.ts-snapshots/popover-standalone-basic-popover-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/popover/test/standalone/popover.e2e.ts-snapshots/popover-standalone-basic-popover-ios-ltr-Mobile-Safari-linux.png
  core/src/components/popover/test/standalone/popover.e2e.ts-snapshots/popover-standalone-basic-popover-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/popover/test/standalone/popover.e2e.ts-snapshots/popover-standalone-basic-popover-ios-rtl-Mobile-Safari-linux.png
  core/src/components/popover/test/standalone/popover.e2e.ts-snapshots/popover-standalone-basic-popover-md-ltr-Mobile-Firefox-linux.png
  core/src/components/popover/test/standalone/popover.e2e.ts-snapshots/popover-standalone-basic-popover-md-ltr-Mobile-Safari-linux.png
  core/src/components/popover/test/standalone/popover.e2e.ts-snapshots/popover-standalone-basic-popover-md-rtl-Mobile-Firefox-linux.png
  core/src/components/popover/test/standalone/popover.e2e.ts-snapshots/popover-standalone-basic-popover-md-rtl-Mobile-Safari-linux.png
  core/src/components/select/test/legacy/single-value/select.e2e.ts-snapshots/select-single-value-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/legacy/single-value/select.e2e.ts-snapshots/select-single-value-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/legacy/single-value/select.e2e.ts-snapshots/select-single-value-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/legacy/single-value/select.e2e.ts-snapshots/select-single-value-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/legacy/single-value/select.e2e.ts-snapshots/select-single-value-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/legacy/single-value/select.e2e.ts-snapshots/select-single-value-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/spinner/test/basic/spinner.e2e.ts-snapshots/spinner-basic-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/spinner/test/color/spinner.e2e.ts-snapshots/spinner-color-diff-md-ltr-Mobile-Safari-linux.png
  core/src/utils/test/playwright/docs/usage-instructions.md
  renovate.json5
Labels: package: core

#29173 docs(test): fix link for configuring docker for headed tests
  core/src/utils/test/playwright/docs/usage-instructions.md
Labels: package: core

#29149 feat: rename dark/high-contrast themes to palettes
  BREAKING.md
  core/src/css/palettes/dark.always.scss
  core/src/css/palettes/dark.class.scss
  core/src/css/palettes/dark.scss
  core/src/css/palettes/dark.system.scss
  core/src/css/palettes/high-contrast-dark.always.scss
  core/src/css/palettes/high-contrast-dark.class.scss
  core/src/css/palettes/high-contrast-dark.scss
  core/src/css/palettes/high-contrast-dark.system.scss
  core/src/css/palettes/high-contrast.always.scss
  core/src/css/palettes/high-contrast.class.scss
  core/src/css/palettes/high-contrast.scss
  core/src/css/palettes/high-contrast.system.scss
  core/src/css/themes/dark.always.scss
  core/src/css/themes/dark.class.scss
  core/src/css/themes/high-contrast-dark.always.scss
  core/src/css/themes/high-contrast-dark.class.scss
  core/src/css/themes/high-contrast.always.scss
  core/src/css/themes/high-contrast.class.scss
  core/src/themes/test/colors/index.html
  core/src/themes/test/css-variables/index.html
  core/src/utils/test/playwright/page/utils/set-content.ts
Labels: package: core

#29182 fix(react): avoid definitely typed errors with @types/react@18
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react-router/test/apps/reactrouter5/package-lock.json
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/test/apps/react17/package-lock.json
  packages/react/test/apps/react18/package-lock.json
Labels: package: react

#29188 Release 7.8.1
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#29191 Release 8.0.0 beta.3
  .github/workflows/actions/publish-npm/action.yml
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#29123 feat: remove css animations support for ionic animations
  BREAKING.md
  core/src/utils/animation/animation-utils.ts
  core/src/utils/animation/animation.ts
  core/src/utils/animation/test/animation.spec.ts
  core/src/utils/animation/test/animationbuilder/animation.e2e.ts
  core/src/utils/animation/test/animationbuilder/index.html
  core/src/utils/animation/test/basic/animation.e2e.ts
  core/src/utils/animation/test/basic/index.html
  core/src/utils/animation/test/display/animation.e2e.ts
  core/src/utils/animation/test/display/index.html
  core/src/utils/animation/test/hooks/animation.e2e.ts
  core/src/utils/animation/test/hooks/index.html
  core/src/utils/animation/test/multiple/animation.e2e.ts
  core/src/utils/animation/test/multiple/index.html
  core/src/utils/animation/test/reuse/index.html
Labels: package: core

#29183 refactor(input, textarea) remove unused event
  core/src/components.d.ts
  core/src/components/input/input.tsx
  core/src/components/textarea/textarea.tsx
  packages/vue/src/proxies.ts
Labels: package: core, package: vue

#29185 fix(angular): schematics account for new theme files
  packages/angular/src/schematics/add/files/root/theme/variables.css
Labels: package: angular

#29186 refactor(haptics): remove cordova haptics support
  BREAKING.md
  core/src/utils/native/haptic.ts
Labels: package: core

#29197 fix(searchbar): autocapitalize is initialized correctly
  core/api.txt
  core/src/components.d.ts
  core/src/components/searchbar/searchbar.tsx
Labels: package: core

#29192 refactor(tap-click): use pointer events api
  core/src/utils/tap-click/index.ts
Labels: package: core

#29107 refactor(searchbar): autocapitalize defaults to off
  BREAKING.md
  core/api.txt
  core/src/components.d.ts
  core/src/components/searchbar/searchbar.tsx
Labels: package: core

#29175 feat(input): add input-password-toggle component
  core/api.txt
  core/src/components.d.ts
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/input-password-toggle/input-password-toggle.scss
  core/src/components/input-password-toggle/input-password-toggle.tsx
  core/src/components/input-password-toggle/test/a11y/input-password-toggle.e2e.ts
  core/src/components/input-password-toggle/test/basic/index.html
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts-snapshots/input-password-toggle-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts-snapshots/input-password-toggle-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts-snapshots/input-password-toggle-ios-ltr-Mobile-Safari-linux.png
  core/src/components/input-password-toggle/test/input-password-toggle.spec.tsx
  core/src/components/input/input.scss
  core/src/components/input/input.tsx
  packages/angular/src/directives/proxies-list.ts
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/proxies.ts
  packages/react/src/components/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue, package: react

#29223 refactor(button): update focus ring to avoid additional API
  core/api.txt
  core/src/components/button/button.ionic.scss
  core/src/components/button/button.tsx
  core/src/components/button/test/clear/button.e2e.ts-snapshots/button-fill-clear-ionic-ios-ltr-light-Mobile-Chrome-linux.png
  core/src/components/button/test/clear/button.e2e.ts-snapshots/button-fill-clear-ionic-ios-ltr-light-Mobile-Firefox-linux.png
  core/src/components/button/test/clear/button.e2e.ts-snapshots/button-fill-clear-ionic-ios-ltr-light-Mobile-Safari-linux.png
  core/src/components/button/test/clear/button.e2e.ts-snapshots/button-fill-clear-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/button/test/clear/button.e2e.ts-snapshots/button-fill-clear-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/button/test/clear/button.e2e.ts-snapshots/button-fill-clear-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/button/test/shape/button.e2e.ts-snapshots/button-shape-rectangular-ionic-ios-ltr-light-Mobile-Chrome-linux.png
  core/src/components/button/test/shape/button.e2e.ts-snapshots/button-shape-rectangular-ionic-ios-ltr-light-Mobile-Firefox-linux.png
  core/src/components/button/test/shape/button.e2e.ts-snapshots/button-shape-rectangular-ionic-ios-ltr-light-Mobile-Safari-linux.png
  core/src/components/button/test/shape/button.e2e.ts-snapshots/button-shape-rectangular-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/button/test/shape/button.e2e.ts-snapshots/button-shape-rectangular-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/button/test/shape/button.e2e.ts-snapshots/button-shape-rectangular-ionic-md-ltr-light-Mobile-Safari-linux.png
Labels: package: core

#29228 Release 7.8.2
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#29225 chore: sync next with feature-8.0
  BREAKING.md
  core/api.txt
  core/src/components.d.ts
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/input-password-toggle/input-password-toggle.scss
  core/src/components/input-password-toggle/input-password-toggle.tsx
  core/src/components/input-password-toggle/test/a11y/input-password-toggle.e2e.ts
  core/src/components/input-password-toggle/test/basic/index.html
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts-snapshots/input-password-toggle-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts-snapshots/input-password-toggle-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts-snapshots/input-password-toggle-ios-ltr-Mobile-Safari-linux.png
  core/src/components/input-password-toggle/test/input-password-toggle.spec.tsx
  core/src/components/input/input.scss
  core/src/components/input/input.tsx
  core/src/components/searchbar/searchbar.tsx
  packages/angular/src/directives/proxies-list.ts
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/proxies.ts
  packages/react/src/components/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue, package: react

#29229 Sync b4
  CHANGELOG.md
  core/CHANGELOG.md
  core/api.txt
  core/package-lock.json
  core/src/components/searchbar/searchbar.tsx
  docs/CHANGELOG.md
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#29230 Release v8.0.0 beta.4
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#29232 Release 8.0.0 rc.0
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#29235 feat(checkbox): add ionic stylesheet and vars files
  core/src/components/checkbox/checkbox.ionic.scss
  core/src/components/checkbox/checkbox.ionic.vars.scss
  core/src/components/checkbox/checkbox.tsx
Labels: package: core

#29206 chore(playwright): combine test configs for themes and modes
  core/src/components/button/test/clear/button.e2e.ts
  core/src/components/button/test/shape/button.e2e.ts
  core/src/components/button/test/size/button.e2e.ts
  core/src/utils/test/playwright/generator.ts
Labels: package: core

#29236 feat(checkbox): default size and appearance
  core/src/components/checkbox/checkbox.ionic.scss
  core/src/components/checkbox/checkbox.ionic.vars.scss
  core/src/components/checkbox/test/basic/checkbox.e2e.ts
  core/src/components/checkbox/test/basic/checkbox.e2e.ts-snapshots/checkbox-basic-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/basic/checkbox.e2e.ts-snapshots/checkbox-basic-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/basic/checkbox.e2e.ts-snapshots/checkbox-basic-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/checkbox/test/basic/checkbox.e2e.ts-snapshots/checkbox-basic-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/basic/checkbox.e2e.ts-snapshots/checkbox-basic-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/basic/checkbox.e2e.ts-snapshots/checkbox-basic-ionic-md-rtl-light-Mobile-Safari-linux.png
  core/src/components/checkbox/test/basic/checkbox.e2e.ts-snapshots/checkbox-checkmark-width-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/basic/checkbox.e2e.ts-snapshots/checkbox-checkmark-width-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/basic/checkbox.e2e.ts-snapshots/checkbox-checkmark-width-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/checkbox/test/basic/checkbox.e2e.ts-snapshots/checkbox-checkmark-width-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/basic/checkbox.e2e.ts-snapshots/checkbox-checkmark-width-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/basic/checkbox.e2e.ts-snapshots/checkbox-checkmark-width-ionic-md-rtl-light-Mobile-Safari-linux.png
  core/src/components/checkbox/test/basic/checkbox.e2e.ts-snapshots/checkbox-size-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/basic/checkbox.e2e.ts-snapshots/checkbox-size-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/basic/checkbox.e2e.ts-snapshots/checkbox-size-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/checkbox/test/basic/checkbox.e2e.ts-snapshots/checkbox-size-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/basic/checkbox.e2e.ts-snapshots/checkbox-size-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/basic/checkbox.e2e.ts-snapshots/checkbox-size-ionic-md-rtl-light-Mobile-Safari-linux.png
  core/src/themes/ionic.globals.ionic.scss
Labels: package: core
