Repository ionic-team/ionic-framework, pull requests merged in 2024-01, with the labels that each got.

#28776 Release 7.6.3
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28777 Release 7.6.3
  .github/ionic-issue-bot.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components.d.ts
  core/src/components/datetime/datetime.ios.scss
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/basic/datetime.e2e.ts
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-today-calendar-button-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-today-calendar-button-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-today-calendar-button-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-today-calendar-button-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-today-calendar-button-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-today-calendar-button-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/input.tsx
  core/src/components/menu/test/custom/menu.e2e.ts-snapshots/menu-custom-split-pane-md-ltr-Mobile-Chrome-linux.png
  core/src/components/menu/test/custom/menu.e2e.ts-snapshots/menu-custom-split-pane-md-ltr-Mobile-Firefox-linux.png
  core/src/components/menu/test/custom/menu.e2e.ts-snapshots/menu-custom-split-pane-md-ltr-Mobile-Safari-linux.png
  core/src/components/modal/modal.tsx
  core/src/components/radio-group/radio-group.tsx
  core/src/components/radio/test/a11y/radio.e2e.ts
  core/src/components/radio/test/legacy/a11y/radio.e2e.ts
  core/src/components/range/range.tsx
  core/src/components/refresher-content/refresher-content.tsx
  core/src/components/refresher/refresher.utils.ts
  core/src/components/split-pane/split-pane.scss
  core/src/components/textarea/textarea.tsx
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28772 fix(input): slotted buttons are clickable
  core/src/components/input/input.scss
Labels: package: core

#28705 feat: add experimental hardware back button support in browsers
  core/src/components/app/app.tsx
  core/src/components/menu/menu.tsx
  core/src/utils/browser/index.ts
  core/src/utils/config.ts
  core/src/utils/hardware-back-button.ts
  core/src/utils/overlays.ts
  core/src/utils/test/hardware-back-button.spec.ts
Labels: package: core

#28767 feat(themes): add dark theme files and mixins
  core/src/css/themes/dark.always.scss
  core/src/css/themes/dark.class.scss
  core/src/css/themes/dark.scss
  core/src/css/themes/dark.system.scss
Labels: package: core

#28759 feat(progress-bar): update styles to iOS 17 specs
  BREAKING.md
  core/api.txt
  core/src/components/progress-bar/progress-bar.ios.scss
  core/src/components/progress-bar/progress-bar.ios.vars.scss
  core/src/components/progress-bar/progress-bar.md.scss
  core/src/components/progress-bar/progress-bar.md.vars.scss
  core/src/components/progress-bar/progress-bar.scss
  core/src/components/progress-bar/progress-bar.tsx
  core/src/components/progress-bar/test/basic/index.html
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-ios-ltr-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-ios-rtl-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/buffer/index.html
  core/src/components/progress-bar/test/determinate/index.html
Labels: package: core

#28781 chore: add strong types in several places
  core/src/components/menu/menu.tsx
  core/src/components/spinner/spinner-interface.ts
  core/src/components/spinner/spinner.tsx
  core/src/components/split-pane/split-pane.tsx
  core/src/utils/helpers.ts
  core/src/utils/transition/ios.transition.ts
Labels: package: core

#28795 test: always use official dark mode theme
  core/src/themes/test/colors/index.html
  core/src/themes/test/css-variables/index.html
  core/src/themes/test/dark.css
  core/src/utils/test/playwright/page/utils/set-content.ts
Labels: package: core

#28797 feat(high-contrast): add separate text and background step color variables
  core/src/themes/ionic.theme.default.scss
Labels: package: core

#28783 chore: remove matchMedia check
  core/src/components/split-pane/split-pane.tsx
Labels: package: core

#28796 feat(high-contrast): define high contrast theme files and tokens
  core/src/css/themes/high-contrast-dark.always.scss
  core/src/css/themes/high-contrast-dark.class.scss
  core/src/css/themes/high-contrast-dark.scss
  core/src/css/themes/high-contrast-dark.system.scss
  core/src/css/themes/high-contrast-light.always.scss
  core/src/css/themes/high-contrast-light.class.scss
  core/src/css/themes/high-contrast-light.scss
  core/src/css/themes/high-contrast-light.system.scss
  core/src/themes/test/colors/theme.e2e.ts
  core/src/utils/test/playwright/generator.ts
  core/src/utils/test/playwright/page/utils/set-content.ts
Labels: package: core

#28807 Release 7.6.4
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  package-lock.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28809 fix(datetime): set default background color correctly
  core/src/components/datetime/datetime.ios.scss
  core/src/components/datetime/test/disabled/datetime.e2e.ts-snapshots/datetime-disabled-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/disabled/datetime.e2e.ts-snapshots/datetime-disabled-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/disabled/datetime.e2e.ts-snapshots/datetime-disabled-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/locale/datetime.e2e.ts-snapshots/datetime-locale-es-ES-month-year-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/locale/datetime.e2e.ts-snapshots/datetime-locale-ja-JP-month-year-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/picker/test/basic/picker.e2e.ts-snapshots/picker-popover-diff-md-ltr-Mobile-Firefox-linux.png
Labels: package: core

#28812 fix(toggle): set switch icon color correctly
  core/src/components/toggle/test/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/toggle/test/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/toggle/test/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/toggle/test/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/toggle/test/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/toggle/test/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/toggle/test/legacy/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/toggle/test/legacy/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/toggle/test/legacy/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/toggle/test/legacy/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/toggle/test/legacy/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/toggle/test/legacy/enable-on-off-labels/toggle.e2e.ts-snapshots/toggle-on-off-labels-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/toggle/toggle.ios.scss
Labels: package: core

#28802 feat(theme): export light theme tokens
  core/src/css/core.scss
Labels: package: core

#28813 fix(themes): switch the order of the legacy and modern step color variables
  core/src/themes/ionic.theme.default.scss
Labels: package: core

#28804 feat(toast): high contrast support for button text
  core/src/components/toast/test/a11y/toast.e2e.ts
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-ios-ltr-high-contrast-dark-Mobile-Chrome-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-ios-ltr-high-contrast-dark-Mobile-Firefox-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-ios-ltr-high-contrast-dark-Mobile-Safari-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-ios-ltr-high-contrast-light-Mobile-Chrome-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-ios-ltr-high-contrast-light-Mobile-Firefox-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-ios-ltr-high-contrast-light-Mobile-Safari-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-md-ltr-high-contrast-dark-Mobile-Chrome-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-md-ltr-high-contrast-dark-Mobile-Firefox-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-md-ltr-high-contrast-dark-Mobile-Safari-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-md-ltr-high-contrast-light-Mobile-Chrome-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-md-ltr-high-contrast-light-Mobile-Firefox-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-md-ltr-high-contrast-light-Mobile-Safari-linux.png
  core/src/components/toast/toast.md.vars.scss
  core/src/css/themes/high-contrast-dark.scss
  core/src/css/themes/high-contrast-light.scss
Labels: package: core

#28801 fix(menu): menu can be encapsulated in a component
  core/src/components.d.ts
  core/src/components/menu/menu.scss
  core/src/components/menu/menu.tsx
  core/src/components/split-pane/split-pane.ios.scss
  core/src/components/split-pane/split-pane.md.scss
  core/src/components/split-pane/split-pane.scss
  core/src/components/split-pane/split-pane.tsx
  core/src/components/split-pane/test/wrapped-menu/index.html
  core/src/components/split-pane/test/wrapped-menu/split-pane.e2e.ts
Labels: package: core

#28830 fix(list): remove uneeded border radius from items in inset list
  core/src/components/list/list.md.scss
Labels: package: core

#28832 fix(nav): getLength is part of the public API
  BREAKING.md
  core/api.txt
  core/src/components.d.ts
  core/src/components/nav/nav.tsx
  core/src/components/nav/test/nav-controller.spec.ts
Labels: package: core

#28831 fix(angular): add old IonBackButtonDelegate import
  packages/angular/src/index.ts
Labels: package: angular

#28842 Release 7.6.5
  .github/workflows/release.yml
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  package-lock.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28839 fix(select): click handlers on slotted content fire
  core/src/components/select/select.tsx
  core/src/components/select/test/select.spec.tsx
Labels: package: core

#28821 fix(alert): remove border-right on ios stacked buttons
  core/src/components/alert/alert.ios.scss
  core/src/components/alert/test/basic/alert.e2e.ts
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-ios-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-ios-ltr-dark-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-ios-ltr-dark-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-ios-ltr-dark-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-ios-rtl-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-ios-rtl-dark-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-ios-rtl-dark-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-ios-rtl-dark-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-md-ltr-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-md-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-md-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-md-ltr-dark-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-md-ltr-dark-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-md-ltr-dark-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-md-rtl-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-md-rtl-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-md-rtl-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-md-rtl-dark-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-md-rtl-dark-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-md-rtl-dark-Mobile-Safari-linux.png
Labels: package: core

#28837 fix(segment): setting value via binding updates button state
  core/src/components/segment/segment.tsx
Labels: package: core

#28848 fix(datetime): enter closes keyboard when typing time
  core/src/components/picker-internal/picker-internal.tsx
  core/src/components/picker-internal/test/keyboard-entry/picker-internal.e2e.ts
Labels: package: core

#28847 fix(datetime): do not animate to new value when multiple values in different months are set
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/multiple/datetime.e2e.ts
Labels: package: core

#28814 feat(themes): include additional step variables for light and dark theme
  core/.stylelintrc.yml
  core/src/css/themes/dark.scss
  core/src/themes/ionic.theme.default.scss
Labels: package: core

#28861 fix(popover): content inside of popover scrolls correctly
  core/src/components/popover/popover.scss
  core/src/components/popover/test/basic/popover.e2e.ts-snapshots/popover-basic-header-popover-md-ltr-Mobile-Safari-linux.png
  core/src/components/popover/test/basic/popover.e2e.ts-snapshots/popover-basic-translucent-header-popover-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/popover/test/basic/popover.e2e.ts-snapshots/popover-basic-translucent-header-popover-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/popover/test/basic/popover.e2e.ts-snapshots/popover-basic-translucent-header-popover-ios-ltr-Mobile-Safari-linux.png
  core/src/components/select-popover/test/basic/select-popover.e2e.ts-snapshots/select-popover-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/select-popover/test/basic/select-popover.e2e.ts-snapshots/select-popover-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select-popover/test/basic/select-popover.e2e.ts-snapshots/select-popover-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select-popover/test/basic/select-popover.e2e.ts-snapshots/select-popover-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/select-popover/test/basic/select-popover.e2e.ts-snapshots/select-popover-multiple-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/select-popover/test/basic/select-popover.e2e.ts-snapshots/select-popover-multiple-diff-md-ltr-Mobile-Firefox-linux.png
Labels: package: core

#28829 fix(menu): improve reliability of main content not being scrollable when menu opens
  core/src/css/core.scss
Labels: package: core

#28871 Release 7.6.6
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28865 fix(accordion): prevent opening of readonly accordion using keyboard
  core/src/components/accordion/accordion.tsx
  core/src/components/accordion/test/accordion.e2e.ts
  core/src/components/accordion/test/disabled/accordion.e2e.ts
  core/src/components/accordion/test/disabled/index.html
  core/src/components/accordion/test/readonly/accordion.e2e.ts
  core/src/components/accordion/test/readonly/index.html
Labels: package: core

#28886 chore: remove old link scripts
  packages/angular/package.json
  packages/angular/scripts/README.md
  packages/angular/scripts/link-copy.js
Labels: package: angular

#28888 test(many): replace waitForSelector with waitFor
  core/src/components/button/test/basic/button.e2e.ts
  core/src/components/datetime-button/test/basic/datetime-button.e2e.ts
  core/src/components/datetime-button/test/disabled/datetime-button.e2e.ts
  core/src/components/datetime-button/test/multiple/datetime-button.e2e.ts
  core/src/components/datetime/test/a11y/datetime.e2e.ts
  core/src/components/datetime/test/basic/datetime.e2e.ts
  core/src/components/datetime/test/datetime.e2e.ts
  core/src/components/datetime/test/disable-dates/datetime.e2e.ts
  core/src/components/datetime/test/disabled/datetime.e2e.ts
  core/src/components/datetime/test/display/datetime.e2e.ts
  core/src/components/datetime/test/locale/datetime.e2e.ts
  core/src/components/datetime/test/minmax/datetime.e2e.ts
  core/src/components/datetime/test/month-year-picker/datetime.e2e.ts
  core/src/components/datetime/test/multiple/datetime.e2e.ts
  core/src/components/datetime/test/position/datetime.e2e.ts
  core/src/components/datetime/test/prefer-wheel/datetime.e2e.ts
  core/src/components/datetime/test/presentation/datetime.e2e.ts
  core/src/components/datetime/test/readonly/datetime.e2e.ts
  core/src/components/datetime/test/set-value/datetime.e2e.ts
  core/src/components/datetime/test/time-label/datetime.e2e.ts
  core/src/components/datetime/test/values/datetime.e2e.ts
  core/src/components/header/test/condense/header.e2e.ts
  core/src/components/modal/test/standalone/modal.e2e.ts
  core/src/components/refresher/test/test.utils.ts
  core/src/components/ripple-effect/test/basic/ripple-effect.e2e.ts
Labels: package: core

#28892 fix(item): ensure button focus state on property change
  core/src/components/item/item.tsx
  core/src/components/item/test/item.spec.tsx
Labels: package: core

#28885 test(react): re-enable picker tests
  packages/react/test/base/tests/e2e/specs/overlay-components/IonPicker.cy.ts
  packages/react/test/base/tests/e2e/specs/overlay-hooks/useIonPicker.cy.ts
Labels: package: react

#28773 fix(item): only default slot content wraps
  core/src/components/button/test/wrap/button.e2e.ts-snapshots/button-wrap-item-button-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item/item.scss
  core/src/components/item/test/a11y/item.e2e.ts-snapshots/item-buttons-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/a11y/item.e2e.ts-snapshots/item-buttons-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/a11y/item.e2e.ts-snapshots/item-buttons-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/a11y/item.e2e.ts-snapshots/item-buttons-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/a11y/item.e2e.ts-snapshots/item-buttons-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/a11y/item.e2e.ts-snapshots/item-buttons-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/highlight/item.e2e.ts-snapshots/item-highlight-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/highlight/item.e2e.ts-snapshots/item-highlight-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/highlight/item.e2e.ts-snapshots/item-highlight-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/highlight/item.e2e.ts-snapshots/item-highlight-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/highlight/item.e2e.ts-snapshots/item-highlight-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/highlight/item.e2e.ts-snapshots/item-highlight-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/legacy/fill/item.e2e.ts-snapshots/item-fill-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/legacy/fill/item.e2e.ts-snapshots/item-fill-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/legacy/fill/item.e2e.ts-snapshots/item-fill-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/legacy/fill/item.e2e.ts-snapshots/item-fill-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/legacy/fill/item.e2e.ts-snapshots/item-fill-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/legacy/fill/item.e2e.ts-snapshots/item-fill-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-ios-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-md-rtl-Mobile-Safari-linux.png
  core/src/components/note/test/a11y/note.e2e.ts
  core/src/components/note/test/a11y/note.e2e.ts-snapshots/note-wrapping-label-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/note/test/a11y/note.e2e.ts-snapshots/note-wrapping-label-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/note/test/a11y/note.e2e.ts-snapshots/note-wrapping-label-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/note/test/a11y/note.e2e.ts-snapshots/note-wrapping-label-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/note/test/a11y/note.e2e.ts-snapshots/note-wrapping-label-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/note/test/a11y/note.e2e.ts-snapshots/note-wrapping-label-scale-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#28904 refactor(react, react-router): build works on windows
  packages/react-router/rollup.config.mjs
  packages/react/rollup.config.mjs
Labels: package: react

#28911 fix: remove default light mode tokens
  core/src/themes/ionic.theme.default.scss
Labels: package: core

#28903 feat(input): remove size property in favor of CSS styling
  BREAKING.md
  core/api.txt
  core/src/components.d.ts
  core/src/components/input/input.tsx
  packages/angular/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#27940 fix(action-sheet, alert, toast): button roles autocomplete with available options
  core/src/components/action-sheet/action-sheet-interface.ts
  core/src/components/alert/alert-interface.ts
  core/src/components/toast/toast-interface.ts
  core/src/interface.d.ts
Labels: package: core

#28908 refactor(datetime-button): migrate step color usage
  core/src/components/datetime-button/datetime-button.scss
Labels: package: core

#28910 refactor(datetime): migrate step color usage
  core/src/components/datetime/datetime.md.scss
  core/src/components/datetime/datetime.scss
Labels: package: core

#28905 fix(range): use new step color tokens
  core/src/components/range/range.ios.vars.scss
Labels: package: core

#28922 refactor(input): update to use correct step tokens
  core/src/components/input/input.scss
Labels: package: core

#28906 refactor(action-sheet): use new step color tokens
  core/src/components/action-sheet/action-sheet.ios.vars.scss
Labels: package: core

#28923 refactor(alert): use correct color step tokens
  core/src/components/alert/alert.md.vars.scss
Labels: package: core

#28927 refactor(picker): update to use new step token
  core/src/components/picker/picker.ios.scss
Labels: package: core

#28936 Release 7.6.7
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28925 refactor(segment-button): update to use new step token
  core/src/components/segment-button/segment-button.ios.vars.scss
Labels: package: core

#28928 refactor(toast): use the correct step color tokens for background and text
  core/src/components/toast/toast.md.vars.scss
Labels: package: core

#28926 refactor(modal): update to use new step token
  core/src/components/modal/modal.scss
Labels: package: core

#28907 fix(overlays): tear down animations after dismiss
  core/src/components/modal/modal.tsx
  core/src/components/modal/test/animations/modal.e2e.ts
  core/src/utils/overlays.ts
Labels: package: core

#28940 Release 7.7.0
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components/app/app.tsx
  core/src/components/menu/menu.tsx
  core/src/components/split-pane/split-pane.tsx
  core/src/utils/browser/index.ts
  core/src/utils/config.ts
  core/src/utils/hardware-back-button.ts
  core/src/utils/helpers.ts
  core/src/utils/overlays.ts
  core/src/utils/test/hardware-back-button.spec.ts
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28939 Release 7.7.0
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components/app/app.tsx
  core/src/components/menu/menu.tsx
  core/src/components/split-pane/split-pane.tsx
  core/src/utils/browser/index.ts
  core/src/utils/config.ts
  core/src/utils/hardware-back-button.ts
  core/src/utils/helpers.ts
  core/src/utils/overlays.ts
  core/src/utils/test/hardware-back-button.spec.ts
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28921 refactor(textarea): update to use correct step tokens
  core/src/components/textarea/textarea.scss
Labels: package: core

#28934 chore(angular,react,vue): copy css with build.watch
  packages/angular/package.json
  packages/angular/scripts/build-core.js
  packages/react/package.json
  packages/react/scripts/copy.js
  packages/vue/package.json
  packages/vue/scripts/copy-css.js
Labels: package: angular, package: vue, package: react

#28917 chore(test-apps): improve developer message with test apps
  packages/angular/test/build.sh
  packages/react/test/build.sh
  packages/vue/test/build.sh
Labels: package: angular, package: vue, package: react

#28943 test(angular): remove ng14 and ng15 test apps
  .github/workflows/build.yml
  packages/angular/test/README.md
  packages/angular/test/apps/ng14/e2e/src/.gitkeep
  packages/angular/test/apps/ng14/e2e/src/lazy/angular-version.spec.ts
  packages/angular/test/apps/ng14/package-lock.json
  packages/angular/test/apps/ng14/package.json
  packages/angular/test/apps/ng14/src/app/lazy/version-test/version-test-routing.module.ts
  packages/angular/test/apps/ng14/src/main-standalone.ts
  packages/angular/test/apps/ng14/tsconfig.json
  packages/angular/test/apps/ng15/e2e/src/.gitkeep
  packages/angular/test/apps/ng15/e2e/src/lazy/angular-version.spec.ts
  packages/angular/test/apps/ng15/package-lock.json
  packages/angular/test/apps/ng15/package.json
  packages/angular/test/apps/ng15/src/app/lazy/version-test/version-test-routing.module.ts
  packages/angular/test/apps/ng15/tsconfig.json
Labels: package: angular

#28901 refactor(angular-server): build with angular 16
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
Labels: package: angular

#28902 refactor(angular): build with angular 16
  packages/angular/common/src/directives/navigation/back-button.ts
  packages/angular/common/src/directives/navigation/router-outlet.ts
  packages/angular/common/src/directives/navigation/tabs.ts
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/angular/src/directives/navigation/ion-router-outlet.ts
  packages/angular/standalone/src/navigation/router-outlet.ts
Labels: package: angular

#28949 chore(angular): remove type merging for schematic options
  packages/angular/src/schematics/utils/config.ts
Labels: package: angular

#28930 refactor(breadcrumb): use new step color tokens
  core/src/components/breadcrumb/breadcrumb.ios.vars.scss
  core/src/components/breadcrumb/breadcrumb.md.vars.scss
  core/src/components/breadcrumb/breadcrumb.vars.scss
Labels: package: core

#28941 refactor(refresher): use new step color tokens
  core/src/components/refresher/refresher.ios.vars.scss
  core/src/components/refresher/refresher.md.vars.scss
Labels: package: core
