Repository ionic-team/ionic-framework, pull requests merged in 2024-11, with the labels that each got.

#29983 refactor(many): remove *.ionic.vars files
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-text-fields-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/input/input.ionic.scss
  core/src/components/input/input.ionic.vars.scss
  core/src/components/item/item.ionic.scss
  core/src/components/item/item.ionic.vars.scss
  core/src/components/list-header/list-header.ionic.scss
  core/src/components/list/list.ionic.scss
  core/src/components/list/list.ionic.vars.scss
  core/src/components/tab-bar/tab-bar.ionic.scss
  core/src/components/tab-bar/tab-bar.ionic.vars.scss
  core/src/themes/ionic/ionic.theme.default.scss
Labels: package: core

#29992 update `feature-8.4` for release
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/alert/alert.tsx
  core/src/components/alert/test/a11y/alert.e2e.ts
  core/src/components/backdrop/backdrop.tsx
  core/src/components/input/input.tsx
  core/src/components/input/test/bottom-content/input.e2e.ts
  core/src/components/loading/loading.tsx
  core/src/components/picker-legacy/picker.tsx
  core/src/components/textarea/test/bottom-content/textarea.e2e.ts
  core/src/components/textarea/textarea.tsx
  core/src/utils/overlays.ts
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/angular/standalone/src/directives/radio-group.ts
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/__tests__/locationHistory.spec.ts
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue-router/src/locationHistory.ts
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react, release

#29988 feat(range): updating the range pin to always be visible when enabled for ionic theme
  core/src/components/range/range.ionic.scss
  core/src/components/range/test/basic/range.e2e.ts-snapshots/range-pin-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/range/test/basic/range.e2e.ts-snapshots/range-pin-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/range/test/basic/range.e2e.ts-snapshots/range-pin-ionic-md-ltr-light-Mobile-Safari-linux.png
Labels: package: core

#30002 fix(segment-view): add missing ionic theme fallback to the segment-view
  core/src/components/segment-view/segment-view.tsx
Labels: package: core, type: bug

#30007 feat(select-modal): add ionic theme styling
  core/src/components/item/item.ionic.scss
  core/src/components/radio/radio.common.scss
  core/src/components/radio/radio.native.scss
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-fixed-justify-end-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-fixed-justify-end-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-fixed-justify-end-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-fixed-justify-end-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-fixed-justify-end-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-fixed-justify-end-ionic-md-rtl-light-Mobile-Safari-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-fixed-justify-space-between-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-fixed-justify-space-between-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-fixed-justify-space-between-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-fixed-justify-space-between-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-fixed-justify-space-between-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-fixed-justify-space-between-ionic-md-rtl-light-Mobile-Safari-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-fixed-justify-start-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-fixed-justify-start-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-fixed-justify-start-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-fixed-justify-start-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-fixed-justify-start-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-fixed-justify-start-ionic-md-rtl-light-Mobile-Safari-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-long-label-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-long-label-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-long-label-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-long-label-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-long-label-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-long-label-ionic-md-rtl-light-Mobile-Safari-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-start-justify-start-long-label-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-start-justify-start-long-label-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-start-justify-start-long-label-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-start-justify-start-long-label-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-start-justify-start-long-label-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/radio/test/label-placement/radio.e2e.ts-snapshots/radio-label-start-justify-start-long-label-ionic-md-rtl-light-Mobile-Safari-linux.png
  core/src/components/select-modal/select-modal.common.scss
  core/src/components/select-modal/select-modal.ionic.scss
  core/src/components/select-modal/select-modal.ios.scss
  core/src/components/select-modal/select-modal.md.scss
  core/src/components/select-modal/select-modal.tsx
  core/src/components/select-modal/test/basic/select-modal.e2e.ts
  core/src/components/select-modal/test/basic/select-modal.e2e.ts-snapshots/select-modal-diff-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/select-modal/test/basic/select-modal.e2e.ts-snapshots/select-modal-diff-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/select-modal/test/basic/select-modal.e2e.ts-snapshots/select-modal-diff-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/select-modal/test/basic/select-modal.e2e.ts-snapshots/select-modal-multiple-diff-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/select-modal/test/basic/select-modal.e2e.ts-snapshots/select-modal-multiple-diff-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/select-modal/test/basic/select-modal.e2e.ts-snapshots/select-modal-multiple-diff-ionic-md-ltr-light-Mobile-Safari-linux.png
Labels: package: core

#30008 test(segment): fix flaky gesture test and re-enable
  core/src/components/segment/test/segment-events.e2e.ts
Labels: package: core

#29999 fix(toast): swipe gesture works with custom container layout
  core/src/components/toast/toast.scss
Labels: package: core

#30014 refactor(datetime): update ionic styles for footer buttons
  core/src/components/buttons/buttons.ionic.scss
  core/src/components/datetime/datetime.common.scss
  core/src/components/datetime/datetime.ionic.scss
  core/src/components/datetime/datetime.native.scss
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/basic/datetime.e2e.ts
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-clear-button-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-clear-button-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-clear-button-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-clear-button-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-clear-button-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-clear-button-ionic-md-rtl-light-Mobile-Safari-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-custom-buttons-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-custom-buttons-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-custom-buttons-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-custom-buttons-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-custom-buttons-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-custom-buttons-ionic-md-rtl-light-Mobile-Safari-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-default-buttons-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-default-buttons-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-default-buttons-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-default-buttons-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-default-buttons-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-default-buttons-ionic-md-rtl-light-Mobile-Safari-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-default-clear-buttons-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-default-clear-buttons-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-default-clear-buttons-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-default-clear-buttons-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-default-clear-buttons-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-footer-default-clear-buttons-ionic-md-rtl-light-Mobile-Safari-linux.png
Labels: package: core

#30016 feat(select): add shapes for ionic theme
  core/api.txt
  core/src/components.d.ts
  core/src/components/select/select.ionic.scss
  core/src/components/select/select.tsx
  core/src/components/select/test/fill/select.e2e.ts
  core/src/components/select/test/fill/select.e2e.ts-snapshots/select-fill-shaped-outline-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/fill/select.e2e.ts-snapshots/select-fill-shaped-outline-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/fill/select.e2e.ts-snapshots/select-fill-shaped-outline-md-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/fill/select.e2e.ts-snapshots/select-fill-shaped-outline-md-rtl-Mobile-Chrome-linux.png
  core/src/components/select/test/fill/select.e2e.ts-snapshots/select-fill-shaped-outline-md-rtl-Mobile-Firefox-linux.png
  core/src/components/select/test/fill/select.e2e.ts-snapshots/select-fill-shaped-outline-md-rtl-Mobile-Safari-linux.png
  core/src/components/select/test/fill/select.e2e.ts-snapshots/select-fill-shaped-solid-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/fill/select.e2e.ts-snapshots/select-fill-shaped-solid-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/fill/select.e2e.ts-snapshots/select-fill-shaped-solid-md-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/fill/select.e2e.ts-snapshots/select-fill-shaped-solid-md-rtl-Mobile-Chrome-linux.png
  core/src/components/select/test/fill/select.e2e.ts-snapshots/select-fill-shaped-solid-md-rtl-Mobile-Firefox-linux.png
  core/src/components/select/test/fill/select.e2e.ts-snapshots/select-fill-shaped-solid-md-rtl-Mobile-Safari-linux.png
  core/src/components/select/test/shape/index.html
  core/src/components/select/test/shape/select.e2e.ts
  core/src/components/select/test/shape/select.e2e.ts-snapshots/select-shape-rectangular-fill-outline-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/select/test/shape/select.e2e.ts-snapshots/select-shape-rectangular-fill-outline-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/select/test/shape/select.e2e.ts-snapshots/select-shape-rectangular-fill-outline-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/select/test/shape/select.e2e.ts-snapshots/select-shape-round-fill-outline-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/select/test/shape/select.e2e.ts-snapshots/select-shape-round-fill-outline-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/select/test/shape/select.e2e.ts-snapshots/select-shape-round-fill-outline-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/select/test/shape/select.e2e.ts-snapshots/select-shape-round-fill-outline-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/shape/select.e2e.ts-snapshots/select-shape-round-fill-outline-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/shape/select.e2e.ts-snapshots/select-shape-round-fill-outline-md-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/shape/select.e2e.ts-snapshots/select-shape-round-fill-outline-md-rtl-Mobile-Chrome-linux.png
  core/src/components/select/test/shape/select.e2e.ts-snapshots/select-shape-round-fill-outline-md-rtl-Mobile-Firefox-linux.png
  core/src/components/select/test/shape/select.e2e.ts-snapshots/select-shape-round-fill-outline-md-rtl-Mobile-Safari-linux.png
  core/src/components/select/test/shape/select.e2e.ts-snapshots/select-shape-round-fill-solid-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/shape/select.e2e.ts-snapshots/select-shape-round-fill-solid-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/shape/select.e2e.ts-snapshots/select-shape-round-fill-solid-md-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/shape/select.e2e.ts-snapshots/select-shape-round-fill-solid-md-rtl-Mobile-Chrome-linux.png
  core/src/components/select/test/shape/select.e2e.ts-snapshots/select-shape-round-fill-solid-md-rtl-Mobile-Firefox-linux.png
  core/src/components/select/test/shape/select.e2e.ts-snapshots/select-shape-round-fill-solid-md-rtl-Mobile-Safari-linux.png
  core/src/components/select/test/shape/select.e2e.ts-snapshots/select-shape-soft-fill-outline-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/select/test/shape/select.e2e.ts-snapshots/select-shape-soft-fill-outline-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/select/test/shape/select.e2e.ts-snapshots/select-shape-soft-fill-outline-ionic-md-ltr-light-Mobile-Safari-linux.png
Labels: package: core

#30018 feat(select): add sizes for ionic theme
  core/api.txt
  core/src/components.d.ts
  core/src/components/select/select.ionic.scss
  core/src/components/select/select.tsx
  core/src/components/select/test/size/index.html
  core/src/components/select/test/size/select.e2e.ts
  core/src/components/select/test/size/select.e2e.ts-snapshots/select-size-large-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/select/test/size/select.e2e.ts-snapshots/select-size-large-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/select/test/size/select.e2e.ts-snapshots/select-size-large-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/select/test/size/select.e2e.ts-snapshots/select-size-medium-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/select/test/size/select.e2e.ts-snapshots/select-size-medium-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/select/test/size/select.e2e.ts-snapshots/select-size-medium-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/select/test/size/select.e2e.ts-snapshots/select-size-small-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/select/test/size/select.e2e.ts-snapshots/select-size-small-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/select/test/size/select.e2e.ts-snapshots/select-size-small-ionic-md-ltr-light-Mobile-Safari-linux.png
  packages/angular/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#30027 fix(header): use aria attributes to hide small title when collapsed
  core/src/components/header/header.utils.ts
  core/src/components/header/test/condense/header.e2e.ts
Labels: package: core

#30025 fix(overlays): announce info after opening based on platform
  core/src/utils/overlays.ts
Labels: package: core

#30032 fix(accordion): move padding to inner element to use proper animation
  core/src/components/accordion/accordion.ionic.scss
  core/src/components/accordion/test/shape/index.html
Labels: package: core

#30045 fix(avatar): remove avatar border on ionic theme
  core/src/components/avatar/avatar.ionic.scss
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-rectangular-icon-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-rectangular-icon-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-rectangular-icon-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-rectangular-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-rectangular-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-rectangular-text-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-round-icon-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-round-icon-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-round-icon-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-round-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-round-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-round-text-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-soft-icon-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-soft-icon-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-soft-icon-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-soft-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-soft-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-soft-text-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-large-icon-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-large-icon-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-large-icon-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-large-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-large-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-large-text-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-medium-icon-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-medium-icon-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-medium-icon-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-medium-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-medium-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-medium-text-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-small-icon-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-small-icon-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-small-icon-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-small-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-small-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-small-text-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xlarge-icon-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xlarge-icon-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xlarge-icon-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xlarge-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xlarge-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xlarge-text-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xsmall-icon-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xsmall-icon-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xsmall-icon-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xsmall-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xsmall-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xsmall-text-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xxsmall-icon-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xxsmall-icon-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xxsmall-icon-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xxsmall-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xxsmall-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xxsmall-text-ionic-md-ltr-light-Mobile-Safari-linux.png
Labels: package: core, type: bug

#30036 fix(menu): hide from screen readers while animating
  core/src/components/menu/menu.tsx
  core/src/utils/overlays.ts
Labels: package: core

#30048 merge release-8.4.1
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react, release

#30049 merge release-8.4.1
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components.d.ts
  core/src/components/header/header.utils.ts
  core/src/components/header/test/condense/header.e2e.ts
  core/src/components/menu/menu.tsx
  core/src/components/radio-group/radio-group.tsx
  core/src/components/segment/test/segment-events.e2e.ts
  core/src/components/toast/toast.scss
  core/src/utils/focus-trap.ts
  core/src/utils/overlays.ts
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react, release

#30050 chore(git): update next from main
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components.d.ts
  core/src/components/header/header.utils.ts
  core/src/components/header/test/condense/header.e2e.ts
  core/src/components/menu/menu.tsx
  core/src/components/radio-group/radio-group.tsx
  core/src/components/segment/test/segment-events.e2e.ts
  core/src/components/toast/toast.common.scss
  core/src/utils/focus-trap.ts
  core/src/utils/overlays.ts
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react
