Repository ionic-team/ionic-framework, pull requests merged in 2024-08, with the labels that each got.

#29736 fix(react): add onPointerDown, onTouchEnd, add onTouchMove
  packages/react/src/components/navigation/IonTabButton.tsx
Labels: package: react

#29743 fix(item): router-link remains clickable with item cover
  core/src/components/item/item.tsx
Labels: package: core

#29745 fix(vue): pass router-link value to href to properly render clickable elements
  core/package-lock.json
  core/package.json
  packages/vue/scripts/sync.sh
  packages/vue/src/vue-component-lib/utils.ts
  packages/vue/test/base/src/views/Components.vue
  packages/vue/test/base/src/views/Home.vue
  packages/vue/test/base/src/views/Routing.vue
  packages/vue/test/base/src/views/Tab1.vue
  packages/vue/test/base/src/views/Tab2.vue
  packages/vue/test/base/tests/e2e/specs/routing.cy.js
Labels: package: core, package: vue

#29753 fix(content): allow custom roles and aria attributes to be set on content
  core/src/components/content/content.tsx
  core/src/components/content/test/a11y/content.e2e.ts
  core/src/components/footer/test/a11y/footer.e2e.ts
  core/src/components/header/test/a11y/header.e2e.ts
Labels: package: core

#29741 refactor(item): add slot styles
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-end-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-end-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-end-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-end-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-end-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/item-sliding/test/basic/item-sliding.e2e.ts-snapshots/item-sliding-end-ionic-md-rtl-light-Mobile-Safari-linux.png
  core/src/components/item/item.ionic.scss
  core/src/components/item/item.tsx
  core/src/components/item/test/icons/item.e2e.ts-snapshots/item-icons-diff-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/item/test/icons/item.e2e.ts-snapshots/item-icons-diff-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/item/test/icons/item.e2e.ts-snapshots/item-icons-diff-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/item/test/icons/item.e2e.ts-snapshots/item-icons-diff-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/item/test/icons/item.e2e.ts-snapshots/item-icons-diff-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/item/test/icons/item.e2e.ts-snapshots/item-icons-diff-ionic-md-rtl-light-Mobile-Safari-linux.png
  core/src/css/test/typography/basic/typography.e2e.ts-snapshots/ionic-typography-basic-styles-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/css/test/typography/basic/typography.e2e.ts-snapshots/ionic-typography-basic-styles-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/css/test/typography/basic/typography.e2e.ts-snapshots/ionic-typography-basic-styles-ionic-md-ltr-light-Mobile-Safari-linux.png
Labels: package: core

#29744 fix(angular): remove the tabindex set by routerLink from Ionic components
  packages/angular/common/src/directives/navigation/router-link-delegate.ts
  packages/angular/test/base/e2e/src/lazy/router-link.spec.ts
  packages/angular/test/base/e2e/src/standalone/router-link.spec.ts
  packages/angular/test/base/src/app/lazy/router-link/router-link.component.html
  packages/angular/test/base/src/app/standalone/router-link/router-link.component.html
Labels: package: angular

#29757 feat(card): add ionic theme tokens
  core/api.txt
  core/src/components/card-content/card-content.common.scss
  core/src/components/card-content/card-content.ionic.scss
  core/src/components/card-content/card-content.ios.scss
  core/src/components/card-content/card-content.md.scss
  core/src/components/card-content/card-content.native.scss
  core/src/components/card-content/card-content.tsx
  core/src/components/card-header/card-header.common.scss
  core/src/components/card-header/card-header.ionic.scss
  core/src/components/card-header/card-header.ios.scss
  core/src/components/card-header/card-header.md.scss
  core/src/components/card-header/card-header.tsx
  core/src/components/card-subtitle/card-subtitle.common.scss
  core/src/components/card-subtitle/card-subtitle.ionic.scss
  core/src/components/card-subtitle/card-subtitle.ios.scss
  core/src/components/card-subtitle/card-subtitle.md.scss
  core/src/components/card-subtitle/card-subtitle.tsx
  core/src/components/card-title/card-title.common.scss
  core/src/components/card-title/card-title.ionic.scss
  core/src/components/card-title/card-title.ios.scss
  core/src/components/card-title/card-title.md.scss
  core/src/components/card/card.common.scss
  core/src/components/card/card.ionic.scss
  core/src/components/card/card.ios.scss
  core/src/components/card/card.md.scss
  core/src/components/card/card.native.scss
  core/src/components/card/test/shape/card.e2e.ts-snapshots/card-default-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/card/test/shape/card.e2e.ts-snapshots/card-default-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/card/test/shape/card.e2e.ts-snapshots/card-default-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/card/test/shape/card.e2e.ts-snapshots/card-rectangular-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/card/test/shape/card.e2e.ts-snapshots/card-rectangular-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/card/test/shape/card.e2e.ts-snapshots/card-rectangular-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/card/test/shape/card.e2e.ts-snapshots/card-round-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/card/test/shape/card.e2e.ts-snapshots/card-round-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/card/test/shape/card.e2e.ts-snapshots/card-round-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/card/test/shape/card.e2e.ts-snapshots/card-soft-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/card/test/shape/card.e2e.ts-snapshots/card-soft-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/card/test/shape/card.e2e.ts-snapshots/card-soft-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/card/test/theme-ionic/index.html
Labels: type: feature request, package: core

#29768 refactor(spinner): use mode to render default
  core/src/components/spinner/spinner.tsx
Labels: package: core

#29770 merge release-8.2.7
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react, release

#29771 merge release-8.2.7
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react, release

#29780 fix(test): fix Stencil Nightly build
  core/src/components/menu/test/safe-area/menu.e2e.ts
Labels: package: core

#29782 fix(react): intellisense works with IntelliJ
  core/package-lock.json
  core/package.json
  core/stencil.config.ts
  packages/react/.prettierignore
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/rollup.config.mjs
  packages/react/src/components/components.ts
  packages/react/src/components/index.ts
  packages/react/src/components/proxies.ts
  packages/react/tsconfig.json
Labels: package: core, package: react

#29776 feat(textarea): add ionic theme design with md size
  core/api.txt
  core/src/components.d.ts
  core/src/components/textarea/test/basic/index.html
  core/src/components/textarea/test/size/index.html
  core/src/components/textarea/test/size/textarea.e2e.ts
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-medium-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-medium-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-medium-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-medium-label-stacked-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-medium-label-stacked-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-medium-label-stacked-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-medium-outline-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-medium-outline-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-medium-outline-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/textarea/textarea.common.scss
  core/src/components/textarea/textarea.ionic.outline.scss
  core/src/components/textarea/textarea.ionic.scss
  core/src/components/textarea/textarea.ios.scss
  core/src/components/textarea/textarea.md.scss
  core/src/components/textarea/textarea.native.scss
  core/src/components/textarea/textarea.tsx
  packages/angular/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#29781 feat(textarea): add small and large sizes for the ionic theme
  core/src/components.d.ts
  core/src/components/textarea/test/size/index.html
  core/src/components/textarea/test/size/textarea.e2e.ts
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-large-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-large-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-large-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-large-label-stacked-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-large-label-stacked-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-large-label-stacked-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-large-outline-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-large-outline-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-large-outline-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-medium-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-medium-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-medium-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-medium-label-stacked-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-medium-label-stacked-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-medium-label-stacked-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-medium-outline-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-medium-outline-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-medium-outline-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-small-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-small-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-small-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-small-label-stacked-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-small-label-stacked-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-small-label-stacked-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-small-outline-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-small-outline-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/textarea/test/size/textarea.e2e.ts-snapshots/textarea-size-small-outline-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/textarea/textarea.ionic.scss
  core/src/components/textarea/textarea.tsx
Labels: package: core

#29787 feat(input-password-toggle): add ionic theme design
  core/src/components/input-password-toggle/input-password-toggle.common.scss
  core/src/components/input-password-toggle/input-password-toggle.ionic.scss
  core/src/components/input-password-toggle/input-password-toggle.scss
  core/src/components/input-password-toggle/input-password-toggle.tsx
  core/src/components/input-password-toggle/test/basic/index.html
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts-snapshots/input-password-toggle-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts-snapshots/input-password-toggle-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts-snapshots/input-password-toggle-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts-snapshots/input-password-toggle-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts-snapshots/input-password-toggle-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts-snapshots/input-password-toggle-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#29772 feat(react): use tabs without router
  core/src/components/tabs/tabs.tsx
  packages/react/src/components/inner-proxies.ts
  packages/react/src/components/navigation/IonTabBar.tsx
  packages/react/src/components/navigation/IonTabs.tsx
  packages/react/test/base/src/App.tsx
  packages/react/test/base/src/pages/Main.tsx
  packages/react/test/base/src/pages/TabsBasic.tsx
  packages/react/test/base/tests/e2e/specs/tabs/tabs.cy.ts
Labels: package: core, package: react

#29786 feat(angular): use tabs without router
  core/stencil.config.ts
  packages/angular/common/src/directives/navigation/tabs.ts
  packages/angular/src/app-initialize.ts
  packages/angular/src/directives/navigation/ion-tabs.ts
  packages/angular/src/directives/proxies-list.ts
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/proxies.ts
  packages/angular/standalone/src/navigation/tabs.ts
  packages/angular/test/base/e2e/src/lazy/tabs.spec.ts
  packages/angular/test/base/e2e/src/standalone/tabs.spec.ts
  packages/angular/test/base/src/app/lazy/app-lazy/app.module.ts
  packages/angular/test/base/src/app/lazy/app-lazy/app.routes.ts
  packages/angular/test/base/src/app/lazy/home-page/home-page.component.html
  packages/angular/test/base/src/app/lazy/tabs-basic/tabs-basic.component.css
  packages/angular/test/base/src/app/lazy/tabs-basic/tabs-basic.component.html
  packages/angular/test/base/src/app/lazy/tabs-basic/tabs-basic.component.ts
  packages/angular/test/base/src/app/standalone/app-standalone/app.routes.ts
  packages/angular/test/base/src/app/standalone/tabs-basic/tabs-basic.component.css
  packages/angular/test/base/src/app/standalone/tabs-basic/tabs-basic.component.html
  packages/angular/test/base/src/app/standalone/tabs-basic/tabs-basic.component.ts
Labels: package: core, package: angular

#29803 test(vue): skip failing tabs tests
  packages/vue/test/base/tests/e2e/specs/tabs.cy.js
Labels: package: vue

#29808 feat(input-password-toggle): fixed color and icon sizes.
  core/src/components/input-password-toggle/input-password-toggle.ionic.scss
  core/src/components/input-password-toggle/test/basic/index.html
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts-snapshots/input-password-toggle-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts-snapshots/input-password-toggle-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts-snapshots/input-password-toggle-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts-snapshots/input-password-toggle-large-size-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts-snapshots/input-password-toggle-large-size-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts-snapshots/input-password-toggle-large-size-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts-snapshots/input-password-toggle-large-size-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts-snapshots/input-password-toggle-large-size-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts-snapshots/input-password-toggle-large-size-ios-ltr-Mobile-Safari-linux.png
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts-snapshots/input-password-toggle-large-size-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts-snapshots/input-password-toggle-large-size-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input-password-toggle/test/basic/input-password-toggle.e2e.ts-snapshots/input-password-toggle-large-size-md-ltr-Mobile-Safari-linux.png
  core/src/components/input-password-toggle/test/input-password-toggle.spec.tsx
  core/src/components/input/input.ionic.outline.scss
  core/src/components/input/input.ionic.scss
Labels: package: core

#29813 test(tabs): re-enable skipped tests
  packages/vue/src/components/IonTabs.ts
  packages/vue/test/base/tests/e2e/specs/tabs.cy.js
Labels: package: vue

#29807 feat(datetime): add datetime styles for ionic theme
  core/api.txt
  core/src/components/datetime/datetime.common.scss
  core/src/components/datetime/datetime.ionic.scss
  core/src/components/datetime/datetime.ios.scss
  core/src/components/datetime/datetime.ios.vars.scss
  core/src/components/datetime/datetime.md.scss
  core/src/components/datetime/datetime.md.vars.scss
  core/src/components/datetime/datetime.native.scss
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/basic/datetime.e2e.ts
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-basic-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-basic-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-basic-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-basic-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-basic-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-basic-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-basic-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-basic-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-basic-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#29820 fix(range): emit correct value when knob is at start of bar
  core/src/components/range/range.tsx
Labels: package: core
