Repository ionic-team/ionic-framework, pull requests merged in 2024-05, with the labels that each got.

#29400 feat: add experimental transition focus manager
  core/src/css/core.scss
  core/src/utils/config.ts
  core/src/utils/focus-controller/index.ts
  core/src/utils/focus-controller/test/generic/focus-controller.e2e.ts
  core/src/utils/focus-controller/test/generic/index.html
  core/src/utils/focus-controller/test/ionic/focus-controller.e2e.ts
  core/src/utils/focus-controller/test/ionic/index.html
  core/src/utils/transition/index.ts
  core/tsconfig.json
Labels: package: core

#29431 Release 8.0.2
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#29435 Release 8.1.0
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#29436 Feature 8.1
  CHANGELOG.md
  core/CHANGELOG.md
  core/api.txt
  core/package-lock.json
  core/package.json
  core/src/components.d.ts
  core/src/components/content/content.tsx
  core/src/components/content/test/content.spec.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/overlay-roles/datetime.e2e.ts
  core/src/components/datetime/test/overlay-roles/index.html
  core/src/components/input/input.tsx
  core/src/components/input/test/input.spec.ts
  core/src/components/modal/gestures/sheet.ts
  core/src/components/modal/modal-interface.ts
  core/src/components/modal/modal.tsx
  core/src/components/modal/test/basic/modal.spec.tsx
  core/src/components/picker-column/picker-column.scss
  core/src/components/picker-column/picker-column.tsx
  core/src/components/picker-column/test/picker-column.spec.tsx
  core/src/components/picker/test/a11y/index.html
  core/src/components/popover/popover-interface.ts
  core/src/components/popover/popover.tsx
  core/src/components/popover/test/basic/popover.spec.tsx
  core/src/css/core.scss
  core/src/utils/config.ts
  core/src/utils/focus-controller/index.ts
  core/src/utils/focus-controller/test/generic/focus-controller.e2e.ts
  core/src/utils/focus-controller/test/generic/index.html
  core/src/utils/focus-controller/test/ionic/focus-controller.e2e.ts
  core/src/utils/focus-controller/test/ionic/index.html
  core/src/utils/overlays.ts
  core/src/utils/transition/index.ts
  core/tsconfig.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/proxies.ts
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
  packages/vue/src/components/Overlays.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue, package: react

#29437 Feature 8.1
  CHANGELOG.md
  core/CHANGELOG.md
  core/api.txt
  core/package-lock.json
  core/package.json
  core/src/components.d.ts
  core/src/components/content/content.tsx
  core/src/components/content/test/content.spec.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/overlay-roles/datetime.e2e.ts
  core/src/components/datetime/test/overlay-roles/index.html
  core/src/components/input/input.tsx
  core/src/components/input/test/input.spec.ts
  core/src/components/modal/gestures/sheet.ts
  core/src/components/modal/modal-interface.ts
  core/src/components/modal/modal.tsx
  core/src/components/modal/test/basic/modal.spec.tsx
  core/src/components/picker-column/picker-column.scss
  core/src/components/picker-column/picker-column.tsx
  core/src/components/picker-column/test/picker-column.spec.tsx
  core/src/components/picker/test/a11y/index.html
  core/src/components/popover/popover-interface.ts
  core/src/components/popover/popover.tsx
  core/src/components/popover/test/basic/popover.spec.tsx
  core/src/css/core.scss
  core/src/utils/config.ts
  core/src/utils/focus-controller/index.ts
  core/src/utils/focus-controller/test/generic/focus-controller.e2e.ts
  core/src/utils/focus-controller/test/generic/index.html
  core/src/utils/focus-controller/test/ionic/focus-controller.e2e.ts
  core/src/utils/focus-controller/test/ionic/index.html
  core/src/utils/overlays.ts
  core/src/utils/transition/index.ts
  core/tsconfig.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/proxies.ts
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
  packages/vue/src/components/Overlays.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue, package: react

#29448 fix(angular): persist select disabled state in item
  core/src/components/select/select.tsx
Labels: package: core

#29409 fix(input): add focus ring to the clear input button for ionic theme
  core/src/components/input/input.ionic.scss
  core/src/components/input/input.tsx
  core/src/components/input/test/basic/input.e2e.ts
Labels: package: core

#29447 fix(input): use correct padding for large
  core/src/components/input/input.ionic.outline.scss
  core/src/components/input/test/size/input.e2e.ts-snapshots/input-size-large-outline-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/input/test/size/input.e2e.ts-snapshots/input-size-large-outline-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/input/test/size/input.e2e.ts-snapshots/input-size-large-outline-ionic-md-ltr-light-Mobile-Safari-linux.png
Labels: package: core

#29446 fix(input): match design for xlarge size
  core/api.txt
  core/src/components.d.ts
  core/src/components/input/input.ionic.outline.scss
  core/src/components/input/input.ionic.scss
  core/src/components/input/input.tsx
  core/src/components/input/test/size/index.html
  core/src/components/input/test/size/input.e2e.ts
  core/src/components/input/test/size/input.e2e.ts-snapshots/input-size-xlarge-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/input/test/size/input.e2e.ts-snapshots/input-size-xlarge-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/input/test/size/input.e2e.ts-snapshots/input-size-xlarge-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/input/test/size/input.e2e.ts-snapshots/input-size-xlarge-label-stacked-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/input/test/size/input.e2e.ts-snapshots/input-size-xlarge-label-stacked-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/input/test/size/input.e2e.ts-snapshots/input-size-xlarge-label-stacked-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/input/test/size/input.e2e.ts-snapshots/input-size-xlarge-outline-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/input/test/size/input.e2e.ts-snapshots/input-size-xlarge-outline-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/input/test/size/input.e2e.ts-snapshots/input-size-xlarge-outline-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/input/test/size/input.e2e.ts-snapshots/input-size-xlarge-outline-round-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/input/test/size/input.e2e.ts-snapshots/input-size-xlarge-outline-round-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/input/test/size/input.e2e.ts-snapshots/input-size-xlarge-outline-round-ionic-md-ltr-light-Mobile-Safari-linux.png
Labels: package: core

#29458 chore(theming): remove Sass default flag & update guidelines
  core/src/themes/ionic.theme.default.ios.scss
  docs/sass-guidelines.md
Labels: package: core

#29457 fix(radio): persist checked state when items are updated in radio-group
  core/src/components/radio/radio.tsx
Labels: package: core

#29453 feat(angular): setting props on a signal works
  packages/angular/common/src/directives/navigation/nav-params.ts
  packages/angular/common/src/providers/angular-delegate.ts
  packages/angular/src/ionic-module.ts
  packages/angular/standalone/src/providers/ionic-angular.ts
  packages/angular/test/apps/ng16/src/app/lazy/version-test/modal-nav-params/nav-root.component.ts
  packages/angular/test/apps/ng17/src/app/lazy/version-test/modal-nav-params/nav-root.component.ts
  packages/angular/test/base/src/app/lazy/alert/alert.component.ts
  packages/angular/test/base/src/app/lazy/modal-example/modal-example.component.html
  packages/angular/test/base/src/app/lazy/modal-example/modal-example.component.ts
  packages/angular/test/base/src/app/lazy/nav/nav.component.ts
Labels: package: angular

#29456 test(angular): add angular 18 test app
  .github/workflows/actions/test-angular-e2e/action.yml
  .github/workflows/build.yml
  .github/workflows/stencil-nightly.yml
  packages/angular/test/apps/ng18/angular.json
  packages/angular/test/apps/ng18/e2e/src/.gitkeep
  packages/angular/test/apps/ng18/e2e/src/lazy/angular-version.spec.ts
  packages/angular/test/apps/ng18/e2e/src/lazy/bind-component-inputs.spec.ts
  packages/angular/test/apps/ng18/e2e/src/lazy/modal-nav-params.spec.ts
  packages/angular/test/apps/ng18/package-lock.json
  packages/angular/test/apps/ng18/package.json
  packages/angular/test/apps/ng18/server.ts
  packages/angular/test/apps/ng18/src/app/app-routing.module.ts
  packages/angular/test/apps/ng18/src/app/lazy/version-test/bind-component-inputs/bind-component-inputs.component.ts
  packages/angular/test/apps/ng18/src/app/lazy/version-test/modal-nav-params/modal-nav-params.component.ts
  packages/angular/test/apps/ng18/src/app/lazy/version-test/modal-nav-params/nav-root.component.ts
  packages/angular/test/apps/ng18/src/app/lazy/version-test/version-test-routing.module.ts
  packages/angular/test/apps/ng18/tsconfig.json
  packages/angular/test/base/e2e/src/lazy/form-controls/range.spec.ts
  packages/angular/test/base/scripts/sync.sh
Labels: package: angular

#29472 chore(tests): remove old screenshots without a test
  core/src/components/input/test/spec/input.e2e-legacy.ts-snapshots/input-spec-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/spec/input.e2e-legacy.ts-snapshots/input-spec-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/spec/input.e2e-legacy.ts-snapshots/input-spec-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/spec/input.e2e-legacy.ts-snapshots/input-spec-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/spec/input.e2e-legacy.ts-snapshots/input-spec-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/spec/input.e2e-legacy.ts-snapshots/input-spec-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/spec/input.e2e-legacy.ts-snapshots/input-spec-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/spec/input.e2e-legacy.ts-snapshots/input-spec-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/range/test/legacy/basic/range.e2e.ts-snapshots/range-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/legacy/basic/range.e2e.ts-snapshots/range-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/select/test/legacy/single-value/select.e2e.ts-snapshots/select-single-value-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/legacy/single-value/select.e2e.ts-snapshots/select-single-value-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/legacy/single-value/select.e2e.ts-snapshots/select-single-value-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/legacy/single-value/select.e2e.ts-snapshots/select-single-value-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/legacy/single-value/select.e2e.ts-snapshots/select-single-value-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/legacy/single-value/select.e2e.ts-snapshots/select-single-value-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/legacy/basic/textarea.e2e.ts-snapshots/textarea-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/legacy/basic/textarea.e2e.ts-snapshots/textarea-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/toggle/test/legacy/basic/toggle.e2e.ts-snapshots/toggle-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/toggle/test/legacy/basic/toggle.e2e.ts-snapshots/toggle-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/toggle/test/legacy/basic/toggle.e2e.ts-snapshots/toggle-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/toggle/test/legacy/basic/toggle.e2e.ts-snapshots/toggle-diff-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#29473 Release 8.1.1
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#29373 feat(many): expand global config for icons
  core/api.txt
  core/src/components.d.ts
  core/src/components/accordion/accordion.tsx
  core/src/components/back-button/back-button.tsx
  core/src/components/breadcrumb/breadcrumb.tsx
  core/src/components/datetime/datetime.tsx
  core/src/components/fab-button/fab-button.tsx
  core/src/components/input-password-toggle/input-password-toggle.tsx
  core/src/components/input/input.tsx
  core/src/components/item/item.tsx
  core/src/components/reorder/reorder.tsx
  core/src/components/searchbar/searchbar.tsx
  core/src/components/select/select.tsx
  core/src/components/toggle/toggle.ios.scss
  core/src/components/toggle/toggle.tsx
  core/src/utils/config.ts
Labels: package: core

#29478 test(input): remove the .only within fill
  core/src/components/input/test/fill/input.e2e.ts
Labels: package: core

#29476 feat(input): add rectangular shape for the ionic theme
  core/api.txt
  core/src/components.d.ts
  core/src/components/input/input.ionic.scss
  core/src/components/input/input.tsx
  core/src/components/input/test/shape/index.html
  core/src/components/input/test/shape/input.e2e.ts
  core/src/components/input/test/shape/input.e2e.ts-snapshots/input-shape-rectangular-fill-outline-custom-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/input/test/shape/input.e2e.ts-snapshots/input-shape-rectangular-fill-outline-custom-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/input/test/shape/input.e2e.ts-snapshots/input-shape-rectangular-fill-outline-custom-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/input/test/shape/input.e2e.ts-snapshots/input-shape-rectangular-fill-outline-custom-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/input/test/shape/input.e2e.ts-snapshots/input-shape-rectangular-fill-outline-custom-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/input/test/shape/input.e2e.ts-snapshots/input-shape-rectangular-fill-outline-custom-ionic-md-rtl-light-Mobile-Safari-linux.png
  core/src/components/input/test/shape/input.e2e.ts-snapshots/input-shape-rectangular-fill-outline-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/input/test/shape/input.e2e.ts-snapshots/input-shape-rectangular-fill-outline-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/input/test/shape/input.e2e.ts-snapshots/input-shape-rectangular-fill-outline-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/input/test/shape/input.e2e.ts-snapshots/input-shape-rectangular-fill-outline-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/input/test/shape/input.e2e.ts-snapshots/input-shape-rectangular-fill-outline-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/input/test/shape/input.e2e.ts-snapshots/input-shape-rectangular-fill-outline-ionic-md-rtl-light-Mobile-Safari-linux.png
Labels: package: core

#29477 feat(input): add soft shape for ionic theme
  core/api.txt
  core/src/components.d.ts
  core/src/components/input/input.ionic.scss
  core/src/components/input/input.tsx
  core/src/components/input/test/shape/index.html
  core/src/components/input/test/shape/input.e2e.ts
  core/src/components/input/test/shape/input.e2e.ts-snapshots/input-shape-soft-fill-outline-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/input/test/shape/input.e2e.ts-snapshots/input-shape-soft-fill-outline-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/input/test/shape/input.e2e.ts-snapshots/input-shape-soft-fill-outline-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/input/test/shape/input.e2e.ts-snapshots/input-shape-soft-fill-outline-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/input/test/shape/input.e2e.ts-snapshots/input-shape-soft-fill-outline-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/input/test/shape/input.e2e.ts-snapshots/input-shape-soft-fill-outline-ionic-md-rtl-light-Mobile-Safari-linux.png
Labels: package: core

#29482 fix(input): only apply the shape to the outline fill in ionic theme
  core/src/components.d.ts
  core/src/components/input/input.ionic.outline.scss
  core/src/components/input/input.ionic.scss
  core/src/components/input/input.tsx
Labels: package: core

#29485 test(many): fix failing tests that CI was not reporting
  core/src/components/accordion/test/a11y/accordion.e2e.ts
  core/src/components/accordion/test/standalone/index.html
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/breadcrumbs/test/reactive/breadcrumbs.e2e.ts
  core/src/components/datetime/test/position/datetime.e2e.ts
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-base-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-base-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-base-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-base-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-base-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-base-ios-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-base-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-base-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-base-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-base-md-rtl-Mobile-Chrome-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-base-md-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-base-md-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-popover-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-popover-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-popover-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-popover-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-popover-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-popover-ios-rtl-Mobile-Safari-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-popover-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-popover-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-popover-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-popover-md-rtl-Mobile-Chrome-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-popover-md-rtl-Mobile-Firefox-linux.png
  core/src/components/datetime/test/position/datetime.e2e.ts-snapshots/datetime-position-popover-md-rtl-Mobile-Safari-linux.png
  core/src/components/loading/test/basic/loading.e2e.ts
  core/src/components/menu/test/basic/menu.e2e.ts
  core/src/components/modal/test/trigger/modal.e2e.ts
  core/src/components/nav/test/basic/nav.e2e.ts
  core/src/components/nav/test/nested/nav.e2e.ts
  core/src/components/nav/test/routing/nav.e2e.ts
  core/src/components/picker/test/basic/picker.e2e.ts
  core/src/components/picker/test/keyboard-entry/picker.e2e.ts
  core/src/components/popover/test/trigger/popover.e2e.ts
  core/src/components/select-popover/test/basic/select-popover.e2e.ts
  core/src/components/select/test/basic/select.e2e.ts
  core/src/components/select/test/disabled/select.e2e.ts
Labels: package: core

#29425 chore(ci): exit with correct exit code
  core/scripts/docker.mjs
Labels: package: core

#29489 test(alert): skip flaky a11y test
  core/src/components/alert/test/a11y/alert.e2e.ts
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-scale-ios-ltr-Mobile-Chrome-linux.png
Labels: package: core

#29496 chore(): add updated snapshots
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-action-sheet-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-action-sheet-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-action-sheet-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-menu-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-menu-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-menu-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-picker-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-picker-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-picker-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-toast-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-toast-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/app/test/safe-area/app.e2e.ts-snapshots/app-toast-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-chip-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-chip-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-chip-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-chip-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-chip-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/avatar/test/basic/avatar.e2e.ts-snapshots/avatar-chip-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/button/test/shape/button.e2e.ts-snapshots/button-shape-rectangular-fill-outline-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/button/test/shape/button.e2e.ts-snapshots/button-shape-rectangular-fill-outline-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/button/test/shape/button.e2e.ts-snapshots/button-shape-rectangular-fill-outline-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/button/test/shape/button.e2e.ts-snapshots/button-shape-round-fill-outline-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/button/test/shape/button.e2e.ts-snapshots/button-shape-round-fill-outline-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/button/test/shape/button.e2e.ts-snapshots/button-shape-round-fill-outline-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/button/test/shape/button.e2e.ts-snapshots/button-shape-soft-fill-outline-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/button/test/shape/button.e2e.ts-snapshots/button-shape-soft-fill-outline-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/button/test/shape/button.e2e.ts-snapshots/button-shape-soft-fill-outline-ionic-md-ltr-light-Mobile-Safari-linux.png
Labels: package: core

#29498 docs(many): update Contributing links
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  core/README.md
  packages/vue-router/README.md
  packages/vue/README.md
Labels: package: core, package: vue

#29501 fix(many): do not grow slotted checkboxes, radios, selects and toggles
  core/src/components/checkbox/checkbox.scss
  core/src/components/item/test/inputs/item.e2e.ts
  core/src/components/item/test/inputs/item.e2e.ts-snapshots/item-inputs-div-with-inputs-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/inputs/item.e2e.ts-snapshots/item-inputs-div-with-inputs-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/inputs/item.e2e.ts-snapshots/item-inputs-div-with-inputs-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/inputs/item.e2e.ts-snapshots/item-inputs-div-with-inputs-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/inputs/item.e2e.ts-snapshots/item-inputs-div-with-inputs-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/inputs/item.e2e.ts-snapshots/item-inputs-div-with-inputs-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-checkbox-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-checkbox-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-checkbox-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-checkbox-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-checkbox-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-checkbox-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-ios-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-md-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-radio-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-radio-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-radio-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-radio-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-radio-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-radio-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-select-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-select-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-select-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-select-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-select-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-select-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-toggle-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-toggle-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-toggle-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-toggle-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-toggle-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/slotted-inputs/item.e2e.ts-snapshots/item-slotted-inputs-toggle-md-ltr-Mobile-Safari-linux.png
  core/src/components/radio/radio.scss
  core/src/components/select/select.scss
  core/src/components/toggle/toggle.scss
Labels: package: core

#29497 fix(picker): update keyboard navigation
  core/src/components/picker-column/picker-column.tsx
  core/src/components/picker/test/basic/picker.e2e.ts
  core/src/components/picker/test/keyboard-entry/picker.e2e.ts
Labels: package: core

#29505 merge release-8.1.2
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react, release

#29506 merge release-8.1.2
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react, release

#29486 fix(core): malformed URIs will not throw exception
  core/src/global/config.ts
  core/src/global/test/config-controller.spec.ts
Labels: package: core

#29508 docs(readme): update broken links, repository name, clean up readme
  README.md
  core/package.json
  core/src/components/searchbar/searchbar.tsx
  core/src/components/toggle/toggle.ios.scss
  core/stencil.config.ts
  docs/component-guide.md
  packages/angular-server/package.json
  packages/angular/package.json
  packages/react-router/test/base/tests/e2e/specs/dynamic-routes.cy.js
  packages/react-router/test/base/tests/e2e/specs/dynamic-tabs.cy.js
  packages/react-router/test/base/tests/e2e/specs/multiple-tabs.cy.js
  packages/react-router/test/base/tests/e2e/specs/nested-outlets.cy.js
  packages/react-router/test/base/tests/e2e/specs/routing.cy.js
  packages/vue-router/package.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#29514 feat(chip): add small size
  core/api.txt
  core/src/components.d.ts
  core/src/components/chip/chip.ionic.scss
  core/src/components/chip/chip.tsx
  core/src/components/chip/test/shape/chip.e2e.ts-snapshots/chip-default-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/chip/test/shape/chip.e2e.ts-snapshots/chip-default-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/chip/test/shape/chip.e2e.ts-snapshots/chip-default-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/chip/test/shape/chip.e2e.ts-snapshots/chip-rectangular-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/chip/test/shape/chip.e2e.ts-snapshots/chip-rectangular-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/chip/test/shape/chip.e2e.ts-snapshots/chip-rectangular-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/chip/test/shape/chip.e2e.ts-snapshots/chip-round-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/chip/test/shape/chip.e2e.ts-snapshots/chip-round-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/chip/test/shape/chip.e2e.ts-snapshots/chip-round-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/chip/test/shape/chip.e2e.ts-snapshots/chip-soft-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/chip/test/shape/chip.e2e.ts-snapshots/chip-soft-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/chip/test/shape/chip.e2e.ts-snapshots/chip-soft-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/chip/test/size/chip.e2e.ts
  core/src/components/chip/test/size/chip.e2e.ts-snapshots/chip-size-large-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/chip/test/size/chip.e2e.ts-snapshots/chip-size-large-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/chip/test/size/chip.e2e.ts-snapshots/chip-size-large-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/chip/test/size/chip.e2e.ts-snapshots/chip-size-small-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/chip/test/size/chip.e2e.ts-snapshots/chip-size-small-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/chip/test/size/chip.e2e.ts-snapshots/chip-size-small-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/chip/test/size/index.html
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-focused-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-focused-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/chip/test/states/chip.e2e.ts-snapshots/chip-focused-ionic-md-ltr-light-Mobile-Safari-linux.png
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#29502 test(datetime, tab-button): update screenshots after playwright update
  core/src/components/datetime/test/a11y/datetime.e2e.ts-snapshots/datetime-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-md-ltr-Mobile-Firefox-linux.png
Labels: package: core

#29531 merge release-8.1.3
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react, release

#29532 merge release-8.1.3
  .github/workflows/assign-issues.yml
  CHANGELOG.md
  README.md
  core/CHANGELOG.md
  core/Dockerfile
  core/api.txt
  core/package-lock.json
  core/package.json
  core/scripts/api-spec-generator.js
  core/src/components/datetime/test/a11y/datetime.e2e.ts-snapshots/datetime-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/searchbar/searchbar.tsx
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-md-ltr-Mobile-Firefox-linux.png
  core/src/components/toggle/toggle.ios.scss
  core/src/global/config.ts
  core/src/global/test/config-controller.spec.ts
  core/stencil.config.ts
  docs/component-guide.md
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react-router/test/base/tests/e2e/specs/dynamic-routes.cy.js
  packages/react-router/test/base/tests/e2e/specs/dynamic-tabs.cy.js
  packages/react-router/test/base/tests/e2e/specs/multiple-tabs.cy.js
  packages/react-router/test/base/tests/e2e/specs/nested-outlets.cy.js
  packages/react-router/test/base/tests/e2e/specs/routing.cy.js
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react, release

#29533 feat(tokens): update design-tokens
  core/src/foundations/ionic.root.scss
  core/src/foundations/ionic.utility.scss
  core/src/foundations/ionic.vars.scss
  core/src/foundations/tokens/color.styles.tokens.json
  core/src/foundations/tokens/theme/theme.ionic.tokens.json
Labels: type: feature request, package: core

#29534 merge release-8.2.0
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/common/src/directives/navigation/nav-params.ts
  packages/angular/common/src/providers/angular-delegate.ts
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/angular/src/ionic-module.ts
  packages/angular/standalone/src/providers/ionic-angular.ts
  packages/angular/test/apps/ng16/src/app/lazy/version-test/modal-nav-params/nav-root.component.ts
  packages/angular/test/apps/ng17/src/app/lazy/version-test/modal-nav-params/nav-root.component.ts
  packages/angular/test/base/src/app/lazy/alert/alert.component.ts
  packages/angular/test/base/src/app/lazy/modal-example/modal-example.component.html
  packages/angular/test/base/src/app/lazy/modal-example/modal-example.component.ts
  packages/angular/test/base/src/app/lazy/nav/nav.component.ts
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react, release

#29535 merge release-8.2.0
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/common/src/directives/navigation/nav-params.ts
  packages/angular/common/src/providers/angular-delegate.ts
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/angular/src/ionic-module.ts
  packages/angular/standalone/src/providers/ionic-angular.ts
  packages/angular/test/apps/ng16/src/app/lazy/version-test/modal-nav-params/nav-root.component.ts
  packages/angular/test/apps/ng17/src/app/lazy/version-test/modal-nav-params/nav-root.component.ts
  packages/angular/test/base/src/app/lazy/alert/alert.component.ts
  packages/angular/test/base/src/app/lazy/modal-example/modal-example.component.html
  packages/angular/test/base/src/app/lazy/modal-example/modal-example.component.ts
  packages/angular/test/base/src/app/lazy/nav/nav.component.ts
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react, release

#29526 feat(badge): add small/default size for ionic theme
  core/api.txt
  core/src/components.d.ts
  core/src/components/badge/badge.ionic.scss
  core/src/components/badge/badge.tsx
  core/src/components/badge/test/size/badge.e2e.ts
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-small-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-small-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-small-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/badge/test/size/index.html
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#29528 feat(badge): add medium size for ionic theme
  core/api.txt
  core/src/components.d.ts
  core/src/components/badge/badge.ionic.scss
  core/src/components/badge/badge.tsx
  core/src/components/badge/test/size/badge.e2e.ts
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-medium-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-medium-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-medium-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/badge/test/size/index.html
Labels: package: core

#29529 feat(badge): add large size for ionic theme
  core/api.txt
  core/src/components.d.ts
  core/src/components/badge/badge.ionic.scss
  core/src/components/badge/badge.tsx
  core/src/components/badge/test/size/badge.e2e.ts
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-large-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-large-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-large-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/badge/test/size/index.html
Labels: package: core

#29530 feat(badge): add xlarge size for ionic theme
  core/api.txt
  core/src/components.d.ts
  core/src/components/badge/badge.ionic.scss
  core/src/components/badge/badge.tsx
  core/src/components/badge/test/size/badge.e2e.ts
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-xlarge-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-xlarge-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-xlarge-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/badge/test/size/index.html
Labels: package: core

#29542 feat(tokens): add rgba for color tokens with 8 chars
  core/scripts/tokens/index.js
  core/scripts/tokens/utilities.js
  core/src/foundations/ionic.root.scss
  core/src/foundations/ionic.vars.scss
Labels: type: feature request, package: core

#29538 feat(avatar): add styles for default (medium) size in ionic theme
  core/api.txt
  core/src/components.d.ts
  core/src/components/avatar/avatar.ionic.scss
  core/src/components/avatar/avatar.tsx
  core/src/components/avatar/test/size/avatar.e2e.ts
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-medium-icon-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-medium-icon-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-medium-icon-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-medium-image-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-medium-image-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-medium-image-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-medium-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-medium-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-medium-text-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/index.html
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#29540 feat(avatar): add styles for small size in ionic theme
  core/api.txt
  core/src/components.d.ts
  core/src/components/avatar/avatar.ionic.scss
  core/src/components/avatar/avatar.tsx
  core/src/components/avatar/test/size/avatar.e2e.ts
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-small-icon-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-small-icon-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-small-icon-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-small-image-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-small-image-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-small-image-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-small-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-small-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-small-text-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/index.html
Labels: package: core

#29541 feat(avatar): add styles for large size in ionic theme
  core/api.txt
  core/src/components.d.ts
  core/src/components/avatar/avatar.ionic.scss
  core/src/components/avatar/avatar.tsx
  core/src/components/avatar/test/size/avatar.e2e.ts
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-large-icon-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-large-icon-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-large-icon-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-large-image-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-large-image-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-large-image-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-large-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-large-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-large-text-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/index.html
Labels: package: core

#29548 feat(avatar): add styles for xsmall size in ionic theme
  core/api.txt
  core/src/components.d.ts
  core/src/components/avatar/avatar.ionic.scss
  core/src/components/avatar/avatar.tsx
  core/src/components/avatar/test/size/avatar.e2e.ts
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xsmall-icon-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xsmall-icon-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xsmall-icon-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xsmall-image-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xsmall-image-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xsmall-image-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xsmall-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xsmall-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xsmall-text-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/index.html
Labels: package: core

#29545 feat(tokens): add html preview based on design-tokens
  core/.stylelintrc.yml
  core/package.json
  core/scripts/tokens/index.js
  core/scripts/tokens/preview.styles.css
  core/scripts/tokens/preview.template.html
  core/src/foundations/tokens.preview.html
Labels: type: feature request, package: core

#29551 feat(avatar): add styles for rectangular shape in ionic theme
  core/api.txt
  core/src/components.d.ts
  core/src/components/avatar/avatar.ionic.scss
  core/src/components/avatar/avatar.tsx
  core/src/components/avatar/test/shape/avatar.e2e.ts
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-rectangular-icon-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-rectangular-icon-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-rectangular-icon-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-rectangular-image-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-rectangular-image-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-rectangular-image-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-rectangular-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-rectangular-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-rectangular-text-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/shape/index.html
Labels: package: core

#29552 feat(avatar): add styles for soft shape in ionic theme
  core/api.txt
  core/src/components.d.ts
  core/src/components/avatar/avatar.ionic.scss
  core/src/components/avatar/avatar.tsx
  core/src/components/avatar/test/shape/avatar.e2e.ts
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-soft-icon-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-soft-icon-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-soft-icon-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-soft-image-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-soft-image-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-soft-image-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-soft-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-soft-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/shape/avatar.e2e.ts-snapshots/avatar-shape-soft-text-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/shape/index.html
Labels: package: core

#29565 refactor(chip): use the new tokens
  core/src/components/chip/chip.ionic.scss
  core/src/components/chip/test/theme-ionic/index.html
Labels: type: feature request, package: core

#29566 feat(badge): add xsmall size to ionic theme
  core/api.txt
  core/src/components.d.ts
  core/src/components/badge/badge.ionic.scss
  core/src/components/badge/badge.tsx
  core/src/components/badge/test/size/badge.e2e.ts
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-xsmall-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-xsmall-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-xsmall-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-xsmall-long-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-xsmall-long-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-xsmall-long-text-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/badge/test/size/index.html
Labels: package: core

#29547 feat(tokens): make font-size use px-to-rem()
  core/scripts/tokens/index.js
  core/scripts/tokens/utilities.js
  core/src/foundations/ionic.root.scss
  core/src/foundations/ionic.vars.scss
Labels: type: feature request, package: core

#29570 feat(badge): add xxsmall size to ionic theme
  core/api.txt
  core/src/components.d.ts
  core/src/components/badge/badge.ionic.scss
  core/src/components/badge/badge.tsx
  core/src/components/badge/test/size/badge.e2e.ts
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-xxsmall-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-xxsmall-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-xxsmall-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-xxsmall-long-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-xxsmall-long-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-xxsmall-long-text-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/badge/test/size/index.html
Labels: package: core

#29572 test(badge): match design screenshots
  core/src/components/badge/test/size/badge.e2e.ts
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-large-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-large-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-large-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-large-long-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-large-long-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-large-long-text-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-medium-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-medium-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-medium-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-medium-long-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-medium-long-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-medium-long-text-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-small-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-small-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-small-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-small-long-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-small-long-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-small-long-text-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-xlarge-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-xlarge-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-xlarge-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-xlarge-long-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-xlarge-long-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/badge/test/size/badge.e2e.ts-snapshots/badge-size-xlarge-long-text-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/badge/test/size/index.html
Labels: package: core

#29571 chore(angular): upgrade to official 18 release
  .github/workflows/actions/test-angular-e2e/action.yml
  packages/angular/test/apps/ng18/package-lock.json
  packages/angular/test/apps/ng18/package.json
  packages/angular/test/base/scripts/sync.sh
Labels: package: angular

#29573 feat(badge): add soft to the ionic theme
  core/api.txt
  core/src/components.d.ts
  core/src/components/badge/badge.ionic.scss
  core/src/components/badge/badge.tsx
  core/src/components/badge/test/shape/badge.e2e.ts
  core/src/components/badge/test/shape/badge.e2e.ts-snapshots/badge-shape-soft-larger-sizes-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/shape/badge.e2e.ts-snapshots/badge-shape-soft-larger-sizes-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/badge/test/shape/badge.e2e.ts-snapshots/badge-shape-soft-larger-sizes-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/badge/test/shape/badge.e2e.ts-snapshots/badge-shape-soft-larger-sizes-long-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/shape/badge.e2e.ts-snapshots/badge-shape-soft-larger-sizes-long-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/badge/test/shape/badge.e2e.ts-snapshots/badge-shape-soft-larger-sizes-long-text-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/badge/test/shape/badge.e2e.ts-snapshots/badge-shape-soft-smaller-sizes-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/shape/badge.e2e.ts-snapshots/badge-shape-soft-smaller-sizes-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/badge/test/shape/badge.e2e.ts-snapshots/badge-shape-soft-smaller-sizes-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/badge/test/shape/badge.e2e.ts-snapshots/badge-shape-soft-smaller-sizes-long-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/shape/badge.e2e.ts-snapshots/badge-shape-soft-smaller-sizes-long-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/badge/test/shape/badge.e2e.ts-snapshots/badge-shape-soft-smaller-sizes-long-text-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/badge/test/shape/index.html
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#29512 refactor(react): export InputInputEventDetail type
  packages/react/src/components/index.ts
Labels: package: react
