Repository ionic-team/ionic-framework, pull requests merged in 2024-02, with the labels that each got.

#28948 docs(angular test app): include instructions for updating nightly build
  packages/angular/test/README.md
Labels: package: angular

#28951 refactor(angular, react, vue): add missing test app msg
  packages/angular/test/build.sh
  packages/react/test/build.sh
  packages/vue/test/build.sh
Labels: package: angular, package: vue, package: react

#28942 refactor: remove legacy tokens from dark theme
  core/src/css/themes/dark.scss
  core/src/themes/ionic.theme.default.ios.scss
  core/src/themes/ionic.theme.default.md.scss
Labels: package: core

#28955 refactor(angular): update test app to use NgFor instead of CommonModule
  packages/angular/test/base/src/app/standalone/value-accessors/value-accessor-test/value-accessor-test.component.ts
Labels: package: angular

#28944 feat(theming): add a global --ion-placeholder-opacity variable
  core/src/css/themes/high-contrast-dark.scss
  core/src/css/themes/high-contrast-light.scss
  core/src/themes/ionic.globals.scss
Labels: package: core

#28946 refactor(input): remove accept property
  BREAKING.md
  core/api.txt
  core/src/components.d.ts
  core/src/components/input/input.tsx
  packages/angular/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#28954 fix(angular): prevent provideIonicAngular from being used at component level
  packages/angular/standalone/src/providers/ionic-angular.ts
Labels: package: angular

#28958 chore(angular, react, vue): update readmes for pnpm usage
  .github/CONTRIBUTING.md
  packages/angular/README.md
  packages/angular/test/README.md
  packages/react-router/README.md
  packages/react-router/test/README.md
  packages/react/README.md
  packages/react/test/README.md
  packages/vue-router/README.md
  packages/vue/README.md
  packages/vue/test/README.md
Labels: package: angular, package: vue, package: react

#28972 refactor(position): remove host-context usage from mixin
  core/src/themes/ionic.mixins.scss
Labels: package: core

#28968 refactor(refresher-content): remove the aria-label
  core/src/components/refresher-content/refresher-content.tsx
  core/src/components/refresher/test/a11y/refresher.e2e.ts
Labels: package: core

#28966 refactor(dynamic-font): remove --ion-default-dynamic-font
  BREAKING.md
  core/src/css/core.scss
Labels: package: core

#28979 refactor(core-styles): use sass variables in global styles
  core/src/css/core.scss
Labels: package: core

#28977 refactor(toast): remove cssClass from ToastButton
  BREAKING.md
  core/src/components/toast/toast-interface.ts
  core/src/components/toast/toast.tsx
Labels: package: core

#28956 feat: add high contrast implementation
  core/src/components/breadcrumb/breadcrumb.vars.scss
  core/src/components/item/item.ios.vars.scss
  core/src/components/toast/test/a11y/toast.e2e.ts
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-ios-ltr-high-contrast-Mobile-Chrome-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-ios-ltr-high-contrast-Mobile-Firefox-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-ios-ltr-high-contrast-Mobile-Safari-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-ios-ltr-high-contrast-dark-Mobile-Chrome-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-ios-ltr-high-contrast-dark-Mobile-Firefox-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-ios-ltr-high-contrast-dark-Mobile-Safari-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-ios-ltr-high-contrast-light-Mobile-Chrome-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-ios-ltr-high-contrast-light-Mobile-Firefox-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-ios-ltr-high-contrast-light-Mobile-Safari-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-md-ltr-high-contrast-Mobile-Chrome-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-md-ltr-high-contrast-Mobile-Firefox-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-md-ltr-high-contrast-Mobile-Safari-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-md-ltr-high-contrast-dark-Mobile-Chrome-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-md-ltr-high-contrast-dark-Mobile-Firefox-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-md-ltr-high-contrast-dark-Mobile-Safari-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-md-ltr-high-contrast-light-Mobile-Chrome-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-md-ltr-high-contrast-light-Mobile-Firefox-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-md-ltr-high-contrast-light-Mobile-Safari-linux.png
  core/src/css/themes/high-contrast-dark.class.scss
  core/src/css/themes/high-contrast-dark.scss
  core/src/css/themes/high-contrast-light.always.scss
  core/src/css/themes/high-contrast-light.class.scss
  core/src/css/themes/high-contrast.always.scss
  core/src/css/themes/high-contrast.class.scss
  core/src/css/themes/high-contrast.scss
  core/src/css/themes/high-contrast.system.scss
  core/src/themes/test/colors/theme.e2e.ts
  core/src/themes/test/css-variables/index.html
  core/src/utils/test/playwright/generator.ts
Labels: package: core

#28961 fix(react): route with redirect will mount page
  packages/react/src/routing/PageManager.tsx
Labels: package: react

#28915 fix(action-sheet): iOS dismiss animation respects safe area
  core/src/components/action-sheet/action-sheet.ios.scss
Labels: package: core

#28990 Release 7.7.1
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#28991 Release 7.7.1
  .github/workflows/stencil-nightly.yml
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components/action-sheet/action-sheet.ios.scss
  core/src/components/modal/modal.tsx
  core/src/components/modal/test/animations/modal.e2e.ts
  core/src/components/select-popover/select-popover.scss
  core/src/utils/overlays.ts
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/angular/test/README.md
  packages/angular/test/build.sh
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/routing/PageManager.tsx
  packages/react/test/build.sh
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
  packages/vue/test/build.sh
Labels: package: core, package: angular, package: vue, package: react

#28994 refactor(textarea): remove legacy property, rendering and styles
  BREAKING.md
  core/api.txt
  core/src/components.d.ts
  core/src/components/textarea/textarea.ios.scss
  core/src/components/textarea/textarea.md.scss
  core/src/components/textarea/textarea.scss
  core/src/components/textarea/textarea.tsx
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/textarea.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#28989 docs(overlays): clarify how to remove an overlay
  core/src/components.d.ts
  core/src/components/action-sheet/action-sheet.tsx
  core/src/components/alert/alert.tsx
  core/src/components/loading/loading.tsx
  core/src/components/modal/modal.tsx
  core/src/components/picker/picker.tsx
  core/src/components/popover/popover.tsx
  core/src/components/toast/toast.tsx
Labels: package: core

#29004 test(toast): reset config to avoid unnecessary setTimeouts
  core/src/components/toast/test/toast.spec.tsx
Labels: package: core

#29006 refactor(textarea): remove unused legacy styles
  core/src/components/textarea/textarea.ios.scss
  core/src/components/textarea/textarea.md.scss
Labels: package: core

#28997 fix(overlays): ensure that only topmost overlay is announced by screen readers
  core/src/utils/overlays.ts
  core/src/utils/test/overlays/index.html
  core/src/utils/test/overlays/overlays.spec.ts
Labels: package: core

#29002 refactor(themes): update border radius to new logical properties
  core/src/components/range/range.md.scss
  core/src/components/select/select.md.outline.scss
  core/src/themes/ionic.mixins.scss
Labels: package: core

#28850 fix(overlays): do not return focus if application has already moved focus manually
  core/src/utils/overlays.ts
  core/src/utils/test/overlays/overlays.e2e.ts
Labels: package: core

#29032 chore(datetime): remove safari 14 intersection observer workaround
  core/src/components/datetime/datetime.scss
Labels: package: core

#29011 refactor: update styles according to design document
  core/src/css/themes/dark.scss
  core/src/themes/ionic.theme.default.scss
Labels: package: core

#29019 refactor(input): remove legacy property and styling
  BREAKING.md
  core/api.txt
  core/src/components.d.ts
  core/src/components/input/input.ios.scss
  core/src/components/input/input.ios.vars.scss
  core/src/components/input/input.md.scss
  core/src/components/input/input.md.vars.scss
  core/src/components/input/input.scss
  core/src/components/input/input.tsx
  core/src/components/input/test/item/input.spec.ts
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/input.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#29035 refactor(datetime): remove safari 14 hack
  core/src/components/datetime/datetime.tsx
Labels: package: core

#29010 feat: add high contrast themes
  core/.stylelintrc.yml
  core/src/components/action-sheet/action-sheet.ios.vars.scss
  core/src/components/alert/alert.md.vars.scss
  core/src/components/breadcrumb/breadcrumb.ios.vars.scss
  core/src/components/breadcrumb/breadcrumb.md.vars.scss
  core/src/components/breadcrumb/breadcrumb.vars.scss
  core/src/components/datetime-button/datetime-button.scss
  core/src/components/datetime/datetime.md.scss
  core/src/components/datetime/datetime.scss
  core/src/components/input/input.scss
  core/src/components/item/item.ios.vars.scss
  core/src/components/modal/modal.scss
  core/src/components/picker/picker.ios.scss
  core/src/components/range/range.ios.vars.scss
  core/src/components/refresher/refresher.ios.vars.scss
  core/src/components/refresher/refresher.md.vars.scss
  core/src/components/segment-button/segment-button.ios.vars.scss
  core/src/components/textarea/textarea.scss
  core/src/components/toast/test/a11y/toast.e2e.ts
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-ios-ltr-high-contrast-Mobile-Chrome-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-ios-ltr-high-contrast-Mobile-Firefox-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-ios-ltr-high-contrast-Mobile-Safari-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-ios-ltr-high-contrast-dark-Mobile-Chrome-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-ios-ltr-high-contrast-dark-Mobile-Firefox-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-ios-ltr-high-contrast-dark-Mobile-Safari-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-md-ltr-high-contrast-Mobile-Chrome-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-md-ltr-high-contrast-Mobile-Firefox-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-md-ltr-high-contrast-Mobile-Safari-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-md-ltr-high-contrast-dark-Mobile-Chrome-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-md-ltr-high-contrast-dark-Mobile-Firefox-linux.png
  core/src/components/toast/test/a11y/toast.e2e.ts-snapshots/toast-high-contrast-buttons-md-ltr-high-contrast-dark-Mobile-Safari-linux.png
  core/src/components/toast/toast.md.vars.scss
  core/src/css/themes/dark.scss
  core/src/css/themes/high-contrast-dark.always.scss
  core/src/css/themes/high-contrast-dark.class.scss
  core/src/css/themes/high-contrast-dark.scss
  core/src/css/themes/high-contrast-dark.system.scss
  core/src/css/themes/high-contrast.always.scss
  core/src/css/themes/high-contrast.class.scss
  core/src/css/themes/high-contrast.scss
  core/src/css/themes/high-contrast.system.scss
  core/src/themes/ionic.globals.scss
  core/src/themes/ionic.theme.default.ios.scss
  core/src/themes/ionic.theme.default.md.scss
  core/src/themes/ionic.theme.default.scss
  core/src/themes/test/colors/theme.e2e.ts
  core/src/themes/test/css-variables/index.html
  core/src/utils/test/playwright/generator.ts
Labels: package: core

#29018 refactor(radio): remove legacy syntax
  BREAKING.md
  core/api.txt
  core/src/components.d.ts
  core/src/components/radio-group/test/legacy/basic/index.html
  core/src/components/radio-group/test/legacy/basic/radio-group.e2e.ts
  core/src/components/radio-group/test/legacy/basic/radio-group.e2e.ts-snapshots/radio-group-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/radio-group/test/legacy/basic/radio-group.e2e.ts-snapshots/radio-group-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/radio-group/test/legacy/basic/radio-group.e2e.ts-snapshots/radio-group-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/radio-group/test/legacy/basic/radio-group.e2e.ts-snapshots/radio-group-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/radio-group/test/legacy/basic/radio-group.e2e.ts-snapshots/radio-group-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/radio-group/test/legacy/basic/radio-group.e2e.ts-snapshots/radio-group-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/radio-group/test/legacy/basic/radio-group.e2e.ts-snapshots/radio-group-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/radio-group/test/legacy/basic/radio-group.e2e.ts-snapshots/radio-group-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/radio-group/test/legacy/basic/radio-group.e2e.ts-snapshots/radio-group-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/radio-group/test/legacy/basic/radio-group.e2e.ts-snapshots/radio-group-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/radio-group/test/legacy/basic/radio-group.e2e.ts-snapshots/radio-group-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/radio-group/test/legacy/basic/radio-group.e2e.ts-snapshots/radio-group-diff-md-rtl-Mobile-Safari-linux.png
  core/src/components/radio-group/test/legacy/form/index.html
  core/src/components/radio-group/test/legacy/form/radio-group.e2e.ts
  core/src/components/radio-group/test/legacy/search/index.html
  core/src/components/radio-group/test/legacy/search/radio-group.e2e.ts
  core/src/components/radio/radio.ios.scss
  core/src/components/radio/radio.ios.vars.scss
  core/src/components/radio/radio.md.scss
  core/src/components/radio/radio.md.vars.scss
  core/src/components/radio/radio.scss
  core/src/components/radio/radio.tsx
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#29015 refactor(toggle): remove legacy syntax
  BREAKING.md
  core/api.txt
  core/src/components.d.ts
  core/src/components/toggle/toggle.ios.scss
  core/src/components/toggle/toggle.ios.vars.scss
  core/src/components/toggle/toggle.md.scss
  core/src/components/toggle/toggle.md.vars.scss
  core/src/components/toggle/toggle.scss
  core/src/components/toggle/toggle.tsx
  core/src/utils/test/aria.spec.ts
  packages/angular/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#29020 test(checkbox): remove legacy tests
  core/src/components/checkbox/test/legacy/basic/checkbox.e2e.ts
  core/src/components/checkbox/test/legacy/basic/checkbox.e2e.ts-snapshots/checkbox-basic-md-ltr-Mobile-Safari-linux.png
  core/src/components/checkbox/test/legacy/basic/checkbox.e2e.ts-snapshots/checkbox-basic-md-rtl-Mobile-Safari-linux.png
  core/src/components/checkbox/test/legacy/basic/checkbox.e2e.ts-snapshots/checkbox-legacy-basic-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/legacy/basic/checkbox.e2e.ts-snapshots/checkbox-legacy-basic-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/legacy/basic/checkbox.e2e.ts-snapshots/checkbox-legacy-basic-ios-ltr-Mobile-Safari-linux.png
  core/src/components/checkbox/test/legacy/basic/checkbox.e2e.ts-snapshots/checkbox-legacy-basic-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/legacy/basic/checkbox.e2e.ts-snapshots/checkbox-legacy-basic-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/legacy/basic/checkbox.e2e.ts-snapshots/checkbox-legacy-basic-ios-rtl-Mobile-Safari-linux.png
  core/src/components/checkbox/test/legacy/basic/checkbox.e2e.ts-snapshots/checkbox-legacy-basic-md-ltr-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/legacy/basic/checkbox.e2e.ts-snapshots/checkbox-legacy-basic-md-ltr-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/legacy/basic/checkbox.e2e.ts-snapshots/checkbox-legacy-basic-md-ltr-Mobile-Safari-linux.png
  core/src/components/checkbox/test/legacy/basic/checkbox.e2e.ts-snapshots/checkbox-legacy-basic-md-rtl-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/legacy/basic/checkbox.e2e.ts-snapshots/checkbox-legacy-basic-md-rtl-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/legacy/basic/checkbox.e2e.ts-snapshots/checkbox-legacy-basic-md-rtl-Mobile-Safari-linux.png
  core/src/components/checkbox/test/legacy/basic/index.html
  core/src/components/checkbox/test/legacy/indeterminate/checkbox.e2e.ts
  core/src/components/checkbox/test/legacy/indeterminate/checkbox.e2e.ts-snapshots/checkbox-legacy-indeterminate-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/legacy/indeterminate/checkbox.e2e.ts-snapshots/checkbox-legacy-indeterminate-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/legacy/indeterminate/checkbox.e2e.ts-snapshots/checkbox-legacy-indeterminate-ios-ltr-Mobile-Safari-linux.png
  core/src/components/checkbox/test/legacy/indeterminate/checkbox.e2e.ts-snapshots/checkbox-legacy-indeterminate-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/legacy/indeterminate/checkbox.e2e.ts-snapshots/checkbox-legacy-indeterminate-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/legacy/indeterminate/checkbox.e2e.ts-snapshots/checkbox-legacy-indeterminate-ios-rtl-Mobile-Safari-linux.png
  core/src/components/checkbox/test/legacy/indeterminate/checkbox.e2e.ts-snapshots/checkbox-legacy-indeterminate-md-ltr-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/legacy/indeterminate/checkbox.e2e.ts-snapshots/checkbox-legacy-indeterminate-md-ltr-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/legacy/indeterminate/checkbox.e2e.ts-snapshots/checkbox-legacy-indeterminate-md-ltr-Mobile-Safari-linux.png
  core/src/components/checkbox/test/legacy/indeterminate/checkbox.e2e.ts-snapshots/checkbox-legacy-indeterminate-md-rtl-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/legacy/indeterminate/checkbox.e2e.ts-snapshots/checkbox-legacy-indeterminate-md-rtl-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/legacy/indeterminate/checkbox.e2e.ts-snapshots/checkbox-legacy-indeterminate-md-rtl-Mobile-Safari-linux.png
  core/src/components/checkbox/test/legacy/indeterminate/index.html
  core/src/components/item/test/disabled/index.html
  core/src/components/item/test/disabled/item.e2e.ts-snapshots/item-disabled-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/disabled/item.e2e.ts-snapshots/item-disabled-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/disabled/item.e2e.ts-snapshots/item-disabled-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/legacy/disabled/index.html
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-ios-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-ios-rtl-Mobile-Safari-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-ltr-Mobile-Chrome-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-ltr-Mobile-Firefox-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-ltr-Mobile-Safari-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-rtl-Mobile-Chrome-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-rtl-Mobile-Firefox-linux.png
  core/src/components/item/test/legacy/disabled/item.e2e.ts-snapshots/item-disabled-diff-md-rtl-Mobile-Safari-linux.png
Labels: package: core

#29028 feat(modal): remove capacitor 2 support for status bar styles
  BREAKING.md
  core/src/components/modal/utils.ts
  core/src/utils/native/status-bar.ts
Labels: package: core

#29030 feat(angular): remove IonBackButtonDelegate
  BREAKING.md
  packages/angular/src/index.ts
Labels: package: angular

#29007 refactor(item): remove build conditional for test environment
  core/src/components/item/item.tsx
Labels: package: core

#29039 refactor(range): remove legacy syntax
  BREAKING.md
  core/api.txt
  core/src/components.d.ts
  core/src/components/range/range.ios.scss
  core/src/components/range/range.ios.vars.scss
  core/src/components/range/range.md.scss
  core/src/components/range/range.md.vars.scss
  core/src/components/range/range.tsx
  core/src/components/range/test/a11y/range.e2e.ts
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-active-md-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-active-md-ltr-Mobile-Firefox-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-active-md-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-focus-md-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-focus-md-ltr-Mobile-Firefox-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-focus-md-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-focus-with-pin-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-focus-with-pin-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-focus-with-pin-ios-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-focus-with-pin-md-ltr-Mobile-Chrome-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-focus-with-pin-md-ltr-Mobile-Firefox-linux.png
  core/src/components/range/test/a11y/range.e2e.ts-snapshots/range-focus-with-pin-md-ltr-Mobile-Safari-linux.png
  core/src/components/range/test/range.spec.ts
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/range.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#29036 fix(label): do not grow when in end slot
  core/src/components/label/label.scss
  core/src/components/label/test/item/item.e2e.ts
  core/src/components/label/test/item/item.e2e.ts-snapshots/label-item-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/label/test/item/item.e2e.ts-snapshots/label-item-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/label/test/item/item.e2e.ts-snapshots/label-item-ios-ltr-Mobile-Safari-linux.png
  core/src/components/label/test/item/item.e2e.ts-snapshots/label-item-md-ltr-Mobile-Chrome-linux.png
  core/src/components/label/test/item/item.e2e.ts-snapshots/label-item-md-ltr-Mobile-Firefox-linux.png
  core/src/components/label/test/item/item.e2e.ts-snapshots/label-item-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#28950 fix(overlays): focus is returned to last focus element when focusing toast
  core/src/components/select/select.tsx
  core/src/utils/helpers.ts
  core/src/utils/overlays.ts
  core/src/utils/test/overlays/overlays.e2e.ts
Labels: package: core

#29009 feat(datetime): formatOptions for time button and header
  core/api.txt
  core/src/components.d.ts
  core/src/components/datetime/datetime-interface.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/basic/datetime.e2e.ts
  core/src/components/datetime/test/format.spec.ts
  core/src/components/datetime/utils/format.ts
  core/src/components/datetime/utils/warn.ts
  packages/angular/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#29059 feat(datetime-button): formatOptions for Datetime Button
  core/src/components/datetime-button/datetime-button.tsx
  core/src/components/datetime-button/test/basic/datetime-button.e2e.ts
  core/src/components/datetime/utils/format.ts
Labels: package: core

#29029 refactor(angular): apply range to numeric value accessor
  packages/angular/src/directives/control-value-accessors/numeric-value-accessor.ts
  packages/angular/src/directives/control-value-accessors/text-value-accessor.ts
  packages/angular/test/base/e2e/src/lazy/inputs.spec.ts
  packages/angular/test/base/src/app/lazy/inputs/inputs.component.html
  packages/angular/test/base/src/app/lazy/inputs/inputs.component.ts
Labels: package: angular

#29075 merge release-v7.7.3
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#29076 merge release-7.7.3
  .github/workflows/actions/build-core-stencil-prerelease/action.yml
  .github/workflows/actions/build-core/action.yml
  .github/workflows/assign-issues.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dev-build.yml
  .github/workflows/nightly.yml
  .github/workflows/release-ionic.yml
  .github/workflows/release.yml
  .github/workflows/stencil-nightly.yml
  .github/workflows/update-screenshots.yml
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components/label/label.scss
  core/src/components/label/test/item/item.e2e.ts
  core/src/components/label/test/item/item.e2e.ts-snapshots/label-item-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/label/test/item/item.e2e.ts-snapshots/label-item-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/label/test/item/item.e2e.ts-snapshots/label-item-ios-ltr-Mobile-Safari-linux.png
  core/src/components/label/test/item/item.e2e.ts-snapshots/label-item-md-ltr-Mobile-Chrome-linux.png
  core/src/components/label/test/item/item.e2e.ts-snapshots/label-item-md-ltr-Mobile-Firefox-linux.png
  core/src/components/label/test/item/item.e2e.ts-snapshots/label-item-md-ltr-Mobile-Safari-linux.png
  core/src/components/select/select.tsx
  core/src/utils/helpers.ts
  core/src/utils/overlays.ts
  core/src/utils/test/overlays/overlays.e2e.ts
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#29079 chore(deps): remove puppeteer
  core/package-lock.json
  core/package.json
Labels: package: core

#29065 feat(datetime): formatOptions property for Datetime
  core/api.txt
  core/src/components.d.ts
  core/src/components/datetime-button/datetime-button.tsx
  core/src/components/datetime-button/test/basic/datetime-button.e2e.ts
  core/src/components/datetime-button/test/basic/index.html
  core/src/components/datetime/datetime-interface.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/basic/datetime.e2e.ts
  core/src/components/datetime/test/basic/index.html
  core/src/components/datetime/test/format.spec.ts
  core/src/components/datetime/utils/format.ts
  core/src/components/datetime/utils/validate.ts
  packages/angular/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#29062 feat(input): add --highlight-height variable
  core/api.txt
  core/src/components/input/input.ios.scss
  core/src/components/input/input.md.outline.scss
  core/src/components/input/input.md.scss
  core/src/components/input/input.scss
  core/src/components/input/test/highlight/index.html
  core/src/components/input/test/highlight/input.e2e.ts
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-no-fill-custom-highlight-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-no-fill-custom-highlight-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-no-fill-custom-highlight-ios-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-no-fill-custom-highlight-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-no-fill-custom-highlight-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-no-fill-custom-highlight-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-outline-custom-highlight-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-outline-custom-highlight-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-outline-custom-highlight-ios-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-outline-custom-highlight-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-outline-custom-highlight-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-outline-custom-highlight-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-solid-custom-highlight-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-solid-custom-highlight-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-solid-custom-highlight-ios-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-solid-custom-highlight-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-solid-custom-highlight-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/highlight/input.e2e.ts-snapshots/input-solid-custom-highlight-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#29063 feat(textarea): add --highlight-height variable
  core/api.txt
  core/src/components/textarea/test/highlight/index.html
  core/src/components/textarea/test/highlight/textarea.e2e.ts
  core/src/components/textarea/test/highlight/textarea.e2e.ts-snapshots/textarea-no-fill-custom-highlight-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/highlight/textarea.e2e.ts-snapshots/textarea-no-fill-custom-highlight-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/highlight/textarea.e2e.ts-snapshots/textarea-no-fill-custom-highlight-ios-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/highlight/textarea.e2e.ts-snapshots/textarea-no-fill-custom-highlight-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/highlight/textarea.e2e.ts-snapshots/textarea-no-fill-custom-highlight-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/highlight/textarea.e2e.ts-snapshots/textarea-no-fill-custom-highlight-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/highlight/textarea.e2e.ts-snapshots/textarea-outline-custom-highlight-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/highlight/textarea.e2e.ts-snapshots/textarea-outline-custom-highlight-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/highlight/textarea.e2e.ts-snapshots/textarea-outline-custom-highlight-ios-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/highlight/textarea.e2e.ts-snapshots/textarea-outline-custom-highlight-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/highlight/textarea.e2e.ts-snapshots/textarea-outline-custom-highlight-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/highlight/textarea.e2e.ts-snapshots/textarea-outline-custom-highlight-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/highlight/textarea.e2e.ts-snapshots/textarea-solid-custom-highlight-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/highlight/textarea.e2e.ts-snapshots/textarea-solid-custom-highlight-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/highlight/textarea.e2e.ts-snapshots/textarea-solid-custom-highlight-ios-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/test/highlight/textarea.e2e.ts-snapshots/textarea-solid-custom-highlight-md-ltr-Mobile-Chrome-linux.png
  core/src/components/textarea/test/highlight/textarea.e2e.ts-snapshots/textarea-solid-custom-highlight-md-ltr-Mobile-Firefox-linux.png
  core/src/components/textarea/test/highlight/textarea.e2e.ts-snapshots/textarea-solid-custom-highlight-md-ltr-Mobile-Safari-linux.png
  core/src/components/textarea/textarea.ios.scss
  core/src/components/textarea/textarea.md.outline.scss
  core/src/components/textarea/textarea.md.scss
  core/src/components/textarea/textarea.scss
Labels: package: core

#29064 feat(select): add --highlight-height variable
  core/api.txt
  core/src/components/select/select.ios.scss
  core/src/components/select/select.md.outline.scss
  core/src/components/select/select.md.scss
  core/src/components/select/select.scss
  core/src/components/select/test/highlight/index.html
  core/src/components/select/test/highlight/select.e2e.ts
  core/src/components/select/test/highlight/select.e2e.ts-snapshots/select-no-fill-custom-highlight-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/highlight/select.e2e.ts-snapshots/select-no-fill-custom-highlight-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/highlight/select.e2e.ts-snapshots/select-no-fill-custom-highlight-md-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/highlight/select.e2e.ts-snapshots/select-outline-custom-highlight-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/highlight/select.e2e.ts-snapshots/select-outline-custom-highlight-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/highlight/select.e2e.ts-snapshots/select-outline-custom-highlight-md-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/highlight/select.e2e.ts-snapshots/select-solid-custom-highlight-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/highlight/select.e2e.ts-snapshots/select-solid-custom-highlight-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/highlight/select.e2e.ts-snapshots/select-solid-custom-highlight-md-ltr-Mobile-Safari-linux.png
Labels: package: core

#29097 v8.0.0-beta.0
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  docs/CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#29099 fix(modal): ariaLabel and role are inherited when set via htmlAttributes
  core/src/components/modal/modal.tsx
  core/src/components/modal/test/a11y/modal.spec.ts
  core/src/components/modal/test/modal-attributes.spec.tsx
Labels: package: core
