Repository ionic-team/ionic-framework, pull requests merged in 2025-08, with the labels that each got.

#30598 test(core): fix flaky datetime and input-otp tests
  core/src/components/datetime/test/custom/datetime.e2e.ts
  core/src/components/datetime/test/custom/index.html
  core/src/components/datetime/test/datetime.e2e.ts
  core/src/components/input-otp/test/separators/input-otp.e2e.ts
Labels: package: core

#30602 test(react): general navigation improvement
  packages/react/test/base/src/App.tsx
  packages/react/test/base/src/pages/Icons.tsx
  packages/react/test/base/src/pages/Inputs.tsx
  packages/react/test/base/src/pages/Main.tsx
  packages/react/test/base/src/pages/Tabs.tsx
  packages/react/test/base/src/pages/TabsBasic.tsx
  packages/react/test/base/src/pages/TabsDirectNavigation.tsx
  packages/react/test/base/src/pages/navigation/NavComponent.tsx
  packages/react/test/base/tests/e2e/specs/components/tabs-direct-navigation.cy.ts
Labels: package: react

#30607 merge release-8.7.2
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#30618 fix(avatar): update tokens and fix disable state
  core/src/components/avatar/avatar.ionic.scss
Labels: package: core, type: bug

#30610 test(vue): improve test app
  packages/vue/test/base/index.html
  packages/vue/test/base/public/favicon.png
  packages/vue/test/base/src/components/ModalContent.vue
  packages/vue/test/base/src/components/NavChild.vue
  packages/vue/test/base/src/components/NavRoot.vue
  packages/vue/test/base/src/main.ts
  packages/vue/test/base/src/router/index.ts
  packages/vue/test/base/src/theme/variables.css
  packages/vue/test/base/src/views/Breadcrumbs.vue
  packages/vue/test/base/src/views/Components.vue
  packages/vue/test/base/src/views/DefaultHref.vue
  packages/vue/test/base/src/views/Home.vue
  packages/vue/test/base/src/views/Icons.vue
  packages/vue/test/base/src/views/Inputs.vue
  packages/vue/test/base/src/views/Lifecycle.vue
  packages/vue/test/base/src/views/LifecycleSetup.vue
  packages/vue/test/base/src/views/Navigation.vue
  packages/vue/test/base/src/views/Overlays.vue
  packages/vue/test/base/src/views/OverlaysKeepContentsMounted.vue
  packages/vue/test/base/src/views/Range.vue
  packages/vue/test/base/src/views/ReorderGroup.vue
  packages/vue/test/base/src/views/Routing.vue
  packages/vue/test/base/src/views/RoutingChild.vue
  packages/vue/test/base/src/views/RoutingParameter.vue
  packages/vue/test/base/src/views/RoutingParameterView.vue
  packages/vue/test/base/src/views/Select.vue
  packages/vue/test/base/src/views/Template.vue
  packages/vue/test/base/src/views/VersionTest.vue
  packages/vue/test/base/src/views/nested/Folder.vue
  packages/vue/test/base/src/views/nested/NestedChild.vue
  packages/vue/test/base/src/views/nested/NestedChildTwo.vue
  packages/vue/test/base/src/views/nested/RouterOutlet.vue
  packages/vue/test/base/src/views/tabs-secondary/Tab1Secondary.vue
  packages/vue/test/base/src/views/tabs-secondary/Tab2Secondary.vue
  packages/vue/test/base/src/views/tabs-secondary/Tab3Secondary.vue
  packages/vue/test/base/src/views/tabs-secondary/TabsSecondary.vue
  packages/vue/test/base/src/views/tabs/Tab1.vue
  packages/vue/test/base/src/views/tabs/Tab1Parameter.vue
  packages/vue/test/base/src/views/tabs/Tab2.vue
  packages/vue/test/base/src/views/tabs/Tab3.vue
  packages/vue/test/base/src/views/tabs/Tab4.vue
  packages/vue/test/base/src/views/tabs/Tabs.vue
  packages/vue/test/base/tests/e2e/specs/routing.cy.js
  packages/vue/test/base/tests/e2e/specs/tabs.cy.js
  packages/vue/test/base/vite.config.js
Labels: package: vue

#30640 refactor(themes): add modular themes directory structure and docs
  core/src/themes/base/dark.tokens.ts
  core/src/themes/base/default.tokens.ts
  core/src/themes/base/light.tokens.ts
  core/src/themes/ionic/dark.tokens.ts
  core/src/themes/ionic/default.tokens.ts
  core/src/themes/ionic/light.tokens.ts
  core/src/themes/ios/dark.tokens.ts
  core/src/themes/ios/default.tokens.ts
  core/src/themes/ios/light.tokens.ts
  core/src/themes/md/dark.tokens.ts
  core/src/themes/md/default.tokens.ts
  core/src/themes/md/light.tokens.ts
  docs/themes/README.md
Labels: package: core

#30651 feat(themes): add support for modular themes and custom themes
  core/src/components/back-button/back-button.tsx
  core/src/components/breadcrumb/breadcrumb.tsx
  core/src/components/button/button.tsx
  core/src/components/card/card.tsx
  core/src/components/fab-button/fab-button.tsx
  core/src/components/item/item.tsx
  core/src/components/router-link/router-link.tsx
  core/src/global/ionic-global.ts
  core/src/index.ts
  core/src/themes/base/default.tokens.ts
  core/src/utils/config.ts
  core/src/utils/helpers.spec.ts
  core/src/utils/helpers.ts
  core/src/utils/theme.spec.ts
  core/src/utils/theme.ts
Labels: package: core
