Repository ionic-team/ionic-framework, pull requests merged in 2025-07, with the labels that each got.

#30525 fix(angular): update schematics to support Angular's latest build system
  packages/angular/README.md
  packages/angular/src/schematics/utils/config.ts
Labels: package: angular

#30469 test(item-sliding): add test for side issue with CDN
  core/src/components/item-sliding/test/async/item-sliding.e2e.ts
  core/src/utils/test/playwright/page/utils/set-content.ts
  core/src/utils/test/playwright/playwright-declarations.ts
Labels: package: core

#30534 feat(datetime): add border property to highlightedDates
  core/src/components/datetime/datetime-interface.ts
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/highlighted-dates/datetime.e2e.ts
  core/src/components/datetime/test/highlighted-dates/datetime.e2e.ts-snapshots/datetime-highlightedDates-array-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/highlighted-dates/datetime.e2e.ts-snapshots/datetime-highlightedDates-array-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/highlighted-dates/datetime.e2e.ts-snapshots/datetime-highlightedDates-array-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/highlighted-dates/datetime.e2e.ts-snapshots/datetime-highlightedDates-array-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/highlighted-dates/datetime.e2e.ts-snapshots/datetime-highlightedDates-array-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/highlighted-dates/datetime.e2e.ts-snapshots/datetime-highlightedDates-array-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/highlighted-dates/datetime.e2e.ts-snapshots/datetime-highlightedDates-callback-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/highlighted-dates/datetime.e2e.ts-snapshots/datetime-highlightedDates-callback-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/highlighted-dates/datetime.e2e.ts-snapshots/datetime-highlightedDates-callback-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/highlighted-dates/datetime.e2e.ts-snapshots/datetime-highlightedDates-callback-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/highlighted-dates/datetime.e2e.ts-snapshots/datetime-highlightedDates-callback-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/highlighted-dates/datetime.e2e.ts-snapshots/datetime-highlightedDates-callback-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/highlighted-dates/datetime.e2e.ts-snapshots/datetime-highlightedDates-single-color-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/highlighted-dates/datetime.e2e.ts-snapshots/datetime-highlightedDates-single-color-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/highlighted-dates/datetime.e2e.ts-snapshots/datetime-highlightedDates-single-color-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/highlighted-dates/datetime.e2e.ts-snapshots/datetime-highlightedDates-single-color-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/highlighted-dates/datetime.e2e.ts-snapshots/datetime-highlightedDates-single-color-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/highlighted-dates/datetime.e2e.ts-snapshots/datetime-highlightedDates-single-color-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/highlighted-dates/index.html
  core/src/components/datetime/utils/state.ts
Labels: package: core

#30537 chore(git): update next from main
  .github/workflows/conventional-commit.yml
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components/item-sliding/test/async/item-sliding.e2e.ts
  core/src/components/modal/animations/ios.enter.ts
  core/src/components/modal/animations/ios.leave.ts
  core/src/components/modal/animations/ios.transition.ts
  core/src/components/modal/modal.tsx
  core/src/utils/test/playwright/page/utils/set-content.ts
  core/src/utils/test/playwright/playwright-declarations.ts
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#30519 fix(item): allow nested content to be conditionally interactive
  core/src/components/item/item.tsx
  core/src/components/item/test/inputs/item.e2e.ts
Labels: package: core

#30547 fix(segment-view): scroll to correct content when height is not set
  core/src/components/segment-content/segment-content.scss
  core/src/components/segment-view/test/dynamic-height/index.html
  core/src/components/segment-view/test/dynamic-height/segment-view.e2e.ts
Labels: package: core

#30554 merge release-8.6.5
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#30555 merge release-8.6.5
  .github/workflows/assign-issues.yml
  CHANGELOG.md
  core/CHANGELOG.md
  core/Dockerfile
  core/package-lock.json
  core/package.json
  core/src/components/input-otp/input-otp.tsx
  core/src/components/input-otp/test/basic/input-otp.e2e.ts
  core/src/components/input/input.scss
  core/src/components/input/test/states/input.e2e.ts
  core/src/components/item/item.tsx
  core/src/components/item/test/inputs/item.e2e.ts
  core/src/components/modal/animations/ios.transition.ts
  core/src/components/modal/modal.tsx
  core/src/components/modal/test/inline/index.html
  core/src/components/modal/test/inline/modal.e2e.ts
  core/src/components/segment-content/segment-content.scss
  core/src/components/segment-view/test/dynamic-height/index.html
  core/src/components/segment-view/test/dynamic-height/segment-view.e2e.ts
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#30559 fix(checkbox): improve states and colors
  core/src/components/checkbox/checkbox.ionic.scss
  core/src/components/checkbox/test/states/checkbox.e2e.ts
  core/src/components/checkbox/test/states/checkbox.e2e.ts-snapshots/checkbox-focused-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/states/checkbox.e2e.ts-snapshots/checkbox-focused-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/states/checkbox.e2e.ts-snapshots/checkbox-focused-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/checkbox/test/states/checkbox.e2e.ts-snapshots/checkbox-focused-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/states/checkbox.e2e.ts-snapshots/checkbox-focused-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/states/checkbox.e2e.ts-snapshots/checkbox-focused-ios-ltr-Mobile-Safari-linux.png
  core/src/components/checkbox/test/states/checkbox.e2e.ts-snapshots/checkbox-focused-md-ltr-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/states/checkbox.e2e.ts-snapshots/checkbox-focused-md-ltr-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/states/checkbox.e2e.ts-snapshots/checkbox-focused-md-ltr-Mobile-Safari-linux.png
  core/src/components/checkbox/test/states/checkbox.e2e.ts-snapshots/invalid-checkbox-disabled-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/states/checkbox.e2e.ts-snapshots/invalid-checkbox-disabled-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/states/checkbox.e2e.ts-snapshots/invalid-checkbox-disabled-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/checkbox/test/states/checkbox.e2e.ts-snapshots/invalid-checkbox-disabled-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/states/checkbox.e2e.ts-snapshots/invalid-checkbox-disabled-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/states/checkbox.e2e.ts-snapshots/invalid-checkbox-disabled-ios-ltr-Mobile-Safari-linux.png
  core/src/components/checkbox/test/states/checkbox.e2e.ts-snapshots/invalid-checkbox-disabled-md-ltr-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/states/checkbox.e2e.ts-snapshots/invalid-checkbox-disabled-md-ltr-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/states/checkbox.e2e.ts-snapshots/invalid-checkbox-disabled-md-ltr-Mobile-Safari-linux.png
  core/src/components/checkbox/test/states/index.html
Labels: package: core

#30566 feat(infinite-scroll): adding preserveRerenderScrollPosition property
  core/api.txt
  core/src/components.d.ts
  core/src/components/infinite-scroll/infinite-scroll.tsx
  core/src/components/infinite-scroll/test/preserve-rerender-scroll-position/index.html
  core/src/components/infinite-scroll/test/preserve-rerender-scroll-position/infinite-scroll.e2e.ts
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#30576 merge release-8.6.6
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components/infinite-scroll/test/top/index.html
  core/src/components/menu/test/a11y/menu.e2e.ts
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react

#30579 chore(deps): downgrade Stencil to v4.33.1
  core/package-lock.json
  core/package.json
Labels: package: core

#30586 chore(deps): update outsystems design tokens package
  core/package-lock.json
  core/package.json
Labels: package: core

#30588 merge release-8.7.1
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react
