Repository ionic-team/ionic-framework, pull requests merged in 2025-09, with the labels that each got.

#30660 fix(select-modal): hide focus option's border for ionic theme
  core/src/components/select-modal/select-modal.ionic.scss
Labels: package: core

#30635 fix(input): improve error text accessibility
  core/src/components/input/input.tsx
  core/src/components/input/test/validation/index.html
  core/src/components/textarea/test/validation/index.html
  core/src/components/textarea/textarea.tsx
  packages/angular/test/base/src/app/lazy/app-lazy/app.module.ts
  packages/angular/test/base/src/app/lazy/app-lazy/app.routes.ts
  packages/angular/test/base/src/app/lazy/home-page/home-page.component.html
  packages/angular/test/base/src/app/lazy/template-form/template-form.component.html
  packages/angular/test/base/src/app/lazy/template-form/template-form.component.ts
  packages/angular/test/base/src/app/standalone/app-standalone/app.routes.ts
  packages/angular/test/base/src/app/standalone/home-page/home-page.component.html
  packages/angular/test/base/src/app/standalone/validation/input-validation/input-validation.component.html
  packages/angular/test/base/src/app/standalone/validation/input-validation/input-validation.component.scss
  packages/angular/test/base/src/app/standalone/validation/input-validation/input-validation.component.ts
  packages/angular/test/base/src/app/standalone/validation/textarea-validation/textarea-validation.component.html
  packages/angular/test/base/src/app/standalone/validation/textarea-validation/textarea-validation.component.scss
  packages/angular/test/base/src/app/standalone/validation/textarea-validation/textarea-validation.component.ts
Labels: package: core, package: angular

#30666 feat(tokens): modernize scripts and change prefix to token
  core/package-lock.json
  core/package.json
  core/scripts/tokens/index.js
  core/scripts/tokens/index.mjs
  core/scripts/tokens/utils.js
  core/scripts/tokens/utils.mjs
  core/src/css/test/typography/basic/index.html
  core/src/css/test/typography/basic/typography.e2e.ts-snapshots/ionic-typography-basic-styles-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/css/test/typography/basic/typography.e2e.ts-snapshots/ionic-typography-basic-styles-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/css/test/typography/basic/typography.e2e.ts-snapshots/ionic-typography-basic-styles-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/foundations/ionic.utility.scss
  core/src/foundations/ionic.vars.scss
Labels: type: feature request, package: core, type: bug, dependencies

#30695 merge release-8.7.5
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react
