Repository ionic-team/ionic-framework, pull requests merged in 2025-05, with the labels that each got.

#30384 fix(labels): prevent clicking a label from triggering onClick twice on several components
  core/src/components/checkbox/checkbox.tsx
  core/src/components/checkbox/test/basic/checkbox.e2e.ts
  core/src/components/input/input.tsx
  core/src/components/input/test/basic/input.e2e.ts
  core/src/components/select/select.tsx
  core/src/components/select/test/basic/select.e2e.ts
  core/src/components/textarea/test/basic/textarea.e2e.ts
  core/src/components/textarea/textarea.tsx
  core/src/components/toggle/test/basic/toggle.e2e.ts
  core/src/components/toggle/toggle.tsx
Labels: package: core

#30396 merge release-8.5.7
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react, release

#30397 merge release-8.5.7
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components/checkbox/checkbox.tsx
  core/src/components/checkbox/test/basic/checkbox.e2e.ts
  core/src/components/input/input.tsx
  core/src/components/input/test/basic/input.e2e.ts
  core/src/components/select/select.tsx
  core/src/components/select/test/basic/select.e2e.ts
  core/src/components/textarea/test/basic/textarea.e2e.ts
  core/src/components/textarea/textarea.tsx
  core/src/components/toggle/test/basic/toggle.e2e.ts
  core/src/components/toggle/toggle.tsx
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react, release

#30416 feat(datetime): fix height when presentation='time'
  core/src/components/datetime/datetime.ionic.scss
  core/src/components/datetime/test/display/datetime.e2e.ts
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-cover-date-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-cover-date-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-cover-date-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-cover-date-time-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-cover-date-time-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-cover-date-time-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-cover-time-date-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-cover-time-date-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-cover-time-date-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-cover-time-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-cover-time-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-cover-time-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-date-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-date-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-date-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-date-time-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-date-time-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-date-time-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-time-date-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-time-date-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-time-date-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-time-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-time-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/datetime/test/display/datetime.e2e.ts-snapshots/datetime-display-time-ionic-md-ltr-light-Mobile-Safari-linux.png
Labels: package: core

#30418 fix(progress-bar, spinner): update colors for ionic theme
  core/src/components/progress-bar/progress-bar.common.scss
  core/src/components/progress-bar/progress-bar.ionic.scss
  core/src/components/progress-bar/progress-bar.native.scss
  core/src/components/spinner/spinner.ionic.scss
Labels: package: core, type: bug

#30417 feat(input): add styles for ionic theme for fill=solid
  core/src/components/input/input.ionic.outline.scss
  core/src/components/input/input.ionic.scss
  core/src/components/input/input.ionic.solid.scss
  core/src/components/input/input.tsx
  core/src/components/input/test/states/index.html
  core/src/components/input/test/states/input.e2e.ts
  core/src/components/input/test/states/input.e2e.ts-snapshots/input-disabled-solid-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/input/test/states/input.e2e.ts-snapshots/input-disabled-solid-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/input/test/states/input.e2e.ts-snapshots/input-disabled-solid-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/input/test/states/input.e2e.ts-snapshots/input-focused-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/input/test/states/input.e2e.ts-snapshots/input-focused-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/input/test/states/input.e2e.ts-snapshots/input-focused-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/input/test/states/input.e2e.ts-snapshots/input-readonly-solid-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/input/test/states/input.e2e.ts-snapshots/input-readonly-solid-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/input/test/states/input.e2e.ts-snapshots/input-readonly-solid-ionic-md-ltr-light-Mobile-Safari-linux.png
Labels: package: core

#30409 fix(scroll-assist): allow focus on input's siblings
  core/src/components/input/input.tsx
  core/src/utils/input-shims/hacks/scroll-assist.ts
Labels: package: core

#30439 fix(tab-button): fix font-size token on ionic theme
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-bottom-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-bottom-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-bottom-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-top-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-top-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-top-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/tab-bar/test/basic/tab-bar.e2e.ts-snapshots/tab-bar-default-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/tab-bar/test/basic/tab-bar.e2e.ts-snapshots/tab-bar-default-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/tab-bar/test/basic/tab-bar.e2e.ts-snapshots/tab-bar-default-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/tab-bar/test/basic/tab-bar.e2e.ts-snapshots/tab-bar-default-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/tab-bar/test/basic/tab-bar.e2e.ts-snapshots/tab-bar-default-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/tab-bar/test/basic/tab-bar.e2e.ts-snapshots/tab-bar-default-ionic-md-rtl-light-Mobile-Safari-linux.png
  core/src/components/tab-bar/test/expand/tab-bar.e2e.ts-snapshots/tab-bar-expand-compact-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/tab-bar/test/expand/tab-bar.e2e.ts-snapshots/tab-bar-expand-compact-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/tab-bar/test/expand/tab-bar.e2e.ts-snapshots/tab-bar-expand-compact-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/tab-bar/test/expand/tab-bar.e2e.ts-snapshots/tab-bar-expand-full-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/tab-bar/test/expand/tab-bar.e2e.ts-snapshots/tab-bar-expand-full-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/tab-bar/test/expand/tab-bar.e2e.ts-snapshots/tab-bar-expand-full-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/tab-bar/test/shape/tab-bar.e2e.ts-snapshots/tab-bar-shape-rectangular-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/tab-bar/test/shape/tab-bar.e2e.ts-snapshots/tab-bar-shape-rectangular-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/tab-bar/test/shape/tab-bar.e2e.ts-snapshots/tab-bar-shape-rectangular-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/tab-bar/test/shape/tab-bar.e2e.ts-snapshots/tab-bar-shape-round-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/tab-bar/test/shape/tab-bar.e2e.ts-snapshots/tab-bar-shape-round-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/tab-bar/test/shape/tab-bar.e2e.ts-snapshots/tab-bar-shape-round-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/tab-bar/test/shape/tab-bar.e2e.ts-snapshots/tab-bar-shape-soft-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/tab-bar/test/shape/tab-bar.e2e.ts-snapshots/tab-bar-shape-soft-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/tab-bar/test/shape/tab-bar.e2e.ts-snapshots/tab-bar-shape-soft-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/tab-button/tab-button.ionic.scss
  core/src/components/tab-button/test/shape/tab-button.e2e.ts-snapshots/tab-button-shape-rectangular-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/shape/tab-button.e2e.ts-snapshots/tab-button-shape-rectangular-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/shape/tab-button.e2e.ts-snapshots/tab-button-shape-rectangular-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/tab-button/test/shape/tab-button.e2e.ts-snapshots/tab-button-shape-round-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/shape/tab-button.e2e.ts-snapshots/tab-button-shape-round-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/shape/tab-button.e2e.ts-snapshots/tab-button-shape-round-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/tab-button/test/shape/tab-button.e2e.ts-snapshots/tab-button-shape-soft-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/shape/tab-button.e2e.ts-snapshots/tab-button-shape-soft-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/shape/tab-button.e2e.ts-snapshots/tab-button-shape-soft-ionic-md-ltr-light-Mobile-Safari-linux.png
Labels: package: core, type: bug

#30438 fix(avatar): fix avatar tokens on ionic theme
  core/src/components/avatar/avatar.ionic.scss
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-large-icon-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-large-icon-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-large-icon-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-small-icon-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xlarge-icon-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xlarge-icon-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xlarge-icon-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/size/avatar.e2e.ts-snapshots/avatar-size-xsmall-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
Labels: package: core, type: bug

#29610 fix(datetime): set working parts to last selected value
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/multiple/datetime.e2e.ts
Labels: package: core
