Repository ionic-team/ionic-framework, pull requests merged in 2025-02, with the labels that each got.

#30097 feat(modal): add expandToScroll property to allow scrolling at all breakpoints
  core/api.txt
  core/src/components.d.ts
  core/src/components/modal/animations/ios.enter.ts
  core/src/components/modal/animations/ios.leave.ts
  core/src/components/modal/animations/md.enter.ts
  core/src/components/modal/animations/md.leave.ts
  core/src/components/modal/animations/sheet.ts
  core/src/components/modal/gestures/sheet.ts
  core/src/components/modal/modal-interface.ts
  core/src/components/modal/modal.ios.scss
  core/src/components/modal/modal.scss
  core/src/components/modal/modal.tsx
  core/src/components/modal/modal.vars.scss
  core/src/components/modal/test/sheet/index.html
  core/src/components/modal/test/sheet/modal.e2e.ts-snapshots/modal-sheet-present-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/modal/test/sheet/modal.e2e.ts-snapshots/modal-sheet-present-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/modal/test/sheet/modal.e2e.ts-snapshots/modal-sheet-present-ios-ltr-Mobile-Safari-linux.png
  core/src/components/modal/test/sheet/modal.e2e.ts-snapshots/modal-sheet-present-md-ltr-Mobile-Chrome-linux.png
  core/src/components/modal/test/sheet/modal.e2e.ts-snapshots/modal-sheet-present-md-ltr-Mobile-Firefox-linux.png
  core/src/components/modal/test/sheet/modal.e2e.ts-snapshots/modal-sheet-present-md-ltr-Mobile-Safari-linux.png
  core/src/css/core.scss
  packages/angular/common/src/overlays/modal.ts
  packages/vue/src/components/Overlays.ts
Labels: package: core, package: angular, package: vue

#30156 feat(toggle): add required prop
  core/api.txt
  core/src/components.d.ts
  core/src/components/toggle/test/toggle.spec.ts
  core/src/components/toggle/toggle.tsx
  packages/angular/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#30155 feat(select): add required prop
  core/api.txt
  core/src/components.d.ts
  core/src/components/select/select.tsx
  core/src/components/select/test/select.spec.tsx
  packages/angular/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#30157 feat(checkbox): add required prop
  core/api.txt
  core/src/components.d.ts
  core/src/components/checkbox/checkbox.tsx
  core/src/components/checkbox/test/checkbox.spec.ts
  packages/angular/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#30138 fix(segment-button): protect connectedCallback for when segment-content has not yet been created (cherry-pick)
  core/src/components/segment-button/segment-button.tsx
  core/src/components/segment-view/test/basic/index.html
  core/src/utils/helpers.ts
Labels: package: core

#30186 feat(css): add new utility-classes
  core/src/css/display.scss
  core/src/css/flex-utils.scss
Labels: type: feature request, package: core

#30185 feat(progress-bar): add styling for the ionic theme
  core/api.txt
  core/src/components.d.ts
  core/src/components/progress-bar/progress-bar.ionic.scss
  core/src/components/progress-bar/progress-bar.tsx
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/basic/progress-bar.e2e.ts-snapshots/progress-bar-basic-ionic-md-rtl-light-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/shape/index.html
  core/src/components/progress-bar/test/shape/progress-bar.e2e.ts
  core/src/components/progress-bar/test/shape/progress-bar.e2e.ts-snapshots/progress-bar-shape-rectangular-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/shape/progress-bar.e2e.ts-snapshots/progress-bar-shape-rectangular-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/shape/progress-bar.e2e.ts-snapshots/progress-bar-shape-rectangular-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/progress-bar/test/shape/progress-bar.e2e.ts-snapshots/progress-bar-shape-round-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/progress-bar/test/shape/progress-bar.e2e.ts-snapshots/progress-bar-shape-round-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/progress-bar/test/shape/progress-bar.e2e.ts-snapshots/progress-bar-shape-round-ionic-md-ltr-light-Mobile-Safari-linux.png
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#30187 fix(textarea): update disabled and readonly to match ionic theme
  core/src/components/textarea/test/states/textarea.e2e.ts
  core/src/components/textarea/test/states/textarea.e2e.ts-snapshots/textarea-disabled-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/textarea/test/states/textarea.e2e.ts-snapshots/textarea-disabled-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/textarea/test/states/textarea.e2e.ts-snapshots/textarea-disabled-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/textarea/test/states/textarea.e2e.ts-snapshots/textarea-readonly-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/textarea/test/states/textarea.e2e.ts-snapshots/textarea-readonly-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/textarea/test/states/textarea.e2e.ts-snapshots/textarea-readonly-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/textarea/textarea.ionic.scss
  core/src/components/textarea/textarea.tsx
Labels: package: core, type: bug

#30198 chore(deps): update outsystems-design-tokens dependency
  core/package-lock.json
  core/package.json
  core/src/components/datetime/datetime.ionic.scss
  core/src/components/list-header/test/basic/list-header.e2e.ts-snapshots/list-header-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/list-header/test/basic/list-header.e2e.ts-snapshots/list-header-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/list-header/test/basic/list-header.e2e.ts-snapshots/list-header-ios-ltr-Mobile-Safari-linux.png
  core/src/components/list-header/test/basic/list-header.e2e.ts-snapshots/list-header-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/list-header/test/basic/list-header.e2e.ts-snapshots/list-header-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/list-header/test/basic/list-header.e2e.ts-snapshots/list-header-ios-rtl-Mobile-Safari-linux.png
  core/src/components/list-header/test/basic/list-header.e2e.ts-snapshots/list-header-md-ltr-Mobile-Chrome-linux.png
  core/src/components/list-header/test/basic/list-header.e2e.ts-snapshots/list-header-md-ltr-Mobile-Firefox-linux.png
  core/src/components/list-header/test/basic/list-header.e2e.ts-snapshots/list-header-md-ltr-Mobile-Safari-linux.png
  core/src/components/list-header/test/basic/list-header.e2e.ts-snapshots/list-header-md-rtl-Mobile-Chrome-linux.png
  core/src/components/list-header/test/basic/list-header.e2e.ts-snapshots/list-header-md-rtl-Mobile-Firefox-linux.png
  core/src/components/list-header/test/basic/list-header.e2e.ts-snapshots/list-header-md-rtl-Mobile-Safari-linux.png
  core/src/components/segment-button/segment-button.ionic.scss
  core/src/css/ionic/link.ionic.scss
  core/src/css/test/link/basic/link.e2e.ts-snapshots/link-standalone-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/css/test/link/basic/link.e2e.ts-snapshots/link-standalone-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/css/test/link/basic/link.e2e.ts-snapshots/link-standalone-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/css/test/link/basic/link.e2e.ts-snapshots/link-standalone-nested-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/css/test/link/basic/link.e2e.ts-snapshots/link-standalone-nested-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/css/test/link/basic/link.e2e.ts-snapshots/link-standalone-nested-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/css/test/link/basic/link.e2e.ts-snapshots/link-underline-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/css/test/link/basic/link.e2e.ts-snapshots/link-underline-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/css/test/link/basic/link.e2e.ts-snapshots/link-underline-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/css/test/typography/basic/index.html
  core/src/css/test/typography/basic/typography.e2e.ts-snapshots/ionic-typography-basic-styles-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/css/test/typography/basic/typography.e2e.ts-snapshots/ionic-typography-basic-styles-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/css/test/typography/basic/typography.e2e.ts-snapshots/ionic-typography-basic-styles-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/foundations/ionic.utility.scss
  core/src/foundations/ionic.vars.scss
Labels: package: core, dependencies

#30208 fix(backdrop): remove blur effect for ionic theme
  core/src/components/backdrop/backdrop.ionic.scss
  core/src/components/modal/test/shape/modal.e2e.ts-snapshots/modal-shape-sheet-default-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/modal/test/shape/modal.e2e.ts-snapshots/modal-shape-sheet-rectangular-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/modal/test/shape/modal.e2e.ts-snapshots/modal-shape-sheet-round-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/modal/test/shape/modal.e2e.ts-snapshots/modal-shape-sheet-soft-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/modal/test/sheet/index.html
  core/src/components/modal/test/sheet/modal.e2e.ts
  core/src/components/modal/test/sheet/modal.e2e.ts-snapshots/modal-backdrop-hidden-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/modal/test/sheet/modal.e2e.ts-snapshots/modal-backdrop-hidden-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/modal/test/sheet/modal.e2e.ts-snapshots/modal-backdrop-hidden-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/modal/test/sheet/modal.e2e.ts-snapshots/modal-half-sheet-present-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/modal/test/sheet/modal.e2e.ts-snapshots/modal-half-sheet-present-ionic-md-ltr-light-Mobile-Safari-linux.png
Labels: package: core

#30218 fix(focusVisibleElement): set focus on custom appRootSelector
  core/src/components.d.ts
  core/src/components/app/app.tsx
  core/src/utils/focus-visible.ts
  core/src/utils/helpers.ts
Labels: package: core

#30202 fix(select): auto-scroll to selected item for all interfaces
  core/src/components/select/select.tsx
  core/src/components/select/test/basic/index.html
  core/src/components/select/test/basic/select.e2e.ts
  core/src/components/select/test/basic/select.e2e.ts-snapshots/select-basic-action-sheet-scroll-to-selected-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/basic/select.e2e.ts-snapshots/select-basic-action-sheet-scroll-to-selected-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/basic/select.e2e.ts-snapshots/select-basic-action-sheet-scroll-to-selected-ios-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/basic/select.e2e.ts-snapshots/select-basic-action-sheet-scroll-to-selected-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/basic/select.e2e.ts-snapshots/select-basic-action-sheet-scroll-to-selected-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/basic/select.e2e.ts-snapshots/select-basic-action-sheet-scroll-to-selected-md-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/basic/select.e2e.ts-snapshots/select-basic-alert-scroll-to-selected-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/basic/select.e2e.ts-snapshots/select-basic-alert-scroll-to-selected-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/basic/select.e2e.ts-snapshots/select-basic-alert-scroll-to-selected-ios-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/basic/select.e2e.ts-snapshots/select-basic-alert-scroll-to-selected-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/basic/select.e2e.ts-snapshots/select-basic-alert-scroll-to-selected-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/basic/select.e2e.ts-snapshots/select-basic-alert-scroll-to-selected-md-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/basic/select.e2e.ts-snapshots/select-basic-modal-scroll-to-selected-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/basic/select.e2e.ts-snapshots/select-basic-modal-scroll-to-selected-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/basic/select.e2e.ts-snapshots/select-basic-modal-scroll-to-selected-ios-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/basic/select.e2e.ts-snapshots/select-basic-modal-scroll-to-selected-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/basic/select.e2e.ts-snapshots/select-basic-modal-scroll-to-selected-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/basic/select.e2e.ts-snapshots/select-basic-modal-scroll-to-selected-md-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/basic/select.e2e.ts-snapshots/select-basic-popover-scroll-to-selected-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/basic/select.e2e.ts-snapshots/select-basic-popover-scroll-to-selected-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/basic/select.e2e.ts-snapshots/select-basic-popover-scroll-to-selected-ios-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/basic/select.e2e.ts-snapshots/select-basic-popover-scroll-to-selected-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/basic/select.e2e.ts-snapshots/select-basic-popover-scroll-to-selected-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/basic/select.e2e.ts-snapshots/select-basic-popover-scroll-to-selected-md-ltr-Mobile-Safari-linux.png
Labels: package: core
