Repository ionic-team/ionic-framework, pull requests merged in 2025-03, with the labels that each got.

#30229 refactor(avatar): remove usage of :not()
  core/src/components/avatar/avatar.ionic.scss
Labels: package: core, type: bug

#30211 feat(searchbar): add sizes for ionic theme
  core/api.txt
  core/src/components.d.ts
  core/src/components/searchbar/searchbar.ionic.scss
  core/src/components/searchbar/searchbar.tsx
  core/src/components/searchbar/test/basic/index.html
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-back-button-align-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-back-button-align-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-back-button-align-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-buttons-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-buttons-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-buttons-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-buttons-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-buttons-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-buttons-ionic-md-rtl-light-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/basic/searchbar.e2e.ts-snapshots/searchbar-ionic-md-rtl-light-Mobile-Safari-linux.png
  core/src/components/searchbar/test/size/index.html
  core/src/components/searchbar/test/size/searchbar.e2e.ts
  core/src/components/searchbar/test/size/searchbar.e2e.ts-snapshots/searchbar-size-large-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/size/searchbar.e2e.ts-snapshots/searchbar-size-large-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/size/searchbar.e2e.ts-snapshots/searchbar-size-large-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/searchbar/test/size/searchbar.e2e.ts-snapshots/searchbar-size-medium-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/size/searchbar.e2e.ts-snapshots/searchbar-size-medium-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/size/searchbar.e2e.ts-snapshots/searchbar-size-medium-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/searchbar/test/size/searchbar.e2e.ts-snapshots/searchbar-size-small-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/size/searchbar.e2e.ts-snapshots/searchbar-size-small-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/size/searchbar.e2e.ts-snapshots/searchbar-size-small-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/searchbar/test/states/searchbar.e2e.ts-snapshots/searchbar-state-disabled-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/states/searchbar.e2e.ts-snapshots/searchbar-state-disabled-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/states/searchbar.e2e.ts-snapshots/searchbar-state-disabled-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/searchbar/test/states/searchbar.e2e.ts-snapshots/searchbar-state-focused-cancel-button-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/states/searchbar.e2e.ts-snapshots/searchbar-state-focused-cancel-button-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/states/searchbar.e2e.ts-snapshots/searchbar-state-focused-cancel-button-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/searchbar/test/states/searchbar.e2e.ts-snapshots/searchbar-state-focused-clear-button-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/states/searchbar.e2e.ts-snapshots/searchbar-state-focused-clear-button-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/states/searchbar.e2e.ts-snapshots/searchbar-state-focused-clear-button-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/searchbar/test/states/searchbar.e2e.ts-snapshots/searchbar-state-focused-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/searchbar/test/states/searchbar.e2e.ts-snapshots/searchbar-state-focused-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/searchbar/test/states/searchbar.e2e.ts-snapshots/searchbar-state-focused-ionic-md-ltr-light-Mobile-Safari-linux.png
  packages/angular/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#30195 fix(capacitor): replace deprecated platform check method
  core/src/utils/platform.ts
  core/src/utils/test/platform.utils.ts
Labels: package: core

#30228 fix(capacitor): use proper types for capacitor v7 support
  core/package-lock.json
  core/package.json
  core/src/utils/native/capacitor.ts
Labels: package: core

#30220 fix(alert): change focused element and improve keyboard navigation
  core/src/components/alert/alert.tsx
  core/src/components/alert/test/a11y/alert.e2e.ts
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-checkbox-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-checkbox-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-checkbox-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-checkbox-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-checkbox-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-checkbox-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-checkbox-text-wrap-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-checkbox-text-wrap-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-checkbox-text-wrap-ios-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-radio-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-radio-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-radio-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-radio-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-radio-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-radio-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-radio-text-wrap-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-radio-text-wrap-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-radio-text-wrap-ios-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-text-fields-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-text-fields-scale-ios-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-text-fields-scale-md-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/a11y/alert.e2e.ts-snapshots/alert-text-fields-scale-md-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/alert-id.spec.tsx
  core/src/components/alert/test/basic/alert.e2e.ts
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-ios-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-ios-ltr-dark-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-ios-ltr-dark-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-ios-ltr-dark-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-ios-rtl-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-ios-rtl-dark-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-ios-rtl-dark-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-ios-rtl-dark-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-md-ltr-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-md-ltr-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-md-ltr-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-md-ltr-dark-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-md-ltr-dark-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-md-ltr-dark-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-md-rtl-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-md-rtl-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-md-rtl-Mobile-Safari-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-md-rtl-dark-Mobile-Chrome-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-md-rtl-dark-Mobile-Firefox-linux.png
  core/src/components/alert/test/basic/alert.e2e.ts-snapshots/alert-multipleButtons-md-rtl-dark-Mobile-Safari-linux.png
Labels: package: core

#30070 fix(range): handle unsupported values for range min, max, and step
  core/src/components/range/range.tsx
  core/src/components/range/test/range.spec.ts
  core/src/utils/floating-point/floating-point.spec.ts
  core/src/utils/floating-point/index.ts
  core/src/utils/helpers.ts
Labels: package: core

#30234 fix(toggle): trigger focus and blur on click
  core/src/components/toggle/toggle.tsx
Labels: package: core

#30235 refactor(modal): allow dragging when expandToScroll is false
  core/src/components.d.ts
  core/src/components/modal/gestures/sheet.ts
  core/src/components/modal/modal.tsx
Labels: package: core

#30143 feat(select): add helperText and errorText properties
  core/api.txt
  core/src/components.d.ts
  core/src/components/select/select.ios.scss
  core/src/components/select/select.md.solid.scss
  core/src/components/select/select.scss
  core/src/components/select/select.tsx
  core/src/components/select/test/bottom-content/index.html
  core/src/components/select/test/bottom-content/select.e2e.ts
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-error-text-custom-css-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-error-text-custom-css-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-error-text-custom-css-md-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-error-text-custom-css-var-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-error-text-custom-css-var-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-error-text-custom-css-var-md-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-error-text-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-error-text-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-error-text-ios-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-error-text-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-error-text-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-error-text-md-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-error-text-stacked-label-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-error-text-stacked-label-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-error-text-stacked-label-ios-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-error-text-stacked-label-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-error-text-stacked-label-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-error-text-stacked-label-md-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-helper-text-custom-css-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-helper-text-custom-css-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-helper-text-custom-css-md-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-helper-text-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-helper-text-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-helper-text-ios-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-helper-text-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-helper-text-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-helper-text-md-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-helper-text-stacked-label-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-helper-text-stacked-label-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-helper-text-stacked-label-ios-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-helper-text-stacked-label-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-helper-text-stacked-label-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-helper-text-stacked-label-md-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-helper-text-wrapping-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-helper-text-wrapping-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-helper-text-wrapping-ios-ltr-Mobile-Safari-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-helper-text-wrapping-md-ltr-Mobile-Chrome-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-helper-text-wrapping-md-ltr-Mobile-Firefox-linux.png
  core/src/components/select/test/bottom-content/select.e2e.ts-snapshots/select-helper-text-wrapping-md-ltr-Mobile-Safari-linux.png
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/select.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#30222 feat(radio-group): add helperText and errorText properties
  core/api.txt
  core/src/components.d.ts
  core/src/components/radio-group/radio-group.ios.scss
  core/src/components/radio-group/radio-group.md.scss
  core/src/components/radio-group/radio-group.scss
  core/src/components/radio-group/radio-group.tsx
  core/src/components/radio-group/test/supporting-text/index.html
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts-snapshots/radio-group-error-text-custom-css-md-ltr-Mobile-Chrome-linux.png
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts-snapshots/radio-group-error-text-custom-css-md-ltr-Mobile-Firefox-linux.png
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts-snapshots/radio-group-error-text-custom-css-md-ltr-Mobile-Safari-linux.png
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts-snapshots/radio-group-error-text-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts-snapshots/radio-group-error-text-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts-snapshots/radio-group-error-text-ios-ltr-Mobile-Safari-linux.png
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts-snapshots/radio-group-error-text-md-ltr-Mobile-Chrome-linux.png
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts-snapshots/radio-group-error-text-md-ltr-Mobile-Firefox-linux.png
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts-snapshots/radio-group-error-text-md-ltr-Mobile-Safari-linux.png
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts-snapshots/radio-group-helper-text-custom-css-md-ltr-Mobile-Chrome-linux.png
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts-snapshots/radio-group-helper-text-custom-css-md-ltr-Mobile-Firefox-linux.png
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts-snapshots/radio-group-helper-text-custom-css-md-ltr-Mobile-Safari-linux.png
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts-snapshots/radio-group-helper-text-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts-snapshots/radio-group-helper-text-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts-snapshots/radio-group-helper-text-ios-ltr-Mobile-Safari-linux.png
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts-snapshots/radio-group-helper-text-md-ltr-Mobile-Chrome-linux.png
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts-snapshots/radio-group-helper-text-md-ltr-Mobile-Firefox-linux.png
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts-snapshots/radio-group-helper-text-md-ltr-Mobile-Safari-linux.png
  core/src/components/radio/test/a11y/radio.e2e.ts-snapshots/radio-scale-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/radio/test/a11y/radio.e2e.ts-snapshots/radio-scale-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/radio/test/a11y/radio.e2e.ts-snapshots/radio-scale-md-ltr-Mobile-Chrome-linux.png
  core/src/components/radio/test/a11y/radio.e2e.ts-snapshots/radio-scale-md-ltr-Mobile-Firefox-linux.png
  packages/angular/common/src/directives/control-value-accessors/value-accessor.ts
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/radio-group.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#30233 feat(button): add spinner sizes for ionic theme
  core/src/components/button/button.common.scss
  core/src/components/button/button.ionic.scss
  core/src/components/button/test/spinner/button.e2e.ts
  core/src/components/button/test/spinner/button.e2e.ts-snapshots/button-spinner-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/button/test/spinner/button.e2e.ts-snapshots/button-spinner-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/button/test/spinner/button.e2e.ts-snapshots/button-spinner-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/button/test/spinner/index.html
  core/src/components/button/test/theme-ionic/index.html
Labels: package: core

#30227 fix(vue): update output target and properly emit events
  core/package-lock.json
  core/package.json
  core/src/global/ionic-global.ts
  core/src/utils/config.ts
  core/src/utils/helpers.ts
  packages/vue/package-lock.json
  packages/vue/package.json
  packages/vue/src/ionic-vue.ts
  packages/vue/src/utils/overlays.ts
Labels: package: core, package: vue

#30102 feat(input, textarea): dir is inherited to native form control
  core/src/components/input/input.tsx
  core/src/components/input/test/input.spec.ts
  core/src/components/textarea/test/textarea.spec.ts
  core/src/components/textarea/textarea.tsx
Labels: package: core

#30239 fix(vue): update output target and resolve type issues
  core/package-lock.json
  core/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
  packages/vue/src/components/IonIcon.ts
  packages/vue/src/components/IonNav.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: vue

#30247 merge release-8.4.4
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  lerna.json
  package-lock.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react, release

#30248 fix(vue): pin Vue output target to latest release
  core/package-lock.json
  core/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: vue

#30250 merge release-8.4.5
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react, release

#30251 merge release-8.4.5
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react, release

#30252 chore(git): merge main into feature-8.5
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/global/ionic-global.ts
  core/src/utils/config.ts
  core/src/utils/helpers.ts
  lerna.json
  package-lock.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
  packages/vue/src/components/IonIcon.ts
  packages/vue/src/components/IonNav.ts
  packages/vue/src/ionic-vue.ts
  packages/vue/src/proxies.ts
  packages/vue/src/utils/overlays.ts
Labels: package: core, package: angular, package: vue, package: react

#30264 test(infinite): disable flaky test when running in CI
  core/src/components/infinite-scroll/test/top/infinite-scroll.e2e.ts
Labels: package: core

#30259 fix(vue): update output target and fix incorrect types
  core/package-lock.json
  core/package.json
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: vue

#30262 feat(datetime): add showAdjacentDays to display days from the previous and next months
  core/api.txt
  core/src/components.d.ts
  core/src/components/datetime/datetime-interface.ts
  core/src/components/datetime/datetime.ios.scss
  core/src/components/datetime/datetime.md.scss
  core/src/components/datetime/datetime.scss
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-focus-selected-calendar-day-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/basic/datetime.e2e.ts-snapshots/datetime-focus-selected-calendar-day-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/custom/datetime.e2e.ts-snapshots/datetime-custom-focus-selected-calendar-day-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-custom-calendar-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-custom-calendar-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-custom-calendar-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-custom-calendar-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-custom-calendar-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-custom-calendar-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-date-range-disabled-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-date-range-disabled-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-date-range-disabled-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-date-range-disabled-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-date-range-disabled-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-date-range-disabled-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-display-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-display-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-display-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-display-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-display-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-display-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-month-disabled-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-month-disabled-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-month-disabled-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-month-disabled-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-month-disabled-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-month-disabled-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-specific-date-disabled-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-specific-date-disabled-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-specific-date-disabled-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-specific-date-disabled-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-specific-date-disabled-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-specific-date-disabled-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-weekends-disabled-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-weekends-disabled-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-weekends-disabled-ios-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-weekends-disabled-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-weekends-disabled-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-weekends-disabled-md-ltr-Mobile-Safari-linux.png
  core/src/components/datetime/test/show-adjacent-days/index.html
  core/src/components/datetime/utils/data.ts
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/datetime.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#30267 perf(sheet): fixing performance regression on modal sheets when expandToScroll is false
  core/src/components/modal/gestures/sheet.ts
Labels: package: core

#30273 merge release-8.4.6
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react, release

#30274 merge release-8.5.1
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react, release

#30277 chore(): sync main into next
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components/modal/gestures/sheet.ts
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react, release

#30285 test(angular): fixing over-import of RouterModule in the standalone router-link test
  packages/angular/test/base/src/app/standalone/app-standalone/app.component.ts
  packages/angular/test/base/src/app/standalone/router-link/router-link.component.ts
  packages/angular/test/base/src/app/standalone/standalone.component.ts
Labels: package: angular

#30261 fix(input): remove z-index target-area for ionic theme
  core/src/components/input/input.ionic.scss
  core/src/components/input/test/basic/input.e2e.ts
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-ionic-md-rtl-light-Mobile-Safari-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-ios-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-ios-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-md-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-md-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-md-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-stacked-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-stacked-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-stacked-ios-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-stacked-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-stacked-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-stacked-ios-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-stacked-md-ltr-Mobile-Chrome-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-stacked-md-ltr-Mobile-Firefox-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-stacked-md-ltr-Mobile-Safari-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-stacked-md-rtl-Mobile-Chrome-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-stacked-md-rtl-Mobile-Firefox-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-dbclick-stacked-md-rtl-Mobile-Safari-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-clear-button-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/input/test/basic/input.e2e.ts-snapshots/input-with-clear-button-ionic-md-rtl-light-Mobile-Chrome-linux.png
Labels: package: core, type: bug

#30246 feat(tab-button): support new badge hint features
  core/src/components/badge/badge.common.scss
  core/src/components/badge/badge.ionic.scss
  core/src/components/badge/badge.ios.scss
  core/src/components/badge/badge.ios.vars.scss
  core/src/components/badge/badge.tsx
  core/src/components/badge/test/hint/badge.e2e.ts
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-avatar-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-empty-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-empty-md-ltr-Mobile-Chrome-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-bottom-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-bottom-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-bottom-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-bottom-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-bottom-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-bottom-ios-ltr-Mobile-Safari-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-bottom-md-ltr-Mobile-Chrome-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-bottom-md-ltr-Mobile-Firefox-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-bottom-md-ltr-Mobile-Safari-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-top-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-top-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-top-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-top-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-top-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-top-ios-ltr-Mobile-Safari-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-top-md-ltr-Mobile-Chrome-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-top-md-ltr-Mobile-Firefox-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-top-md-ltr-Mobile-Safari-linux.png
  core/src/components/badge/test/hint/index.html
  core/src/components/tab-button/tab-button.ionic.scss
  core/src/components/tab-button/tab-button.ios.scss
  core/src/components/tab-button/tab-button.ios.vars.scss
  core/src/components/tab-button/tab-button.md.scss
  core/src/components/tab-button/tab-button.md.vars.scss
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-ios-ltr-Mobile-Safari-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/basic/tab-button.e2e.ts-snapshots/tab-button-badge-ios-rtl-Mobile-Safari-linux.png
  core/src/components/tab-button/test/layout/tab-button.e2e.ts-snapshots/tab-button-icon-below-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/layout/tab-button.e2e.ts-snapshots/tab-button-icon-below-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/layout/tab-button.e2e.ts-snapshots/tab-button-icon-below-ios-ltr-Mobile-Safari-linux.png
  core/src/components/tab-button/test/layout/tab-button.e2e.ts-snapshots/tab-button-icon-below-ios-rtl-Mobile-Chrome-linux.png
  core/src/components/tab-button/test/layout/tab-button.e2e.ts-snapshots/tab-button-icon-below-ios-rtl-Mobile-Firefox-linux.png
  core/src/components/tab-button/test/layout/tab-button.e2e.ts-snapshots/tab-button-icon-below-ios-rtl-Mobile-Safari-linux.png
Labels: package: core

#30284 feat(avatar): add disabled property
  core/api.txt
  core/src/components.d.ts
  core/src/components/avatar/avatar.ionic.scss
  core/src/components/avatar/avatar.tsx
  core/src/components/avatar/test/states/avatar.e2e.ts
  core/src/components/avatar/test/states/avatar.e2e.ts-snapshots/avatar-disabled-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/avatar/test/states/avatar.e2e.ts-snapshots/avatar-disabled-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/avatar/test/states/avatar.e2e.ts-snapshots/avatar-disabled-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/avatar/test/states/index.html
  packages/angular/src/directives/proxies.ts
  packages/angular/standalone/src/directives/proxies.ts
  packages/vue/src/proxies.ts
Labels: package: core, package: angular, package: vue

#30293 fix(range): emit ionInput when value changes
  core/src/components/range/range.tsx
  core/src/components/range/test/range-events.e2e.ts
Labels: package: core

#30271 feat(radio-group): add helper and error text to the ionic theme
  core/src/components/radio-group/radio-group.common.scss
  core/src/components/radio-group/radio-group.ionic.scss
  core/src/components/radio-group/radio-group.ios.scss
  core/src/components/radio-group/radio-group.md.scss
  core/src/components/radio-group/radio-group.native.scss
  core/src/components/radio-group/radio-group.tsx
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts-snapshots/radio-group-error-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts-snapshots/radio-group-error-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts-snapshots/radio-group-error-text-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts-snapshots/radio-group-helper-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts-snapshots/radio-group-helper-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/radio-group/test/supporting-text/radio-group.e2e.ts-snapshots/radio-group-helper-text-ionic-md-ltr-light-Mobile-Safari-linux.png
Labels: package: core

#30278 feat(checkbox): add helper and error text to the ionic theme
  core/api.txt
  core/src/components/checkbox/checkbox.common.scss
  core/src/components/checkbox/checkbox.ionic.scss
  core/src/components/checkbox/checkbox.ios.scss
  core/src/components/checkbox/checkbox.md.scss
  core/src/components/checkbox/checkbox.native.scss
  core/src/components/checkbox/test/basic/checkbox.e2e.ts-snapshots/checkbox-checkmark-width-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/checkbox/test/basic/checkbox.e2e.ts-snapshots/checkbox-checkmark-width-ionic-md-rtl-light-Mobile-Safari-linux.png
  core/src/components/checkbox/test/basic/checkbox.e2e.ts-snapshots/checkbox-small-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/checkbox/test/bottom-content/checkbox.e2e.ts
  core/src/components/checkbox/test/bottom-content/checkbox.e2e.ts-snapshots/checkbox-error-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/bottom-content/checkbox.e2e.ts-snapshots/checkbox-error-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/bottom-content/checkbox.e2e.ts-snapshots/checkbox-error-text-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/checkbox/test/bottom-content/checkbox.e2e.ts-snapshots/checkbox-error-text-stacked-label-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/bottom-content/checkbox.e2e.ts-snapshots/checkbox-error-text-stacked-label-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/bottom-content/checkbox.e2e.ts-snapshots/checkbox-error-text-stacked-label-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/checkbox/test/bottom-content/checkbox.e2e.ts-snapshots/checkbox-helper-text-end-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/bottom-content/checkbox.e2e.ts-snapshots/checkbox-helper-text-end-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/bottom-content/checkbox.e2e.ts-snapshots/checkbox-helper-text-end-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/checkbox/test/bottom-content/checkbox.e2e.ts-snapshots/checkbox-helper-text-end-wrapping-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/bottom-content/checkbox.e2e.ts-snapshots/checkbox-helper-text-end-wrapping-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/bottom-content/checkbox.e2e.ts-snapshots/checkbox-helper-text-end-wrapping-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/checkbox/test/bottom-content/checkbox.e2e.ts-snapshots/checkbox-helper-text-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/bottom-content/checkbox.e2e.ts-snapshots/checkbox-helper-text-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/bottom-content/checkbox.e2e.ts-snapshots/checkbox-helper-text-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/checkbox/test/bottom-content/checkbox.e2e.ts-snapshots/checkbox-helper-text-stacked-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/bottom-content/checkbox.e2e.ts-snapshots/checkbox-helper-text-stacked-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/bottom-content/checkbox.e2e.ts-snapshots/checkbox-helper-text-stacked-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/checkbox/test/bottom-content/checkbox.e2e.ts-snapshots/checkbox-helper-text-stacked-wrapping-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/bottom-content/checkbox.e2e.ts-snapshots/checkbox-helper-text-stacked-wrapping-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/bottom-content/checkbox.e2e.ts-snapshots/checkbox-helper-text-stacked-wrapping-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/checkbox/test/bottom-content/checkbox.e2e.ts-snapshots/checkbox-helper-text-wrapping-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/bottom-content/checkbox.e2e.ts-snapshots/checkbox-helper-text-wrapping-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/bottom-content/checkbox.e2e.ts-snapshots/checkbox-helper-text-wrapping-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-full-width-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-full-width-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-full-width-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-full-width-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-full-width-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-full-width-ionic-md-rtl-light-Mobile-Safari-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-center-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-center-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-center-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-center-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-center-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-center-ionic-md-rtl-light-Mobile-Safari-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-start-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-start-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-start-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-start-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-start-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/checkbox/test/label/checkbox.e2e.ts-snapshots/checkbox-label-stacked-align-start-ionic-md-rtl-light-Mobile-Safari-linux.png
Labels: package: core

#30288 fix(segment-button): ensure consistent disabled state for segment-content error handling
  core/src/components/segment-button/segment-button.tsx
  core/src/utils/helpers.ts
Labels: package: core

#30147 fix(datetime): support typing time values in a 24-hour format
  core/src/components/datetime/datetime.tsx
  core/src/components/picker/picker.tsx
  core/src/components/picker/test/keyboard-entry/picker.e2e.ts
Labels: package: core

#30286 test(angular): add a landing page to go between lazy and standalone apps
  packages/angular/test/apps/ng19/src/app/app.module.ts
  packages/angular/test/base/e2e/src/lazy/tabs.spec.ts
  packages/angular/test/base/src/app/app-landing/app-landing.component.html
  packages/angular/test/base/src/app/app-landing/app-landing.component.ts
  packages/angular/test/base/src/app/app.module.ts
  packages/angular/test/base/src/app/app.routes.ts
  packages/angular/test/base/src/app/lazy/home-page/home-page.component.html
  packages/angular/test/base/src/app/standalone/app-standalone/app.routes.ts
  packages/angular/test/base/src/app/standalone/home-page/home-page.component.html
  packages/angular/test/base/src/app/standalone/home-page/home-page.component.ts
  packages/angular/test/base/src/app/standalone/split-pane/split-pane-page.component.html
  packages/angular/test/base/src/app/standalone/split-pane/split-pane-page.component.ts
  packages/angular/test/base/src/app/standalone/split-pane/split-pane.component.css
  packages/angular/test/base/src/app/standalone/split-pane/split-pane.component.html
  packages/angular/test/base/src/app/standalone/split-pane/split-pane.component.ts
Labels: package: angular

#30314 merge release-8.5.2
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react, release

#30316 merge release-8.5.2
  CHANGELOG.md
  core/CHANGELOG.md
  core/package-lock.json
  core/package.json
  core/src/components/datetime/datetime.tsx
  core/src/components/picker/picker.tsx
  core/src/components/picker/test/keyboard-entry/picker.e2e.ts
  core/src/components/range/range.tsx
  core/src/components/range/test/range-events.e2e.ts
  core/src/components/segment-button/segment-button.tsx
  core/src/utils/helpers.ts
  lerna.json
  packages/angular-server/CHANGELOG.md
  packages/angular-server/package-lock.json
  packages/angular-server/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/angular/test/apps/ng19/src/app/app.module.ts
  packages/angular/test/base/e2e/src/lazy/tabs.spec.ts
  packages/angular/test/base/src/app/app-landing/app-landing.component.html
  packages/angular/test/base/src/app/app-landing/app-landing.component.ts
  packages/angular/test/base/src/app/app.module.ts
  packages/angular/test/base/src/app/app.routes.ts
  packages/angular/test/base/src/app/lazy/home-page/home-page.component.html
  packages/angular/test/base/src/app/standalone/app-standalone/app.component.ts
  packages/angular/test/base/src/app/standalone/app-standalone/app.routes.ts
  packages/angular/test/base/src/app/standalone/home-page/home-page.component.html
  packages/angular/test/base/src/app/standalone/home-page/home-page.component.ts
  packages/angular/test/base/src/app/standalone/router-link/router-link.component.ts
  packages/angular/test/base/src/app/standalone/split-pane/split-pane-page.component.html
  packages/angular/test/base/src/app/standalone/split-pane/split-pane-page.component.ts
  packages/angular/test/base/src/app/standalone/split-pane/split-pane.component.css
  packages/angular/test/base/src/app/standalone/split-pane/split-pane.component.html
  packages/angular/test/base/src/app/standalone/split-pane/split-pane.component.ts
  packages/angular/test/base/src/app/standalone/standalone.component.ts
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package-lock.json
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/vue-router/CHANGELOG.md
  packages/vue-router/package-lock.json
  packages/vue-router/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package-lock.json
  packages/vue/package.json
Labels: package: core, package: angular, package: vue, package: react, release

#30319 chore(tokens): update design-tokens dependency to 1.2.2
  core/package-lock.json
  core/package.json
  core/src/foundations/ionic.vars.scss
Labels: package: core, dependencies

#30300 fix(checkbox): ensure proper visual selection when navigating via VoiceOver in Safari
  core/src/components/checkbox/checkbox.scss
  core/src/components/checkbox/checkbox.tsx
Labels: package: core

#30305 feat(badge): add support for number and icons with vertical prop
  core/src/components/avatar/avatar.ionic.scss
  core/src/components/avatar/avatar.md.scss
  core/src/components/badge/badge.common.scss
  core/src/components/badge/badge.ionic.scss
  core/src/components/badge/badge.native.scss
  core/src/components/badge/badge.native.vars.scss
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-avatar-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-avatar-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-avatar-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-avatar-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-avatar-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-avatar-ios-ltr-Mobile-Safari-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-avatar-md-ltr-Mobile-Chrome-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-avatar-md-ltr-Mobile-Firefox-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-avatar-md-ltr-Mobile-Safari-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-empty-md-ltr-Mobile-Chrome-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-empty-md-ltr-Mobile-Firefox-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-bottom-md-ltr-Mobile-Chrome-linux.png
  core/src/components/badge/test/hint/badge.e2e.ts-snapshots/badge-hint-tab-button-icon-bottom-md-ltr-Mobile-Firefox-linux.png
  core/src/components/badge/test/hint/index.html
Labels: type: feature request, package: core

#30298 feat(datetime): add animation to adjacent days selection
  core/src/components/datetime/datetime.ios.scss
  core/src/components/datetime/datetime.md.scss
  core/src/components/datetime/datetime.tsx
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-display-ios-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-display-ios-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-display-md-ltr-Mobile-Chrome-linux.png
  core/src/components/datetime/test/show-adjacent-days/datetime.e2e.ts-snapshots/datetime-show-adjacent-days-display-md-ltr-Mobile-Firefox-linux.png
  core/src/components/datetime/test/show-adjacent-days/index.html
Labels: package: core

#30311 fix(divider): remove safe areas from horizontal padding
  core/api.txt
  core/src/components.d.ts
  core/src/components/divider/divider.common.scss
  core/src/components/divider/divider.tsx
  core/src/components/divider/test/basic/divider.e2e.ts-snapshots/divider-basic-default-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/divider/test/basic/divider.e2e.ts-snapshots/divider-basic-default-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/divider/test/basic/divider.e2e.ts-snapshots/divider-basic-default-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/divider/test/basic/divider.e2e.ts-snapshots/divider-basic-default-md-ltr-Mobile-Chrome-linux.png
  core/src/components/divider/test/basic/divider.e2e.ts-snapshots/divider-basic-default-md-ltr-Mobile-Firefox-linux.png
  core/src/components/divider/test/basic/divider.e2e.ts-snapshots/divider-basic-default-md-ltr-Mobile-Safari-linux.png
  core/src/components/divider/test/basic/divider.e2e.ts-snapshots/divider-basic-inset-ionic-md-ltr-light-Mobile-Chrome-linux.png
  core/src/components/divider/test/basic/divider.e2e.ts-snapshots/divider-basic-inset-ionic-md-ltr-light-Mobile-Firefox-linux.png
  core/src/components/divider/test/basic/divider.e2e.ts-snapshots/divider-basic-inset-ionic-md-ltr-light-Mobile-Safari-linux.png
  core/src/components/divider/test/basic/divider.e2e.ts-snapshots/divider-basic-inset-ionic-md-rtl-light-Mobile-Chrome-linux.png
  core/src/components/divider/test/basic/divider.e2e.ts-snapshots/divider-basic-inset-ionic-md-rtl-light-Mobile-Firefox-linux.png
  core/src/components/divider/test/basic/divider.e2e.ts-snapshots/divider-basic-inset-ionic-md-rtl-light-Mobile-Safari-linux.png
  core/src/components/divider/test/basic/divider.e2e.ts-snapshots/divider-basic-inset-md-ltr-Mobile-Chrome-linux.png
  core/src/components/divider/test/basic/divider.e2e.ts-snapshots/divider-basic-inset-md-ltr-Mobile-Firefox-linux.png
  core/src/components/divider/test/basic/divider.e2e.ts-snapshots/divider-basic-inset-md-ltr-Mobile-Safari-linux.png
  core/src/components/divider/test/basic/divider.e2e.ts-snapshots/divider-basic-inset-md-rtl-Mobile-Chrome-linux.png
  core/src/components/divider/test/basic/divider.e2e.ts-snapshots/divider-basic-inset-md-rtl-Mobile-Firefox-linux.png
  core/src/components/divider/test/basic/divider.e2e.ts-snapshots/divider-basic-inset-md-rtl-Mobile-Safari-linux.png
Labels: package: core
